workflows/latest/1UbjHr1ye6hevtW4__Tool-Kirana_Place_order_copy_2.json
{"updatedAt":"2026-03-06T06:24:20.490Z","createdAt":"2026-03-03T09:08:47.406Z","id":"1UbjHr1ye6hevtW4","name":"[Tool-Kirana]Place_order copy 2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[48,-144],"id":"1427883e-d99d-467c-907c-5ee58a860f27","name":"Start"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a2d18951-0989-4f7e-ac92-7f145617069e","leftValue":"={{ $items(\"Get Active Cart for Checkout\")[0].json.sku }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,-144],"id":"f637a467-583d-4897-8732-4b4db7581861","name":"Is Checkout Cart Empty?"},{"parameters":{"jsCode":"return [{ json: { \n    confirmation_message: \"You can't checkout because your cart is empty. Please add some items first\\\\!\", \n    chat_id: $items(\"Start\")[0].json.chat_id \n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[736,-320],"id":"66eec8db-8866-4285-852a-180a64c89447","name":"Format Empty Cart Error"},{"parameters":{"jsCode":"const itemsFromCart = $items();\nconst firstItem = itemsFromCart[0].json;\n\nlet subtotal = 0;\nconst orderItems = itemsFromCart.map(itemNode => {\n  const item = itemNode.json;\n  const lineTotal = item.quantity * parseFloat(item.unit_price);\n  subtotal += lineTotal;\n  return {\n    sku: item.sku,\n    original_name: item.original_name,\n    quantity: item.quantity,\n    unit: item.stock,\n    unit_price: item.unit_price,\n    line_total: lineTotal\n  };\n});\n\n// --- PROMOTION LOGIC WOULD GO HERE ---\n// For now, we'll assume no discounts.\n// In the future, you would call your AI Promotions tool here\n// to find the best discount for this subtotal and item list.\nlet final_order_total = subtotal;\nlet discount_applied = 0;\nlet promo_description = null;\n\n// A simple bill summary message\nconst billSummary = orderItems.map(item => {\n    return `• ${item.original_name} x ${item.quantity} = ₹${item.line_total.toFixed(2)}`;\n}).join('\\n');\n\nconst finalMessage = `*Please confirm your final order:*\\n\\n${billSummary}\\n\\n*Total Amount: ₹${final_order_total.toFixed(2)}*\\n\\nReply 'pay' to proceed to payment.`;\n\nreturn [{\n    json: {\n        order_id: firstItem.cart_id, // We will use the cart_id as the unique ID for this order\n        chat_id: firstItem.user_id,\n        store_id: firstItem.store_id,\n        final_order_total: final_order_total,\n        items_in_final_order: orderItems,\n        confirmation_message: finalMessage // The message asking the user to confirm\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,-64],"id":"fa466f76-a9d7-41d7-8899-78616754acf1","name":"Calculate Final Order"},{"parameters":{"tableId":"orders"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[256,-144],"id":"6bafad3b-5489-4034-a548-a3bc2164a7f5","name":"Create a row","credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"Supabase account 2"}}}],"connections":{"Start":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Is Checkout Cart Empty?":{"main":[[{"node":"Format Empty Cart Error","type":"main","index":0}],[{"node":"Calculate Final Order","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Is Checkout Cart Empty?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ad104d97-e49e-4e37-9538-f90a529fad0f","activeVersionId":null,"versionCounter":25,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T09:08:47.406Z","createdAt":"2026-03-03T09:08:47.406Z","role":"workflow:owner","workflowId":"1UbjHr1ye6hevtW4","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":null}