workflows/latest/62u82sIei3owzaiU__Tool_Confirm_Order.json
{"updatedAt":"2026-03-15T10:56:35.441Z","createdAt":"2026-03-03T16:56:05.637Z","id":"62u82sIei3owzaiU","name":"[Tool] Confirm Order","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"4a94a393-a399-4995-b493-e9bdb27bd331","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1280,-1184]},{"parameters":{"operation":"executeQuery","query":"=SELECT *\nFROM public.pending_orders\nWHERE chat_id = {{ $('Start').first().json.tool_input.chat_id }}\nAND status = 'awaiting_confirmation'\nORDER BY COALESCE(updated_at, created_at) DESC\nLIMIT 1;","options":{}},"id":"d34e46dd-2495-4980-b630-d6ede4aa62e4","name":"Get Pending Order","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1056,-1184],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000},{"parameters":{"jsCode":"const chatId = $('Start').first().json.tool_input.chat_id;\nconst rows = $input\n  .all()\n  .map((entry) => entry.json)\n  .filter((entry) => entry && entry.order_id);\n\nif (rows.length === 0) {\n  return [\n    {\n      json: {\n        error: true,\n        chat_id: chatId,\n        pending_order_id: null,\n        confirmation_message: 'There is no pending order to confirm. Please add items and checkout first.',\n      },\n    },\n  ];\n}\n\nrows.sort((a, b) => new Date(b.created_at) - new Date(a.created_at));\nconst pending = rows[0];\n\nif (new Date(pending.expires_at) < new Date()) {\n  return [\n    {\n      json: {\n        error: true,\n        chat_id: chatId,\n        pending_order_id: pending.order_id,\n        confirmation_message: 'Your bill has expired (bills are valid for 30 minutes). Please type checkout to get a fresh bill.',\n      },\n    },\n  ];\n}\n\nlet orderDetails;\ntry {\n  orderDetails = typeof pending.order_details_json === 'string'\n    ? JSON.parse(pending.order_details_json)\n    : pending.order_details_json;\n} catch (err) {\n  return [\n    {\n      json: {\n        error: true,\n        chat_id: chatId,\n        pending_order_id: pending.order_id,\n        confirmation_message: 'Could not read order details. Please try checkout again.',\n      },\n    },\n  ];\n}\n\nconst payload = {\n  error: false,\n  pending_order_id: pending.order_id,\n  chat_id: chatId,\n  order_details: orderDetails,\n};\n\nreturn [\n  {\n    json: payload,\n  },\n];","mode":"runOnceForAllItems"},"id":"8cfa9a19-e021-4a89-b8bf-02c4466d49d3","name":"Parse Pending Order","type":"n8n-nodes-base.code","typeVersion":2,"position":[-832,-1184]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"ov","leftValue":"={{ $json.error }}","rightValue":true,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"09eb6904-e60c-4d6c-8dfb-ba79d419e849","name":"Order Valid?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-608,-1184]},{"parameters":{"assignments":{"assignments":[{"id":"e1","name":"confirmation_message","value":"={{ $json.confirmation_message }}","type":"string"},{"id":"e2","name":"chat_id","value":"={{ $json.chat_id }}","type":"string"}]},"options":{}},"id":"d726f9c1-2c15-4a41-afa8-5ad6d9d6ff33","name":"Format Error","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,-1280]},{"parameters":{"jsCode":"const d = $('Parse Pending Order').first().json;\n\nif (d.error) {\n  return [\n    {\n      json: d,\n    },\n  ];\n}\n\nconst orderDetails = d.order_details || {};\nconst items = Array.isArray(orderDetails.items_in_final_order)\n  ? orderDetails.items_in_final_order\n  : [];\n\nif (items.length === 0) {\n  return [\n    {\n      json: {\n        error: true,\n        chat_id: d.chat_id,\n        confirmation_message: 'This pending order has no items. Please type checkout to regenerate your bill.',\n      },\n    },\n  ];\n}\n\nconst safeSql = (value) => String(value ?? '').replace(/'/g, \"''\");\nconst appliedPromoCodes = (orderDetails.applied_promos || []).map((promo) => promo.code).join(', ');\n\nconst payload = {\n  error: false,\n  order_id: orderDetails.order_id,\n  chat_id: orderDetails.chat_id,\n  store_id: orderDetails.store_id || 1,\n  shipping_address: orderDetails.address || '',\n  shipping_address_sql: safeSql(orderDetails.address || ''),\n  subtotal_before_discounts: Number(orderDetails.subtotal_before_discounts || 0),\n  total_discount_applied: Number(orderDetails.total_discount_applied || 0),\n  final_order_total: Number(orderDetails.final_order_total || 0),\n  applied_order_level_promo_ids: appliedPromoCodes,\n  applied_order_level_promo_ids_sql: safeSql(appliedPromoCodes),\n  cart_id: orderDetails.cart_id,\n  items,\n  pending_order_id: d.pending_order_id,\n  order_details_json_safe: safeSql(JSON.stringify(orderDetails)),\n};\n\nreturn [\n  {\n    json: payload,\n  },\n];","mode":"runOnceForAllItems"},"id":"9a6341dd-4b3b-43b7-861d-ad7bcc948d52","name":"Prepare Order Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,-1088]},{"parameters":{"jsCode":"const summary = $('Prepare Order Summary').first().json || {};\nconst root = (() => {\n  try {\n    const start = $('Start').first();\n    if (start && start.json) return start.json;\n  } catch {}\n  if ($json && typeof $json === 'object' && Object.keys($json).length > 0) return $json;\n  try {\n    const current = $input.first();\n    return (current && current.json) ? current.json : {};\n  } catch {}\n  return {};\n})();\nconst toolInput = (root.tool_input && typeof root.tool_input === 'object') ? root.tool_input : root;\n\nconst items = Array.isArray(summary.items) ? summary.items : [];\nconst lines = [];\nfor (const item of items) {\n  const unit = item && item.unit ? ' ' + item.unit : '';\n  const name = item && (item.original_name || item.name) ? (item.original_name || item.name) : 'item';\n  const qty = item && item.quantity !== undefined ? item.quantity : 0;\n  lines.push('• ' + name + ' × ' + qty + unit);\n}\nif (lines.length === 0) {\n  lines.push('• Items unavailable');\n}\n\nconst total = Number(summary.final_order_total || 0).toFixed(2);\nconst orderId = String(summary.order_id || '');\nconst chatId = String(summary.chat_id || '');\nconst shippingAddress = String(summary.shipping_address || '');\nconst enablePricing = (() => {\n  try { return $('Get Pricing Flag').first().json.enable_pricing !== false; } catch { return true; }\n})();\n\nconst totalLine = enablePricing ? 'Total: ₹' + total + '\\n\\n' : '';\nconst customerMsg =\n  'Order confirmed\\n\\n' +\n  'Order ID: ' + orderId + '\\n' +\n  'Deliver to: ' + shippingAddress + '\\n' +\n  totalLine +\n  lines.join('\\n') + '\\n\\n' +\n  'The store has your order now. You can track it any time.';\n\nconst ownerTotalLine = enablePricing ? 'Total: Rs.' + total + '\\n' : '';\nconst ownerMsg =\n  'New Order Received!\\n\\n' +\n  'Order ID: ' + orderId + '\\n' +\n  'Customer: ' + chatId + '\\n' +\n  ownerTotalLine +\n  'Deliver to: ' + shippingAddress + '\\n\\n' +\n  'Items:\\n' + lines.join('\\n') + '\\n\\n' +\n  'Reply with:\\n' +\n  'ACCEPT ' + orderId + '\\n' +\n  'REJECT ' + orderId;\n\nreturn [{ json: {\n  confirmation_message: customerMsg,\n  chat_id: chatId,\n  customer_ui_state: 'ORDER_CONFIRMED',\n  message_type: 'button',\n  buttons: [\n    { id: 'track_order', title: 'Track Order' },\n    { id: 'new_order', title: 'Shop Again' },\n  ],\n  owner_msg: ownerMsg,\n  order_id: orderId,\n  store_id: Number(summary.store_id || 1),\n  test_mode: toolInput.test_mode === true,\n} }];","mode":"runOnceForAllItems"},"id":"db77a7f6-b940-4214-9299-b8e3839b6000","name":"Format Confirmation","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,-1088]},{"id":"8b43e674-4255-4a71-be6e-150f426e6d37","name":"Recover Stale Processing","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1184,-1312],"parameters":{"operation":"executeQuery","query":"=UPDATE public.pending_orders\nSET status = 'awaiting_confirmation', updated_at = NOW()\nWHERE chat_id = {{ $('Start').first().json.tool_input.chat_id }}\nAND status = 'processing'\nAND COALESCE(updated_at, created_at) < NOW() - INTERVAL '15 minutes';\nSELECT 'ok' AS result;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000},{"id":"61223b73-4f44-4143-8faa-d32c74ee40f9","name":"Mark Pending Processing","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-512,-1088],"parameters":{"operation":"executeQuery","query":"=UPDATE public.pending_orders\nSET status = 'processing', updated_at = NOW()\nWHERE order_id = '{{ $json.pending_order_id }}'\nAND status = 'awaiting_confirmation'\nRETURNING order_id, status;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000},{"id":"e4c69c5e-aabc-4c29-a691-2c3eb0af81f9","name":"Order Summary Valid?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-272,-1088],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"summary-ok","leftValue":"={{ $json.error }}","rightValue":true,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}}},{"id":"96d76d3b-6be7-4f9d-92da-642823b9a973","name":"Notify Kirana Owner","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1856,-912],"parameters":{"workflowId":{"__rl":true,"value":"hN3YkLKXv2XutPzr","mode":"list","cachedResultUrl":"/workflow/hN3YkLKXv2XutPzr","cachedResultName":"[Notify] Kirana New Order"},"workflowInputs":{"mappingMode":"defineBelow","value":{"order_id":"={{ $('Prepare Order Summary').first().json.order_id }}","store_id":"={{ $('Prepare Order Summary').first().json.store_id }}","address":"={{ $('Prepare Order Summary').first().json.shipping_address }}","final_order_total":"={{ $('Prepare Order Summary').first().json.final_order_total }}","total_discount_applied":"={{ $('Prepare Order Summary').first().json.total_discount_applied }}","items_in_final_order":"={{ $('Prepare Order Summary').first().json.items }}","chat_id":"={{ $('Prepare Order Summary').first().json.chat_id }}"},"matchingColumns":[],"schema":[{"id":"order_id","displayName":"order_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"store_id","displayName":"store_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"final_order_total","displayName":"final_order_total","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"total_discount_applied","displayName":"total_discount_applied","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"items_in_final_order","displayName":"items_in_final_order","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"waitForSubWorkflow":false}},"onError":"continueRegularOutput"},{"id":"return-confirmation-node","name":"Return Confirmation","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1632,-928],"parameters":{"assignments":{"assignments":[{"id":"rc-msg","name":"confirmation_message","value":"={{ $('Format Confirmation').first().json.confirmation_message }}","type":"string"},{"id":"rc-chat","name":"chat_id","value":"={{ $('Format Confirmation').first().json.chat_id }}","type":"string"}]},"options":{}}},{"id":"e69dd316-8ac2-4dae-9669-689773bb3301","name":"Lock Acquired?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,-944],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"lock-ok","leftValue":"={{ $json.order_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}}},{"id":"b36ea126-1790-4221-a19e-3b36e523affc","name":"Format Already Processing","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,-864],"parameters":{"assignments":{"assignments":[{"id":"already-msg","name":"confirmation_message","value":"Your order is already being confirmed. Please wait a moment and then track your order.","type":"string"},{"id":"already-chat","name":"chat_id","value":"={{ $('Start').first().json.tool_input.chat_id }}","type":"string"}]},"options":{}}},{"id":"35f26e05-5fe4-4968-98e1-45f939d2329c","name":"Commit Order Transaction","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,-1088],"parameters":{"operation":"executeQuery","query":"=BEGIN;\n\nINSERT INTO public.order_summary (\n  order_id, chat_id, store_id, shipping_address,\n  subtotal_before_discounts, total_discount_applied,\n  final_order_total, applied_order_level_promo_ids,\n  order_details_json\n) VALUES (\n  '{{ $json.order_id }}',\n  {{ $json.chat_id }},\n  {{ $json.store_id }},\n  '{{ $json.shipping_address_sql }}',\n  {{ $json.subtotal_before_discounts }},\n  {{ $json.total_discount_applied }},\n  {{ $json.final_order_total }},\n  '{{ $json.applied_order_level_promo_ids_sql }}',\n  '{{ $json.order_details_json_safe }}'\n)\nON CONFLICT (order_id) DO NOTHING;\n\nWITH items AS (\n  SELECT value AS item\n  FROM jsonb_array_elements('{{ $json.order_details_json_safe }}'::jsonb->'items_in_final_order')\n), order_items AS (\n  SELECT\n    '{{ $json.order_id }}'::text AS order_id,\n    {{ $json.chat_id }}::bigint AS user_id,\n    COALESCE(item->>'original_name', item->>'name', 'item') AS name,\n    item->>'sku' AS sku,\n    GREATEST((item->>'quantity')::numeric, 0) AS quantity,\n    GREATEST((item->>'unit_price')::numeric, 0) AS unit_price\n  FROM items\n)\nINSERT INTO public.orders (\n  order_id, user_id, name, sku, quantity, unit_price, status\n)\nSELECT\n  order_id,\n  user_id,\n  name,\n  sku,\n  quantity,\n  unit_price,\n  'confirmed'\nFROM order_items\nWHERE sku IS NOT NULL\n  AND sku <> ''\n  AND quantity > 0\nON CONFLICT (order_id, sku) DO NOTHING;\n\nWITH qty_by_sku AS (\n  SELECT\n    item->>'sku' AS sku,\n    SUM(GREATEST((item->>'quantity')::numeric, 0)) AS qty\n  FROM jsonb_array_elements('{{ $json.order_details_json_safe }}'::jsonb->'items_in_final_order') AS item\n  GROUP BY item->>'sku'\n)\nUPDATE public.inventory i\nSET\n  stock = GREATEST(0, i.stock - q.qty),\n  is_active = CASE WHEN (i.stock - q.qty) <= 0 THEN false ELSE i.is_active END\nFROM qty_by_sku q\nWHERE i.sku = q.sku;\n\nUPDATE public.pending_orders\nSET status = 'confirmed', updated_at = NOW()\nWHERE order_id = '{{ $json.pending_order_id }}'\nAND status IN ('processing', 'awaiting_confirmation');\n\nDELETE FROM public.cart_items\nWHERE cart_id IN (\n  SELECT cart_id FROM public.carts\n  WHERE user_id = {{ $json.chat_id }}\n  AND status = 'active'\n);\n\nUPDATE public.carts\nSET status = 'checked_out'\nWHERE user_id = {{ $json.chat_id }}\nAND status = 'active';\n\nCOMMIT;\nSELECT 'committed'::text AS txn_status;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000},{"id":"a619ae3f-dd89-4d90-8f34-3f2f3e042584","name":"Return Error Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-1280],"parameters":{"assignments":{"assignments":[{"id":"er-msg","name":"confirmation_message","value":"={{ $json.confirmation_message }}","type":"string"},{"id":"er-chat","name":"chat_id","value":"={{ $json.chat_id }}","type":"string"}]},"options":{}}},{"id":"ba4c9733-f5d5-4191-9426-409b1db1f7f4","name":"Get Pricing Flag","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1280,-1304],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"parameters":{"operation":"executeQuery","query":"SELECT enable_pricing FROM public.stores LIMIT 1;","options":{}}}],"connections":{"Get Pending Order":{"main":[[{"node":"Parse Pending Order","type":"main","index":0}]]},"Parse Pending Order":{"main":[[{"node":"Order Valid?","type":"main","index":0}]]},"Order Valid?":{"main":[[{"node":"Mark Pending Processing","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"Format Confirmation":{"main":[[{"node":"Notify Kirana Owner","type":"main","index":0},{"node":"Return Confirmation","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get Pricing Flag","type":"main","index":0}]]},"Recover Stale Processing":{"main":[[{"node":"Get Pending Order","type":"main","index":0}]]},"Prepare Order Summary":{"main":[[{"node":"Order Summary Valid?","type":"main","index":0}]]},"Order Summary Valid?":{"main":[[{"node":"Commit Order Transaction","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"Mark Pending Processing":{"main":[[{"node":"Lock Acquired?","type":"main","index":0}]]},"Lock Acquired?":{"main":[[{"node":"Prepare Order Summary","type":"main","index":0}],[{"node":"Format Already Processing","type":"main","index":0}]]},"Commit Order Transaction":{"main":[[{"node":"Format Confirmation","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Return Error Response","type":"main","index":0}]]},"Get Pricing Flag":{"main":[[{"node":"Recover Stale Processing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"521bead7-2b19-4228-8d8b-75a2ddc443cb","activeVersionId":"521bead7-2b19-4228-8d8b-75a2ddc443cb","versionCounter":316,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T16:56:05.637Z","createdAt":"2026-03-03T16:56:05.637Z","role":"workflow:owner","workflowId":"62u82sIei3owzaiU","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T10:56:35.445Z","createdAt":"2026-03-15T10:56:35.445Z","versionId":"521bead7-2b19-4228-8d8b-75a2ddc443cb","workflowId":"62u82sIei3owzaiU","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"4a94a393-a399-4995-b493-e9bdb27bd331","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1280,-1184]},{"parameters":{"operation":"executeQuery","query":"=SELECT *\nFROM public.pending_orders\nWHERE chat_id = {{ $('Start').first().json.tool_input.chat_id }}\nAND status = 'awaiting_confirmation'\nORDER BY COALESCE(updated_at, created_at) DESC\nLIMIT 1;","options":{}},"id":"d34e46dd-2495-4980-b630-d6ede4aa62e4","name":"Get Pending Order","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1056,-1184],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000},{"parameters":{"jsCode":"const chatId = $('Start').first().json.tool_input.chat_id;\nconst rows = $input\n  .all()\n  .map((entry) => entry.json)\n  .filter((entry) => entry && entry.order_id);\n\nif (rows.length === 0) {\n  return [\n    {\n      json: {\n        error: true,\n        chat_id: chatId,\n        pending_order_id: null,\n        confirmation_message: 'There is no pending order to confirm. Please add items and checkout first.',\n      },\n    },\n  ];\n}\n\nrows.sort((a, b) => new Date(b.created_at) - new Date(a.created_at));\nconst pending = rows[0];\n\nif (new Date(pending.expires_at) < new Date()) {\n  return [\n    {\n      json: {\n        error: true,\n        chat_id: chatId,\n        pending_order_id: pending.order_id,\n        confirmation_message: 'Your bill has expired (bills are valid for 30 minutes). Please type checkout to get a fresh bill.',\n      },\n    },\n  ];\n}\n\nlet orderDetails;\ntry {\n  orderDetails = typeof pending.order_details_json === 'string'\n    ? JSON.parse(pending.order_details_json)\n    : pending.order_details_json;\n} catch (err) {\n  return [\n    {\n      json: {\n        error: true,\n        chat_id: chatId,\n        pending_order_id: pending.order_id,\n        confirmation_message: 'Could not read order details. Please try checkout again.',\n      },\n    },\n  ];\n}\n\nconst payload = {\n  error: false,\n  pending_order_id: pending.order_id,\n  chat_id: chatId,\n  order_details: orderDetails,\n};\n\nreturn [\n  {\n    json: payload,\n  },\n];","mode":"runOnceForAllItems"},"id":"8cfa9a19-e021-4a89-b8bf-02c4466d49d3","name":"Parse Pending Order","type":"n8n-nodes-base.code","typeVersion":2,"position":[-832,-1184]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"ov","leftValue":"={{ $json.error }}","rightValue":true,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"09eb6904-e60c-4d6c-8dfb-ba79d419e849","name":"Order Valid?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-608,-1184]},{"parameters":{"assignments":{"assignments":[{"id":"e1","name":"confirmation_message","value":"={{ $json.confirmation_message }}","type":"string"},{"id":"e2","name":"chat_id","value":"={{ $json.chat_id }}","type":"string"}]},"options":{}},"id":"d726f9c1-2c15-4a41-afa8-5ad6d9d6ff33","name":"Format Error","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,-1280]},{"parameters":{"jsCode":"const d = $('Parse Pending Order').first().json;\n\nif (d.error) {\n  return [\n    {\n      json: d,\n    },\n  ];\n}\n\nconst orderDetails = d.order_details || {};\nconst items = Array.isArray(orderDetails.items_in_final_order)\n  ? orderDetails.items_in_final_order\n  : [];\n\nif (items.length === 0) {\n  return [\n    {\n      json: {\n        error: true,\n        chat_id: d.chat_id,\n        confirmation_message: 'This pending order has no items. Please type checkout to regenerate your bill.',\n      },\n    },\n  ];\n}\n\nconst safeSql = (value) => String(value ?? '').replace(/'/g, \"''\");\nconst appliedPromoCodes = (orderDetails.applied_promos || []).map((promo) => promo.code).join(', ');\n\nconst payload = {\n  error: false,\n  order_id: orderDetails.order_id,\n  chat_id: orderDetails.chat_id,\n  store_id: orderDetails.store_id || 1,\n  shipping_address: orderDetails.address || '',\n  shipping_address_sql: safeSql(orderDetails.address || ''),\n  subtotal_before_discounts: Number(orderDetails.subtotal_before_discounts || 0),\n  total_discount_applied: Number(orderDetails.total_discount_applied || 0),\n  final_order_total: Number(orderDetails.final_order_total || 0),\n  applied_order_level_promo_ids: appliedPromoCodes,\n  applied_order_level_promo_ids_sql: safeSql(appliedPromoCodes),\n  cart_id: orderDetails.cart_id,\n  items,\n  pending_order_id: d.pending_order_id,\n  order_details_json_safe: safeSql(JSON.stringify(orderDetails)),\n};\n\nreturn [\n  {\n    json: payload,\n  },\n];","mode":"runOnceForAllItems"},"id":"9a6341dd-4b3b-43b7-861d-ad7bcc948d52","name":"Prepare Order Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,-1088]},{"parameters":{"jsCode":"const summary = $('Prepare Order Summary').first().json || {};\nconst root = (() => {\n  try {\n    const start = $('Start').first();\n    if (start && start.json) return start.json;\n  } catch {}\n  if ($json && typeof $json === 'object' && Object.keys($json).length > 0) return $json;\n  try {\n    const current = $input.first();\n    return (current && current.json) ? current.json : {};\n  } catch {}\n  return {};\n})();\nconst toolInput = (root.tool_input && typeof root.tool_input === 'object') ? root.tool_input : root;\n\nconst items = Array.isArray(summary.items) ? summary.items : [];\nconst lines = [];\nfor (const item of items) {\n  const unit = item && item.unit ? ' ' + item.unit : '';\n  const name = item && (item.original_name || item.name) ? (item.original_name || item.name) : 'item';\n  const qty = item && item.quantity !== undefined ? item.quantity : 0;\n  lines.push('• ' + name + ' × ' + qty + unit);\n}\nif (lines.length === 0) {\n  lines.push('• Items unavailable');\n}\n\nconst total = Number(summary.final_order_total || 0).toFixed(2);\nconst orderId = String(summary.order_id || '');\nconst chatId = String(summary.chat_id || '');\nconst shippingAddress = String(summary.shipping_address || '');\nconst enablePricing = (() => {\n  try { return $('Get Pricing Flag').first().json.enable_pricing !== false; } catch { return true; }\n})();\n\nconst totalLine = enablePricing ? 'Total: ₹' + total + '\\n\\n' : '';\nconst customerMsg =\n  'Order confirmed\\n\\n' +\n  'Order ID: ' + orderId + '\\n' +\n  'Deliver to: ' + shippingAddress + '\\n' +\n  totalLine +\n  lines.join('\\n') + '\\n\\n' +\n  'The store has your order now. You can track it any time.';\n\nconst ownerTotalLine = enablePricing ? 'Total: Rs.' + total + '\\n' : '';\nconst ownerMsg =\n  'New Order Received!\\n\\n' +\n  'Order ID: ' + orderId + '\\n' +\n  'Customer: ' + chatId + '\\n' +\n  ownerTotalLine +\n  'Deliver to: ' + shippingAddress + '\\n\\n' +\n  'Items:\\n' + lines.join('\\n') + '\\n\\n' +\n  'Reply with:\\n' +\n  'ACCEPT ' + orderId + '\\n' +\n  'REJECT ' + orderId;\n\nreturn [{ json: {\n  confirmation_message: customerMsg,\n  chat_id: chatId,\n  customer_ui_state: 'ORDER_CONFIRMED',\n  message_type: 'button',\n  buttons: [\n    { id: 'track_order', title: 'Track Order' },\n    { id: 'new_order', title: 'Shop Again' },\n  ],\n  owner_msg: ownerMsg,\n  order_id: orderId,\n  store_id: Number(summary.store_id || 1),\n  test_mode: toolInput.test_mode === true,\n} }];","mode":"runOnceForAllItems"},"id":"db77a7f6-b940-4214-9299-b8e3839b6000","name":"Format Confirmation","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,-1088]},{"id":"8b43e674-4255-4a71-be6e-150f426e6d37","name":"Recover Stale Processing","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1184,-1312],"parameters":{"operation":"executeQuery","query":"=UPDATE public.pending_orders\nSET status = 'awaiting_confirmation', updated_at = NOW()\nWHERE chat_id = {{ $('Start').first().json.tool_input.chat_id }}\nAND status = 'processing'\nAND COALESCE(updated_at, created_at) < NOW() - INTERVAL '15 minutes';\nSELECT 'ok' AS result;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000},{"id":"61223b73-4f44-4143-8faa-d32c74ee40f9","name":"Mark Pending Processing","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-512,-1088],"parameters":{"operation":"executeQuery","query":"=UPDATE public.pending_orders\nSET status = 'processing', updated_at = NOW()\nWHERE order_id = '{{ $json.pending_order_id }}'\nAND status = 'awaiting_confirmation'\nRETURNING order_id, status;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000},{"id":"e4c69c5e-aabc-4c29-a691-2c3eb0af81f9","name":"Order Summary Valid?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-272,-1088],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"summary-ok","leftValue":"={{ $json.error }}","rightValue":true,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}}},{"id":"96d76d3b-6be7-4f9d-92da-642823b9a973","name":"Notify Kirana Owner","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1856,-912],"parameters":{"workflowId":{"__rl":true,"value":"hN3YkLKXv2XutPzr","mode":"list","cachedResultUrl":"/workflow/hN3YkLKXv2XutPzr","cachedResultName":"[Notify] Kirana New Order"},"workflowInputs":{"mappingMode":"defineBelow","value":{"order_id":"={{ $('Prepare Order Summary').first().json.order_id }}","store_id":"={{ $('Prepare Order Summary').first().json.store_id }}","address":"={{ $('Prepare Order Summary').first().json.shipping_address }}","final_order_total":"={{ $('Prepare Order Summary').first().json.final_order_total }}","total_discount_applied":"={{ $('Prepare Order Summary').first().json.total_discount_applied }}","items_in_final_order":"={{ $('Prepare Order Summary').first().json.items }}","chat_id":"={{ $('Prepare Order Summary').first().json.chat_id }}"},"matchingColumns":[],"schema":[{"id":"order_id","displayName":"order_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"store_id","displayName":"store_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"final_order_total","displayName":"final_order_total","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"total_discount_applied","displayName":"total_discount_applied","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"items_in_final_order","displayName":"items_in_final_order","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"waitForSubWorkflow":false}},"onError":"continueRegularOutput"},{"id":"return-confirmation-node","name":"Return Confirmation","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1632,-928],"parameters":{"assignments":{"assignments":[{"id":"rc-msg","name":"confirmation_message","value":"={{ $('Format Confirmation').first().json.confirmation_message }}","type":"string"},{"id":"rc-chat","name":"chat_id","value":"={{ $('Format Confirmation').first().json.chat_id }}","type":"string"}]},"options":{}}},{"id":"e69dd316-8ac2-4dae-9669-689773bb3301","name":"Lock Acquired?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,-944],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"lock-ok","leftValue":"={{ $json.order_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}}},{"id":"b36ea126-1790-4221-a19e-3b36e523affc","name":"Format Already Processing","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,-864],"parameters":{"assignments":{"assignments":[{"id":"already-msg","name":"confirmation_message","value":"Your order is already being confirmed. Please wait a moment and then track your order.","type":"string"},{"id":"already-chat","name":"chat_id","value":"={{ $('Start').first().json.tool_input.chat_id }}","type":"string"}]},"options":{}}},{"id":"35f26e05-5fe4-4968-98e1-45f939d2329c","name":"Commit Order Transaction","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-48,-1088],"parameters":{"operation":"executeQuery","query":"=BEGIN;\n\nINSERT INTO public.order_summary (\n  order_id, chat_id, store_id, shipping_address,\n  subtotal_before_discounts, total_discount_applied,\n  final_order_total, applied_order_level_promo_ids,\n  order_details_json\n) VALUES (\n  '{{ $json.order_id }}',\n  {{ $json.chat_id }},\n  {{ $json.store_id }},\n  '{{ $json.shipping_address_sql }}',\n  {{ $json.subtotal_before_discounts }},\n  {{ $json.total_discount_applied }},\n  {{ $json.final_order_total }},\n  '{{ $json.applied_order_level_promo_ids_sql }}',\n  '{{ $json.order_details_json_safe }}'\n)\nON CONFLICT (order_id) DO NOTHING;\n\nWITH items AS (\n  SELECT value AS item\n  FROM jsonb_array_elements('{{ $json.order_details_json_safe }}'::jsonb->'items_in_final_order')\n), order_items AS (\n  SELECT\n    '{{ $json.order_id }}'::text AS order_id,\n    {{ $json.chat_id }}::bigint AS user_id,\n    COALESCE(item->>'original_name', item->>'name', 'item') AS name,\n    item->>'sku' AS sku,\n    GREATEST((item->>'quantity')::numeric, 0) AS quantity,\n    GREATEST((item->>'unit_price')::numeric, 0) AS unit_price\n  FROM items\n)\nINSERT INTO public.orders (\n  order_id, user_id, name, sku, quantity, unit_price, status\n)\nSELECT\n  order_id,\n  user_id,\n  name,\n  sku,\n  quantity,\n  unit_price,\n  'confirmed'\nFROM order_items\nWHERE sku IS NOT NULL\n  AND sku <> ''\n  AND quantity > 0\nON CONFLICT (order_id, sku) DO NOTHING;\n\nWITH qty_by_sku AS (\n  SELECT\n    item->>'sku' AS sku,\n    SUM(GREATEST((item->>'quantity')::numeric, 0)) AS qty\n  FROM jsonb_array_elements('{{ $json.order_details_json_safe }}'::jsonb->'items_in_final_order') AS item\n  GROUP BY item->>'sku'\n)\nUPDATE public.inventory i\nSET\n  stock = GREATEST(0, i.stock - q.qty),\n  is_active = CASE WHEN (i.stock - q.qty) <= 0 THEN false ELSE i.is_active END\nFROM qty_by_sku q\nWHERE i.sku = q.sku;\n\nUPDATE public.pending_orders\nSET status = 'confirmed', updated_at = NOW()\nWHERE order_id = '{{ $json.pending_order_id }}'\nAND status IN ('processing', 'awaiting_confirmation');\n\nDELETE FROM public.cart_items\nWHERE cart_id IN (\n  SELECT cart_id FROM public.carts\n  WHERE user_id = {{ $json.chat_id }}\n  AND status = 'active'\n);\n\nUPDATE public.carts\nSET status = 'checked_out'\nWHERE user_id = {{ $json.chat_id }}\nAND status = 'active';\n\nCOMMIT;\nSELECT 'committed'::text AS txn_status;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000},{"id":"a619ae3f-dd89-4d90-8f34-3f2f3e042584","name":"Return Error Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-1280],"parameters":{"assignments":{"assignments":[{"id":"er-msg","name":"confirmation_message","value":"={{ $json.confirmation_message }}","type":"string"},{"id":"er-chat","name":"chat_id","value":"={{ $json.chat_id }}","type":"string"}]},"options":{}}},{"id":"ba4c9733-f5d5-4191-9426-409b1db1f7f4","name":"Get Pricing Flag","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1280,-1304],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"parameters":{"operation":"executeQuery","query":"SELECT enable_pricing FROM public.stores LIMIT 1;","options":{}}}],"connections":{"Get Pending Order":{"main":[[{"node":"Parse Pending Order","type":"main","index":0}]]},"Parse Pending Order":{"main":[[{"node":"Order Valid?","type":"main","index":0}]]},"Order Valid?":{"main":[[{"node":"Mark Pending Processing","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"Format Confirmation":{"main":[[{"node":"Notify Kirana Owner","type":"main","index":0},{"node":"Return Confirmation","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get Pricing Flag","type":"main","index":0}]]},"Recover Stale Processing":{"main":[[{"node":"Get Pending Order","type":"main","index":0}]]},"Prepare Order Summary":{"main":[[{"node":"Order Summary Valid?","type":"main","index":0}]]},"Order Summary Valid?":{"main":[[{"node":"Commit Order Transaction","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"Mark Pending Processing":{"main":[[{"node":"Lock Acquired?","type":"main","index":0}]]},"Lock Acquired?":{"main":[[{"node":"Prepare Order Summary","type":"main","index":0}],[{"node":"Format Already Processing","type":"main","index":0}]]},"Commit Order Transaction":{"main":[[{"node":"Format Confirmation","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Return Error Response","type":"main","index":0}]]},"Get Pricing Flag":{"main":[[{"node":"Recover Stale Processing","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-15T10:56:35.780Z","id":2348,"workflowId":"62u82sIei3owzaiU","versionId":"521bead7-2b19-4228-8d8b-75a2ddc443cb","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-15T10:56:35.853Z","id":2349,"workflowId":"62u82sIei3owzaiU","versionId":"521bead7-2b19-4228-8d8b-75a2ddc443cb","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}