workflows/latest/6GHQItXV8mOIOmwC__Owner_Bulk_Import_Apply.json
{"updatedAt":"2026-03-11T11:37:44.678Z","createdAt":"2026-03-11T03:41:28.705Z","id":"6GHQItXV8mOIOmwC","name":"[Owner] Bulk Import Apply","description":null,"active":true,"isArchived":false,"nodes":[{"id":"bulk-apply-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,320],"parameters":{"inputSource":"passthrough"}},{"id":"bulk-apply-normalize","name":"Normalize Apply Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const raw = ($json.tool_input && typeof $json.tool_input === 'object') ? $json.tool_input : $json;\nconst buttonId = String(raw.button_id || '').trim();\nlet action = String(raw.action || '').trim();\nlet jobId = String(raw.job_id || '').trim();\nif (!action && buttonId.startsWith('owner_bulk_apply__')) action = 'apply';\nif (!action && buttonId.startsWith('owner_bulk_cancel__')) action = 'cancel';\nif (!jobId && buttonId.startsWith('owner_bulk_apply__')) jobId = buttonId.replace('owner_bulk_apply__', '');\nif (!jobId && buttonId.startsWith('owner_bulk_cancel__')) jobId = buttonId.replace('owner_bulk_cancel__', '');\nreturn [{\n  json: {\n    ...raw,\n    action,\n    job_id: jobId,\n    chat_id: String(raw.chat_id || ''),\n    test_mode: raw.test_mode === true,\n  },\n}];"}},{"id":"bulk-apply-schema","name":"Inspect Inventory Schema","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,320],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"SELECT\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'store_id') AS has_store_id,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'sku') AS has_sku,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'unit') AS has_unit,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'category') AS has_category,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'brand') AS has_brand,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'is_active') AS has_is_active,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'created_at') AS has_created_at,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'updated_at') AS has_updated_at;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"bulk-apply-build-sql","name":"Build Apply SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Normalize Apply Input').first().json || {};\nconst s = $('Inspect Inventory Schema').first().json || {};\nconst esc = (value) => String(value === undefined || value === null ? '' : value).replace(/'/g, \"''\");\nconst b = (value) => value === true || value === 'true' || value === 't' || value === 1 || value === '1';\nconst hasStoreId = b(s.has_store_id);\nconst hasSku = b(s.has_sku);\nconst hasUnit = b(s.has_unit);\nconst hasCategory = b(s.has_category);\nconst hasBrand = b(s.has_brand);\nconst hasIsActive = b(s.has_is_active);\nconst hasCreatedAt = b(s.has_created_at);\nconst hasUpdatedAt = b(s.has_updated_at);\n\nconst ensureSql = [\n  'CREATE TABLE IF NOT EXISTS public.owner_import_jobs (job_id TEXT PRIMARY KEY, store_id BIGINT, chat_id TEXT NOT NULL, source_type TEXT, status TEXT NOT NULL, parsed_rows_json JSONB DEFAULT \\'[]\\'::jsonb, invalid_rows_json JSONB DEFAULT \\'[]\\'::jsonb, file_name TEXT, mime_type TEXT, created_at TIMESTAMPTZ DEFAULT NOW(), updated_at TIMESTAMPTZ DEFAULT NOW());',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS source_ref TEXT;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS mode TEXT;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS total_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS valid_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS invalid_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS ambiguous_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS matched_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS new_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS applied_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS failed_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS report_manifest_json JSONB DEFAULT \\'{}\\'::jsonb;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS report_token TEXT;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS started_at TIMESTAMPTZ;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS finished_at TIMESTAMPTZ;',\n  'CREATE TABLE IF NOT EXISTS public.owner_import_job_rows (job_id TEXT NOT NULL, row_no INTEGER NOT NULL, chunk_no INTEGER NOT NULL, raw_payload_json JSONB DEFAULT \\'{}\\'::jsonb, normalized_payload_json JSONB DEFAULT \\'{}\\'::jsonb, match_status TEXT NOT NULL, target_inventory_id BIGINT, target_sku TEXT, target_item_name TEXT, error_reason TEXT, review_reason TEXT, row_hash TEXT, apply_status TEXT DEFAULT \\'pending\\', created_at TIMESTAMPTZ DEFAULT NOW(), updated_at TIMESTAMPTZ DEFAULT NOW(), PRIMARY KEY (job_id, row_no));',\n  \"CREATE TABLE IF NOT EXISTS public.owner_operation_sessions (session_id TEXT PRIMARY KEY, store_id BIGINT, chat_id TEXT NOT NULL, operation_type TEXT NOT NULL, source_type TEXT NOT NULL, parsed_payload_json JSONB DEFAULT '{}'::jsonb, cleanup_summary_json JSONB DEFAULT '{}'::jsonb, preview_rows_json JSONB DEFAULT '[]'::jsonb, status TEXT NOT NULL, created_at TIMESTAMPTZ DEFAULT NOW(), updated_at TIMESTAMPTZ DEFAULT NOW());\",\n].join('\\n');\n\nif (!d.job_id) {\n  return [{ json: { ...d, sql: ensureSql + \"\\nSELECT 'job_missing' AS result, '{}'::jsonb AS summary_json, '{}'::jsonb AS report_manifest_json, 'Missing job ID for bulk import.' AS message;\" } }];\n}\n\nif (d.action === 'cancel') {\n  const sql = [\n    ensureSql,\n    'WITH updated AS (',\n    \"  UPDATE public.owner_import_jobs SET status = 'cancelled', updated_at = NOW(), finished_at = NOW() WHERE job_id = '\" + esc(d.job_id) + \"' AND chat_id = '\" + esc(d.chat_id) + \"' RETURNING report_manifest_json\",\n    '), session_done AS (',\n    \"  UPDATE public.owner_operation_sessions SET status = 'cancelled', updated_at = NOW() WHERE session_id = 'bulk_\" + esc(d.job_id) + \"' RETURNING session_id\",\n    ')',\n    \"SELECT CASE WHEN EXISTS (SELECT 1 FROM updated) THEN 'cancelled' ELSE 'job_missing' END AS result, '{}'::jsonb AS summary_json, COALESCE((SELECT report_manifest_json FROM updated LIMIT 1), '{}'::jsonb) AS report_manifest_json, '' AS message;\",\n  ].join('\\n');\n  return [{ json: { ...d, sql } }];\n}\n\nconst updateSet = [];\nupdateSet.push('price = COALESCE(NULLIF(r.normalized_payload_json->>\\'price\\', \\'\\')::numeric, i.price)');\nupdateSet.push('stock = COALESCE(NULLIF(r.normalized_payload_json->>\\'stock\\', \\'\\')::numeric, i.stock)');\nif (hasUnit) updateSet.push(\"unit = COALESCE(NULLIF(r.normalized_payload_json->>'unit', ''), i.unit, 'pcs')\");\nif (hasCategory) updateSet.push(\"category = COALESCE(NULLIF(r.normalized_payload_json->>'category', ''), i.category, 'General')\");\nif (hasBrand) updateSet.push(\"brand = COALESCE(NULLIF(r.normalized_payload_json->>'brand', ''), i.brand)\");\nif (hasIsActive) updateSet.push('is_active = true');\nif (hasUpdatedAt) updateSet.push('updated_at = NOW()');\n\nconst insertCols = ['item_name', 'price', 'stock'];\nconst insertVals = [\"COALESCE(NULLIF(r.normalized_payload_json->>'item_name', ''), r.target_item_name)\", \"COALESCE(NULLIF(r.normalized_payload_json->>'price', '')::numeric, 0)\", \"COALESCE(NULLIF(r.normalized_payload_json->>'stock', '')::numeric, 0)\"];\n  if (hasSku) insertCols.push('sku'), insertVals.push(\"COALESCE(NULLIF(r.normalized_payload_json->>'sku', ''), NULLIF(r.target_sku, ''), 'ITEM_\" + esc(d.job_id).slice(-6) + \"_' || r.row_no)\");\nif (hasUnit) insertCols.push('unit'), insertVals.push(\"COALESCE(NULLIF(r.normalized_payload_json->>'unit', ''), 'pcs')\");\nif (hasCategory) insertCols.push('category'), insertVals.push(\"COALESCE(NULLIF(r.normalized_payload_json->>'category', ''), 'General')\");\nif (hasBrand) insertCols.push('brand'), insertVals.push(\"NULLIF(r.normalized_payload_json->>'brand', '')\");\nif (hasStoreId) insertCols.push('store_id'), insertVals.push('j.store_id');\nif (hasIsActive) insertCols.push('is_active'), insertVals.push('true');\nif (hasCreatedAt) insertCols.push('created_at'), insertVals.push('NOW()');\nif (hasUpdatedAt) insertCols.push('updated_at'), insertVals.push('NOW()');\n\nconst matchFilter = hasSku\n  ? \"((COALESCE(NULLIF(r.target_sku, ''), '') <> '' AND i.sku = r.target_sku) OR lower(i.item_name) = lower(COALESCE(NULLIF(r.target_item_name, ''), r.normalized_payload_json->>'item_name')))\"\n  : \"lower(i.item_name) = lower(COALESCE(NULLIF(r.target_item_name, ''), r.normalized_payload_json->>'item_name'))\";\n\nconst sql = [\n  ensureSql,\n  'WITH job_row AS (',\n  \"  SELECT * FROM public.owner_import_jobs WHERE job_id = '\" + esc(d.job_id) + \"' AND chat_id = '\" + esc(d.chat_id) + \"' LIMIT 1\",\n  '), job_status AS (',\n  \"  SELECT COALESCE((SELECT status FROM job_row), 'missing') AS status\",\n  '), rows_to_apply AS (',\n  \"  SELECT r.* FROM public.owner_import_job_rows r WHERE r.job_id = '\" + esc(d.job_id) + \"' AND r.match_status IN ('new', 'matched') AND r.apply_status = 'pending'\",\n  '), updated_inventory AS (',\n  '  UPDATE public.inventory i',\n  '  SET ' + updateSet.join(', '),\n  '  FROM rows_to_apply r, job_row j, job_status st',\n  \"  WHERE st.status = 'awaiting_review' AND r.match_status = 'matched' AND \" + matchFilter + (hasStoreId ? ' AND i.store_id = j.store_id' : ''),\n  '  RETURNING r.row_no',\n  '), inserted_inventory AS (',\n  '  INSERT INTO public.inventory (' + insertCols.join(', ') + ')',\n  '  SELECT ' + insertVals.join(', '),\n  '  FROM rows_to_apply r, job_row j, job_status st',\n  \"  WHERE st.status = 'awaiting_review' AND r.match_status = 'new'\",\n  '  RETURNING item_name',\n  '), applied_counts AS (',\n  \"  SELECT COALESCE((SELECT COUNT(*) FROM updated_inventory), 0) + COALESCE((SELECT COUNT(*) FROM inserted_inventory), 0) AS applied_rows\",\n  '), mark_applied AS (',\n  \"  UPDATE public.owner_import_job_rows SET apply_status = 'applied', updated_at = NOW() WHERE (SELECT status FROM job_status) = 'awaiting_review' AND job_id = '\" + esc(d.job_id) + \"' AND match_status IN ('new', 'matched') AND apply_status = 'pending' RETURNING row_no\",\n  '), job_done AS (',\n  \"  UPDATE public.owner_import_jobs SET status = CASE WHEN (SELECT status FROM job_status) = 'awaiting_review' THEN CASE WHEN ambiguous_rows > 0 OR invalid_rows > 0 THEN 'completed_with_issues' ELSE 'completed' END ELSE status END, applied_rows = CASE WHEN (SELECT status FROM job_status) = 'awaiting_review' THEN COALESCE((SELECT applied_rows FROM applied_counts), 0) ELSE COALESCE(applied_rows, 0) END, failed_rows = 0, updated_at = NOW(), finished_at = NOW() WHERE job_id = '\" + esc(d.job_id) + \"' RETURNING status, report_manifest_json, applied_rows, invalid_rows, ambiguous_rows\",\n  '), session_done AS (',\n  \"  UPDATE public.owner_operation_sessions SET status = CASE WHEN (SELECT status FROM job_status) = 'awaiting_review' THEN 'applied' ELSE status END, updated_at = NOW() WHERE session_id = 'bulk_\" + esc(d.job_id) + \"' RETURNING session_id\",\n  ')',\n  \"SELECT CASE WHEN (SELECT status FROM job_status) = 'awaiting_review' THEN 'applied' WHEN (SELECT status FROM job_status) IN ('completed', 'completed_with_issues') THEN 'already_applied' ELSE 'job_missing' END AS result, json_build_object('applied_rows', COALESCE((SELECT applied_rows FROM job_done LIMIT 1), 0), 'invalid_rows', COALESCE((SELECT invalid_rows FROM job_done LIMIT 1), 0), 'ambiguous_rows', COALESCE((SELECT ambiguous_rows FROM job_done LIMIT 1), 0)) AS summary_json, COALESCE((SELECT report_manifest_json FROM job_done LIMIT 1), '{}'::jsonb) AS report_manifest_json, '' AS message;\",\n  ].join('\\n');\n\nreturn [{ json: { ...d, sql } }];"}},{"id":"bulk-apply-run-sql","name":"Run Apply SQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,320],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"bulk-apply-format","name":"Format Apply Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const row = $input.first().json || {};\nconst d = $('Normalize Apply Input').first().json || {};\nconst parseMaybeJson = (value, fallback) => {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'object') return value;\n  try { return JSON.parse(value); } catch { return fallback; }\n};\nconst summary = parseMaybeJson(row.summary_json, {});\nconst reportManifest = parseMaybeJson(row.report_manifest_json, {});\nconst testMode = d.test_mode === true;\nconst makeText = (body) => ({ chat_id: d.chat_id || '', message_type: 'text', body_text: body, test_mode: testMode });\nconst makeButtons = (body, buttons) => ({ chat_id: d.chat_id || '', message_type: 'button', body_text: body, buttons, test_mode: testMode });\nif (row.result === 'cancelled') {\n  return [{ json: makeButtons(\n    'Bulk import cancelled. No catalog rows were applied.',\n    [\n      { id: 'owner_catalog_import', title: 'Upload Corrected File' },\n      { id: 'owner_catalog_manual', title: 'Add items manually' },\n      { id: 'owner_catalog_discount', title: 'Create discount' },\n    ],\n  ) }];\n}\nif (row.result === 'applied') {\n  const lines = [\n    'Bulk import applied.',\n    'Applied rows: ' + Number(summary.applied_rows || 0),\n    'Ambiguous rows left out: ' + Number(summary.ambiguous_rows || 0),\n    'Invalid rows left out: ' + Number(summary.invalid_rows || 0),\n  ];\n  if (reportManifest.applied_url) lines.push('', 'Applied report: ' + reportManifest.applied_url);\n  return [{ json: makeButtons(\n    lines.join('\\n'),\n    [\n      { id: 'owner_catalog_update', title: 'Update stock/price' },\n      { id: 'owner_catalog_discount', title: 'Create discount' },\n      { id: 'owner_catalog_import', title: 'Upload new sheet' },\n    ],\n  ) }];\n}\nif (row.result === 'already_applied') return [{ json: makeText('That bulk import was already applied earlier.') }];\nreturn [{ json: makeText(String(row.message || 'I could not find that bulk import job. Please upload the file again.')) }];"}}],"connections":{"Start":{"main":[[{"node":"Normalize Apply Input","type":"main","index":0}]]},"Normalize Apply Input":{"main":[[{"node":"Inspect Inventory Schema","type":"main","index":0}]]},"Inspect Inventory Schema":{"main":[[{"node":"Build Apply SQL","type":"main","index":0}]]},"Build Apply SQL":{"main":[[{"node":"Run Apply SQL","type":"main","index":0}]]},"Run Apply SQL":{"main":[[{"node":"Format Apply Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"8e8e3845-0fce-4fc0-9304-ef927bf1c7fd","activeVersionId":"8e8e3845-0fce-4fc0-9304-ef927bf1c7fd","versionCounter":43,"triggerCount":0,"shared":[{"updatedAt":"2026-03-11T03:41:28.705Z","createdAt":"2026-03-11T03:41:28.705Z","role":"workflow:owner","workflowId":"6GHQItXV8mOIOmwC","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-11T11:35:42.252Z","createdAt":"2026-03-11T11:35:42.252Z","versionId":"8e8e3845-0fce-4fc0-9304-ef927bf1c7fd","workflowId":"6GHQItXV8mOIOmwC","nodes":[{"id":"bulk-apply-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,320],"parameters":{"inputSource":"passthrough"}},{"id":"bulk-apply-normalize","name":"Normalize Apply Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const raw = ($json.tool_input && typeof $json.tool_input === 'object') ? $json.tool_input : $json;\nconst buttonId = String(raw.button_id || '').trim();\nlet action = String(raw.action || '').trim();\nlet jobId = String(raw.job_id || '').trim();\nif (!action && buttonId.startsWith('owner_bulk_apply__')) action = 'apply';\nif (!action && buttonId.startsWith('owner_bulk_cancel__')) action = 'cancel';\nif (!jobId && buttonId.startsWith('owner_bulk_apply__')) jobId = buttonId.replace('owner_bulk_apply__', '');\nif (!jobId && buttonId.startsWith('owner_bulk_cancel__')) jobId = buttonId.replace('owner_bulk_cancel__', '');\nreturn [{\n  json: {\n    ...raw,\n    action,\n    job_id: jobId,\n    chat_id: String(raw.chat_id || ''),\n    test_mode: raw.test_mode === true,\n  },\n}];"}},{"id":"bulk-apply-schema","name":"Inspect Inventory Schema","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,320],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"SELECT\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'store_id') AS has_store_id,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'sku') AS has_sku,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'unit') AS has_unit,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'category') AS has_category,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'brand') AS has_brand,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'is_active') AS has_is_active,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'created_at') AS has_created_at,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'updated_at') AS has_updated_at;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"bulk-apply-build-sql","name":"Build Apply SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Normalize Apply Input').first().json || {};\nconst s = $('Inspect Inventory Schema').first().json || {};\nconst esc = (value) => String(value === undefined || value === null ? '' : value).replace(/'/g, \"''\");\nconst b = (value) => value === true || value === 'true' || value === 't' || value === 1 || value === '1';\nconst hasStoreId = b(s.has_store_id);\nconst hasSku = b(s.has_sku);\nconst hasUnit = b(s.has_unit);\nconst hasCategory = b(s.has_category);\nconst hasBrand = b(s.has_brand);\nconst hasIsActive = b(s.has_is_active);\nconst hasCreatedAt = b(s.has_created_at);\nconst hasUpdatedAt = b(s.has_updated_at);\n\nconst ensureSql = [\n  'CREATE TABLE IF NOT EXISTS public.owner_import_jobs (job_id TEXT PRIMARY KEY, store_id BIGINT, chat_id TEXT NOT NULL, source_type TEXT, status TEXT NOT NULL, parsed_rows_json JSONB DEFAULT \\'[]\\'::jsonb, invalid_rows_json JSONB DEFAULT \\'[]\\'::jsonb, file_name TEXT, mime_type TEXT, created_at TIMESTAMPTZ DEFAULT NOW(), updated_at TIMESTAMPTZ DEFAULT NOW());',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS source_ref TEXT;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS mode TEXT;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS total_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS valid_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS invalid_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS ambiguous_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS matched_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS new_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS applied_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS failed_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS report_manifest_json JSONB DEFAULT \\'{}\\'::jsonb;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS report_token TEXT;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS started_at TIMESTAMPTZ;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS finished_at TIMESTAMPTZ;',\n  'CREATE TABLE IF NOT EXISTS public.owner_import_job_rows (job_id TEXT NOT NULL, row_no INTEGER NOT NULL, chunk_no INTEGER NOT NULL, raw_payload_json JSONB DEFAULT \\'{}\\'::jsonb, normalized_payload_json JSONB DEFAULT \\'{}\\'::jsonb, match_status TEXT NOT NULL, target_inventory_id BIGINT, target_sku TEXT, target_item_name TEXT, error_reason TEXT, review_reason TEXT, row_hash TEXT, apply_status TEXT DEFAULT \\'pending\\', created_at TIMESTAMPTZ DEFAULT NOW(), updated_at TIMESTAMPTZ DEFAULT NOW(), PRIMARY KEY (job_id, row_no));',\n  \"CREATE TABLE IF NOT EXISTS public.owner_operation_sessions (session_id TEXT PRIMARY KEY, store_id BIGINT, chat_id TEXT NOT NULL, operation_type TEXT NOT NULL, source_type TEXT NOT NULL, parsed_payload_json JSONB DEFAULT '{}'::jsonb, cleanup_summary_json JSONB DEFAULT '{}'::jsonb, preview_rows_json JSONB DEFAULT '[]'::jsonb, status TEXT NOT NULL, created_at TIMESTAMPTZ DEFAULT NOW(), updated_at TIMESTAMPTZ DEFAULT NOW());\",\n].join('\\n');\n\nif (!d.job_id) {\n  return [{ json: { ...d, sql: ensureSql + \"\\nSELECT 'job_missing' AS result, '{}'::jsonb AS summary_json, '{}'::jsonb AS report_manifest_json, 'Missing job ID for bulk import.' AS message;\" } }];\n}\n\nif (d.action === 'cancel') {\n  const sql = [\n    ensureSql,\n    'WITH updated AS (',\n    \"  UPDATE public.owner_import_jobs SET status = 'cancelled', updated_at = NOW(), finished_at = NOW() WHERE job_id = '\" + esc(d.job_id) + \"' AND chat_id = '\" + esc(d.chat_id) + \"' RETURNING report_manifest_json\",\n    '), session_done AS (',\n    \"  UPDATE public.owner_operation_sessions SET status = 'cancelled', updated_at = NOW() WHERE session_id = 'bulk_\" + esc(d.job_id) + \"' RETURNING session_id\",\n    ')',\n    \"SELECT CASE WHEN EXISTS (SELECT 1 FROM updated) THEN 'cancelled' ELSE 'job_missing' END AS result, '{}'::jsonb AS summary_json, COALESCE((SELECT report_manifest_json FROM updated LIMIT 1), '{}'::jsonb) AS report_manifest_json, '' AS message;\",\n  ].join('\\n');\n  return [{ json: { ...d, sql } }];\n}\n\nconst updateSet = [];\nupdateSet.push('price = COALESCE(NULLIF(r.normalized_payload_json->>\\'price\\', \\'\\')::numeric, i.price)');\nupdateSet.push('stock = COALESCE(NULLIF(r.normalized_payload_json->>\\'stock\\', \\'\\')::numeric, i.stock)');\nif (hasUnit) updateSet.push(\"unit = COALESCE(NULLIF(r.normalized_payload_json->>'unit', ''), i.unit, 'pcs')\");\nif (hasCategory) updateSet.push(\"category = COALESCE(NULLIF(r.normalized_payload_json->>'category', ''), i.category, 'General')\");\nif (hasBrand) updateSet.push(\"brand = COALESCE(NULLIF(r.normalized_payload_json->>'brand', ''), i.brand)\");\nif (hasIsActive) updateSet.push('is_active = true');\nif (hasUpdatedAt) updateSet.push('updated_at = NOW()');\n\nconst insertCols = ['item_name', 'price', 'stock'];\nconst insertVals = [\"COALESCE(NULLIF(r.normalized_payload_json->>'item_name', ''), r.target_item_name)\", \"COALESCE(NULLIF(r.normalized_payload_json->>'price', '')::numeric, 0)\", \"COALESCE(NULLIF(r.normalized_payload_json->>'stock', '')::numeric, 0)\"];\n  if (hasSku) insertCols.push('sku'), insertVals.push(\"COALESCE(NULLIF(r.normalized_payload_json->>'sku', ''), NULLIF(r.target_sku, ''), 'ITEM_\" + esc(d.job_id).slice(-6) + \"_' || r.row_no)\");\nif (hasUnit) insertCols.push('unit'), insertVals.push(\"COALESCE(NULLIF(r.normalized_payload_json->>'unit', ''), 'pcs')\");\nif (hasCategory) insertCols.push('category'), insertVals.push(\"COALESCE(NULLIF(r.normalized_payload_json->>'category', ''), 'General')\");\nif (hasBrand) insertCols.push('brand'), insertVals.push(\"NULLIF(r.normalized_payload_json->>'brand', '')\");\nif (hasStoreId) insertCols.push('store_id'), insertVals.push('j.store_id');\nif (hasIsActive) insertCols.push('is_active'), insertVals.push('true');\nif (hasCreatedAt) insertCols.push('created_at'), insertVals.push('NOW()');\nif (hasUpdatedAt) insertCols.push('updated_at'), insertVals.push('NOW()');\n\nconst matchFilter = hasSku\n  ? \"((COALESCE(NULLIF(r.target_sku, ''), '') <> '' AND i.sku = r.target_sku) OR lower(i.item_name) = lower(COALESCE(NULLIF(r.target_item_name, ''), r.normalized_payload_json->>'item_name')))\"\n  : \"lower(i.item_name) = lower(COALESCE(NULLIF(r.target_item_name, ''), r.normalized_payload_json->>'item_name'))\";\n\nconst sql = [\n  ensureSql,\n  'WITH job_row AS (',\n  \"  SELECT * FROM public.owner_import_jobs WHERE job_id = '\" + esc(d.job_id) + \"' AND chat_id = '\" + esc(d.chat_id) + \"' LIMIT 1\",\n  '), job_status AS (',\n  \"  SELECT COALESCE((SELECT status FROM job_row), 'missing') AS status\",\n  '), rows_to_apply AS (',\n  \"  SELECT r.* FROM public.owner_import_job_rows r WHERE r.job_id = '\" + esc(d.job_id) + \"' AND r.match_status IN ('new', 'matched') AND r.apply_status = 'pending'\",\n  '), updated_inventory AS (',\n  '  UPDATE public.inventory i',\n  '  SET ' + updateSet.join(', '),\n  '  FROM rows_to_apply r, job_row j, job_status st',\n  \"  WHERE st.status = 'awaiting_review' AND r.match_status = 'matched' AND \" + matchFilter + (hasStoreId ? ' AND i.store_id = j.store_id' : ''),\n  '  RETURNING r.row_no',\n  '), inserted_inventory AS (',\n  '  INSERT INTO public.inventory (' + insertCols.join(', ') + ')',\n  '  SELECT ' + insertVals.join(', '),\n  '  FROM rows_to_apply r, job_row j, job_status st',\n  \"  WHERE st.status = 'awaiting_review' AND r.match_status = 'new'\",\n  '  RETURNING item_name',\n  '), applied_counts AS (',\n  \"  SELECT COALESCE((SELECT COUNT(*) FROM updated_inventory), 0) + COALESCE((SELECT COUNT(*) FROM inserted_inventory), 0) AS applied_rows\",\n  '), mark_applied AS (',\n  \"  UPDATE public.owner_import_job_rows SET apply_status = 'applied', updated_at = NOW() WHERE (SELECT status FROM job_status) = 'awaiting_review' AND job_id = '\" + esc(d.job_id) + \"' AND match_status IN ('new', 'matched') AND apply_status = 'pending' RETURNING row_no\",\n  '), job_done AS (',\n  \"  UPDATE public.owner_import_jobs SET status = CASE WHEN (SELECT status FROM job_status) = 'awaiting_review' THEN CASE WHEN ambiguous_rows > 0 OR invalid_rows > 0 THEN 'completed_with_issues' ELSE 'completed' END ELSE status END, applied_rows = CASE WHEN (SELECT status FROM job_status) = 'awaiting_review' THEN COALESCE((SELECT applied_rows FROM applied_counts), 0) ELSE COALESCE(applied_rows, 0) END, failed_rows = 0, updated_at = NOW(), finished_at = NOW() WHERE job_id = '\" + esc(d.job_id) + \"' RETURNING status, report_manifest_json, applied_rows, invalid_rows, ambiguous_rows\",\n  '), session_done AS (',\n  \"  UPDATE public.owner_operation_sessions SET status = CASE WHEN (SELECT status FROM job_status) = 'awaiting_review' THEN 'applied' ELSE status END, updated_at = NOW() WHERE session_id = 'bulk_\" + esc(d.job_id) + \"' RETURNING session_id\",\n  ')',\n  \"SELECT CASE WHEN (SELECT status FROM job_status) = 'awaiting_review' THEN 'applied' WHEN (SELECT status FROM job_status) IN ('completed', 'completed_with_issues') THEN 'already_applied' ELSE 'job_missing' END AS result, json_build_object('applied_rows', COALESCE((SELECT applied_rows FROM job_done LIMIT 1), 0), 'invalid_rows', COALESCE((SELECT invalid_rows FROM job_done LIMIT 1), 0), 'ambiguous_rows', COALESCE((SELECT ambiguous_rows FROM job_done LIMIT 1), 0)) AS summary_json, COALESCE((SELECT report_manifest_json FROM job_done LIMIT 1), '{}'::jsonb) AS report_manifest_json, '' AS message;\",\n  ].join('\\n');\n\nreturn [{ json: { ...d, sql } }];"}},{"id":"bulk-apply-run-sql","name":"Run Apply SQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,320],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"bulk-apply-format","name":"Format Apply Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const row = $input.first().json || {};\nconst d = $('Normalize Apply Input').first().json || {};\nconst parseMaybeJson = (value, fallback) => {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (typeof value === 'object') return value;\n  try { return JSON.parse(value); } catch { return fallback; }\n};\nconst summary = parseMaybeJson(row.summary_json, {});\nconst reportManifest = parseMaybeJson(row.report_manifest_json, {});\nconst testMode = d.test_mode === true;\nconst makeText = (body) => ({ chat_id: d.chat_id || '', message_type: 'text', body_text: body, test_mode: testMode });\nconst makeButtons = (body, buttons) => ({ chat_id: d.chat_id || '', message_type: 'button', body_text: body, buttons, test_mode: testMode });\nif (row.result === 'cancelled') {\n  return [{ json: makeButtons(\n    'Bulk import cancelled. No catalog rows were applied.',\n    [\n      { id: 'owner_catalog_import', title: 'Upload Corrected File' },\n      { id: 'owner_catalog_manual', title: 'Add items manually' },\n      { id: 'owner_catalog_discount', title: 'Create discount' },\n    ],\n  ) }];\n}\nif (row.result === 'applied') {\n  const lines = [\n    'Bulk import applied.',\n    'Applied rows: ' + Number(summary.applied_rows || 0),\n    'Ambiguous rows left out: ' + Number(summary.ambiguous_rows || 0),\n    'Invalid rows left out: ' + Number(summary.invalid_rows || 0),\n  ];\n  if (reportManifest.applied_url) lines.push('', 'Applied report: ' + reportManifest.applied_url);\n  return [{ json: makeButtons(\n    lines.join('\\n'),\n    [\n      { id: 'owner_catalog_update', title: 'Update stock/price' },\n      { id: 'owner_catalog_discount', title: 'Create discount' },\n      { id: 'owner_catalog_import', title: 'Upload new sheet' },\n    ],\n  ) }];\n}\nif (row.result === 'already_applied') return [{ json: makeText('That bulk import was already applied earlier.') }];\nreturn [{ json: makeText(String(row.message || 'I could not find that bulk import job. Please upload the file again.')) }];"}}],"connections":{"Start":{"main":[[{"node":"Normalize Apply Input","type":"main","index":0}]]},"Normalize Apply Input":{"main":[[{"node":"Inspect Inventory Schema","type":"main","index":0}]]},"Inspect Inventory Schema":{"main":[[{"node":"Build Apply SQL","type":"main","index":0}]]},"Build Apply SQL":{"main":[[{"node":"Run Apply SQL","type":"main","index":0}]]},"Run Apply SQL":{"main":[[{"node":"Format Apply Response","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-11T11:35:42.351Z","id":1534,"workflowId":"6GHQItXV8mOIOmwC","versionId":"8e8e3845-0fce-4fc0-9304-ef927bf1c7fd","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:35:42.408Z","id":1535,"workflowId":"6GHQItXV8mOIOmwC","versionId":"8e8e3845-0fce-4fc0-9304-ef927bf1c7fd","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:35:52.152Z","id":1543,"workflowId":"6GHQItXV8mOIOmwC","versionId":"8e8e3845-0fce-4fc0-9304-ef927bf1c7fd","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:35:52.200Z","id":1544,"workflowId":"6GHQItXV8mOIOmwC","versionId":"8e8e3845-0fce-4fc0-9304-ef927bf1c7fd","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:37:44.792Z","id":1567,"workflowId":"6GHQItXV8mOIOmwC","versionId":"8e8e3845-0fce-4fc0-9304-ef927bf1c7fd","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:37:44.859Z","id":1568,"workflowId":"6GHQItXV8mOIOmwC","versionId":"8e8e3845-0fce-4fc0-9304-ef927bf1c7fd","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:37:54.119Z","id":1575,"workflowId":"6GHQItXV8mOIOmwC","versionId":"8e8e3845-0fce-4fc0-9304-ef927bf1c7fd","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:37:54.191Z","id":1576,"workflowId":"6GHQItXV8mOIOmwC","versionId":"8e8e3845-0fce-4fc0-9304-ef927bf1c7fd","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}