workflows/latest/6QnLlMXzIOhgmW6o__Owner_Onboarding.json
{"updatedAt":"2026-03-15T06:06:47.404Z","createdAt":"2026-03-07T08:09:19.296Z","id":"6QnLlMXzIOhgmW6o","name":"[Owner] Onboarding","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"onb-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,704]},{"parameters":{"jsCode":"const raw = ($json.tool_input && typeof $json.tool_input === 'object') ? $json.tool_input : $json;\nconst message = String(raw.message || raw.answer || '').trim();\nconst buttonId = String(raw.button_id || '').trim();\nconst rawSourceType = String(raw.source_type || '').trim().toLowerCase();\nconst sourceType = rawSourceType === 'interactive'\n  ? (buttonId ? 'button' : (message ? 'text' : 'button'))\n  : (rawSourceType || (buttonId ? 'button' : 'text'));\nreturn [{ json: { ...raw, chat_id: String(raw.chat_id || ''), message, answer: message, button_id: buttonId, source_type: sourceType, user_language: String(raw.user_language || 'en') } }];"},"id":"onb-normalize","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,704]},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT\n    COALESCE(NULLIF(store_id, 0), id) AS store_id,\n    store_name,\n    onboarding_step,\n    upi_id,\n    delivery_area,\n    operating_hours,\n    owner_whatsapp_number,\n    COALESCE((SELECT COUNT(*)::int FROM public.inventory i WHERE i.store_id = COALESCE(NULLIF(public.stores.store_id, 0), public.stores.id)), 0) AS inventory_count\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Normalize Input').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Normalize Input').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Normalize Input').first().json.store_id || 0) }} OR id = {{ Number($('Normalize Input').first().json.store_id || 0) }})\n     )\n  ORDER BY CASE\n    WHEN {{ Number($('Normalize Input').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Normalize Input').first().json.store_id || 0) }} THEN 0\n    WHEN {{ Number($('Normalize Input').first().json.store_id || 0) }} > 0 AND id = {{ Number($('Normalize Input').first().json.store_id || 0) }} THEN 1\n    WHEN regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Normalize Input').first().json.chat_id }}', '[^0-9]', '', 'g') THEN 2\n    ELSE 2\n  END,\n  COALESCE(onboarding_step, 0) DESC,\n  COALESCE(store_id, id, 0) DESC,\n  created_at DESC NULLS LAST\n  LIMIT 1\n)\n, lang_pref AS (\n  SELECT COALESCE(language, 'en') AS user_language, true AS has_explicit_lang\n  FROM public.customer_preferences\n  WHERE chat_id = {{ $('Normalize Input').first().json.chat_id }}\n  LIMIT 1\n)\nSELECT\n  preferred.*,\n  COALESCE((SELECT user_language FROM lang_pref), 'en') AS user_language,\n  COALESCE((SELECT has_explicit_lang FROM lang_pref), false) AS has_language_pref\nFROM preferred;","options":{}},"id":"onb-getstate","name":"Get Onboarding State","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,704],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const start = $('Normalize Input').first().json;\nconst state = $input.first().json || {};\nconst text = String(start.message || '').trim();\nconst msg = text.toLowerCase();\nconst buttonId = String(start.button_id || '');\nconst rawSourceType = String(start.source_type || '').trim().toLowerCase();\nconst sourceType = rawSourceType === 'interactive'\n  ? (buttonId ? 'button' : (text ? 'text' : 'button'))\n  : (rawSourceType || 'text');\nconst resolvedStoreId = state.store_id || start.store_id || null;\nconst normalizeDigits = (value) => String(value || '').replace(/\\D+/g, '');\nconst hasStateRow = normalizeDigits(state.owner_whatsapp_number) === normalizeDigits(start.chat_id)\n  || !!state.store_name\n  || !!state.upi_id\n  || !!state.delivery_area\n  || !!state.operating_hours\n  || state.onboarding_step !== undefined\n  || !!resolvedStoreId;\nconst step = hasStateRow ? Number(state.onboarding_step || 0) : 0;\nconst complete = step >= 6 && !!state.store_name && !!state.upi_id && !!state.delivery_area && !!state.operating_hours;\nconst bootstrapChoice = buttonId.startsWith('owner_bootstrap_')\n  ? buttonId.replace('owner_bootstrap_', '')\n  : (/^(add items manually|manual|add items)$/i.test(text) ? 'manual'\n    : /^(upload stock sheet|upload inventory|import inventory|import|upload sheet)$/i.test(text) ? 'import'\n    : /^(skip|skip for now|later)$/i.test(text) ? 'skip'\n    : '');\n\nconst hasLanguagePref = state.has_language_pref === true || state.has_language_pref === 't' || state.has_language_pref === 'true' || state.has_language_pref === 1 || state.has_language_pref === '1';\n\nlet route = 'already_done';\nif (!['text', 'button'].includes(sourceType)) {\n  route = 'unsupported_media';\n} else if (buttonId.startsWith('set_lang__') && (!hasStateRow || step === 0)) {\n  // Language button reply before store is set up → save language then prompt for store name\n  route = 'save_language';\n} else if (!hasStateRow || step === 0) {\n  // New owner — check if language already set\n  if (!hasLanguagePref) {\n    route = 'send_language_list';\n  } else {\n    route = (!text || /^(setup|onboard|register|start|start setup)$/i.test(msg)) ? 'init_prompt' : 'save_name';\n  }\n} else if (complete && bootstrapChoice) {\n  route = 'save_bootstrap';\n} else if (complete) {\n  route = 'already_done';\n} else if (step === 1) {\n  route = (!text || /^(setup|onboard|register|start|start setup)$/i.test(msg)) ? 'prompt_name' : 'save_name';\n} else if (step === 2) {\n  route = !text ? 'prompt_upi' : 'save_upi';\n} else if (step === 3) {\n  route = !text ? 'prompt_area' : 'save_area';\n} else if (step === 4) {\n  route = !text ? 'prompt_hours' : 'save_hours';\n} else if (step === 5) {\n  route = bootstrapChoice ? 'save_bootstrap' : 'prompt_bootstrap';\n} else {\n  route = 'already_done';\n}\n\nconst langCode = buttonId.startsWith('set_lang__') ? buttonId.replace('set_lang__', '') : (state.user_language || start.user_language || 'en');\n\nreturn [{ json: {\n  ...start,\n  ...state,\n  store_id: resolvedStoreId,\n  route,\n  bootstrap_choice: bootstrapChoice,\n  store_name_input: text,\n  upi_input: text,\n  area_input: text,\n  hours_input: text,\n  onboarding_complete: complete,\n  lang_code: langCode,\n  user_language: langCode,\n} }];"},"id":"onb-decide","name":"Decide Onboarding Route","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,704]},{"parameters":{"mode":"expression","numberOutputs":9,"output":"={{ $json.route === 'init_prompt' ? 0 : $json.route === 'save_name' ? 1 : $json.route === 'save_upi' ? 2 : $json.route === 'save_area' ? 3 : $json.route === 'save_hours' ? 4 : $json.route === 'save_bootstrap' ? 5 : $json.route === 'send_language_list' ? 7 : $json.route === 'save_language' ? 8 : 6 }}"},"id":"onb-switch","name":"Onboarding Action","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1136,624]},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT ctid, id, COALESCE(NULLIF(store_id, 0), id) AS store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} OR id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }})\n     )\n  ORDER BY CASE\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 0\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 1\n    WHEN regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g') THEN 2\n    ELSE 2\n  END,\n  COALESCE(onboarding_step, 0) DESC,\n  COALESCE(store_id, id, 0) DESC,\n  created_at DESC NULLS LAST\n  LIMIT 1\n), updated AS (\n  UPDATE public.stores s\n  SET owner_whatsapp_number = '{{ $('Decide Onboarding Route').first().json.chat_id }}',\n      store_id = s.id,\n      onboarding_step = CASE\n        WHEN COALESCE(s.onboarding_step, 0) < 1 THEN 1\n        ELSE s.onboarding_step\n      END\n  WHERE s.ctid = (SELECT ctid FROM preferred)\n  RETURNING id, store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number\n), inserted_raw AS (\n  INSERT INTO public.stores (owner_whatsapp_number, store_name, owner_telegram_chat_id, onboarding_step, created_at)\n  SELECT '{{ $('Decide Onboarding Route').first().json.chat_id }}', 'Pending store ' || RIGHT('{{ $('Decide Onboarding Route').first().json.chat_id }}', 4), 0, 1, NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM preferred)\n  RETURNING ctid\n), inserted AS (\n  UPDATE public.stores s\n  SET store_id = s.id\n  WHERE s.ctid = (SELECT ctid FROM inserted_raw)\n  RETURNING id, store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number\n)\nSELECT * FROM updated\nUNION ALL\nSELECT * FROM inserted;","options":{}},"id":"onb-init","name":"Init Store Row","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,128],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT ctid\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} OR id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }})\n     )\n  ORDER BY CASE\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 0\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 1\n    WHEN regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g') THEN 2\n    ELSE 2\n  END,\n  COALESCE(onboarding_step, 0) DESC,\n  COALESCE(store_id, id, 0) DESC,\n  created_at DESC NULLS LAST\n  LIMIT 1\n)\nUPDATE public.stores s\nSET owner_whatsapp_number = '{{ $('Decide Onboarding Route').first().json.chat_id }}',\n    store_id = s.id,\n    store_name = '{{ $('Decide Onboarding Route').first().json.store_name_input.replace(/'/g, \"''\") }}',\n    onboarding_step = 2\nWHERE s.ctid = (SELECT ctid FROM preferred)\nRETURNING store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number;","options":{}},"id":"onb-save-name","name":"Save Store Name","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,320],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT ctid\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} OR id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }})\n     )\n  ORDER BY CASE\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 0\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 1\n    WHEN regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g') THEN 2\n    ELSE 2\n  END,\n  COALESCE(onboarding_step, 0) DESC,\n  COALESCE(store_id, id, 0) DESC,\n  created_at DESC NULLS LAST\n  LIMIT 1\n)\nUPDATE public.stores s\nSET owner_whatsapp_number = '{{ $('Decide Onboarding Route').first().json.chat_id }}',\n    store_id = s.id,\n    upi_id = '{{ $('Decide Onboarding Route').first().json.upi_input.replace(/'/g, \"''\") }}',\n    onboarding_step = 3\nWHERE s.ctid = (SELECT ctid FROM preferred)\nRETURNING store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number;","options":{}},"id":"onb-save-upi","name":"Save UPI","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,512],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT ctid\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} OR id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }})\n     )\n  ORDER BY CASE\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 0\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 1\n    WHEN regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g') THEN 2\n    ELSE 2\n  END,\n  COALESCE(onboarding_step, 0) DESC,\n  COALESCE(store_id, id, 0) DESC,\n  created_at DESC NULLS LAST\n  LIMIT 1\n)\nUPDATE public.stores s\nSET owner_whatsapp_number = '{{ $('Decide Onboarding Route').first().json.chat_id }}',\n    store_id = s.id,\n    delivery_area = '{{ $('Decide Onboarding Route').first().json.area_input.replace(/'/g, \"''\") }}',\n    onboarding_step = 4\nWHERE s.ctid = (SELECT ctid FROM preferred)\nRETURNING store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number;","options":{}},"id":"onb-save-area","name":"Save Delivery Area","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,704],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT ctid\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} OR id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }})\n     )\n  ORDER BY CASE\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 0\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 1\n    WHEN regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g') THEN 2\n    ELSE 2\n  END,\n  COALESCE(onboarding_step, 0) DESC,\n  COALESCE(store_id, id, 0) DESC,\n  created_at DESC NULLS LAST\n  LIMIT 1\n)\nUPDATE public.stores s\nSET owner_whatsapp_number = '{{ $('Decide Onboarding Route').first().json.chat_id }}',\n    store_id = s.id,\n    operating_hours = '{{ $('Decide Onboarding Route').first().json.hours_input.replace(/'/g, \"''\") }}',\n    onboarding_step = 5\nWHERE s.ctid = (SELECT ctid FROM preferred)\nRETURNING store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number;","options":{}},"id":"onb-save-hours","name":"Save Operating Hours","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,896],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT ctid\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} OR id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }})\n     )\n  ORDER BY CASE\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 0\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 1\n    WHEN regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g') THEN 2\n    ELSE 2\n  END,\n  COALESCE(onboarding_step, 0) DESC,\n  COALESCE(store_id, id, 0) DESC,\n  created_at DESC NULLS LAST\n  LIMIT 1\n)\nUPDATE public.stores s\nSET owner_whatsapp_number = '{{ $('Decide Onboarding Route').first().json.chat_id }}',\n    store_id = s.id,\n    onboarding_step = 6\nWHERE s.ctid = (SELECT ctid FROM preferred)\nRETURNING store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number;","options":{}},"id":"onb-save-bootstrap","name":"Save Bootstrap Choice","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,1088],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{},"id":"onb-pass","name":"No DB Change","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1360,1280]},{"parameters":{"jsCode":"const routeCtx = $('Decide Onboarding Route').first().json;\nconst lang = String(routeCtx.user_language || 'en');\nconst OWNER_BUTTON_LABELS = {\n  en: { accept: '✅ Accept', reject: '❌ Reject', mark_ready: '📦 Mark Ready', mark_delivered: '🚚 Delivered', view_orders: '📋 Orders', add_item: '➕ Add Item', edit_item: '✏️ Edit', remove_item: '🗑 Remove', view_inventory: '📦 Inventory', add_promo: '🏷 Add Promo', view_promos: '🏷 Promos', language: '🌐 Language', mark_dispatched: '🚚 Mark Dispatched' },\n  hi: { accept: '✅ स्वीकार', reject: '❌ अस्वीकार', mark_ready: '📦 तैयार', mark_delivered: '🚚 डिलीवर', view_orders: '📋 ऑर्डर', add_item: '➕ जोड़ें', edit_item: '✏️ संपादित', remove_item: '🗑 हटाएं', view_inventory: '📦 इन्वेंटरी', add_promo: '🏷 प्रोमो जोड़ें', view_promos: '🏷 प्रोमो', language: '🌐 भाषा', mark_dispatched: '🚚 भेजा' },\n  te: { accept: '✅ అంగీకరించు', reject: '❌ తిరస్కరించు', mark_ready: '📦 సిద్ధం', mark_delivered: '🚚 డెలివరీ', view_orders: '📋 ఆర్డర్లు', add_item: '➕ జోడించు', edit_item: '✏️ సవరించు', remove_item: '🗑 తొలగించు', view_inventory: '📦 ఇన్వెంటరీ', add_promo: '🏷 ప్రోమో', view_promos: '🏷 ప్రోమోలు', language: '🌐 భాష', mark_dispatched: '🚚 పంపించు' },\n  ta: { accept: '✅ ஏற்கிறேன்', reject: '❌ நிராகரி', mark_ready: '📦 தயார்', mark_delivered: '🚚 டெலிவரி', view_orders: '📋 ஆர்டர்கள்', add_item: '➕ சேர்', edit_item: '✏️ திருத்து', remove_item: '🗑 நீக்கு', view_inventory: '📦 இன்வென்டரி', add_promo: '🏷 ப்ரோமோ', view_promos: '🏷 ப்ரோமோக்கள்', language: '🌐 மொழி', mark_dispatched: '🚚 அனுப்பு' },\n  bn: { accept: '✅ গ্রহণ', reject: '❌ প্রত্যাখ্যান', mark_ready: '📦 প্রস্তুত', mark_delivered: '🚚 ডেলিভারি', view_orders: '📋 অর্ডার', add_item: '➕ যোগ করুন', edit_item: '✏️ সম্পাদনা', remove_item: '🗑 মুছুন', view_inventory: '📦 ইনভেন্টরি', add_promo: '🏷 প্রমো যোগ', view_promos: '🏷 প্রমো', language: '🌐 ভাষা', mark_dispatched: '🚚 পাঠানো' },\n  gu: { accept: '✅ સ્વીકારો', reject: '❌ અસ્વીકાર', mark_ready: '📦 તૈયાર', mark_delivered: '🚚 ડિલિવરી', view_orders: '📋 ઓર્ડર', add_item: '➕ ઉમેરો', edit_item: '✏️ સંપાદિત', remove_item: '🗑 દૂર કરો', view_inventory: '📦 ઇન્વેન્ટરી', add_promo: '🏷 પ્રોમો ઉમેરો', view_promos: '🏷 પ્રોમો', language: '🌐 ભાષા', mark_dispatched: '🚚 મોકલ્યું' },\n  kn: { accept: '✅ ಒಪ್ಪಿಕೊಳ್ಳಿ', reject: '❌ ತಿರಸ್ಕರಿಸಿ', mark_ready: '📦 ಸಿದ್ಧ', mark_delivered: '🚚 ಡೆಲಿವರಿ', view_orders: '📋 ಆರ್ಡರ್', add_item: '➕ ಸೇರಿಸಿ', edit_item: '✏️ ಸಂಪಾದಿಸಿ', remove_item: '🗑 ತೆಗೆದುಹಾಕಿ', view_inventory: '📦 ಇನ್ವೆಂಟರಿ', add_promo: '🏷 ಪ್ರೊಮೊ ಸೇರಿಸಿ', view_promos: '🏷 ಪ್ರೊಮೊ', language: '🌐 ಭಾಷೆ', mark_dispatched: '🚚 ಕಳುಹಿಸಿ' },\n  ml: { accept: '✅ സ്വീകരിക്കൂ', reject: '❌ നിരസിക്കൂ', mark_ready: '📦 തയ്യാർ', mark_delivered: '🚚 ഡെലിവറി', view_orders: '📋 ഓർഡറുകൾ', add_item: '➕ ചേർക്കൂ', edit_item: '✏️ തിരുത്തൂ', remove_item: '🗑 നീക്കൂ', view_inventory: '📦 ഇൻവെന്ററി', add_promo: '🏷 പ്രോമോ', view_promos: '🏷 പ്രോമോകൾ', language: '🌐 ഭാഷ', mark_dispatched: '🚚 അയച്ചു' },\n  or: { accept: '✅ ଗ୍ରହଣ', reject: '❌ ପ୍ରତ୍ୟାଖ୍ୟାନ', mark_ready: '📦 ପ୍ରସ୍ତୁତ', mark_delivered: '🚚 ଡେଲିଭରି', view_orders: '📋 ଅର୍ଡର', add_item: '➕ ଯୋଡ଼ନ୍ତୁ', edit_item: '✏️ ସଂଶୋଧନ', remove_item: '🗑 ହଟାନ୍ତୁ', view_inventory: '📦 ଇନ୍ଭେଣ୍ଟ୍ରି', add_promo: '🏷 ପ୍ରୋମୋ', view_promos: '🏷 ପ୍ରୋମୋ', language: '🌐 ଭାଷା', mark_dispatched: '🚚 ପଠାନ୍ତୁ' },\n  pa: { accept: '✅ ਮਨਜ਼ੂਰ', reject: '❌ ਰੱਦ', mark_ready: '📦 ਤਿਆਰ', mark_delivered: '🚚 ਡਿਲੀਵਰੀ', view_orders: '📋 ਆਰਡਰ', add_item: '➕ ਜੋੜੋ', edit_item: '✏️ ਸੰਪਾਦਿਤ', remove_item: '🗑 ਹਟਾਓ', view_inventory: '📦 ਇਨਵੈਂਟਰੀ', add_promo: '🏷 ਪ੍ਰੋਮੋ ਜੋੜੋ', view_promos: '🏷 ਪ੍ਰੋਮੋ', language: '🌐 ਭਾਸ਼ਾ', mark_dispatched: '🚚 ਭੇਜਿਆ' },\n};\nconst lbl = (lang, key) => (OWNER_BUTTON_LABELS[lang] || OWNER_BUTTON_LABELS['en'])[key] || OWNER_BUTTON_LABELS['en'][key];\n\nconst latest = $input.first().json || {};\nconst store = { ...routeCtx, ...latest };\nconst chatId = routeCtx.chat_id;\nconst isTestMode = routeCtx.test_mode === true;\nconst inventoryCount = Number(store.inventory_count || routeCtx.inventory_count || 0);\n\nconst makeText = (body) => ({ chat_id: chatId, message_type: 'text', body_text: body, test_mode: isTestMode });\nconst makeButtons = (body, buttons) => ({ chat_id: chatId, message_type: 'button', body_text: body, buttons, test_mode: isTestMode });\nconst ownerBootstrapSections = [\n  {\n    title: 'Catalog setup',\n    rows: [\n      { id: 'owner_bootstrap_manual', title: 'Add items manually', description: 'Add a few items in chat' },\n      { id: 'owner_bootstrap_import', title: 'Upload stock sheet', description: 'Stage a file or Google Sheet' },\n      { id: 'owner_bootstrap_skip', title: 'Skip for now', description: 'Finish setup without catalog items yet' },\n    ],\n  },\n];\nconst ownerCatalogSetupSections = [\n  {\n    title: 'Catalog setup',\n    rows: [\n      { id: 'owner_catalog_manual', title: 'Add items manually', description: 'Add a few items in chat' },\n      { id: 'owner_catalog_import', title: 'Upload stock sheet', description: 'Stage a file or Google Sheet' },\n    ],\n  },\n  {\n    title: 'Settings',\n    rows: [\n      { id: 'language_select', title: '🌐 Language', description: 'Change interface language' },\n    ],\n  },\n];\nconst ownerMenuSections = [\n  {\n    title: 'Owner actions',\n    rows: [\n      { id: 'owner_catalog_manual', title: 'Add items manually', description: 'Add a few items in chat' },\n      { id: 'owner_catalog_import', title: 'Upload stock sheet', description: 'Stage a file or Google Sheet' },\n      { id: 'owner_catalog_update', title: 'Update stock/price', description: 'Change stock, price, hide, or show' },\n      { id: 'owner_catalog_discount', title: 'Create discount', description: 'Create a promo with preview first' },\n    ],\n  },\n  {\n    title: 'Settings',\n    rows: [\n      { id: 'language_select', title: '🌐 Language', description: 'Change interface language' },\n    ],\n  },\n];\nconst makeList = (body, listSections) => ({ chat_id: chatId, message_type: 'list', body_text: body, list_sections: listSections, test_mode: isTestMode });\n\nconst STORE_NAME_PROMPT = {\n  en: \"Great! Now, what is your store name?\",\n  hi: \"बढ़िया! अब, आपके स्टोर का नाम क्या है?\",\n  te: \"చాలా బాగుంది! ఇప్పుడు, మీ దుకాణం పేరు ఏమిటి?\",\n  ta: \"நன்று! இப்போது, உங்கள் கடையின் பெயர் என்ன?\",\n  bn: \"দারুণ! এখন, আপনার দোকানের নাম কী?\",\n  mr: \"छान! आता, तुमच्या दुकानाचे नाव काय आहे?\",\n  gu: \"સરસ! હવે, તમારી દુકાનનું નામ શું છે?\",\n  kn: \"ಚೆನ್ನಾಗಿದೆ! ಈಗ, ನಿಮ್ಮ ಅಂಗಡಿಯ ಹೆಸರು ಏನು?\",\n  ml: \"നന്നായി! ഇപ്പോൾ, നിങ്ങളുടെ കടയുടെ പേര് എന്താണ്?\",\n  pa: \"ਵਧੀਆ! ਹੁਣ, ਤੁਹਾਡੀ ਦੁਕਾਨ ਦਾ ਨਾਮ ਕੀ ਹੈ?\",\n  or: \"ଭଲ! ଏବେ, ଆପଣଙ୍କ ଦୋକାନର ନାମ କ'ଣ?\",\n};\n\nconst langSections = [\n  { title: 'Popular Languages', rows: [\n    { id: 'set_lang__en', title: 'English' },\n    { id: 'set_lang__hi', title: 'हिंदी — Hindi' },\n    { id: 'set_lang__te', title: 'తెలుగు — Telugu' },\n    { id: 'set_lang__ta', title: 'தமிழ் — Tamil' },\n    { id: 'set_lang__bn', title: 'বাংলা — Bengali' },\n  ]},\n  { title: 'More Languages', rows: [\n    { id: 'set_lang__mr', title: 'मराठी — Marathi' },\n    { id: 'set_lang__gu', title: 'ગુજરાતી — Gujarati' },\n    { id: 'set_lang__kn', title: 'ಕನ್ನಡ — Kannada' },\n    { id: 'set_lang__ml', title: 'മലയാളം — Malayalam' },\n    { id: 'set_lang__pa', title: 'ਪੰਜਾਬੀ — Punjabi' },\n  ]},\n];\n\nconst route = routeCtx.route;\nconst selectedLang = routeCtx.lang_code || routeCtx.user_language || 'en';\nlet out;\nif (route === 'send_language_list') {\n  out = makeList(\n    \"Welcome to Kirana! 🌟\\nFirst, choose your preferred language:\\n\\nकिराना में आपका स्वागत है! अपनी भाषा चुनें:\",\n    langSections,\n  );\n} else if (route === 'save_language') {\n  const storeName = store.store_name;\n  const promptText = STORE_NAME_PROMPT[selectedLang] || STORE_NAME_PROMPT['en'];\n  out = makeText(promptText);\n} else if (route === 'init_prompt' || route === 'prompt_name') {\n  out = makeText(\"Let's set up your kirana store.\\n\\nWhat should customers see as your store name?\");\n} else if (route === 'save_name' || route === 'prompt_upi') {\n  out = makeText('Store name saved as ' + (store.store_name || routeCtx.store_name_input) + '.\\n\\nWhat is your UPI ID for payments? Example: mystore@upi');\n} else if (route === 'save_upi' || route === 'prompt_area') {\n  out = makeText('UPI saved.\\n\\nWhat delivery area do you serve? You can reply with a locality, pin codes, or both.');\n} else if (route === 'save_area' || route === 'prompt_hours') {\n  out = makeText('Delivery area saved as ' + (store.delivery_area || routeCtx.area_input) + '.\\n\\nWhat are your operating hours? Example: 8am-10pm');\n} else if (route === 'save_hours' || route === 'prompt_bootstrap') {\n  out = makeList(\n    'Hours saved as ' + (store.operating_hours || routeCtx.hours_input) + '.\\n\\nHow would you like to start your catalog setup? For large catalogs, Upload stock sheet supports public Google Sheets links too.',\n    ownerBootstrapSections,\n  );\n} else if (route === 'save_bootstrap') {\n  const choice = routeCtx.bootstrap_choice;\n  let nextStep = 'Choose what you want to do next.';\n  if (choice === 'manual') nextStep = 'Setup complete. Start by adding items manually or choose another catalog action.';\n  if (choice === 'import') nextStep = 'Setup complete. Upload a stock sheet or public Google Sheets link now, or choose another catalog action.';\n  if (choice === 'skip' && inventoryCount <= 0) nextStep = 'Your catalog is empty right now. Start by adding items manually or upload a stock sheet when you are ready. Public Google Sheets links work too.';\n  const sections = inventoryCount <= 0 ? ownerCatalogSetupSections : ownerMenuSections;\n  out = makeList(\n    'Setup complete for ' + (store.store_name || 'your store') + '.\\nUPI: ' + (store.upi_id || 'not set') + '\\nArea: ' + (store.delivery_area || 'not set') + '\\nHours: ' + (store.operating_hours || 'not set') + '\\n\\n' + nextStep,\n    sections,\n  );\n} else if (route === 'unsupported_media') {\n  const step = Number(routeCtx.onboarding_step || 1);\n  const prompts = {\n    1: 'Please reply with your store name as text.',\n    2: 'Please reply with your UPI ID as text.',\n    3: 'Please reply with your delivery area as text.',\n    4: 'Please reply with your operating hours as text.',\n    5: 'Please use the menu or reply with Add items manually, Upload stock sheet, or Skip for now.',\n  };\n  out = makeText(prompts[step] || 'Please continue setup with text replies.');\n} else {\n  const intro = inventoryCount <= 0\n    ? 'Your store is already set up.\\n\\nStore: ' + (store.store_name || 'your store') + '\\nUPI: ' + (store.upi_id || 'not set') + '\\nArea: ' + (store.delivery_area || 'not set') + '\\nHours: ' + (store.operating_hours || 'not set') + '\\n\\nYour catalog is empty right now. Start by adding items manually or upload a stock sheet. Public Google Sheets links work too.'\n    : 'Your store is already set up.\\n\\nStore: ' + (store.store_name || 'your store') + '\\nUPI: ' + (store.upi_id || 'not set') + '\\nArea: ' + (store.delivery_area || 'not set') + '\\nHours: ' + (store.operating_hours || 'not set') + '\\n\\nWhat would you like to do next?';\n  const sections = inventoryCount <= 0 ? ownerCatalogSetupSections : ownerMenuSections;\n  out = makeList(\n    intro,\n    sections,\n  );\n}\n\nreturn [{ json: out }];"},"id":"onb-build","name":"Build Onboarding Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,704]},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT ctid, id, COALESCE(NULLIF(store_id, 0), id) AS store_id, onboarding_step\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} OR id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }})\n     )\n  ORDER BY COALESCE(onboarding_step, 0) DESC, COALESCE(store_id, id, 0) DESC, created_at DESC NULLS LAST\n  LIMIT 1\n), lang_upsert AS (\n  INSERT INTO public.customer_preferences (chat_id, language, updated_at)\n  VALUES ('{{ $('Decide Onboarding Route').first().json.chat_id }}', '{{ $('Decide Onboarding Route').first().json.lang_code }}', NOW())\n  ON CONFLICT (chat_id) DO UPDATE SET language = EXCLUDED.language, updated_at = NOW()\n), store_updated AS (\n  UPDATE public.stores s\n  SET owner_whatsapp_number = '{{ $('Decide Onboarding Route').first().json.chat_id }}',\n      store_id = s.id,\n      onboarding_step = CASE\n        WHEN COALESCE(s.onboarding_step, 0) < 1 THEN 1\n        ELSE s.onboarding_step\n      END\n  WHERE s.ctid = (SELECT ctid FROM preferred)\n  RETURNING id, store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number\n), inserted_raw AS (\n  INSERT INTO public.stores (owner_whatsapp_number, store_name, owner_telegram_chat_id, onboarding_step, created_at)\n  SELECT '{{ $('Decide Onboarding Route').first().json.chat_id }}', 'Pending store ' || RIGHT('{{ $('Decide Onboarding Route').first().json.chat_id }}', 4), 0, 1, NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM preferred)\n  RETURNING ctid\n), inserted AS (\n  UPDATE public.stores s\n  SET store_id = s.id\n  WHERE s.ctid = (SELECT ctid FROM inserted_raw)\n  RETURNING id, store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number\n)\nSELECT * FROM store_updated\nUNION ALL\nSELECT * FROM inserted;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,1472],"id":"onb-save-lang","name":"Save Language","credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"create-pending-store-001","name":"Create Pending Store","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1160,1580],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"parameters":{"operation":"executeQuery","query":"=WITH existing AS (\n  SELECT id, COALESCE(NULLIF(store_id, 0), id) AS store_id, store_name, owner_whatsapp_number, onboarding_step\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g')\n      = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n  LIMIT 1\n), inserted AS (\n  INSERT INTO public.stores (owner_whatsapp_number, store_name, owner_telegram_chat_id, onboarding_step, created_at)\n  SELECT '{{ $('Decide Onboarding Route').first().json.chat_id }}', 'Pending setup', 0, 0, NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM existing)\n  RETURNING id, COALESCE(NULLIF(store_id, 0), id) AS store_id, store_name, owner_whatsapp_number, onboarding_step\n)\nSELECT * FROM existing\nUNION ALL\nSELECT * FROM inserted\nLIMIT 1;","options":{}}},{"id":"onb-send","name":"Send Onboarding Message","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1400,300],"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"mode":"each","options":{}}}],"connections":{"Start":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Get Onboarding State","type":"main","index":0}]]},"Get Onboarding State":{"main":[[{"node":"Decide Onboarding Route","type":"main","index":0}]]},"Decide Onboarding Route":{"main":[[{"node":"Onboarding Action","type":"main","index":0}]]},"Onboarding Action":{"main":[[{"node":"Init Store Row","type":"main","index":0}],[{"node":"Save Store Name","type":"main","index":0}],[{"node":"Save UPI","type":"main","index":0}],[{"node":"Save Delivery Area","type":"main","index":0}],[{"node":"Save Operating Hours","type":"main","index":0}],[{"node":"Save Bootstrap Choice","type":"main","index":0}],[{"node":"No DB Change","type":"main","index":0}],[{"node":"Create Pending Store","type":"main","index":0}],[{"node":"Save Language","type":"main","index":0}]]},"Init Store Row":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Save Store Name":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Save UPI":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Save Delivery Area":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Save Operating Hours":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Save Bootstrap Choice":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"No DB Change":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Save Language":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Create Pending Store":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Build Onboarding Response":{"main":[[{"node":"Send Onboarding Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"9ae5f1fb-bf9a-498c-b557-ff8d4cdc8736","activeVersionId":"9ae5f1fb-bf9a-498c-b557-ff8d4cdc8736","versionCounter":275,"triggerCount":0,"shared":[{"updatedAt":"2026-03-07T08:09:19.296Z","createdAt":"2026-03-07T08:09:19.296Z","role":"workflow:owner","workflowId":"6QnLlMXzIOhgmW6o","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T06:06:47.411Z","createdAt":"2026-03-15T06:06:47.411Z","versionId":"9ae5f1fb-bf9a-498c-b557-ff8d4cdc8736","workflowId":"6QnLlMXzIOhgmW6o","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"onb-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,704]},{"parameters":{"jsCode":"const raw = ($json.tool_input && typeof $json.tool_input === 'object') ? $json.tool_input : $json;\nconst message = String(raw.message || raw.answer || '').trim();\nconst buttonId = String(raw.button_id || '').trim();\nconst rawSourceType = String(raw.source_type || '').trim().toLowerCase();\nconst sourceType = rawSourceType === 'interactive'\n  ? (buttonId ? 'button' : (message ? 'text' : 'button'))\n  : (rawSourceType || (buttonId ? 'button' : 'text'));\nreturn [{ json: { ...raw, chat_id: String(raw.chat_id || ''), message, answer: message, button_id: buttonId, source_type: sourceType, user_language: String(raw.user_language || 'en') } }];"},"id":"onb-normalize","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,704]},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT\n    COALESCE(NULLIF(store_id, 0), id) AS store_id,\n    store_name,\n    onboarding_step,\n    upi_id,\n    delivery_area,\n    operating_hours,\n    owner_whatsapp_number,\n    COALESCE((SELECT COUNT(*)::int FROM public.inventory i WHERE i.store_id = COALESCE(NULLIF(public.stores.store_id, 0), public.stores.id)), 0) AS inventory_count\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Normalize Input').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Normalize Input').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Normalize Input').first().json.store_id || 0) }} OR id = {{ Number($('Normalize Input').first().json.store_id || 0) }})\n     )\n  ORDER BY CASE\n    WHEN {{ Number($('Normalize Input').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Normalize Input').first().json.store_id || 0) }} THEN 0\n    WHEN {{ Number($('Normalize Input').first().json.store_id || 0) }} > 0 AND id = {{ Number($('Normalize Input').first().json.store_id || 0) }} THEN 1\n    WHEN regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Normalize Input').first().json.chat_id }}', '[^0-9]', '', 'g') THEN 2\n    ELSE 2\n  END,\n  COALESCE(onboarding_step, 0) DESC,\n  COALESCE(store_id, id, 0) DESC,\n  created_at DESC NULLS LAST\n  LIMIT 1\n)\n, lang_pref AS (\n  SELECT COALESCE(language, 'en') AS user_language, true AS has_explicit_lang\n  FROM public.customer_preferences\n  WHERE chat_id = {{ $('Normalize Input').first().json.chat_id }}\n  LIMIT 1\n)\nSELECT\n  preferred.*,\n  COALESCE((SELECT user_language FROM lang_pref), 'en') AS user_language,\n  COALESCE((SELECT has_explicit_lang FROM lang_pref), false) AS has_language_pref\nFROM preferred;","options":{}},"id":"onb-getstate","name":"Get Onboarding State","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,704],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const start = $('Normalize Input').first().json;\nconst state = $input.first().json || {};\nconst text = String(start.message || '').trim();\nconst msg = text.toLowerCase();\nconst buttonId = String(start.button_id || '');\nconst rawSourceType = String(start.source_type || '').trim().toLowerCase();\nconst sourceType = rawSourceType === 'interactive'\n  ? (buttonId ? 'button' : (text ? 'text' : 'button'))\n  : (rawSourceType || 'text');\nconst resolvedStoreId = state.store_id || start.store_id || null;\nconst normalizeDigits = (value) => String(value || '').replace(/\\D+/g, '');\nconst hasStateRow = normalizeDigits(state.owner_whatsapp_number) === normalizeDigits(start.chat_id)\n  || !!state.store_name\n  || !!state.upi_id\n  || !!state.delivery_area\n  || !!state.operating_hours\n  || state.onboarding_step !== undefined\n  || !!resolvedStoreId;\nconst step = hasStateRow ? Number(state.onboarding_step || 0) : 0;\nconst complete = step >= 6 && !!state.store_name && !!state.upi_id && !!state.delivery_area && !!state.operating_hours;\nconst bootstrapChoice = buttonId.startsWith('owner_bootstrap_')\n  ? buttonId.replace('owner_bootstrap_', '')\n  : (/^(add items manually|manual|add items)$/i.test(text) ? 'manual'\n    : /^(upload stock sheet|upload inventory|import inventory|import|upload sheet)$/i.test(text) ? 'import'\n    : /^(skip|skip for now|later)$/i.test(text) ? 'skip'\n    : '');\n\nconst hasLanguagePref = state.has_language_pref === true || state.has_language_pref === 't' || state.has_language_pref === 'true' || state.has_language_pref === 1 || state.has_language_pref === '1';\n\nlet route = 'already_done';\nif (!['text', 'button'].includes(sourceType)) {\n  route = 'unsupported_media';\n} else if (buttonId.startsWith('set_lang__') && (!hasStateRow || step === 0)) {\n  // Language button reply before store is set up → save language then prompt for store name\n  route = 'save_language';\n} else if (!hasStateRow || step === 0) {\n  // New owner — check if language already set\n  if (!hasLanguagePref) {\n    route = 'send_language_list';\n  } else {\n    route = (!text || /^(setup|onboard|register|start|start setup)$/i.test(msg)) ? 'init_prompt' : 'save_name';\n  }\n} else if (complete && bootstrapChoice) {\n  route = 'save_bootstrap';\n} else if (complete) {\n  route = 'already_done';\n} else if (step === 1) {\n  route = (!text || /^(setup|onboard|register|start|start setup)$/i.test(msg)) ? 'prompt_name' : 'save_name';\n} else if (step === 2) {\n  route = !text ? 'prompt_upi' : 'save_upi';\n} else if (step === 3) {\n  route = !text ? 'prompt_area' : 'save_area';\n} else if (step === 4) {\n  route = !text ? 'prompt_hours' : 'save_hours';\n} else if (step === 5) {\n  route = bootstrapChoice ? 'save_bootstrap' : 'prompt_bootstrap';\n} else {\n  route = 'already_done';\n}\n\nconst langCode = buttonId.startsWith('set_lang__') ? buttonId.replace('set_lang__', '') : (state.user_language || start.user_language || 'en');\n\nreturn [{ json: {\n  ...start,\n  ...state,\n  store_id: resolvedStoreId,\n  route,\n  bootstrap_choice: bootstrapChoice,\n  store_name_input: text,\n  upi_input: text,\n  area_input: text,\n  hours_input: text,\n  onboarding_complete: complete,\n  lang_code: langCode,\n  user_language: langCode,\n} }];"},"id":"onb-decide","name":"Decide Onboarding Route","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,704]},{"parameters":{"mode":"expression","numberOutputs":9,"output":"={{ $json.route === 'init_prompt' ? 0 : $json.route === 'save_name' ? 1 : $json.route === 'save_upi' ? 2 : $json.route === 'save_area' ? 3 : $json.route === 'save_hours' ? 4 : $json.route === 'save_bootstrap' ? 5 : $json.route === 'send_language_list' ? 7 : $json.route === 'save_language' ? 8 : 6 }}"},"id":"onb-switch","name":"Onboarding Action","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1136,624]},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT ctid, id, COALESCE(NULLIF(store_id, 0), id) AS store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} OR id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }})\n     )\n  ORDER BY CASE\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 0\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 1\n    WHEN regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g') THEN 2\n    ELSE 2\n  END,\n  COALESCE(onboarding_step, 0) DESC,\n  COALESCE(store_id, id, 0) DESC,\n  created_at DESC NULLS LAST\n  LIMIT 1\n), updated AS (\n  UPDATE public.stores s\n  SET owner_whatsapp_number = '{{ $('Decide Onboarding Route').first().json.chat_id }}',\n      store_id = s.id,\n      onboarding_step = CASE\n        WHEN COALESCE(s.onboarding_step, 0) < 1 THEN 1\n        ELSE s.onboarding_step\n      END\n  WHERE s.ctid = (SELECT ctid FROM preferred)\n  RETURNING id, store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number\n), inserted_raw AS (\n  INSERT INTO public.stores (owner_whatsapp_number, store_name, owner_telegram_chat_id, onboarding_step, created_at)\n  SELECT '{{ $('Decide Onboarding Route').first().json.chat_id }}', 'Pending store ' || RIGHT('{{ $('Decide Onboarding Route').first().json.chat_id }}', 4), 0, 1, NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM preferred)\n  RETURNING ctid\n), inserted AS (\n  UPDATE public.stores s\n  SET store_id = s.id\n  WHERE s.ctid = (SELECT ctid FROM inserted_raw)\n  RETURNING id, store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number\n)\nSELECT * FROM updated\nUNION ALL\nSELECT * FROM inserted;","options":{}},"id":"onb-init","name":"Init Store Row","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,128],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT ctid\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} OR id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }})\n     )\n  ORDER BY CASE\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 0\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 1\n    WHEN regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g') THEN 2\n    ELSE 2\n  END,\n  COALESCE(onboarding_step, 0) DESC,\n  COALESCE(store_id, id, 0) DESC,\n  created_at DESC NULLS LAST\n  LIMIT 1\n)\nUPDATE public.stores s\nSET owner_whatsapp_number = '{{ $('Decide Onboarding Route').first().json.chat_id }}',\n    store_id = s.id,\n    store_name = '{{ $('Decide Onboarding Route').first().json.store_name_input.replace(/'/g, \"''\") }}',\n    onboarding_step = 2\nWHERE s.ctid = (SELECT ctid FROM preferred)\nRETURNING store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number;","options":{}},"id":"onb-save-name","name":"Save Store Name","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,320],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT ctid\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} OR id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }})\n     )\n  ORDER BY CASE\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 0\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 1\n    WHEN regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g') THEN 2\n    ELSE 2\n  END,\n  COALESCE(onboarding_step, 0) DESC,\n  COALESCE(store_id, id, 0) DESC,\n  created_at DESC NULLS LAST\n  LIMIT 1\n)\nUPDATE public.stores s\nSET owner_whatsapp_number = '{{ $('Decide Onboarding Route').first().json.chat_id }}',\n    store_id = s.id,\n    upi_id = '{{ $('Decide Onboarding Route').first().json.upi_input.replace(/'/g, \"''\") }}',\n    onboarding_step = 3\nWHERE s.ctid = (SELECT ctid FROM preferred)\nRETURNING store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number;","options":{}},"id":"onb-save-upi","name":"Save UPI","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,512],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT ctid\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} OR id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }})\n     )\n  ORDER BY CASE\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 0\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 1\n    WHEN regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g') THEN 2\n    ELSE 2\n  END,\n  COALESCE(onboarding_step, 0) DESC,\n  COALESCE(store_id, id, 0) DESC,\n  created_at DESC NULLS LAST\n  LIMIT 1\n)\nUPDATE public.stores s\nSET owner_whatsapp_number = '{{ $('Decide Onboarding Route').first().json.chat_id }}',\n    store_id = s.id,\n    delivery_area = '{{ $('Decide Onboarding Route').first().json.area_input.replace(/'/g, \"''\") }}',\n    onboarding_step = 4\nWHERE s.ctid = (SELECT ctid FROM preferred)\nRETURNING store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number;","options":{}},"id":"onb-save-area","name":"Save Delivery Area","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,704],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT ctid\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} OR id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }})\n     )\n  ORDER BY CASE\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 0\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 1\n    WHEN regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g') THEN 2\n    ELSE 2\n  END,\n  COALESCE(onboarding_step, 0) DESC,\n  COALESCE(store_id, id, 0) DESC,\n  created_at DESC NULLS LAST\n  LIMIT 1\n)\nUPDATE public.stores s\nSET owner_whatsapp_number = '{{ $('Decide Onboarding Route').first().json.chat_id }}',\n    store_id = s.id,\n    operating_hours = '{{ $('Decide Onboarding Route').first().json.hours_input.replace(/'/g, \"''\") }}',\n    onboarding_step = 5\nWHERE s.ctid = (SELECT ctid FROM preferred)\nRETURNING store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number;","options":{}},"id":"onb-save-hours","name":"Save Operating Hours","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,896],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT ctid\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} OR id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }})\n     )\n  ORDER BY CASE\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 0\n    WHEN {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0 AND id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} THEN 1\n    WHEN regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g') THEN 2\n    ELSE 2\n  END,\n  COALESCE(onboarding_step, 0) DESC,\n  COALESCE(store_id, id, 0) DESC,\n  created_at DESC NULLS LAST\n  LIMIT 1\n)\nUPDATE public.stores s\nSET owner_whatsapp_number = '{{ $('Decide Onboarding Route').first().json.chat_id }}',\n    store_id = s.id,\n    onboarding_step = 6\nWHERE s.ctid = (SELECT ctid FROM preferred)\nRETURNING store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number;","options":{}},"id":"onb-save-bootstrap","name":"Save Bootstrap Choice","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,1088],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{},"id":"onb-pass","name":"No DB Change","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1360,1280]},{"parameters":{"jsCode":"const routeCtx = $('Decide Onboarding Route').first().json;\nconst lang = String(routeCtx.user_language || 'en');\nconst OWNER_BUTTON_LABELS = {\n  en: { accept: '✅ Accept', reject: '❌ Reject', mark_ready: '📦 Mark Ready', mark_delivered: '🚚 Delivered', view_orders: '📋 Orders', add_item: '➕ Add Item', edit_item: '✏️ Edit', remove_item: '🗑 Remove', view_inventory: '📦 Inventory', add_promo: '🏷 Add Promo', view_promos: '🏷 Promos', language: '🌐 Language', mark_dispatched: '🚚 Mark Dispatched' },\n  hi: { accept: '✅ स्वीकार', reject: '❌ अस्वीकार', mark_ready: '📦 तैयार', mark_delivered: '🚚 डिलीवर', view_orders: '📋 ऑर्डर', add_item: '➕ जोड़ें', edit_item: '✏️ संपादित', remove_item: '🗑 हटाएं', view_inventory: '📦 इन्वेंटरी', add_promo: '🏷 प्रोमो जोड़ें', view_promos: '🏷 प्रोमो', language: '🌐 भाषा', mark_dispatched: '🚚 भेजा' },\n  te: { accept: '✅ అంగీకరించు', reject: '❌ తిరస్కరించు', mark_ready: '📦 సిద్ధం', mark_delivered: '🚚 డెలివరీ', view_orders: '📋 ఆర్డర్లు', add_item: '➕ జోడించు', edit_item: '✏️ సవరించు', remove_item: '🗑 తొలగించు', view_inventory: '📦 ఇన్వెంటరీ', add_promo: '🏷 ప్రోమో', view_promos: '🏷 ప్రోమోలు', language: '🌐 భాష', mark_dispatched: '🚚 పంపించు' },\n  ta: { accept: '✅ ஏற்கிறேன்', reject: '❌ நிராகரி', mark_ready: '📦 தயார்', mark_delivered: '🚚 டெலிவரி', view_orders: '📋 ஆர்டர்கள்', add_item: '➕ சேர்', edit_item: '✏️ திருத்து', remove_item: '🗑 நீக்கு', view_inventory: '📦 இன்வென்டரி', add_promo: '🏷 ப்ரோமோ', view_promos: '🏷 ப்ரோமோக்கள்', language: '🌐 மொழி', mark_dispatched: '🚚 அனுப்பு' },\n  bn: { accept: '✅ গ্রহণ', reject: '❌ প্রত্যাখ্যান', mark_ready: '📦 প্রস্তুত', mark_delivered: '🚚 ডেলিভারি', view_orders: '📋 অর্ডার', add_item: '➕ যোগ করুন', edit_item: '✏️ সম্পাদনা', remove_item: '🗑 মুছুন', view_inventory: '📦 ইনভেন্টরি', add_promo: '🏷 প্রমো যোগ', view_promos: '🏷 প্রমো', language: '🌐 ভাষা', mark_dispatched: '🚚 পাঠানো' },\n  gu: { accept: '✅ સ્વીકારો', reject: '❌ અસ્વીકાર', mark_ready: '📦 તૈયાર', mark_delivered: '🚚 ડિલિવરી', view_orders: '📋 ઓર્ડર', add_item: '➕ ઉમેરો', edit_item: '✏️ સંપાદિત', remove_item: '🗑 દૂર કરો', view_inventory: '📦 ઇન્વેન્ટરી', add_promo: '🏷 પ્રોમો ઉમેરો', view_promos: '🏷 પ્રોમો', language: '🌐 ભાષા', mark_dispatched: '🚚 મોકલ્યું' },\n  kn: { accept: '✅ ಒಪ್ಪಿಕೊಳ್ಳಿ', reject: '❌ ತಿರಸ್ಕರಿಸಿ', mark_ready: '📦 ಸಿದ್ಧ', mark_delivered: '🚚 ಡೆಲಿವರಿ', view_orders: '📋 ಆರ್ಡರ್', add_item: '➕ ಸೇರಿಸಿ', edit_item: '✏️ ಸಂಪಾದಿಸಿ', remove_item: '🗑 ತೆಗೆದುಹಾಕಿ', view_inventory: '📦 ಇನ್ವೆಂಟರಿ', add_promo: '🏷 ಪ್ರೊಮೊ ಸೇರಿಸಿ', view_promos: '🏷 ಪ್ರೊಮೊ', language: '🌐 ಭಾಷೆ', mark_dispatched: '🚚 ಕಳುಹಿಸಿ' },\n  ml: { accept: '✅ സ്വീകരിക്കൂ', reject: '❌ നിരസിക്കൂ', mark_ready: '📦 തയ്യാർ', mark_delivered: '🚚 ഡെലിവറി', view_orders: '📋 ഓർഡറുകൾ', add_item: '➕ ചേർക്കൂ', edit_item: '✏️ തിരുത്തൂ', remove_item: '🗑 നീക്കൂ', view_inventory: '📦 ഇൻവെന്ററി', add_promo: '🏷 പ്രോമോ', view_promos: '🏷 പ്രോമോകൾ', language: '🌐 ഭാഷ', mark_dispatched: '🚚 അയച്ചു' },\n  or: { accept: '✅ ଗ୍ରହଣ', reject: '❌ ପ୍ରତ୍ୟାଖ୍ୟାନ', mark_ready: '📦 ପ୍ରସ୍ତୁତ', mark_delivered: '🚚 ଡେଲିଭରି', view_orders: '📋 ଅର୍ଡର', add_item: '➕ ଯୋଡ଼ନ୍ତୁ', edit_item: '✏️ ସଂଶୋଧନ', remove_item: '🗑 ହଟାନ୍ତୁ', view_inventory: '📦 ଇନ୍ଭେଣ୍ଟ୍ରି', add_promo: '🏷 ପ୍ରୋମୋ', view_promos: '🏷 ପ୍ରୋମୋ', language: '🌐 ଭାଷା', mark_dispatched: '🚚 ପଠାନ୍ତୁ' },\n  pa: { accept: '✅ ਮਨਜ਼ੂਰ', reject: '❌ ਰੱਦ', mark_ready: '📦 ਤਿਆਰ', mark_delivered: '🚚 ਡਿਲੀਵਰੀ', view_orders: '📋 ਆਰਡਰ', add_item: '➕ ਜੋੜੋ', edit_item: '✏️ ਸੰਪਾਦਿਤ', remove_item: '🗑 ਹਟਾਓ', view_inventory: '📦 ਇਨਵੈਂਟਰੀ', add_promo: '🏷 ਪ੍ਰੋਮੋ ਜੋੜੋ', view_promos: '🏷 ਪ੍ਰੋਮੋ', language: '🌐 ਭਾਸ਼ਾ', mark_dispatched: '🚚 ਭੇਜਿਆ' },\n};\nconst lbl = (lang, key) => (OWNER_BUTTON_LABELS[lang] || OWNER_BUTTON_LABELS['en'])[key] || OWNER_BUTTON_LABELS['en'][key];\n\nconst latest = $input.first().json || {};\nconst store = { ...routeCtx, ...latest };\nconst chatId = routeCtx.chat_id;\nconst isTestMode = routeCtx.test_mode === true;\nconst inventoryCount = Number(store.inventory_count || routeCtx.inventory_count || 0);\n\nconst makeText = (body) => ({ chat_id: chatId, message_type: 'text', body_text: body, test_mode: isTestMode });\nconst makeButtons = (body, buttons) => ({ chat_id: chatId, message_type: 'button', body_text: body, buttons, test_mode: isTestMode });\nconst ownerBootstrapSections = [\n  {\n    title: 'Catalog setup',\n    rows: [\n      { id: 'owner_bootstrap_manual', title: 'Add items manually', description: 'Add a few items in chat' },\n      { id: 'owner_bootstrap_import', title: 'Upload stock sheet', description: 'Stage a file or Google Sheet' },\n      { id: 'owner_bootstrap_skip', title: 'Skip for now', description: 'Finish setup without catalog items yet' },\n    ],\n  },\n];\nconst ownerCatalogSetupSections = [\n  {\n    title: 'Catalog setup',\n    rows: [\n      { id: 'owner_catalog_manual', title: 'Add items manually', description: 'Add a few items in chat' },\n      { id: 'owner_catalog_import', title: 'Upload stock sheet', description: 'Stage a file or Google Sheet' },\n    ],\n  },\n  {\n    title: 'Settings',\n    rows: [\n      { id: 'language_select', title: '🌐 Language', description: 'Change interface language' },\n    ],\n  },\n];\nconst ownerMenuSections = [\n  {\n    title: 'Owner actions',\n    rows: [\n      { id: 'owner_catalog_manual', title: 'Add items manually', description: 'Add a few items in chat' },\n      { id: 'owner_catalog_import', title: 'Upload stock sheet', description: 'Stage a file or Google Sheet' },\n      { id: 'owner_catalog_update', title: 'Update stock/price', description: 'Change stock, price, hide, or show' },\n      { id: 'owner_catalog_discount', title: 'Create discount', description: 'Create a promo with preview first' },\n    ],\n  },\n  {\n    title: 'Settings',\n    rows: [\n      { id: 'language_select', title: '🌐 Language', description: 'Change interface language' },\n    ],\n  },\n];\nconst makeList = (body, listSections) => ({ chat_id: chatId, message_type: 'list', body_text: body, list_sections: listSections, test_mode: isTestMode });\n\nconst STORE_NAME_PROMPT = {\n  en: \"Great! Now, what is your store name?\",\n  hi: \"बढ़िया! अब, आपके स्टोर का नाम क्या है?\",\n  te: \"చాలా బాగుంది! ఇప్పుడు, మీ దుకాణం పేరు ఏమిటి?\",\n  ta: \"நன்று! இப்போது, உங்கள் கடையின் பெயர் என்ன?\",\n  bn: \"দারুণ! এখন, আপনার দোকানের নাম কী?\",\n  mr: \"छान! आता, तुमच्या दुकानाचे नाव काय आहे?\",\n  gu: \"સરસ! હવે, તમારી દુકાનનું નામ શું છે?\",\n  kn: \"ಚೆನ್ನಾಗಿದೆ! ಈಗ, ನಿಮ್ಮ ಅಂಗಡಿಯ ಹೆಸರು ಏನು?\",\n  ml: \"നന്നായി! ഇപ്പോൾ, നിങ്ങളുടെ കടയുടെ പേര് എന്താണ്?\",\n  pa: \"ਵਧੀਆ! ਹੁਣ, ਤੁਹਾਡੀ ਦੁਕਾਨ ਦਾ ਨਾਮ ਕੀ ਹੈ?\",\n  or: \"ଭଲ! ଏବେ, ଆପଣଙ୍କ ଦୋକାନର ନାମ କ'ଣ?\",\n};\n\nconst langSections = [\n  { title: 'Popular Languages', rows: [\n    { id: 'set_lang__en', title: 'English' },\n    { id: 'set_lang__hi', title: 'हिंदी — Hindi' },\n    { id: 'set_lang__te', title: 'తెలుగు — Telugu' },\n    { id: 'set_lang__ta', title: 'தமிழ் — Tamil' },\n    { id: 'set_lang__bn', title: 'বাংলা — Bengali' },\n  ]},\n  { title: 'More Languages', rows: [\n    { id: 'set_lang__mr', title: 'मराठी — Marathi' },\n    { id: 'set_lang__gu', title: 'ગુજરાતી — Gujarati' },\n    { id: 'set_lang__kn', title: 'ಕನ್ನಡ — Kannada' },\n    { id: 'set_lang__ml', title: 'മലയാളം — Malayalam' },\n    { id: 'set_lang__pa', title: 'ਪੰਜਾਬੀ — Punjabi' },\n  ]},\n];\n\nconst route = routeCtx.route;\nconst selectedLang = routeCtx.lang_code || routeCtx.user_language || 'en';\nlet out;\nif (route === 'send_language_list') {\n  out = makeList(\n    \"Welcome to Kirana! 🌟\\nFirst, choose your preferred language:\\n\\nकिराना में आपका स्वागत है! अपनी भाषा चुनें:\",\n    langSections,\n  );\n} else if (route === 'save_language') {\n  const storeName = store.store_name;\n  const promptText = STORE_NAME_PROMPT[selectedLang] || STORE_NAME_PROMPT['en'];\n  out = makeText(promptText);\n} else if (route === 'init_prompt' || route === 'prompt_name') {\n  out = makeText(\"Let's set up your kirana store.\\n\\nWhat should customers see as your store name?\");\n} else if (route === 'save_name' || route === 'prompt_upi') {\n  out = makeText('Store name saved as ' + (store.store_name || routeCtx.store_name_input) + '.\\n\\nWhat is your UPI ID for payments? Example: mystore@upi');\n} else if (route === 'save_upi' || route === 'prompt_area') {\n  out = makeText('UPI saved.\\n\\nWhat delivery area do you serve? You can reply with a locality, pin codes, or both.');\n} else if (route === 'save_area' || route === 'prompt_hours') {\n  out = makeText('Delivery area saved as ' + (store.delivery_area || routeCtx.area_input) + '.\\n\\nWhat are your operating hours? Example: 8am-10pm');\n} else if (route === 'save_hours' || route === 'prompt_bootstrap') {\n  out = makeList(\n    'Hours saved as ' + (store.operating_hours || routeCtx.hours_input) + '.\\n\\nHow would you like to start your catalog setup? For large catalogs, Upload stock sheet supports public Google Sheets links too.',\n    ownerBootstrapSections,\n  );\n} else if (route === 'save_bootstrap') {\n  const choice = routeCtx.bootstrap_choice;\n  let nextStep = 'Choose what you want to do next.';\n  if (choice === 'manual') nextStep = 'Setup complete. Start by adding items manually or choose another catalog action.';\n  if (choice === 'import') nextStep = 'Setup complete. Upload a stock sheet or public Google Sheets link now, or choose another catalog action.';\n  if (choice === 'skip' && inventoryCount <= 0) nextStep = 'Your catalog is empty right now. Start by adding items manually or upload a stock sheet when you are ready. Public Google Sheets links work too.';\n  const sections = inventoryCount <= 0 ? ownerCatalogSetupSections : ownerMenuSections;\n  out = makeList(\n    'Setup complete for ' + (store.store_name || 'your store') + '.\\nUPI: ' + (store.upi_id || 'not set') + '\\nArea: ' + (store.delivery_area || 'not set') + '\\nHours: ' + (store.operating_hours || 'not set') + '\\n\\n' + nextStep,\n    sections,\n  );\n} else if (route === 'unsupported_media') {\n  const step = Number(routeCtx.onboarding_step || 1);\n  const prompts = {\n    1: 'Please reply with your store name as text.',\n    2: 'Please reply with your UPI ID as text.',\n    3: 'Please reply with your delivery area as text.',\n    4: 'Please reply with your operating hours as text.',\n    5: 'Please use the menu or reply with Add items manually, Upload stock sheet, or Skip for now.',\n  };\n  out = makeText(prompts[step] || 'Please continue setup with text replies.');\n} else {\n  const intro = inventoryCount <= 0\n    ? 'Your store is already set up.\\n\\nStore: ' + (store.store_name || 'your store') + '\\nUPI: ' + (store.upi_id || 'not set') + '\\nArea: ' + (store.delivery_area || 'not set') + '\\nHours: ' + (store.operating_hours || 'not set') + '\\n\\nYour catalog is empty right now. Start by adding items manually or upload a stock sheet. Public Google Sheets links work too.'\n    : 'Your store is already set up.\\n\\nStore: ' + (store.store_name || 'your store') + '\\nUPI: ' + (store.upi_id || 'not set') + '\\nArea: ' + (store.delivery_area || 'not set') + '\\nHours: ' + (store.operating_hours || 'not set') + '\\n\\nWhat would you like to do next?';\n  const sections = inventoryCount <= 0 ? ownerCatalogSetupSections : ownerMenuSections;\n  out = makeList(\n    intro,\n    sections,\n  );\n}\n\nreturn [{ json: out }];"},"id":"onb-build","name":"Build Onboarding Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,704]},{"parameters":{"operation":"executeQuery","query":"=WITH preferred AS (\n  SELECT ctid, id, COALESCE(NULLIF(store_id, 0), id) AS store_id, onboarding_step\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g') = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n     OR (\n       {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} > 0\n       AND (store_id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }} OR id = {{ Number($('Decide Onboarding Route').first().json.store_id || 0) }})\n     )\n  ORDER BY COALESCE(onboarding_step, 0) DESC, COALESCE(store_id, id, 0) DESC, created_at DESC NULLS LAST\n  LIMIT 1\n), lang_upsert AS (\n  INSERT INTO public.customer_preferences (chat_id, language, updated_at)\n  VALUES ('{{ $('Decide Onboarding Route').first().json.chat_id }}', '{{ $('Decide Onboarding Route').first().json.lang_code }}', NOW())\n  ON CONFLICT (chat_id) DO UPDATE SET language = EXCLUDED.language, updated_at = NOW()\n), store_updated AS (\n  UPDATE public.stores s\n  SET owner_whatsapp_number = '{{ $('Decide Onboarding Route').first().json.chat_id }}',\n      store_id = s.id,\n      onboarding_step = CASE\n        WHEN COALESCE(s.onboarding_step, 0) < 1 THEN 1\n        ELSE s.onboarding_step\n      END\n  WHERE s.ctid = (SELECT ctid FROM preferred)\n  RETURNING id, store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number\n), inserted_raw AS (\n  INSERT INTO public.stores (owner_whatsapp_number, store_name, owner_telegram_chat_id, onboarding_step, created_at)\n  SELECT '{{ $('Decide Onboarding Route').first().json.chat_id }}', 'Pending store ' || RIGHT('{{ $('Decide Onboarding Route').first().json.chat_id }}', 4), 0, 1, NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM preferred)\n  RETURNING ctid\n), inserted AS (\n  UPDATE public.stores s\n  SET store_id = s.id\n  WHERE s.ctid = (SELECT ctid FROM inserted_raw)\n  RETURNING id, store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours, owner_whatsapp_number\n)\nSELECT * FROM store_updated\nUNION ALL\nSELECT * FROM inserted;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,1472],"id":"onb-save-lang","name":"Save Language","credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"create-pending-store-001","name":"Create Pending Store","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1160,1580],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"parameters":{"operation":"executeQuery","query":"=WITH existing AS (\n  SELECT id, COALESCE(NULLIF(store_id, 0), id) AS store_id, store_name, owner_whatsapp_number, onboarding_step\n  FROM public.stores\n  WHERE regexp_replace(COALESCE(owner_whatsapp_number, ''), '[^0-9]', '', 'g')\n      = regexp_replace('{{ $('Decide Onboarding Route').first().json.chat_id }}', '[^0-9]', '', 'g')\n  LIMIT 1\n), inserted AS (\n  INSERT INTO public.stores (owner_whatsapp_number, store_name, owner_telegram_chat_id, onboarding_step, created_at)\n  SELECT '{{ $('Decide Onboarding Route').first().json.chat_id }}', 'Pending setup', 0, 0, NOW()\n  WHERE NOT EXISTS (SELECT 1 FROM existing)\n  RETURNING id, COALESCE(NULLIF(store_id, 0), id) AS store_id, store_name, owner_whatsapp_number, onboarding_step\n)\nSELECT * FROM existing\nUNION ALL\nSELECT * FROM inserted\nLIMIT 1;","options":{}}},{"id":"onb-send","name":"Send Onboarding Message","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1400,300],"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"mode":"each","options":{}}}],"connections":{"Start":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Get Onboarding State","type":"main","index":0}]]},"Get Onboarding State":{"main":[[{"node":"Decide Onboarding Route","type":"main","index":0}]]},"Decide Onboarding Route":{"main":[[{"node":"Onboarding Action","type":"main","index":0}]]},"Onboarding Action":{"main":[[{"node":"Init Store Row","type":"main","index":0}],[{"node":"Save Store Name","type":"main","index":0}],[{"node":"Save UPI","type":"main","index":0}],[{"node":"Save Delivery Area","type":"main","index":0}],[{"node":"Save Operating Hours","type":"main","index":0}],[{"node":"Save Bootstrap Choice","type":"main","index":0}],[{"node":"No DB Change","type":"main","index":0}],[{"node":"Create Pending Store","type":"main","index":0}],[{"node":"Save Language","type":"main","index":0}]]},"Init Store Row":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Save Store Name":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Save UPI":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Save Delivery Area":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Save Operating Hours":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Save Bootstrap Choice":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"No DB Change":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Save Language":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Create Pending Store":{"main":[[{"node":"Build Onboarding Response","type":"main","index":0}]]},"Build Onboarding Response":{"main":[[{"node":"Send Onboarding Message","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-15T06:06:47.539Z","id":2312,"workflowId":"6QnLlMXzIOhgmW6o","versionId":"9ae5f1fb-bf9a-498c-b557-ff8d4cdc8736","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-15T06:06:47.599Z","id":2313,"workflowId":"6QnLlMXzIOhgmW6o","versionId":"9ae5f1fb-bf9a-498c-b557-ff8d4cdc8736","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}