workflows/latest/A5dNcV6x2giM7j8U__Tool-Kirana_Place_order.json
{"updatedAt":"2026-03-08T12:53:42.717Z","createdAt":"2026-03-03T16:54:06.283Z","id":"A5dNcV6x2giM7j8U","name":"[Tool-Kirana]Place order","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[1200,1328],"id":"e587aada-e018-4c3a-8054-2024584c1683","name":"Start"},{"parameters":{"operation":"executeQuery","query":"=SELECT\n    c.cart_id,\n    c.user_id,\n    c.store_id,\n    ci.sku,\n    i.item_name AS original_name,\n    ci.quantity,\n    i.stock,\n    i.unit,\n    ci.price_at_addition AS unit_price\nFROM public.cart_items ci\nJOIN public.inventory i ON ci.sku = i.sku\nJOIN public.carts c ON ci.cart_id = c.cart_id\nWHERE c.user_id = '{{ $json.tool_input.chat_id }}'\nAND c.status = 'active';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1408,1328],"id":"ef5ff3e8-4d17-4a65-9a24-ce4a1006e3ae","name":"Get Active Cart for Checkout","alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"empty-check-1","leftValue":"={{ $input.first() && $input.first().json && $input.first().json.sku ? $input.first().json.sku : '' }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1632,1328],"id":"c011284f-e002-44f4-bc59-c68ee59f918a","name":"Is Checkout Cart Empty?","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const chatId = $('Start').first().json.tool_input.chat_id;\n\nreturn [\n  {\n    json: {\n      confirmation_message: 'Your cart is empty. Please add some items first!',\n      chat_id: chatId,\n      error: true,\n    },\n  },\n];","mode":"runOnceForAllItems"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,1136],"id":"433e7529-ef79-4acd-b3ed-99e01b3752af","name":"Format Empty Cart Error"},{"parameters":{"jsCode":"const startInput = $('Start').first().json.tool_input || {};\nconst chatId = startInput.chat_id;\nconst address = startInput.address;\n\nconst normalizeUnit = (value) => {\n  const map = {\n    kg: 'kg', kilo: 'kg', kilos: 'kg', kilogram: 'kg', kilograms: 'kg',\n    g: 'g', gm: 'g', gram: 'g', grams: 'g',\n    l: 'l', lt: 'l', ltr: 'l', litre: 'l', litres: 'l', liter: 'l', liters: 'l',\n    ml: 'ml', millilitre: 'ml', millilitres: 'ml', milliliter: 'ml', milliliters: 'ml',\n  };\n  return map[String(value || '').toLowerCase().trim()] || String(value || '').toLowerCase().trim() || 'pcs';\n};\nconst formatQty = (value) => Number.isInteger(Number(value)) ? String(Number(value)) : String(Number(Number(value).toFixed(3)));\nconst quantityLabel = (itemName, unit, quantity) => {\n  const lower = String(itemName || '').toLowerCase();\n  const packMatch = lower.match(/(\\d+(?:\\.\\d+)?)\\s*(kg|kilo|kilos|kilogram|kilograms|g|gm|gram|grams|ml|l|lt|ltr|litre|litres|liter|liters|millilitre|millilitres|milliliter|milliliters)\\b/i);\n  if (/\\bloose\\b/.test(lower) && packMatch) {\n    return normalizeUnit(packMatch[2]);\n  }\n  if (packMatch) {\n    return Number(quantity) === 1 ? 'pack' : 'packs';\n  }\n  const normalizedUnit = normalizeUnit(unit);\n  return normalizedUnit || 'pcs';\n};\n\nconst rawCartRows = $('Get Active Cart for Checkout').all();\nconst allItems = [];\nfor (const entry of rawCartRows) {\n  const row = entry && entry.json ? entry.json : null;\n  if (row && row.cart_id) {\n    allItems.push(row);\n  }\n}\n\nif (allItems.length === 0) {\n  return [{\n    json: {\n      confirmation_message: 'Your cart is empty. Please add some items first!',\n      chat_id: chatId,\n      error: true,\n    },\n  }];\n}\n\nconst firstItem = allItems[0];\nconst cartId = firstItem.cart_id;\n\nlet subtotal = 0;\nconst orderItems = [];\nfor (const row of allItems) {\n  const quantity = Number(row.quantity);\n  const unitPrice = parseFloat(row.unit_price);\n  const lineTotal = quantity * unitPrice;\n  subtotal += lineTotal;\n\n  orderItems.push({\n    sku: row.sku,\n    original_name: row.original_name,\n    quantity,\n    unit: row.unit || '',\n    unit_price: unitPrice,\n    line_total: lineTotal,\n    display_quantity_unit: quantityLabel(row.original_name, row.unit, quantity),\n  });\n}\n\nconst promoRowsRaw = $input.all();\nconst promoRows = [];\nfor (const entry of promoRowsRaw) {\n  const row = entry && entry.json ? entry.json : null;\n  if (row && row.promo_code) {\n    promoRows.push(row);\n  }\n}\n\nlet totalDiscount = 0;\nconst appliedPromos = [];\n\nif (promoRows.length > 0) {\n  const promo = promoRows[0];\n  const minCart = parseFloat(promo.min_cart_value || 0);\n\n  if (minCart === 0 || subtotal >= minCart) {\n    let discount = 0;\n    if (promo.discount_type === 'percentage') {\n      discount = parseFloat((subtotal * parseFloat(promo.discount_value) / 100).toFixed(2));\n    } else if (promo.discount_type === 'flat') {\n      discount = parseFloat(Math.min(parseFloat(promo.discount_value), subtotal).toFixed(2));\n    }\n\n    if (discount > 0) {\n      totalDiscount = discount;\n      let description = promo.description;\n      if (!description) {\n        if (promo.discount_type === 'percentage') {\n          description = String(promo.discount_value) + '% off your order';\n        } else {\n          description = 'Rs.' + String(discount) + ' off your order';\n        }\n      }\n\n      appliedPromos.push({\n        code: promo.promo_code,\n        discount,\n        description,\n      });\n    }\n  }\n}\n\nconst finalTotal = parseFloat((subtotal - totalDiscount).toFixed(2));\n\nconst itemLines = orderItems\n  .map((entry) => `- ${entry.original_name} x ${formatQty(entry.quantity)} ${entry.display_quantity_unit} = Rs.${entry.line_total.toFixed(2)}`)\n  .join('\\n');\n\nlet discountLines = '';\nif (appliedPromos.length > 0) {\n  const promoLines = appliedPromos.map((promo) => `  ${promo.code}: -Rs.${promo.discount.toFixed(2)} (${promo.description})`);\n  discountLines = '\\nDiscounts:\\n' + promoLines.join('\\n');\n}\n\n// Promo nudge — show next-tier promo if nothing applied\nlet promoNudge = '';\nif (appliedPromos.length === 0 && promoRows.length > 0) {\n  const p = promoRows[0];\n  const minNeeded = parseFloat(p.min_cart_value || 0);\n  if (minNeeded > 0 && subtotal < minNeeded) {\n    const gap = (minNeeded - subtotal).toFixed(2);\n    const reward = p.discount_type === 'percentage'\n      ? p.discount_value + '% off'\n      : 'Rs.' + p.discount_value + ' off';\n    promoNudge = '\\n💡 Add Rs.' + gap + ' more to get ' + reward + ' (code: ' + p.promo_code + ')';\n  }\n}\n\nconst billMsg =\n  'Order Summary\\n\\n' +\n  itemLines +\n  discountLines +\n  promoNudge +\n  '\\n\\n' +\n  'Deliver to: ' + String(address) + '\\n' +\n  'Subtotal: Rs.' + subtotal.toFixed(2) + '\\n' +\n  (totalDiscount > 0 ? 'You save: Rs.' + totalDiscount.toFixed(2) + '\\n' : '') +\n  'Total Payable: Rs.' + String(finalTotal);\n\nreturn [{\n  json: {\n    order_id: 'ORD-' + String(chatId) + '-' + String(Date.now()),\n    cart_id: cartId,\n    chat_id: chatId,\n    store_id: firstItem.store_id || 1,\n    address,\n    subtotal_before_discounts: subtotal,\n    total_discount_applied: totalDiscount,\n    final_order_total: finalTotal,\n    applied_promos: appliedPromos,\n    items_in_final_order: orderItems,\n    confirmation_message: billMsg,\n    error: false,\n  },\n}];","mode":"runOnceForAllItems"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,1408],"id":"2206f26e-1f4f-4a68-bd95-97de4cf837ab","name":"Calculate Final Order"},{"parameters":{"jsCode":"const d = item.json || {};\n\nif (d.error) {\n  return {\n    json: d,\n  };\n}\n\nconst orderJson = JSON.stringify({\n  order_id: d.order_id,\n  cart_id: d.cart_id,\n  chat_id: d.chat_id,\n  store_id: d.store_id,\n  address: d.address,\n  subtotal_before_discounts: d.subtotal_before_discounts,\n  total_discount_applied: d.total_discount_applied,\n  final_order_total: d.final_order_total,\n  applied_promos: d.applied_promos,\n  items_in_final_order: d.items_in_final_order,\n}).replace(/'/g, \"''\");\n\nreturn {\n  json: {\n    ...d,\n    order_details_json_safe: orderJson,\n  },\n};","mode":"runOnceForEachItem"},"id":"ed1bb909-284b-44d0-a37c-a32a762a017a","name":"Prep Pending Order","type":"n8n-nodes-base.code","typeVersion":2,"position":[2560,1600]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO public.pending_orders (\n  order_id,\n  chat_id,\n  store_id,\n  status,\n  final_order_total,\n  order_details_json,\n  created_at,\n  expires_at\n) VALUES (\n  '{{ $json.order_id }}',\n  {{ $json.chat_id }},\n  {{ $json.store_id }},\n  'awaiting_confirmation',\n  {{ $json.final_order_total }},\n  '{{ $json.order_details_json_safe }}'::jsonb,\n  NOW(),\n  NOW() + INTERVAL '30 minutes'\n)\nON CONFLICT (order_id) DO UPDATE SET\n  status = 'awaiting_confirmation',\n  final_order_total = EXCLUDED.final_order_total,\n  order_details_json = EXCLUDED.order_details_json,\n  expires_at = NOW() + INTERVAL '30 minutes',\n  updated_at = NOW();","options":{}},"id":"d9b4d1dd-c6b9-4021-8158-36b19da79ad9","name":"Save Pending Order","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2800,1600],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000},{"parameters":{"jsCode":"const d = $('Prep Pending Order').first().json || {};\n\nreturn {\n  json: {\n    confirmation_message: d.confirmation_message,\n    chat_id: d.chat_id,\n    error: d.error || false,\n  },\n};","mode":"runOnceForEachItem"},"id":"88e8298c-ba43-48f2-804a-d1f5b5adbfbc","name":"Return Bill","type":"n8n-nodes-base.code","typeVersion":2,"position":[3040,1600]},{"id":"3d34962f-3d37-4337-9f78-503108679629","name":"Get Best Order Promo","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1770,1408],"parameters":{"operation":"executeQuery","query":"SELECT promo_code, discount_type, discount_value, min_cart_value, description\nFROM public.promotions\nWHERE is_active = true\n  AND (valid_from IS NULL OR NOW() >= valid_from)\n  AND (valid_until IS NULL OR NOW() <= valid_until)\nORDER BY priority DESC, discount_value DESC\nLIMIT 1;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000}],"connections":{"Start":{"main":[[{"node":"Get Active Cart for Checkout","type":"main","index":0}]]},"Get Active Cart for Checkout":{"main":[[{"node":"Is Checkout Cart Empty?","type":"main","index":0}]]},"Is Checkout Cart Empty?":{"main":[[{"node":"Format Empty Cart Error","type":"main","index":0}],[{"node":"Get Best Order Promo","type":"main","index":0}]]},"Calculate Final Order":{"main":[[{"node":"Prep Pending Order","type":"main","index":0}]]},"Prep Pending Order":{"main":[[{"node":"Save Pending Order","type":"main","index":0}]]},"Save Pending Order":{"main":[[{"node":"Return Bill","type":"main","index":0}]]},"Get Best Order Promo":{"main":[[{"node":"Calculate Final Order","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e4bfe32e-c07e-4bc8-b295-3fcc234832c4","activeVersionId":"e4bfe32e-c07e-4bc8-b295-3fcc234832c4","versionCounter":111,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T16:54:06.283Z","createdAt":"2026-03-03T16:54:06.283Z","role":"workflow:owner","workflowId":"A5dNcV6x2giM7j8U","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-08T12:53:42.725Z","createdAt":"2026-03-08T12:53:42.725Z","versionId":"e4bfe32e-c07e-4bc8-b295-3fcc234832c4","workflowId":"A5dNcV6x2giM7j8U","nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[1200,1328],"id":"e587aada-e018-4c3a-8054-2024584c1683","name":"Start"},{"parameters":{"operation":"executeQuery","query":"=SELECT\n    c.cart_id,\n    c.user_id,\n    c.store_id,\n    ci.sku,\n    i.item_name AS original_name,\n    ci.quantity,\n    i.stock,\n    i.unit,\n    ci.price_at_addition AS unit_price\nFROM public.cart_items ci\nJOIN public.inventory i ON ci.sku = i.sku\nJOIN public.carts c ON ci.cart_id = c.cart_id\nWHERE c.user_id = '{{ $json.tool_input.chat_id }}'\nAND c.status = 'active';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1408,1328],"id":"ef5ff3e8-4d17-4a65-9a24-ce4a1006e3ae","name":"Get Active Cart for Checkout","alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"empty-check-1","leftValue":"={{ $input.first() && $input.first().json && $input.first().json.sku ? $input.first().json.sku : '' }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1632,1328],"id":"c011284f-e002-44f4-bc59-c68ee59f918a","name":"Is Checkout Cart Empty?","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const chatId = $('Start').first().json.tool_input.chat_id;\n\nreturn [\n  {\n    json: {\n      confirmation_message: 'Your cart is empty. Please add some items first!',\n      chat_id: chatId,\n      error: true,\n    },\n  },\n];","mode":"runOnceForAllItems"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1888,1136],"id":"433e7529-ef79-4acd-b3ed-99e01b3752af","name":"Format Empty Cart Error"},{"parameters":{"jsCode":"const startInput = $('Start').first().json.tool_input || {};\nconst chatId = startInput.chat_id;\nconst address = startInput.address;\n\nconst normalizeUnit = (value) => {\n  const map = {\n    kg: 'kg', kilo: 'kg', kilos: 'kg', kilogram: 'kg', kilograms: 'kg',\n    g: 'g', gm: 'g', gram: 'g', grams: 'g',\n    l: 'l', lt: 'l', ltr: 'l', litre: 'l', litres: 'l', liter: 'l', liters: 'l',\n    ml: 'ml', millilitre: 'ml', millilitres: 'ml', milliliter: 'ml', milliliters: 'ml',\n  };\n  return map[String(value || '').toLowerCase().trim()] || String(value || '').toLowerCase().trim() || 'pcs';\n};\nconst formatQty = (value) => Number.isInteger(Number(value)) ? String(Number(value)) : String(Number(Number(value).toFixed(3)));\nconst quantityLabel = (itemName, unit, quantity) => {\n  const lower = String(itemName || '').toLowerCase();\n  const packMatch = lower.match(/(\\d+(?:\\.\\d+)?)\\s*(kg|kilo|kilos|kilogram|kilograms|g|gm|gram|grams|ml|l|lt|ltr|litre|litres|liter|liters|millilitre|millilitres|milliliter|milliliters)\\b/i);\n  if (/\\bloose\\b/.test(lower) && packMatch) {\n    return normalizeUnit(packMatch[2]);\n  }\n  if (packMatch) {\n    return Number(quantity) === 1 ? 'pack' : 'packs';\n  }\n  const normalizedUnit = normalizeUnit(unit);\n  return normalizedUnit || 'pcs';\n};\n\nconst rawCartRows = $('Get Active Cart for Checkout').all();\nconst allItems = [];\nfor (const entry of rawCartRows) {\n  const row = entry && entry.json ? entry.json : null;\n  if (row && row.cart_id) {\n    allItems.push(row);\n  }\n}\n\nif (allItems.length === 0) {\n  return [{\n    json: {\n      confirmation_message: 'Your cart is empty. Please add some items first!',\n      chat_id: chatId,\n      error: true,\n    },\n  }];\n}\n\nconst firstItem = allItems[0];\nconst cartId = firstItem.cart_id;\n\nlet subtotal = 0;\nconst orderItems = [];\nfor (const row of allItems) {\n  const quantity = Number(row.quantity);\n  const unitPrice = parseFloat(row.unit_price);\n  const lineTotal = quantity * unitPrice;\n  subtotal += lineTotal;\n\n  orderItems.push({\n    sku: row.sku,\n    original_name: row.original_name,\n    quantity,\n    unit: row.unit || '',\n    unit_price: unitPrice,\n    line_total: lineTotal,\n    display_quantity_unit: quantityLabel(row.original_name, row.unit, quantity),\n  });\n}\n\nconst promoRowsRaw = $input.all();\nconst promoRows = [];\nfor (const entry of promoRowsRaw) {\n  const row = entry && entry.json ? entry.json : null;\n  if (row && row.promo_code) {\n    promoRows.push(row);\n  }\n}\n\nlet totalDiscount = 0;\nconst appliedPromos = [];\n\nif (promoRows.length > 0) {\n  const promo = promoRows[0];\n  const minCart = parseFloat(promo.min_cart_value || 0);\n\n  if (minCart === 0 || subtotal >= minCart) {\n    let discount = 0;\n    if (promo.discount_type === 'percentage') {\n      discount = parseFloat((subtotal * parseFloat(promo.discount_value) / 100).toFixed(2));\n    } else if (promo.discount_type === 'flat') {\n      discount = parseFloat(Math.min(parseFloat(promo.discount_value), subtotal).toFixed(2));\n    }\n\n    if (discount > 0) {\n      totalDiscount = discount;\n      let description = promo.description;\n      if (!description) {\n        if (promo.discount_type === 'percentage') {\n          description = String(promo.discount_value) + '% off your order';\n        } else {\n          description = 'Rs.' + String(discount) + ' off your order';\n        }\n      }\n\n      appliedPromos.push({\n        code: promo.promo_code,\n        discount,\n        description,\n      });\n    }\n  }\n}\n\nconst finalTotal = parseFloat((subtotal - totalDiscount).toFixed(2));\n\nconst itemLines = orderItems\n  .map((entry) => `- ${entry.original_name} x ${formatQty(entry.quantity)} ${entry.display_quantity_unit} = Rs.${entry.line_total.toFixed(2)}`)\n  .join('\\n');\n\nlet discountLines = '';\nif (appliedPromos.length > 0) {\n  const promoLines = appliedPromos.map((promo) => `  ${promo.code}: -Rs.${promo.discount.toFixed(2)} (${promo.description})`);\n  discountLines = '\\nDiscounts:\\n' + promoLines.join('\\n');\n}\n\n// Promo nudge — show next-tier promo if nothing applied\nlet promoNudge = '';\nif (appliedPromos.length === 0 && promoRows.length > 0) {\n  const p = promoRows[0];\n  const minNeeded = parseFloat(p.min_cart_value || 0);\n  if (minNeeded > 0 && subtotal < minNeeded) {\n    const gap = (minNeeded - subtotal).toFixed(2);\n    const reward = p.discount_type === 'percentage'\n      ? p.discount_value + '% off'\n      : 'Rs.' + p.discount_value + ' off';\n    promoNudge = '\\n💡 Add Rs.' + gap + ' more to get ' + reward + ' (code: ' + p.promo_code + ')';\n  }\n}\n\nconst billMsg =\n  'Order Summary\\n\\n' +\n  itemLines +\n  discountLines +\n  promoNudge +\n  '\\n\\n' +\n  'Deliver to: ' + String(address) + '\\n' +\n  'Subtotal: Rs.' + subtotal.toFixed(2) + '\\n' +\n  (totalDiscount > 0 ? 'You save: Rs.' + totalDiscount.toFixed(2) + '\\n' : '') +\n  'Total Payable: Rs.' + String(finalTotal);\n\nreturn [{\n  json: {\n    order_id: 'ORD-' + String(chatId) + '-' + String(Date.now()),\n    cart_id: cartId,\n    chat_id: chatId,\n    store_id: firstItem.store_id || 1,\n    address,\n    subtotal_before_discounts: subtotal,\n    total_discount_applied: totalDiscount,\n    final_order_total: finalTotal,\n    applied_promos: appliedPromos,\n    items_in_final_order: orderItems,\n    confirmation_message: billMsg,\n    error: false,\n  },\n}];","mode":"runOnceForAllItems"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,1408],"id":"2206f26e-1f4f-4a68-bd95-97de4cf837ab","name":"Calculate Final Order"},{"parameters":{"jsCode":"const d = item.json || {};\n\nif (d.error) {\n  return {\n    json: d,\n  };\n}\n\nconst orderJson = JSON.stringify({\n  order_id: d.order_id,\n  cart_id: d.cart_id,\n  chat_id: d.chat_id,\n  store_id: d.store_id,\n  address: d.address,\n  subtotal_before_discounts: d.subtotal_before_discounts,\n  total_discount_applied: d.total_discount_applied,\n  final_order_total: d.final_order_total,\n  applied_promos: d.applied_promos,\n  items_in_final_order: d.items_in_final_order,\n}).replace(/'/g, \"''\");\n\nreturn {\n  json: {\n    ...d,\n    order_details_json_safe: orderJson,\n  },\n};","mode":"runOnceForEachItem"},"id":"ed1bb909-284b-44d0-a37c-a32a762a017a","name":"Prep Pending Order","type":"n8n-nodes-base.code","typeVersion":2,"position":[2560,1600]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO public.pending_orders (\n  order_id,\n  chat_id,\n  store_id,\n  status,\n  final_order_total,\n  order_details_json,\n  created_at,\n  expires_at\n) VALUES (\n  '{{ $json.order_id }}',\n  {{ $json.chat_id }},\n  {{ $json.store_id }},\n  'awaiting_confirmation',\n  {{ $json.final_order_total }},\n  '{{ $json.order_details_json_safe }}'::jsonb,\n  NOW(),\n  NOW() + INTERVAL '30 minutes'\n)\nON CONFLICT (order_id) DO UPDATE SET\n  status = 'awaiting_confirmation',\n  final_order_total = EXCLUDED.final_order_total,\n  order_details_json = EXCLUDED.order_details_json,\n  expires_at = NOW() + INTERVAL '30 minutes',\n  updated_at = NOW();","options":{}},"id":"d9b4d1dd-c6b9-4021-8158-36b19da79ad9","name":"Save Pending Order","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2800,1600],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000},{"parameters":{"jsCode":"const d = $('Prep Pending Order').first().json || {};\n\nreturn {\n  json: {\n    confirmation_message: d.confirmation_message,\n    chat_id: d.chat_id,\n    error: d.error || false,\n  },\n};","mode":"runOnceForEachItem"},"id":"88e8298c-ba43-48f2-804a-d1f5b5adbfbc","name":"Return Bill","type":"n8n-nodes-base.code","typeVersion":2,"position":[3040,1600]},{"id":"3d34962f-3d37-4337-9f78-503108679629","name":"Get Best Order Promo","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1770,1408],"parameters":{"operation":"executeQuery","query":"SELECT promo_code, discount_type, discount_value, min_cart_value, description\nFROM public.promotions\nWHERE is_active = true\n  AND (valid_from IS NULL OR NOW() >= valid_from)\n  AND (valid_until IS NULL OR NOW() <= valid_until)\nORDER BY priority DESC, discount_value DESC\nLIMIT 1;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000}],"connections":{"Start":{"main":[[{"node":"Get Active Cart for Checkout","type":"main","index":0}]]},"Get Active Cart for Checkout":{"main":[[{"node":"Is Checkout Cart Empty?","type":"main","index":0}]]},"Is Checkout Cart Empty?":{"main":[[{"node":"Format Empty Cart Error","type":"main","index":0}],[{"node":"Get Best Order Promo","type":"main","index":0}]]},"Calculate Final Order":{"main":[[{"node":"Prep Pending Order","type":"main","index":0}]]},"Prep Pending Order":{"main":[[{"node":"Save Pending Order","type":"main","index":0}]]},"Save Pending Order":{"main":[[{"node":"Return Bill","type":"main","index":0}]]},"Get Best Order Promo":{"main":[[{"node":"Calculate Final Order","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-08T12:53:43.016Z","id":670,"workflowId":"A5dNcV6x2giM7j8U","versionId":"e4bfe32e-c07e-4bc8-b295-3fcc234832c4","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-08T12:53:43.079Z","id":671,"workflowId":"A5dNcV6x2giM7j8U","versionId":"e4bfe32e-c07e-4bc8-b295-3fcc234832c4","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}