workflows/latest/bDVyqI4GJ3cgrDcL__Tool_Place_Order.json
{"updatedAt":"2026-03-06T06:24:05.876Z","createdAt":"2026-03-03T11:21:15.698Z","id":"bDVyqI4GJ3cgrDcL","name":"[Tool] Place Order","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"b5b8aeb0-8263-409d-8fc6-d4f18ac03865","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-976,592]},{"parameters":{"operation":"getAll","tableId":"carts","limit":1,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('Start').first().json.tool_input.chat_id }}"},{"keyName":"status","condition":"eq","keyValue":"active"}]}},"id":"53d792d6-e22b-4759-8fb3-7b14e185c0e7","name":"Get Active Cart","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-736,592],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"conditions":{"options":{"typeValidation":"loose","version":2},"conditions":[{"id":"ci","leftValue":"={{ $json.cart_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"38fe332d-9464-4279-800f-b68a71d12b8c","name":"Cart Has Items?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-496,592]},{"parameters":{"jsCode":"const chatId=$('Start').first().json.tool_input.chat_id;\nreturn[{json:{confirmation_message:'Your cart is empty. Please add some items before checking out.',chat_id:chatId}}];"},"id":"49ac8173-d9ca-45b8-8f76-01fd91f34381","name":"Format Empty Cart Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,432]},{"parameters":{"operation":"getAll","tableId":"cart_items","returnAll":true,"filters":{"conditions":[{"keyName":"cart_id","condition":"eq","keyValue":"={{ $json.cart_id }}"}]}},"id":"01e0906b-57f2-45f6-a29c-d12d25d7d9c7","name":"Get Cart Items","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-256,704],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"operation":"getAll","tableId":"inventory","returnAll":true},"id":"e601e06b-1cf6-48ec-9a3b-97bd91c50e5e","name":"Get Inventory","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-16,704],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"operation":"getAll","tableId":"promotions","returnAll":true,"filters":{"conditions":[{"keyName":"is_active","condition":"eq","keyValue":"true"}]}},"id":"04138e69-3cbe-4ae3-b074-986467cca8cc","name":"Get Active Promotions","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,704],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"jsCode":"const chatId = $('Start').first().json.tool_input.chat_id;\nconst address = $('Start').first().json.tool_input.address || '';\n\nconst cartItems = $('Get Cart Items').all().map(i => i.json).filter(i => i && i.sku);\nconst invMap = {};\n$('Get Inventory').all().forEach(i => { invMap[i.json.sku] = i.json; });\nconst promotions = $('Get Active Promotions').all().map(i => i.json);\n\nconst orderItems = cartItems.map(item => {\n  const p = invMap[item.sku] || {};\n  const qty = parseFloat(item.quantity);\n  const price = parseFloat(item.price_at_addition);\n  return {\n    sku: item.sku,\n    original_name: p.item_name || item.sku,\n    category: p.category || '',\n    quantity: qty,\n    unit: p.unit || '',\n    unit_price: price,\n    line_total: qty * price\n  };\n});\n\nconst subtotal = orderItems.reduce((s, i) => s + i.line_total, 0);\n\nconst now = new Date();\nconst validPromos = promotions.filter(p => {\n  if (!p.is_active) return false;\n  try {\n    if (p.valid_from && now < new Date(p.valid_from)) return false;\n    if (p.valid_until && now > new Date(p.valid_until)) return false;\n  } catch(e) { return false; }\n  return true;\n});\n\nlet totalDiscount = 0;\nconst appliedPromos = [];\n\n// Product-level\nvalidPromos.filter(p => p.promo_scope === 'product').forEach(promo => {\n  const item = orderItems.find(i => i.sku === promo.target_sku);\n  if (!item) return;\n  let discount = 0;\n  if (promo.discount_type === 'percentage') {\n    discount = item.line_total * (Number(promo.discount_value) / 100);\n  } else if (promo.discount_type === 'flat') {\n    discount = Math.min(Number(promo.discount_value), item.line_total);\n  } else if (promo.discount_type === 'bogo') {\n    const freeQty = Math.floor(item.quantity / 3);\n    discount = freeQty * item.unit_price;\n  }\n  if (discount > 0) {\n    totalDiscount += discount;\n    appliedPromos.push({ code: promo.promo_code, description: promo.description, amount: discount });\n  }\n});\n\n// Category-level — flat applied ONCE on category total\nvalidPromos.filter(p => p.promo_scope === 'category').forEach(promo => {\n  const catTotal = orderItems\n    .filter(i => i.category === promo.target_category)\n    .reduce((s, i) => s + i.line_total, 0);\n  if (catTotal === 0) return;\n  let discount = 0;\n  if (promo.discount_type === 'percentage') {\n    discount = catTotal * (Number(promo.discount_value) / 100);\n  } else if (promo.discount_type === 'flat') {\n    discount = Math.min(Number(promo.discount_value), catTotal);\n  }\n  if (discount > 0) {\n    totalDiscount += discount;\n    appliedPromos.push({ code: promo.promo_code, description: promo.description, amount: discount });\n  }\n});\n\n// Order-level — on subtotal after above discounts\nconst afterItemDiscounts = Math.max(0, subtotal - totalDiscount);\nvalidPromos.filter(p => p.promo_scope === 'order').forEach(promo => {\n  let discount = 0;\n  if (promo.discount_type === 'percentage') {\n    discount = afterItemDiscounts * (Number(promo.discount_value) / 100);\n  } else if (promo.discount_type === 'flat') {\n    discount = Math.min(Number(promo.discount_value), afterItemDiscounts);\n  }\n  if (discount > 0) {\n    totalDiscount += discount;\n    appliedPromos.push({ code: promo.promo_code, description: promo.description, amount: discount });\n  }\n});\n\nconst finalTotal = Math.max(0, subtotal - totalDiscount);\nconst cartId = $('Get Active Cart').first().json.cart_id;\nconst orderId = 'ORD-' + chatId + '-' + Date.now();\n\n// order_details_json stores everything — used by payment webhook and kirana notification\nconst orderDetailsJson = {\n  order_id: orderId,\n  chat_id: chatId,\n  address: address,\n  store_id: 1,\n  items_in_final_order: orderItems,\n  subtotal_before_discounts: subtotal,\n  total_discount_applied: totalDiscount,\n  final_order_total: finalTotal,\n  applied_promos: appliedPromos\n};\n\nreturn [{\n  json: {\n    order_id: orderId,\n    cart_id: cartId,\n    chat_id: chatId,\n    address: address,\n    store_id: 1,\n    subtotal: subtotal,\n    total_discount: totalDiscount,\n    final_total: finalTotal,\n    items: orderItems,\n    applied_promos: appliedPromos,\n    order_details_json: JSON.stringify(orderDetailsJson)\n  }\n}];"},"id":"4a74d1e4-f6da-47b8-94b6-92298c83071a","name":"Calculate Order","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,704]},{"parameters":{"tableId":"pending_orders","fieldsUi":{"fieldValues":[{"fieldId":"order_id","fieldValue":"={{ $json.order_id }}"},{"fieldId":"chat_id","fieldValue":"={{ $json.chat_id }}"},{"fieldId":"store_id","fieldValue":"={{ $json.store_id }}"},{"fieldId":"order_details_json","fieldValue":"={{ $json.order_details_json }}"},{"fieldId":"final_order_total","fieldValue":"={{ $json.final_total }}"},{"fieldId":"status","fieldValue":"pending_payment"}]}},"id":"3bb5c3d0-cb98-4bda-8c69-7c065e74714d","name":"Save Pending Order","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[736,704],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"operation":"update","tableId":"carts","filters":{"conditions":[{"keyName":"cart_id","condition":"eq","keyValue":"={{ $('Calculate Order').first().json.cart_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"checked_out"}]}},"id":"908892dd-e10d-4f3d-aca9-d1bad8a09f36","name":"Mark Cart Checked Out","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[992,704],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"jsCode":"function esc(t){return String(t||'').replace(/[_*[\\]()~`>#+\\-=|{}.!]/g,'\\\\$&');}\nconst calc = $('Calculate Order').first().json;\nconst lines = calc.items.map(i => {\n  const unit = i.unit ? ' ' + i.unit : '';\n  return '- ' + esc(i.original_name) + ' x ' + i.quantity + unit + ' = Rs.' + i.line_total.toFixed(2);\n});\nconst promoLines = calc.applied_promos.length > 0\n  ? '\\n' + calc.applied_promos.map(p => esc(p.code) + ': -Rs.' + p.amount.toFixed(2)).join('\\n')\n  : '';\nconst savings = calc.total_discount > 0 ? '\\nTotal Savings: -Rs.' + esc(calc.total_discount.toFixed(2)) : '';\nconst msg =\n  'Order Summary\\n\\n' +\n  lines.join('\\n') +\n  promoLines +\n  '\\n\\nDeliver to: ' + esc(calc.address) +\n  '\\nSubtotal: Rs.' + esc(calc.subtotal.toFixed(2)) +\n  savings +\n  '\\nTotal Payable: Rs.' + esc(calc.final_total.toFixed(2)) +\n  '\\n\\n' + esc('Reply pay to proceed to payment or cancel to cancel.');\nreturn [{ json: { confirmation_message: msg, chat_id: calc.chat_id } }];"},"id":"89523d63-b188-46ee-bc4c-7d6a766378f3","name":"Format Bill","type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,704]}],"connections":{"Start":{"main":[[{"node":"Get Active Cart","type":"main","index":0}]]},"Get Active Cart":{"main":[[{"node":"Cart Has Items?","type":"main","index":0}]]},"Cart Has Items?":{"main":[[{"node":"Get Cart Items","type":"main","index":0}],[{"node":"Format Empty Cart Error","type":"main","index":0}]]},"Get Cart Items":{"main":[[{"node":"Get Inventory","type":"main","index":0}]]},"Get Inventory":{"main":[[{"node":"Get Active Promotions","type":"main","index":0}]]},"Get Active Promotions":{"main":[[{"node":"Calculate Order","type":"main","index":0}]]},"Calculate Order":{"main":[[{"node":"Save Pending Order","type":"main","index":0}]]},"Save Pending Order":{"main":[[{"node":"Mark Cart Checked Out","type":"main","index":0}]]},"Mark Cart Checked Out":{"main":[[{"node":"Format Bill","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7ca4efd7-c9c2-4421-8b5c-b261c0cf6713","activeVersionId":null,"versionCounter":42,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T11:21:15.698Z","createdAt":"2026-03-03T11:21:15.698Z","role":"workflow:owner","workflowId":"bDVyqI4GJ3cgrDcL","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":null}