workflows/latest/bG4n6Snmgv2NLgfE__Notify_Kirana_New_Order.json
{"updatedAt":"2026-03-03T10:04:41.843Z","createdAt":"2026-03-03T09:09:05.727Z","id":"bG4n6Snmgv2NLgfE","name":"[Notify] Kirana New Order","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"80428cbd-e629-455d-bd37-0e65e6757875","name":"Start"},{"parameters":{"jsCode":"const orderDetails = $json;\nconst storeId = orderDetails.store_id;\n\n// Improved escape function for MarkdownV2\nfunction escapeMarkdownV2(text) {\n  const str = String(text || '');\n  return str\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1');\n}\n\n// Format each item line, escaping everything except the quantity and unit\nconst itemLines = (orderDetails.items_in_final_order || []).map(item => {\n  const unit = item.unit ? ` ${escapeMarkdownV2(item.unit)}` : '';\n  return `${escapeMarkdownV2('•')} ${escapeMarkdownV2(item.quantity)}x ${escapeMarkdownV2(item.original_name)}${unit}`;\n}).join('\\n');\n\n// Build the message with consistent formatting and full escaping\nconst message =\n  `🔔 *${escapeMarkdownV2('New Paid Order!')}* 🔔\\n\\n` +\n  `*${escapeMarkdownV2('Order ID:')}* \\\\#${escapeMarkdownV2(orderDetails.order_id)}\\n\\n` +\n  `${escapeMarkdownV2('Please pack the following items:')}\\n\\n` +\n  `${itemLines}\\n\\n` +\n  `*${escapeMarkdownV2('Delivery Address:')}*\\n` +\n  `${escapeMarkdownV2(orderDetails.address)}\\n\\n` +\n  `${escapeMarkdownV2('Please prepare the order for pickup.')}`;\n\nreturn [{\n  json: {\n    message_to_send: message,\n    store_id_to_notify: storeId,\n    parse_mode: 'MarkdownV2'\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,0],"id":"2a6107b8-4764-4be6-8d3b-199179b9339e","name":"Format Kirana Message"},{"parameters":{"chatId":"={{ $items().find(item => item.json.owner_telegram_chat_id !== undefined).json.owner_telegram_chat_id }}","text":"={{ $json.message_to_send }}","additionalFields":{"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1328,32],"id":"2a54428a-a303-4cb9-80ce-66f0a5a38cc1","name":"Send to Kirana Owner","webhookId":"d439984a-52fd-4906-9edf-1a0c820b035e","credentials":{"telegramApi":{"id":"TY52vdf0a6Q2KRpP","name":"Telegram account"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1088,32],"id":"c8228a96-2fe8-4195-925f-fb5ea5f8081f","name":"Merge"}],"connections":{"Start":{"main":[[{"node":"Format Kirana Message","type":"main","index":0}]]},"Format Kirana Message":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Send to Kirana Owner","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"86b5f637-7142-4ec7-abf8-20b4d5cd038c","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T09:09:05.727Z","createdAt":"2026-03-03T09:09:05.727Z","role":"workflow:owner","workflowId":"bG4n6Snmgv2NLgfE","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":null}