workflows/latest/BzjKIsgv1azDH8HG__AI_Tool_Personalized_Promotions_Advisor.json
{"updatedAt":"2026-03-06T06:22:59.352Z","createdAt":"2026-03-03T09:11:18.008Z","id":"BzjKIsgv1azDH8HG","name":"[AI Tool] Personalized Promotions Advisor","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"chat_id\": \"{{ $json.chat_id }}\",\n  \"user_query\": \"{{ $json.user_message }}\",\n  \"current_cart_items\": []\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"83709888-08a1-4a73-aaec-2ea886044a41","name":"Start"},{"parameters":{"promptType":"define","text":"={{ $json.user_query }}","options":{"systemMessage":"=You are 'Dukaan Dost', a world-class, friendly Kirana store assistant. Your main goal is to drive sales by making smart, personalized recommendations.\n\n**Your Process:**\n1.  When the user asks for deals, FIRST use the `ProductKnowledgeBase` tool to understand what products are relevant to their query.\n2.  SECOND, use the `GetActivePromotionsTool` to see all available offers.\n3.  NOW, THINK: Look at the relevant products and the available offers. Find the overlap. For example, if the user mentioned \"party\" and your tool found \"chips\", and you have a \"10% off on Snacks\" promotion, that is a perfect match.\n4.  Craft a natural, persuasive, and friendly message. Do NOT just list the promotions. EXPLAIN your recommendation.\n5.  Your final response should only be the text to send to the user.\n\n**Example Interaction:**\n- User Query: \"I'm having people over, any deals?\"\n- Your Thought Process: \"User mentioned 'people over'. I'll use ProductKnowledgeBase. It returned 'chips', 'soft drinks'. Now I'll use GetActivePromotionsTool. It returned '10% off all beverages' and 'Buy 2 Get 1 Free on Lays'. Perfect match.\"\n- Your Final Response: \"Absolutely! Since you're having people over, you might be interested in our 'Buy 2 Get 1 Free' offer on Lays chips. Plus, all our soft drinks are 10% off today. It's a great combo for a party!\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[320,0],"id":"5336fd46-271a-4c2a-9778-d31a39230eed","name":"Promotions Strategist Agent"},{"parameters":{"modelName":"models/gemini-2.5-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[48,192],"id":"5f2c3255-72a8-4ce7-8754-12f93b32c15f","name":"Google Gemini Chat Model"},{"parameters":{"jsCode":"// This helper function is dedicated to making text safe for Telegram's MarkdownV2.\n// It escapes specific characters that Telegram reserves for formatting.\nfunction escapeMarkdownV2(text) {\n  if (typeof text !== 'string') {\n    return '';\n  }\n  // The characters to escape are: _ * [ ] ( ) ~ ` > # + - = | { } . !\n  // Note: We are NOT escaping the backslash `\\` itself, as we use it for escaping.\n  // We use a regular expression to find any of these characters and prepend a `\\` to them.\n  const charsToEscape = /[_*\\[\\]()~`>#+\\-=|{}.!]/g;\n  return text.replace(charsToEscape, '\\\\$&');\n}\n\n// --- Main Execution Logic ---\n\n// 1. Get the AI's generated message from the previous node's output.\n// The AI Agent node places its final text response in the 'output' property.\nconst aiGeneratedMessage = $json.output;\n\n// 2. Get the chat_id from the initial trigger of this workflow.\nconst initialContext = $items(\"Start\")[0].json;\nconst chatId = initialContext.chat_id;\n\n// 3. Escape the AI-generated message to make it safe for Telegram.\n// This is the crucial step to prevent formatting errors.\nconst safeMessageForTelegram = escapeMarkdownV2(aiGeneratedMessage);\n\n// 4. Return the final data in the standard format that the main\n//    'Kirana_Agent_Conv' workflow is expecting.\nreturn [{\n  json: {\n    // This is the message that will be sent to the user.\n    confirmation_message: safeMessageForTelegram,\n    \n    // This is the user's ID, so the message goes to the right person.\n    chat_id: chatId\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[784,0],"id":"0fd4abf0-fd31-492a-8e58-105d300f3688","name":"Format Final Output"},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to get a list of all currently active promotions and discounts available in the store. You must use this to check which offers can be applied","operation":"executeQuery","query":"SELECT id, promo_code, description, promo_scope, target_sku FROM n8n.promotions WHERE is_active = true AND NOW() BETWEEN valid_from AND valid_until;","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[800,288],"id":"1e70570b-9406-425a-ac52-770c23e932d5","name":"GetActivePromotionsTool"},{"parameters":{"modelName":"models/embedding-001"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[464,512],"id":"2bf7d82c-f603-4784-ac58-261d9b73e305","name":"Query Embedding Model"},{"parameters":{"mode":"retrieve-as-tool","toolName":"ProductKnowledgeBase","toolDescription":"Use this tool to find relevant products based on a user's query. This is your primary source of product knowledge. Use it when the user mentions a category, an event, a type of food, or asks for recommendations","tableName":"inventory_embeddings","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.2,"position":[368,304],"id":"7715828f-4e65-4885-95de-5d3302930093","name":"ProductKnowledgeBase"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chat_id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[192,208],"id":"46ffbd69-6fdb-44f0-9b44-74a02b523925","name":"User Session Memory"}],"connections":{"Start":{"main":[[{"node":"Promotions Strategist Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Promotions Strategist Agent","type":"ai_languageModel","index":0}]]},"Promotions Strategist Agent":{"main":[[{"node":"Format Final Output","type":"main","index":0}]]},"GetActivePromotionsTool":{"ai_tool":[[{"node":"Promotions Strategist Agent","type":"ai_tool","index":0}]]},"Query Embedding Model":{"ai_embedding":[[{"node":"ProductKnowledgeBase","type":"ai_embedding","index":0}]]},"ProductKnowledgeBase":{"ai_tool":[[{"node":"Promotions Strategist Agent","type":"ai_tool","index":0}]]},"User Session Memory":{"ai_memory":[[{"node":"Promotions Strategist Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"60785fd0-dc51-4a1a-9d88-17fe0707a5e2","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T09:11:18.008Z","createdAt":"2026-03-03T09:11:18.008Z","role":"workflow:owner","workflowId":"BzjKIsgv1azDH8HG","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":null}