workflows/latest/CYJsLtqu50ilSYKk__Tool_View_Cart.json
{"updatedAt":"2026-03-06T06:24:42.318Z","createdAt":"2026-03-03T11:18:08.927Z","id":"CYJsLtqu50ilSYKk","name":"[Tool] View Cart","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"20ea7b2f-f749-4174-babf-8451febfdead","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1424,240]},{"parameters":{"operation":"getAll","tableId":"carts","limit":1,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $json.tool_input.chat_id }}"},{"keyName":"status","condition":"eq","keyValue":"active"}]}},"id":"3a99b91a-1f3b-4926-a623-d66b7cb0e1a8","name":"Get Active Cart","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1184,240],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"conditions":{"options":{"typeValidation":"loose","version":2},"conditions":[{"id":"ce","leftValue":"={{ $json.cart_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b6d85d73-8ffa-4c55-8580-82aab94963b2","name":"Cart Exists?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-944,240]},{"parameters":{"jsCode":"const chatId = $('Start').first().json.tool_input.chat_id;\nreturn [{ json: { confirmation_message: 'Your cart is empty! Tell me what you need.', chat_id: chatId } }];"},"id":"1637a5bf-49d1-4b58-9c93-2b3c2e85577b","name":"Format Empty Cart","type":"n8n-nodes-base.code","typeVersion":2,"position":[-704,80]},{"parameters":{"operation":"getAll","tableId":"cart_items","returnAll":true,"filters":{"conditions":[{"keyName":"cart_id","condition":"eq","keyValue":"={{ $json.cart_id }}"}]}},"id":"45fcb3e9-ae5f-4802-8de2-c4fe42bdae30","name":"Get Cart Items","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-704,400],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"operation":"getAll","tableId":"inventory","returnAll":true},"id":"81b2b3b6-98ee-436d-b940-a455324b1875","name":"Get Inventory","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-464,400],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"jsCode":"const chatId = $('Start').first().json.tool_input.chat_id;\nconst invMap = {};\n$('Get Inventory').all().forEach(i => { invMap[i.json.sku] = i.json; });\nconst cartItems = $('Get Cart Items').all().map(i => i.json).filter(i => i && i.sku);\n\nif (!cartItems.length) {\n  return [{ json: { confirmation_message: 'Your cart is empty. Tell me what you need!', chat_id: chatId } }];\n}\n\nlet total = 0;\nconst lines = cartItems.map(item => {\n  const p = invMap[item.sku] || {};\n  const qty = parseFloat(item.quantity);\n  const price = parseFloat(item.price_at_addition);\n  const lt = qty * price;\n  total += lt;\n  const unit = p.unit ? ' ' + p.unit : '';\n  return '- ' + (p.item_name || item.sku) + ' x ' + qty + unit + ' = Rs.' + lt.toFixed(2);\n});\n\nconst msg =\n  'Your Cart:\\n\\n' +\n  lines.join('\\n') +\n  '\\n\\nTotal: Rs.' + total.toFixed(2) +\n  '\\n\\nReply checkout to place your order.';\n\nreturn [{ json: { confirmation_message: msg, chat_id: chatId } }];"},"id":"3e3e852d-0f16-4ad7-a58b-cc8e8a7c897f","name":"Format Cart Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,400]}],"connections":{"Start":{"main":[[{"node":"Get Active Cart","type":"main","index":0}]]},"Get Active Cart":{"main":[[{"node":"Cart Exists?","type":"main","index":0}]]},"Cart Exists?":{"main":[[{"node":"Get Cart Items","type":"main","index":0}],[{"node":"Format Empty Cart","type":"main","index":0}]]},"Get Cart Items":{"main":[[{"node":"Get Inventory","type":"main","index":0}]]},"Get Inventory":{"main":[[{"node":"Format Cart Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f703af0f-74b3-48cd-929e-821c2776638a","activeVersionId":null,"versionCounter":32,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T11:18:08.927Z","createdAt":"2026-03-03T11:18:08.927Z","role":"workflow:owner","workflowId":"CYJsLtqu50ilSYKk","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":null}