workflows/latest/dKmZqMMIOutM73xV__Util_Kirana_Error_Handler.json
{"updatedAt":"2026-03-14T09:51:09.499Z","createdAt":"2026-03-14T09:51:09.499Z","id":"dKmZqMMIOutM73xV","name":"[Util] Kirana Error Handler","description":null,"active":true,"isArchived":false,"nodes":[{"id":"err-trig","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[200,300],"parameters":{}},{"id":"err-ext","name":"Extract Error Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300],"parameters":{"jsCode":"// Extract chat_id from error execution data\nconst errData = $json.execution || {};\nconst workflowId = String(errData.workflowId || '');\nconst errorMsg = String(errData.error?.message || 'Unknown error');\nconst lastNode = String(errData.lastNodeExecuted || '');\n\n// Try to extract chat_id from the error's run data\nlet chatId = '';\ntry {\n  const runData = errData.data?.resultData?.runData || {};\n  // Try Edit Fields first\n  const editItems = runData['Edit Fields'];\n  if (editItems?.[0]?.data?.main?.[0]?.[0]?.json?.chat_id) {\n    chatId = String(editItems[0].data.main[0][0].json.chat_id);\n  }\n  // Try WhatsApp Trigger\n  if (!chatId) {\n    const waItems = runData['WhatsApp Trigger'];\n    if (waItems?.[0]?.data?.main?.[0]?.[0]?.json?.chat_id) {\n      chatId = String(waItems[0].data.main[0][0].json.chat_id);\n    }\n  }\n} catch(e) {}\n\nreturn [{ json: {\n  chat_id: chatId,\n  error_msg: errorMsg,\n  last_node: lastNode,\n  workflow_id: workflowId,\n  has_chat_id: !!chatId,\n} }];"}},{"id":"err-chk","name":"Has Chat ID?","type":"n8n-nodes-base.if","typeVersion":2,"position":[700,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.has_chat_id }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"err-send","name":"Send Fallback WA","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[950,200],"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.chat_id }}","message_type":"text","body_text":"Sorry, something went wrong on our end. Please try again in a moment. 🙏"}}}},{"id":"err-log","name":"Log Error","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[950,450],"parameters":{"operation":"insert","schema":{"__rl":true,"value":"public","mode":"list"},"table":{"__rl":true,"value":"n8n_errors","mode":"list"},"columns":{"mappingMode":"autoMapInputData","value":{}}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Extract Error Data","type":"main","index":0}]]},"Extract Error Data":{"main":[[{"node":"Has Chat ID?","type":"main","index":0}]]},"Has Chat ID?":{"main":[[{"node":"Send Fallback WA","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d9bfef94-c852-47b4-8ac6-64051407ba83","activeVersionId":"d9bfef94-c852-47b4-8ac6-64051407ba83","versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2026-03-14T09:51:09.499Z","createdAt":"2026-03-14T09:51:09.499Z","role":"workflow:owner","workflowId":"dKmZqMMIOutM73xV","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-14T09:51:09.535Z","createdAt":"2026-03-14T09:51:09.535Z","versionId":"d9bfef94-c852-47b4-8ac6-64051407ba83","workflowId":"dKmZqMMIOutM73xV","nodes":[{"id":"err-trig","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[200,300],"parameters":{}},{"id":"err-ext","name":"Extract Error Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,300],"parameters":{"jsCode":"// Extract chat_id from error execution data\nconst errData = $json.execution || {};\nconst workflowId = String(errData.workflowId || '');\nconst errorMsg = String(errData.error?.message || 'Unknown error');\nconst lastNode = String(errData.lastNodeExecuted || '');\n\n// Try to extract chat_id from the error's run data\nlet chatId = '';\ntry {\n  const runData = errData.data?.resultData?.runData || {};\n  // Try Edit Fields first\n  const editItems = runData['Edit Fields'];\n  if (editItems?.[0]?.data?.main?.[0]?.[0]?.json?.chat_id) {\n    chatId = String(editItems[0].data.main[0][0].json.chat_id);\n  }\n  // Try WhatsApp Trigger\n  if (!chatId) {\n    const waItems = runData['WhatsApp Trigger'];\n    if (waItems?.[0]?.data?.main?.[0]?.[0]?.json?.chat_id) {\n      chatId = String(waItems[0].data.main[0][0].json.chat_id);\n    }\n  }\n} catch(e) {}\n\nreturn [{ json: {\n  chat_id: chatId,\n  error_msg: errorMsg,\n  last_node: lastNode,\n  workflow_id: workflowId,\n  has_chat_id: !!chatId,\n} }];"}},{"id":"err-chk","name":"Has Chat ID?","type":"n8n-nodes-base.if","typeVersion":2,"position":[700,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $json.has_chat_id }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"err-send","name":"Send Fallback WA","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[950,200],"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.chat_id }}","message_type":"text","body_text":"Sorry, something went wrong on our end. Please try again in a moment. 🙏"}}}},{"id":"err-log","name":"Log Error","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[950,450],"parameters":{"operation":"insert","schema":{"__rl":true,"value":"public","mode":"list"},"table":{"__rl":true,"value":"n8n_errors","mode":"list"},"columns":{"mappingMode":"autoMapInputData","value":{}}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Extract Error Data","type":"main","index":0}]]},"Extract Error Data":{"main":[[{"node":"Has Chat ID?","type":"main","index":0}]]},"Has Chat ID?":{"main":[[{"node":"Send Fallback WA","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-14T09:54:04.686Z","id":2216,"workflowId":"dKmZqMMIOutM73xV","versionId":"d9bfef94-c852-47b4-8ac6-64051407ba83","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}