workflows/latest/f659jKqfRLnkrCjg__Tool_Add_Items.json
{"updatedAt":"2026-03-14T04:26:49.815Z","createdAt":"2026-03-03T16:50:00.922Z","id":"f659jKqfRLnkrCjg","name":"[Tool] Add Items","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"88012844-0059-4aa1-86ca-f4b6682276df","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-48,2512]},{"parameters":{"operation":"getAll","tableId":"inventory","returnAll":true},"id":"45ff7373-3bc9-4002-9ea3-a5cc72655f06","name":"Get All Active Products","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[192,2512],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"jsCode":"const products = $input.all().map((item) => item.json || {});\nconst input = $('Start').first().json.tool_input || {};\n\nconst EMPTY_RESULT = {\n  sku: null,\n  item_name: null,\n  price: null,\n  stock: 0,\n  unit: null,\n  category: null,\n  is_active: null,\n  resolved_quantity: 0,\n  requested_quantity: Number(input.quantity || 0),\n  requested_measure_unit: null,\n  display_quantity_unit: 'pcs',\n  requested_display: '',\n  alternatives: [],\n  can_fulfill: false,\n  substitution_applied: false,\n  substitution_reason: '',\n  conversion_applied: false,\n  resolver_reason: 'no_match',\n};\n\nconst normalizeSpaces = (value) => String(value || '').replace(/\\s+/g, ' ').trim();\nconst stripTrailingZeros = (value) => {\n  const num = Number(value);\n  if (!Number.isFinite(num)) return String(value || '0');\n  return Number(num.toFixed(3)).toString();\n};\nconst escapeRegex = (value) => String(value || '').replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\nconst UNIT_ALIASES = {\n  kg: 'kg',\n  kilo: 'kg',\n  kilos: 'kg',\n  kilogram: 'kg',\n  kilograms: 'kg',\n  g: 'g',\n  gm: 'g',\n  gram: 'g',\n  grams: 'g',\n  l: 'l',\n  lt: 'l',\n  ltr: 'l',\n  litre: 'l',\n  litres: 'l',\n  liter: 'l',\n  liters: 'l',\n  ml: 'ml',\n  millilitre: 'ml',\n  millilitres: 'ml',\n  milliliter: 'ml',\n  milliliters: 'ml',\n};\n\nconst TOKEN_ALIASES = {\n  doodh: 'milk',\n  dudh: 'milk',\n  dudhh: 'milk',\n  mlk: 'milk',\n  paal: 'milk',\n  pyaaz: 'onion',\n  pyaz: 'onion',\n  piyaz: 'onion',\n  piyaj: 'onion',\n  pyaaj: 'onion',\n  onion: 'onion',\n  onions: 'onion',\n  aloo: 'potato',\n  aaloo: 'potato',\n  aalu: 'potato',\n  tamatar: 'tomato',\n  tamataro: 'tomato',\n  dahi: 'curd',\n  makhan: 'butter',\n  namak: 'salt',\n  cheeni: 'sugar',\n  chawal: 'rice',\n  atta: 'flour',\n  tel: 'oil',\n  chai: 'tea',\n  haldi: 'turmeric',\n  jeera: 'cumin',\n  dhania: 'coriander',\n};\n\nconst STOPWORDS = new Set([\n  'add', 'need', 'want', 'please', 'pls', 'give', 'send', 'deliver', 'delivering',\n  'checkout', 'place', 'order', 'my', 'address', 'home', 'office', 'to', 'at', 'for',\n  'and', 'with', 'of', 'the', 'a', 'an', 'more', 'another', 'set', 'make', 'change',\n  'fresh', 'new', 'usual', 'same', 'item', 'items', 'piece', 'pieces', 'pc', 'pcs',\n  'packet', 'packets', 'pack', 'packs', 'road', 'rd', 'street', 'st', 'lane', 'ln',\n  'block', 'sector', 'nagar', 'city', 'flat', 'apartment', 'apt', 'bengaluru', 'bangalore',\n]);\n\nconst MEASURE_WORDS = new Set(Object.keys(UNIT_ALIASES));\nconst ADDRESS_WORDS = /\\b(road|rd|street|st|lane|ln|sector|block|nagar|city|flat|apartment|apt|bengaluru|bangalore|mumbai|delhi|hyderabad|pune|chennai|kolkata)\\b/i;\n\nconst normalizeUnit = (value) => UNIT_ALIASES[String(value || '').toLowerCase().trim()] || null;\nconst unitKind = (unit) => (unit === 'kg' || unit === 'g') ? 'weight' : (unit === 'l' || unit === 'ml') ? 'volume' : 'count';\nconst toBaseUnits = (amount, unit) => {\n  const normalizedUnit = normalizeUnit(unit) || unit;\n  const numeric = Number(amount);\n  if (!Number.isFinite(numeric)) return null;\n  if (normalizedUnit === 'kg') return numeric * 1000;\n  if (normalizedUnit === 'g') return numeric;\n  if (normalizedUnit === 'l') return numeric * 1000;\n  if (normalizedUnit === 'ml') return numeric;\n  return null;\n};\nconst singularize = (token) => {\n  if (!token) return token;\n  if (token.endsWith('ies') && token.length > 3) return `${token.slice(0, -3)}y`;\n  if (token.endsWith('oes') && token.length > 3) return token.slice(0, -2);\n  if (token.endsWith('ses') && token.length > 3) return token.slice(0, -2);\n  if (token.endsWith('s') && token.length > 3 && !token.endsWith('ss')) return token.slice(0, -1);\n  return token;\n};\n\nconst safeLower = (value) => normalizeSpaces(String(value || '').normalize('NFKC').toLowerCase());\nconst cleanText = (value) => safeLower(value).replace(/[^\\p{L}\\p{N}\\s.&-]+/gu, ' ');\nconst normalizeToken = (token) => {\n  const cleaned = cleanText(token).replace(/[.&-]+/g, ' ').trim();\n  if (!cleaned) return '';\n  const raw = TOKEN_ALIASES[cleaned] || singularize(cleaned);\n  return TOKEN_ALIASES[raw] || raw;\n};\n\nconst extractInlineMeasure = (value) => {\n  const text = cleanText(value);\n  const match = text.match(/(\\d+(?:\\.\\d+)?)\\s*(kg|kilo|kilos|kilogram|kilograms|g|gm|gram|grams|ml|l|lt|ltr|litre|litres|liter|liters|millilitre|millilitres|milliliter|milliliters)\\b/i);\n  if (!match) return null;\n  return {\n    amount: Number(match[1]),\n    unit: normalizeUnit(match[2]),\n    text: match[0],\n  };\n};\n\nconst tokenize = (value) => {\n  const text = cleanText(value)\n    .replace(/\\d+(?:\\.\\d+)?/g, ' ')\n    .replace(/[.&-]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  if (!text) return [];\n\n  return text\n    .split(' ')\n    .map((token) => normalizeToken(token))\n    .filter((token) => token && token.length > 1 && !STOPWORDS.has(token) && !MEASURE_WORDS.has(token));\n};\n\nconst diceCoefficient = (a, b) => {\n  const left = String(a || '');\n  const right = String(b || '');\n  if (!left || !right) return 0;\n  if (left === right) return 1;\n  if (left.length < 2 || right.length < 2) return 0;\n  const pairs = (value) => {\n    const out = [];\n    for (let index = 0; index < value.length - 1; index += 1) {\n      out.push(value.slice(index, index + 2));\n    }\n    return out;\n  };\n  const leftPairs = pairs(left);\n  const rightPairs = pairs(right);\n  const rightCount = new Map();\n  for (const pair of rightPairs) {\n    rightCount.set(pair, (rightCount.get(pair) || 0) + 1);\n  }\n  let overlap = 0;\n  for (const pair of leftPairs) {\n    const count = rightCount.get(pair) || 0;\n    if (count > 0) {\n      overlap += 1;\n      rightCount.set(pair, count - 1);\n    }\n  }\n  return (2 * overlap) / (leftPairs.length + rightPairs.length);\n};\n\nconst parsePackInfo = (itemName, itemUnit) => {\n  const rawName = String(itemName || '');\n  const lower = safeLower(rawName);\n  const measureMatch = lower.match(/(\\d+(?:\\.\\d+)?)\\s*(kg|kilo|kilos|kilogram|kilograms|g|gm|gram|grams|ml|l|lt|ltr|litre|litres|liter|liters|millilitre|millilitres|milliliter|milliliters)\\b/i);\n  if (measureMatch) {\n    return {\n      amount: Number(measureMatch[1]),\n      unit: normalizeUnit(measureMatch[2]),\n      source: 'name',\n    };\n  }\n\n  const unit = normalizeUnit(itemUnit);\n  if (unit && unitKind(unit) !== 'count') {\n    return {\n      amount: 1,\n      unit,\n      source: 'unit',\n    };\n  }\n\n  const loose = /\\bloose\\b/.test(lower);\n  if (loose && unit && unitKind(unit) !== 'count') {\n    return {\n      amount: 1,\n      unit,\n      source: 'loose',\n    };\n  }\n\n  return null;\n};\n\nconst buildQueryInfo = () => {\n  const rawQuery = normalizeSpaces(String(input.product_name || ''));\n  const inlineMeasure = extractInlineMeasure(rawQuery);\n  const explicitUnit = normalizeUnit(input.requested_measure_unit);\n  const requestedUnit = explicitUnit || (inlineMeasure ? inlineMeasure.unit : null);\n  const requestedQuantity = Number(input.quantity ?? (inlineMeasure ? inlineMeasure.amount : 1));\n  const cleanedQuery = normalizeSpaces(\n    inlineMeasure ? rawQuery.replace(new RegExp(escapeRegex(inlineMeasure.text), 'i'), ' ') : rawQuery,\n  );\n  const tokens = tokenize(cleanedQuery);\n  const canonical = tokens.join(' ');\n  const requestedDisplay = requestedUnit\n    ? `${stripTrailingZeros(requestedQuantity)}${requestedUnit}`\n    : stripTrailingZeros(requestedQuantity);\n\n  return {\n    rawQuery,\n    cleanedQuery,\n    tokens,\n    canonical,\n    requestedQuantity,\n    requestedUnit,\n    requestedDisplay,\n  };\n};\n\nconst query = buildQueryInfo();\nif (!query.cleanedQuery) {\n  return [{ json: EMPTY_RESULT }];\n}\n\nconst fuzzyTokenMatch = (token, candidateTokens) => {\n  for (const candidate of candidateTokens) {\n    if (!candidate) continue;\n    if (candidate === token) return true;\n    if (candidate.includes(token) || token.includes(candidate)) return true;\n    if (diceCoefficient(candidate, token) >= 0.72) return true;\n  }\n  return false;\n};\n\nconst buildCandidate = (product) => {\n  const itemName = String(product.item_name || '');\n  const candidateTokens = tokenize(itemName);\n  const candidateCanonical = candidateTokens.join(' ');\n  const stock = Number(product.stock || 0);\n  const isActive = product.is_active === true;\n  const packInfo = parsePackInfo(itemName, product.unit);\n\n  let overlap = 0;\n  for (const token of query.tokens) {\n    if (fuzzyTokenMatch(token, candidateTokens)) overlap += 1;\n  }\n  const overlapRatio = query.tokens.length ? overlap / query.tokens.length : 0;\n  const diceScore = diceCoefficient(query.canonical, candidateCanonical || safeLower(itemName));\n  const containsAllTokens = query.tokens.length > 0 && overlap === query.tokens.length;\n\n  let textScore = overlapRatio * 100 + diceScore * 35;\n  if (candidateCanonical && candidateCanonical === query.canonical) textScore += 70;\n  if (candidateCanonical && query.canonical && (candidateCanonical.startsWith(query.canonical) || query.canonical.startsWith(candidateCanonical))) textScore += 28;\n  if (containsAllTokens) textScore += 25;\n\n  const requestedUnit = query.requestedUnit;\n  let resolvedQuantity = Number(query.requestedQuantity || 0);\n  let compatibleMeasure = !requestedUnit;\n  let conversionApplied = false;\n  let fractionalPack = false;\n  let packaged = /\\b(pack|pkt|bottle|box|pouch|loaf|tetra|carton|dozen|biscuits|soap|shampoo|tea|coffee|bread|milk)\\b/i.test(itemName) || String(product.unit || '').toLowerCase() === 'pcs';\n\n  if (requestedUnit) {\n    const requestBase = toBaseUnits(query.requestedQuantity, requestedUnit);\n    if (packInfo && unitKind(packInfo.unit) === unitKind(requestedUnit)) {\n      const packBase = toBaseUnits(packInfo.amount, packInfo.unit);\n      compatibleMeasure = Number.isFinite(requestBase) && Number.isFinite(packBase) && packBase > 0;\n      if (compatibleMeasure) {\n        resolvedQuantity = requestBase / packBase;\n        if (packaged) {\n          if (Math.abs(resolvedQuantity - Math.round(resolvedQuantity)) < 1e-9) {\n            resolvedQuantity = Math.round(resolvedQuantity);\n          } else {\n            fractionalPack = true;\n            resolvedQuantity = Number(resolvedQuantity.toFixed(3));\n          }\n        } else {\n          resolvedQuantity = Number(resolvedQuantity.toFixed(3));\n        }\n        conversionApplied = true;\n      }\n    } else {\n      const productUnit = normalizeUnit(product.unit);\n      if (productUnit && unitKind(productUnit) === unitKind(requestedUnit)) {\n        compatibleMeasure = true;\n        resolvedQuantity = Number(query.requestedQuantity);\n        conversionApplied = false;\n      } else {\n        compatibleMeasure = false;\n      }\n    }\n  }\n\n  if (!Number.isFinite(resolvedQuantity) || resolvedQuantity <= 0) {\n    resolvedQuantity = Number(query.requestedQuantity || 0);\n  }\n\n  const canFulfill = compatibleMeasure && resolvedQuantity > 0 && resolvedQuantity <= stock + 1e-9 && !(fractionalPack && packaged);\n\n  const availabilityTier = canFulfill && isActive\n    ? 0\n    : canFulfill\n      ? 1\n      : stock > 0 && isActive\n        ? 2\n        : stock > 0\n          ? 3\n          : 4;\n\n  let finalScore = textScore;\n  if (compatibleMeasure) finalScore += 18;\n  else if (requestedUnit) finalScore -= 20;\n  if (isActive) finalScore += 12;\n  else finalScore -= 18;\n  if (stock > 0) finalScore += Math.min(stock, 12);\n  else finalScore -= 18;\n  if (canFulfill) finalScore += 32;\n  if (fractionalPack) finalScore -= 24;\n\n  const displayQuantityUnit = (() => {\n    const lowerName = safeLower(itemName);\n    if (requestedUnit && /\\bloose\\b/.test(lowerName)) return requestedUnit;\n    if (packInfo && unitKind(packInfo.unit) !== 'count' && !/\\bloose\\b/.test(lowerName) && String(product.unit || '').toLowerCase() !== 'pcs') {\n      return resolvedQuantity === 1 ? 'pack' : 'packs';\n    }\n    return String(product.unit || 'pcs').toLowerCase() || 'pcs';\n  })();\n\n  return {\n    product,\n    itemName,\n    stock,\n    isActive,\n    candidateCanonical,\n    textScore,\n    finalScore,\n    overlapRatio,\n    diceScore,\n    containsAllTokens,\n    packInfo,\n    compatibleMeasure,\n    resolvedQuantity,\n    canFulfill,\n    conversionApplied,\n    fractionalPack,\n    packaged,\n    availabilityTier,\n    displayQuantityUnit,\n  };\n};\n\nconst candidates = products.map(buildCandidate);\nconst viable = candidates.filter((candidate) => candidate.textScore >= 48 || candidate.overlapRatio >= 0.55 || candidate.diceScore >= 0.52);\nconst suggestionPool = [...candidates]\n  .filter((candidate) => candidate.textScore >= 28 || candidate.overlapRatio >= 0.35 || candidate.diceScore >= 0.35)\n  .sort((left, right) => right.textScore - left.textScore || right.stock - left.stock || left.itemName.localeCompare(right.itemName));\n\nif (viable.length === 0) {\n  return [{\n    json: {\n      ...EMPTY_RESULT,\n      requested_quantity: query.requestedQuantity,\n      requested_measure_unit: query.requestedUnit,\n      requested_display: query.requestedDisplay,\n      alternatives: suggestionPool.slice(0, 3).map((candidate) => ({\n        item_name: candidate.itemName,\n        stock: candidate.stock,\n        price: Number(candidate.product.price || 0),\n      })),\n    },\n  }];\n}\n\nconst lexicalTop = [...viable].sort((left, right) => right.textScore - left.textScore || left.availabilityTier - right.availabilityTier || right.stock - left.stock)[0];\nconst ranked = [...viable].sort((left, right) => {\n  if (left.availabilityTier !== right.availabilityTier) return left.availabilityTier - right.availabilityTier;\n  if (Math.abs(left.finalScore - right.finalScore) > 1e-9) return right.finalScore - left.finalScore;\n  if (left.fractionalPack !== right.fractionalPack) return left.fractionalPack ? 1 : -1;\n  if (left.stock !== right.stock) return right.stock - left.stock;\n  if (Number(left.product.price || 0) !== Number(right.product.price || 0)) return Number(left.product.price || 0) - Number(right.product.price || 0);\n  return left.itemName.localeCompare(right.itemName);\n});\n\nconst best = ranked[0];\nconst substitutionApplied = Boolean(lexicalTop && lexicalTop.product.sku !== best.product.sku);\nlet substitutionReason = '';\nif (substitutionApplied && lexicalTop) {\n  if (Number(lexicalTop.stock || 0) <= 0 || lexicalTop.isActive !== true) {\n    substitutionReason = `Used ${best.itemName} because ${lexicalTop.itemName} is unavailable right now.`;\n  } else {\n    substitutionReason = `Used ${best.itemName} because it is the closest match I can fulfil right now.`;\n  }\n}\n\nreturn [{\n  json: {\n    sku: best.product.sku,\n    item_name: best.itemName,\n    price: best.product.price,\n    stock: best.stock,\n    unit: best.product.unit,\n    category: best.product.category,\n    is_active: best.product.is_active,\n    resolved_quantity: Number(best.resolvedQuantity),\n    requested_quantity: Number(query.requestedQuantity),\n    requested_measure_unit: query.requestedUnit,\n    display_quantity_unit: best.displayQuantityUnit,\n    requested_display: query.requestedDisplay,\n    can_fulfill: best.canFulfill,\n    substitution_applied: substitutionApplied,\n    substitution_reason: substitutionReason,\n    conversion_applied: Boolean(query.requestedUnit && best.compatibleMeasure),\n    resolver_reason: best.canFulfill ? 'matched_in_stock' : best.stock > 0 ? 'insufficient_stock' : 'matched_out_of_stock',\n    alternatives: ranked.slice(1, 4).map((candidate) => ({\n      item_name: candidate.itemName,\n      stock: candidate.stock,\n      price: Number(candidate.product.price || 0),\n    })),\n  },\n}];\n"},"id":"0a60f031-718a-47f8-a52a-bd49e49a16c2","name":"Find Best Match","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,2512]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"pf","leftValue":"={{ $json.sku }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"61109205-ef19-4926-b5cb-41f32068f95c","name":"Product Found?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,2512]},{"parameters":{"jsCode":"const input = $('Start').first().json.tool_input || {};\nconst match = $('Find Best Match').first().json || {};\nconst alternatives = Array.isArray(match.alternatives) ? match.alternatives : [];\n\nlet message = `Sorry, I could not find \"${input.product_name}\" in our store.`;\nif (alternatives.length > 0) {\n  const suggestions = alternatives\n    .map((item) => `${item.item_name}${Number(item.stock || 0) > 0 ? '' : ' (out of stock)'}`)\n    .join(', ');\n  message += ` Closest matches: ${suggestions}.`;\n}\nmessage += ' Try a different name or add a brand/size.';\n\nreturn [{\n  json: {\n    confirmation_message: message,\n    chat_id: input.chat_id,\n  },\n}];\n"},"id":"44da7cee-7876-42b4-8d37-8623d2a26ab6","name":"Format Not Found","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,2048]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"ir","leftValue":"={{ Number($('Start').first().json.tool_input.quantity) }}","rightValue":0,"operator":{"type":"number","operation":"equals"}},{"id":"mode-remove","leftValue":"={{ ($('Start').first().json.tool_input.mode || '').toLowerCase() }}","rightValue":"remove","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"f1acac18-3f69-47bc-a2c3-69805f0301d5","name":"Is Remove?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,2624]},{"parameters":{"operation":"executeQuery","query":"=DELETE FROM public.cart_items \nWHERE cart_id = (\n  SELECT cart_id FROM public.carts \n  WHERE user_id = {{ $('Start').first().json.tool_input.chat_id }} \n  AND status = 'active' \n  LIMIT 1\n) \nAND sku = '{{ $('Find Best Match').first().json.sku }}';","options":{}},"id":"332d0e38-8bdf-43f8-99de-6599c97a9d72","name":"Remove Cart Item","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1168,2432],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const input = $('Start').first().json.tool_input;\nconst product = $('Find Best Match').first().json;\nconst runningTotal = Number($('Get Cart Total After Remove').first().json.running_total || 0);\n\nconst unit = product.unit ? ' ' + product.unit : '';\nlet msg = 'Removed from cart\\n\\n• ' + product.item_name + ' from your cart.';\nmsg += '\\n\\nCart total: ₹' + runningTotal.toFixed(0);\n\nreturn [{ json: { confirmation_message: msg, chat_id: input.chat_id } }];"},"id":"c48dd960-811a-47ea-9519-43c5677e4724","name":"Format Remove Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,2432]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"es","leftValue":"={{ Number($('Find Best Match').first().json.resolved_quantity || $('Start').first().json.tool_input.quantity) }}","rightValue":"={{ Number($('Find Best Match').first().json.stock) }}","operator":{"type":"number","operation":"lte"}},{"id":"qty-min","leftValue":"={{ Number($('Find Best Match').first().json.resolved_quantity || $('Start').first().json.tool_input.quantity) }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"c1a5ad63-3c07-46c2-9dc4-33791d5887f0","name":"Enough Stock?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1168,2720]},{"parameters":{"jsCode":"const input = $('Start').first().json.tool_input || {};\nconst match = $('Find Best Match').first().json || {};\nconst alternatives = Array.isArray(match.alternatives) ? match.alternatives : [];\nconst requestedUnit = String(match.requested_measure_unit || '').trim();\nconst requestedQty = Number(match.requested_quantity || input.quantity || 0);\nconst stock = Number(match.stock || 0);\nconst availableLabel = requestedUnit && stock > 0\n  ? `${stock} ${requestedUnit}`\n  : `${stock} ${stock === 1 ? 'unit' : 'units'}`;\n\nlet message;\nif (stock > 0) {\n  message = `Sorry, I can only fulfil up to ${availableLabel} of ${match.item_name || input.product_name} right now.`;\n} else {\n  message = `Sorry, ${match.item_name || input.product_name} is currently out of stock.`;\n}\n\nif (requestedUnit && requestedQty > 0) {\n  message += ` You asked for ${requestedQty}${requestedUnit}.`;\n}\n\nif (alternatives.length > 0) {\n  const suggestionText = alternatives\n    .map((item) => `${item.item_name}${Number(item.stock || 0) > 0 ? '' : ' (out of stock)'}`)\n    .join(', ');\n  message += ` Closest available options: ${suggestionText}.`;\n}\n\nmessage += ' Send another item or try a different size.';\n\nreturn [{\n  json: {\n    confirmation_message: message,\n    chat_id: input.chat_id,\n  },\n}];\n","mode":"runOnceForAllItems"},"id":"c2f2aecc-2442-4285-9774-b9d36bec3d3a","name":"Format Out Of Stock","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,2320]},{"parameters":{"operation":"executeQuery","query":"=-- Expire stale carts (>6 hours inactive)\nUPDATE public.carts\nSET status = 'expired'\nWHERE user_id = {{ $('Start').first().json.tool_input.chat_id }}\n  AND status = 'active'\n  AND COALESCE(last_activity_at, created_at) < NOW() - INTERVAL '6 hours';\n\n-- Create new active cart if none exists\nINSERT INTO public.carts (user_id, store_id, status, last_activity_at)\nSELECT {{ $('Start').first().json.tool_input.chat_id }}, 1, 'active', NOW()\nWHERE NOT EXISTS (\n  SELECT 1 FROM public.carts\n  WHERE user_id = {{ $('Start').first().json.tool_input.chat_id }} AND status = 'active'\n);\n\n-- Touch last_activity_at\nUPDATE public.carts SET last_activity_at = NOW()\nWHERE user_id = {{ $('Start').first().json.tool_input.chat_id }} AND status = 'active';\n\n-- Return cart_id\nSELECT cart_id FROM public.carts\nWHERE user_id = {{ $('Start').first().json.tool_input.chat_id }} AND status = 'active'\nLIMIT 1;","options":{}},"id":"8ddb0a96-67d5-41d7-91c5-65533bfe590f","name":"Upsert Cart","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1424,2640],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO public.cart_items (cart_id, sku, quantity, price_at_addition) \nVALUES (\n  '{{ $json.cart_id }}', \n  '{{ $('Find Best Match').first().json.sku }}', \n  {{ Number($('Find Best Match').first().json.resolved_quantity || $('Start').first().json.tool_input.quantity || 0) }}, \n  {{ $('Find Best Match').first().json.price }}\n) \nON CONFLICT (cart_id, sku) \nDO UPDATE SET \n  quantity = CASE \n    WHEN '{{ (($('Start').first().json.tool_input.mode || 'set').toLowerCase()) }}' = 'set'\n    THEN LEAST(EXCLUDED.quantity, {{ Number($('Find Best Match').first().json.stock || 0) }})\n    ELSE LEAST(cart_items.quantity + EXCLUDED.quantity, {{ Number($('Find Best Match').first().json.stock || 0) }})\n  END,\n  price_at_addition = EXCLUDED.price_at_addition;","options":{}},"id":"f8688735-8e9d-4b25-bba7-f8e74409ef3b","name":"Upsert Cart Item","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1696,2640],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT ci.sku, ci.quantity, ci.price_at_addition \nFROM public.cart_items ci \nJOIN public.carts c ON ci.cart_id = c.cart_id \nWHERE c.user_id = {{ $('Start').first().json.tool_input.chat_id }} \nAND c.status = 'active';","options":{}},"id":"5ad00510-4c2b-439a-8ed1-10373285aa2f","name":"Get Cart Items After Add","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1952,2640],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const input = $('Start').first().json.tool_input;\nconst product = $('Find Best Match').first().json;\n\nconst cartItems = $('Get Cart Items After Add')\n  .all()\n  .map((entry) => entry.json)\n  .filter((entry) => entry && entry.sku);\n\nlet runningTotal = 0;\nfor (const entry of cartItems) {\n  runningTotal += parseFloat(entry.quantity) * parseFloat(entry.price_at_addition);\n}\n\nconst payload = {\n  runningTotal,\n  chat_id: input.chat_id,\n  sku: product.sku,\n  cart_total: runningTotal,\n};\n\nreturn [\n  {\n    json: payload,\n  },\n];","mode":"runOnceForAllItems"},"id":"f5fb1fce-17fc-46e5-b1ac-0a8184e192fa","name":"Build Cart Total","type":"n8n-nodes-base.code","typeVersion":2,"position":[2464,2640]},{"parameters":{"jsCode":"const input = $('Start').first().json.tool_input;\nconst product = $('Find Best Match').first().json;\nconst qty = parseFloat(input.quantity);\nconst price = parseFloat(product.price);\nconst lineTotal = (qty * price).toFixed(0);\nconst unit = product.unit ? ' ' + product.unit : '';\nconst runningTotal = $('Build Cart Total').first().json.runningTotal;\nconst mode = (input.mode || 'add').toLowerCase();\nconst remainingStock = Number(product.stock) - qty;\nlet stockWarn = '';\nif (remainingStock > 0 && remainingStock <= 3) {\n  stockWarn = '\\n\\n⚠️ Only ' + remainingStock + ' ' + (product.unit || 'units') + ' of ' + product.item_name + ' left!';\n}\nlet bodyText;\nif (mode === 'remove') {\n  bodyText = 'Removed from cart\\n\\n• ' + product.item_name + ' × ' + qty + unit + stockWarn;\n} else {\n  bodyText = '✅ Added to cart\\n\\n• ' + product.item_name + ' × ' + qty + unit + ' — ₹' + lineTotal + stockWarn;\n}\nbodyText += '\\n\\nCart total: ₹' + runningTotal.toFixed(0);\nreturn [{ json: {\n  confirmation_message: bodyText,\n  chat_id: input.chat_id,\n  customer_ui_state: 'CART_ACTIVE',\n  message_type: 'button',\n  body_text: bodyText,\n  buttons: [\n    { id: 'view_cart', title: '🛒 View Cart' },\n    { id: 'checkout', title: '✓ Checkout' },\n  ],\n} }];"},"id":"189e0e55-d590-4dc8-b6b4-a303172c8a45","name":"Format Add Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,2640]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"stock-check","leftValue":"={{ $json.stock }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"17e3163d-8626-426b-81d6-5dfac2e37fee","name":"Is In Stock?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,2512]},{"id":"da5c7f9b-f676-4623-8502-57bb10f1b51a","name":"Get Cart Total After Remove","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1424,2320],"parameters":{"operation":"executeQuery","query":"=SELECT COALESCE(SUM(ci.quantity * ci.price_at_addition), 0) AS running_total\nFROM public.cart_items ci\nJOIN public.carts c ON ci.cart_id = c.cart_id\nWHERE c.user_id = {{ $('Start').first().json.tool_input.chat_id }}\nAND c.status = 'active';","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true}],"connections":{"Start":{"main":[[{"node":"Get All Active Products","type":"main","index":0}]]},"Get All Active Products":{"main":[[{"node":"Find Best Match","type":"main","index":0}]]},"Find Best Match":{"main":[[{"node":"Product Found?","type":"main","index":0}]]},"Product Found?":{"main":[[{"node":"Is In Stock?","type":"main","index":0}],[{"node":"Format Not Found","type":"main","index":0}]]},"Is Remove?":{"main":[[{"node":"Remove Cart Item","type":"main","index":0}],[{"node":"Enough Stock?","type":"main","index":0}]]},"Enough Stock?":{"main":[[{"node":"Upsert Cart","type":"main","index":0}],[{"node":"Format Out Of Stock","type":"main","index":0}]]},"Upsert Cart":{"main":[[{"node":"Upsert Cart Item","type":"main","index":0}]]},"Upsert Cart Item":{"main":[[{"node":"Get Cart Items After Add","type":"main","index":0}]]},"Get Cart Items After Add":{"main":[[{"node":"Build Cart Total","type":"main","index":0}]]},"Is In Stock?":{"main":[[{"node":"Is Remove?","type":"main","index":0}],[{"node":"Format Out Of Stock","type":"main","index":0}]]},"Remove Cart Item":{"main":[[{"node":"Get Cart Total After Remove","type":"main","index":0}]]},"Build Cart Total":{"main":[[{"node":"Format Add Success","type":"main","index":0}]]},"Get Cart Total After Remove":{"main":[[{"node":"Format Remove Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"224298be-63c5-416a-bd3c-39efb5f9d6b4","activeVersionId":"224298be-63c5-416a-bd3c-39efb5f9d6b4","versionCounter":131,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T16:50:00.922Z","createdAt":"2026-03-03T16:50:00.922Z","role":"workflow:owner","workflowId":"f659jKqfRLnkrCjg","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-14T04:26:49.823Z","createdAt":"2026-03-14T04:26:49.823Z","versionId":"224298be-63c5-416a-bd3c-39efb5f9d6b4","workflowId":"f659jKqfRLnkrCjg","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"88012844-0059-4aa1-86ca-f4b6682276df","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-48,2512]},{"parameters":{"operation":"getAll","tableId":"inventory","returnAll":true},"id":"45ff7373-3bc9-4002-9ea3-a5cc72655f06","name":"Get All Active Products","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[192,2512],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"jsCode":"const products = $input.all().map((item) => item.json || {});\nconst input = $('Start').first().json.tool_input || {};\n\nconst EMPTY_RESULT = {\n  sku: null,\n  item_name: null,\n  price: null,\n  stock: 0,\n  unit: null,\n  category: null,\n  is_active: null,\n  resolved_quantity: 0,\n  requested_quantity: Number(input.quantity || 0),\n  requested_measure_unit: null,\n  display_quantity_unit: 'pcs',\n  requested_display: '',\n  alternatives: [],\n  can_fulfill: false,\n  substitution_applied: false,\n  substitution_reason: '',\n  conversion_applied: false,\n  resolver_reason: 'no_match',\n};\n\nconst normalizeSpaces = (value) => String(value || '').replace(/\\s+/g, ' ').trim();\nconst stripTrailingZeros = (value) => {\n  const num = Number(value);\n  if (!Number.isFinite(num)) return String(value || '0');\n  return Number(num.toFixed(3)).toString();\n};\nconst escapeRegex = (value) => String(value || '').replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n\nconst UNIT_ALIASES = {\n  kg: 'kg',\n  kilo: 'kg',\n  kilos: 'kg',\n  kilogram: 'kg',\n  kilograms: 'kg',\n  g: 'g',\n  gm: 'g',\n  gram: 'g',\n  grams: 'g',\n  l: 'l',\n  lt: 'l',\n  ltr: 'l',\n  litre: 'l',\n  litres: 'l',\n  liter: 'l',\n  liters: 'l',\n  ml: 'ml',\n  millilitre: 'ml',\n  millilitres: 'ml',\n  milliliter: 'ml',\n  milliliters: 'ml',\n};\n\nconst TOKEN_ALIASES = {\n  doodh: 'milk',\n  dudh: 'milk',\n  dudhh: 'milk',\n  mlk: 'milk',\n  paal: 'milk',\n  pyaaz: 'onion',\n  pyaz: 'onion',\n  piyaz: 'onion',\n  piyaj: 'onion',\n  pyaaj: 'onion',\n  onion: 'onion',\n  onions: 'onion',\n  aloo: 'potato',\n  aaloo: 'potato',\n  aalu: 'potato',\n  tamatar: 'tomato',\n  tamataro: 'tomato',\n  dahi: 'curd',\n  makhan: 'butter',\n  namak: 'salt',\n  cheeni: 'sugar',\n  chawal: 'rice',\n  atta: 'flour',\n  tel: 'oil',\n  chai: 'tea',\n  haldi: 'turmeric',\n  jeera: 'cumin',\n  dhania: 'coriander',\n};\n\nconst STOPWORDS = new Set([\n  'add', 'need', 'want', 'please', 'pls', 'give', 'send', 'deliver', 'delivering',\n  'checkout', 'place', 'order', 'my', 'address', 'home', 'office', 'to', 'at', 'for',\n  'and', 'with', 'of', 'the', 'a', 'an', 'more', 'another', 'set', 'make', 'change',\n  'fresh', 'new', 'usual', 'same', 'item', 'items', 'piece', 'pieces', 'pc', 'pcs',\n  'packet', 'packets', 'pack', 'packs', 'road', 'rd', 'street', 'st', 'lane', 'ln',\n  'block', 'sector', 'nagar', 'city', 'flat', 'apartment', 'apt', 'bengaluru', 'bangalore',\n]);\n\nconst MEASURE_WORDS = new Set(Object.keys(UNIT_ALIASES));\nconst ADDRESS_WORDS = /\\b(road|rd|street|st|lane|ln|sector|block|nagar|city|flat|apartment|apt|bengaluru|bangalore|mumbai|delhi|hyderabad|pune|chennai|kolkata)\\b/i;\n\nconst normalizeUnit = (value) => UNIT_ALIASES[String(value || '').toLowerCase().trim()] || null;\nconst unitKind = (unit) => (unit === 'kg' || unit === 'g') ? 'weight' : (unit === 'l' || unit === 'ml') ? 'volume' : 'count';\nconst toBaseUnits = (amount, unit) => {\n  const normalizedUnit = normalizeUnit(unit) || unit;\n  const numeric = Number(amount);\n  if (!Number.isFinite(numeric)) return null;\n  if (normalizedUnit === 'kg') return numeric * 1000;\n  if (normalizedUnit === 'g') return numeric;\n  if (normalizedUnit === 'l') return numeric * 1000;\n  if (normalizedUnit === 'ml') return numeric;\n  return null;\n};\nconst singularize = (token) => {\n  if (!token) return token;\n  if (token.endsWith('ies') && token.length > 3) return `${token.slice(0, -3)}y`;\n  if (token.endsWith('oes') && token.length > 3) return token.slice(0, -2);\n  if (token.endsWith('ses') && token.length > 3) return token.slice(0, -2);\n  if (token.endsWith('s') && token.length > 3 && !token.endsWith('ss')) return token.slice(0, -1);\n  return token;\n};\n\nconst safeLower = (value) => normalizeSpaces(String(value || '').normalize('NFKC').toLowerCase());\nconst cleanText = (value) => safeLower(value).replace(/[^\\p{L}\\p{N}\\s.&-]+/gu, ' ');\nconst normalizeToken = (token) => {\n  const cleaned = cleanText(token).replace(/[.&-]+/g, ' ').trim();\n  if (!cleaned) return '';\n  const raw = TOKEN_ALIASES[cleaned] || singularize(cleaned);\n  return TOKEN_ALIASES[raw] || raw;\n};\n\nconst extractInlineMeasure = (value) => {\n  const text = cleanText(value);\n  const match = text.match(/(\\d+(?:\\.\\d+)?)\\s*(kg|kilo|kilos|kilogram|kilograms|g|gm|gram|grams|ml|l|lt|ltr|litre|litres|liter|liters|millilitre|millilitres|milliliter|milliliters)\\b/i);\n  if (!match) return null;\n  return {\n    amount: Number(match[1]),\n    unit: normalizeUnit(match[2]),\n    text: match[0],\n  };\n};\n\nconst tokenize = (value) => {\n  const text = cleanText(value)\n    .replace(/\\d+(?:\\.\\d+)?/g, ' ')\n    .replace(/[.&-]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  if (!text) return [];\n\n  return text\n    .split(' ')\n    .map((token) => normalizeToken(token))\n    .filter((token) => token && token.length > 1 && !STOPWORDS.has(token) && !MEASURE_WORDS.has(token));\n};\n\nconst diceCoefficient = (a, b) => {\n  const left = String(a || '');\n  const right = String(b || '');\n  if (!left || !right) return 0;\n  if (left === right) return 1;\n  if (left.length < 2 || right.length < 2) return 0;\n  const pairs = (value) => {\n    const out = [];\n    for (let index = 0; index < value.length - 1; index += 1) {\n      out.push(value.slice(index, index + 2));\n    }\n    return out;\n  };\n  const leftPairs = pairs(left);\n  const rightPairs = pairs(right);\n  const rightCount = new Map();\n  for (const pair of rightPairs) {\n    rightCount.set(pair, (rightCount.get(pair) || 0) + 1);\n  }\n  let overlap = 0;\n  for (const pair of leftPairs) {\n    const count = rightCount.get(pair) || 0;\n    if (count > 0) {\n      overlap += 1;\n      rightCount.set(pair, count - 1);\n    }\n  }\n  return (2 * overlap) / (leftPairs.length + rightPairs.length);\n};\n\nconst parsePackInfo = (itemName, itemUnit) => {\n  const rawName = String(itemName || '');\n  const lower = safeLower(rawName);\n  const measureMatch = lower.match(/(\\d+(?:\\.\\d+)?)\\s*(kg|kilo|kilos|kilogram|kilograms|g|gm|gram|grams|ml|l|lt|ltr|litre|litres|liter|liters|millilitre|millilitres|milliliter|milliliters)\\b/i);\n  if (measureMatch) {\n    return {\n      amount: Number(measureMatch[1]),\n      unit: normalizeUnit(measureMatch[2]),\n      source: 'name',\n    };\n  }\n\n  const unit = normalizeUnit(itemUnit);\n  if (unit && unitKind(unit) !== 'count') {\n    return {\n      amount: 1,\n      unit,\n      source: 'unit',\n    };\n  }\n\n  const loose = /\\bloose\\b/.test(lower);\n  if (loose && unit && unitKind(unit) !== 'count') {\n    return {\n      amount: 1,\n      unit,\n      source: 'loose',\n    };\n  }\n\n  return null;\n};\n\nconst buildQueryInfo = () => {\n  const rawQuery = normalizeSpaces(String(input.product_name || ''));\n  const inlineMeasure = extractInlineMeasure(rawQuery);\n  const explicitUnit = normalizeUnit(input.requested_measure_unit);\n  const requestedUnit = explicitUnit || (inlineMeasure ? inlineMeasure.unit : null);\n  const requestedQuantity = Number(input.quantity ?? (inlineMeasure ? inlineMeasure.amount : 1));\n  const cleanedQuery = normalizeSpaces(\n    inlineMeasure ? rawQuery.replace(new RegExp(escapeRegex(inlineMeasure.text), 'i'), ' ') : rawQuery,\n  );\n  const tokens = tokenize(cleanedQuery);\n  const canonical = tokens.join(' ');\n  const requestedDisplay = requestedUnit\n    ? `${stripTrailingZeros(requestedQuantity)}${requestedUnit}`\n    : stripTrailingZeros(requestedQuantity);\n\n  return {\n    rawQuery,\n    cleanedQuery,\n    tokens,\n    canonical,\n    requestedQuantity,\n    requestedUnit,\n    requestedDisplay,\n  };\n};\n\nconst query = buildQueryInfo();\nif (!query.cleanedQuery) {\n  return [{ json: EMPTY_RESULT }];\n}\n\nconst fuzzyTokenMatch = (token, candidateTokens) => {\n  for (const candidate of candidateTokens) {\n    if (!candidate) continue;\n    if (candidate === token) return true;\n    if (candidate.includes(token) || token.includes(candidate)) return true;\n    if (diceCoefficient(candidate, token) >= 0.72) return true;\n  }\n  return false;\n};\n\nconst buildCandidate = (product) => {\n  const itemName = String(product.item_name || '');\n  const candidateTokens = tokenize(itemName);\n  const candidateCanonical = candidateTokens.join(' ');\n  const stock = Number(product.stock || 0);\n  const isActive = product.is_active === true;\n  const packInfo = parsePackInfo(itemName, product.unit);\n\n  let overlap = 0;\n  for (const token of query.tokens) {\n    if (fuzzyTokenMatch(token, candidateTokens)) overlap += 1;\n  }\n  const overlapRatio = query.tokens.length ? overlap / query.tokens.length : 0;\n  const diceScore = diceCoefficient(query.canonical, candidateCanonical || safeLower(itemName));\n  const containsAllTokens = query.tokens.length > 0 && overlap === query.tokens.length;\n\n  let textScore = overlapRatio * 100 + diceScore * 35;\n  if (candidateCanonical && candidateCanonical === query.canonical) textScore += 70;\n  if (candidateCanonical && query.canonical && (candidateCanonical.startsWith(query.canonical) || query.canonical.startsWith(candidateCanonical))) textScore += 28;\n  if (containsAllTokens) textScore += 25;\n\n  const requestedUnit = query.requestedUnit;\n  let resolvedQuantity = Number(query.requestedQuantity || 0);\n  let compatibleMeasure = !requestedUnit;\n  let conversionApplied = false;\n  let fractionalPack = false;\n  let packaged = /\\b(pack|pkt|bottle|box|pouch|loaf|tetra|carton|dozen|biscuits|soap|shampoo|tea|coffee|bread|milk)\\b/i.test(itemName) || String(product.unit || '').toLowerCase() === 'pcs';\n\n  if (requestedUnit) {\n    const requestBase = toBaseUnits(query.requestedQuantity, requestedUnit);\n    if (packInfo && unitKind(packInfo.unit) === unitKind(requestedUnit)) {\n      const packBase = toBaseUnits(packInfo.amount, packInfo.unit);\n      compatibleMeasure = Number.isFinite(requestBase) && Number.isFinite(packBase) && packBase > 0;\n      if (compatibleMeasure) {\n        resolvedQuantity = requestBase / packBase;\n        if (packaged) {\n          if (Math.abs(resolvedQuantity - Math.round(resolvedQuantity)) < 1e-9) {\n            resolvedQuantity = Math.round(resolvedQuantity);\n          } else {\n            fractionalPack = true;\n            resolvedQuantity = Number(resolvedQuantity.toFixed(3));\n          }\n        } else {\n          resolvedQuantity = Number(resolvedQuantity.toFixed(3));\n        }\n        conversionApplied = true;\n      }\n    } else {\n      const productUnit = normalizeUnit(product.unit);\n      if (productUnit && unitKind(productUnit) === unitKind(requestedUnit)) {\n        compatibleMeasure = true;\n        resolvedQuantity = Number(query.requestedQuantity);\n        conversionApplied = false;\n      } else {\n        compatibleMeasure = false;\n      }\n    }\n  }\n\n  if (!Number.isFinite(resolvedQuantity) || resolvedQuantity <= 0) {\n    resolvedQuantity = Number(query.requestedQuantity || 0);\n  }\n\n  const canFulfill = compatibleMeasure && resolvedQuantity > 0 && resolvedQuantity <= stock + 1e-9 && !(fractionalPack && packaged);\n\n  const availabilityTier = canFulfill && isActive\n    ? 0\n    : canFulfill\n      ? 1\n      : stock > 0 && isActive\n        ? 2\n        : stock > 0\n          ? 3\n          : 4;\n\n  let finalScore = textScore;\n  if (compatibleMeasure) finalScore += 18;\n  else if (requestedUnit) finalScore -= 20;\n  if (isActive) finalScore += 12;\n  else finalScore -= 18;\n  if (stock > 0) finalScore += Math.min(stock, 12);\n  else finalScore -= 18;\n  if (canFulfill) finalScore += 32;\n  if (fractionalPack) finalScore -= 24;\n\n  const displayQuantityUnit = (() => {\n    const lowerName = safeLower(itemName);\n    if (requestedUnit && /\\bloose\\b/.test(lowerName)) return requestedUnit;\n    if (packInfo && unitKind(packInfo.unit) !== 'count' && !/\\bloose\\b/.test(lowerName) && String(product.unit || '').toLowerCase() !== 'pcs') {\n      return resolvedQuantity === 1 ? 'pack' : 'packs';\n    }\n    return String(product.unit || 'pcs').toLowerCase() || 'pcs';\n  })();\n\n  return {\n    product,\n    itemName,\n    stock,\n    isActive,\n    candidateCanonical,\n    textScore,\n    finalScore,\n    overlapRatio,\n    diceScore,\n    containsAllTokens,\n    packInfo,\n    compatibleMeasure,\n    resolvedQuantity,\n    canFulfill,\n    conversionApplied,\n    fractionalPack,\n    packaged,\n    availabilityTier,\n    displayQuantityUnit,\n  };\n};\n\nconst candidates = products.map(buildCandidate);\nconst viable = candidates.filter((candidate) => candidate.textScore >= 48 || candidate.overlapRatio >= 0.55 || candidate.diceScore >= 0.52);\nconst suggestionPool = [...candidates]\n  .filter((candidate) => candidate.textScore >= 28 || candidate.overlapRatio >= 0.35 || candidate.diceScore >= 0.35)\n  .sort((left, right) => right.textScore - left.textScore || right.stock - left.stock || left.itemName.localeCompare(right.itemName));\n\nif (viable.length === 0) {\n  return [{\n    json: {\n      ...EMPTY_RESULT,\n      requested_quantity: query.requestedQuantity,\n      requested_measure_unit: query.requestedUnit,\n      requested_display: query.requestedDisplay,\n      alternatives: suggestionPool.slice(0, 3).map((candidate) => ({\n        item_name: candidate.itemName,\n        stock: candidate.stock,\n        price: Number(candidate.product.price || 0),\n      })),\n    },\n  }];\n}\n\nconst lexicalTop = [...viable].sort((left, right) => right.textScore - left.textScore || left.availabilityTier - right.availabilityTier || right.stock - left.stock)[0];\nconst ranked = [...viable].sort((left, right) => {\n  if (left.availabilityTier !== right.availabilityTier) return left.availabilityTier - right.availabilityTier;\n  if (Math.abs(left.finalScore - right.finalScore) > 1e-9) return right.finalScore - left.finalScore;\n  if (left.fractionalPack !== right.fractionalPack) return left.fractionalPack ? 1 : -1;\n  if (left.stock !== right.stock) return right.stock - left.stock;\n  if (Number(left.product.price || 0) !== Number(right.product.price || 0)) return Number(left.product.price || 0) - Number(right.product.price || 0);\n  return left.itemName.localeCompare(right.itemName);\n});\n\nconst best = ranked[0];\nconst substitutionApplied = Boolean(lexicalTop && lexicalTop.product.sku !== best.product.sku);\nlet substitutionReason = '';\nif (substitutionApplied && lexicalTop) {\n  if (Number(lexicalTop.stock || 0) <= 0 || lexicalTop.isActive !== true) {\n    substitutionReason = `Used ${best.itemName} because ${lexicalTop.itemName} is unavailable right now.`;\n  } else {\n    substitutionReason = `Used ${best.itemName} because it is the closest match I can fulfil right now.`;\n  }\n}\n\nreturn [{\n  json: {\n    sku: best.product.sku,\n    item_name: best.itemName,\n    price: best.product.price,\n    stock: best.stock,\n    unit: best.product.unit,\n    category: best.product.category,\n    is_active: best.product.is_active,\n    resolved_quantity: Number(best.resolvedQuantity),\n    requested_quantity: Number(query.requestedQuantity),\n    requested_measure_unit: query.requestedUnit,\n    display_quantity_unit: best.displayQuantityUnit,\n    requested_display: query.requestedDisplay,\n    can_fulfill: best.canFulfill,\n    substitution_applied: substitutionApplied,\n    substitution_reason: substitutionReason,\n    conversion_applied: Boolean(query.requestedUnit && best.compatibleMeasure),\n    resolver_reason: best.canFulfill ? 'matched_in_stock' : best.stock > 0 ? 'insufficient_stock' : 'matched_out_of_stock',\n    alternatives: ranked.slice(1, 4).map((candidate) => ({\n      item_name: candidate.itemName,\n      stock: candidate.stock,\n      price: Number(candidate.product.price || 0),\n    })),\n  },\n}];\n"},"id":"0a60f031-718a-47f8-a52a-bd49e49a16c2","name":"Find Best Match","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,2512]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"pf","leftValue":"={{ $json.sku }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"61109205-ef19-4926-b5cb-41f32068f95c","name":"Product Found?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,2512]},{"parameters":{"jsCode":"const input = $('Start').first().json.tool_input || {};\nconst match = $('Find Best Match').first().json || {};\nconst alternatives = Array.isArray(match.alternatives) ? match.alternatives : [];\n\nlet message = `Sorry, I could not find \"${input.product_name}\" in our store.`;\nif (alternatives.length > 0) {\n  const suggestions = alternatives\n    .map((item) => `${item.item_name}${Number(item.stock || 0) > 0 ? '' : ' (out of stock)'}`)\n    .join(', ');\n  message += ` Closest matches: ${suggestions}.`;\n}\nmessage += ' Try a different name or add a brand/size.';\n\nreturn [{\n  json: {\n    confirmation_message: message,\n    chat_id: input.chat_id,\n  },\n}];\n"},"id":"44da7cee-7876-42b4-8d37-8623d2a26ab6","name":"Format Not Found","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,2048]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"ir","leftValue":"={{ Number($('Start').first().json.tool_input.quantity) }}","rightValue":0,"operator":{"type":"number","operation":"equals"}},{"id":"mode-remove","leftValue":"={{ ($('Start').first().json.tool_input.mode || '').toLowerCase() }}","rightValue":"remove","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"f1acac18-3f69-47bc-a2c3-69805f0301d5","name":"Is Remove?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,2624]},{"parameters":{"operation":"executeQuery","query":"=DELETE FROM public.cart_items \nWHERE cart_id = (\n  SELECT cart_id FROM public.carts \n  WHERE user_id = {{ $('Start').first().json.tool_input.chat_id }} \n  AND status = 'active' \n  LIMIT 1\n) \nAND sku = '{{ $('Find Best Match').first().json.sku }}';","options":{}},"id":"332d0e38-8bdf-43f8-99de-6599c97a9d72","name":"Remove Cart Item","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1168,2432],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const input = $('Start').first().json.tool_input;\nconst product = $('Find Best Match').first().json;\nconst runningTotal = Number($('Get Cart Total After Remove').first().json.running_total || 0);\n\nconst unit = product.unit ? ' ' + product.unit : '';\nlet msg = 'Removed from cart\\n\\n• ' + product.item_name + ' from your cart.';\nmsg += '\\n\\nCart total: ₹' + runningTotal.toFixed(0);\n\nreturn [{ json: { confirmation_message: msg, chat_id: input.chat_id } }];"},"id":"c48dd960-811a-47ea-9519-43c5677e4724","name":"Format Remove Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,2432]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"es","leftValue":"={{ Number($('Find Best Match').first().json.resolved_quantity || $('Start').first().json.tool_input.quantity) }}","rightValue":"={{ Number($('Find Best Match').first().json.stock) }}","operator":{"type":"number","operation":"lte"}},{"id":"qty-min","leftValue":"={{ Number($('Find Best Match').first().json.resolved_quantity || $('Start').first().json.tool_input.quantity) }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"c1a5ad63-3c07-46c2-9dc4-33791d5887f0","name":"Enough Stock?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1168,2720]},{"parameters":{"jsCode":"const input = $('Start').first().json.tool_input || {};\nconst match = $('Find Best Match').first().json || {};\nconst alternatives = Array.isArray(match.alternatives) ? match.alternatives : [];\nconst requestedUnit = String(match.requested_measure_unit || '').trim();\nconst requestedQty = Number(match.requested_quantity || input.quantity || 0);\nconst stock = Number(match.stock || 0);\nconst availableLabel = requestedUnit && stock > 0\n  ? `${stock} ${requestedUnit}`\n  : `${stock} ${stock === 1 ? 'unit' : 'units'}`;\n\nlet message;\nif (stock > 0) {\n  message = `Sorry, I can only fulfil up to ${availableLabel} of ${match.item_name || input.product_name} right now.`;\n} else {\n  message = `Sorry, ${match.item_name || input.product_name} is currently out of stock.`;\n}\n\nif (requestedUnit && requestedQty > 0) {\n  message += ` You asked for ${requestedQty}${requestedUnit}.`;\n}\n\nif (alternatives.length > 0) {\n  const suggestionText = alternatives\n    .map((item) => `${item.item_name}${Number(item.stock || 0) > 0 ? '' : ' (out of stock)'}`)\n    .join(', ');\n  message += ` Closest available options: ${suggestionText}.`;\n}\n\nmessage += ' Send another item or try a different size.';\n\nreturn [{\n  json: {\n    confirmation_message: message,\n    chat_id: input.chat_id,\n  },\n}];\n","mode":"runOnceForAllItems"},"id":"c2f2aecc-2442-4285-9774-b9d36bec3d3a","name":"Format Out Of Stock","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,2320]},{"parameters":{"operation":"executeQuery","query":"=-- Expire stale carts (>6 hours inactive)\nUPDATE public.carts\nSET status = 'expired'\nWHERE user_id = {{ $('Start').first().json.tool_input.chat_id }}\n  AND status = 'active'\n  AND COALESCE(last_activity_at, created_at) < NOW() - INTERVAL '6 hours';\n\n-- Create new active cart if none exists\nINSERT INTO public.carts (user_id, store_id, status, last_activity_at)\nSELECT {{ $('Start').first().json.tool_input.chat_id }}, 1, 'active', NOW()\nWHERE NOT EXISTS (\n  SELECT 1 FROM public.carts\n  WHERE user_id = {{ $('Start').first().json.tool_input.chat_id }} AND status = 'active'\n);\n\n-- Touch last_activity_at\nUPDATE public.carts SET last_activity_at = NOW()\nWHERE user_id = {{ $('Start').first().json.tool_input.chat_id }} AND status = 'active';\n\n-- Return cart_id\nSELECT cart_id FROM public.carts\nWHERE user_id = {{ $('Start').first().json.tool_input.chat_id }} AND status = 'active'\nLIMIT 1;","options":{}},"id":"8ddb0a96-67d5-41d7-91c5-65533bfe590f","name":"Upsert Cart","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1424,2640],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO public.cart_items (cart_id, sku, quantity, price_at_addition) \nVALUES (\n  '{{ $json.cart_id }}', \n  '{{ $('Find Best Match').first().json.sku }}', \n  {{ Number($('Find Best Match').first().json.resolved_quantity || $('Start').first().json.tool_input.quantity || 0) }}, \n  {{ $('Find Best Match').first().json.price }}\n) \nON CONFLICT (cart_id, sku) \nDO UPDATE SET \n  quantity = CASE \n    WHEN '{{ (($('Start').first().json.tool_input.mode || 'set').toLowerCase()) }}' = 'set'\n    THEN LEAST(EXCLUDED.quantity, {{ Number($('Find Best Match').first().json.stock || 0) }})\n    ELSE LEAST(cart_items.quantity + EXCLUDED.quantity, {{ Number($('Find Best Match').first().json.stock || 0) }})\n  END,\n  price_at_addition = EXCLUDED.price_at_addition;","options":{}},"id":"f8688735-8e9d-4b25-bba7-f8e74409ef3b","name":"Upsert Cart Item","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1696,2640],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT ci.sku, ci.quantity, ci.price_at_addition \nFROM public.cart_items ci \nJOIN public.carts c ON ci.cart_id = c.cart_id \nWHERE c.user_id = {{ $('Start').first().json.tool_input.chat_id }} \nAND c.status = 'active';","options":{}},"id":"5ad00510-4c2b-439a-8ed1-10373285aa2f","name":"Get Cart Items After Add","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1952,2640],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const input = $('Start').first().json.tool_input;\nconst product = $('Find Best Match').first().json;\n\nconst cartItems = $('Get Cart Items After Add')\n  .all()\n  .map((entry) => entry.json)\n  .filter((entry) => entry && entry.sku);\n\nlet runningTotal = 0;\nfor (const entry of cartItems) {\n  runningTotal += parseFloat(entry.quantity) * parseFloat(entry.price_at_addition);\n}\n\nconst payload = {\n  runningTotal,\n  chat_id: input.chat_id,\n  sku: product.sku,\n  cart_total: runningTotal,\n};\n\nreturn [\n  {\n    json: payload,\n  },\n];","mode":"runOnceForAllItems"},"id":"f5fb1fce-17fc-46e5-b1ac-0a8184e192fa","name":"Build Cart Total","type":"n8n-nodes-base.code","typeVersion":2,"position":[2464,2640]},{"parameters":{"jsCode":"const input = $('Start').first().json.tool_input;\nconst product = $('Find Best Match').first().json;\nconst qty = parseFloat(input.quantity);\nconst price = parseFloat(product.price);\nconst lineTotal = (qty * price).toFixed(0);\nconst unit = product.unit ? ' ' + product.unit : '';\nconst runningTotal = $('Build Cart Total').first().json.runningTotal;\nconst mode = (input.mode || 'add').toLowerCase();\nconst remainingStock = Number(product.stock) - qty;\nlet stockWarn = '';\nif (remainingStock > 0 && remainingStock <= 3) {\n  stockWarn = '\\n\\n⚠️ Only ' + remainingStock + ' ' + (product.unit || 'units') + ' of ' + product.item_name + ' left!';\n}\nlet bodyText;\nif (mode === 'remove') {\n  bodyText = 'Removed from cart\\n\\n• ' + product.item_name + ' × ' + qty + unit + stockWarn;\n} else {\n  bodyText = '✅ Added to cart\\n\\n• ' + product.item_name + ' × ' + qty + unit + ' — ₹' + lineTotal + stockWarn;\n}\nbodyText += '\\n\\nCart total: ₹' + runningTotal.toFixed(0);\nreturn [{ json: {\n  confirmation_message: bodyText,\n  chat_id: input.chat_id,\n  customer_ui_state: 'CART_ACTIVE',\n  message_type: 'button',\n  body_text: bodyText,\n  buttons: [\n    { id: 'view_cart', title: '🛒 View Cart' },\n    { id: 'checkout', title: '✓ Checkout' },\n  ],\n} }];"},"id":"189e0e55-d590-4dc8-b6b4-a303172c8a45","name":"Format Add Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,2640]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"stock-check","leftValue":"={{ $json.stock }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"17e3163d-8626-426b-81d6-5dfac2e37fee","name":"Is In Stock?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,2512]},{"id":"da5c7f9b-f676-4623-8502-57bb10f1b51a","name":"Get Cart Total After Remove","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1424,2320],"parameters":{"operation":"executeQuery","query":"=SELECT COALESCE(SUM(ci.quantity * ci.price_at_addition), 0) AS running_total\nFROM public.cart_items ci\nJOIN public.carts c ON ci.cart_id = c.cart_id\nWHERE c.user_id = {{ $('Start').first().json.tool_input.chat_id }}\nAND c.status = 'active';","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true}],"connections":{"Start":{"main":[[{"node":"Get All Active Products","type":"main","index":0}]]},"Get All Active Products":{"main":[[{"node":"Find Best Match","type":"main","index":0}]]},"Find Best Match":{"main":[[{"node":"Product Found?","type":"main","index":0}]]},"Product Found?":{"main":[[{"node":"Is In Stock?","type":"main","index":0}],[{"node":"Format Not Found","type":"main","index":0}]]},"Is Remove?":{"main":[[{"node":"Remove Cart Item","type":"main","index":0}],[{"node":"Enough Stock?","type":"main","index":0}]]},"Enough Stock?":{"main":[[{"node":"Upsert Cart","type":"main","index":0}],[{"node":"Format Out Of Stock","type":"main","index":0}]]},"Upsert Cart":{"main":[[{"node":"Upsert Cart Item","type":"main","index":0}]]},"Upsert Cart Item":{"main":[[{"node":"Get Cart Items After Add","type":"main","index":0}]]},"Get Cart Items After Add":{"main":[[{"node":"Build Cart Total","type":"main","index":0}]]},"Is In Stock?":{"main":[[{"node":"Is Remove?","type":"main","index":0}],[{"node":"Format Out Of Stock","type":"main","index":0}]]},"Remove Cart Item":{"main":[[{"node":"Get Cart Total After Remove","type":"main","index":0}]]},"Build Cart Total":{"main":[[{"node":"Format Add Success","type":"main","index":0}]]},"Get Cart Total After Remove":{"main":[[{"node":"Format Remove Success","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-14T04:26:50.118Z","id":2212,"workflowId":"f659jKqfRLnkrCjg","versionId":"224298be-63c5-416a-bd3c-39efb5f9d6b4","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-14T04:26:50.176Z","id":2213,"workflowId":"f659jKqfRLnkrCjg","versionId":"224298be-63c5-416a-bd3c-39efb5f9d6b4","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}