workflows/latest/g6rGUma60FIEypEb__Owner_Order_Manager.json
{"updatedAt":"2026-03-15T11:33:47.768Z","createdAt":"2026-03-07T07:57:46.342Z","id":"g6rGUma60FIEypEb","name":"[Owner] Order Manager","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"oom-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,688]},{"parameters":{"mode":"expression","numberOutputs":5,"output":"={{ $('Start').first().json.action === 'notify' ? 0 : $('Start').first().json.action === 'accept' ? 1 : $('Start').first().json.action === 'reject' ? 2 : $('Start').first().json.action === 'dispatch' ? 3 : 4 }}"},"id":"oom-route","name":"Route Action","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[464,640]},{"parameters":{"jsCode":"const OWNER_BUTTON_LABELS = {\n  en: { accept: '✅ Accept', reject: '❌ Reject', mark_ready: '📦 Mark Ready', mark_delivered: '🚚 Delivered', view_orders: '📋 Orders', add_item: '➕ Add Item', edit_item: '✏️ Edit', remove_item: '🗑 Remove', view_inventory: '📦 Inventory', add_promo: '🏷 Add Promo', view_promos: '🏷 Promos', language: '🌐 Language', mark_dispatched: '🚚 Mark Dispatched' },\n  hi: { accept: '✅ स्वीकार', reject: '❌ अस्वीकार', mark_ready: '📦 तैयार', mark_delivered: '🚚 डिलीवर', view_orders: '📋 ऑर्डर', add_item: '➕ जोड़ें', edit_item: '✏️ संपादित', remove_item: '🗑 हटाएं', view_inventory: '📦 इन्वेंटरी', add_promo: '🏷 प्रोमो जोड़ें', view_promos: '🏷 प्रोमो', language: '🌐 भाषा', mark_dispatched: '🚚 भेजा' },\n  te: { accept: '✅ అంగీకరించు', reject: '❌ తిరస్కరించు', mark_ready: '📦 సిద్ధం', mark_delivered: '🚚 డెలివరీ', view_orders: '📋 ఆర్డర్లు', add_item: '➕ జోడించు', edit_item: '✏️ సవరించు', remove_item: '🗑 తొలగించు', view_inventory: '📦 ఇన్వెంటరీ', add_promo: '🏷 ప్రోమో', view_promos: '🏷 ప్రోమోలు', language: '🌐 భాష', mark_dispatched: '🚚 పంపించు' },\n  ta: { accept: '✅ ஏற்கிறேன்', reject: '❌ நிராகரி', mark_ready: '📦 தயார்', mark_delivered: '🚚 டெலிவரி', view_orders: '📋 ஆர்டர்கள்', add_item: '➕ சேர்', edit_item: '✏️ திருத்து', remove_item: '🗑 நீக்கு', view_inventory: '📦 இன்வென்டரி', add_promo: '🏷 ப்ரோமோ', view_promos: '🏷 ப்ரோமோக்கள்', language: '🌐 மொழி', mark_dispatched: '🚚 அனுப்பு' },\n  bn: { accept: '✅ গ্রহণ', reject: '❌ প্রত্যাখ্যান', mark_ready: '📦 প্রস্তুত', mark_delivered: '🚚 ডেলিভারি', view_orders: '📋 অর্ডার', add_item: '➕ যোগ করুন', edit_item: '✏️ সম্পাদনা', remove_item: '🗑 মুছুন', view_inventory: '📦 ইনভেন্টরি', add_promo: '🏷 প্রমো যোগ', view_promos: '🏷 প্রমো', language: '🌐 ভাষা', mark_dispatched: '🚚 পাঠানো' },\n  gu: { accept: '✅ સ્વીકારો', reject: '❌ અસ્વીકાર', mark_ready: '📦 તૈયાર', mark_delivered: '🚚 ડિલિવરી', view_orders: '📋 ઓર્ડર', add_item: '➕ ઉમેરો', edit_item: '✏️ સંપાદિત', remove_item: '🗑 દૂર કરો', view_inventory: '📦 ઇન્વેન્ટરી', add_promo: '🏷 પ્રોમો ઉમેરો', view_promos: '🏷 પ્રોમો', language: '🌐 ભાષા', mark_dispatched: '🚚 મોકલ્યું' },\n  kn: { accept: '✅ ಒಪ್ಪಿಕೊಳ್ಳಿ', reject: '❌ ತಿರಸ್ಕರಿಸಿ', mark_ready: '📦 ಸಿದ್ಧ', mark_delivered: '🚚 ಡೆಲಿವರಿ', view_orders: '📋 ಆರ್ಡರ್', add_item: '➕ ಸೇರಿಸಿ', edit_item: '✏️ ಸಂಪಾದಿಸಿ', remove_item: '🗑 ತೆಗೆದುಹಾಕಿ', view_inventory: '📦 ಇನ್ವೆಂಟರಿ', add_promo: '🏷 ಪ್ರೊಮೊ ಸೇರಿಸಿ', view_promos: '🏷 ಪ್ರೊಮೊ', language: '🌐 ಭಾಷೆ', mark_dispatched: '🚚 ಕಳುಹಿಸಿ' },\n  ml: { accept: '✅ സ്വീകരിക്കൂ', reject: '❌ നിരസിക്കൂ', mark_ready: '📦 തയ്യാർ', mark_delivered: '🚚 ഡെലിവറി', view_orders: '📋 ഓർഡറുകൾ', add_item: '➕ ചേർക്കൂ', edit_item: '✏️ തിരുത്തൂ', remove_item: '🗑 നീക്കൂ', view_inventory: '📦 ഇൻവെന്ററി', add_promo: '🏷 പ്രോമോ', view_promos: '🏷 പ്രോമോകൾ', language: '🌐 ഭാഷ', mark_dispatched: '🚚 അയച്ചു' },\n  or: { accept: '✅ ଗ୍ରହଣ', reject: '❌ ପ୍ରତ୍ୟାଖ୍ୟାନ', mark_ready: '📦 ପ୍ରସ୍ତୁତ', mark_delivered: '🚚 ଡେଲିଭରି', view_orders: '📋 ଅର୍ଡର', add_item: '➕ ଯୋଡ଼ନ୍ତୁ', edit_item: '✏️ ସଂଶୋଧନ', remove_item: '🗑 ହଟାନ୍ତୁ', view_inventory: '📦 ଇନ୍ଭେଣ୍ଟ୍ରି', add_promo: '🏷 ପ୍ରୋମୋ', view_promos: '🏷 ପ୍ରୋମୋ', language: '🌐 ଭାଷା', mark_dispatched: '🚚 ପଠାନ୍ତୁ' },\n  pa: { accept: '✅ ਮਨਜ਼ੂਰ', reject: '❌ ਰੱਦ', mark_ready: '📦 ਤਿਆਰ', mark_delivered: '🚚 ਡਿਲੀਵਰੀ', view_orders: '📋 ਆਰਡਰ', add_item: '➕ ਜੋੜੋ', edit_item: '✏️ ਸੰਪਾਦਿਤ', remove_item: '🗑 ਹਟਾਓ', view_inventory: '📦 ਇਨਵੈਂਟਰੀ', add_promo: '🏷 ਪ੍ਰੋਮੋ ਜੋੜੋ', view_promos: '🏷 ਪ੍ਰੋਮੋ', language: '🌐 ਭਾਸ਼ਾ', mark_dispatched: '🚚 ਭੇਜਿਆ' },\n};\nconst lbl = (lang, key) => (OWNER_BUTTON_LABELS[lang] || OWNER_BUTTON_LABELS['en'])[key] || OWNER_BUTTON_LABELS['en'][key];\n\nconst d = $('Start').first().json || {};\nconst lang = String(d.user_language || 'en');\nconst rawOrderId = String(d.order_id || '');\nconst orderParts = rawOrderId.split('__');\nconst normalizedOrderId = String(orderParts[0] || rawOrderId || '');\nconst normalizedCustomerChatId = String(d.customer_chat_id || orderParts[1] || '').trim();\nconst items = (d.order_details && d.order_details.items_in_final_order) || [];\nconst enablePricing = (() => {\n  try { return $('Get Pricing Flag').first().json.enable_pricing !== false; } catch { return true; }\n})();\nconst itemList = items.map((item) => {\n  const base = `• ${item.original_name} x${item.quantity}`;\n  return enablePricing ? base + ` - Rs.${Number(item.line_total || item.quantity * item.unit_price).toFixed(2)}` : base;\n}).join('\\n') || 'See order details';\nconst totalLine = enablePricing ? `\\n\\nTotal: Rs.${d.final_order_total}` : '';\nconst payload = {\n  chat_id: String(d.owner_whatsapp_number || ''),\n  message_type: 'button',\n  body_text: `New Order #${normalizedOrderId}\\nCustomer: ${d.customer_name || 'Customer'}\\nAddress: ${d.shipping_address || d.address || 'N/A'}\\n\\n${itemList}${totalLine}`,\n  buttons: [\n    { id: `accept__${normalizedOrderId}__${normalizedCustomerChatId}`, title: lbl(lang, 'accept') },\n    { id: `reject__${normalizedOrderId}__${normalizedCustomerChatId}`, title: lbl(lang, 'reject') },\n  ],\n  test_mode: d.test_mode === true,\n};\n\nreturn [{ json: payload }];\n"},"id":"oom-build-alert","name":"Build Notify Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,112]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{}},"id":"oom-send-alert","name":"Send Notify Alert","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[912,112]},{"parameters":{"operation":"executeQuery","query":"=UPDATE public.pending_orders SET status = 'processing', updated_at = NOW() WHERE order_id = '{{ String($('Start').first().json.order_id || '').split(\"__\")[0] }}'","options":{}},"id":"oom-accept-db","name":"Accept: Update Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,400],"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $('Start').first().json || {};\nconst rawOrderId = String(d.order_id || '');\nconst orderParts = rawOrderId.split('__');\nconst normalizedOrderId = String(orderParts[0] || rawOrderId || '');\nconst normalizedCustomerChatId = String(d.customer_chat_id || orderParts[1] || '').trim();\nconst payload = {\n  chat_id: normalizedCustomerChatId,\n  message_type: 'text',\n  body_text: `Your order #${normalizedOrderId} has been accepted. We are packing it now. Estimated delivery soon.`,\n  test_mode: d.test_mode === true,\n};\n\nreturn [{ json: payload }];"},"id":"oom-accept-notify-cust","name":"Accept: Notify Customer","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,496]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{}},"id":"oom-accept-send-cust","name":"Accept: Send Customer","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1136,496]},{"parameters":{"jsCode":"const OWNER_BUTTON_LABELS = {\n  en: { accept: '✅ Accept', reject: '❌ Reject', mark_ready: '📦 Mark Ready', mark_delivered: '🚚 Delivered', view_orders: '📋 Orders', add_item: '➕ Add Item', edit_item: '✏️ Edit', remove_item: '🗑 Remove', view_inventory: '📦 Inventory', add_promo: '🏷 Add Promo', view_promos: '🏷 Promos', language: '🌐 Language', mark_dispatched: '🚚 Mark Dispatched' },\n  hi: { accept: '✅ स्वीकार', reject: '❌ अस्वीकार', mark_ready: '📦 तैयार', mark_delivered: '🚚 डिलीवर', view_orders: '📋 ऑर्डर', add_item: '➕ जोड़ें', edit_item: '✏️ संपादित', remove_item: '🗑 हटाएं', view_inventory: '📦 इन्वेंटरी', add_promo: '🏷 प्रोमो जोड़ें', view_promos: '🏷 प्रोमो', language: '🌐 भाषा', mark_dispatched: '🚚 भेजा' },\n  te: { accept: '✅ అంగీకరించు', reject: '❌ తిరస్కరించు', mark_ready: '📦 సిద్ధం', mark_delivered: '🚚 డెలివరీ', view_orders: '📋 ఆర్డర్లు', add_item: '➕ జోడించు', edit_item: '✏️ సవరించు', remove_item: '🗑 తొలగించు', view_inventory: '📦 ఇన్వెంటరీ', add_promo: '🏷 ప్రోమో', view_promos: '🏷 ప్రోమోలు', language: '🌐 భాష', mark_dispatched: '🚚 పంపించు' },\n  ta: { accept: '✅ ஏற்கிறேன்', reject: '❌ நிராகரி', mark_ready: '📦 தயார்', mark_delivered: '🚚 டெலிவரி', view_orders: '📋 ஆர்டர்கள்', add_item: '➕ சேர்', edit_item: '✏️ திருத்து', remove_item: '🗑 நீக்கு', view_inventory: '📦 இன்வென்டரி', add_promo: '🏷 ப்ரோமோ', view_promos: '🏷 ப்ரோமோக்கள்', language: '🌐 மொழி', mark_dispatched: '🚚 அனுப்பு' },\n  bn: { accept: '✅ গ্রহণ', reject: '❌ প্রত্যাখ্যান', mark_ready: '📦 প্রস্তুত', mark_delivered: '🚚 ডেলিভারি', view_orders: '📋 অর্ডার', add_item: '➕ যোগ করুন', edit_item: '✏️ সম্পাদনা', remove_item: '🗑 মুছুন', view_inventory: '📦 ইনভেন্টরি', add_promo: '🏷 প্রমো যোগ', view_promos: '🏷 প্রমো', language: '🌐 ভাষা', mark_dispatched: '🚚 পাঠানো' },\n  gu: { accept: '✅ સ્વીકારો', reject: '❌ અસ્વીકાર', mark_ready: '📦 તૈયાર', mark_delivered: '🚚 ડિલિવરી', view_orders: '📋 ઓર્ડર', add_item: '➕ ઉમેરો', edit_item: '✏️ સંપાદિત', remove_item: '🗑 દૂર કરો', view_inventory: '📦 ઇન્વેન્ટરી', add_promo: '🏷 પ્રોમો ઉમેરો', view_promos: '🏷 પ્રોમો', language: '🌐 ભાષા', mark_dispatched: '🚚 મોકલ્યું' },\n  kn: { accept: '✅ ಒಪ್ಪಿಕೊಳ್ಳಿ', reject: '❌ ತಿರಸ್ಕರಿಸಿ', mark_ready: '📦 ಸಿದ್ಧ', mark_delivered: '🚚 ಡೆಲಿವರಿ', view_orders: '📋 ಆರ್ಡರ್', add_item: '➕ ಸೇರಿಸಿ', edit_item: '✏️ ಸಂಪಾದಿಸಿ', remove_item: '🗑 ತೆಗೆದುಹಾಕಿ', view_inventory: '📦 ಇನ್ವೆಂಟರಿ', add_promo: '🏷 ಪ್ರೊಮೊ ಸೇರಿಸಿ', view_promos: '🏷 ಪ್ರೊಮೊ', language: '🌐 ಭಾಷೆ', mark_dispatched: '🚚 ಕಳುಹಿಸಿ' },\n  ml: { accept: '✅ സ്വീകരിക്കൂ', reject: '❌ നിരസിക്കൂ', mark_ready: '📦 തയ്യാർ', mark_delivered: '🚚 ഡെലിവറി', view_orders: '📋 ഓർഡറുകൾ', add_item: '➕ ചേർക്കൂ', edit_item: '✏️ തിരുത്തൂ', remove_item: '🗑 നീക്കൂ', view_inventory: '📦 ഇൻവെന്ററി', add_promo: '🏷 പ്രോമോ', view_promos: '🏷 പ്രോമോകൾ', language: '🌐 ഭാഷ', mark_dispatched: '🚚 അയച്ചു' },\n  or: { accept: '✅ ଗ୍ରହଣ', reject: '❌ ପ୍ରତ୍ୟାଖ୍ୟାନ', mark_ready: '📦 ପ୍ରସ୍ତୁତ', mark_delivered: '🚚 ଡେଲିଭରି', view_orders: '📋 ଅର୍ଡର', add_item: '➕ ଯୋଡ଼ନ୍ତୁ', edit_item: '✏️ ସଂଶୋଧନ', remove_item: '🗑 ହଟାନ୍ତୁ', view_inventory: '📦 ଇନ୍ଭେଣ୍ଟ୍ରି', add_promo: '🏷 ପ୍ରୋମୋ', view_promos: '🏷 ପ୍ରୋମୋ', language: '🌐 ଭାଷା', mark_dispatched: '🚚 ପଠାନ୍ତୁ' },\n  pa: { accept: '✅ ਮਨਜ਼ੂਰ', reject: '❌ ਰੱਦ', mark_ready: '📦 ਤਿਆਰ', mark_delivered: '🚚 ਡਿਲੀਵਰੀ', view_orders: '📋 ਆਰਡਰ', add_item: '➕ ਜੋੜੋ', edit_item: '✏️ ਸੰਪਾਦਿਤ', remove_item: '🗑 ਹਟਾਓ', view_inventory: '📦 ਇਨਵੈਂਟਰੀ', add_promo: '🏷 ਪ੍ਰੋਮੋ ਜੋੜੋ', view_promos: '🏷 ਪ੍ਰੋਮੋ', language: '🌐 ਭਾਸ਼ਾ', mark_dispatched: '🚚 ਭੇਜਿਆ' },\n};\nconst lbl = (lang, key) => (OWNER_BUTTON_LABELS[lang] || OWNER_BUTTON_LABELS['en'])[key] || OWNER_BUTTON_LABELS['en'][key];\n\nconst d = $('Start').first().json || {};\nconst lang = String(d.user_language || 'en');\nconst rawOrderId = String(d.order_id || '');\nconst orderParts = rawOrderId.split('__');\nconst normalizedOrderId = String(orderParts[0] || rawOrderId || '');\nconst normalizedCustomerChatId = String(d.customer_chat_id || orderParts[1] || '').trim();\nconst payload = {\n  chat_id: String(d.chat_id || d.owner_whatsapp_number || ''),\n  message_type: 'button',\n  body_text: `Order #${normalizedOrderId} accepted. Tap when dispatched.`,\n  buttons: [\n    { id: `dispatch__${normalizedOrderId}__${normalizedCustomerChatId}`, title: lbl(lang, 'mark_dispatched') },\n  ],\n  test_mode: d.test_mode === true,\n};\n\nreturn [{ json: payload }];\n"},"id":"oom-accept-dispatch-btn","name":"Accept: Build Dispatch Button","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,304]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{}},"id":"oom-accept-send-owner","name":"Accept: Send Owner Dispatch","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1136,304]},{"parameters":{"operation":"executeQuery","query":"=UPDATE public.pending_orders SET status = 'rejected', updated_at = NOW() WHERE order_id = '{{ String($('Start').first().json.order_id || '').split(\"__\")[0] }}'","options":{}},"id":"oom-reject-db","name":"Reject: Update Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,688],"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $('Start').first().json || {};\nconst rawOrderId = String(d.order_id || '');\nconst orderParts = rawOrderId.split('__');\nconst normalizedOrderId = String(orderParts[0] || rawOrderId || '');\nconst normalizedCustomerChatId = String(d.customer_chat_id || orderParts[1] || '').trim();\nconst payload = {\n  chat_id: normalizedCustomerChatId,\n  message_type: 'text',\n  body_text: `Sorry, your order #${normalizedOrderId} could not be accepted at this time. Please try ordering again or contact the store.`,\n  test_mode: d.test_mode === true,\n};\n\nreturn [{ json: payload }];"},"id":"oom-reject-notify","name":"Reject: Notify Customer","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,688]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{}},"id":"oom-reject-send","name":"Reject: Send Customer","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1136,688]},{"parameters":{"operation":"executeQuery","query":"=UPDATE public.pending_orders SET status = 'dispatched', updated_at = NOW() WHERE order_id = '{{ String($('Start').first().json.order_id || '').split(\"__\")[0] }}'","options":{}},"id":"oom-dispatch-db","name":"Dispatch: Update Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,976],"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $('Start').first().json || {};\nconst rawOrderId = String(d.order_id || '');\nconst orderParts = rawOrderId.split('__');\nconst normalizedOrderId = String(orderParts[0] || rawOrderId || '');\nconst normalizedCustomerChatId = String(d.customer_chat_id || orderParts[1] || '').trim();\nconst payload = {\n  chat_id: normalizedCustomerChatId,\n  message_type: 'text',\n  body_text: `Your order #${normalizedOrderId} is on the way. Estimated arrival soon.`,\n  test_mode: d.test_mode === true,\n};\n\nreturn [{ json: payload }];"},"id":"oom-dispatch-notify","name":"Dispatch: Notify Customer","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1072]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{}},"id":"oom-dispatch-send-cust","name":"Dispatch: Send Customer","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1136,1072]},{"parameters":{"jsCode":"const OWNER_BUTTON_LABELS = {\n  en: { accept: '✅ Accept', reject: '❌ Reject', mark_ready: '📦 Mark Ready', mark_delivered: '🚚 Delivered', view_orders: '📋 Orders', add_item: '➕ Add Item', edit_item: '✏️ Edit', remove_item: '🗑 Remove', view_inventory: '📦 Inventory', add_promo: '🏷 Add Promo', view_promos: '🏷 Promos', language: '🌐 Language', mark_dispatched: '🚚 Mark Dispatched' },\n  hi: { accept: '✅ स्वीकार', reject: '❌ अस्वीकार', mark_ready: '📦 तैयार', mark_delivered: '🚚 डिलीवर', view_orders: '📋 ऑर्डर', add_item: '➕ जोड़ें', edit_item: '✏️ संपादित', remove_item: '🗑 हटाएं', view_inventory: '📦 इन्वेंटरी', add_promo: '🏷 प्रोमो जोड़ें', view_promos: '🏷 प्रोमो', language: '🌐 भाषा', mark_dispatched: '🚚 भेजा' },\n  te: { accept: '✅ అంగీకరించు', reject: '❌ తిరస్కరించు', mark_ready: '📦 సిద్ధం', mark_delivered: '🚚 డెలివరీ', view_orders: '📋 ఆర్డర్లు', add_item: '➕ జోడించు', edit_item: '✏️ సవరించు', remove_item: '🗑 తొలగించు', view_inventory: '📦 ఇన్వెంటరీ', add_promo: '🏷 ప్రోమో', view_promos: '🏷 ప్రోమోలు', language: '🌐 భాష', mark_dispatched: '🚚 పంపించు' },\n  ta: { accept: '✅ ஏற்கிறேன்', reject: '❌ நிராகரி', mark_ready: '📦 தயார்', mark_delivered: '🚚 டெலிவரி', view_orders: '📋 ஆர்டர்கள்', add_item: '➕ சேர்', edit_item: '✏️ திருத்து', remove_item: '🗑 நீக்கு', view_inventory: '📦 இன்வென்டரி', add_promo: '🏷 ப்ரோமோ', view_promos: '🏷 ப்ரோமோக்கள்', language: '🌐 மொழி', mark_dispatched: '🚚 அனுப்பு' },\n  bn: { accept: '✅ গ্রহণ', reject: '❌ প্রত্যাখ্যান', mark_ready: '📦 প্রস্তুত', mark_delivered: '🚚 ডেলিভারি', view_orders: '📋 অর্ডার', add_item: '➕ যোগ করুন', edit_item: '✏️ সম্পাদনা', remove_item: '🗑 মুছুন', view_inventory: '📦 ইনভেন্টরি', add_promo: '🏷 প্রমো যোগ', view_promos: '🏷 প্রমো', language: '🌐 ভাষা', mark_dispatched: '🚚 পাঠানো' },\n  gu: { accept: '✅ સ્વીકારો', reject: '❌ અસ્વીકાર', mark_ready: '📦 તૈયાર', mark_delivered: '🚚 ડિલિવરી', view_orders: '📋 ઓર્ડર', add_item: '➕ ઉમેરો', edit_item: '✏️ સંપાદિત', remove_item: '🗑 દૂર કરો', view_inventory: '📦 ઇન્વેન્ટરી', add_promo: '🏷 પ્રોમો ઉમેરો', view_promos: '🏷 પ્રોમો', language: '🌐 ભાષા', mark_dispatched: '🚚 મોકલ્યું' },\n  kn: { accept: '✅ ಒಪ್ಪಿಕೊಳ್ಳಿ', reject: '❌ ತಿರಸ್ಕರಿಸಿ', mark_ready: '📦 ಸಿದ್ಧ', mark_delivered: '🚚 ಡೆಲಿವರಿ', view_orders: '📋 ಆರ್ಡರ್', add_item: '➕ ಸೇರಿಸಿ', edit_item: '✏️ ಸಂಪಾದಿಸಿ', remove_item: '🗑 ತೆಗೆದುಹಾಕಿ', view_inventory: '📦 ಇನ್ವೆಂಟರಿ', add_promo: '🏷 ಪ್ರೊಮೊ ಸೇರಿಸಿ', view_promos: '🏷 ಪ್ರೊಮೊ', language: '🌐 ಭಾಷೆ', mark_dispatched: '🚚 ಕಳುಹಿಸಿ' },\n  ml: { accept: '✅ സ്വീകരിക്കൂ', reject: '❌ നിരസിക്കൂ', mark_ready: '📦 തയ്യാർ', mark_delivered: '🚚 ഡെലിവറി', view_orders: '📋 ഓർഡറുകൾ', add_item: '➕ ചേർക്കൂ', edit_item: '✏️ തിരുത്തൂ', remove_item: '🗑 നീക്കൂ', view_inventory: '📦 ഇൻവെന്ററി', add_promo: '🏷 പ്രോമോ', view_promos: '🏷 പ്രോമോകൾ', language: '🌐 ഭാഷ', mark_dispatched: '🚚 അയച്ചു' },\n  or: { accept: '✅ ଗ୍ରହଣ', reject: '❌ ପ୍ରତ୍ୟାଖ୍ୟାନ', mark_ready: '📦 ପ୍ରସ୍ତୁତ', mark_delivered: '🚚 ଡେଲିଭରି', view_orders: '📋 ଅର୍ଡର', add_item: '➕ ଯୋଡ଼ନ୍ତୁ', edit_item: '✏️ ସଂଶୋଧନ', remove_item: '🗑 ହଟାନ୍ତୁ', view_inventory: '📦 ଇନ୍ଭେଣ୍ଟ୍ରି', add_promo: '🏷 ପ୍ରୋମୋ', view_promos: '🏷 ପ୍ରୋମୋ', language: '🌐 ଭାଷା', mark_dispatched: '🚚 ପଠାନ୍ତୁ' },\n  pa: { accept: '✅ ਮਨਜ਼ੂਰ', reject: '❌ ਰੱਦ', mark_ready: '📦 ਤਿਆਰ', mark_delivered: '🚚 ਡਿਲੀਵਰੀ', view_orders: '📋 ਆਰਡਰ', add_item: '➕ ਜੋੜੋ', edit_item: '✏️ ਸੰਪਾਦਿਤ', remove_item: '🗑 ਹਟਾਓ', view_inventory: '📦 ਇਨਵੈਂਟਰੀ', add_promo: '🏷 ਪ੍ਰੋਮੋ ਜੋੜੋ', view_promos: '🏷 ਪ੍ਰੋਮੋ', language: '🌐 ਭਾਸ਼ਾ', mark_dispatched: '🚚 ਭੇਜਿਆ' },\n};\nconst lbl = (lang, key) => (OWNER_BUTTON_LABELS[lang] || OWNER_BUTTON_LABELS['en'])[key] || OWNER_BUTTON_LABELS['en'][key];\n\nconst d = $('Start').first().json || {};\nconst lang = String(d.user_language || 'en');\nconst rawOrderId = String(d.order_id || '');\nconst orderParts = rawOrderId.split('__');\nconst normalizedOrderId = String(orderParts[0] || rawOrderId || '');\nconst normalizedCustomerChatId = String(d.customer_chat_id || orderParts[1] || '').trim();\nconst payload = {\n  chat_id: String(d.chat_id || d.owner_whatsapp_number || ''),\n  message_type: 'button',\n  body_text: `Order #${normalizedOrderId} dispatched. Tap when delivered.`,\n  buttons: [\n    { id: `delivered__${normalizedOrderId}__${normalizedCustomerChatId}`, title: lbl(lang, 'mark_delivered') },\n  ],\n  test_mode: d.test_mode === true,\n};\n\nreturn [{ json: payload }];\n"},"id":"oom-dispatch-delivered-btn","name":"Dispatch: Build Delivered Button","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,880]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{}},"id":"oom-dispatch-send-owner","name":"Dispatch: Send Owner Delivered","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1136,880]},{"parameters":{"operation":"executeQuery","query":"=UPDATE public.pending_orders SET status = 'delivered', updated_at = NOW() WHERE order_id = '{{ String($('Start').first().json.order_id || '').split(\"__\")[0] }}'","options":{}},"id":"oom-delivered-db","name":"Delivered: Update Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,1264],"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $('Start').first().json || {};\nconst rawOrderId = String(d.order_id || '');\nconst orderParts = rawOrderId.split('__');\nconst normalizedOrderId = String(orderParts[0] || rawOrderId || '');\nconst normalizedCustomerChatId = String(d.customer_chat_id || orderParts[1] || '').trim();\nconst payload = {\n  chat_id: normalizedCustomerChatId,\n  message_type: 'button',\n  body_text: `Your order #${normalizedOrderId} has been delivered. Hope you enjoy it.`,\n  buttons: [\n    { id: `rate_good__${normalizedOrderId}`, title: 'Great' },\n    { id: `rate_bad__${normalizedOrderId}`, title: 'Issues' },\n  ],\n  test_mode: d.test_mode === true,\n};\n\nreturn [{ json: payload }];"},"id":"oom-delivered-notify","name":"Delivered: Notify Customer","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1264]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{}},"id":"oom-delivered-send","name":"Delivered: Send Customer","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1136,1264]},{"id":"c3c80976-6599-4fb2-94c4-724c1914de8b","name":"Get Pricing Flag","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,588],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"parameters":{"operation":"executeQuery","query":"SELECT enable_pricing FROM public.stores LIMIT 1;","options":{}}}],"connections":{"Start":{"main":[[{"node":"Get Pricing Flag","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Build Notify Alert","type":"main","index":0}],[{"node":"Accept: Update Status","type":"main","index":0}],[{"node":"Reject: Update Status","type":"main","index":0}],[{"node":"Dispatch: Update Status","type":"main","index":0}],[{"node":"Delivered: Update Status","type":"main","index":0}]]},"Build Notify Alert":{"main":[[{"node":"Send Notify Alert","type":"main","index":0}]]},"Accept: Update Status":{"main":[[{"node":"Accept: Notify Customer","type":"main","index":0},{"node":"Accept: Build Dispatch Button","type":"main","index":0}]]},"Accept: Notify Customer":{"main":[[{"node":"Accept: Send Customer","type":"main","index":0}]]},"Accept: Build Dispatch Button":{"main":[[{"node":"Accept: Send Owner Dispatch","type":"main","index":0}]]},"Reject: Update Status":{"main":[[{"node":"Reject: Notify Customer","type":"main","index":0}]]},"Reject: Notify Customer":{"main":[[{"node":"Reject: Send Customer","type":"main","index":0}]]},"Dispatch: Update Status":{"main":[[{"node":"Dispatch: Notify Customer","type":"main","index":0},{"node":"Dispatch: Build Delivered Button","type":"main","index":0}]]},"Dispatch: Notify Customer":{"main":[[{"node":"Dispatch: Send Customer","type":"main","index":0}]]},"Dispatch: Build Delivered Button":{"main":[[{"node":"Dispatch: Send Owner Delivered","type":"main","index":0}]]},"Delivered: Update Status":{"main":[[{"node":"Delivered: Notify Customer","type":"main","index":0}]]},"Delivered: Notify Customer":{"main":[[{"node":"Delivered: Send Customer","type":"main","index":0}]]},"Get Pricing Flag":{"main":[[{"node":"Route Action","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"31e4d9fc-d2d6-4e57-bef1-697bda3ddfa9","activeVersionId":"31e4d9fc-d2d6-4e57-bef1-697bda3ddfa9","versionCounter":72,"triggerCount":0,"shared":[{"updatedAt":"2026-03-07T07:57:46.342Z","createdAt":"2026-03-07T07:57:46.342Z","role":"workflow:owner","workflowId":"g6rGUma60FIEypEb","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T11:33:47.771Z","createdAt":"2026-03-15T11:33:47.771Z","versionId":"31e4d9fc-d2d6-4e57-bef1-697bda3ddfa9","workflowId":"g6rGUma60FIEypEb","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"oom-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,688]},{"parameters":{"mode":"expression","numberOutputs":5,"output":"={{ $('Start').first().json.action === 'notify' ? 0 : $('Start').first().json.action === 'accept' ? 1 : $('Start').first().json.action === 'reject' ? 2 : $('Start').first().json.action === 'dispatch' ? 3 : 4 }}"},"id":"oom-route","name":"Route Action","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[464,640]},{"parameters":{"jsCode":"const OWNER_BUTTON_LABELS = {\n  en: { accept: '✅ Accept', reject: '❌ Reject', mark_ready: '📦 Mark Ready', mark_delivered: '🚚 Delivered', view_orders: '📋 Orders', add_item: '➕ Add Item', edit_item: '✏️ Edit', remove_item: '🗑 Remove', view_inventory: '📦 Inventory', add_promo: '🏷 Add Promo', view_promos: '🏷 Promos', language: '🌐 Language', mark_dispatched: '🚚 Mark Dispatched' },\n  hi: { accept: '✅ स्वीकार', reject: '❌ अस्वीकार', mark_ready: '📦 तैयार', mark_delivered: '🚚 डिलीवर', view_orders: '📋 ऑर्डर', add_item: '➕ जोड़ें', edit_item: '✏️ संपादित', remove_item: '🗑 हटाएं', view_inventory: '📦 इन्वेंटरी', add_promo: '🏷 प्रोमो जोड़ें', view_promos: '🏷 प्रोमो', language: '🌐 भाषा', mark_dispatched: '🚚 भेजा' },\n  te: { accept: '✅ అంగీకరించు', reject: '❌ తిరస్కరించు', mark_ready: '📦 సిద్ధం', mark_delivered: '🚚 డెలివరీ', view_orders: '📋 ఆర్డర్లు', add_item: '➕ జోడించు', edit_item: '✏️ సవరించు', remove_item: '🗑 తొలగించు', view_inventory: '📦 ఇన్వెంటరీ', add_promo: '🏷 ప్రోమో', view_promos: '🏷 ప్రోమోలు', language: '🌐 భాష', mark_dispatched: '🚚 పంపించు' },\n  ta: { accept: '✅ ஏற்கிறேன்', reject: '❌ நிராகரி', mark_ready: '📦 தயார்', mark_delivered: '🚚 டெலிவரி', view_orders: '📋 ஆர்டர்கள்', add_item: '➕ சேர்', edit_item: '✏️ திருத்து', remove_item: '🗑 நீக்கு', view_inventory: '📦 இன்வென்டரி', add_promo: '🏷 ப்ரோமோ', view_promos: '🏷 ப்ரோமோக்கள்', language: '🌐 மொழி', mark_dispatched: '🚚 அனுப்பு' },\n  bn: { accept: '✅ গ্রহণ', reject: '❌ প্রত্যাখ্যান', mark_ready: '📦 প্রস্তুত', mark_delivered: '🚚 ডেলিভারি', view_orders: '📋 অর্ডার', add_item: '➕ যোগ করুন', edit_item: '✏️ সম্পাদনা', remove_item: '🗑 মুছুন', view_inventory: '📦 ইনভেন্টরি', add_promo: '🏷 প্রমো যোগ', view_promos: '🏷 প্রমো', language: '🌐 ভাষা', mark_dispatched: '🚚 পাঠানো' },\n  gu: { accept: '✅ સ્વીકારો', reject: '❌ અસ્વીકાર', mark_ready: '📦 તૈયાર', mark_delivered: '🚚 ડિલિવરી', view_orders: '📋 ઓર્ડર', add_item: '➕ ઉમેરો', edit_item: '✏️ સંપાદિત', remove_item: '🗑 દૂર કરો', view_inventory: '📦 ઇન્વેન્ટરી', add_promo: '🏷 પ્રોમો ઉમેરો', view_promos: '🏷 પ્રોમો', language: '🌐 ભાષા', mark_dispatched: '🚚 મોકલ્યું' },\n  kn: { accept: '✅ ಒಪ್ಪಿಕೊಳ್ಳಿ', reject: '❌ ತಿರಸ್ಕರಿಸಿ', mark_ready: '📦 ಸಿದ್ಧ', mark_delivered: '🚚 ಡೆಲಿವರಿ', view_orders: '📋 ಆರ್ಡರ್', add_item: '➕ ಸೇರಿಸಿ', edit_item: '✏️ ಸಂಪಾದಿಸಿ', remove_item: '🗑 ತೆಗೆದುಹಾಕಿ', view_inventory: '📦 ಇನ್ವೆಂಟರಿ', add_promo: '🏷 ಪ್ರೊಮೊ ಸೇರಿಸಿ', view_promos: '🏷 ಪ್ರೊಮೊ', language: '🌐 ಭಾಷೆ', mark_dispatched: '🚚 ಕಳುಹಿಸಿ' },\n  ml: { accept: '✅ സ്വീകരിക്കൂ', reject: '❌ നിരസിക്കൂ', mark_ready: '📦 തയ്യാർ', mark_delivered: '🚚 ഡെലിവറി', view_orders: '📋 ഓർഡറുകൾ', add_item: '➕ ചേർക്കൂ', edit_item: '✏️ തിരുത്തൂ', remove_item: '🗑 നീക്കൂ', view_inventory: '📦 ഇൻവെന്ററി', add_promo: '🏷 പ്രോമോ', view_promos: '🏷 പ്രോമോകൾ', language: '🌐 ഭാഷ', mark_dispatched: '🚚 അയച്ചു' },\n  or: { accept: '✅ ଗ୍ରହଣ', reject: '❌ ପ୍ରତ୍ୟାଖ୍ୟାନ', mark_ready: '📦 ପ୍ରସ୍ତୁତ', mark_delivered: '🚚 ଡେଲିଭରି', view_orders: '📋 ଅର୍ଡର', add_item: '➕ ଯୋଡ଼ନ୍ତୁ', edit_item: '✏️ ସଂଶୋଧନ', remove_item: '🗑 ହଟାନ୍ତୁ', view_inventory: '📦 ଇନ୍ଭେଣ୍ଟ୍ରି', add_promo: '🏷 ପ୍ରୋମୋ', view_promos: '🏷 ପ୍ରୋମୋ', language: '🌐 ଭାଷା', mark_dispatched: '🚚 ପଠାନ୍ତୁ' },\n  pa: { accept: '✅ ਮਨਜ਼ੂਰ', reject: '❌ ਰੱਦ', mark_ready: '📦 ਤਿਆਰ', mark_delivered: '🚚 ਡਿਲੀਵਰੀ', view_orders: '📋 ਆਰਡਰ', add_item: '➕ ਜੋੜੋ', edit_item: '✏️ ਸੰਪਾਦਿਤ', remove_item: '🗑 ਹਟਾਓ', view_inventory: '📦 ਇਨਵੈਂਟਰੀ', add_promo: '🏷 ਪ੍ਰੋਮੋ ਜੋੜੋ', view_promos: '🏷 ਪ੍ਰੋਮੋ', language: '🌐 ਭਾਸ਼ਾ', mark_dispatched: '🚚 ਭੇਜਿਆ' },\n};\nconst lbl = (lang, key) => (OWNER_BUTTON_LABELS[lang] || OWNER_BUTTON_LABELS['en'])[key] || OWNER_BUTTON_LABELS['en'][key];\n\nconst d = $('Start').first().json || {};\nconst lang = String(d.user_language || 'en');\nconst rawOrderId = String(d.order_id || '');\nconst orderParts = rawOrderId.split('__');\nconst normalizedOrderId = String(orderParts[0] || rawOrderId || '');\nconst normalizedCustomerChatId = String(d.customer_chat_id || orderParts[1] || '').trim();\nconst items = (d.order_details && d.order_details.items_in_final_order) || [];\nconst enablePricing = (() => {\n  try { return $('Get Pricing Flag').first().json.enable_pricing !== false; } catch { return true; }\n})();\nconst itemList = items.map((item) => {\n  const base = `• ${item.original_name} x${item.quantity}`;\n  return enablePricing ? base + ` - Rs.${Number(item.line_total || item.quantity * item.unit_price).toFixed(2)}` : base;\n}).join('\\n') || 'See order details';\nconst totalLine = enablePricing ? `\\n\\nTotal: Rs.${d.final_order_total}` : '';\nconst payload = {\n  chat_id: String(d.owner_whatsapp_number || ''),\n  message_type: 'button',\n  body_text: `New Order #${normalizedOrderId}\\nCustomer: ${d.customer_name || 'Customer'}\\nAddress: ${d.shipping_address || d.address || 'N/A'}\\n\\n${itemList}${totalLine}`,\n  buttons: [\n    { id: `accept__${normalizedOrderId}__${normalizedCustomerChatId}`, title: lbl(lang, 'accept') },\n    { id: `reject__${normalizedOrderId}__${normalizedCustomerChatId}`, title: lbl(lang, 'reject') },\n  ],\n  test_mode: d.test_mode === true,\n};\n\nreturn [{ json: payload }];\n"},"id":"oom-build-alert","name":"Build Notify Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,112]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{}},"id":"oom-send-alert","name":"Send Notify Alert","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[912,112]},{"parameters":{"operation":"executeQuery","query":"=UPDATE public.pending_orders SET status = 'processing', updated_at = NOW() WHERE order_id = '{{ String($('Start').first().json.order_id || '').split(\"__\")[0] }}'","options":{}},"id":"oom-accept-db","name":"Accept: Update Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,400],"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $('Start').first().json || {};\nconst rawOrderId = String(d.order_id || '');\nconst orderParts = rawOrderId.split('__');\nconst normalizedOrderId = String(orderParts[0] || rawOrderId || '');\nconst normalizedCustomerChatId = String(d.customer_chat_id || orderParts[1] || '').trim();\nconst payload = {\n  chat_id: normalizedCustomerChatId,\n  message_type: 'text',\n  body_text: `Your order #${normalizedOrderId} has been accepted. We are packing it now. Estimated delivery soon.`,\n  test_mode: d.test_mode === true,\n};\n\nreturn [{ json: payload }];"},"id":"oom-accept-notify-cust","name":"Accept: Notify Customer","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,496]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{}},"id":"oom-accept-send-cust","name":"Accept: Send Customer","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1136,496]},{"parameters":{"jsCode":"const OWNER_BUTTON_LABELS = {\n  en: { accept: '✅ Accept', reject: '❌ Reject', mark_ready: '📦 Mark Ready', mark_delivered: '🚚 Delivered', view_orders: '📋 Orders', add_item: '➕ Add Item', edit_item: '✏️ Edit', remove_item: '🗑 Remove', view_inventory: '📦 Inventory', add_promo: '🏷 Add Promo', view_promos: '🏷 Promos', language: '🌐 Language', mark_dispatched: '🚚 Mark Dispatched' },\n  hi: { accept: '✅ स्वीकार', reject: '❌ अस्वीकार', mark_ready: '📦 तैयार', mark_delivered: '🚚 डिलीवर', view_orders: '📋 ऑर्डर', add_item: '➕ जोड़ें', edit_item: '✏️ संपादित', remove_item: '🗑 हटाएं', view_inventory: '📦 इन्वेंटरी', add_promo: '🏷 प्रोमो जोड़ें', view_promos: '🏷 प्रोमो', language: '🌐 भाषा', mark_dispatched: '🚚 भेजा' },\n  te: { accept: '✅ అంగీకరించు', reject: '❌ తిరస్కరించు', mark_ready: '📦 సిద్ధం', mark_delivered: '🚚 డెలివరీ', view_orders: '📋 ఆర్డర్లు', add_item: '➕ జోడించు', edit_item: '✏️ సవరించు', remove_item: '🗑 తొలగించు', view_inventory: '📦 ఇన్వెంటరీ', add_promo: '🏷 ప్రోమో', view_promos: '🏷 ప్రోమోలు', language: '🌐 భాష', mark_dispatched: '🚚 పంపించు' },\n  ta: { accept: '✅ ஏற்கிறேன்', reject: '❌ நிராகரி', mark_ready: '📦 தயார்', mark_delivered: '🚚 டெலிவரி', view_orders: '📋 ஆர்டர்கள்', add_item: '➕ சேர்', edit_item: '✏️ திருத்து', remove_item: '🗑 நீக்கு', view_inventory: '📦 இன்வென்டரி', add_promo: '🏷 ப்ரோமோ', view_promos: '🏷 ப்ரோமோக்கள்', language: '🌐 மொழி', mark_dispatched: '🚚 அனுப்பு' },\n  bn: { accept: '✅ গ্রহণ', reject: '❌ প্রত্যাখ্যান', mark_ready: '📦 প্রস্তুত', mark_delivered: '🚚 ডেলিভারি', view_orders: '📋 অর্ডার', add_item: '➕ যোগ করুন', edit_item: '✏️ সম্পাদনা', remove_item: '🗑 মুছুন', view_inventory: '📦 ইনভেন্টরি', add_promo: '🏷 প্রমো যোগ', view_promos: '🏷 প্রমো', language: '🌐 ভাষা', mark_dispatched: '🚚 পাঠানো' },\n  gu: { accept: '✅ સ્વીકારો', reject: '❌ અસ્વીકાર', mark_ready: '📦 તૈયાર', mark_delivered: '🚚 ડિલિવરી', view_orders: '📋 ઓર્ડર', add_item: '➕ ઉમેરો', edit_item: '✏️ સંપાદિત', remove_item: '🗑 દૂર કરો', view_inventory: '📦 ઇન્વેન્ટરી', add_promo: '🏷 પ્રોમો ઉમેરો', view_promos: '🏷 પ્રોમો', language: '🌐 ભાષા', mark_dispatched: '🚚 મોકલ્યું' },\n  kn: { accept: '✅ ಒಪ್ಪಿಕೊಳ್ಳಿ', reject: '❌ ತಿರಸ್ಕರಿಸಿ', mark_ready: '📦 ಸಿದ್ಧ', mark_delivered: '🚚 ಡೆಲಿವರಿ', view_orders: '📋 ಆರ್ಡರ್', add_item: '➕ ಸೇರಿಸಿ', edit_item: '✏️ ಸಂಪಾದಿಸಿ', remove_item: '🗑 ತೆಗೆದುಹಾಕಿ', view_inventory: '📦 ಇನ್ವೆಂಟರಿ', add_promo: '🏷 ಪ್ರೊಮೊ ಸೇರಿಸಿ', view_promos: '🏷 ಪ್ರೊಮೊ', language: '🌐 ಭಾಷೆ', mark_dispatched: '🚚 ಕಳುಹಿಸಿ' },\n  ml: { accept: '✅ സ്വീകരിക്കൂ', reject: '❌ നിരസിക്കൂ', mark_ready: '📦 തയ്യാർ', mark_delivered: '🚚 ഡെലിവറി', view_orders: '📋 ഓർഡറുകൾ', add_item: '➕ ചേർക്കൂ', edit_item: '✏️ തിരുത്തൂ', remove_item: '🗑 നീക്കൂ', view_inventory: '📦 ഇൻവെന്ററി', add_promo: '🏷 പ്രോമോ', view_promos: '🏷 പ്രോമോകൾ', language: '🌐 ഭാഷ', mark_dispatched: '🚚 അയച്ചു' },\n  or: { accept: '✅ ଗ୍ରହଣ', reject: '❌ ପ୍ରତ୍ୟାଖ୍ୟାନ', mark_ready: '📦 ପ୍ରସ୍ତୁତ', mark_delivered: '🚚 ଡେଲିଭରି', view_orders: '📋 ଅର୍ଡର', add_item: '➕ ଯୋଡ଼ନ୍ତୁ', edit_item: '✏️ ସଂଶୋଧନ', remove_item: '🗑 ହଟାନ୍ତୁ', view_inventory: '📦 ଇନ୍ଭେଣ୍ଟ୍ରି', add_promo: '🏷 ପ୍ରୋମୋ', view_promos: '🏷 ପ୍ରୋମୋ', language: '🌐 ଭାଷା', mark_dispatched: '🚚 ପଠାନ୍ତୁ' },\n  pa: { accept: '✅ ਮਨਜ਼ੂਰ', reject: '❌ ਰੱਦ', mark_ready: '📦 ਤਿਆਰ', mark_delivered: '🚚 ਡਿਲੀਵਰੀ', view_orders: '📋 ਆਰਡਰ', add_item: '➕ ਜੋੜੋ', edit_item: '✏️ ਸੰਪਾਦਿਤ', remove_item: '🗑 ਹਟਾਓ', view_inventory: '📦 ਇਨਵੈਂਟਰੀ', add_promo: '🏷 ਪ੍ਰੋਮੋ ਜੋੜੋ', view_promos: '🏷 ਪ੍ਰੋਮੋ', language: '🌐 ਭਾਸ਼ਾ', mark_dispatched: '🚚 ਭੇਜਿਆ' },\n};\nconst lbl = (lang, key) => (OWNER_BUTTON_LABELS[lang] || OWNER_BUTTON_LABELS['en'])[key] || OWNER_BUTTON_LABELS['en'][key];\n\nconst d = $('Start').first().json || {};\nconst lang = String(d.user_language || 'en');\nconst rawOrderId = String(d.order_id || '');\nconst orderParts = rawOrderId.split('__');\nconst normalizedOrderId = String(orderParts[0] || rawOrderId || '');\nconst normalizedCustomerChatId = String(d.customer_chat_id || orderParts[1] || '').trim();\nconst payload = {\n  chat_id: String(d.chat_id || d.owner_whatsapp_number || ''),\n  message_type: 'button',\n  body_text: `Order #${normalizedOrderId} accepted. Tap when dispatched.`,\n  buttons: [\n    { id: `dispatch__${normalizedOrderId}__${normalizedCustomerChatId}`, title: lbl(lang, 'mark_dispatched') },\n  ],\n  test_mode: d.test_mode === true,\n};\n\nreturn [{ json: payload }];\n"},"id":"oom-accept-dispatch-btn","name":"Accept: Build Dispatch Button","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,304]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{}},"id":"oom-accept-send-owner","name":"Accept: Send Owner Dispatch","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1136,304]},{"parameters":{"operation":"executeQuery","query":"=UPDATE public.pending_orders SET status = 'rejected', updated_at = NOW() WHERE order_id = '{{ String($('Start').first().json.order_id || '').split(\"__\")[0] }}'","options":{}},"id":"oom-reject-db","name":"Reject: Update Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,688],"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $('Start').first().json || {};\nconst rawOrderId = String(d.order_id || '');\nconst orderParts = rawOrderId.split('__');\nconst normalizedOrderId = String(orderParts[0] || rawOrderId || '');\nconst normalizedCustomerChatId = String(d.customer_chat_id || orderParts[1] || '').trim();\nconst payload = {\n  chat_id: normalizedCustomerChatId,\n  message_type: 'text',\n  body_text: `Sorry, your order #${normalizedOrderId} could not be accepted at this time. Please try ordering again or contact the store.`,\n  test_mode: d.test_mode === true,\n};\n\nreturn [{ json: payload }];"},"id":"oom-reject-notify","name":"Reject: Notify Customer","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,688]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{}},"id":"oom-reject-send","name":"Reject: Send Customer","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1136,688]},{"parameters":{"operation":"executeQuery","query":"=UPDATE public.pending_orders SET status = 'dispatched', updated_at = NOW() WHERE order_id = '{{ String($('Start').first().json.order_id || '').split(\"__\")[0] }}'","options":{}},"id":"oom-dispatch-db","name":"Dispatch: Update Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,976],"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $('Start').first().json || {};\nconst rawOrderId = String(d.order_id || '');\nconst orderParts = rawOrderId.split('__');\nconst normalizedOrderId = String(orderParts[0] || rawOrderId || '');\nconst normalizedCustomerChatId = String(d.customer_chat_id || orderParts[1] || '').trim();\nconst payload = {\n  chat_id: normalizedCustomerChatId,\n  message_type: 'text',\n  body_text: `Your order #${normalizedOrderId} is on the way. Estimated arrival soon.`,\n  test_mode: d.test_mode === true,\n};\n\nreturn [{ json: payload }];"},"id":"oom-dispatch-notify","name":"Dispatch: Notify Customer","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1072]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{}},"id":"oom-dispatch-send-cust","name":"Dispatch: Send Customer","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1136,1072]},{"parameters":{"jsCode":"const OWNER_BUTTON_LABELS = {\n  en: { accept: '✅ Accept', reject: '❌ Reject', mark_ready: '📦 Mark Ready', mark_delivered: '🚚 Delivered', view_orders: '📋 Orders', add_item: '➕ Add Item', edit_item: '✏️ Edit', remove_item: '🗑 Remove', view_inventory: '📦 Inventory', add_promo: '🏷 Add Promo', view_promos: '🏷 Promos', language: '🌐 Language', mark_dispatched: '🚚 Mark Dispatched' },\n  hi: { accept: '✅ स्वीकार', reject: '❌ अस्वीकार', mark_ready: '📦 तैयार', mark_delivered: '🚚 डिलीवर', view_orders: '📋 ऑर्डर', add_item: '➕ जोड़ें', edit_item: '✏️ संपादित', remove_item: '🗑 हटाएं', view_inventory: '📦 इन्वेंटरी', add_promo: '🏷 प्रोमो जोड़ें', view_promos: '🏷 प्रोमो', language: '🌐 भाषा', mark_dispatched: '🚚 भेजा' },\n  te: { accept: '✅ అంగీకరించు', reject: '❌ తిరస్కరించు', mark_ready: '📦 సిద్ధం', mark_delivered: '🚚 డెలివరీ', view_orders: '📋 ఆర్డర్లు', add_item: '➕ జోడించు', edit_item: '✏️ సవరించు', remove_item: '🗑 తొలగించు', view_inventory: '📦 ఇన్వెంటరీ', add_promo: '🏷 ప్రోమో', view_promos: '🏷 ప్రోమోలు', language: '🌐 భాష', mark_dispatched: '🚚 పంపించు' },\n  ta: { accept: '✅ ஏற்கிறேன்', reject: '❌ நிராகரி', mark_ready: '📦 தயார்', mark_delivered: '🚚 டெலிவரி', view_orders: '📋 ஆர்டர்கள்', add_item: '➕ சேர்', edit_item: '✏️ திருத்து', remove_item: '🗑 நீக்கு', view_inventory: '📦 இன்வென்டரி', add_promo: '🏷 ப்ரோமோ', view_promos: '🏷 ப்ரோமோக்கள்', language: '🌐 மொழி', mark_dispatched: '🚚 அனுப்பு' },\n  bn: { accept: '✅ গ্রহণ', reject: '❌ প্রত্যাখ্যান', mark_ready: '📦 প্রস্তুত', mark_delivered: '🚚 ডেলিভারি', view_orders: '📋 অর্ডার', add_item: '➕ যোগ করুন', edit_item: '✏️ সম্পাদনা', remove_item: '🗑 মুছুন', view_inventory: '📦 ইনভেন্টরি', add_promo: '🏷 প্রমো যোগ', view_promos: '🏷 প্রমো', language: '🌐 ভাষা', mark_dispatched: '🚚 পাঠানো' },\n  gu: { accept: '✅ સ્વીકારો', reject: '❌ અસ્વીકાર', mark_ready: '📦 તૈયાર', mark_delivered: '🚚 ડિલિવરી', view_orders: '📋 ઓર્ડર', add_item: '➕ ઉમેરો', edit_item: '✏️ સંપાદિત', remove_item: '🗑 દૂર કરો', view_inventory: '📦 ઇન્વેન્ટરી', add_promo: '🏷 પ્રોમો ઉમેરો', view_promos: '🏷 પ્રોમો', language: '🌐 ભાષા', mark_dispatched: '🚚 મોકલ્યું' },\n  kn: { accept: '✅ ಒಪ್ಪಿಕೊಳ್ಳಿ', reject: '❌ ತಿರಸ್ಕರಿಸಿ', mark_ready: '📦 ಸಿದ್ಧ', mark_delivered: '🚚 ಡೆಲಿವರಿ', view_orders: '📋 ಆರ್ಡರ್', add_item: '➕ ಸೇರಿಸಿ', edit_item: '✏️ ಸಂಪಾದಿಸಿ', remove_item: '🗑 ತೆಗೆದುಹಾಕಿ', view_inventory: '📦 ಇನ್ವೆಂಟರಿ', add_promo: '🏷 ಪ್ರೊಮೊ ಸೇರಿಸಿ', view_promos: '🏷 ಪ್ರೊಮೊ', language: '🌐 ಭಾಷೆ', mark_dispatched: '🚚 ಕಳುಹಿಸಿ' },\n  ml: { accept: '✅ സ്വീകരിക്കൂ', reject: '❌ നിരസിക്കൂ', mark_ready: '📦 തയ്യാർ', mark_delivered: '🚚 ഡെലിവറി', view_orders: '📋 ഓർഡറുകൾ', add_item: '➕ ചേർക്കൂ', edit_item: '✏️ തിരുത്തൂ', remove_item: '🗑 നീക്കൂ', view_inventory: '📦 ഇൻവെന്ററി', add_promo: '🏷 പ്രോമോ', view_promos: '🏷 പ്രോമോകൾ', language: '🌐 ഭാഷ', mark_dispatched: '🚚 അയച്ചു' },\n  or: { accept: '✅ ଗ୍ରହଣ', reject: '❌ ପ୍ରତ୍ୟାଖ୍ୟାନ', mark_ready: '📦 ପ୍ରସ୍ତୁତ', mark_delivered: '🚚 ଡେଲିଭରି', view_orders: '📋 ଅର୍ଡର', add_item: '➕ ଯୋଡ଼ନ୍ତୁ', edit_item: '✏️ ସଂଶୋଧନ', remove_item: '🗑 ହଟାନ୍ତୁ', view_inventory: '📦 ଇନ୍ଭେଣ୍ଟ୍ରି', add_promo: '🏷 ପ୍ରୋମୋ', view_promos: '🏷 ପ୍ରୋମୋ', language: '🌐 ଭାଷା', mark_dispatched: '🚚 ପଠାନ୍ତୁ' },\n  pa: { accept: '✅ ਮਨਜ਼ੂਰ', reject: '❌ ਰੱਦ', mark_ready: '📦 ਤਿਆਰ', mark_delivered: '🚚 ਡਿਲੀਵਰੀ', view_orders: '📋 ਆਰਡਰ', add_item: '➕ ਜੋੜੋ', edit_item: '✏️ ਸੰਪਾਦਿਤ', remove_item: '🗑 ਹਟਾਓ', view_inventory: '📦 ਇਨਵੈਂਟਰੀ', add_promo: '🏷 ਪ੍ਰੋਮੋ ਜੋੜੋ', view_promos: '🏷 ਪ੍ਰੋਮੋ', language: '🌐 ਭਾਸ਼ਾ', mark_dispatched: '🚚 ਭੇਜਿਆ' },\n};\nconst lbl = (lang, key) => (OWNER_BUTTON_LABELS[lang] || OWNER_BUTTON_LABELS['en'])[key] || OWNER_BUTTON_LABELS['en'][key];\n\nconst d = $('Start').first().json || {};\nconst lang = String(d.user_language || 'en');\nconst rawOrderId = String(d.order_id || '');\nconst orderParts = rawOrderId.split('__');\nconst normalizedOrderId = String(orderParts[0] || rawOrderId || '');\nconst normalizedCustomerChatId = String(d.customer_chat_id || orderParts[1] || '').trim();\nconst payload = {\n  chat_id: String(d.chat_id || d.owner_whatsapp_number || ''),\n  message_type: 'button',\n  body_text: `Order #${normalizedOrderId} dispatched. Tap when delivered.`,\n  buttons: [\n    { id: `delivered__${normalizedOrderId}__${normalizedCustomerChatId}`, title: lbl(lang, 'mark_delivered') },\n  ],\n  test_mode: d.test_mode === true,\n};\n\nreturn [{ json: payload }];\n"},"id":"oom-dispatch-delivered-btn","name":"Dispatch: Build Delivered Button","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,880]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{}},"id":"oom-dispatch-send-owner","name":"Dispatch: Send Owner Delivered","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1136,880]},{"parameters":{"operation":"executeQuery","query":"=UPDATE public.pending_orders SET status = 'delivered', updated_at = NOW() WHERE order_id = '{{ String($('Start').first().json.order_id || '').split(\"__\")[0] }}'","options":{}},"id":"oom-delivered-db","name":"Delivered: Update Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,1264],"alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $('Start').first().json || {};\nconst rawOrderId = String(d.order_id || '');\nconst orderParts = rawOrderId.split('__');\nconst normalizedOrderId = String(orderParts[0] || rawOrderId || '');\nconst normalizedCustomerChatId = String(d.customer_chat_id || orderParts[1] || '').trim();\nconst payload = {\n  chat_id: normalizedCustomerChatId,\n  message_type: 'button',\n  body_text: `Your order #${normalizedOrderId} has been delivered. Hope you enjoy it.`,\n  buttons: [\n    { id: `rate_good__${normalizedOrderId}`, title: 'Great' },\n    { id: `rate_bad__${normalizedOrderId}`, title: 'Issues' },\n  ],\n  test_mode: d.test_mode === true,\n};\n\nreturn [{ json: payload }];"},"id":"oom-delivered-notify","name":"Delivered: Notify Customer","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,1264]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{}},"id":"oom-delivered-send","name":"Delivered: Send Customer","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1136,1264]},{"id":"c3c80976-6599-4fb2-94c4-724c1914de8b","name":"Get Pricing Flag","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,588],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"parameters":{"operation":"executeQuery","query":"SELECT enable_pricing FROM public.stores LIMIT 1;","options":{}}}],"connections":{"Start":{"main":[[{"node":"Get Pricing Flag","type":"main","index":0}]]},"Route Action":{"main":[[{"node":"Build Notify Alert","type":"main","index":0}],[{"node":"Accept: Update Status","type":"main","index":0}],[{"node":"Reject: Update Status","type":"main","index":0}],[{"node":"Dispatch: Update Status","type":"main","index":0}],[{"node":"Delivered: Update Status","type":"main","index":0}]]},"Build Notify Alert":{"main":[[{"node":"Send Notify Alert","type":"main","index":0}]]},"Accept: Update Status":{"main":[[{"node":"Accept: Notify Customer","type":"main","index":0},{"node":"Accept: Build Dispatch Button","type":"main","index":0}]]},"Accept: Notify Customer":{"main":[[{"node":"Accept: Send Customer","type":"main","index":0}]]},"Accept: Build Dispatch Button":{"main":[[{"node":"Accept: Send Owner Dispatch","type":"main","index":0}]]},"Reject: Update Status":{"main":[[{"node":"Reject: Notify Customer","type":"main","index":0}]]},"Reject: Notify Customer":{"main":[[{"node":"Reject: Send Customer","type":"main","index":0}]]},"Dispatch: Update Status":{"main":[[{"node":"Dispatch: Notify Customer","type":"main","index":0},{"node":"Dispatch: Build Delivered Button","type":"main","index":0}]]},"Dispatch: Notify Customer":{"main":[[{"node":"Dispatch: Send Customer","type":"main","index":0}]]},"Dispatch: Build Delivered Button":{"main":[[{"node":"Dispatch: Send Owner Delivered","type":"main","index":0}]]},"Delivered: Update Status":{"main":[[{"node":"Delivered: Notify Customer","type":"main","index":0}]]},"Delivered: Notify Customer":{"main":[[{"node":"Delivered: Send Customer","type":"main","index":0}]]},"Get Pricing Flag":{"main":[[{"node":"Route Action","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-15T11:33:47.908Z","id":2360,"workflowId":"g6rGUma60FIEypEb","versionId":"31e4d9fc-d2d6-4e57-bef1-697bda3ddfa9","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-15T11:33:47.938Z","id":2361,"workflowId":"g6rGUma60FIEypEb","versionId":"31e4d9fc-d2d6-4e57-bef1-697bda3ddfa9","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}