workflows/latest/gI5pMjWPx8w02RUX__Webhook_Payment_Confirmation_Listener.json
{"updatedAt":"2026-03-06T06:22:41.258Z","createdAt":"2026-03-03T09:08:24.835Z","id":"gI5pMjWPx8w02RUX","name":"[Webhook] Payment Confirmation Listener","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"path":"fca760bf-77f5-48da-a7cb-50935d25eab5","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-624,368],"id":"7b4834dd-45cd-491a-a31b-4b6ca2b5b410","name":"Webhook","webhookId":"fca760bf-77f5-48da-a7cb-50935d25eab5"},{"parameters":{"jsCode":"const crypto = require('crypto');\n\n// IMPORTANT: You must store your Razorpay Key Secret securely.\n// For now, we will hardcode it. Later, this should be moved to n8n credentials.\nconst RAZORPAY_KEY_SECRET = '0hEAxWBC7vTeLOK974B442ZD'; // <-- PASTE YOUR KEY SECRET HERE\n\n// Razorpay sends all the data in the query parameters of the webhook URL.\nconst queryParams = $request.query;\n\nconst paymentLinkId = queryParams.razorpay_payment_link_id;\nconst paymentId = queryParams.razorpay_payment_id;\nconst paymentLinkRefId = queryParams.razorpay_payment_link_reference_id; // This is our order_id\nconst paymentLinkStatus = queryParams.razorpay_payment_link_status;\nconst signature = queryParams.razorpay_signature;\n\n// The string that needs to be signed is a combination of these IDs.\nconst body = `${paymentLinkId}|${paymentLinkRefId}|${paymentLinkStatus}|${paymentId}`;\n\n// Create the HMAC signature using SHA256 and your secret key.\nconst expectedSignature = crypto\n  .createHmac('sha256', RAZORPAY_KEY_SECRET)\n  .update(body.toString())\n  .digest('hex');\n\n// Compare our calculated signature with the one from Razorpay.\nif (expectedSignature === signature) {\n  // SUCCESS: The request is authentic. Pass the data on.\n  return [{\n    json: {\n      status: 'success_verified',\n      order_id: paymentLinkRefId, // Pass the order_id for the next steps\n      payment_id: paymentId\n    }\n  }];\n} else {\n  // FAILURE: The signature is invalid. This is a potential security risk.\n  // We must stop the workflow here.\n  console.error(\"CRITICAL: Invalid Razorpay signature. Request will be ignored.\");\n  // Returning an empty array effectively stops this branch of the workflow.\n  return []; \n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"8944a8d7-4abf-40cf-b19b-291e38853111","name":"Verify Razorpay Signature"},{"parameters":{"mode":"raw","jsonOutput":"={{ $items().find(item => item.json.order_id !== undefined).json }}","includeOtherFields":"=","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2128,320],"id":"86dfb454-b755-4487-a939-4cb1462c28b5","name":"Get Final Order Data"},{"parameters":{"jsCode":"// The input is an array of two items from the Merge node.\nconst mergedItems = $items();\n\n// --- Find the two pieces of data we need ---\nconst webhookData = mergedItems.find(item => item.json.query?.razorpay_signature)?.json;\nconst dbData = mergedItems.find(item => item.json.order_details_json)?.json;\n\nif (!webhookData || !dbData) {\n  throw new Error(\"FATAL: Webhook or DB data was lost after the merge.\");\n}\n\nconst orderId = webhookData.query.razorpay_payment_link_reference_id;\nconst orderDetails = dbData.order_details_json;\n\nif (!orderDetails || !orderDetails.items_in_final_order) {\n    throw new Error(\"FATAL: 'items_in_final_order' is missing from the stored JSON.\");\n}\n\nconst escape = (str) => str ? String(str).replace(/'/g, \"''\") : 'NULL';\n\n// --- THE FIX IS HERE ---\n// Added 'order_created_at' to the column list and 'NOW()' to the VALUES list.\nconst summaryInsert = `\nINSERT INTO n8n.order_summary (\n    order_id, chat_id, store_id, shipping_address, \n    subtotal_before_discounts, total_discount_applied, final_order_total, \n    applied_order_level_promo_ids, order_created_at\n)\nVALUES (\n    '${escape(orderId)}', \n    ${orderDetails.chat_id}, \n    ${orderDetails.store_id || 'NULL'}, \n    '${escape(orderDetails.address)}', \n    ${orderDetails.subtotal_before_discounts}, \n    ${orderDetails.total_discount_applied}, \n    ${orderDetails.final_order_total}, \n    '${escape(orderDetails.applied_promo_id)}',\n    NOW()\n);\n`;\n// --- END OF FIX ---\n\nconst itemValues = orderDetails.items_in_final_order.map(item =>\n  `('${escape(orderId)}', ${orderDetails.chat_id}, '${escape(item.original_name)}', ${item.quantity}, 'pending_confirmation', '${escape(item.sku)}', ${parseFloat(item.unit_price) || 0})`\n).join(',');\n\nconst itemsInsert = `\nINSERT INTO n8n.orders (order_id, user_id, name, quantity, status, sku, unit_price)\nVALUES ${itemValues};\n`;\n\nconst stockUpdates = orderDetails.items_in_final_order.map(item =>\n  `UPDATE n8n.inventory SET stock = stock - ${item.quantity} WHERE sku = '${escape(item.sku)}';`\n).join('\\n');\n\nconst cleanupPendingOrder = `\nDELETE FROM n8n.pending_orders WHERE order_id = '${escape(orderId)}';\n`;\n\nconst finalSqlScript = `\nBEGIN;\n${summaryInsert}\n${itemsInsert}\n${stockUpdates}\n${cleanupPendingOrder}\nCOMMIT;\n`;\n\nreturn [{\n  json: {\n    sql_script: finalSqlScript,\n    ...orderDetails\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,352],"id":"a4f3d87d-a535-4e10-bc50-8bba219c41d2","name":"Generate Full SQL Transaction"},{"parameters":{"operation":"executeQuery","query":"{{ $json.sql_script }}","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1568,160],"id":"abc3077d-4112-424c-b98f-b131fbc6236b","name":"Execute Order Transaction","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1872,320],"id":"3bd93eb1-b17b-4883-8cec-5f50ef31b29e","name":"Combine DB Result with Order Data"},{"parameters":{"jsCode":"function escapeMarkdownV2(text) {\n  const str = String(text || '');\n  return str\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/([_*[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1');\n}\n\n// Get final order data from previous node\nconst finalOrderData = $items(\"Get Final Order Data\")[0].json;\n\nconst orderId = finalOrderData.order_id.trim();\nconst chatId = finalOrderData.chat_id;\nconst totalPaid = parseFloat(finalOrderData.final_order_total).toFixed(2);\n\n// Build the message using proper escaping for all dynamic and static text\nconst message = \n  `✅ *${escapeMarkdownV2('Payment Received!')}*\\n\\n` +\n  `${escapeMarkdownV2('Thank you for your payment of')} *₹${escapeMarkdownV2(totalPaid)}*${escapeMarkdownV2('.')} \\n\\n` +\n  `${escapeMarkdownV2('Your Order')} *\\\\#${escapeMarkdownV2(orderId)}* ${escapeMarkdownV2('is now confirmed and has been sent to the store. We\\'ll notify you again once it\\'s on its way!')}`;\n\nreturn [{\n  json: {\n    confirmation_message: message,\n    chat_id_to_use: chatId,\n    parse_mode: 'MarkdownV2'\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,320],"id":"b16bb19e-58b5-42f7-a7e0-94a406691d2f","name":"Format Customer Confirmation"},{"parameters":{"operation":"executeQuery","query":"SELECT\n    chat_id,\n    store_id,\n    order_details_json,\n    final_order_total\nFROM\n    n8n.pending_orders\nWHERE\n    order_id = '{{ $json.query.razorpay_payment_link_reference_id }}'\n    AND status = 'pending_payment';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[128,592],"id":"4b7ab5cc-c309-4aec-a7ec-947f697237a0","name":"Get Pending Order from DB","alwaysOutputData":true},{"parameters":{"action":"hmac","type":"SHA256","value":"={{ $json.query.razorpay_payment_link_id + '|' + $json.query.razorpay_payment_link_reference_id + '|' + $json.query.razorpay_payment_link_status + '|' + $json.query.razorpay_payment_id }}","dataPropertyName":"expectedSignature","secret":"0hEAxWBC7vTeLOK974B442ZD"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-336,368],"id":"478507a2-9af0-4ca1-8b04-22272f22bac9","name":"Verify Razorpay Signature1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0e8b3ceb-2d96-46f2-b10d-e0e407c84068","leftValue":"={{ $json.expectedSignature }}","rightValue":"={{ $json.query.razorpay_signature }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-128,368],"id":"ce9e4872-8c14-4191-99a9-9f9b297c63b4","name":"Is Signature Valid?"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[512,368],"id":"8a365fe8-339d-49de-bb11-4f252064b84d","name":"Merge"},{"parameters":{"workflowId":{"__rl":true,"value":"ZbmsboQGT1SUhThE","mode":"list","cachedResultName":"[Notify] Kirana New Order"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[2432,320],"id":"1fff5065-b1fc-4ede-becb-055de77a3ba3","name":"Trigger Kirana Notification"},{"parameters":{"chatId":"={{ $json.chat_id_to_use }}","text":"={{ $json.confirmation_message }}","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2912,320],"id":"bd64f256-4a87-4f3b-9714-de7a84d76565","name":"Send to Customer","webhookId":"5e725ed7-17b4-414e-97ff-f8eba7649222"}],"connections":{"Webhook":{"main":[[{"node":"Verify Razorpay Signature1","type":"main","index":0}]]},"Get Final Order Data":{"main":[[{"node":"Trigger Kirana Notification","type":"main","index":0}]]},"Generate Full SQL Transaction":{"main":[[{"node":"Execute Order Transaction","type":"main","index":0},{"node":"Combine DB Result with Order Data","type":"main","index":1}]]},"Execute Order Transaction":{"main":[[{"node":"Combine DB Result with Order Data","type":"main","index":0}]]},"Combine DB Result with Order Data":{"main":[[{"node":"Get Final Order Data","type":"main","index":0}]]},"Get Pending Order from DB":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Verify Razorpay Signature1":{"main":[[{"node":"Is Signature Valid?","type":"main","index":0}]]},"Is Signature Valid?":{"main":[[{"node":"Get Pending Order from DB","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Generate Full SQL Transaction","type":"main","index":0}]]},"Trigger Kirana Notification":{"main":[[{"node":"Format Customer Confirmation","type":"main","index":0}]]},"Format Customer Confirmation":{"main":[[{"node":"Send to Customer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"aa7f3ec3-ca75-47d7-be92-abadf54c1dfe","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T09:08:24.835Z","createdAt":"2026-03-03T09:08:24.835Z","role":"workflow:owner","workflowId":"gI5pMjWPx8w02RUX","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":null}