workflows/latest/gygRnCmBCer86cXH__Test_Kirana_Mock_Webhook.json
{
  "updatedAt": "2026-03-15T17:20:40.511Z",
  "createdAt": "2026-03-15T17:20:40.511Z",
  "id": "gygRnCmBCer86cXH",
  "name": "[Test] Kirana Mock Webhook",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        320
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "kirana-test-runner",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "kirana-test-runner"
    },
    {
      "id": "setup-t1",
      "name": "Setup T1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { tool_input: { chat_id: 919000000000 } } }];"
      }
    },
    {
      "id": "exec-t1",
      "name": "exec_t1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "continueOnFail": true,
      "position": [
        700,
        320
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uFTUnWOeBHXiP2AI",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "verify-t1",
      "name": "Verify T1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const o = $json;\nif (o.error || o.$error) {\n  return [{ json: { name: 'view_cart_empty', passed: false, reason: 'Workflow execution failed: ' + (o.error || o.$error || 'unknown'), response_preview: '' } }];\n}\nconst text = o.text || o.body_text || o.confirmation_message || o.message || JSON.stringify(o).slice(0, 200);\nconst passed = /empty|nothing|\u0915\u094b\u0908/i.test(text);\nreturn [{ json: { name: 'view_cart_empty', passed, reason: passed ? 'OK' : 'Expected empty/nothing/\u0915\u094b\u0908 in: \"' + text.slice(0, 100) + '\"', response_preview: text.slice(0, 150) } }];"
      }
    },
    {
      "id": "setup-t2",
      "name": "Setup T2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { tool_input: { chat_id: 919000000000, product_name: 'milk', quantity: 1 } } }];"
      }
    },
    {
      "id": "exec-t2",
      "name": "exec_t2",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "continueOnFail": true,
      "position": [
        1420,
        320
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yKZu2D7Vn3NZUw1L",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "verify-t2",
      "name": "Verify T2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const o = $json;\nif (o.error || o.$error) {\n  return [{ json: { name: 'add_items_found', passed: false, reason: 'Workflow execution failed: ' + (o.error || o.$error || 'unknown'), response_preview: '' } }];\n}\nconst text = o.text || o.body_text || o.confirmation_message || o.message || JSON.stringify(o).slice(0, 200);\nconst passed = /added|cart|\u20b9|milk/i.test(text);\nreturn [{ json: { name: 'add_items_found', passed, reason: passed ? 'OK' : 'Expected added/cart/\u20b9/milk in: \"' + text.slice(0, 100) + '\"', response_preview: text.slice(0, 150) } }];"
      }
    },
    {
      "id": "setup-t3",
      "name": "Setup T3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { tool_input: { chat_id: 919000000000, product_name: 'xyznotfound999abc', quantity: 1 } } }];"
      }
    },
    {
      "id": "exec-t3",
      "name": "exec_t3",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "continueOnFail": true,
      "position": [
        2140,
        320
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yKZu2D7Vn3NZUw1L",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "verify-t3",
      "name": "Verify T3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const o = $json;\nif (o.error || o.$error) {\n  return [{ json: { name: 'add_items_notfound', passed: false, reason: 'Workflow execution failed: ' + (o.error || o.$error || 'unknown'), response_preview: '' } }];\n}\nconst text = o.text || o.body_text || o.confirmation_message || o.message || JSON.stringify(o).slice(0, 200);\nconst passed = /find|found|\u0928\u0939\u0940\u0902/i.test(text);\nreturn [{ json: { name: 'add_items_notfound', passed, reason: passed ? 'OK' : 'Expected find/found/\u0928\u0939\u0940\u0902 in: \"' + text.slice(0, 100) + '\"', response_preview: text.slice(0, 150) } }];"
      }
    },
    {
      "id": "setup-t4",
      "name": "Setup T4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { tool_input: { chat_id: 919000000000, entry_point: 'browse_home' } } }];"
      }
    },
    {
      "id": "exec-t4",
      "name": "exec_t4",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "continueOnFail": true,
      "position": [
        2860,
        320
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Xu9ngaO9mBg1sEIC",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "verify-t4",
      "name": "Verify T4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const o = $json;\nif (o.error || o.$error) {\n  return [{ json: { name: 'browse_home', passed: false, reason: 'Workflow execution failed: ' + (o.error || o.$error || 'unknown'), response_preview: '' } }];\n}\nconst text = o.text || o.body_text || o.confirmation_message || o.message || JSON.stringify(o).slice(0, 200);\nconst passed = text.trim().length > 0;\nreturn [{ json: { name: 'browse_home', passed, reason: passed ? 'OK' : 'Expected non-empty response, got empty', response_preview: text.slice(0, 150) } }];"
      }
    },
    {
      "id": "setup-t5",
      "name": "Setup T5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3340,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { tool_input: { chat_id: 919000000000, entry_point: 'browse_search', user_query: 'milk' } } }];"
      }
    },
    {
      "id": "exec-t5",
      "name": "exec_t5",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "continueOnFail": true,
      "position": [
        3580,
        320
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Xu9ngaO9mBg1sEIC",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "verify-t5",
      "name": "Verify T5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3820,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const o = $json;\nif (o.error || o.$error) {\n  return [{ json: { name: 'browse_search', passed: false, reason: 'Workflow execution failed: ' + (o.error || o.$error || 'unknown'), response_preview: '' } }];\n}\nconst text = o.text || o.body_text || o.confirmation_message || o.message || JSON.stringify(o).slice(0, 200);\nconst passed = text.trim().length > 0;\nreturn [{ json: { name: 'browse_search', passed, reason: passed ? 'OK' : 'Expected non-empty response for milk search', response_preview: text.slice(0, 150) } }];"
      }
    },
    {
      "id": "setup-t6",
      "name": "Setup T6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4060,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { tool_input: { chat_id: 919000000000 } } }];"
      }
    },
    {
      "id": "exec-t6",
      "name": "exec_t6",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "continueOnFail": true,
      "position": [
        4300,
        320
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "S0QE8s0YvcDagSnW",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "verify-t6",
      "name": "Verify T6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4540,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const o = $json;\nif (o.error || o.$error) {\n  return [{ json: { name: 'track_no_orders', passed: false, reason: 'Workflow execution failed: ' + (o.error || o.$error || 'unknown'), response_preview: '' } }];\n}\nconst text = o.text || o.body_text || o.confirmation_message || o.message || JSON.stringify(o).slice(0, 200);\nconst passed = text.trim().length > 0;\nreturn [{ json: { name: 'track_no_orders', passed, reason: passed ? 'OK' : 'Expected non-empty response', response_preview: text.slice(0, 150) } }];"
      }
    },
    {
      "id": "setup-t7",
      "name": "Setup T7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4780,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { chat_id: 919000000000, lang_code: 'hi' } }];"
      }
    },
    {
      "id": "exec-t7",
      "name": "exec_t7",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "continueOnFail": true,
      "position": [
        5020,
        320
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RMAW7qsDBClxmRQy",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "verify-t7",
      "name": "Verify T7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5260,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const o = $json;\nif (o.error || o.$error) {\n  return [{ json: { name: 'lang_select_hindi', passed: false, reason: 'Workflow execution failed: ' + (o.error || o.$error || 'unknown'), response_preview: '' } }];\n}\nconst text = o.text || o.body_text || o.confirmation_message || o.message || JSON.stringify(o).slice(0, 200);\nconst passed = text.trim().length > 0;\nreturn [{ json: { name: 'lang_select_hindi', passed, reason: passed ? 'OK' : 'Expected non-empty response', response_preview: text.slice(0, 150) } }];"
      }
    },
    {
      "id": "setup-t8",
      "name": "Setup T8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5500,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { tool_input: { chat_id: 919000000000 } } }];"
      }
    },
    {
      "id": "exec-t8",
      "name": "exec_t8",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "continueOnFail": true,
      "position": [
        5740,
        320
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OY8zswARgKBX7XjP",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "verify-t8",
      "name": "Verify T8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5980,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const o = $json;\nif (o.error || o.$error) {\n  return [{ json: { name: 'cancel_no_order', passed: false, reason: 'Workflow execution failed: ' + (o.error || o.$error || 'unknown'), response_preview: '' } }];\n}\nconst text = o.text || o.body_text || o.confirmation_message || o.message || JSON.stringify(o).slice(0, 200);\nconst passed = text.trim().length > 0;\nreturn [{ json: { name: 'cancel_no_order', passed, reason: passed ? 'OK' : 'Expected non-empty response', response_preview: text.slice(0, 150) } }];"
      }
    },
    {
      "id": "collect-results",
      "name": "Collect Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6640,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = [\n  $('Verify T1').first().json,\n  $('Verify T2').first().json,\n  $('Verify T3').first().json,\n  $('Verify T4').first().json,\n  $('Verify T5').first().json,\n  $('Verify T6').first().json,\n  $('Verify T7').first().json,\n  $('Verify T8').first().json,\n  $('Verify T9').first().json,\n  $('Verify T10').first().json,\n  $('Verify T11').first().json,\n  $('Verify T12').first().json,\n  $('Verify T13').first().json,\n  $('Verify T14').first().json,\n];\nconst passed = results.filter(r => r.passed).length;\nreturn [{ json: { results, passed, total: results.length } }];"
      }
    },
    {
      "id": "format-report",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6860,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const { results, passed, total } = $json;\nconst now = new Date().toISOString().slice(0, 16).replace('T', ' ');\nconst lines = results.map(r => {\n  const icon = r.passed ? '\u2705' : '\u274c';\n  const detail = r.passed ? '' : ' \u2014 ' + r.reason;\n  const preview = (!r.passed && r.response_preview) ? '\\n   \u2192 ' + r.response_preview.slice(0, 100) : '';\n  return icon + ' ' + r.name + detail + preview;\n});\nconst summary = passed + '/' + total + ' passed';\nconst report = '\ud83e\uddea Kirana Test Run \u2014 ' + now + '\\n\\n' + lines.join('\\n') + '\\n\\n' + summary;\nreturn [{ json: { chat_id: 917995653349, message_type: 'text', body_text: report } }];"
      }
    },
    {
      "id": "exec-send-report",
      "name": "exec_send_report",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        7080,
        320
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "dO77E4A3PI9DvxVw",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "setup-t9",
      "name": "Setup T9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6200,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { tool_input: { chat_id: 919000000000, entry_point: 'browse_category', category_key: 'dairy' } } }];"
      }
    },
    {
      "id": "exec-t9",
      "name": "exec_t9",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        6420,
        320
      ],
      "continueOnFail": true,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Xu9ngaO9mBg1sEIC",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "verify-t9",
      "name": "Verify T9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6640,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst o = $json;\nif (o.error || o.$error) return [{ json: { name: 'browse_category_dairy', passed: false, reason: 'exec failed: ' + (o.error || o.$error), response_preview: '' } }];\nconst text = o.body_text || o.text || JSON.stringify(o).slice(0, 200);\nconst passed = text.length > 10;\nreturn [{ json: { name: 'browse_category_dairy', passed, reason: passed ? 'OK' : 'Empty response', response_preview: text.slice(0, 200) } }];\n"
      }
    },
    {
      "id": "setup-t10",
      "name": "Setup T10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6860,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { tool_input: { chat_id: 919000000000, entry_point: 'browse_item', sku: 'MILK-500' } } }];"
      }
    },
    {
      "id": "exec-t10",
      "name": "exec_t10",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        7080,
        320
      ],
      "continueOnFail": true,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Xu9ngaO9mBg1sEIC",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "verify-t10",
      "name": "Verify T10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7300,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst o = $json;\nif (o.error || o.$error) return [{ json: { name: 'browse_item_MILK500', passed: false, reason: 'exec failed: ' + (o.error || o.$error), response_preview: '' } }];\nconst text = o.body_text || o.text || JSON.stringify(o).slice(0, 200);\nconst hasSections = Array.isArray(o.list_sections) && o.list_sections.length > 0;\nconst hasButtons = Array.isArray(o.buttons) && o.buttons.length > 0;\nconst passed = text.length > 10 && (hasSections || hasButtons);\nreturn [{ json: { name: 'browse_item_MILK500', passed, reason: passed ? 'OK' : 'No quantity picker buttons/sections', response_preview: text.slice(0, 200) } }];\n"
      }
    },
    {
      "id": "setup-t11",
      "name": "Setup T11",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7520,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { tool_input: { action: 'feedback_good', order_id: 'ORD-TEST-001', chat_id: 919000000000 } } }];"
      }
    },
    {
      "id": "exec-t11",
      "name": "exec_t11",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        7740,
        320
      ],
      "continueOnFail": true,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "w5D4XMey0WjTcJtp",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "verify-t11",
      "name": "Verify T11",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7960,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst o = $json;\nif (o.error || o.$error) return [{ json: { name: 'feedback_good', passed: false, reason: 'exec failed: ' + (o.error || o.$error || ''), response_preview: '' } }];\nconst text = o.body_text || o.text || JSON.stringify(o).slice(0, 200);\nconst passed = /glad|thanks|well|feedback/i.test(text);\nreturn [{ json: { name: 'feedback_good', passed, reason: passed ? 'OK' : 'Expected pattern not found', response_preview: text.slice(0, 200) } }];\n"
      }
    },
    {
      "id": "setup-t12",
      "name": "Setup T12",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8180,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { tool_input: { action: 'feedback_issue_start', order_id: 'ORD-TEST-001', chat_id: 919000000000 } } }];"
      }
    },
    {
      "id": "exec-t12",
      "name": "exec_t12",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        8400,
        320
      ],
      "continueOnFail": true,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "w5D4XMey0WjTcJtp",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "verify-t12",
      "name": "Verify T12",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8620,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst o = $json;\nif (o.error || o.$error) return [{ json: { name: 'feedback_issue_start', passed: false, reason: 'exec failed: ' + (o.error || o.$error || ''), response_preview: '' } }];\nconst text = o.body_text || o.text || JSON.stringify(o).slice(0, 200);\nconst passed = /issue|wrong|quality|late|report/i.test(text);\nreturn [{ json: { name: 'feedback_issue_start', passed, reason: passed ? 'OK' : 'Expected pattern not found', response_preview: text.slice(0, 200) } }];\n"
      }
    },
    {
      "id": "setup-t13",
      "name": "Setup T13",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8840,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { tool_input: { action: 'feedback_issue_type', order_id: 'ORD-TEST-001', chat_id: 919000000000, issue_type: 'quality_issue' } } }];"
      }
    },
    {
      "id": "exec-t13",
      "name": "exec_t13",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        9060,
        320
      ],
      "continueOnFail": true,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "w5D4XMey0WjTcJtp",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "verify-t13",
      "name": "Verify T13",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9280,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst o = $json;\nif (o.error || o.$error) return [{ json: { name: 'feedback_issue_type', passed: false, reason: 'exec failed: ' + (o.error || o.$error || ''), response_preview: '' } }];\nconst text = o.body_text || o.text || JSON.stringify(o).slice(0, 200);\nconst passed = /quality|issue|sorry|describe|tell/i.test(text);\nreturn [{ json: { name: 'feedback_issue_type', passed, reason: passed ? 'OK' : 'Expected pattern not found', response_preview: text.slice(0, 200) } }];\n"
      }
    },
    {
      "id": "setup-t14",
      "name": "Setup T14",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9500,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { tool_input: { action: 'feedback_issue_text', order_id: 'ORD-TEST-001', chat_id: 919000000000, issue_type: 'quality_issue', message: 'The milk was stale' } } }];"
      }
    },
    {
      "id": "exec-t14",
      "name": "exec_t14",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        9720,
        320
      ],
      "continueOnFail": true,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "w5D4XMey0WjTcJtp",
          "mode": "id"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "verify-t14",
      "name": "Verify T14",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9940,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "\nconst o = $json;\nif (o.error || o.$error) return [{ json: { name: 'feedback_issue_text', passed: false, reason: 'exec failed: ' + (o.error || o.$error || ''), response_preview: '' } }];\nconst text = o.body_text || o.text || JSON.stringify(o).slice(0, 200);\nconst passed = /submitted|notified|feedback|review|sorry/i.test(text);\nreturn [{ json: { name: 'feedback_issue_text', passed, reason: passed ? 'OK' : 'Expected pattern not found', response_preview: text.slice(0, 200) } }];\n"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Setup T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup T1": {
      "main": [
        [
          {
            "node": "exec_t1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec_t1": {
      "main": [
        [
          {
            "node": "Verify T1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify T1": {
      "main": [
        [
          {
            "node": "Setup T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup T2": {
      "main": [
        [
          {
            "node": "exec_t2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec_t2": {
      "main": [
        [
          {
            "node": "Verify T2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify T2": {
      "main": [
        [
          {
            "node": "Setup T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup T3": {
      "main": [
        [
          {
            "node": "exec_t3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec_t3": {
      "main": [
        [
          {
            "node": "Verify T3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify T3": {
      "main": [
        [
          {
            "node": "Setup T4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup T4": {
      "main": [
        [
          {
            "node": "exec_t4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec_t4": {
      "main": [
        [
          {
            "node": "Verify T4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify T4": {
      "main": [
        [
          {
            "node": "Setup T5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup T5": {
      "main": [
        [
          {
            "node": "exec_t5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec_t5": {
      "main": [
        [
          {
            "node": "Verify T5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify T5": {
      "main": [
        [
          {
            "node": "Setup T6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup T6": {
      "main": [
        [
          {
            "node": "exec_t6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec_t6": {
      "main": [
        [
          {
            "node": "Verify T6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify T6": {
      "main": [
        [
          {
            "node": "Setup T7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup T7": {
      "main": [
        [
          {
            "node": "exec_t7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec_t7": {
      "main": [
        [
          {
            "node": "Verify T7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify T7": {
      "main": [
        [
          {
            "node": "Setup T8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup T8": {
      "main": [
        [
          {
            "node": "exec_t8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec_t8": {
      "main": [
        [
          {
            "node": "Verify T8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify T8": {
      "main": [
        [
          {
            "node": "Setup T9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "exec_send_report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup T9": {
      "main": [
        [
          {
            "node": "exec_t9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec_t9": {
      "main": [
        [
          {
            "node": "Verify T9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify T9": {
      "main": [
        [
          {
            "node": "Setup T10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup T10": {
      "main": [
        [
          {
            "node": "exec_t10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec_t10": {
      "main": [
        [
          {
            "node": "Verify T10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify T10": {
      "main": [
        [
          {
            "node": "Setup T11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup T11": {
      "main": [
        [
          {
            "node": "exec_t11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec_t11": {
      "main": [
        [
          {
            "node": "Verify T11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify T11": {
      "main": [
        [
          {
            "node": "Setup T12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup T12": {
      "main": [
        [
          {
            "node": "exec_t12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec_t12": {
      "main": [
        [
          {
            "node": "Verify T12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify T12": {
      "main": [
        [
          {
            "node": "Setup T13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup T13": {
      "main": [
        [
          {
            "node": "exec_t13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec_t13": {
      "main": [
        [
          {
            "node": "Verify T13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify T13": {
      "main": [
        [
          {
            "node": "Setup T14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup T14": {
      "main": [
        [
          {
            "node": "exec_t14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exec_t14": {
      "main": [
        [
          {
            "node": "Verify T14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify T14": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "297f1726-e1fc-43d4-8ee4-8c8bab74890e",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-15T17:20:40.511Z",
      "createdAt": "2026-03-15T17:20:40.511Z",
      "role": "workflow:owner",
      "workflowId": "gygRnCmBCer86cXH",
      "projectId": "IDlW7VSwSQis1BZL",
      "project": {
        "updatedAt": "2026-02-08T17:38:30.859Z",
        "createdAt": "2026-02-08T17:36:33.972Z",
        "id": "IDlW7VSwSQis1BZL",
        "name": "Vishnu Pratap <vishnupratapkumar@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "26516b95-0143-4657-99c5-c7cf19c81981"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}