workflows/latest/hN3YkLKXv2XutPzr__Notify_Kirana_New_Order.json
{"updatedAt":"2026-03-11T10:41:33.277Z","createdAt":"2026-03-03T11:24:28.571Z","id":"hN3YkLKXv2XutPzr","name":"[Notify] Kirana New Order","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"e0cd2b04-f943-497d-8e08-a33b95dce181","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"jsCode":"const incoming = $input.first().json || {};\n\nconst items = Array.isArray(incoming.items_in_final_order)\n  ? incoming.items_in_final_order\n  : Array.isArray(incoming.order_details?.items_in_final_order)\n    ? incoming.order_details.items_in_final_order\n    : [];\n\nconst itemLines = [];\nfor (const item of items) {\n  const qty = item && item.quantity !== undefined ? item.quantity : 0;\n  const name = item && (item.original_name || item.name) ? (item.original_name || item.name) : 'item';\n  const unit = item && item.unit ? ` ${item.unit}` : '';\n  itemLines.push(`- ${qty}x ${name}${unit}`);\n}\nif (itemLines.length === 0) {\n  itemLines.push('- Items not available in payload');\n}\n\nconst storeId = Number(incoming.store_id || incoming.store_id_to_notify || 1);\nconst orderId = String(incoming.order_id || '');\nconst customerChatId = String(incoming.customer_chat_id || incoming.chat_id || '');\nconst shippingAddress = String(incoming.shipping_address || incoming.address || 'Address unavailable');\nconst finalOrderTotal = Number(incoming.final_order_total || 0);\nconst totalDiscountApplied = Number(incoming.total_discount_applied || 0);\nconst discountLine = totalDiscountApplied > 0 ? `\\nDiscount Applied: -₹${totalDiscountApplied.toFixed(2)}` : '';\n\nconst messagePlain =\n  'New Paid Order!\\n\\n' +\n  `Order ID: ${orderId}\\n\\n` +\n  'Please pack the following items:\\n\\n' +\n  `${itemLines.join('\\n')}\\n\\n` +\n  `Delivery Address:\\n${shippingAddress}\\n\\n` +\n  `Total Paid: ₹${finalOrderTotal.toFixed(2)}` +\n  discountLine +\n  '\\n\\nPlease prepare the order for pickup.';\n\nconst baseOrderDetails = incoming.order_details && typeof incoming.order_details === 'object'\n  ? incoming.order_details\n  : {};\n\nconst out = {\n  ...incoming,\n  message_to_send: messagePlain,\n  message_to_send_plain: messagePlain,\n  store_id_to_notify: storeId,\n  order_id: orderId,\n\n  chat_id: customerChatId,\n  customer_chat_id: customerChatId,\n  customer_name: String(incoming.customer_name || incoming.name || ''),\n  shipping_address: shippingAddress,\n  final_order_total: finalOrderTotal,\n  total_discount_applied: totalDiscountApplied,\n  order_details: {\n    ...baseOrderDetails,\n    order_id: String(baseOrderDetails.order_id || orderId),\n    chat_id: String(baseOrderDetails.chat_id || customerChatId),\n    store_id: Number(baseOrderDetails.store_id || storeId),\n    address: String(baseOrderDetails.address || shippingAddress),\n    final_order_total: Number(baseOrderDetails.final_order_total || finalOrderTotal),\n    total_discount_applied: Number(baseOrderDetails.total_discount_applied || totalDiscountApplied),\n    items_in_final_order: items,\n  },\n};\n\nreturn [{ json: out }];","mode":"runOnceForAllItems"},"id":"99d67354-7c2f-456c-99da-38438be55753","name":"Format Kirana Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0]},{"parameters":{"operation":"get","tableId":"stores","filters":{"conditions":[{"keyName":"store_id","keyValue":"={{ $json.store_id_to_notify || 1 }}"}]}},"id":"e5548d90-7df3-4f17-ba36-b6bfb154c5c5","name":"Get Store Owner","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[480,160],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"f4b18d67-c09c-48b6-bb0c-e180a3895bc9","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[752,0]},{"parameters":{"chatId":{"__rl":true,"value":"={{ $json.owner_telegram_chat_id }}","mode":"expression"},"text":"={{ $json.message_to_send }}","additionalFields":{"parse_mode":""},"operation":"sendMessage"},"id":"6de03f10-cb75-4bc1-b8e7-6ca13e6aefcf","name":"Send To Kirana Owner","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[992,0],"webhookId":"ed919d85-f771-470c-b793-9d39b6d3dbf4","credentials":{"telegramApi":{"id":"TY52vdf0a6Q2KRpP","name":"Telegram"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"id":"1407eea7-5d90-4022-b768-9bd858945ced","name":"Has Owner Telegram?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1184,-80],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"has-owner-tg","leftValue":"={{ String($json.owner_telegram_chat_id || '').trim() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}}},{"id":"a2f9c605-4da7-4251-b79c-6ab5b7c23ba7","name":"Has Owner WhatsApp?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1184,96],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"has-owner-wa","leftValue":"={{ String($json.owner_whatsapp_number || '').trim() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}}},{"id":"49d9873a-4400-4904-b1cd-9b6d99f87ab5","name":"Log No Channel","type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,-80],"parameters":{"jsCode":"const item = $input.first().json || {};\nconst orderId = item.order_id || 'unknown';\nconsole.log('Kirana notification skipped - no owner Telegram or WhatsApp channel configured. Order: ' + orderId);\nreturn [{ json: { skipped: true, order_id: orderId, reason: 'No owner Telegram or WhatsApp channel configured in store record' } }];"}},{"id":"notify-exec-order-mgr","name":"Notify Owner via Order Manager","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1664,96],"parameters":{"workflowId":{"__rl":true,"value":"g6rGUma60FIEypEb","mode":"id"},"options":{"waitForSubWorkflow":false},"inputData":null,"source":"database","workflowInputs":{"mappingMode":"defineBelow","value":{"action":"notify","order_id":"={{ $json.order_id }}","customer_name":"={{ $json.customer_name || '' }}","customer_chat_id":"={{ $json.customer_chat_id || $json.chat_id }}","shipping_address":"={{ $json.shipping_address || $json.address || '' }}","order_details":"={{ $json.order_details || { items_in_final_order: $json.items_in_final_order || [] } }}","final_order_total":"={{ $json.final_order_total }}","owner_whatsapp_number":"={{ $json.owner_whatsapp_number }}"},"matchingColumns":[],"schema":[{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"order_id","displayName":"order_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"customer_name","displayName":"customer_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"customer_chat_id","displayName":"customer_chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"shipping_address","displayName":"shipping_address","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"order_details","displayName":"order_details","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"final_order_total","displayName":"final_order_total","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"owner_whatsapp_number","displayName":"owner_whatsapp_number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}}},{"id":"notify-done","name":"Notify Done","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1904,96],"parameters":{}},{"id":"notify-has-any-channel","name":"Has Any Channel?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1184,16],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"has-any-tg","leftValue":"={{ String($json.owner_telegram_chat_id || '').trim() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}},{"id":"has-any-wa","leftValue":"={{ String($json.owner_whatsapp_number || '').trim() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"or"},"options":{}}}],"connections":{"Start":{"main":[[{"node":"Format Kirana Message","type":"main","index":0}]]},"Format Kirana Message":{"main":[[{"node":"Get Store Owner","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Get Store Owner":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Has Any Channel?","type":"main","index":0}]]},"Has Any Channel?":{"main":[[{"node":"Has Owner Telegram?","type":"main","index":0},{"node":"Has Owner WhatsApp?","type":"main","index":0}],[{"node":"Log No Channel","type":"main","index":0}]]},"Has Owner Telegram?":{"main":[[{"node":"Send To Kirana Owner","type":"main","index":0}],[]]},"Has Owner WhatsApp?":{"main":[[{"node":"Notify Owner via Order Manager","type":"main","index":0}],[]]},"Notify Owner via Order Manager":{"main":[[{"node":"Notify Done","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start":[{"json":{"confirmation_message":"Order Confirmed!\n\nOrder ID: ORD\\-7322094265\\-1772559805920\nTotal: Rs.45\\.60\nDeliver to: default address\n\nWe have notified the store. Your order is being prepared!","chat_id":7322094265,"order_id":"ORD-7322094265-1772559805920"},"pairedItem":{"item":0}}]},"versionId":"89175787-8699-4079-b5be-eac06b74fb6b","activeVersionId":"89175787-8699-4079-b5be-eac06b74fb6b","versionCounter":65,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T11:24:28.571Z","createdAt":"2026-03-03T11:24:28.571Z","role":"workflow:owner","workflowId":"hN3YkLKXv2XutPzr","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-11T10:00:13.481Z","createdAt":"2026-03-11T10:00:13.481Z","versionId":"89175787-8699-4079-b5be-eac06b74fb6b","workflowId":"hN3YkLKXv2XutPzr","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"e0cd2b04-f943-497d-8e08-a33b95dce181","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"jsCode":"const incoming = $input.first().json || {};\n\nconst items = Array.isArray(incoming.items_in_final_order)\n  ? incoming.items_in_final_order\n  : Array.isArray(incoming.order_details?.items_in_final_order)\n    ? incoming.order_details.items_in_final_order\n    : [];\n\nconst itemLines = [];\nfor (const item of items) {\n  const qty = item && item.quantity !== undefined ? item.quantity : 0;\n  const name = item && (item.original_name || item.name) ? (item.original_name || item.name) : 'item';\n  const unit = item && item.unit ? ` ${item.unit}` : '';\n  itemLines.push(`- ${qty}x ${name}${unit}`);\n}\nif (itemLines.length === 0) {\n  itemLines.push('- Items not available in payload');\n}\n\nconst storeId = Number(incoming.store_id || incoming.store_id_to_notify || 1);\nconst orderId = String(incoming.order_id || '');\nconst customerChatId = String(incoming.customer_chat_id || incoming.chat_id || '');\nconst shippingAddress = String(incoming.shipping_address || incoming.address || 'Address unavailable');\nconst finalOrderTotal = Number(incoming.final_order_total || 0);\nconst totalDiscountApplied = Number(incoming.total_discount_applied || 0);\nconst discountLine = totalDiscountApplied > 0 ? `\\nDiscount Applied: -₹${totalDiscountApplied.toFixed(2)}` : '';\n\nconst messagePlain =\n  'New Paid Order!\\n\\n' +\n  `Order ID: ${orderId}\\n\\n` +\n  'Please pack the following items:\\n\\n' +\n  `${itemLines.join('\\n')}\\n\\n` +\n  `Delivery Address:\\n${shippingAddress}\\n\\n` +\n  `Total Paid: ₹${finalOrderTotal.toFixed(2)}` +\n  discountLine +\n  '\\n\\nPlease prepare the order for pickup.';\n\nconst baseOrderDetails = incoming.order_details && typeof incoming.order_details === 'object'\n  ? incoming.order_details\n  : {};\n\nconst out = {\n  ...incoming,\n  message_to_send: messagePlain,\n  message_to_send_plain: messagePlain,\n  store_id_to_notify: storeId,\n  order_id: orderId,\n\n  chat_id: customerChatId,\n  customer_chat_id: customerChatId,\n  customer_name: String(incoming.customer_name || incoming.name || ''),\n  shipping_address: shippingAddress,\n  final_order_total: finalOrderTotal,\n  total_discount_applied: totalDiscountApplied,\n  order_details: {\n    ...baseOrderDetails,\n    order_id: String(baseOrderDetails.order_id || orderId),\n    chat_id: String(baseOrderDetails.chat_id || customerChatId),\n    store_id: Number(baseOrderDetails.store_id || storeId),\n    address: String(baseOrderDetails.address || shippingAddress),\n    final_order_total: Number(baseOrderDetails.final_order_total || finalOrderTotal),\n    total_discount_applied: Number(baseOrderDetails.total_discount_applied || totalDiscountApplied),\n    items_in_final_order: items,\n  },\n};\n\nreturn [{ json: out }];","mode":"runOnceForAllItems"},"id":"99d67354-7c2f-456c-99da-38438be55753","name":"Format Kirana Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0]},{"parameters":{"operation":"get","tableId":"stores","filters":{"conditions":[{"keyName":"store_id","keyValue":"={{ $json.store_id_to_notify || 1 }}"}]}},"id":"e5548d90-7df3-4f17-ba36-b6bfb154c5c5","name":"Get Store Owner","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[480,160],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"f4b18d67-c09c-48b6-bb0c-e180a3895bc9","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[752,0]},{"parameters":{"chatId":{"__rl":true,"value":"={{ $json.owner_telegram_chat_id }}","mode":"expression"},"text":"={{ $json.message_to_send }}","additionalFields":{"parse_mode":""},"operation":"sendMessage"},"id":"6de03f10-cb75-4bc1-b8e7-6ca13e6aefcf","name":"Send To Kirana Owner","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[992,0],"webhookId":"ed919d85-f771-470c-b793-9d39b6d3dbf4","credentials":{"telegramApi":{"id":"TY52vdf0a6Q2KRpP","name":"Telegram"}},"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":2000},{"id":"1407eea7-5d90-4022-b768-9bd858945ced","name":"Has Owner Telegram?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1184,-80],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"has-owner-tg","leftValue":"={{ String($json.owner_telegram_chat_id || '').trim() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}}},{"id":"a2f9c605-4da7-4251-b79c-6ab5b7c23ba7","name":"Has Owner WhatsApp?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1184,96],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"has-owner-wa","leftValue":"={{ String($json.owner_whatsapp_number || '').trim() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}}},{"id":"49d9873a-4400-4904-b1cd-9b6d99f87ab5","name":"Log No Channel","type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,-80],"parameters":{"jsCode":"const item = $input.first().json || {};\nconst orderId = item.order_id || 'unknown';\nconsole.log('Kirana notification skipped - no owner Telegram or WhatsApp channel configured. Order: ' + orderId);\nreturn [{ json: { skipped: true, order_id: orderId, reason: 'No owner Telegram or WhatsApp channel configured in store record' } }];"}},{"id":"notify-exec-order-mgr","name":"Notify Owner via Order Manager","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1664,96],"parameters":{"workflowId":{"__rl":true,"value":"g6rGUma60FIEypEb","mode":"id"},"options":{"waitForSubWorkflow":false},"inputData":null,"source":"database","workflowInputs":{"mappingMode":"defineBelow","value":{"action":"notify","order_id":"={{ $json.order_id }}","customer_name":"={{ $json.customer_name || '' }}","customer_chat_id":"={{ $json.customer_chat_id || $json.chat_id }}","shipping_address":"={{ $json.shipping_address || $json.address || '' }}","order_details":"={{ $json.order_details || { items_in_final_order: $json.items_in_final_order || [] } }}","final_order_total":"={{ $json.final_order_total }}","owner_whatsapp_number":"={{ $json.owner_whatsapp_number }}"},"matchingColumns":[],"schema":[{"id":"action","displayName":"action","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"order_id","displayName":"order_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"customer_name","displayName":"customer_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"customer_chat_id","displayName":"customer_chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"shipping_address","displayName":"shipping_address","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"order_details","displayName":"order_details","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"final_order_total","displayName":"final_order_total","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"owner_whatsapp_number","displayName":"owner_whatsapp_number","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}}},{"id":"notify-done","name":"Notify Done","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1904,96],"parameters":{}},{"id":"notify-has-any-channel","name":"Has Any Channel?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1184,16],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"has-any-tg","leftValue":"={{ String($json.owner_telegram_chat_id || '').trim() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}},{"id":"has-any-wa","leftValue":"={{ String($json.owner_whatsapp_number || '').trim() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"or"},"options":{}}}],"connections":{"Start":{"main":[[{"node":"Format Kirana Message","type":"main","index":0}]]},"Format Kirana Message":{"main":[[{"node":"Get Store Owner","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Get Store Owner":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Has Any Channel?","type":"main","index":0}]]},"Has Any Channel?":{"main":[[{"node":"Has Owner Telegram?","type":"main","index":0},{"node":"Has Owner WhatsApp?","type":"main","index":0}],[{"node":"Log No Channel","type":"main","index":0}]]},"Has Owner Telegram?":{"main":[[{"node":"Send To Kirana Owner","type":"main","index":0}],[]]},"Has Owner WhatsApp?":{"main":[[{"node":"Notify Owner via Order Manager","type":"main","index":0}],[]]},"Notify Owner via Order Manager":{"main":[[{"node":"Notify Done","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-11T10:27:55.347Z","id":1445,"workflowId":"hN3YkLKXv2XutPzr","versionId":"89175787-8699-4079-b5be-eac06b74fb6b","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T10:27:55.401Z","id":1446,"workflowId":"hN3YkLKXv2XutPzr","versionId":"89175787-8699-4079-b5be-eac06b74fb6b","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T10:00:13.920Z","id":1433,"workflowId":"hN3YkLKXv2XutPzr","versionId":"89175787-8699-4079-b5be-eac06b74fb6b","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T10:00:14.008Z","id":1434,"workflowId":"hN3YkLKXv2XutPzr","versionId":"89175787-8699-4079-b5be-eac06b74fb6b","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T10:37:52.769Z","id":1470,"workflowId":"hN3YkLKXv2XutPzr","versionId":"89175787-8699-4079-b5be-eac06b74fb6b","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T10:37:52.833Z","id":1471,"workflowId":"hN3YkLKXv2XutPzr","versionId":"89175787-8699-4079-b5be-eac06b74fb6b","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T10:39:42.774Z","id":1483,"workflowId":"hN3YkLKXv2XutPzr","versionId":"89175787-8699-4079-b5be-eac06b74fb6b","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T10:39:42.847Z","id":1484,"workflowId":"hN3YkLKXv2XutPzr","versionId":"89175787-8699-4079-b5be-eac06b74fb6b","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T10:41:33.454Z","id":1495,"workflowId":"hN3YkLKXv2XutPzr","versionId":"89175787-8699-4079-b5be-eac06b74fb6b","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T10:41:33.519Z","id":1496,"workflowId":"hN3YkLKXv2XutPzr","versionId":"89175787-8699-4079-b5be-eac06b74fb6b","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}