workflows/latest/HrwRyze3sCTOjuI5__Tool_Smart_Promo_Engine.json
{"updatedAt":"2026-03-10T09:36:07.933Z","createdAt":"2026-03-04T01:20:25.821Z","id":"HrwRyze3sCTOjuI5","name":"[Tool] Smart Promo Engine","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"54904844-4bba-4628-b7c4-2348b0763761","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM public.promotions WHERE is_active = true AND (valid_from IS NULL OR NOW() >= valid_from) AND (valid_until IS NULL OR NOW() <= valid_until) ORDER BY priority DESC;","options":{}},"id":"50add535-3dce-4fb6-8ab0-45a953e28652","name":"Get All Active Promotions","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[424,0],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT ci.sku, ci.quantity, ci.price_at_addition \nFROM public.cart_items ci \nJOIN public.carts c ON ci.cart_id = c.cart_id \nWHERE c.user_id = {{ $('Normalize Promo Input').first().json.chat_id }} \nAND c.status = 'active';","options":{}},"id":"586d6765-4012-4854-84cc-57058dd47c52","name":"Get Cart Items","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[648,0],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"SELECT sku, item_name, category, price, stock, complementary_skus FROM public.inventory WHERE is_active = true;","options":{}},"id":"484345c8-edc2-407e-8f46-9fff4d66d86c","name":"Get Inventory","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[872,0],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT order_details_json FROM public.order_summary \nWHERE chat_id = {{ $('Normalize Promo Input').first().json.chat_id }} \nORDER BY order_created_at DESC LIMIT 5;","options":{}},"id":"1917943f-bf7b-4706-99c8-36b387456271","name":"Get User Order History","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1096,0],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT promo_code FROM public.promo_impressions \nWHERE chat_id = {{ $('Normalize Promo Input').first().json.chat_id }} \nAND shown_at > NOW() - INTERVAL '12 hours';","options":{}},"id":"8aee0041-411a-495d-9cef-d7c48b26a8d7","name":"Get Shown Promos","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1320,0],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const input = $('Normalize Promo Input').first().json;\nconst chatId = input.chat_id;\nconst currentSku = input.sku;\nconst cartTotal = parseFloat(input.cart_total || 0);\n\n// Get already shown promos from DB\nconst sessionShownPromos = $('Get Shown Promos').all()\n  .map(i => i.json.promo_code)\n  .filter(Boolean);\n\n// Get all data\nconst promotions = $('Get All Active Promotions').all().map(i => i.json).filter(i => i && i.promo_code);\nconst cartItems = $('Get Cart Items').all().map(i => i.json).filter(i => i && i.sku);\nconst inventory = $('Get Inventory').all().map(i => i.json).filter(i => i && i.sku);\nconst orderHistory = $('Get User Order History').all().map(i => i.json).filter(i => i && i.order_details_json);\n\n// Build inventory map\nconst invMap = {};\ninventory.forEach(p => { invMap[p.sku] = p; });\n\nconst currentProduct = invMap[currentSku] || {};\nconst currentCategory = currentProduct.category || '';\n\n// Parse order history\nconst historicalSkus = new Set();\nconst historicalCategories = new Set();\norderHistory.forEach(order => {\n  try {\n    const details = typeof order.order_details_json === 'string'\n      ? JSON.parse(order.order_details_json)\n      : order.order_details_json;\n    (details.items_in_final_order || []).forEach(item => {\n      historicalSkus.add(item.sku);\n      if (invMap[item.sku]) historicalCategories.add(invMap[item.sku].category);\n    });\n  } catch(e) {}\n});\n\n// Current time for time-based scoring\nconst now = new Date();\nconst currentHour = now.getHours();\nconst currentMonth = now.getMonth() + 1;\nconst seasonMap = {\n  'summer': [3,4,5,6],\n  'monsoon': [7,8,9],\n  'winter': [11,12,1,2],\n  'festive': [9,10,11]\n};\n\n// Cart skus set\nconst cartSkus = new Set(cartItems.map(i => i.sku));\nconst cartCategories = new Set(cartItems.map(i => (invMap[i.sku] || {}).category).filter(Boolean));\n\n// Score each promotion\nconst scored = [];\n\npromotions.forEach(promo => {\n  // Skip if already shown in last 12 hours\n  if (sessionShownPromos.includes(promo.promo_code)) return;\n\n  // Skip if outside valid hours\n  if (promo.valid_hours_start !== null && promo.valid_hours_start !== undefined &&\n      promo.valid_hours_end !== null && promo.valid_hours_end !== undefined) {\n    if (currentHour < promo.valid_hours_start || currentHour >= promo.valid_hours_end) return;\n  }\n\n  let score = (promo.priority || 5) * 10;\n  let hintType = null;\n  let hintData = {};\n\n  // Expiry urgency\n  if (promo.valid_until) {\n    const hoursLeft = (new Date(promo.valid_until) - now) / (1000 * 60 * 60);\n    if (hoursLeft <= 24) score += 50;\n    else if (hoursLeft <= 48) score += 25;\n  }\n\n  // Seasonal match\n  if (promo.seasonal_tags && promo.seasonal_tags.length > 0) {\n    const matchesSeason = promo.seasonal_tags.some(tag => {\n      const months = seasonMap[tag.toLowerCase()];\n      return months && months.includes(currentMonth);\n    });\n    if (matchesSeason) score += 15;\n    else score -= 20;\n  }\n\n  // BOGO nudge - user has item, needs more to trigger\n  if (promo.discount_type === 'bogo' && promo.promo_scope === 'product' && promo.target_sku === currentSku) {\n    const cartItem = cartItems.find(i => i.sku === currentSku);\n    const currentQty = cartItem ? parseInt(cartItem.quantity) : 0;\n    const needed = 3 - (currentQty % 3);\n    if (needed === 1 || needed === 2) {\n      score += 60;\n      hintType = 'bogo_nudge';\n      hintData = { needed, item_name: currentProduct.item_name, promo_code: promo.promo_code };\n    }\n  }\n\n  // Direct product promo on item just added\n  if (promo.promo_scope === 'product' && promo.target_sku === currentSku && promo.discount_type !== 'bogo') {\n    score += 40;\n    hintType = hintType || 'product_deal';\n    hintData = hintType === 'product_deal' ? { promo } : hintData;\n  }\n\n  // Category promo matches item just added\n  if (promo.promo_scope === 'category' && promo.target_category === currentCategory) {\n    score += 30;\n    hintType = hintType || 'category_deal';\n    hintData = hintType === 'category_deal' ? { promo, category: currentCategory } : hintData;\n  }\n\n  // Threshold unlock - within 25% of min_cart_value\n  if (promo.promo_scope === 'order' && promo.min_cart_value) {\n    const threshold = parseFloat(promo.min_cart_value);\n    const gap = threshold - cartTotal;\n    if (gap > 0 && gap <= threshold * 0.25) {\n      score += 60;\n      hintType = hintType || 'threshold_unlock';\n      hintData = hintType === 'threshold_unlock' ? { gap: gap.toFixed(2), promo } : hintData;\n    }\n  }\n\n  // Complementary product deal\n  if (promo.promo_scope === 'product' && promo.target_sku !== currentSku) {\n    const targetProduct = invMap[promo.target_sku];\n    if (targetProduct) {\n      const currentComplements = currentProduct.complementary_skus || [];\n      if (currentComplements.includes(promo.target_sku)) {\n        score += 35;\n        hintType = hintType || 'complementary';\n        hintData = hintType === 'complementary' ? { promo, target_name: targetProduct.item_name } : hintData;\n      }\n    }\n  }\n\n  // History boost\n  if (promo.promo_scope === 'category' && historicalCategories.has(promo.target_category)) score += 20;\n  if (promo.promo_scope === 'product' && historicalSkus.has(promo.target_sku)) score += 20;\n\n  // History-based reorder hint\n  if (promo.promo_scope === 'product' && promo.target_sku !== currentSku) {\n    const targetInHistory = historicalSkus.has(promo.target_sku);\n    const targetNotInCart = !cartSkus.has(promo.target_sku);\n    const targetProduct = invMap[promo.target_sku];\n    if (targetInHistory && targetNotInCart && targetProduct) {\n      score += 25;\n      hintType = hintType || 'history_reorder';\n      hintData = hintType === 'history_reorder' ? { promo, target_name: targetProduct.item_name } : hintData;\n    }\n  }\n\n  // Low stock urgency\n  if (promo.target_sku) {\n    const targetProduct = invMap[promo.target_sku];\n    if (targetProduct && parseInt(targetProduct.stock) <= 5 && parseInt(targetProduct.stock) > 0) {\n      score += 20;\n    }\n  }\n\n  if (score > 30 && hintType) {\n    scored.push({ score, hintType, hintData, promo_code: promo.promo_code });\n  }\n});\n\nscored.sort((a, b) => b.score - a.score);\nconst best = scored[0] || null;\n\nreturn [{ json: { best, cartTotal, currentSku, currentProduct } }];"},"id":"26fe5b6b-3e25-4b53-a39b-2582834ee999","name":"Score And Select Best Promo","type":"n8n-nodes-base.code","typeVersion":2,"position":[1544,0]},{"parameters":{"jsCode":"const { best, currentProduct } = $json;\n\nif (!best) {\n  return [{ json: { promo_hint: '', promo_code_shown: '' } }];\n}\n\nconst { hintType, hintData } = best;\nlet hint = '';\n\n// Helper: returns discount text only when discount_value > 0, else empty string\nfunction discountText(p) {\n  if (!p || !p.discount_value || p.discount_value <= 0) return '';\n  return p.discount_type === 'percentage'\n    ? p.discount_value + '% off'\n    : 'Rs.' + p.discount_value + ' off';\n}\n\nif (hintType === 'bogo_nudge') {\n  hint = 'Add ' + hintData.needed + ' more ' + hintData.item_name + ' to get 1 FREE!';\n}\nelse if (hintType === 'product_deal') {\n  const p = hintData.promo;\n  const dt = discountText(p);\n  if (dt) {\n    if (p.discount_type === 'percentage') hint = 'Deal: ' + p.promo_code + ' - ' + p.discount_value + '% off on this item!';\n    else hint = 'Deal: ' + p.promo_code + ' - Rs.' + p.discount_value + ' off on this item!';\n  } else {\n    hint = 'Deal: ' + p.promo_code + ' applies to this item today!';\n  }\n}\nelse if (hintType === 'category_deal') {\n  const p = hintData.promo;\n  const dt = discountText(p);\n  if (dt) {\n    if (p.discount_type === 'percentage') hint = 'Deal: ' + p.promo_code + ' - ' + p.discount_value + '% off on all ' + hintData.category + '!';\n    else hint = 'Deal: ' + p.promo_code + ' - Rs.' + p.discount_value + ' off on ' + hintData.category + '!';\n  } else {\n    hint = 'Deal: ' + p.promo_code + ' applies to all ' + hintData.category + ' today!';\n  }\n}\nelse if (hintType === 'threshold_unlock') {\n  const p = hintData.promo;\n  const dt = discountText(p);\n  if (dt) {\n    hint = 'Add Rs.' + hintData.gap + ' more to unlock ' + dt + ' your entire order!';\n  } else {\n    hint = 'Add Rs.' + hintData.gap + ' more to unlock a special deal on your entire order!';\n  }\n}\nelse if (hintType === 'complementary') {\n  const p = hintData.promo;\n  const dt = discountText(p);\n  if (dt) {\n    hint = hintData.target_name + ' goes great with this! ' + p.promo_code + ' gives you ' + dt + ' on it today.';\n  } else {\n    hint = hintData.target_name + ' goes great with this — add it to your cart? \\uD83D\\uDED2';\n  }\n}\nelse if (hintType === 'history_reorder') {\n  const p = hintData.promo;\n  const dt = discountText(p);\n  if (dt) {\n    hint = \"You\\u2019ve ordered \" + hintData.target_name + ' before \\u2014 ' + dt + ' today! \\uD83D\\uDD01';\n  } else {\n    hint = \"You\\u2019ve ordered \" + hintData.target_name + ' before \\u2014 add it again? \\uD83D\\uDD01';\n  }\n}\n\nreturn [{ json: { promo_hint: hint, promo_code_shown: hint ? best.promo_code : '' } }];"},"id":"5b655f53-386b-4162-8a82-3a53d27e711a","name":"Format Promo Hint","type":"n8n-nodes-base.code","typeVersion":2,"position":[1768,0]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO public.promo_impressions (chat_id, promo_code) \nSELECT {{ $('Normalize Promo Input').first().json.chat_id }}, '{{ $json.promo_code_shown }}'\nWHERE '{{ $json.promo_code_shown }}' != '';","options":{}},"id":"0e7c8353-f4d1-4b8e-8de7-32daa7709ab8","name":"Record Promo Impression","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1992,0],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const chatId = String($('Normalize Promo Input').first().json.chat_id || $('Start').first().json.tool_input?.chat_id || '');\nconst allPromos = $('Get All Active Promotions').all().map(i => i.json).filter(i => i && i.promo_code);\n\nif (allPromos.length === 0) {\n  return [{ json: {\n    confirmation_message: \"🎁 No active offers right now. Check back soon — deals are added daily!\",\n    chat_id: chatId,\n    message_type: 'text',\n    promo_hint: '',\n    promo_code_shown: ''\n  }}];\n}\n\nconst lines = allPromos.map(p => {\n  let disc = '';\n  if (p.discount_type === 'percentage') disc = `${p.discount_value}% off`;\n  else if (p.discount_type === 'flat') disc = `₹${p.discount_value} off`;\n  else if (p.discount_type === 'bogo') disc = 'Buy 2 Get 1 Free';\n  else disc = p.discount_type || 'Special deal';\n\n  let scope = '';\n  if (p.min_cart_value) scope = ` (min cart ₹${p.min_cart_value})`;\n\n  let validity = '';\n  if (p.valid_until) {\n    const d = new Date(p.valid_until);\n    validity = ` — valid till ${d.toLocaleDateString('en-IN', { day: '2-digit', month: 'short' })}`;\n  }\n\n  const desc = p.description ? `\\n   ${p.description}` : '';\n  return `🏷 *${p.promo_code}* — ${disc}${scope}${validity}${desc}`;\n}).join('\\n\\n');\n\n// Also surface the best scored promo hint if available\nconst hint = $('Format Promo Hint').first().json;\nconst hintLine = hint && hint.promo_hint ? `\\n\\n💡 *Tip:* ${hint.promo_hint}` : '';\n\nconst msg = `🎉 *Today's Offers*\\n\\n${lines}${hintLine}\\n\\n_Discounts apply automatically at checkout!_`;\n\nreturn [{ json: {\n  confirmation_message: msg,\n  chat_id: chatId,\n  message_type: 'text',\n  promo_hint: hint?.promo_hint || '',\n  promo_code_shown: hint?.promo_code_shown || ''\n}}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2152,0],"id":"95842d9b-061c-47ca-a055-c55d0ecb39e0","name":"Return Output"},{"id":"normalize-promo-001","name":"Normalize Promo Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[200,0],"parameters":{"jsCode":"const d = $json;\nlet ti = d.tool_input || {};\nif (typeof ti === 'string') {\n  try { ti = JSON.parse(ti); } catch(e) { ti = {}; }\n}\nconst chatId = String(d.chat_id || ti.chat_id || '');\nconst sku = d.sku || ti.sku || '';\nconst cartTotal = parseFloat(d.cart_total || ti.cart_total || 0);\nconst userQuery = d.user_query || ti.user_query || '';\nreturn [{ json: { chat_id: chatId, sku, cart_total: cartTotal, user_query: userQuery } }];"}}],"connections":{"Start":{"main":[[{"node":"Normalize Promo Input","type":"main","index":0}]]},"Get All Active Promotions":{"main":[[{"node":"Get Cart Items","type":"main","index":0}]]},"Get Cart Items":{"main":[[{"node":"Get Inventory","type":"main","index":0}]]},"Get Inventory":{"main":[[{"node":"Get User Order History","type":"main","index":0}]]},"Get User Order History":{"main":[[{"node":"Get Shown Promos","type":"main","index":0}]]},"Get Shown Promos":{"main":[[{"node":"Score And Select Best Promo","type":"main","index":0}]]},"Score And Select Best Promo":{"main":[[{"node":"Format Promo Hint","type":"main","index":0}]]},"Format Promo Hint":{"main":[[{"node":"Record Promo Impression","type":"main","index":0}]]},"Record Promo Impression":{"main":[[{"node":"Return Output","type":"main","index":0}]]},"Normalize Promo Input":{"main":[[{"node":"Get All Active Promotions","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"29f9f188-b1e8-43d1-b041-40ceb21eaf94","activeVersionId":"29f9f188-b1e8-43d1-b041-40ceb21eaf94","versionCounter":48,"triggerCount":0,"shared":[{"updatedAt":"2026-03-04T01:20:25.821Z","createdAt":"2026-03-04T01:20:25.821Z","role":"workflow:owner","workflowId":"HrwRyze3sCTOjuI5","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-10T09:36:07.940Z","createdAt":"2026-03-10T09:36:07.940Z","versionId":"29f9f188-b1e8-43d1-b041-40ceb21eaf94","workflowId":"HrwRyze3sCTOjuI5","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"54904844-4bba-4628-b7c4-2348b0763761","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM public.promotions WHERE is_active = true AND (valid_from IS NULL OR NOW() >= valid_from) AND (valid_until IS NULL OR NOW() <= valid_until) ORDER BY priority DESC;","options":{}},"id":"50add535-3dce-4fb6-8ab0-45a953e28652","name":"Get All Active Promotions","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[424,0],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT ci.sku, ci.quantity, ci.price_at_addition \nFROM public.cart_items ci \nJOIN public.carts c ON ci.cart_id = c.cart_id \nWHERE c.user_id = {{ $('Normalize Promo Input').first().json.chat_id }} \nAND c.status = 'active';","options":{}},"id":"586d6765-4012-4854-84cc-57058dd47c52","name":"Get Cart Items","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[648,0],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"SELECT sku, item_name, category, price, stock, complementary_skus FROM public.inventory WHERE is_active = true;","options":{}},"id":"484345c8-edc2-407e-8f46-9fff4d66d86c","name":"Get Inventory","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[872,0],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT order_details_json FROM public.order_summary \nWHERE chat_id = {{ $('Normalize Promo Input').first().json.chat_id }} \nORDER BY order_created_at DESC LIMIT 5;","options":{}},"id":"1917943f-bf7b-4706-99c8-36b387456271","name":"Get User Order History","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1096,0],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT promo_code FROM public.promo_impressions \nWHERE chat_id = {{ $('Normalize Promo Input').first().json.chat_id }} \nAND shown_at > NOW() - INTERVAL '12 hours';","options":{}},"id":"8aee0041-411a-495d-9cef-d7c48b26a8d7","name":"Get Shown Promos","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1320,0],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const input = $('Normalize Promo Input').first().json;\nconst chatId = input.chat_id;\nconst currentSku = input.sku;\nconst cartTotal = parseFloat(input.cart_total || 0);\n\n// Get already shown promos from DB\nconst sessionShownPromos = $('Get Shown Promos').all()\n  .map(i => i.json.promo_code)\n  .filter(Boolean);\n\n// Get all data\nconst promotions = $('Get All Active Promotions').all().map(i => i.json).filter(i => i && i.promo_code);\nconst cartItems = $('Get Cart Items').all().map(i => i.json).filter(i => i && i.sku);\nconst inventory = $('Get Inventory').all().map(i => i.json).filter(i => i && i.sku);\nconst orderHistory = $('Get User Order History').all().map(i => i.json).filter(i => i && i.order_details_json);\n\n// Build inventory map\nconst invMap = {};\ninventory.forEach(p => { invMap[p.sku] = p; });\n\nconst currentProduct = invMap[currentSku] || {};\nconst currentCategory = currentProduct.category || '';\n\n// Parse order history\nconst historicalSkus = new Set();\nconst historicalCategories = new Set();\norderHistory.forEach(order => {\n  try {\n    const details = typeof order.order_details_json === 'string'\n      ? JSON.parse(order.order_details_json)\n      : order.order_details_json;\n    (details.items_in_final_order || []).forEach(item => {\n      historicalSkus.add(item.sku);\n      if (invMap[item.sku]) historicalCategories.add(invMap[item.sku].category);\n    });\n  } catch(e) {}\n});\n\n// Current time for time-based scoring\nconst now = new Date();\nconst currentHour = now.getHours();\nconst currentMonth = now.getMonth() + 1;\nconst seasonMap = {\n  'summer': [3,4,5,6],\n  'monsoon': [7,8,9],\n  'winter': [11,12,1,2],\n  'festive': [9,10,11]\n};\n\n// Cart skus set\nconst cartSkus = new Set(cartItems.map(i => i.sku));\nconst cartCategories = new Set(cartItems.map(i => (invMap[i.sku] || {}).category).filter(Boolean));\n\n// Score each promotion\nconst scored = [];\n\npromotions.forEach(promo => {\n  // Skip if already shown in last 12 hours\n  if (sessionShownPromos.includes(promo.promo_code)) return;\n\n  // Skip if outside valid hours\n  if (promo.valid_hours_start !== null && promo.valid_hours_start !== undefined &&\n      promo.valid_hours_end !== null && promo.valid_hours_end !== undefined) {\n    if (currentHour < promo.valid_hours_start || currentHour >= promo.valid_hours_end) return;\n  }\n\n  let score = (promo.priority || 5) * 10;\n  let hintType = null;\n  let hintData = {};\n\n  // Expiry urgency\n  if (promo.valid_until) {\n    const hoursLeft = (new Date(promo.valid_until) - now) / (1000 * 60 * 60);\n    if (hoursLeft <= 24) score += 50;\n    else if (hoursLeft <= 48) score += 25;\n  }\n\n  // Seasonal match\n  if (promo.seasonal_tags && promo.seasonal_tags.length > 0) {\n    const matchesSeason = promo.seasonal_tags.some(tag => {\n      const months = seasonMap[tag.toLowerCase()];\n      return months && months.includes(currentMonth);\n    });\n    if (matchesSeason) score += 15;\n    else score -= 20;\n  }\n\n  // BOGO nudge - user has item, needs more to trigger\n  if (promo.discount_type === 'bogo' && promo.promo_scope === 'product' && promo.target_sku === currentSku) {\n    const cartItem = cartItems.find(i => i.sku === currentSku);\n    const currentQty = cartItem ? parseInt(cartItem.quantity) : 0;\n    const needed = 3 - (currentQty % 3);\n    if (needed === 1 || needed === 2) {\n      score += 60;\n      hintType = 'bogo_nudge';\n      hintData = { needed, item_name: currentProduct.item_name, promo_code: promo.promo_code };\n    }\n  }\n\n  // Direct product promo on item just added\n  if (promo.promo_scope === 'product' && promo.target_sku === currentSku && promo.discount_type !== 'bogo') {\n    score += 40;\n    hintType = hintType || 'product_deal';\n    hintData = hintType === 'product_deal' ? { promo } : hintData;\n  }\n\n  // Category promo matches item just added\n  if (promo.promo_scope === 'category' && promo.target_category === currentCategory) {\n    score += 30;\n    hintType = hintType || 'category_deal';\n    hintData = hintType === 'category_deal' ? { promo, category: currentCategory } : hintData;\n  }\n\n  // Threshold unlock - within 25% of min_cart_value\n  if (promo.promo_scope === 'order' && promo.min_cart_value) {\n    const threshold = parseFloat(promo.min_cart_value);\n    const gap = threshold - cartTotal;\n    if (gap > 0 && gap <= threshold * 0.25) {\n      score += 60;\n      hintType = hintType || 'threshold_unlock';\n      hintData = hintType === 'threshold_unlock' ? { gap: gap.toFixed(2), promo } : hintData;\n    }\n  }\n\n  // Complementary product deal\n  if (promo.promo_scope === 'product' && promo.target_sku !== currentSku) {\n    const targetProduct = invMap[promo.target_sku];\n    if (targetProduct) {\n      const currentComplements = currentProduct.complementary_skus || [];\n      if (currentComplements.includes(promo.target_sku)) {\n        score += 35;\n        hintType = hintType || 'complementary';\n        hintData = hintType === 'complementary' ? { promo, target_name: targetProduct.item_name } : hintData;\n      }\n    }\n  }\n\n  // History boost\n  if (promo.promo_scope === 'category' && historicalCategories.has(promo.target_category)) score += 20;\n  if (promo.promo_scope === 'product' && historicalSkus.has(promo.target_sku)) score += 20;\n\n  // History-based reorder hint\n  if (promo.promo_scope === 'product' && promo.target_sku !== currentSku) {\n    const targetInHistory = historicalSkus.has(promo.target_sku);\n    const targetNotInCart = !cartSkus.has(promo.target_sku);\n    const targetProduct = invMap[promo.target_sku];\n    if (targetInHistory && targetNotInCart && targetProduct) {\n      score += 25;\n      hintType = hintType || 'history_reorder';\n      hintData = hintType === 'history_reorder' ? { promo, target_name: targetProduct.item_name } : hintData;\n    }\n  }\n\n  // Low stock urgency\n  if (promo.target_sku) {\n    const targetProduct = invMap[promo.target_sku];\n    if (targetProduct && parseInt(targetProduct.stock) <= 5 && parseInt(targetProduct.stock) > 0) {\n      score += 20;\n    }\n  }\n\n  if (score > 30 && hintType) {\n    scored.push({ score, hintType, hintData, promo_code: promo.promo_code });\n  }\n});\n\nscored.sort((a, b) => b.score - a.score);\nconst best = scored[0] || null;\n\nreturn [{ json: { best, cartTotal, currentSku, currentProduct } }];"},"id":"26fe5b6b-3e25-4b53-a39b-2582834ee999","name":"Score And Select Best Promo","type":"n8n-nodes-base.code","typeVersion":2,"position":[1544,0]},{"parameters":{"jsCode":"const { best, currentProduct } = $json;\n\nif (!best) {\n  return [{ json: { promo_hint: '', promo_code_shown: '' } }];\n}\n\nconst { hintType, hintData } = best;\nlet hint = '';\n\n// Helper: returns discount text only when discount_value > 0, else empty string\nfunction discountText(p) {\n  if (!p || !p.discount_value || p.discount_value <= 0) return '';\n  return p.discount_type === 'percentage'\n    ? p.discount_value + '% off'\n    : 'Rs.' + p.discount_value + ' off';\n}\n\nif (hintType === 'bogo_nudge') {\n  hint = 'Add ' + hintData.needed + ' more ' + hintData.item_name + ' to get 1 FREE!';\n}\nelse if (hintType === 'product_deal') {\n  const p = hintData.promo;\n  const dt = discountText(p);\n  if (dt) {\n    if (p.discount_type === 'percentage') hint = 'Deal: ' + p.promo_code + ' - ' + p.discount_value + '% off on this item!';\n    else hint = 'Deal: ' + p.promo_code + ' - Rs.' + p.discount_value + ' off on this item!';\n  } else {\n    hint = 'Deal: ' + p.promo_code + ' applies to this item today!';\n  }\n}\nelse if (hintType === 'category_deal') {\n  const p = hintData.promo;\n  const dt = discountText(p);\n  if (dt) {\n    if (p.discount_type === 'percentage') hint = 'Deal: ' + p.promo_code + ' - ' + p.discount_value + '% off on all ' + hintData.category + '!';\n    else hint = 'Deal: ' + p.promo_code + ' - Rs.' + p.discount_value + ' off on ' + hintData.category + '!';\n  } else {\n    hint = 'Deal: ' + p.promo_code + ' applies to all ' + hintData.category + ' today!';\n  }\n}\nelse if (hintType === 'threshold_unlock') {\n  const p = hintData.promo;\n  const dt = discountText(p);\n  if (dt) {\n    hint = 'Add Rs.' + hintData.gap + ' more to unlock ' + dt + ' your entire order!';\n  } else {\n    hint = 'Add Rs.' + hintData.gap + ' more to unlock a special deal on your entire order!';\n  }\n}\nelse if (hintType === 'complementary') {\n  const p = hintData.promo;\n  const dt = discountText(p);\n  if (dt) {\n    hint = hintData.target_name + ' goes great with this! ' + p.promo_code + ' gives you ' + dt + ' on it today.';\n  } else {\n    hint = hintData.target_name + ' goes great with this — add it to your cart? \\uD83D\\uDED2';\n  }\n}\nelse if (hintType === 'history_reorder') {\n  const p = hintData.promo;\n  const dt = discountText(p);\n  if (dt) {\n    hint = \"You\\u2019ve ordered \" + hintData.target_name + ' before \\u2014 ' + dt + ' today! \\uD83D\\uDD01';\n  } else {\n    hint = \"You\\u2019ve ordered \" + hintData.target_name + ' before \\u2014 add it again? \\uD83D\\uDD01';\n  }\n}\n\nreturn [{ json: { promo_hint: hint, promo_code_shown: hint ? best.promo_code : '' } }];"},"id":"5b655f53-386b-4162-8a82-3a53d27e711a","name":"Format Promo Hint","type":"n8n-nodes-base.code","typeVersion":2,"position":[1768,0]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO public.promo_impressions (chat_id, promo_code) \nSELECT {{ $('Normalize Promo Input').first().json.chat_id }}, '{{ $json.promo_code_shown }}'\nWHERE '{{ $json.promo_code_shown }}' != '';","options":{}},"id":"0e7c8353-f4d1-4b8e-8de7-32daa7709ab8","name":"Record Promo Impression","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1992,0],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const chatId = String($('Normalize Promo Input').first().json.chat_id || $('Start').first().json.tool_input?.chat_id || '');\nconst allPromos = $('Get All Active Promotions').all().map(i => i.json).filter(i => i && i.promo_code);\n\nif (allPromos.length === 0) {\n  return [{ json: {\n    confirmation_message: \"🎁 No active offers right now. Check back soon — deals are added daily!\",\n    chat_id: chatId,\n    message_type: 'text',\n    promo_hint: '',\n    promo_code_shown: ''\n  }}];\n}\n\nconst lines = allPromos.map(p => {\n  let disc = '';\n  if (p.discount_type === 'percentage') disc = `${p.discount_value}% off`;\n  else if (p.discount_type === 'flat') disc = `₹${p.discount_value} off`;\n  else if (p.discount_type === 'bogo') disc = 'Buy 2 Get 1 Free';\n  else disc = p.discount_type || 'Special deal';\n\n  let scope = '';\n  if (p.min_cart_value) scope = ` (min cart ₹${p.min_cart_value})`;\n\n  let validity = '';\n  if (p.valid_until) {\n    const d = new Date(p.valid_until);\n    validity = ` — valid till ${d.toLocaleDateString('en-IN', { day: '2-digit', month: 'short' })}`;\n  }\n\n  const desc = p.description ? `\\n   ${p.description}` : '';\n  return `🏷 *${p.promo_code}* — ${disc}${scope}${validity}${desc}`;\n}).join('\\n\\n');\n\n// Also surface the best scored promo hint if available\nconst hint = $('Format Promo Hint').first().json;\nconst hintLine = hint && hint.promo_hint ? `\\n\\n💡 *Tip:* ${hint.promo_hint}` : '';\n\nconst msg = `🎉 *Today's Offers*\\n\\n${lines}${hintLine}\\n\\n_Discounts apply automatically at checkout!_`;\n\nreturn [{ json: {\n  confirmation_message: msg,\n  chat_id: chatId,\n  message_type: 'text',\n  promo_hint: hint?.promo_hint || '',\n  promo_code_shown: hint?.promo_code_shown || ''\n}}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2152,0],"id":"95842d9b-061c-47ca-a055-c55d0ecb39e0","name":"Return Output"},{"id":"normalize-promo-001","name":"Normalize Promo Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[200,0],"parameters":{"jsCode":"const d = $json;\nlet ti = d.tool_input || {};\nif (typeof ti === 'string') {\n  try { ti = JSON.parse(ti); } catch(e) { ti = {}; }\n}\nconst chatId = String(d.chat_id || ti.chat_id || '');\nconst sku = d.sku || ti.sku || '';\nconst cartTotal = parseFloat(d.cart_total || ti.cart_total || 0);\nconst userQuery = d.user_query || ti.user_query || '';\nreturn [{ json: { chat_id: chatId, sku, cart_total: cartTotal, user_query: userQuery } }];"}}],"connections":{"Start":{"main":[[{"node":"Normalize Promo Input","type":"main","index":0}]]},"Get All Active Promotions":{"main":[[{"node":"Get Cart Items","type":"main","index":0}]]},"Get Cart Items":{"main":[[{"node":"Get Inventory","type":"main","index":0}]]},"Get Inventory":{"main":[[{"node":"Get User Order History","type":"main","index":0}]]},"Get User Order History":{"main":[[{"node":"Get Shown Promos","type":"main","index":0}]]},"Get Shown Promos":{"main":[[{"node":"Score And Select Best Promo","type":"main","index":0}]]},"Score And Select Best Promo":{"main":[[{"node":"Format Promo Hint","type":"main","index":0}]]},"Format Promo Hint":{"main":[[{"node":"Record Promo Impression","type":"main","index":0}]]},"Record Promo Impression":{"main":[[{"node":"Return Output","type":"main","index":0}]]},"Normalize Promo Input":{"main":[[{"node":"Get All Active Promotions","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-10T09:36:08.277Z","id":732,"workflowId":"HrwRyze3sCTOjuI5","versionId":"29f9f188-b1e8-43d1-b041-40ceb21eaf94","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-10T09:36:08.363Z","id":733,"workflowId":"HrwRyze3sCTOjuI5","versionId":"29f9f188-b1e8-43d1-b041-40ceb21eaf94","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}