workflows/latest/jgb4KLTcrS9ctMVm__Test_Owner_Customer_Linked_Proof_Runner.json
{"updatedAt":"2026-03-13T01:22:44.902Z","createdAt":"2026-03-11T07:07:27.499Z","id":"jgb4KLTcrS9ctMVm","name":"[Test] Owner Customer Linked Proof Runner","description":null,"active":false,"isArchived":false,"nodes":[{"id":"trigger","name":"Every Minute","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,320],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}}},{"id":"seed","name":"Seed Linked Inputs","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const ts = String(Date.now());\nconst suffix = ts.slice(-6);\nconst customer = '91' + String(Date.now() + 11111).slice(-10);\nconst empty = '91' + String(Date.now() + 22222).slice(-10);\nconst cancel = '91' + String(Date.now() + 33333).slice(-10);\nconst owner = '91' + String(Date.now() + 44444).slice(-10);\nreturn [{\n  json: {\n    owner_chat_id: owner,\n    customer_chat_id: customer,\n    empty_chat_id: empty,\n    cancel_chat_id: cancel,\n    address: '221 Test Street, Bengaluru',\n    milk_name: 'Linked Proof Milk 500ml ' + suffix,\n    milk_sku: 'LINKPROOFMILK' + suffix,\n    atta_name: 'Linked Proof Atta 5kg ' + suffix,\n    atta_sku: 'LINKPROOFATTA' + suffix,\n    milk_initial_price: 52,\n    milk_initial_stock: 9,\n    atta_initial_price: 310,\n    atta_initial_stock: 3,\n    updated_milk_price: 55,\n    low_stock: 1,\n    replenished_stock: 5,\n    order_qty: 2,\n    expected_line_total: 110,\n    test_mode: true,\n    run_token: 'linked_' + suffix,\n  }\n}];"}},{"id":"pre-clean","name":"Pre Cleanup","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[700,320],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Seed Linked Inputs').first().json || {}; const chats = [s.customer_chat_id, s.empty_chat_id, s.cancel_chat_id].map(v => String(v || '').replace(/'/g, \"''\")).join(', '); const milkSku = String(s.milk_sku || '').replace(/'/g, \"''\"); const attaSku = String(s.atta_sku || '').replace(/'/g, \"''\"); return `DELETE FROM public.order_feedback WHERE chat_id::text IN ('${String(s.customer_chat_id || '').replace(/'/g, \"''\")}', '${String(s.empty_chat_id || '').replace(/'/g, \"''\")}', '${String(s.cancel_chat_id || '').replace(/'/g, \"''\")}'); DELETE FROM public.pending_orders WHERE chat_id IN (${chats}); DELETE FROM public.order_summary WHERE chat_id IN (${chats}); DELETE FROM public.orders WHERE user_id IN (${chats}); DELETE FROM public.cart_items WHERE cart_id IN (SELECT cart_id FROM public.carts WHERE user_id IN (${chats})); DELETE FROM public.carts WHERE user_id IN (${chats}); DELETE FROM public.inventory WHERE sku IN ('${milkSku}', '${attaSku}'); SELECT 'cleanup' AS result;`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"resolve-store","name":"Resolve Store","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[940,320],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"SELECT store_id, store_name FROM public.stores ORDER BY COALESCE(onboarding_step, 0) DESC, created_at DESC NULLS LAST, store_id DESC LIMIT 1;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"ensure-store","name":"Ensure Store Ready","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const row = $('Resolve Store').first().json || {}; if (!row.store_id) throw new Error('No active store available for linked proof'); return [{ json: row }];"}},{"id":"seed-inventory","name":"Seed Proof Inventory","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1420,320],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Seed Linked Inputs').first().json || {}; const store = $('Ensure Store Ready').first().json || {}; const milkName = String(s.milk_name || '').replace(/'/g, \"''\"); const milkSku = String(s.milk_sku || '').replace(/'/g, \"''\"); const attaName = String(s.atta_name || '').replace(/'/g, \"''\"); const attaSku = String(s.atta_sku || '').replace(/'/g, \"''\"); const storeId = Number(store.store_id || 0); return `INSERT INTO public.inventory (item_name, sku, price, stock, unit, category, store_id, is_active, created_at, updated_at) VALUES ('${milkName}', '${milkSku}', ${Number(s.milk_initial_price || 0)}, ${Number(s.milk_initial_stock || 0)}, 'pack', 'Dairy', ${storeId}, true, NOW(), NOW()), ('${attaName}', '${attaSku}', ${Number(s.atta_initial_price || 0)}, ${Number(s.atta_initial_stock || 0)}, 'pack', 'Staples', ${storeId}, true, NOW(), NOW()) ON CONFLICT (sku) DO UPDATE SET item_name = EXCLUDED.item_name, price = EXCLUDED.price, stock = EXCLUDED.stock, unit = EXCLUDED.unit, category = EXCLUDED.category, store_id = EXCLUDED.store_id, is_active = true, updated_at = NOW(); SELECT sku, item_name, price::text AS price, stock::text AS stock FROM public.inventory WHERE sku IN ('${milkSku}', '${attaSku}') ORDER BY sku;`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"browse-req","name":"Build Browse Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,40],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; return [{ json: { tool_input: { chat_id: s.customer_chat_id, user_query: 'browse', entry_point: 'linked_proof' } } }];"}},{"id":"browse-run","name":"Run Browse","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1900,40],"parameters":{"workflowId":{"__rl":true,"value":"Xu9ngaO9mBg1sEIC","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"empty-place-req","name":"Build Empty Place Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,120],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; return [{ json: { tool_input: { chat_id: s.empty_chat_id, address: s.address } } }];"}},{"id":"empty-place","name":"Run Empty Place","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1900,120],"parameters":{"workflowId":{"__rl":true,"value":"UgRHM83Qlh9S6Zor","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"empty-confirm-req","name":"Build Empty Confirm Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[2140,120],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; return [{ json: { tool_input: { chat_id: s.empty_chat_id, test_mode: true } } }];"}},{"id":"empty-confirm","name":"Run Empty Confirm","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2380,120],"parameters":{"workflowId":{"__rl":true,"value":"62u82sIei3owzaiU","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"set-low-stock","name":"Set Low Stock","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1660,320],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Seed Linked Inputs').first().json || {}; const milkSku = String(s.milk_sku || '').replace(/'/g, \"''\"); return `UPDATE public.inventory SET stock = ${Number(s.low_stock || 0)}, updated_at = NOW() WHERE sku = '${milkSku}'; SELECT sku, stock::text AS stock FROM public.inventory WHERE sku = '${milkSku}' LIMIT 1;`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"insufficient-add-req","name":"Build Insufficient Add Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; return [{ json: { tool_input: { chat_id: s.customer_chat_id, product_name: s.milk_name, quantity: s.order_qty } } }];"}},{"id":"insufficient-add","name":"Run Insufficient Add","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2140,320],"parameters":{"workflowId":{"__rl":true,"value":"yKZu2D7Vn3NZUw1L","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"verify-failed-cart","name":"Verify Failed Cart","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2380,320],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Seed Linked Inputs').first().json || {}; const customer = String(s.customer_chat_id || '').replace(/'/g, \"''\"); return `SELECT COUNT(*)::text AS cart_row_count FROM public.cart_items ci JOIN public.carts c ON ci.cart_id = c.cart_id WHERE c.user_id = ${customer} AND c.status = 'active';`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"set-updated-item","name":"Set Updated Item","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1660,520],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Seed Linked Inputs').first().json || {}; const milkSku = String(s.milk_sku || '').replace(/'/g, \"''\"); return `UPDATE public.inventory SET price = ${Number(s.updated_milk_price || 0)}, stock = ${Number(s.replenished_stock || 0)}, updated_at = NOW() WHERE sku = '${milkSku}'; SELECT sku, price::text AS price, stock::text AS stock FROM public.inventory WHERE sku = '${milkSku}' LIMIT 1;`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"cust-add-req","name":"Build Customer Add Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; return [{ json: { tool_input: { chat_id: s.customer_chat_id, product_name: s.milk_name, quantity: s.order_qty } } }];"}},{"id":"cust-add","name":"Run Customer Add","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2140,520],"parameters":{"workflowId":{"__rl":true,"value":"yKZu2D7Vn3NZUw1L","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"view-cart-req","name":"Build View Cart Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[2380,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; return [{ json: { tool_input: { chat_id: s.customer_chat_id } } }];"}},{"id":"view-cart","name":"Run View Cart","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2620,520],"parameters":{"workflowId":{"__rl":true,"value":"uFTUnWOeBHXiP2AI","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"verify-cart","name":"Verify Cart DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2860,520],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Seed Linked Inputs').first().json || {}; const customer = String(s.customer_chat_id || '').replace(/'/g, \"''\"); return `SELECT ci.quantity::text AS quantity, COALESCE(ci.price_at_addition, 0)::text AS price_at_addition, COALESCE((ci.quantity * ci.price_at_addition), 0)::text AS line_total, COALESCE(ci.sku, '') AS sku FROM public.cart_items ci JOIN public.carts c ON ci.cart_id = c.cart_id WHERE c.user_id = ${customer} AND c.status = 'active' ORDER BY ci.added_at DESC LIMIT 1;`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"place-req","name":"Build Place Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[3100,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; return [{ json: { tool_input: { chat_id: s.customer_chat_id, address: s.address } } }];"}},{"id":"place-order","name":"Run Place Order","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3340,520],"parameters":{"workflowId":{"__rl":true,"value":"UgRHM83Qlh9S6Zor","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"verify-pending","name":"Verify Pending Order","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3580,520],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const orderId = String(($('Run Place Order').first().json || {}).order_id || '').replace(/'/g, \"''\"); return `SELECT order_id, status, COALESCE(final_order_total, 0)::text AS final_order_total, COALESCE(order_details_json->'items_in_final_order'->0->>'original_name', '') AS item_name, COALESCE(order_details_json->'items_in_final_order'->0->>'quantity', '') AS quantity, COALESCE(order_details_json->'items_in_final_order'->0->>'unit_price', '') AS unit_price, COALESCE(order_details_json->'items_in_final_order'->0->>'line_total', '') AS line_total FROM public.pending_orders WHERE order_id = '${orderId}' LIMIT 1;`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"confirm-req","name":"Build Confirm Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[3820,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; return [{ json: { tool_input: { chat_id: s.customer_chat_id, test_mode: true } } }];"}},{"id":"confirm-order","name":"Run Confirm Order","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[4060,520],"parameters":{"workflowId":{"__rl":true,"value":"62u82sIei3owzaiU","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"verify-confirm","name":"Verify After Confirm DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[4300,520],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Seed Linked Inputs').first().json || {}; const orderId = String(($('Run Place Order').first().json || {}).order_id || '').replace(/'/g, \"''\"); const milkSku = String(s.milk_sku || '').replace(/'/g, \"''\"); const customer = String(s.customer_chat_id || '').replace(/'/g, \"''\"); return `SELECT 'pending' AS kind, COALESCE(status, '') AS val1, order_id AS val2, '' AS val3 FROM public.pending_orders WHERE order_id = '${orderId}' UNION ALL SELECT 'order_summary' AS kind, COUNT(*)::text AS val1, '${orderId}' AS val2, '' AS val3 FROM public.order_summary WHERE order_id = '${orderId}' UNION ALL SELECT 'orders' AS kind, COUNT(*)::text AS val1, '${orderId}' AS val2, '' AS val3 FROM public.orders WHERE order_id = '${orderId}' UNION ALL SELECT 'inventory_stock' AS kind, COALESCE(stock, 0)::text AS val1, sku AS val2, '' AS val3 FROM public.inventory WHERE sku = '${milkSku}' UNION ALL SELECT 'active_cart' AS kind, COUNT(*)::text AS val1, '${customer}' AS val2, '' AS val3 FROM public.carts WHERE user_id = ${customer} AND status = 'active';`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"track-confirm-req","name":"Build Track Confirm Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[4540,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; return [{ json: { tool_input: { chat_id: s.customer_chat_id } } }];"}},{"id":"track-confirm","name":"Run Track Confirm","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[4780,520],"parameters":{"workflowId":{"__rl":true,"value":"S0QE8s0YvcDagSnW","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"owner-accept-req","name":"Build Owner Accept Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[5020,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; const orderId = ($('Run Place Order').first().json || {}).order_id || ''; return [{ json: { action: 'accept', order_id: orderId, customer_chat_id: s.customer_chat_id, chat_id: s.owner_chat_id, test_mode: true } }];"}},{"id":"owner-accept","name":"Run Owner Accept","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[5260,520],"parameters":{"workflowId":{"__rl":true,"value":"g6rGUma60FIEypEb","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"verify-accept","name":"Verify Accept Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[5500,520],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const orderId = String(($('Run Place Order').first().json || {}).order_id || '').replace(/'/g, \"''\"); return `SELECT order_id, status FROM public.pending_orders WHERE order_id = '${orderId}' LIMIT 1;`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"track-accept-req","name":"Build Track Accept Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[5740,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; return [{ json: { tool_input: { chat_id: s.customer_chat_id } } }];"}},{"id":"track-accept","name":"Run Track Accept","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[5980,520],"parameters":{"workflowId":{"__rl":true,"value":"S0QE8s0YvcDagSnW","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"owner-dispatch-req","name":"Build Owner Dispatch Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[6220,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; const orderId = ($('Run Place Order').first().json || {}).order_id || ''; return [{ json: { action: 'dispatch', order_id: orderId, customer_chat_id: s.customer_chat_id, chat_id: s.owner_chat_id, test_mode: true } }];"}},{"id":"owner-dispatch","name":"Run Owner Dispatch","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[6460,520],"parameters":{"workflowId":{"__rl":true,"value":"g6rGUma60FIEypEb","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"verify-dispatch","name":"Verify Dispatch Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[6700,520],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const orderId = String(($('Run Place Order').first().json || {}).order_id || '').replace(/'/g, \"''\"); return `SELECT order_id, status FROM public.pending_orders WHERE order_id = '${orderId}' LIMIT 1;`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"track-dispatch-req","name":"Build Track Dispatch Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[6940,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; return [{ json: { tool_input: { chat_id: s.customer_chat_id } } }];"}},{"id":"track-dispatch","name":"Run Track Dispatch","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[7180,520],"parameters":{"workflowId":{"__rl":true,"value":"S0QE8s0YvcDagSnW","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"owner-delivered-req","name":"Build Owner Delivered Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[7420,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; const orderId = ($('Run Place Order').first().json || {}).order_id || ''; return [{ json: { action: 'delivered', order_id: orderId, customer_chat_id: s.customer_chat_id, chat_id: s.owner_chat_id, test_mode: true } }];"}},{"id":"owner-delivered","name":"Run Owner Delivered","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[7660,520],"parameters":{"workflowId":{"__rl":true,"value":"g6rGUma60FIEypEb","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"verify-delivered","name":"Verify Delivered Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[7900,520],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const orderId = String(($('Run Place Order').first().json || {}).order_id || '').replace(/'/g, \"''\"); return `SELECT order_id, status FROM public.pending_orders WHERE order_id = '${orderId}' LIMIT 1;`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"track-delivered-req","name":"Build Track Delivered Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[8140,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; return [{ json: { tool_input: { chat_id: s.customer_chat_id } } }];"}},{"id":"track-delivered","name":"Run Track Delivered","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[8380,520],"parameters":{"workflowId":{"__rl":true,"value":"S0QE8s0YvcDagSnW","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"cancel-add-req","name":"Build Cancel Add Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[8620,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; return [{ json: { tool_input: { chat_id: s.cancel_chat_id, product_name: s.atta_name, quantity: 1 } } }];"}},{"id":"cancel-add","name":"Run Cancel Add","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[8860,520],"parameters":{"workflowId":{"__rl":true,"value":"yKZu2D7Vn3NZUw1L","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"cancel-place-req","name":"Build Cancel Place Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[9100,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; return [{ json: { tool_input: { chat_id: s.cancel_chat_id, address: s.address } } }];"}},{"id":"cancel-place","name":"Run Cancel Place","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[9340,520],"parameters":{"workflowId":{"__rl":true,"value":"UgRHM83Qlh9S6Zor","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"cancel-order-req","name":"Build Cancel Order Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[9580,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Linked Inputs').first().json || {}; return [{ json: { tool_input: { chat_id: s.cancel_chat_id } } }];"}},{"id":"cancel-order","name":"Run Cancel Order","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[9820,520],"parameters":{"workflowId":{"__rl":true,"value":"OY8zswARgKBX7XjP","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"verify-cancel","name":"Verify Cancel DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[10060,520],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Seed Linked Inputs').first().json || {}; const cancelChat = String(s.cancel_chat_id || '').replace(/'/g, \"''\"); return `SELECT 'pending_active' AS kind, COUNT(*)::text AS value FROM public.pending_orders WHERE chat_id = ${cancelChat} AND status IN ('awaiting_confirmation', 'processing', 'confirmed', 'dispatched') UNION ALL SELECT 'active_cart' AS kind, COUNT(*)::text AS value FROM public.carts WHERE user_id = ${cancelChat} AND status = 'active';`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"cleanup","name":"Cleanup Linked Test Data","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[10300,520],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Seed Linked Inputs').first().json || {}; const chats = [s.customer_chat_id, s.empty_chat_id, s.cancel_chat_id].map(v => String(v || '').replace(/'/g, \"''\")).join(', '); const milkSku = String(s.milk_sku || '').replace(/'/g, \"''\"); const attaSku = String(s.atta_sku || '').replace(/'/g, \"''\"); return `DELETE FROM public.order_feedback WHERE chat_id::text IN ('${String(s.customer_chat_id || '').replace(/'/g, \"''\")}', '${String(s.empty_chat_id || '').replace(/'/g, \"''\")}', '${String(s.cancel_chat_id || '').replace(/'/g, \"''\")}'); DELETE FROM public.pending_orders WHERE chat_id IN (${chats}); DELETE FROM public.order_summary WHERE chat_id IN (${chats}); DELETE FROM public.orders WHERE user_id IN (${chats}); DELETE FROM public.cart_items WHERE cart_id IN (SELECT cart_id FROM public.carts WHERE user_id IN (${chats})); DELETE FROM public.carts WHERE user_id IN (${chats}); DELETE FROM public.inventory WHERE sku IN ('${milkSku}', '${attaSku}'); SELECT 'cleanup_complete' AS result;`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"format-result","name":"Format Linked Proof Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[10540,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const seed = $('Seed Linked Inputs').first().json || {};\nconst seededRows = $('Seed Proof Inventory').all().map((item) => item.json || {});\nconst browse = $('Run Browse').first().json || {};\nconst emptyPlace = $('Run Empty Place').first().json || {};\nconst emptyConfirm = $('Run Empty Confirm').first().json || {};\nconst lowStockDb = $('Set Low Stock').first().json || {};\nconst insufficientAdd = $('Run Insufficient Add').first().json || {};\nconst failedCart = $('Verify Failed Cart').first().json || {};\nconst updatedItem = $('Set Updated Item').first().json || {};\nconst add = $('Run Customer Add').first().json || {};\nconst view = $('Run View Cart').first().json || {};\nconst cart = $('Verify Cart DB').first().json || {};\nconst place = $('Run Place Order').first().json || {};\nconst pending = $('Verify Pending Order').first().json || {};\nconst confirm = $('Run Confirm Order').first().json || {};\nconst confirmRows = $('Verify After Confirm DB').all().map((item) => item.json || {});\nconst trackConfirm = $('Run Track Confirm').first().json || {};\nconst accept = $('Run Owner Accept').first().json || {};\nconst acceptDb = $('Verify Accept Status').first().json || {};\nconst trackAccept = $('Run Track Accept').first().json || {};\nconst dispatch = $('Run Owner Dispatch').first().json || {};\nconst dispatchDb = $('Verify Dispatch Status').first().json || {};\nconst trackDispatch = $('Run Track Dispatch').first().json || {};\nconst delivered = $('Run Owner Delivered').first().json || {};\nconst deliveredDb = $('Verify Delivered Status').first().json || {};\nconst trackDelivered = $('Run Track Delivered').first().json || {};\nconst cancelAdd = $('Run Cancel Add').first().json || {};\nconst cancelPlace = $('Run Cancel Place').first().json || {};\nconst cancelOrder = $('Run Cancel Order').first().json || {};\nconst cancelDbRows = $('Verify Cancel DB').all().map((item) => item.json || {});\n\nconst byKind = (rows, kind) => rows.find((row) => String(row.kind || '') === kind) || {};\nconst bySku = (rows, sku) => rows.find((row) => String(row.sku || '') === String(sku || '')) || {};\nconst hasButton = (resp, id) => Array.isArray(resp.buttons) && resp.buttons.some((button) => String(button.id || '') === id);\nconst hasButtonPrefix = (resp, prefix) => Array.isArray(resp.buttons) && resp.buttons.some((button) => String(button.id || '').startsWith(prefix));\nconst hasListRow = (resp, id) => Array.isArray(resp.list_sections) && resp.list_sections.some((section) => Array.isArray(section.rows) && section.rows.some((row) => String(row.id || '') === id));\nconst bodyText = (resp) => String(resp.body_text || resp.confirmation_message || '');\nconst seededMilk = bySku(seededRows, seed.milk_sku);\nconst seededAtta = bySku(seededRows, seed.atta_sku);\n\nreturn [{\n  json: {\n    owner_chat_id: seed.owner_chat_id,\n    customer_chat_id: seed.customer_chat_id,\n    empty_chat_id: seed.empty_chat_id,\n    cancel_chat_id: seed.cancel_chat_id,\n    order_id: String(place.order_id || ''),\n    responses: {\n      empty_place: bodyText(emptyPlace),\n      empty_confirm: bodyText(emptyConfirm),\n      browse: bodyText(browse),\n      insufficient_add: bodyText(insufficientAdd),\n      add: bodyText(add),\n      view: bodyText(view),\n      place: bodyText(place),\n      confirm: bodyText(confirm),\n      track_confirm: bodyText(trackConfirm),\n      owner_accept: bodyText(accept),\n      track_accept: bodyText(trackAccept),\n      owner_dispatch: bodyText(dispatch),\n      track_dispatch: bodyText(trackDispatch),\n      owner_delivered: bodyText(delivered),\n      track_delivered: bodyText(trackDelivered),\n      cancel_add: bodyText(cancelAdd),\n      cancel_place: bodyText(cancelPlace),\n      cancel_order: bodyText(cancelOrder),\n    },\n    evidence: {\n      seeded_inventory: seededRows,\n      browse_rows: Array.isArray(browse.list_sections) ? browse.list_sections : [],\n      low_stock_db: lowStockDb,\n      failed_cart_db: failedCart,\n      updated_item_db: updatedItem,\n      cart_db: cart,\n      pending_order_db: pending,\n      confirm_db_rows: confirmRows,\n      accept_db: acceptDb,\n      dispatch_db: dispatchDb,\n      delivered_db: deliveredDb,\n      cancel_db_rows: cancelDbRows,\n      delivered_buttons: Array.isArray(delivered.buttons) ? delivered.buttons : [],\n    },\n    checks: {\n      seeded_milk_price_ok: Number(seededMilk.price || 0) === Number(seed.milk_initial_price || 0),\n      seeded_milk_stock_ok: Number(seededMilk.stock || 0) === Number(seed.milk_initial_stock || 0),\n      seeded_atta_price_ok: Number(seededAtta.price || 0) === Number(seed.atta_initial_price || 0),\n      seeded_atta_stock_ok: Number(seededAtta.stock || 0) === Number(seed.atta_initial_stock || 0),\n      browse_message_ok: /shop local|pick a quick item/i.test(bodyText(browse)),\n      browse_has_quick_pick_rows: hasListRow(browse, 'add_qty__' + String(seed.milk_sku || '') + '__1') || hasListRow(browse, 'add_qty__' + String(seed.atta_sku || '') + '__1'),\n      browse_has_shortcuts: hasListRow(browse, 'view_cart') && hasListRow(browse, 'get_promos'),\n      empty_place_ok: /cart is empty/i.test(bodyText(emptyPlace)),\n      empty_place_buttons_ok: hasButton(emptyPlace, 'start_shopping') && hasButton(emptyPlace, 'get_promos'),\n      empty_confirm_ok: /no pending order|no pending bill|there is no pending/i.test(bodyText(emptyConfirm)),\n      low_stock_db_ok: Number(lowStockDb.stock || 0) === Number(seed.low_stock || 0),\n      insufficient_add_ok: /only\\s+1|requested\\s+2/i.test(bodyText(insufficientAdd)),\n      insufficient_add_left_cart_empty: Number(failedCart.cart_row_count || 0) === 0,\n      updated_price_db_ok: Number(updatedItem.price || 0) === Number(seed.updated_milk_price || 0),\n      updated_stock_db_ok: Number(updatedItem.stock || 0) === Number(seed.replenished_stock || 0),\n      add_buttons_ok: hasButton(add, 'checkout') && hasButton(add, 'view_cart') && hasButton(add, 'add_more'),\n      add_uses_updated_price: bodyText(add).includes('₹' + String(seed.expected_line_total)) || bodyText(add).includes('Rs.' + String(seed.expected_line_total)),\n      cart_db_price_ok: Number(cart.price_at_addition || 0) === Number(seed.updated_milk_price || 0),\n      cart_db_qty_ok: Number(cart.quantity || 0) === Number(seed.order_qty || 0),\n      cart_db_line_total_ok: Number(cart.line_total || 0) === Number(seed.expected_line_total || 0),\n      view_buttons_ok: hasButton(view, 'checkout') && hasButton(view, 'add_more') && hasButton(view, 'cancel_order'),\n      view_cart_total_ok: (() => { const t = Number(seed.expected_line_total || 0).toFixed(2); return bodyText(view).includes(t) || bodyText(view).includes(String(seed.expected_line_total || 0)); })(),\n      place_has_confirm_button: hasButton(place, 'confirm_order'),\n      pending_status_awaiting_confirmation: String(pending.status || '') === 'awaiting_confirmation',\n      pending_unit_price_ok: Number(pending.unit_price || 0) === Number(seed.updated_milk_price || 0),\n      pending_quantity_ok: Number(pending.quantity || 0) === Number(seed.order_qty || 0),\n      pending_line_total_ok: Number(pending.line_total || 0) === Number(seed.expected_line_total || 0),\n      confirm_ok: /order confirmed|order placed/i.test(bodyText(confirm)),\n      confirm_pending_status_ok: String(byKind(confirmRows, 'pending').val1 || '') === 'confirmed',\n      order_summary_present: Number(byKind(confirmRows, 'order_summary').val1 || 0) >= 1,\n      orders_present: Number(byKind(confirmRows, 'orders').val1 || 0) >= 1,\n      stock_decremented_after_confirm: Number(byKind(confirmRows, 'inventory_stock').val1 || 0) === Number(seed.replenished_stock || 0) - Number(seed.order_qty || 0),\n      active_cart_cleared_after_confirm: Number(byKind(confirmRows, 'active_cart').val1 || 0) === 0,\n      track_confirm_status_ok: /order received/i.test(bodyText(trackConfirm)),\n      accept_status_db_ok: String(acceptDb.status || '') === 'processing',\n      track_accept_status_ok: /packing your order/i.test(bodyText(trackAccept)),\n      dispatch_status_db_ok: String(dispatchDb.status || '') === 'dispatched',\n      track_dispatch_status_ok: /on the way/i.test(bodyText(trackDispatch)),\n      delivered_status_db_ok: String(deliveredDb.status || '') === 'delivered',\n      track_delivered_status_ok: /delivered/i.test(bodyText(trackDelivered)),\n      delivered_feedback_buttons_ok: hasButtonPrefix(delivered, 'rate_good__') && hasButtonPrefix(delivered, 'rate_bad__'),\n      cancel_add_ok: /added|cart|₹|rs\\.?/i.test(bodyText(cancelAdd)),\n      cancel_place_has_confirm: hasButton(cancelPlace, 'confirm_order'),\n      cancel_order_ok: /cancel/i.test(bodyText(cancelOrder)),\n      cancel_pending_cleared: Number(byKind(cancelDbRows, 'pending_active').value || 0) === 0,\n      cancel_active_cart_cleared: Number(byKind(cancelDbRows, 'active_cart').value || 0) === 0,\n    },\n  },\n}];"}}],"connections":{"Every Minute":{"main":[[{"node":"Seed Linked Inputs","type":"main","index":0}]]},"Seed Linked Inputs":{"main":[[{"node":"Pre Cleanup","type":"main","index":0}]]},"Pre Cleanup":{"main":[[{"node":"Resolve Store","type":"main","index":0}]]},"Resolve Store":{"main":[[{"node":"Ensure Store Ready","type":"main","index":0}]]},"Ensure Store Ready":{"main":[[{"node":"Seed Proof Inventory","type":"main","index":0}]]},"Seed Proof Inventory":{"main":[[{"node":"Build Browse Request","type":"main","index":0}]]},"Build Browse Request":{"main":[[{"node":"Run Browse","type":"main","index":0}]]},"Run Browse":{"main":[[{"node":"Build Empty Place Request","type":"main","index":0}]]},"Build Empty Place Request":{"main":[[{"node":"Run Empty Place","type":"main","index":0}]]},"Run Empty Place":{"main":[[{"node":"Build Empty Confirm Request","type":"main","index":0}]]},"Build Empty Confirm Request":{"main":[[{"node":"Run Empty Confirm","type":"main","index":0}]]},"Run Empty Confirm":{"main":[[{"node":"Set Low Stock","type":"main","index":0}]]},"Set Low Stock":{"main":[[{"node":"Build Insufficient Add Request","type":"main","index":0}]]},"Build Insufficient Add Request":{"main":[[{"node":"Run Insufficient Add","type":"main","index":0}]]},"Run Insufficient Add":{"main":[[{"node":"Verify Failed Cart","type":"main","index":0}]]},"Verify Failed Cart":{"main":[[{"node":"Set Updated Item","type":"main","index":0}]]},"Set Updated Item":{"main":[[{"node":"Build Customer Add Request","type":"main","index":0}]]},"Build Customer Add Request":{"main":[[{"node":"Run Customer Add","type":"main","index":0}]]},"Run Customer Add":{"main":[[{"node":"Build View Cart Request","type":"main","index":0}]]},"Build View Cart Request":{"main":[[{"node":"Run View Cart","type":"main","index":0}]]},"Run View Cart":{"main":[[{"node":"Verify Cart DB","type":"main","index":0}]]},"Verify Cart DB":{"main":[[{"node":"Build Place Request","type":"main","index":0}]]},"Build Place Request":{"main":[[{"node":"Run Place Order","type":"main","index":0}]]},"Run Place Order":{"main":[[{"node":"Verify Pending Order","type":"main","index":0}]]},"Verify Pending Order":{"main":[[{"node":"Build Confirm Request","type":"main","index":0}]]},"Build Confirm Request":{"main":[[{"node":"Run Confirm Order","type":"main","index":0}]]},"Run Confirm Order":{"main":[[{"node":"Verify After Confirm DB","type":"main","index":0}]]},"Verify After Confirm DB":{"main":[[{"node":"Build Track Confirm Request","type":"main","index":0}]]},"Build Track Confirm Request":{"main":[[{"node":"Run Track Confirm","type":"main","index":0}]]},"Run Track Confirm":{"main":[[{"node":"Build Owner Accept Request","type":"main","index":0}]]},"Build Owner Accept Request":{"main":[[{"node":"Run Owner Accept","type":"main","index":0}]]},"Run Owner Accept":{"main":[[{"node":"Verify Accept Status","type":"main","index":0}]]},"Verify Accept Status":{"main":[[{"node":"Build Track Accept Request","type":"main","index":0}]]},"Build Track Accept Request":{"main":[[{"node":"Run Track Accept","type":"main","index":0}]]},"Run Track Accept":{"main":[[{"node":"Build Owner Dispatch Request","type":"main","index":0}]]},"Build Owner Dispatch Request":{"main":[[{"node":"Run Owner Dispatch","type":"main","index":0}]]},"Run Owner Dispatch":{"main":[[{"node":"Verify Dispatch Status","type":"main","index":0}]]},"Verify Dispatch Status":{"main":[[{"node":"Build Track Dispatch Request","type":"main","index":0}]]},"Build Track Dispatch Request":{"main":[[{"node":"Run Track Dispatch","type":"main","index":0}]]},"Run Track Dispatch":{"main":[[{"node":"Build Owner Delivered Request","type":"main","index":0}]]},"Build Owner Delivered Request":{"main":[[{"node":"Run Owner Delivered","type":"main","index":0}]]},"Run Owner Delivered":{"main":[[{"node":"Verify Delivered Status","type":"main","index":0}]]},"Verify Delivered Status":{"main":[[{"node":"Build Track Delivered Request","type":"main","index":0}]]},"Build Track Delivered Request":{"main":[[{"node":"Run Track Delivered","type":"main","index":0}]]},"Run Track Delivered":{"main":[[{"node":"Build Cancel Add Request","type":"main","index":0}]]},"Build Cancel Add Request":{"main":[[{"node":"Run Cancel Add","type":"main","index":0}]]},"Run Cancel Add":{"main":[[{"node":"Build Cancel Place Request","type":"main","index":0}]]},"Build Cancel Place Request":{"main":[[{"node":"Run Cancel Place","type":"main","index":0}]]},"Run Cancel Place":{"main":[[{"node":"Build Cancel Order Request","type":"main","index":0}]]},"Build Cancel Order Request":{"main":[[{"node":"Run Cancel Order","type":"main","index":0}]]},"Run Cancel Order":{"main":[[{"node":"Verify Cancel DB","type":"main","index":0}]]},"Verify Cancel DB":{"main":[[{"node":"Cleanup Linked Test Data","type":"main","index":0}]]},"Cleanup Linked Test Data":{"main":[[{"node":"Format Linked Proof Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every Minute":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"c248ef98-96bf-4a02-8d47-6b9ce5f195a1","activeVersionId":null,"versionCounter":74,"triggerCount":1,"shared":[{"updatedAt":"2026-03-11T07:07:27.499Z","createdAt":"2026-03-11T07:07:27.499Z","role":"workflow:owner","workflowId":"jgb4KLTcrS9ctMVm","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":null}