workflows/latest/nFJtc58rw1Xik3pB__Test_Owner_Bulk_Import_Verification.json
{"updatedAt":"2026-03-12T07:04:08.420Z","createdAt":"2026-03-12T06:52:22.402Z","id":"nFJtc58rw1Xik3pB","name":"[Test] Owner Bulk Import Verification","description":null,"active":false,"isArchived":false,"nodes":[{"id":"trigger","name":"Every Minute","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,320],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}}},{"id":"seed","name":"Seed Inputs","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const tag = 'bulk' + Date.now().toString().slice(-6);\nconst rows = [\n  { item_name: tag + ' rice 1kg', price: 71, stock: 9, unit: 'kg', category: 'Staples', brand: '' },\n  { item_name: tag + ' dal 1kg', price: 128, stock: 6, unit: 'kg', category: 'Staples', brand: '' },\n  { item_name: tag + ' soap', price: 38, stock: 14, unit: 'pcs', category: 'Home Care', brand: '' },\n];\nreturn [{\n  json: {\n    tag,\n    chat_id: '919148969183',\n    sheet_url: 'https://docs.google.com/spreadsheets/d/mock-bulk-sheet/edit#gid=0',\n    rows,\n    test_mode: true,\n  },\n}];"}},{"id":"build-preview","name":"Build Bulk Preview Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const seed = $('Seed Inputs').first().json || {};\nreturn [{\n  json: {\n    chat_id: seed.chat_id,\n    message: seed.sheet_url,\n    test_sheet_rows: Array.isArray(seed.rows) ? seed.rows : [],\n    test_mode: true,\n  },\n}];"}},{"id":"run-preview","name":"Run Bulk Preview","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[900,320],"parameters":{"workflowId":{"__rl":true,"value":"yfCi0KEpBibSXI3M","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"extract-apply","name":"Extract Bulk Apply","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const seed = $('Seed Inputs').first().json || {};\nconst preview = $('Run Bulk Preview').first().json || {};\nconst buttons = Array.isArray(preview.buttons) ? preview.buttons : [];\nconst apply = buttons.find((button) => String(button.id || '').startsWith('owner_bulk_apply__'));\nconst cancel = buttons.find((button) => String(button.id || '').startsWith('owner_bulk_cancel__'));\nreturn [{\n  json: {\n    ...seed,\n    preview_text: String(preview.body_text || ''),\n    apply_id: apply ? String(apply.id) : '',\n    cancel_id: cancel ? String(cancel.id) : '',\n  },\n}];"}},{"id":"build-apply","name":"Build Bulk Apply Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Extract Bulk Apply').first().json || {};\nreturn [{\n  json: {\n    chat_id: d.chat_id,\n    button_id: d.apply_id,\n    source_type: 'button',\n    test_mode: true,\n  },\n}];"}},{"id":"run-apply","name":"Run Bulk Apply","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1560,320],"parameters":{"workflowId":{"__rl":true,"value":"yfCi0KEpBibSXI3M","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"format","name":"Format Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const extracted = $('Extract Bulk Apply').first().json || {};\nconst applied = $('Run Bulk Apply').first().json || {};\nreturn [{\n  json: {\n    tag: extracted.tag || '',\n    preview_text: String(extracted.preview_text || ''),\n    apply_id: String(extracted.apply_id || ''),\n    cancel_id: String(extracted.cancel_id || ''),\n    apply_text: String(applied.body_text || ''),\n  },\n}];"}}],"connections":{"Every Minute":{"main":[[{"node":"Seed Inputs","type":"main","index":0}]]},"Seed Inputs":{"main":[[{"node":"Build Bulk Preview Request","type":"main","index":0}]]},"Build Bulk Preview Request":{"main":[[{"node":"Run Bulk Preview","type":"main","index":0}]]},"Run Bulk Preview":{"main":[[{"node":"Extract Bulk Apply","type":"main","index":0}]]},"Extract Bulk Apply":{"main":[[{"node":"Build Bulk Apply Request","type":"main","index":0}]]},"Build Bulk Apply Request":{"main":[[{"node":"Run Bulk Apply","type":"main","index":0}]]},"Run Bulk Apply":{"main":[[{"node":"Format Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every Minute":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"fbe53d53-fd1a-4a04-90d9-3785a6f3b607","activeVersionId":null,"versionCounter":13,"triggerCount":1,"shared":[{"updatedAt":"2026-03-12T06:52:22.402Z","createdAt":"2026-03-12T06:52:22.402Z","role":"workflow:owner","workflowId":"nFJtc58rw1Xik3pB","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":null}