workflows/latest/NhLM82oFlVc5Gluy__Webhook_Owner_Callback.json
{"updatedAt":"2026-03-12T05:15:39.039Z","createdAt":"2026-03-04T08:29:40.835Z","id":"NhLM82oFlVc5Gluy","name":"[Webhook] Owner Callback","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["callback_query"],"additionalFields":{}},"id":"8d61085f-9ffe-4326-9385-3ab37b20a47d","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1536,112],"webhookId":"6ce3b223-5b10-4756-b180-87af36db5127","credentials":{"telegramApi":{"id":"TY52vdf0a6Q2KRpP","name":"Telegram"}}},{"parameters":{"jsCode":"const body = $json.body;\n\n// Extract callback query data\nconst callbackQuery = body.callback_query;\nconst callbackData = callbackQuery.data;\nconst callbackId = callbackQuery.id;\nconst ownerChatId = callbackQuery.message.chat.id;\nconst messageId = callbackQuery.message.message_id;\n\n// Parse action and order_id from callback_data\n// Format: action_ORDERID  e.g. accept_ORD-123, reject_ORD-123, packed_ORD-123\nconst underscoreIdx = callbackData.indexOf('_');\nconst action = callbackData.substring(0, underscoreIdx);\nconst orderId = callbackData.substring(underscoreIdx + 1);\n\nreturn [{ json: { \n  action, \n  order_id: orderId, \n  callback_id: callbackId,\n  owner_chat_id: ownerChatId,\n  message_id: messageId\n}}];"},"id":"ed1ba4bc-7944-45d0-8ba6-855aa6411344","name":"Parse Callback","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,112]},{"parameters":{"operation":"executeQuery","query":"SELECT chat_id, shipping_address, final_order_total FROM public.order_summary WHERE order_id = '{{ $json.order_id }}' LIMIT 1;","options":{}},"id":"977d9d40-e8e6-4cf4-b907-b33e84576964","name":"Get Order From DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1056,112],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"// Pass through with order data added\nconst d = $('Parse Callback').first().json;\nconst order = $json;\n\nreturn [{ json: {\n  action: d.action,\n  order_id: d.order_id,\n  callback_id: d.callback_id,\n  owner_chat_id: d.owner_chat_id,\n  message_id: d.message_id,\n  customer_chat_id: order.chat_id,\n  shipping_address: order.shipping_address,\n  final_order_total: order.final_order_total\n}}];"},"id":"89a337a2-41e8-481b-96ea-a3e24016e308","name":"Merge Order Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,112]},{"parameters":{"jsCode":"const d = $json;\nconst action = d.action;\nconst orderId = d.order_id;\n\nlet customerMsg = '';\nlet ownerMsg = '';\nlet newStatus = '';\nlet newKeyboard = null;\n\nif (action === 'accept') {\n  newStatus = 'confirmed';\n  customerMsg = 'Great news! Your order ' + orderId + ' has been accepted by the store and is being prepared!';\n  ownerMsg = 'Order ' + orderId + ' accepted. Update status as you go:';\n  newKeyboard = JSON.stringify({\n    inline_keyboard: [[\n      { text: 'Packed', callback_data: 'packed_' + orderId },\n      { text: 'Dispatched', callback_data: 'dispatched_' + orderId },\n      { text: 'Delivered', callback_data: 'delivered_' + orderId }\n    ]]\n  });\n}\nelse if (action === 'reject') {\n  newStatus = 'rejected';\n  customerMsg = 'Sorry! The store is unable to fulfil your order ' + orderId + ' right now. Please try again later.';\n  ownerMsg = 'Order ' + orderId + ' rejected.';\n}\nelse if (action === 'packed') {\n  newStatus = 'packed';\n  customerMsg = 'Your order ' + orderId + ' has been packed and is ready for pickup!';\n  ownerMsg = 'Order ' + orderId + ' marked as packed.';\n  newKeyboard = JSON.stringify({\n    inline_keyboard: [[\n      { text: 'Dispatched', callback_data: 'dispatched_' + orderId },\n      { text: 'Delivered', callback_data: 'delivered_' + orderId }\n    ]]\n  });\n}\nelse if (action === 'dispatched') {\n  newStatus = 'dispatched';\n  customerMsg = 'Your order ' + orderId + ' is on the way! Estimated delivery soon.';\n  ownerMsg = 'Order ' + orderId + ' marked as dispatched.';\n  newKeyboard = JSON.stringify({\n    inline_keyboard: [[\n      { text: 'Delivered', callback_data: 'delivered_' + orderId }\n    ]]\n  });\n}\nelse if (action === 'delivered') {\n  newStatus = 'delivered';\n  customerMsg = 'Your order ' + orderId + ' has been delivered. Thank you for shopping with us!';\n  ownerMsg = 'Order ' + orderId + ' marked as delivered. Well done!';\n}\n\nreturn [{ json: {\n  ...d,\n  new_status: newStatus,\n  customer_msg: customerMsg,\n  owner_reply: ownerMsg,\n  new_keyboard: newKeyboard\n}}];"},"id":"93d36ef5-4428-4f43-b987-52bca83dd44f","name":"Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-576,112]},{"parameters":{"operation":"executeQuery","query":"UPDATE public.orders SET status = '{{ $json.new_status }}' WHERE order_id = '{{ $json.order_id }}'; UPDATE public.order_summary SET status = '{{ $json.new_status }}' WHERE order_id = '{{ $json.order_id }}';","options":{}},"id":"b1f72551-4ca7-4262-a575-386448b72043","name":"Update Order Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-336,112],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"b6679305-e481-48a2-992a-f6475e770ac9","name":"Answer Callback Query","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-96,-48]},{"parameters":{"chatId":"={{ $('Build Response').first().json.customer_chat_id }}","text":"={{ $('Build Response').first().json.customer_msg }}","additionalFields":{"appendAttribution":false}},"id":"7d708ad1-e67c-43b5-a401-eec1b16dd45e","name":"Send Customer Update","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-96,112],"webhookId":"37a74fbd-c50b-4d0e-8a42-b8e8e30eb06b","credentials":{"telegramApi":{"id":"TY52vdf0a6Q2KRpP","name":"Telegram"}}},{"parameters":{"chatId":"={{ $('Build Response').first().json.owner_chat_id }}","text":"={{ $('Build Response').first().json.owner_reply }}","additionalFields":{"appendAttribution":false}},"id":"daf2632c-27be-436f-b77f-23e81b2d635a","name":"Send Owner Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-96,272],"webhookId":"af8d500d-d481-40cd-99ac-712bfc1dba47","credentials":{"telegramApi":{"id":"TY52vdf0a6Q2KRpP","name":"Telegram"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Parse Callback","type":"main","index":0}]]},"Parse Callback":{"main":[[{"node":"Get Order From DB","type":"main","index":0}]]},"Get Order From DB":{"main":[[{"node":"Merge Order Data","type":"main","index":0}]]},"Merge Order Data":{"main":[[{"node":"Build Response","type":"main","index":0}]]},"Build Response":{"main":[[{"node":"Update Order Status","type":"main","index":0}]]},"Update Order Status":{"main":[[{"node":"Answer Callback Query","type":"main","index":0},{"node":"Send Customer Update","type":"main","index":0},{"node":"Send Owner Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4dd40502-0dbb-4c86-8a00-5f297de63b44","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-03-04T08:29:40.835Z","createdAt":"2026-03-04T08:29:40.835Z","role":"workflow:owner","workflowId":"NhLM82oFlVc5Gluy","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":null}