workflows/latest/oiggfS3oMsdKNRRn__Owner_Promo_Manager.json
{"updatedAt":"2026-03-15T04:28:52.184Z","createdAt":"2026-03-07T08:08:45.003Z","id":"oiggfS3oMsdKNRRn","name":"[Owner] Promo Manager","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"promo-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,320]},{"parameters":{"jsCode":"const toolInput = ($json.tool_input && typeof $json.tool_input === 'object') ? $json.tool_input : {};\nconst raw = { ...$json, ...toolInput };\nconst message = String(raw.message || raw.media_caption || '').trim();\nconst buttonId = String(raw.button_id || '').trim();\nconst sourceType = String(raw.source_type || (buttonId ? 'button' : 'text')).trim() || 'text';\nreturn [{ json: {\n  ...raw,\n  chat_id: String(raw.chat_id || ''),\n  message,\n  button_id: buttonId,\n  source_type: sourceType,\n  media_id: raw.media_id || '',\n  media_mime_type: raw.media_mime_type || '',\n  media_filename: raw.media_filename || '',\n  media_caption: raw.media_caption || '',\n  user_language: String(raw.user_language || 'en'),\n} }];"},"id":"promo-normalize","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,320]},{"parameters":{"operation":"executeQuery","query":"=SELECT store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours\nFROM public.stores\nWHERE (\n  {{ Number($('Normalize Input').first().json.store_id || 0) }} > 0\n  AND store_id = {{ Number($('Normalize Input').first().json.store_id || 0) }}\n)\n   OR owner_whatsapp_number = '{{ $('Normalize Input').first().json.chat_id }}'\nORDER BY CASE\n  WHEN {{ Number($('Normalize Input').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Normalize Input').first().json.store_id || 0) }} THEN 0\n  WHEN owner_whatsapp_number = '{{ $('Normalize Input').first().json.chat_id }}' THEN 1\n  ELSE 2\nEND,\nCOALESCE(onboarding_step, 0) DESC, COALESCE(store_id, 0) DESC, created_at DESC NULLS LAST\nLIMIT 1;","options":{}},"id":"promo-store","name":"Resolve Store Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,320],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'store_id') AS has_store_id,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'is_active') AS has_is_active,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'updated_at') AS has_updated_at,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'created_at') AS has_created_at,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'priority') AS has_priority,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'description') AS has_description,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'discount_type') AS has_discount_type,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'discount_value') AS has_discount_value,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'min_cart_value') AS has_min_cart_value,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'promo_scope') AS has_promo_scope,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'target_sku') AS has_target_sku,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'target_category') AS has_target_category,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'promo_group_code') AS has_promo_group_code,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'valid_from') AS has_valid_from,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'valid_until') AS has_valid_until;","options":{}},"id":"promo-schema","name":"Inspect Promo Schema","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,320],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'store_id') AS has_store_id,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'sku') AS has_sku,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'category') AS has_category,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'is_active') AS has_is_active;","options":{}},"id":"promo-inv-schema","name":"Inspect Inventory Schema","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1136,320],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const raw = $('Normalize Input').first().json;\nconst store = $('Resolve Store Context').first().json || {};\nconst inventory = $('Load Inventory Snapshot').all().map((item) => item.json || {}).filter((row) => row && row.item_name);\nconst promos = $('Load Promo Snapshot').all().map((item) => item.json || {}).filter((row) => row && row.promo_code);\nconst sessions = $('Load Promo Session State').all().map((item) => item.json || {}).filter((row) => row && row.session_id);\nconst aiText = (() => { try { return $('Claude Promo Extractor').first().json.text || ''; } catch { return ''; } })();\nconst message = String(raw.message || '').trim();\nconst buttonId = String(raw.button_id || '').trim();\nconst sourceType = String(raw.source_type || 'text');\nconst onboardingStep = Number(store.onboarding_step || 0);\nconst isComplete = onboardingStep >= 6 && !!store.store_name && !!store.upi_id && !!store.delivery_area && !!store.operating_hours;\nconst base = { ...raw, ...store };\n\nconst TOKEN_ALIASES = {\n  pyaaz: 'onion', piaz: 'onion', kanda: 'onion', peyaj: 'onion', vengayam: 'onion', onoin: 'onion',\n  aloo: 'potato', alu: 'potato', batata: 'potato',\n  tamatar: 'tomato', tamato: 'tomato', tamoto: 'tomato',\n  doodh: 'milk', chawal: 'rice', anda: 'egg', ande: 'egg', mutta: 'egg', dim: 'egg',\n  maggie: 'maggi', magi: 'maggi',\n};\nconst UNIT_ALIASES = { kg: 'kg', kilo: 'kg', kilogram: 'kg', g: 'g', gm: 'g', gram: 'g', l: 'l', litre: 'l', liter: 'l', ltr: 'l', ml: 'ml' };\n\nfunction compactUnits(value) {\n  return String(value || '')\n    .replace(/(\\d+(?:\\.\\d+)?)\\s*(kg|kilo|kilogram|g|gm|gram|ml|l|ltr|litre|liter)\\b/gi, (_, num, unit) => num + (UNIT_ALIASES[String(unit).toLowerCase()] || String(unit).toLowerCase()))\n    .replace(/[\\u2013\\u2014-]+/g, ' ')\n    .replace(/[()_,/]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction normalizeToken(token) {\n  const rawValue = compactUnits(token).toLowerCase().replace(/[^a-z0-9.]+/g, ' ').trim();\n  if (!rawValue) return '';\n  const mapped = TOKEN_ALIASES[rawValue] || rawValue;\n  if (mapped.endsWith('ies') && mapped.length > 4) return mapped.slice(0, -3) + 'y';\n  if (mapped.endsWith('oes') && mapped.length > 4) return mapped.slice(0, -2);\n  if (mapped.endsWith('ses') && mapped.length > 4) return mapped.slice(0, -2);\n  if (mapped.endsWith('s') && !mapped.endsWith('ss') && mapped.length > 3) return mapped.slice(0, -1);\n  return mapped;\n}\n\nfunction isVariant(token) {\n  return /^\\d+(?:\\.\\d+)?(?:kg|g|ml|l)?$/i.test(String(token || '').trim());\n}\n\nfunction canonicalizeItemName(value) {\n  return compactUnits(value).split(/\\s+/).filter(Boolean).map((token) => {\n    if (isVariant(token)) return token.toLowerCase();\n    return token.charAt(0).toUpperCase() + token.slice(1).toLowerCase();\n  }).join(' ').trim();\n}\n\nfunction profile(value) {\n  const cleaned = compactUnits(value);\n  const tokens = cleaned.split(/\\s+/).filter(Boolean).map((token) => normalizeToken(token)).filter(Boolean);\n  return {\n    cleaned,\n    display_name: canonicalizeItemName(value),\n    normalized_key: tokens.join(' ').trim(),\n    base_tokens: tokens.filter((token) => !isVariant(token)),\n    variant_tokens: tokens.filter((token) => isVariant(token)),\n  };\n}\n\nfunction score(a, b) {\n  if (!a.normalized_key || !b.normalized_key) return 0;\n  if (a.normalized_key === b.normalized_key) return 1;\n  if (b.normalized_key.startsWith(a.normalized_key) || a.normalized_key.startsWith(b.normalized_key)) return 0.9;\n  if (b.normalized_key.includes(a.normalized_key) || a.normalized_key.includes(b.normalized_key)) return 0.82;\n  const left = new Set(a.base_tokens);\n  const right = new Set(b.base_tokens);\n  const common = [...left].filter((token) => right.has(token)).length;\n  const union = new Set([...left, ...right]).size || 1;\n  let value = common / union;\n  if (a.base_tokens.length && common === a.base_tokens.length) value = Math.max(value, 0.76);\n  if (a.variant_tokens.length && a.variant_tokens.every((token) => b.variant_tokens.includes(token))) value += 0.2;\n  return value;\n}\n\nfunction distinct(rowsToMap) {\n  return [...new Set(rowsToMap.map((row) => canonicalizeItemName(row.item_name || '')).filter(Boolean))];\n}\n\nfunction parseAiPayload(text) {\n  const rawText = String(text || '').trim();\n  if (!rawText) return {};\n  const ticks = String.fromCharCode(96) + String.fromCharCode(96) + String.fromCharCode(96);\n  const fenced = rawText\n    .replace(new RegExp('^' + ticks + 'json', 'i'), '')\n    .replace(new RegExp('^' + ticks, 'i'), '')\n    .replace(new RegExp(ticks + '$', 'i'), '')\n    .trim();\n  const start = fenced.indexOf('{');\n  const end = fenced.lastIndexOf('}');\n  if (start === -1 || end === -1 || end <= start) return {};\n  try { return JSON.parse(fenced.slice(start, end + 1)); } catch { return {}; }\n}\n\nfunction parseExpiry(text) {\n  const value = String(text || '').trim().toLowerCase();\n  if (!value) return '';\n  const now = new Date();\n  const endOfDay = (date) => {\n    const d = new Date(date);\n    d.setHours(23, 59, 59, 0);\n    return d.toISOString();\n  };\n  if (value === 'today') return endOfDay(now);\n  if (value === 'tomorrow') return endOfDay(new Date(now.getTime() + 24 * 60 * 60 * 1000));\n  const daysMatch = value.match(/(\\d+)\\s+days?/);\n  if (daysMatch) return endOfDay(new Date(now.getTime() + Number(daysMatch[1]) * 24 * 60 * 60 * 1000));\n  const isoMatch = value.match(/^(\\d{4})-(\\d{2})-(\\d{2})$/);\n  if (isoMatch) return endOfDay(new Date(Number(isoMatch[1]), Number(isoMatch[2]) - 1, Number(isoMatch[3])));\n  const dmyMatch = value.match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/);\n  if (dmyMatch) return endOfDay(new Date(Number(dmyMatch[3]), Number(dmyMatch[2]) - 1, Number(dmyMatch[1])));\n  return '';\n}\n\nfunction parsePriority(text) {\n  const value = String(text || '').trim().toLowerCase();\n  if (/high/.test(value)) return { label: 'High', value: 30 };\n  if (/low/.test(value)) return { label: 'Low', value: 10 };\n  if (/medium|normal|default/.test(value)) return { label: 'Medium', value: 20 };\n  return null;\n}\n\nfunction nextPromoCode(baseCode) {\n  const used = new Set(promos.map((row) => String(row.promo_code || '').toUpperCase()));\n  let code = String(baseCode || '').toUpperCase().replace(/[^A-Z0-9_]+/g, '').slice(0, 24) || 'DEAL';\n  let suffix = 2;\n  while (used.has(code)) {\n    code = (String(baseCode || 'DEAL').toUpperCase().replace(/[^A-Z0-9_]+/g, '').slice(0, 20) || 'DEAL') + '_' + suffix;\n    suffix += 1;\n  }\n  return code;\n}\n\nfunction buildPreviewDraft(draft) {\n  const existingMatch = promos.find((promo) =>\n    promo.is_active !== false\n    && String(promo.promo_scope || '') === String(draft.promo_scope || '')\n    && String(promo.discount_type || '') === String(draft.discount_type || '')\n    && Number(promo.discount_value || 0) === Number(draft.discount_value || 0)\n    && Number(promo.min_cart_value || 0) === Number(draft.min_cart_value || 0)\n    && String(promo.target_sku || '') === String(draft.target_sku || '')\n  );\n  const codeBase = draft.target_label\n    ? profile(draft.target_label).normalized_key.toUpperCase().replace(/[^A-Z0-9]+/g, '').slice(0, 8)\n    : (draft.promo_scope === 'order' && draft.discount_type === 'flat')\n      ? 'FLAT' + Math.round(Number(draft.discount_value || 0))\n      : 'SAVE' + Math.round(Number(draft.discount_value || 0));\n  return {\n    promo_scope: draft.promo_scope,\n    discount_type: draft.discount_type,\n    discount_value: Number(draft.discount_value || 0),\n    min_cart_value: Number(draft.min_cart_value || 0),\n    promo_code: nextPromoCode(draft.promo_code || codeBase),\n    target_sku: String(draft.target_sku || ''),\n    target_label: draft.target_label || '',\n    target_category: draft.target_category || '',\n    valid_until: draft.valid_until || '',\n    priority_value: Number(draft.priority_value || 20),\n    priority_label: draft.priority_label || 'Medium',\n    description: draft.description || (\n      draft.promo_scope === 'product'\n        ? (Number(draft.discount_value || 0) + '% off on ' + draft.target_label)\n        : draft.discount_type === 'flat'\n          ? ('Rs.' + Number(draft.discount_value || 0) + ' off on the order')\n          : Number(draft.min_cart_value || 0) > 0\n            ? (Number(draft.discount_value || 0) + '% off orders above Rs.' + Number(draft.min_cart_value || 0))\n            : (Number(draft.discount_value || 0) + '% off on the order')\n    ),\n    existing_active_code: existingMatch ? existingMatch.promo_code : '',\n  };\n}\n\nfunction resolveItem(label) {\n  const query = profile(String(label || '').replace(/^(?:on|for|an|a|the)\\s+/i, '').trim());\n  const active = inventory.filter((row) => row.is_active !== false).map((row) => ({ ...row, item_name: canonicalizeItemName(row.item_name), _profile: profile(row.item_name) }));\n  if (!query.normalized_key) return { status: 'not_found', matches: [], options: [] };\n  const exact = active.filter((row) => row._profile.normalized_key === query.normalized_key);\n  if (exact.length === 1) return { status: 'selected', row: exact[0], matches: [exact[0].item_name], options: [{ target_sku: String(exact[0].sku || ''), target_label: exact[0].item_name, target_category: exact[0].category || '' }] };\n  if (exact.length > 1) return { status: 'ambiguous', matches: distinct(exact), options: exact.slice(0, 3).map((row) => ({ target_sku: String(row.sku || ''), target_label: row.item_name, target_category: row.category || '' })) };\n  const exactBase = active.filter((row) => row._profile.base_tokens.join(' ') === query.base_tokens.join(' '));\n  if (!query.variant_tokens.length && exactBase.length === 1) return { status: 'selected', row: exactBase[0], matches: [exactBase[0].item_name], options: [{ target_sku: String(exactBase[0].sku || ''), target_label: exactBase[0].item_name, target_category: exactBase[0].category || '' }] };\n  if (!query.variant_tokens.length && exactBase.length > 1) return { status: 'ambiguous', matches: distinct(exactBase), options: exactBase.slice(0, 3).map((row) => ({ target_sku: String(row.sku || ''), target_label: row.item_name, target_category: row.category || '' })) };\n  const ranked = active.map((row) => ({ row, score: score(query, row._profile) })).filter((row) => row.score >= 0.55).sort((left, right) => right.score - left.score);\n  if (!ranked.length) return { status: 'not_found', matches: [], options: [] };\n  const topScore = ranked[0].score;\n  const topGroup = ranked.filter((row) => row.score >= topScore - 0.08);\n  const labels = distinct(topGroup.map((row) => row.row));\n  if (labels.length === 1) return { status: 'selected', row: topGroup[0].row, matches: labels, options: [{ target_sku: String(topGroup[0].row.sku || ''), target_label: topGroup[0].row.item_name, target_category: topGroup[0].row.category || '' }] };\n  return { status: 'ambiguous', matches: labels, options: topGroup.slice(0, 3).map((row) => ({ target_sku: String(row.row.sku || ''), target_label: row.row.item_name, target_category: row.row.category || '' })) };\n}\n\nfunction loadSession(sessionId) {\n  if (!sessionId) return null;\n  return sessions.find((row) => String(row.session_id || '') === String(sessionId)) || null;\n}\n\nif (!isComplete) return [{ json: { ...base, action: 'needs_onboarding' } }];\nif (sourceType === 'document' || sourceType === 'image') return [{ json: { ...base, action: 'media_not_supported' } }];\n\nif (buttonId === 'owner_catalog_discount' || buttonId === 'owner_promo_create_another') return [{ json: { ...base, action: 'start_prompt_session' } }];\nif (buttonId === 'owner_promo_show_active') return [{ json: { ...base, action: 'list' } }];\nif (buttonId === 'owner_promo_back_catalog') return [{ json: { ...base, action: 'back_catalog' } }];\nif (buttonId.startsWith('owner_promo_confirm__')) return [{ json: { ...base, action: 'confirm_session', session_id: buttonId.replace('owner_promo_confirm__', '') } }];\nif (buttonId.startsWith('owner_promo_cancel__')) return [{ json: { ...base, action: 'cancel_session', session_id: buttonId.replace('owner_promo_cancel__', '') } }];\n\nconst targetButton = buttonId.match(/^owner_promo_target__(.+?)__(.+)$/);\nif (targetButton) {\n  const session = loadSession(targetButton[1]);\n  const draft = session ? (typeof session.parsed_payload_json === 'string' ? JSON.parse(session.parsed_payload_json || '{}') : session.parsed_payload_json || {}) : null;\n  const options = session ? (typeof session.preview_rows_json === 'string' ? JSON.parse(session.preview_rows_json || '[]') : session.preview_rows_json || []) : [];\n  const chosen = options.find((row) => String(row.target_sku || '') === String(targetButton[2] || ''));\n  if (!draft || !chosen) return [{ json: { ...base, action: 'clarify', clarify_message: 'I could not find that pending discount choice. Please start the discount again.' } }];\n  const merged = { ...draft, ...chosen };\n  if (!merged.valid_until) return [{ json: { ...base, action: 'save_draft_session', session_id: targetButton[1], session_stage: 'awaiting_expiry', draft_payload: merged, choice_rows: [] } }];\n  if (!merged.priority_value) return [{ json: { ...base, action: 'save_draft_session', session_id: targetButton[1], session_stage: 'awaiting_priority', draft_payload: merged, choice_rows: [] } }];\n  return [{ json: { ...base, action: 'preview_promo', session_id: targetButton[1], preview_rows: [buildPreviewDraft(merged)] } }];\n}\n\nconst expiryButton = buttonId.match(/^owner_promo_expiry__(.+?)__(today|d7|d30)$/);\nif (expiryButton) {\n  const session = loadSession(expiryButton[1]);\n  const draft = session ? (typeof session.parsed_payload_json === 'string' ? JSON.parse(session.parsed_payload_json || '{}') : session.parsed_payload_json || {}) : null;\n  if (!draft) return [{ json: { ...base, action: 'clarify', clarify_message: 'I could not find that pending discount session. Please start again.' } }];\n  const expiryMap = { today: 'today', d7: '7 days', d30: '30 days' };\n  const validUntil = parseExpiry(expiryMap[expiryButton[2]] || '');\n  const merged = { ...draft, valid_until: validUntil };\n  if (!merged.priority_value) return [{ json: { ...base, action: 'save_draft_session', session_id: expiryButton[1], session_stage: 'awaiting_priority', draft_payload: merged, choice_rows: [] } }];\n  return [{ json: { ...base, action: 'preview_promo', session_id: expiryButton[1], preview_rows: [buildPreviewDraft(merged)] } }];\n}\n\nconst priorityButton = buttonId.match(/^owner_promo_priority__(.+?)__(high|medium|low)$/);\nif (priorityButton) {\n  const session = loadSession(priorityButton[1]);\n  const draft = session ? (typeof session.parsed_payload_json === 'string' ? JSON.parse(session.parsed_payload_json || '{}') : session.parsed_payload_json || {}) : null;\n  if (!draft) return [{ json: { ...base, action: 'clarify', clarify_message: 'I could not find that pending discount session. Please start again.' } }];\n  const priority = parsePriority(priorityButton[2]) || { label: 'Medium', value: 20 };\n  const merged = { ...draft, priority_label: priority.label, priority_value: priority.value };\n  return [{ json: { ...base, action: 'preview_promo', session_id: priorityButton[1], preview_rows: [buildPreviewDraft(merged)] } }];\n}\n\nif (/^(?:show|list|active)\\s*(?:promo|promos|promotions|offers|discounts)?$/i.test(message) || /^(?:show|list)\\s+(?:all\\s+)?(?:offers|promos|promotions|discounts)$/i.test(message)) {\n  return [{ json: { ...base, action: 'list' } }];\n}\n\nconst deactivateMatch = message.match(/^(?:remove|delete|deactivate|stop)\\s+([A-Za-z0-9_-]+)$/i);\nif (deactivateMatch) {\n  return [{ json: { ...base, action: 'deactivate', promo_code: deactivateMatch[1].toUpperCase() } }];\n}\n\nconst ai = parseAiPayload(aiText);\nconst intent = String(ai.intent || '').trim();\nlet promoType = String(ai.promo_type || '').trim();\nlet discountValue = ai.discount_value === null || ai.discount_value === undefined || ai.discount_value === '' ? null : Number(ai.discount_value);\nlet minCartValue = ai.min_cart_value === null || ai.min_cart_value === undefined || ai.min_cart_value === '' ? null : Number(ai.min_cart_value);\nlet targetText = String(ai.target_text || '').trim();\nlet expiryText = String(ai.expiry_text || '').trim();\nlet priorityText = String(ai.priority_text || '').trim();\n\nif (!promoType || promoType === 'unknown') {\n  const thresholdPctMatch = message.match(/^(\\d+(?:\\.\\d+)?)%\\s+off\\s+above\\s+(\\d+(?:\\.\\d+)?)$/i);\n  const flatMatch = message.match(/^flat\\s+(\\d+(?:\\.\\d+)?)\\s+(?:off|discount)(?:\\s+above\\s+(\\d+(?:\\.\\d+)?))?$/i);\n  const productMatch = message.match(/^(\\d+(?:\\.\\d+)?)%\\s+(?:off|of)\\s+(.+)$/i) || message.match(/^(.+?)\\s+(\\d+(?:\\.\\d+)?)%\\s+(?:off|of)$/i);\n  if (thresholdPctMatch) {\n    promoType = 'order_percentage_threshold';\n    discountValue = Number(thresholdPctMatch[1]);\n    minCartValue = Number(thresholdPctMatch[2]);\n  } else if (flatMatch) {\n    promoType = 'order_flat';\n    discountValue = Number(flatMatch[1]);\n    minCartValue = flatMatch[2] ? Number(flatMatch[2]) : 0;\n  } else if (productMatch) {\n    promoType = 'product_percentage';\n    if (message.match(/^(\\d+(?:\\.\\d+)?)%\\s+(?:off|of)\\s+(.+)$/i)) {\n      discountValue = Number(productMatch[1]);\n      targetText = String(productMatch[2] || '').trim();\n    } else {\n      targetText = String(productMatch[1] || '').trim();\n      discountValue = Number(productMatch[2]);\n    }\n  }\n}\n\nif (!intent && !promoType && !/(discount|promo|offer|flat|off|above)/i.test(message)) {\n  return [{ json: { ...base, action: 'prompt_discount' } }];\n}\n\nif ((!promoType || promoType === 'unknown') && /(discount|promo|offer|flat|off|above)/i.test(message) && /\\d/.test(message)) {\n  return [{ json: { ...base, action: 'clarify', clarify_message: 'I could not safely understand that discount yet. Try one of these formats:\\\\n- Onions 50% off\\\\n- flat 20 off\\\\n- 5% off above 300' } }];\n}\n\nif (intent === 'help') return [{ json: { ...base, action: 'prompt_discount' } }];\nif (intent === 'list_promos') return [{ json: { ...base, action: 'list' } }];\nif (intent === 'deactivate_promo' && ai.promo_code) return [{ json: { ...base, action: 'deactivate', promo_code: String(ai.promo_code).toUpperCase() } }];\n\nconst priority = parsePriority(priorityText);\nconst validUntil = parseExpiry(expiryText);\nconst draft = {\n  promo_scope: '',\n  discount_type: '',\n  discount_value: Number(discountValue || 0),\n  min_cart_value: Number(minCartValue || 0),\n  target_text: targetText,\n  target_sku: '',\n  target_label: '',\n  target_category: '',\n  valid_until: validUntil,\n  priority_label: priority ? priority.label : '',\n  priority_value: priority ? priority.value : 0,\n  promo_code: String(ai.promo_code || '').trim().toUpperCase(),\n};\n\nif (promoType === 'order_flat') {\n  draft.promo_scope = 'order';\n  draft.discount_type = 'flat';\n  draft.target_label = draft.min_cart_value > 0 ? ('orders above Rs.' + draft.min_cart_value) : 'the order';\n} else if (promoType === 'order_percentage_threshold') {\n  draft.promo_scope = 'order';\n  draft.discount_type = 'percentage';\n  draft.target_label = 'orders above Rs.' + draft.min_cart_value;\n} else if (promoType === 'order_percentage') {\n  draft.promo_scope = 'order';\n  draft.discount_type = 'percentage';\n  draft.target_label = 'the order';\n} else if (promoType === 'product_percentage') {\n  draft.promo_scope = 'product';\n  draft.discount_type = 'percentage';\n  const resolution = resolveItem(targetText);\n  if (resolution.status === 'not_found') {\n    return [{ json: { ...base, action: 'clarify', clarify_message: 'I could not find ' + targetText + '. Create the item first or use a more specific name.' } }];\n  }\n  if (resolution.status === 'ambiguous') {\n    return [{ json: { ...base, action: 'save_draft_session', session_stage: 'awaiting_target', draft_payload: draft, choice_rows: resolution.options } }];\n  }\n  draft.target_sku = String(resolution.row.sku || '');\n  draft.target_label = resolution.row.item_name;\n  draft.target_category = resolution.row.category || '';\n} else {\n  return [{ json: { ...base, action: 'prompt_discount' } }];\n}\n\nif (!draft.valid_until) return [{ json: { ...base, action: 'save_draft_session', session_stage: 'awaiting_expiry', draft_payload: draft, choice_rows: [] } }];\nif (!draft.priority_value) return [{ json: { ...base, action: 'save_draft_session', session_stage: 'awaiting_priority', draft_payload: draft, choice_rows: [] } }];\nreturn [{ json: { ...base, action: 'preview_promo', preview_rows: [buildPreviewDraft(draft)] } }];"},"id":"promo-parse","name":"Parse Promo Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,320]},{"parameters":{"mode":"expression","numberOutputs":3,"output":"={{ $json.action === 'list' ? 1 : ['start_prompt_session', 'save_draft_session', 'preview_promo', 'confirm_session', 'cancel_session', 'deactivate'].includes($json.action) ? 2 : 0 }}"},"id":"promo-switch","name":"Promo Action","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2832,304]},{"parameters":{"jsCode":"const d = $('Parse Promo Request').first().json;\nconst lang = String(d.user_language || 'en');\nconst OWNER_BUTTON_LABELS = {\n  en: { accept: '✅ Accept', reject: '❌ Reject', mark_ready: '📦 Mark Ready', mark_delivered: '🚚 Delivered', view_orders: '📋 Orders', add_item: '➕ Add Item', edit_item: '✏️ Edit', remove_item: '🗑 Remove', view_inventory: '📦 Inventory', add_promo: '🏷 Add Promo', view_promos: '🏷 Promos', language: '🌐 Language', mark_dispatched: '🚚 Mark Dispatched' },\n  hi: { accept: '✅ स्वीकार', reject: '❌ अस्वीकार', mark_ready: '📦 तैयार', mark_delivered: '🚚 डिलीवर', view_orders: '📋 ऑर्डर', add_item: '➕ जोड़ें', edit_item: '✏️ संपादित', remove_item: '🗑 हटाएं', view_inventory: '📦 इन्वेंटरी', add_promo: '🏷 प्रोमो जोड़ें', view_promos: '🏷 प्रोमो', language: '🌐 भाषा', mark_dispatched: '🚚 भेजा' },\n  te: { accept: '✅ అంగీకరించు', reject: '❌ తిరస్కరించు', mark_ready: '📦 సిద్ధం', mark_delivered: '🚚 డెలివరీ', view_orders: '📋 ఆర్డర్లు', add_item: '➕ జోడించు', edit_item: '✏️ సవరించు', remove_item: '🗑 తొలగించు', view_inventory: '📦 ఇన్వెంటరీ', add_promo: '🏷 ప్రోమో', view_promos: '🏷 ప్రోమోలు', language: '🌐 భాష', mark_dispatched: '🚚 పంపించు' },\n  ta: { accept: '✅ ஏற்கிறேன்', reject: '❌ நிராகரி', mark_ready: '📦 தயார்', mark_delivered: '🚚 டெலிவரி', view_orders: '📋 ஆர்டர்கள்', add_item: '➕ சேர்', edit_item: '✏️ திருத்து', remove_item: '🗑 நீக்கு', view_inventory: '📦 இன்வென்டரி', add_promo: '🏷 ப்ரோமோ', view_promos: '🏷 ப்ரோமோக்கள்', language: '🌐 மொழி', mark_dispatched: '🚚 அனுப்பு' },\n  bn: { accept: '✅ গ্রহণ', reject: '❌ প্রত্যাখ্যান', mark_ready: '📦 প্রস্তুত', mark_delivered: '🚚 ডেলিভারি', view_orders: '📋 অর্ডার', add_item: '➕ যোগ করুন', edit_item: '✏️ সম্পাদনা', remove_item: '🗑 মুছুন', view_inventory: '📦 ইনভেন্টরি', add_promo: '🏷 প্রমো যোগ', view_promos: '🏷 প্রমো', language: '🌐 ভাষা', mark_dispatched: '🚚 পাঠানো' },\n  gu: { accept: '✅ સ્વીકારો', reject: '❌ અસ્વીકાર', mark_ready: '📦 તૈયાર', mark_delivered: '🚚 ડિલિવરી', view_orders: '📋 ઓર્ડર', add_item: '➕ ઉમેરો', edit_item: '✏️ સંપાદિત', remove_item: '🗑 દૂર કરો', view_inventory: '📦 ઇન્વેન્ટરી', add_promo: '🏷 પ્રોમો ઉમેરો', view_promos: '🏷 પ્રોમો', language: '🌐 ભાષા', mark_dispatched: '🚚 મોકલ્યું' },\n  kn: { accept: '✅ ಒಪ್ಪಿಕೊಳ್ಳಿ', reject: '❌ ತಿರಸ್ಕರಿಸಿ', mark_ready: '📦 ಸಿದ್ಧ', mark_delivered: '🚚 ಡೆಲಿವರಿ', view_orders: '📋 ಆರ್ಡರ್', add_item: '➕ ಸೇರಿಸಿ', edit_item: '✏️ ಸಂಪಾದಿಸಿ', remove_item: '🗑 ತೆಗೆದುಹಾಕಿ', view_inventory: '📦 ಇನ್ವೆಂಟರಿ', add_promo: '🏷 ಪ್ರೊಮೊ ಸೇರಿಸಿ', view_promos: '🏷 ಪ್ರೊಮೊ', language: '🌐 ಭಾಷೆ', mark_dispatched: '🚚 ಕಳುಹಿಸಿ' },\n  ml: { accept: '✅ സ്വീകരിക്കൂ', reject: '❌ നിരസിക്കൂ', mark_ready: '📦 തയ്യാർ', mark_delivered: '🚚 ഡെലിവറി', view_orders: '📋 ഓർഡറുകൾ', add_item: '➕ ചേർക്കൂ', edit_item: '✏️ തിരുത്തൂ', remove_item: '🗑 നീക്കൂ', view_inventory: '📦 ഇൻവെന്ററി', add_promo: '🏷 പ്രോമോ', view_promos: '🏷 പ്രോമോകൾ', language: '🌐 ഭാഷ', mark_dispatched: '🚚 അയച്ചു' },\n  or: { accept: '✅ ଗ୍ରହଣ', reject: '❌ ପ୍ରତ୍ୟାଖ୍ୟାନ', mark_ready: '📦 ପ୍ରସ୍ତୁତ', mark_delivered: '🚚 ଡେଲିଭରି', view_orders: '📋 ଅର୍ଡର', add_item: '➕ ଯୋଡ଼ନ୍ତୁ', edit_item: '✏️ ସଂଶୋଧନ', remove_item: '🗑 ହଟାନ୍ତୁ', view_inventory: '📦 ଇନ୍ଭେଣ୍ଟ୍ରି', add_promo: '🏷 ପ୍ରୋମୋ', view_promos: '🏷 ପ୍ରୋମୋ', language: '🌐 ଭାଷା', mark_dispatched: '🚚 ପଠାନ୍ତୁ' },\n  pa: { accept: '✅ ਮਨਜ਼ੂਰ', reject: '❌ ਰੱਦ', mark_ready: '📦 ਤਿਆਰ', mark_delivered: '🚚 ਡਿਲੀਵਰੀ', view_orders: '📋 ਆਰਡਰ', add_item: '➕ ਜੋੜੋ', edit_item: '✏️ ਸੰਪਾਦਿਤ', remove_item: '🗑 ਹਟਾਓ', view_inventory: '📦 ਇਨਵੈਂਟਰੀ', add_promo: '🏷 ਪ੍ਰੋਮੋ ਜੋੜੋ', view_promos: '🏷 ਪ੍ਰੋਮੋ', language: '🌐 ਭਾਸ਼ਾ', mark_dispatched: '🚚 ਭੇਜਿਆ' },\n};\nconst lbl = (lang, key) => (OWNER_BUTTON_LABELS[lang] || OWNER_BUTTON_LABELS['en'])[key] || OWNER_BUTTON_LABELS['en'][key];\n\nconst makeText = (body) => ({ chat_id: d.chat_id, message_type: 'text', body_text: body, test_mode: d.test_mode === true });\nconst makeButtons = (body, buttons) => ({ chat_id: d.chat_id, message_type: 'button', body_text: body, buttons, test_mode: d.test_mode === true });\n\nif (d.action === 'needs_onboarding') return [{ json: makeText('Finish store setup first. Send setup to continue onboarding.') }];\nif (d.action === 'media_not_supported') return [{ json: makeText('Discount changes currently support text only. Try \"50% off Eggs 10\" or \"flat 20 off\".') }];\nif (d.action === 'clarify') return [{ json: makeText(String(d.clarify_message || 'I need a more specific item name before I create that discount.')) }];\nif (d.action === 'back_catalog') {\n  return [{ json: makeButtons(\n    'Owner catalog actions:\\n\\n- Add items manually\\n- Upload stock sheet\\n- Update price or stock\\n- Create discount',\n    [\n      { id: 'owner_catalog_manual', title: 'Add items manually' },\n      { id: 'owner_catalog_import', title: 'Upload stock sheet' },\n      { id: 'owner_catalog_discount', title: 'Create discount' },\n    ],\n  ) }];\n}\nreturn [{ json: makeText('Create discounts with messages like:\\n- 50% off Eggs 10\\n- Onions 50% off\\n- flat 20 off\\n- 5% off above 300\\n\\nI will ask for expiry and priority before saving the promotion.') }];"},"id":"promo-direct","name":"Format Direct Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3504,128]},{"parameters":{"jsCode":"const schema = $('Inspect Promo Schema').first().json || {};\nconst invSchema = $('Inspect Inventory Schema').first().json || {};\nconst store = $('Resolve Store Context').first().json || {};\nconst hasStoreId = schema.has_store_id === true || schema.has_store_id === 'true' || schema.has_store_id === 't' || schema.has_store_id === 1 || schema.has_store_id === '1';\nconst hasIsActive = schema.has_is_active === true || schema.has_is_active === 'true' || schema.has_is_active === 't' || schema.has_is_active === 1 || schema.has_is_active === '1';\nconst hasPriority = schema.has_priority === true || schema.has_priority === 'true' || schema.has_priority === 't' || schema.has_priority === 1 || schema.has_priority === '1';\nconst hasDescription = schema.has_description === true || schema.has_description === 'true' || schema.has_description === 't' || schema.has_description === 1 || schema.has_description === '1';\nconst hasDiscountType = schema.has_discount_type === true || schema.has_discount_type === 'true' || schema.has_discount_type === 't' || schema.has_discount_type === 1 || schema.has_discount_type === '1';\nconst hasDiscountValue = schema.has_discount_value === true || schema.has_discount_value === 'true' || schema.has_discount_value === 't' || schema.has_discount_value === 1 || schema.has_discount_value === '1';\nconst hasMinCartValue = schema.has_min_cart_value === true || schema.has_min_cart_value === 'true' || schema.has_min_cart_value === 't' || schema.has_min_cart_value === 1 || schema.has_min_cart_value === '1';\nconst hasPromoScope = schema.has_promo_scope === true || schema.has_promo_scope === 'true' || schema.has_promo_scope === 't' || schema.has_promo_scope === 1 || schema.has_promo_scope === '1';\nconst hasTargetSku = schema.has_target_sku === true || schema.has_target_sku === 'true' || schema.has_target_sku === 't' || schema.has_target_sku === 1 || schema.has_target_sku === '1';\nconst hasTargetCategory = schema.has_target_category === true || schema.has_target_category === 'true' || schema.has_target_category === 't' || schema.has_target_category === 1 || schema.has_target_category === '1';\nconst hasValidFrom = schema.has_valid_from === true || schema.has_valid_from === 'true' || schema.has_valid_from === 't' || schema.has_valid_from === 1 || schema.has_valid_from === '1';\nconst hasValidUntil = schema.has_valid_until === true || schema.has_valid_until === 'true' || schema.has_valid_until === 't' || schema.has_valid_until === 1 || schema.has_valid_until === '1';\nconst hasPromoGroupCode = schema.has_promo_group_code === true || schema.has_promo_group_code === 'true' || schema.has_promo_group_code === 't' || schema.has_promo_group_code === 1 || schema.has_promo_group_code === '1';\nconst invHasSku = invSchema.has_sku === true || invSchema.has_sku === 'true' || invSchema.has_sku === 't' || invSchema.has_sku === 1 || invSchema.has_sku === '1';\n\nconst groupExpr = hasPromoGroupCode ? \"COALESCE(NULLIF(p.promo_group_code, ''), p.promo_code)\" : 'p.promo_code';\nconst selectCols = [\n  groupExpr + ' AS promo_group_code',\n  'MIN(p.promo_code) AS promo_code',\n  hasPromoScope ? 'MIN(p.promo_scope) AS promo_scope' : \"'' AS promo_scope\",\n  hasDiscountType ? 'MIN(p.discount_type) AS discount_type' : \"'' AS discount_type\",\n  hasDiscountValue ? 'MIN(p.discount_value) AS discount_value' : '0 AS discount_value',\n  hasMinCartValue ? 'MIN(p.min_cart_value) AS min_cart_value' : '0 AS min_cart_value',\n  hasDescription ? 'MIN(COALESCE(p.description, \\'\\')) AS description' : \"'' AS description\",\n  hasTargetCategory ? 'MIN(COALESCE(p.target_category, \\'\\')) AS target_category' : \"'' AS target_category\",\n  'COUNT(*)::int AS target_count',\n];\nlet fromClause = 'public.promotions p';\nif (hasTargetSku) {\n  if (invHasSku) {\n    fromClause += ' LEFT JOIN public.inventory i ON p.target_sku = i.sku';\n    selectCols.push(\"STRING_AGG(DISTINCT COALESCE(i.item_name, p.target_sku), ' | ') FILTER (WHERE COALESCE(p.target_sku, '') <> '') AS target_labels\");\n  } else {\n    selectCols.push(\"STRING_AGG(DISTINCT p.target_sku, ' | ') FILTER (WHERE COALESCE(p.target_sku, '') <> '') AS target_labels\");\n  }\n} else {\n  selectCols.push(\"'' AS target_labels\");\n}\nconst filters = [];\nif (hasStoreId) filters.push('p.store_id = ' + Number(store.store_id || 0));\nif (hasIsActive) filters.push('COALESCE(p.is_active, true) = true');\nif (hasValidFrom) filters.push('(p.valid_from IS NULL OR NOW() >= p.valid_from)');\nif (hasValidUntil) filters.push('(p.valid_until IS NULL OR NOW() <= p.valid_until)');\nconst whereClause = filters.length ? 'WHERE ' + filters.join(' AND ') : '';\nconst orderClause = hasPriority ? 'ORDER BY MAX(COALESCE(p.priority, 0)) DESC, ' + groupExpr + ' ASC' : 'ORDER BY ' + groupExpr + ' ASC';\nreturn [{ json: { sql: 'SELECT ' + selectCols.join(', ') + ' FROM ' + fromClause + ' ' + whereClause + ' GROUP BY ' + groupExpr + ' ' + orderClause + ' LIMIT 20;' } }];"},"id":"promo-build-list","name":"Build List SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,320]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"id":"promo-run-list","name":"Run List Query","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3280,320],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $('Parse Promo Request').first().json;\nconst rows = $input.all().map((item) => item.json).filter((row) => row && (row.promo_code || row.promo_group_code));\nlet bodyText = '';\nif (!rows.length) {\n  bodyText = 'No active promotions right now.';\n} else {\n  const lines = [];\n  for (const row of rows) {\n    const value = Number(row.discount_value || 0);\n    const discountLabel = row.discount_type === 'percentage' ? value + '% off' : 'Rs.' + value + ' off';\n    const targetCount = Number(row.target_count || 0);\n    const labels = String(row.target_labels || '').split(' | ').filter(Boolean);\n    let scopeLabel = 'on the order';\n    if (row.promo_scope === 'product') {\n      if (targetCount > 1) {\n        const preview = labels.slice(0, 3).join(', ');\n        scopeLabel = 'on ' + targetCount + ' items' + (preview ? ' (' + preview + (labels.length > 3 ? ', ...' : '') + ')' : '');\n      } else {\n        scopeLabel = 'on ' + (labels[0] || 'one item');\n      }\n    } else if (Number(row.min_cart_value || 0) > 0) {\n      scopeLabel = 'on orders above Rs.' + Number(row.min_cart_value || 0);\n    } else if (row.promo_scope === 'category') {\n      scopeLabel = 'on ' + (row.target_category || 'that category');\n    }\n    lines.push('- ' + (row.promo_group_code || row.promo_code) + ': ' + discountLabel + ' ' + scopeLabel);\n  }\n  bodyText = 'Active promotions:\\n' + lines.join('\\n');\n}\nreturn [{ json: { chat_id: d.chat_id, message_type: 'text', body_text: bodyText, test_mode: d.test_mode === true } }];"},"id":"promo-format-list","name":"Format List Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3504,320]},{"parameters":{"jsCode":"const d = $('Parse Promo Request').first().json;\nconst schema = $('Inspect Promo Schema').first().json || {};\nconst esc = (value) => String(value === undefined || value === null ? '' : value).replace(/'/g, \"''\");\nconst b = (value) => value === true || value === 'true' || value === 't' || value === 1 || value === '1';\nconst hasStoreId = b(schema.has_store_id);\nconst hasIsActive = b(schema.has_is_active);\nconst hasUpdatedAt = b(schema.has_updated_at);\nconst hasCreatedAt = b(schema.has_created_at);\nconst hasPriority = b(schema.has_priority);\nconst hasDescription = b(schema.has_description);\nconst hasDiscountType = b(schema.has_discount_type);\nconst hasDiscountValue = b(schema.has_discount_value);\nconst hasMinCartValue = b(schema.has_min_cart_value);\nconst hasPromoScope = b(schema.has_promo_scope);\nconst hasTargetSku = b(schema.has_target_sku);\nconst hasTargetCategory = b(schema.has_target_category);\nconst hasValidUntil = b(schema.has_valid_until);\nconst storeId = Number(d.store_id || 0);\nconst resolvedStoreIdSql = hasStoreId\n  ? (storeId > 0\n      ? String(storeId)\n      : \"(SELECT store_id FROM public.stores WHERE owner_whatsapp_number = '\" + esc(d.chat_id) + \"' ORDER BY COALESCE(onboarding_step, 0) DESC, COALESCE(store_id, 0) DESC, created_at DESC NULLS LAST LIMIT 1)\")\n  : 'NULL';\n\nconst tableSql = [\n  'CREATE TABLE IF NOT EXISTS public.owner_operation_sessions (',\n  '  session_id TEXT PRIMARY KEY,',\n  '  store_id BIGINT,',\n  '  chat_id TEXT NOT NULL,',\n  '  operation_type TEXT NOT NULL,',\n  '  source_type TEXT NOT NULL,',\n  \"  parsed_payload_json JSONB DEFAULT '{}'::jsonb,\",\n  \"  cleanup_summary_json JSONB DEFAULT '{}'::jsonb,\",\n  \"  preview_rows_json JSONB DEFAULT '[]'::jsonb,\",\n  '  status TEXT NOT NULL,',\n  '  created_at TIMESTAMPTZ DEFAULT NOW(),',\n  '  updated_at TIMESTAMPTZ DEFAULT NOW()',\n  ');',\n].join('\\n');\n\nfunction jsonLiteral(value) {\n  return \"'\" + esc(JSON.stringify(value)) + \"'::jsonb\";\n}\n\nconst activeSessionWhere = \"chat_id = '\" + esc(d.chat_id) + \"' AND status NOT IN ('cancelled', 'applied', 'completed', 'completed_with_issues', 'failed')\";\n\nif (d.action === 'start_prompt_session') {\n  const sessionId = 'promo_' + Date.now() + '_' + Math.random().toString(36).slice(2, 8);\n  const summary = { stage: 'awaiting_details' };\n  const sql = [\n    tableSql,\n    \"UPDATE public.owner_operation_sessions SET status = 'cancelled', updated_at = NOW() WHERE \" + activeSessionWhere + \";\",\n    'WITH upserted AS (',\n    '  INSERT INTO public.owner_operation_sessions (session_id, store_id, chat_id, operation_type, source_type, parsed_payload_json, cleanup_summary_json, preview_rows_json, status, created_at, updated_at)',\n    \"  VALUES ('\" + esc(sessionId) + \"', \" + resolvedStoreIdSql + \", '\" + esc(d.chat_id) + \"', 'promo_draft', '\" + esc(d.source_type || 'text') + \"', '{}'::jsonb, \" + jsonLiteral(summary) + \", '[]'::jsonb, 'awaiting_details', NOW(), NOW())\",\n    '  RETURNING session_id',\n    ')',\n    \"SELECT 'prompt_ready' AS result, session_id, \" + jsonLiteral(summary) + \" AS summary, '[]'::jsonb AS preview_rows, NULL::json AS promo, '[]'::json AS matches FROM upserted;\",\n  ].join('\\n');\n  return [{ json: { ...d, sql } }];\n}\n\nif (d.action === 'save_draft_session') {\n  const sessionId = d.session_id || ('promo_' + Date.now() + '_' + Math.random().toString(36).slice(2, 8));\n  const stage = d.session_stage || 'awaiting_expiry';\n  const sql = [\n    tableSql,\n    \"UPDATE public.owner_operation_sessions SET status = 'cancelled', updated_at = NOW() WHERE \" + activeSessionWhere + \" AND session_id <> '\" + esc(sessionId) + \"';\",\n    'WITH upserted AS (',\n    '  INSERT INTO public.owner_operation_sessions (session_id, store_id, chat_id, operation_type, source_type, parsed_payload_json, cleanup_summary_json, preview_rows_json, status, created_at, updated_at)',\n    \"  VALUES ('\" + esc(sessionId) + \"', \" + resolvedStoreIdSql + \", '\" + esc(d.chat_id) + \"', 'promo_draft', '\" + esc(d.source_type || 'text') + \"', \" + jsonLiteral(d.draft_payload || {}) + \", \" + jsonLiteral({ stage }) + \", \" + jsonLiteral(d.choice_rows || []) + \", '\" + esc(stage) + \"', NOW(), NOW())\",\n    '  ON CONFLICT (session_id) DO UPDATE SET',\n    \"    parsed_payload_json = EXCLUDED.parsed_payload_json, cleanup_summary_json = EXCLUDED.cleanup_summary_json, preview_rows_json = EXCLUDED.preview_rows_json, status = EXCLUDED.status, updated_at = NOW()\",\n    '  RETURNING session_id, status, cleanup_summary_json AS summary, preview_rows_json AS preview_rows',\n    ')',\n    \"SELECT status AS result, session_id, summary, preview_rows, NULL::json AS promo, '[]'::json AS matches FROM upserted;\",\n  ].join('\\n');\n  return [{ json: { ...d, sql } }];\n}\n\nif (d.action === 'preview_promo') {\n  const previewRow = (d.preview_rows || [])[0] || {};\n  const sessionId = d.session_id || ('promo_' + Date.now() + '_' + Math.random().toString(36).slice(2, 8));\n  const summary = { existing_active_code: previewRow.existing_active_code || '' };\n  const sql = [\n    tableSql,\n    \"UPDATE public.owner_operation_sessions SET status = 'cancelled', updated_at = NOW() WHERE \" + activeSessionWhere + \" AND session_id <> '\" + esc(sessionId) + \"';\",\n    'WITH upserted AS (',\n    '  INSERT INTO public.owner_operation_sessions (session_id, store_id, chat_id, operation_type, source_type, parsed_payload_json, cleanup_summary_json, preview_rows_json, status, created_at, updated_at)',\n    \"  VALUES ('\" + esc(sessionId) + \"', \" + resolvedStoreIdSql + \", '\" + esc(d.chat_id) + \"', 'promo_preview', '\" + esc(d.source_type || 'text') + \"', \" + jsonLiteral(previewRow) + \", \" + jsonLiteral(summary) + \", \" + jsonLiteral(d.preview_rows || []) + \", 'pending_preview', NOW(), NOW())\",\n    '  ON CONFLICT (session_id) DO UPDATE SET',\n    \"    parsed_payload_json = EXCLUDED.parsed_payload_json, cleanup_summary_json = EXCLUDED.cleanup_summary_json, preview_rows_json = EXCLUDED.preview_rows_json, status = EXCLUDED.status, updated_at = NOW()\",\n    '  RETURNING session_id, cleanup_summary_json AS summary, preview_rows_json AS preview_rows',\n    ')',\n    \"SELECT 'preview_created' AS result, session_id, summary, preview_rows, NULL::json AS promo, '[]'::json AS matches FROM upserted;\",\n  ].join('\\n');\n  return [{ json: { ...d, sql } }];\n}\n\nif (d.action === 'cancel_session') {\n  const sql = [\n    tableSql,\n    \"WITH updated AS (UPDATE public.owner_operation_sessions SET status = 'cancelled', updated_at = NOW() WHERE \" + activeSessionWhere + \" RETURNING session_id)\",\n    \"SELECT CASE WHEN EXISTS (SELECT 1 FROM updated) THEN 'cancelled' ELSE 'session_missing' END AS result, '{}'::jsonb AS summary, '[]'::jsonb AS preview_rows, NULL::json AS promo, '[]'::json AS matches;\",\n  ].join('\\n');\n  return [{ json: { ...d, sql } }];\n}\n\nif (d.action === 'confirm_session') {\n  if (!hasDiscountType || !hasDiscountValue) {\n    return [{ json: { ...d, sql: \"SELECT 'schema_missing_core' AS result, '{}'::jsonb AS summary, '[]'::jsonb AS preview_rows, NULL::json AS promo, '[]'::json AS matches;\" } }];\n  }\n  if (!hasTargetSku && String(d.promo_scope || '') === 'product') {\n    return [{ json: { ...d, sql: \"SELECT 'schema_missing_target_sku' AS result, '{}'::jsonb AS summary, '[]'::jsonb AS preview_rows, NULL::json AS promo, '[]'::json AS matches;\" } }];\n  }\n  const insertColumns = ['promo_code', 'discount_type', 'discount_value'];\n  const selectCols = ['r.promo_code', 'r.discount_type', 'r.discount_value'];\n  const updateParts = ['discount_type = EXCLUDED.discount_type', 'discount_value = EXCLUDED.discount_value'];\n  if (hasPromoScope) { insertColumns.push('promo_scope'); selectCols.push('r.promo_scope'); updateParts.push('promo_scope = EXCLUDED.promo_scope'); }\n  if (hasMinCartValue) { insertColumns.push('min_cart_value'); selectCols.push('COALESCE(r.min_cart_value, 0)'); updateParts.push('min_cart_value = EXCLUDED.min_cart_value'); }\n  if (hasDescription) { insertColumns.push('description'); selectCols.push('r.description'); updateParts.push('description = EXCLUDED.description'); }\n  if (hasStoreId) { insertColumns.push('store_id'); selectCols.push(resolvedStoreIdSql); updateParts.push('store_id = EXCLUDED.store_id'); }\n  if (hasTargetSku) { insertColumns.push('target_sku'); selectCols.push(\"NULLIF(r.target_sku, '')\"); updateParts.push('target_sku = EXCLUDED.target_sku'); }\n  if (hasTargetCategory) { insertColumns.push('target_category'); selectCols.push(\"NULLIF(r.target_category, '')\"); updateParts.push('target_category = EXCLUDED.target_category'); }\n  if (hasPriority) { insertColumns.push('priority'); selectCols.push('COALESCE(r.priority_value, 20)'); updateParts.push('priority = EXCLUDED.priority'); }\n  if (hasValidUntil) { insertColumns.push('valid_until'); selectCols.push(\"CASE WHEN NULLIF(r.valid_until, '') IS NULL THEN NULL ELSE NULLIF(r.valid_until, '')::timestamptz END\"); updateParts.push('valid_until = EXCLUDED.valid_until'); }\n  if (hasIsActive) { insertColumns.push('is_active'); selectCols.push('true'); updateParts.push('is_active = true'); }\n  if (hasCreatedAt) { insertColumns.push('created_at'); selectCols.push('NOW()'); }\n  if (hasUpdatedAt) { insertColumns.push('updated_at'); selectCols.push('NOW()'); updateParts.push('updated_at = NOW()'); }\n  const sql = [\n    tableSql,\n    'WITH session_row AS (',\n    \"  SELECT * FROM public.owner_operation_sessions WHERE session_id = '\" + esc(d.session_id) + \"' AND chat_id = '\" + esc(d.chat_id) + \"' LIMIT 1\",\n    '), session_status AS (SELECT COALESCE((SELECT status FROM session_row), \\'missing\\') AS status), safe_rows AS (',\n    \"  SELECT * FROM jsonb_to_recordset(COALESCE((SELECT preview_rows_json FROM session_row), '[]'::jsonb)) AS r(promo_code text, promo_scope text, discount_type text, discount_value numeric, min_cart_value numeric, target_sku text, target_label text, target_category text, description text, valid_until text, priority_value numeric, priority_label text)\",\n    '), upserted AS (',\n    '  INSERT INTO public.promotions (' + insertColumns.join(', ') + ')',\n    '  SELECT ' + selectCols.join(', '),\n    '  FROM safe_rows r, session_status st',\n    \"  WHERE st.status = 'pending_preview'\",\n    '  ON CONFLICT (promo_code) DO UPDATE SET ' + updateParts.join(', '),\n    '  RETURNING promo_code',\n    '), session_done AS (',\n    \"  UPDATE public.owner_operation_sessions SET status = CASE WHEN (SELECT status FROM session_status) = 'pending_preview' THEN 'applied' ELSE status END, updated_at = NOW() WHERE session_id = '\" + esc(d.session_id) + \"' RETURNING status\",\n    ')',\n    \"SELECT CASE WHEN (SELECT status FROM session_status) = 'pending_preview' THEN 'applied' WHEN (SELECT status FROM session_status) = 'applied' THEN 'already_applied' WHEN (SELECT status FROM session_status) = 'cancelled' THEN 'cancelled' ELSE 'session_missing' END AS result, json_build_object('promo_count', (SELECT COUNT(*) FROM upserted)) AS summary, (SELECT row_to_json(u) FROM upserted u LIMIT 1) AS promo, '[]'::jsonb AS preview_rows, '[]'::json AS matches;\",\n  ].join('\\n');\n  return [{ json: { ...d, sql } }];\n}\n\nif (d.action === 'deactivate') {\n  const setParts = [];\n  if (hasIsActive) setParts.push('is_active = false');\n  if (hasUpdatedAt) setParts.push('updated_at = NOW()');\n  const sql = setParts.length\n    ? \"WITH updated AS (UPDATE public.promotions SET \" + setParts.join(', ') + \" WHERE promo_code = '\" + esc(d.promo_code) + \"'\" + (hasStoreId ? \" AND store_id = \" + resolvedStoreIdSql : \"\") + \" RETURNING promo_code) SELECT CASE WHEN EXISTS (SELECT 1 FROM updated) THEN 'deactivated' ELSE 'not_found' END AS result, '{}'::jsonb AS summary, '[]'::jsonb AS preview_rows, (SELECT row_to_json(u) FROM updated u LIMIT 1) AS promo, '[]'::json AS matches;\"\n    : \"SELECT 'schema_missing_core' AS result, '{}'::jsonb AS summary, '[]'::jsonb AS preview_rows, NULL::json AS promo, '[]'::json AS matches;\";\n  return [{ json: { ...d, sql } }];\n}\n\nreturn [{ json: { ...d, sql: \"SELECT 'session_missing' AS result, '{}'::jsonb AS summary, '[]'::jsonb AS preview_rows, NULL::json AS promo, '[]'::json AS matches;\" } }];"},"id":"promo-build-mutation","name":"Build Mutation SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,512]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"id":"promo-run-mutation","name":"Run Mutation SQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3280,512],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $('Parse Promo Request').first().json;\nconst row = $input.first().json || {};\nconst parseMaybeJson = (value, fallback) => {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (Array.isArray(value) || typeof value === 'object') return value;\n  try { return JSON.parse(value); } catch { return fallback; }\n};\nconst summary = parseMaybeJson(row.summary, {});\nconst previewRows = parseMaybeJson(row.preview_rows, d.preview_rows || []);\nconst promo = parseMaybeJson(row.promo, null);\nconst makeText = (body) => ({ chat_id: d.chat_id, message_type: 'text', body_text: body, test_mode: d.test_mode === true });\nconst makeButtons = (body, buttons) => ({ chat_id: d.chat_id, message_type: 'button', body_text: body, buttons, test_mode: d.test_mode === true });\n\nif (row.result === 'schema_missing_core') return [{ json: makeText('Promotion storage is missing required columns.') }];\nif (row.result === 'schema_missing_target_sku') return [{ json: makeText('This database is missing target_sku, so item-specific promos cannot be created safely yet.') }];\n\nif (row.result === 'awaiting_target') {\n  const sessionId = String(row.session_id || '');\n  const options = previewRows.slice(0, 3);\n  const lines = options.map((item) => '- ' + item.target_label).join('\\n');\n  return [{ json: makeButtons(\n    'I found multiple catalog items for this discount.\\n' + lines + '\\n\\nChoose the exact item before I continue.',\n    options.map((item) => ({ id: 'owner_promo_target__' + sessionId + '__' + item.target_sku, title: item.target_label.slice(0, 20) })),\n  ) }];\n}\n\nif (row.result === 'awaiting_expiry') {\n  const sessionId = String(row.session_id || '');\n  return [{ json: makeButtons(\n    'Choose an expiry for this discount.',\n    [\n      { id: 'owner_promo_expiry__' + sessionId + '__today', title: 'Today' },\n      { id: 'owner_promo_expiry__' + sessionId + '__d7', title: '7 days' },\n      { id: 'owner_promo_expiry__' + sessionId + '__d30', title: '30 days' },\n    ],\n  ) }];\n}\n\nif (row.result === 'awaiting_priority') {\n  const sessionId = String(row.session_id || '');\n  return [{ json: makeButtons(\n    'Choose a priority for this discount.',\n    [\n      { id: 'owner_promo_priority__' + sessionId + '__high', title: 'High' },\n      { id: 'owner_promo_priority__' + sessionId + '__medium', title: 'Medium' },\n      { id: 'owner_promo_priority__' + sessionId + '__low', title: 'Low' },\n    ],\n  ) }];\n}\n\nif (row.result === 'preview_created') {\n  const sessionId = String(row.session_id || '');\n  const preview = previewRows[0] || {};\n  const discountLabel = preview.discount_type === 'percentage'\n    ? Number(preview.discount_value || 0) + '% off'\n    : 'Rs.' + Number(preview.discount_value || 0) + ' off';\n  const scopeLabel = preview.promo_scope === 'product'\n    ? 'on ' + preview.target_label\n    : Number(preview.min_cart_value || 0) > 0\n      ? 'on orders above Rs.' + Number(preview.min_cart_value || 0)\n      : 'on the order';\n  const extra = summary.existing_active_code ? '\\nExisting active promo: ' + summary.existing_active_code : '';\n  const expiry = preview.valid_until ? new Date(preview.valid_until).toLocaleDateString('en-IN') : 'not set';\n  const priority = preview.priority_label || 'Medium';\n  return [{ json: makeButtons(\n    'Discount preview:\\n\\nCode: ' + preview.promo_code + '\\nOffer: ' + discountLabel + ' ' + scopeLabel + '\\nExpiry: ' + expiry + '\\nPriority: ' + priority + extra + '\\n\\nConfirm to publish this discount.',\n    [\n      { id: 'owner_promo_confirm__' + sessionId, title: 'Confirm discount' },\n      { id: 'owner_promo_cancel__' + sessionId, title: 'Cancel' },\n    ],\n  ) }];\n}\n\nif (row.result === 'prompt_ready') {\n  return [{ json: makeButtons(\n    'Create discounts with messages like:\\n- 50% off Eggs 10\\n- Onions 50% off\\n- flat 20 off\\n- 5% off above 300\\n\\nI will stay in discount mode until you finish or cancel.',\n    [\n      { id: 'owner_catalog_import', title: 'Upload stock sheet' },\n      { id: 'owner_catalog_update', title: 'Update stock/price' },\n      { id: 'owner_catalog_home', title: 'Menu' },\n    ],\n  ) }];\n}\n\nif (row.result === 'applied') {\n  return [{ json: makeButtons(\n    'Discount saved. Promo ' + ((promo && promo.promo_code) || 'code') + ' is now active.',\n    [\n      { id: 'owner_promo_create_another', title: 'Create another' },\n      { id: 'owner_promo_show_active', title: 'Show active' },\n      { id: 'owner_promo_back_catalog', title: 'Back to catalog' },\n    ],\n  ) }];\n}\n\nif (row.result === 'already_applied') {\n  return [{ json: makeButtons(\n    'That discount preview was already applied earlier.',\n    [\n      { id: 'owner_promo_create_another', title: 'Create another' },\n      { id: 'owner_promo_show_active', title: 'Show active' },\n      { id: 'owner_promo_back_catalog', title: 'Back to catalog' },\n    ],\n  ) }];\n}\nif (row.result === 'cancelled') {\n  return [{ json: makeButtons(\n    'Cancelled. No promotion changes were applied.',\n    [\n      { id: 'owner_promo_create_another', title: 'Create another' },\n      { id: 'owner_promo_show_active', title: 'Show active' },\n      { id: 'owner_promo_back_catalog', title: 'Back to catalog' },\n    ],\n  ) }];\n}\nif (row.result === 'deactivated') return [{ json: makeText('Promo ' + ((promo && promo.promo_code) || d.promo_code) + ' deactivated.') }];\nif (row.result === 'not_found' || row.result === 'session_missing') {\n  return [{ json: makeButtons(\n    'I could not find that pending discount action. Please start the discount again.',\n    [\n      { id: 'owner_promo_create_another', title: 'Create another' },\n      { id: 'owner_promo_show_active', title: 'Show active' },\n      { id: 'owner_promo_back_catalog', title: 'Back to catalog' },\n    ],\n  ) }];\n}\nreturn [{ json: makeText('I could not save that discount safely. Please try again with a clearer message.') }];"},"id":"promo-format-mutation","name":"Format Mutation Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3504,512]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.chat_id }}","message_type":"={{ $json.message_type || 'text' }}","body_text":"={{ $json.body_text || \"\" }}","buttons":"={{ $json.buttons || [] }}","list_sections":"={{ $json.list_sections || [] }}"},"matchingColumns":[],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"body_text","displayName":"body_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"buttons","displayName":"buttons","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"list_sections","displayName":"list_sections","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"waitForSubWorkflow":true}},"id":"promo-send","name":"Send Promo Response","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3728,320]},{"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Inspect Inventory Schema').first().json || {}; const store = $('Resolve Store Context').first().json || {}; const b = (value) => value === true || value === 'true' || value === 't' || value === 1 || value === '1'; const hasStoreId = b(s.has_store_id); const hasSku = b(s.has_sku); const hasCategory = b(s.has_category); const hasIsActive = b(s.has_is_active); const cols = [\"item_name\", hasSku ? \"COALESCE(sku, '') AS sku\" : \"'' AS sku\", hasCategory ? \"COALESCE(category, '') AS category\" : \"'' AS category\", hasIsActive ? \"COALESCE(is_active, true) AS is_active\" : \"true AS is_active\"]; const where = hasStoreId ? (Number(store.store_id || 0) > 0 ? \"store_id = \" + Number(store.store_id || 0) : '1=0') : '1=1'; return \"SELECT \" + cols.join(', ') + \" FROM public.inventory WHERE \" + where + \" ORDER BY item_name ASC LIMIT 500;\"; })() }}","options":{}},"id":"promo-load-items","name":"Load Inventory Snapshot","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,280],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Inspect Promo Schema').first().json || {}; const store = $('Resolve Store Context').first().json || {}; const b = (value) => value === true || value === 'true' || value === 't' || value === 1 || value === '1'; const hasStoreId = b(s.has_store_id); const hasIsActive = b(s.has_is_active); const hasPromoScope = b(s.has_promo_scope); const hasDiscountType = b(s.has_discount_type); const hasDiscountValue = b(s.has_discount_value); const hasMinCartValue = b(s.has_min_cart_value); const hasTargetSku = b(s.has_target_sku); const hasTargetCategory = b(s.has_target_category); const hasDescription = b(s.has_description); const hasPromoGroupCode = b(s.has_promo_group_code); const cols = [\"promo_code\", hasPromoGroupCode ? \"COALESCE(promo_group_code, '') AS promo_group_code\" : \"'' AS promo_group_code\", hasPromoScope ? \"COALESCE(promo_scope, '') AS promo_scope\" : \"'' AS promo_scope\", hasDiscountType ? \"COALESCE(discount_type, '') AS discount_type\" : \"'' AS discount_type\", hasDiscountValue ? \"COALESCE(discount_value, 0) AS discount_value\" : \"0 AS discount_value\", hasMinCartValue ? \"COALESCE(min_cart_value, 0) AS min_cart_value\" : \"0 AS min_cart_value\", hasTargetSku ? \"COALESCE(target_sku, '') AS target_sku\" : \"'' AS target_sku\", hasTargetCategory ? \"COALESCE(target_category, '') AS target_category\" : \"'' AS target_category\", hasDescription ? \"COALESCE(description, '') AS description\" : \"'' AS description\", hasIsActive ? \"COALESCE(is_active, true) AS is_active\" : \"true AS is_active\"]; const where = hasStoreId ? (Number(store.store_id || 0) > 0 ? \"store_id = \" + Number(store.store_id || 0) : '1=0') : '1=1'; return \"SELECT \" + cols.join(', ') + \" FROM public.promotions WHERE \" + where + \" ORDER BY promo_code ASC LIMIT 500;\"; })() }}","options":{}},"id":"promo-load-promos","name":"Load Promo Snapshot","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1340,280],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT session_id, operation_type, status, parsed_payload_json, preview_rows_json, cleanup_summary_json\nFROM public.owner_operation_sessions\nWHERE chat_id = '{{ $('Normalize Input').first().json.chat_id }}'\n  AND operation_type IN ('promo_draft', 'promo_preview')\nORDER BY updated_at DESC\nLIMIT 10;","options":{}},"id":"promo-load-session","name":"Load Promo Session State","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1560,280],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const raw = $('Normalize Input').first().json;\nconst message = String(raw.message || '').trim();\nconst prompt = [\n  'Return only raw JSON. No markdown. No explanation.',\n  'You are extracting a kirana store owner promotion instruction.',\n  'Allowed intents: create_promo, list_promos, deactivate_promo, help.',\n  'Allowed promo_type: product_percentage, order_percentage_threshold, order_percentage, order_flat, unknown.',\n  'Return keys: intent, promo_type, target_text, discount_value, min_cart_value, expiry_text, priority_text, promo_code, confidence.',\n  'Use empty string for unknown text fields and null for unknown numeric fields.',\n  'Examples:',\n  '{\"intent\":\"create_promo\",\"promo_type\":\"product_percentage\",\"target_text\":\"Eggs 10\",\"discount_value\":50,\"min_cart_value\":null,\"expiry_text\":\"\",\"priority_text\":\"\",\"promo_code\":\"\",\"confidence\":0.95}',\n  '{\"intent\":\"create_promo\",\"promo_type\":\"order_flat\",\"target_text\":\"\",\"discount_value\":20,\"min_cart_value\":null,\"expiry_text\":\"\",\"priority_text\":\"\",\"promo_code\":\"\",\"confidence\":0.94}',\n  '{\"intent\":\"create_promo\",\"promo_type\":\"order_percentage_threshold\",\"target_text\":\"\",\"discount_value\":5,\"min_cart_value\":300,\"expiry_text\":\"\",\"priority_text\":\"\",\"promo_code\":\"\",\"confidence\":0.96}',\n  '{\"intent\":\"list_promos\",\"promo_type\":\"unknown\",\"target_text\":\"\",\"discount_value\":null,\"min_cart_value\":null,\"expiry_text\":\"\",\"priority_text\":\"\",\"promo_code\":\"\",\"confidence\":0.99}',\n  'Owner message:',\n  message || '(empty)',\n].join('\\n');\nreturn [{ json: { prompt } }];"},"id":"promo-build-intent","name":"Build Promo Intent Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,280]},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}"},"id":"promo-claude-chain","name":"Claude Promo Extractor","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[2000,280]},{"parameters":{"model":{"__rl":true,"value":"claude-3-haiku-20240307","mode":"list","cachedResultName":"Claude Haiku 3"},"options":{"temperature":0.1}},"id":"promo-claude-model","name":"Claude Promo Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[2000,520],"credentials":{"anthropicApi":{"id":"yiUg577mPI3s1EDq","name":"claude_api"}}}],"connections":{"Start":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Resolve Store Context","type":"main","index":0}]]},"Resolve Store Context":{"main":[[{"node":"Inspect Promo Schema","type":"main","index":0}]]},"Inspect Promo Schema":{"main":[[{"node":"Inspect Inventory Schema","type":"main","index":0}]]},"Inspect Inventory Schema":{"main":[[{"node":"Load Inventory Snapshot","type":"main","index":0}]]},"Parse Promo Request":{"main":[[{"node":"Promo Action","type":"main","index":0}]]},"Promo Action":{"main":[[{"node":"Format Direct Response","type":"main","index":0}],[{"node":"Build List SQL","type":"main","index":0}],[{"node":"Build Mutation SQL","type":"main","index":0}]]},"Format Direct Response":{"main":[[{"node":"Send Promo Response","type":"main","index":0}]]},"Build List SQL":{"main":[[{"node":"Run List Query","type":"main","index":0}]]},"Run List Query":{"main":[[{"node":"Format List Response","type":"main","index":0}]]},"Format List Response":{"main":[[{"node":"Send Promo Response","type":"main","index":0}]]},"Build Mutation SQL":{"main":[[{"node":"Run Mutation SQL","type":"main","index":0}]]},"Run Mutation SQL":{"main":[[{"node":"Format Mutation Response","type":"main","index":0}]]},"Format Mutation Response":{"main":[[{"node":"Send Promo Response","type":"main","index":0}]]},"Load Inventory Snapshot":{"main":[[{"node":"Load Promo Snapshot","type":"main","index":0}]]},"Load Promo Snapshot":{"main":[[{"node":"Load Promo Session State","type":"main","index":0}]]},"Load Promo Session State":{"main":[[{"node":"Build Promo Intent Prompt","type":"main","index":0}]]},"Build Promo Intent Prompt":{"main":[[{"node":"Claude Promo Extractor","type":"main","index":0}]]},"Claude Promo Extractor":{"main":[[{"node":"Parse Promo Request","type":"main","index":0}]]},"Claude Promo Model":{"ai_languageModel":[[{"node":"Claude Promo Extractor","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"3839752c-6851-4a5e-a53d-94cb919a2825","activeVersionId":"3839752c-6851-4a5e-a53d-94cb919a2825","versionCounter":247,"triggerCount":0,"shared":[{"updatedAt":"2026-03-07T08:08:45.003Z","createdAt":"2026-03-07T08:08:45.003Z","role":"workflow:owner","workflowId":"oiggfS3oMsdKNRRn","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T04:28:52.194Z","createdAt":"2026-03-15T04:28:52.194Z","versionId":"3839752c-6851-4a5e-a53d-94cb919a2825","workflowId":"oiggfS3oMsdKNRRn","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"promo-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,320]},{"parameters":{"jsCode":"const toolInput = ($json.tool_input && typeof $json.tool_input === 'object') ? $json.tool_input : {};\nconst raw = { ...$json, ...toolInput };\nconst message = String(raw.message || raw.media_caption || '').trim();\nconst buttonId = String(raw.button_id || '').trim();\nconst sourceType = String(raw.source_type || (buttonId ? 'button' : 'text')).trim() || 'text';\nreturn [{ json: {\n  ...raw,\n  chat_id: String(raw.chat_id || ''),\n  message,\n  button_id: buttonId,\n  source_type: sourceType,\n  media_id: raw.media_id || '',\n  media_mime_type: raw.media_mime_type || '',\n  media_filename: raw.media_filename || '',\n  media_caption: raw.media_caption || '',\n  user_language: String(raw.user_language || 'en'),\n} }];"},"id":"promo-normalize","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,320]},{"parameters":{"operation":"executeQuery","query":"=SELECT store_id, store_name, onboarding_step, upi_id, delivery_area, operating_hours\nFROM public.stores\nWHERE (\n  {{ Number($('Normalize Input').first().json.store_id || 0) }} > 0\n  AND store_id = {{ Number($('Normalize Input').first().json.store_id || 0) }}\n)\n   OR owner_whatsapp_number = '{{ $('Normalize Input').first().json.chat_id }}'\nORDER BY CASE\n  WHEN {{ Number($('Normalize Input').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Normalize Input').first().json.store_id || 0) }} THEN 0\n  WHEN owner_whatsapp_number = '{{ $('Normalize Input').first().json.chat_id }}' THEN 1\n  ELSE 2\nEND,\nCOALESCE(onboarding_step, 0) DESC, COALESCE(store_id, 0) DESC, created_at DESC NULLS LAST\nLIMIT 1;","options":{}},"id":"promo-store","name":"Resolve Store Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[688,320],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'store_id') AS has_store_id,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'is_active') AS has_is_active,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'updated_at') AS has_updated_at,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'created_at') AS has_created_at,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'priority') AS has_priority,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'description') AS has_description,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'discount_type') AS has_discount_type,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'discount_value') AS has_discount_value,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'min_cart_value') AS has_min_cart_value,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'promo_scope') AS has_promo_scope,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'target_sku') AS has_target_sku,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'target_category') AS has_target_category,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'promo_group_code') AS has_promo_group_code,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'valid_from') AS has_valid_from,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'promotions' AND column_name = 'valid_until') AS has_valid_until;","options":{}},"id":"promo-schema","name":"Inspect Promo Schema","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,320],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"SELECT\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'store_id') AS has_store_id,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'sku') AS has_sku,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'category') AS has_category,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'is_active') AS has_is_active;","options":{}},"id":"promo-inv-schema","name":"Inspect Inventory Schema","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1136,320],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const raw = $('Normalize Input').first().json;\nconst store = $('Resolve Store Context').first().json || {};\nconst inventory = $('Load Inventory Snapshot').all().map((item) => item.json || {}).filter((row) => row && row.item_name);\nconst promos = $('Load Promo Snapshot').all().map((item) => item.json || {}).filter((row) => row && row.promo_code);\nconst sessions = $('Load Promo Session State').all().map((item) => item.json || {}).filter((row) => row && row.session_id);\nconst aiText = (() => { try { return $('Claude Promo Extractor').first().json.text || ''; } catch { return ''; } })();\nconst message = String(raw.message || '').trim();\nconst buttonId = String(raw.button_id || '').trim();\nconst sourceType = String(raw.source_type || 'text');\nconst onboardingStep = Number(store.onboarding_step || 0);\nconst isComplete = onboardingStep >= 6 && !!store.store_name && !!store.upi_id && !!store.delivery_area && !!store.operating_hours;\nconst base = { ...raw, ...store };\n\nconst TOKEN_ALIASES = {\n  pyaaz: 'onion', piaz: 'onion', kanda: 'onion', peyaj: 'onion', vengayam: 'onion', onoin: 'onion',\n  aloo: 'potato', alu: 'potato', batata: 'potato',\n  tamatar: 'tomato', tamato: 'tomato', tamoto: 'tomato',\n  doodh: 'milk', chawal: 'rice', anda: 'egg', ande: 'egg', mutta: 'egg', dim: 'egg',\n  maggie: 'maggi', magi: 'maggi',\n};\nconst UNIT_ALIASES = { kg: 'kg', kilo: 'kg', kilogram: 'kg', g: 'g', gm: 'g', gram: 'g', l: 'l', litre: 'l', liter: 'l', ltr: 'l', ml: 'ml' };\n\nfunction compactUnits(value) {\n  return String(value || '')\n    .replace(/(\\d+(?:\\.\\d+)?)\\s*(kg|kilo|kilogram|g|gm|gram|ml|l|ltr|litre|liter)\\b/gi, (_, num, unit) => num + (UNIT_ALIASES[String(unit).toLowerCase()] || String(unit).toLowerCase()))\n    .replace(/[\\u2013\\u2014-]+/g, ' ')\n    .replace(/[()_,/]+/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction normalizeToken(token) {\n  const rawValue = compactUnits(token).toLowerCase().replace(/[^a-z0-9.]+/g, ' ').trim();\n  if (!rawValue) return '';\n  const mapped = TOKEN_ALIASES[rawValue] || rawValue;\n  if (mapped.endsWith('ies') && mapped.length > 4) return mapped.slice(0, -3) + 'y';\n  if (mapped.endsWith('oes') && mapped.length > 4) return mapped.slice(0, -2);\n  if (mapped.endsWith('ses') && mapped.length > 4) return mapped.slice(0, -2);\n  if (mapped.endsWith('s') && !mapped.endsWith('ss') && mapped.length > 3) return mapped.slice(0, -1);\n  return mapped;\n}\n\nfunction isVariant(token) {\n  return /^\\d+(?:\\.\\d+)?(?:kg|g|ml|l)?$/i.test(String(token || '').trim());\n}\n\nfunction canonicalizeItemName(value) {\n  return compactUnits(value).split(/\\s+/).filter(Boolean).map((token) => {\n    if (isVariant(token)) return token.toLowerCase();\n    return token.charAt(0).toUpperCase() + token.slice(1).toLowerCase();\n  }).join(' ').trim();\n}\n\nfunction profile(value) {\n  const cleaned = compactUnits(value);\n  const tokens = cleaned.split(/\\s+/).filter(Boolean).map((token) => normalizeToken(token)).filter(Boolean);\n  return {\n    cleaned,\n    display_name: canonicalizeItemName(value),\n    normalized_key: tokens.join(' ').trim(),\n    base_tokens: tokens.filter((token) => !isVariant(token)),\n    variant_tokens: tokens.filter((token) => isVariant(token)),\n  };\n}\n\nfunction score(a, b) {\n  if (!a.normalized_key || !b.normalized_key) return 0;\n  if (a.normalized_key === b.normalized_key) return 1;\n  if (b.normalized_key.startsWith(a.normalized_key) || a.normalized_key.startsWith(b.normalized_key)) return 0.9;\n  if (b.normalized_key.includes(a.normalized_key) || a.normalized_key.includes(b.normalized_key)) return 0.82;\n  const left = new Set(a.base_tokens);\n  const right = new Set(b.base_tokens);\n  const common = [...left].filter((token) => right.has(token)).length;\n  const union = new Set([...left, ...right]).size || 1;\n  let value = common / union;\n  if (a.base_tokens.length && common === a.base_tokens.length) value = Math.max(value, 0.76);\n  if (a.variant_tokens.length && a.variant_tokens.every((token) => b.variant_tokens.includes(token))) value += 0.2;\n  return value;\n}\n\nfunction distinct(rowsToMap) {\n  return [...new Set(rowsToMap.map((row) => canonicalizeItemName(row.item_name || '')).filter(Boolean))];\n}\n\nfunction parseAiPayload(text) {\n  const rawText = String(text || '').trim();\n  if (!rawText) return {};\n  const ticks = String.fromCharCode(96) + String.fromCharCode(96) + String.fromCharCode(96);\n  const fenced = rawText\n    .replace(new RegExp('^' + ticks + 'json', 'i'), '')\n    .replace(new RegExp('^' + ticks, 'i'), '')\n    .replace(new RegExp(ticks + '$', 'i'), '')\n    .trim();\n  const start = fenced.indexOf('{');\n  const end = fenced.lastIndexOf('}');\n  if (start === -1 || end === -1 || end <= start) return {};\n  try { return JSON.parse(fenced.slice(start, end + 1)); } catch { return {}; }\n}\n\nfunction parseExpiry(text) {\n  const value = String(text || '').trim().toLowerCase();\n  if (!value) return '';\n  const now = new Date();\n  const endOfDay = (date) => {\n    const d = new Date(date);\n    d.setHours(23, 59, 59, 0);\n    return d.toISOString();\n  };\n  if (value === 'today') return endOfDay(now);\n  if (value === 'tomorrow') return endOfDay(new Date(now.getTime() + 24 * 60 * 60 * 1000));\n  const daysMatch = value.match(/(\\d+)\\s+days?/);\n  if (daysMatch) return endOfDay(new Date(now.getTime() + Number(daysMatch[1]) * 24 * 60 * 60 * 1000));\n  const isoMatch = value.match(/^(\\d{4})-(\\d{2})-(\\d{2})$/);\n  if (isoMatch) return endOfDay(new Date(Number(isoMatch[1]), Number(isoMatch[2]) - 1, Number(isoMatch[3])));\n  const dmyMatch = value.match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/);\n  if (dmyMatch) return endOfDay(new Date(Number(dmyMatch[3]), Number(dmyMatch[2]) - 1, Number(dmyMatch[1])));\n  return '';\n}\n\nfunction parsePriority(text) {\n  const value = String(text || '').trim().toLowerCase();\n  if (/high/.test(value)) return { label: 'High', value: 30 };\n  if (/low/.test(value)) return { label: 'Low', value: 10 };\n  if (/medium|normal|default/.test(value)) return { label: 'Medium', value: 20 };\n  return null;\n}\n\nfunction nextPromoCode(baseCode) {\n  const used = new Set(promos.map((row) => String(row.promo_code || '').toUpperCase()));\n  let code = String(baseCode || '').toUpperCase().replace(/[^A-Z0-9_]+/g, '').slice(0, 24) || 'DEAL';\n  let suffix = 2;\n  while (used.has(code)) {\n    code = (String(baseCode || 'DEAL').toUpperCase().replace(/[^A-Z0-9_]+/g, '').slice(0, 20) || 'DEAL') + '_' + suffix;\n    suffix += 1;\n  }\n  return code;\n}\n\nfunction buildPreviewDraft(draft) {\n  const existingMatch = promos.find((promo) =>\n    promo.is_active !== false\n    && String(promo.promo_scope || '') === String(draft.promo_scope || '')\n    && String(promo.discount_type || '') === String(draft.discount_type || '')\n    && Number(promo.discount_value || 0) === Number(draft.discount_value || 0)\n    && Number(promo.min_cart_value || 0) === Number(draft.min_cart_value || 0)\n    && String(promo.target_sku || '') === String(draft.target_sku || '')\n  );\n  const codeBase = draft.target_label\n    ? profile(draft.target_label).normalized_key.toUpperCase().replace(/[^A-Z0-9]+/g, '').slice(0, 8)\n    : (draft.promo_scope === 'order' && draft.discount_type === 'flat')\n      ? 'FLAT' + Math.round(Number(draft.discount_value || 0))\n      : 'SAVE' + Math.round(Number(draft.discount_value || 0));\n  return {\n    promo_scope: draft.promo_scope,\n    discount_type: draft.discount_type,\n    discount_value: Number(draft.discount_value || 0),\n    min_cart_value: Number(draft.min_cart_value || 0),\n    promo_code: nextPromoCode(draft.promo_code || codeBase),\n    target_sku: String(draft.target_sku || ''),\n    target_label: draft.target_label || '',\n    target_category: draft.target_category || '',\n    valid_until: draft.valid_until || '',\n    priority_value: Number(draft.priority_value || 20),\n    priority_label: draft.priority_label || 'Medium',\n    description: draft.description || (\n      draft.promo_scope === 'product'\n        ? (Number(draft.discount_value || 0) + '% off on ' + draft.target_label)\n        : draft.discount_type === 'flat'\n          ? ('Rs.' + Number(draft.discount_value || 0) + ' off on the order')\n          : Number(draft.min_cart_value || 0) > 0\n            ? (Number(draft.discount_value || 0) + '% off orders above Rs.' + Number(draft.min_cart_value || 0))\n            : (Number(draft.discount_value || 0) + '% off on the order')\n    ),\n    existing_active_code: existingMatch ? existingMatch.promo_code : '',\n  };\n}\n\nfunction resolveItem(label) {\n  const query = profile(String(label || '').replace(/^(?:on|for|an|a|the)\\s+/i, '').trim());\n  const active = inventory.filter((row) => row.is_active !== false).map((row) => ({ ...row, item_name: canonicalizeItemName(row.item_name), _profile: profile(row.item_name) }));\n  if (!query.normalized_key) return { status: 'not_found', matches: [], options: [] };\n  const exact = active.filter((row) => row._profile.normalized_key === query.normalized_key);\n  if (exact.length === 1) return { status: 'selected', row: exact[0], matches: [exact[0].item_name], options: [{ target_sku: String(exact[0].sku || ''), target_label: exact[0].item_name, target_category: exact[0].category || '' }] };\n  if (exact.length > 1) return { status: 'ambiguous', matches: distinct(exact), options: exact.slice(0, 3).map((row) => ({ target_sku: String(row.sku || ''), target_label: row.item_name, target_category: row.category || '' })) };\n  const exactBase = active.filter((row) => row._profile.base_tokens.join(' ') === query.base_tokens.join(' '));\n  if (!query.variant_tokens.length && exactBase.length === 1) return { status: 'selected', row: exactBase[0], matches: [exactBase[0].item_name], options: [{ target_sku: String(exactBase[0].sku || ''), target_label: exactBase[0].item_name, target_category: exactBase[0].category || '' }] };\n  if (!query.variant_tokens.length && exactBase.length > 1) return { status: 'ambiguous', matches: distinct(exactBase), options: exactBase.slice(0, 3).map((row) => ({ target_sku: String(row.sku || ''), target_label: row.item_name, target_category: row.category || '' })) };\n  const ranked = active.map((row) => ({ row, score: score(query, row._profile) })).filter((row) => row.score >= 0.55).sort((left, right) => right.score - left.score);\n  if (!ranked.length) return { status: 'not_found', matches: [], options: [] };\n  const topScore = ranked[0].score;\n  const topGroup = ranked.filter((row) => row.score >= topScore - 0.08);\n  const labels = distinct(topGroup.map((row) => row.row));\n  if (labels.length === 1) return { status: 'selected', row: topGroup[0].row, matches: labels, options: [{ target_sku: String(topGroup[0].row.sku || ''), target_label: topGroup[0].row.item_name, target_category: topGroup[0].row.category || '' }] };\n  return { status: 'ambiguous', matches: labels, options: topGroup.slice(0, 3).map((row) => ({ target_sku: String(row.row.sku || ''), target_label: row.row.item_name, target_category: row.row.category || '' })) };\n}\n\nfunction loadSession(sessionId) {\n  if (!sessionId) return null;\n  return sessions.find((row) => String(row.session_id || '') === String(sessionId)) || null;\n}\n\nif (!isComplete) return [{ json: { ...base, action: 'needs_onboarding' } }];\nif (sourceType === 'document' || sourceType === 'image') return [{ json: { ...base, action: 'media_not_supported' } }];\n\nif (buttonId === 'owner_catalog_discount' || buttonId === 'owner_promo_create_another') return [{ json: { ...base, action: 'start_prompt_session' } }];\nif (buttonId === 'owner_promo_show_active') return [{ json: { ...base, action: 'list' } }];\nif (buttonId === 'owner_promo_back_catalog') return [{ json: { ...base, action: 'back_catalog' } }];\nif (buttonId.startsWith('owner_promo_confirm__')) return [{ json: { ...base, action: 'confirm_session', session_id: buttonId.replace('owner_promo_confirm__', '') } }];\nif (buttonId.startsWith('owner_promo_cancel__')) return [{ json: { ...base, action: 'cancel_session', session_id: buttonId.replace('owner_promo_cancel__', '') } }];\n\nconst targetButton = buttonId.match(/^owner_promo_target__(.+?)__(.+)$/);\nif (targetButton) {\n  const session = loadSession(targetButton[1]);\n  const draft = session ? (typeof session.parsed_payload_json === 'string' ? JSON.parse(session.parsed_payload_json || '{}') : session.parsed_payload_json || {}) : null;\n  const options = session ? (typeof session.preview_rows_json === 'string' ? JSON.parse(session.preview_rows_json || '[]') : session.preview_rows_json || []) : [];\n  const chosen = options.find((row) => String(row.target_sku || '') === String(targetButton[2] || ''));\n  if (!draft || !chosen) return [{ json: { ...base, action: 'clarify', clarify_message: 'I could not find that pending discount choice. Please start the discount again.' } }];\n  const merged = { ...draft, ...chosen };\n  if (!merged.valid_until) return [{ json: { ...base, action: 'save_draft_session', session_id: targetButton[1], session_stage: 'awaiting_expiry', draft_payload: merged, choice_rows: [] } }];\n  if (!merged.priority_value) return [{ json: { ...base, action: 'save_draft_session', session_id: targetButton[1], session_stage: 'awaiting_priority', draft_payload: merged, choice_rows: [] } }];\n  return [{ json: { ...base, action: 'preview_promo', session_id: targetButton[1], preview_rows: [buildPreviewDraft(merged)] } }];\n}\n\nconst expiryButton = buttonId.match(/^owner_promo_expiry__(.+?)__(today|d7|d30)$/);\nif (expiryButton) {\n  const session = loadSession(expiryButton[1]);\n  const draft = session ? (typeof session.parsed_payload_json === 'string' ? JSON.parse(session.parsed_payload_json || '{}') : session.parsed_payload_json || {}) : null;\n  if (!draft) return [{ json: { ...base, action: 'clarify', clarify_message: 'I could not find that pending discount session. Please start again.' } }];\n  const expiryMap = { today: 'today', d7: '7 days', d30: '30 days' };\n  const validUntil = parseExpiry(expiryMap[expiryButton[2]] || '');\n  const merged = { ...draft, valid_until: validUntil };\n  if (!merged.priority_value) return [{ json: { ...base, action: 'save_draft_session', session_id: expiryButton[1], session_stage: 'awaiting_priority', draft_payload: merged, choice_rows: [] } }];\n  return [{ json: { ...base, action: 'preview_promo', session_id: expiryButton[1], preview_rows: [buildPreviewDraft(merged)] } }];\n}\n\nconst priorityButton = buttonId.match(/^owner_promo_priority__(.+?)__(high|medium|low)$/);\nif (priorityButton) {\n  const session = loadSession(priorityButton[1]);\n  const draft = session ? (typeof session.parsed_payload_json === 'string' ? JSON.parse(session.parsed_payload_json || '{}') : session.parsed_payload_json || {}) : null;\n  if (!draft) return [{ json: { ...base, action: 'clarify', clarify_message: 'I could not find that pending discount session. Please start again.' } }];\n  const priority = parsePriority(priorityButton[2]) || { label: 'Medium', value: 20 };\n  const merged = { ...draft, priority_label: priority.label, priority_value: priority.value };\n  return [{ json: { ...base, action: 'preview_promo', session_id: priorityButton[1], preview_rows: [buildPreviewDraft(merged)] } }];\n}\n\nif (/^(?:show|list|active)\\s*(?:promo|promos|promotions|offers|discounts)?$/i.test(message) || /^(?:show|list)\\s+(?:all\\s+)?(?:offers|promos|promotions|discounts)$/i.test(message)) {\n  return [{ json: { ...base, action: 'list' } }];\n}\n\nconst deactivateMatch = message.match(/^(?:remove|delete|deactivate|stop)\\s+([A-Za-z0-9_-]+)$/i);\nif (deactivateMatch) {\n  return [{ json: { ...base, action: 'deactivate', promo_code: deactivateMatch[1].toUpperCase() } }];\n}\n\nconst ai = parseAiPayload(aiText);\nconst intent = String(ai.intent || '').trim();\nlet promoType = String(ai.promo_type || '').trim();\nlet discountValue = ai.discount_value === null || ai.discount_value === undefined || ai.discount_value === '' ? null : Number(ai.discount_value);\nlet minCartValue = ai.min_cart_value === null || ai.min_cart_value === undefined || ai.min_cart_value === '' ? null : Number(ai.min_cart_value);\nlet targetText = String(ai.target_text || '').trim();\nlet expiryText = String(ai.expiry_text || '').trim();\nlet priorityText = String(ai.priority_text || '').trim();\n\nif (!promoType || promoType === 'unknown') {\n  const thresholdPctMatch = message.match(/^(\\d+(?:\\.\\d+)?)%\\s+off\\s+above\\s+(\\d+(?:\\.\\d+)?)$/i);\n  const flatMatch = message.match(/^flat\\s+(\\d+(?:\\.\\d+)?)\\s+(?:off|discount)(?:\\s+above\\s+(\\d+(?:\\.\\d+)?))?$/i);\n  const productMatch = message.match(/^(\\d+(?:\\.\\d+)?)%\\s+(?:off|of)\\s+(.+)$/i) || message.match(/^(.+?)\\s+(\\d+(?:\\.\\d+)?)%\\s+(?:off|of)$/i);\n  if (thresholdPctMatch) {\n    promoType = 'order_percentage_threshold';\n    discountValue = Number(thresholdPctMatch[1]);\n    minCartValue = Number(thresholdPctMatch[2]);\n  } else if (flatMatch) {\n    promoType = 'order_flat';\n    discountValue = Number(flatMatch[1]);\n    minCartValue = flatMatch[2] ? Number(flatMatch[2]) : 0;\n  } else if (productMatch) {\n    promoType = 'product_percentage';\n    if (message.match(/^(\\d+(?:\\.\\d+)?)%\\s+(?:off|of)\\s+(.+)$/i)) {\n      discountValue = Number(productMatch[1]);\n      targetText = String(productMatch[2] || '').trim();\n    } else {\n      targetText = String(productMatch[1] || '').trim();\n      discountValue = Number(productMatch[2]);\n    }\n  }\n}\n\nif (!intent && !promoType && !/(discount|promo|offer|flat|off|above)/i.test(message)) {\n  return [{ json: { ...base, action: 'prompt_discount' } }];\n}\n\nif ((!promoType || promoType === 'unknown') && /(discount|promo|offer|flat|off|above)/i.test(message) && /\\d/.test(message)) {\n  return [{ json: { ...base, action: 'clarify', clarify_message: 'I could not safely understand that discount yet. Try one of these formats:\\\\n- Onions 50% off\\\\n- flat 20 off\\\\n- 5% off above 300' } }];\n}\n\nif (intent === 'help') return [{ json: { ...base, action: 'prompt_discount' } }];\nif (intent === 'list_promos') return [{ json: { ...base, action: 'list' } }];\nif (intent === 'deactivate_promo' && ai.promo_code) return [{ json: { ...base, action: 'deactivate', promo_code: String(ai.promo_code).toUpperCase() } }];\n\nconst priority = parsePriority(priorityText);\nconst validUntil = parseExpiry(expiryText);\nconst draft = {\n  promo_scope: '',\n  discount_type: '',\n  discount_value: Number(discountValue || 0),\n  min_cart_value: Number(minCartValue || 0),\n  target_text: targetText,\n  target_sku: '',\n  target_label: '',\n  target_category: '',\n  valid_until: validUntil,\n  priority_label: priority ? priority.label : '',\n  priority_value: priority ? priority.value : 0,\n  promo_code: String(ai.promo_code || '').trim().toUpperCase(),\n};\n\nif (promoType === 'order_flat') {\n  draft.promo_scope = 'order';\n  draft.discount_type = 'flat';\n  draft.target_label = draft.min_cart_value > 0 ? ('orders above Rs.' + draft.min_cart_value) : 'the order';\n} else if (promoType === 'order_percentage_threshold') {\n  draft.promo_scope = 'order';\n  draft.discount_type = 'percentage';\n  draft.target_label = 'orders above Rs.' + draft.min_cart_value;\n} else if (promoType === 'order_percentage') {\n  draft.promo_scope = 'order';\n  draft.discount_type = 'percentage';\n  draft.target_label = 'the order';\n} else if (promoType === 'product_percentage') {\n  draft.promo_scope = 'product';\n  draft.discount_type = 'percentage';\n  const resolution = resolveItem(targetText);\n  if (resolution.status === 'not_found') {\n    return [{ json: { ...base, action: 'clarify', clarify_message: 'I could not find ' + targetText + '. Create the item first or use a more specific name.' } }];\n  }\n  if (resolution.status === 'ambiguous') {\n    return [{ json: { ...base, action: 'save_draft_session', session_stage: 'awaiting_target', draft_payload: draft, choice_rows: resolution.options } }];\n  }\n  draft.target_sku = String(resolution.row.sku || '');\n  draft.target_label = resolution.row.item_name;\n  draft.target_category = resolution.row.category || '';\n} else {\n  return [{ json: { ...base, action: 'prompt_discount' } }];\n}\n\nif (!draft.valid_until) return [{ json: { ...base, action: 'save_draft_session', session_stage: 'awaiting_expiry', draft_payload: draft, choice_rows: [] } }];\nif (!draft.priority_value) return [{ json: { ...base, action: 'save_draft_session', session_stage: 'awaiting_priority', draft_payload: draft, choice_rows: [] } }];\nreturn [{ json: { ...base, action: 'preview_promo', preview_rows: [buildPreviewDraft(draft)] } }];"},"id":"promo-parse","name":"Parse Promo Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,320]},{"parameters":{"mode":"expression","numberOutputs":3,"output":"={{ $json.action === 'list' ? 1 : ['start_prompt_session', 'save_draft_session', 'preview_promo', 'confirm_session', 'cancel_session', 'deactivate'].includes($json.action) ? 2 : 0 }}"},"id":"promo-switch","name":"Promo Action","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2832,304]},{"parameters":{"jsCode":"const d = $('Parse Promo Request').first().json;\nconst lang = String(d.user_language || 'en');\nconst OWNER_BUTTON_LABELS = {\n  en: { accept: '✅ Accept', reject: '❌ Reject', mark_ready: '📦 Mark Ready', mark_delivered: '🚚 Delivered', view_orders: '📋 Orders', add_item: '➕ Add Item', edit_item: '✏️ Edit', remove_item: '🗑 Remove', view_inventory: '📦 Inventory', add_promo: '🏷 Add Promo', view_promos: '🏷 Promos', language: '🌐 Language', mark_dispatched: '🚚 Mark Dispatched' },\n  hi: { accept: '✅ स्वीकार', reject: '❌ अस्वीकार', mark_ready: '📦 तैयार', mark_delivered: '🚚 डिलीवर', view_orders: '📋 ऑर्डर', add_item: '➕ जोड़ें', edit_item: '✏️ संपादित', remove_item: '🗑 हटाएं', view_inventory: '📦 इन्वेंटरी', add_promo: '🏷 प्रोमो जोड़ें', view_promos: '🏷 प्रोमो', language: '🌐 भाषा', mark_dispatched: '🚚 भेजा' },\n  te: { accept: '✅ అంగీకరించు', reject: '❌ తిరస్కరించు', mark_ready: '📦 సిద్ధం', mark_delivered: '🚚 డెలివరీ', view_orders: '📋 ఆర్డర్లు', add_item: '➕ జోడించు', edit_item: '✏️ సవరించు', remove_item: '🗑 తొలగించు', view_inventory: '📦 ఇన్వెంటరీ', add_promo: '🏷 ప్రోమో', view_promos: '🏷 ప్రోమోలు', language: '🌐 భాష', mark_dispatched: '🚚 పంపించు' },\n  ta: { accept: '✅ ஏற்கிறேன்', reject: '❌ நிராகரி', mark_ready: '📦 தயார்', mark_delivered: '🚚 டெலிவரி', view_orders: '📋 ஆர்டர்கள்', add_item: '➕ சேர்', edit_item: '✏️ திருத்து', remove_item: '🗑 நீக்கு', view_inventory: '📦 இன்வென்டரி', add_promo: '🏷 ப்ரோமோ', view_promos: '🏷 ப்ரோமோக்கள்', language: '🌐 மொழி', mark_dispatched: '🚚 அனுப்பு' },\n  bn: { accept: '✅ গ্রহণ', reject: '❌ প্রত্যাখ্যান', mark_ready: '📦 প্রস্তুত', mark_delivered: '🚚 ডেলিভারি', view_orders: '📋 অর্ডার', add_item: '➕ যোগ করুন', edit_item: '✏️ সম্পাদনা', remove_item: '🗑 মুছুন', view_inventory: '📦 ইনভেন্টরি', add_promo: '🏷 প্রমো যোগ', view_promos: '🏷 প্রমো', language: '🌐 ভাষা', mark_dispatched: '🚚 পাঠানো' },\n  gu: { accept: '✅ સ્વીકારો', reject: '❌ અસ્વીકાર', mark_ready: '📦 તૈયાર', mark_delivered: '🚚 ડિલિવરી', view_orders: '📋 ઓર્ડર', add_item: '➕ ઉમેરો', edit_item: '✏️ સંપાદિત', remove_item: '🗑 દૂર કરો', view_inventory: '📦 ઇન્વેન્ટરી', add_promo: '🏷 પ્રોમો ઉમેરો', view_promos: '🏷 પ્રોમો', language: '🌐 ભાષા', mark_dispatched: '🚚 મોકલ્યું' },\n  kn: { accept: '✅ ಒಪ್ಪಿಕೊಳ್ಳಿ', reject: '❌ ತಿರಸ್ಕರಿಸಿ', mark_ready: '📦 ಸಿದ್ಧ', mark_delivered: '🚚 ಡೆಲಿವರಿ', view_orders: '📋 ಆರ್ಡರ್', add_item: '➕ ಸೇರಿಸಿ', edit_item: '✏️ ಸಂಪಾದಿಸಿ', remove_item: '🗑 ತೆಗೆದುಹಾಕಿ', view_inventory: '📦 ಇನ್ವೆಂಟರಿ', add_promo: '🏷 ಪ್ರೊಮೊ ಸೇರಿಸಿ', view_promos: '🏷 ಪ್ರೊಮೊ', language: '🌐 ಭಾಷೆ', mark_dispatched: '🚚 ಕಳುಹಿಸಿ' },\n  ml: { accept: '✅ സ്വീകരിക്കൂ', reject: '❌ നിരസിക്കൂ', mark_ready: '📦 തയ്യാർ', mark_delivered: '🚚 ഡെലിവറി', view_orders: '📋 ഓർഡറുകൾ', add_item: '➕ ചേർക്കൂ', edit_item: '✏️ തിരുത്തൂ', remove_item: '🗑 നീക്കൂ', view_inventory: '📦 ഇൻവെന്ററി', add_promo: '🏷 പ്രോമോ', view_promos: '🏷 പ്രോമോകൾ', language: '🌐 ഭാഷ', mark_dispatched: '🚚 അയച്ചു' },\n  or: { accept: '✅ ଗ୍ରହଣ', reject: '❌ ପ୍ରତ୍ୟାଖ୍ୟାନ', mark_ready: '📦 ପ୍ରସ୍ତୁତ', mark_delivered: '🚚 ଡେଲିଭରି', view_orders: '📋 ଅର୍ଡର', add_item: '➕ ଯୋଡ଼ନ୍ତୁ', edit_item: '✏️ ସଂଶୋଧନ', remove_item: '🗑 ହଟାନ୍ତୁ', view_inventory: '📦 ଇନ୍ଭେଣ୍ଟ୍ରି', add_promo: '🏷 ପ୍ରୋମୋ', view_promos: '🏷 ପ୍ରୋମୋ', language: '🌐 ଭାଷା', mark_dispatched: '🚚 ପଠାନ୍ତୁ' },\n  pa: { accept: '✅ ਮਨਜ਼ੂਰ', reject: '❌ ਰੱਦ', mark_ready: '📦 ਤਿਆਰ', mark_delivered: '🚚 ਡਿਲੀਵਰੀ', view_orders: '📋 ਆਰਡਰ', add_item: '➕ ਜੋੜੋ', edit_item: '✏️ ਸੰਪਾਦਿਤ', remove_item: '🗑 ਹਟਾਓ', view_inventory: '📦 ਇਨਵੈਂਟਰੀ', add_promo: '🏷 ਪ੍ਰੋਮੋ ਜੋੜੋ', view_promos: '🏷 ਪ੍ਰੋਮੋ', language: '🌐 ਭਾਸ਼ਾ', mark_dispatched: '🚚 ਭੇਜਿਆ' },\n};\nconst lbl = (lang, key) => (OWNER_BUTTON_LABELS[lang] || OWNER_BUTTON_LABELS['en'])[key] || OWNER_BUTTON_LABELS['en'][key];\n\nconst makeText = (body) => ({ chat_id: d.chat_id, message_type: 'text', body_text: body, test_mode: d.test_mode === true });\nconst makeButtons = (body, buttons) => ({ chat_id: d.chat_id, message_type: 'button', body_text: body, buttons, test_mode: d.test_mode === true });\n\nif (d.action === 'needs_onboarding') return [{ json: makeText('Finish store setup first. Send setup to continue onboarding.') }];\nif (d.action === 'media_not_supported') return [{ json: makeText('Discount changes currently support text only. Try \"50% off Eggs 10\" or \"flat 20 off\".') }];\nif (d.action === 'clarify') return [{ json: makeText(String(d.clarify_message || 'I need a more specific item name before I create that discount.')) }];\nif (d.action === 'back_catalog') {\n  return [{ json: makeButtons(\n    'Owner catalog actions:\\n\\n- Add items manually\\n- Upload stock sheet\\n- Update price or stock\\n- Create discount',\n    [\n      { id: 'owner_catalog_manual', title: 'Add items manually' },\n      { id: 'owner_catalog_import', title: 'Upload stock sheet' },\n      { id: 'owner_catalog_discount', title: 'Create discount' },\n    ],\n  ) }];\n}\nreturn [{ json: makeText('Create discounts with messages like:\\n- 50% off Eggs 10\\n- Onions 50% off\\n- flat 20 off\\n- 5% off above 300\\n\\nI will ask for expiry and priority before saving the promotion.') }];"},"id":"promo-direct","name":"Format Direct Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3504,128]},{"parameters":{"jsCode":"const schema = $('Inspect Promo Schema').first().json || {};\nconst invSchema = $('Inspect Inventory Schema').first().json || {};\nconst store = $('Resolve Store Context').first().json || {};\nconst hasStoreId = schema.has_store_id === true || schema.has_store_id === 'true' || schema.has_store_id === 't' || schema.has_store_id === 1 || schema.has_store_id === '1';\nconst hasIsActive = schema.has_is_active === true || schema.has_is_active === 'true' || schema.has_is_active === 't' || schema.has_is_active === 1 || schema.has_is_active === '1';\nconst hasPriority = schema.has_priority === true || schema.has_priority === 'true' || schema.has_priority === 't' || schema.has_priority === 1 || schema.has_priority === '1';\nconst hasDescription = schema.has_description === true || schema.has_description === 'true' || schema.has_description === 't' || schema.has_description === 1 || schema.has_description === '1';\nconst hasDiscountType = schema.has_discount_type === true || schema.has_discount_type === 'true' || schema.has_discount_type === 't' || schema.has_discount_type === 1 || schema.has_discount_type === '1';\nconst hasDiscountValue = schema.has_discount_value === true || schema.has_discount_value === 'true' || schema.has_discount_value === 't' || schema.has_discount_value === 1 || schema.has_discount_value === '1';\nconst hasMinCartValue = schema.has_min_cart_value === true || schema.has_min_cart_value === 'true' || schema.has_min_cart_value === 't' || schema.has_min_cart_value === 1 || schema.has_min_cart_value === '1';\nconst hasPromoScope = schema.has_promo_scope === true || schema.has_promo_scope === 'true' || schema.has_promo_scope === 't' || schema.has_promo_scope === 1 || schema.has_promo_scope === '1';\nconst hasTargetSku = schema.has_target_sku === true || schema.has_target_sku === 'true' || schema.has_target_sku === 't' || schema.has_target_sku === 1 || schema.has_target_sku === '1';\nconst hasTargetCategory = schema.has_target_category === true || schema.has_target_category === 'true' || schema.has_target_category === 't' || schema.has_target_category === 1 || schema.has_target_category === '1';\nconst hasValidFrom = schema.has_valid_from === true || schema.has_valid_from === 'true' || schema.has_valid_from === 't' || schema.has_valid_from === 1 || schema.has_valid_from === '1';\nconst hasValidUntil = schema.has_valid_until === true || schema.has_valid_until === 'true' || schema.has_valid_until === 't' || schema.has_valid_until === 1 || schema.has_valid_until === '1';\nconst hasPromoGroupCode = schema.has_promo_group_code === true || schema.has_promo_group_code === 'true' || schema.has_promo_group_code === 't' || schema.has_promo_group_code === 1 || schema.has_promo_group_code === '1';\nconst invHasSku = invSchema.has_sku === true || invSchema.has_sku === 'true' || invSchema.has_sku === 't' || invSchema.has_sku === 1 || invSchema.has_sku === '1';\n\nconst groupExpr = hasPromoGroupCode ? \"COALESCE(NULLIF(p.promo_group_code, ''), p.promo_code)\" : 'p.promo_code';\nconst selectCols = [\n  groupExpr + ' AS promo_group_code',\n  'MIN(p.promo_code) AS promo_code',\n  hasPromoScope ? 'MIN(p.promo_scope) AS promo_scope' : \"'' AS promo_scope\",\n  hasDiscountType ? 'MIN(p.discount_type) AS discount_type' : \"'' AS discount_type\",\n  hasDiscountValue ? 'MIN(p.discount_value) AS discount_value' : '0 AS discount_value',\n  hasMinCartValue ? 'MIN(p.min_cart_value) AS min_cart_value' : '0 AS min_cart_value',\n  hasDescription ? 'MIN(COALESCE(p.description, \\'\\')) AS description' : \"'' AS description\",\n  hasTargetCategory ? 'MIN(COALESCE(p.target_category, \\'\\')) AS target_category' : \"'' AS target_category\",\n  'COUNT(*)::int AS target_count',\n];\nlet fromClause = 'public.promotions p';\nif (hasTargetSku) {\n  if (invHasSku) {\n    fromClause += ' LEFT JOIN public.inventory i ON p.target_sku = i.sku';\n    selectCols.push(\"STRING_AGG(DISTINCT COALESCE(i.item_name, p.target_sku), ' | ') FILTER (WHERE COALESCE(p.target_sku, '') <> '') AS target_labels\");\n  } else {\n    selectCols.push(\"STRING_AGG(DISTINCT p.target_sku, ' | ') FILTER (WHERE COALESCE(p.target_sku, '') <> '') AS target_labels\");\n  }\n} else {\n  selectCols.push(\"'' AS target_labels\");\n}\nconst filters = [];\nif (hasStoreId) filters.push('p.store_id = ' + Number(store.store_id || 0));\nif (hasIsActive) filters.push('COALESCE(p.is_active, true) = true');\nif (hasValidFrom) filters.push('(p.valid_from IS NULL OR NOW() >= p.valid_from)');\nif (hasValidUntil) filters.push('(p.valid_until IS NULL OR NOW() <= p.valid_until)');\nconst whereClause = filters.length ? 'WHERE ' + filters.join(' AND ') : '';\nconst orderClause = hasPriority ? 'ORDER BY MAX(COALESCE(p.priority, 0)) DESC, ' + groupExpr + ' ASC' : 'ORDER BY ' + groupExpr + ' ASC';\nreturn [{ json: { sql: 'SELECT ' + selectCols.join(', ') + ' FROM ' + fromClause + ' ' + whereClause + ' GROUP BY ' + groupExpr + ' ' + orderClause + ' LIMIT 20;' } }];"},"id":"promo-build-list","name":"Build List SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,320]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"id":"promo-run-list","name":"Run List Query","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3280,320],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $('Parse Promo Request').first().json;\nconst rows = $input.all().map((item) => item.json).filter((row) => row && (row.promo_code || row.promo_group_code));\nlet bodyText = '';\nif (!rows.length) {\n  bodyText = 'No active promotions right now.';\n} else {\n  const lines = [];\n  for (const row of rows) {\n    const value = Number(row.discount_value || 0);\n    const discountLabel = row.discount_type === 'percentage' ? value + '% off' : 'Rs.' + value + ' off';\n    const targetCount = Number(row.target_count || 0);\n    const labels = String(row.target_labels || '').split(' | ').filter(Boolean);\n    let scopeLabel = 'on the order';\n    if (row.promo_scope === 'product') {\n      if (targetCount > 1) {\n        const preview = labels.slice(0, 3).join(', ');\n        scopeLabel = 'on ' + targetCount + ' items' + (preview ? ' (' + preview + (labels.length > 3 ? ', ...' : '') + ')' : '');\n      } else {\n        scopeLabel = 'on ' + (labels[0] || 'one item');\n      }\n    } else if (Number(row.min_cart_value || 0) > 0) {\n      scopeLabel = 'on orders above Rs.' + Number(row.min_cart_value || 0);\n    } else if (row.promo_scope === 'category') {\n      scopeLabel = 'on ' + (row.target_category || 'that category');\n    }\n    lines.push('- ' + (row.promo_group_code || row.promo_code) + ': ' + discountLabel + ' ' + scopeLabel);\n  }\n  bodyText = 'Active promotions:\\n' + lines.join('\\n');\n}\nreturn [{ json: { chat_id: d.chat_id, message_type: 'text', body_text: bodyText, test_mode: d.test_mode === true } }];"},"id":"promo-format-list","name":"Format List Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3504,320]},{"parameters":{"jsCode":"const d = $('Parse Promo Request').first().json;\nconst schema = $('Inspect Promo Schema').first().json || {};\nconst esc = (value) => String(value === undefined || value === null ? '' : value).replace(/'/g, \"''\");\nconst b = (value) => value === true || value === 'true' || value === 't' || value === 1 || value === '1';\nconst hasStoreId = b(schema.has_store_id);\nconst hasIsActive = b(schema.has_is_active);\nconst hasUpdatedAt = b(schema.has_updated_at);\nconst hasCreatedAt = b(schema.has_created_at);\nconst hasPriority = b(schema.has_priority);\nconst hasDescription = b(schema.has_description);\nconst hasDiscountType = b(schema.has_discount_type);\nconst hasDiscountValue = b(schema.has_discount_value);\nconst hasMinCartValue = b(schema.has_min_cart_value);\nconst hasPromoScope = b(schema.has_promo_scope);\nconst hasTargetSku = b(schema.has_target_sku);\nconst hasTargetCategory = b(schema.has_target_category);\nconst hasValidUntil = b(schema.has_valid_until);\nconst storeId = Number(d.store_id || 0);\nconst resolvedStoreIdSql = hasStoreId\n  ? (storeId > 0\n      ? String(storeId)\n      : \"(SELECT store_id FROM public.stores WHERE owner_whatsapp_number = '\" + esc(d.chat_id) + \"' ORDER BY COALESCE(onboarding_step, 0) DESC, COALESCE(store_id, 0) DESC, created_at DESC NULLS LAST LIMIT 1)\")\n  : 'NULL';\n\nconst tableSql = [\n  'CREATE TABLE IF NOT EXISTS public.owner_operation_sessions (',\n  '  session_id TEXT PRIMARY KEY,',\n  '  store_id BIGINT,',\n  '  chat_id TEXT NOT NULL,',\n  '  operation_type TEXT NOT NULL,',\n  '  source_type TEXT NOT NULL,',\n  \"  parsed_payload_json JSONB DEFAULT '{}'::jsonb,\",\n  \"  cleanup_summary_json JSONB DEFAULT '{}'::jsonb,\",\n  \"  preview_rows_json JSONB DEFAULT '[]'::jsonb,\",\n  '  status TEXT NOT NULL,',\n  '  created_at TIMESTAMPTZ DEFAULT NOW(),',\n  '  updated_at TIMESTAMPTZ DEFAULT NOW()',\n  ');',\n].join('\\n');\n\nfunction jsonLiteral(value) {\n  return \"'\" + esc(JSON.stringify(value)) + \"'::jsonb\";\n}\n\nconst activeSessionWhere = \"chat_id = '\" + esc(d.chat_id) + \"' AND status NOT IN ('cancelled', 'applied', 'completed', 'completed_with_issues', 'failed')\";\n\nif (d.action === 'start_prompt_session') {\n  const sessionId = 'promo_' + Date.now() + '_' + Math.random().toString(36).slice(2, 8);\n  const summary = { stage: 'awaiting_details' };\n  const sql = [\n    tableSql,\n    \"UPDATE public.owner_operation_sessions SET status = 'cancelled', updated_at = NOW() WHERE \" + activeSessionWhere + \";\",\n    'WITH upserted AS (',\n    '  INSERT INTO public.owner_operation_sessions (session_id, store_id, chat_id, operation_type, source_type, parsed_payload_json, cleanup_summary_json, preview_rows_json, status, created_at, updated_at)',\n    \"  VALUES ('\" + esc(sessionId) + \"', \" + resolvedStoreIdSql + \", '\" + esc(d.chat_id) + \"', 'promo_draft', '\" + esc(d.source_type || 'text') + \"', '{}'::jsonb, \" + jsonLiteral(summary) + \", '[]'::jsonb, 'awaiting_details', NOW(), NOW())\",\n    '  RETURNING session_id',\n    ')',\n    \"SELECT 'prompt_ready' AS result, session_id, \" + jsonLiteral(summary) + \" AS summary, '[]'::jsonb AS preview_rows, NULL::json AS promo, '[]'::json AS matches FROM upserted;\",\n  ].join('\\n');\n  return [{ json: { ...d, sql } }];\n}\n\nif (d.action === 'save_draft_session') {\n  const sessionId = d.session_id || ('promo_' + Date.now() + '_' + Math.random().toString(36).slice(2, 8));\n  const stage = d.session_stage || 'awaiting_expiry';\n  const sql = [\n    tableSql,\n    \"UPDATE public.owner_operation_sessions SET status = 'cancelled', updated_at = NOW() WHERE \" + activeSessionWhere + \" AND session_id <> '\" + esc(sessionId) + \"';\",\n    'WITH upserted AS (',\n    '  INSERT INTO public.owner_operation_sessions (session_id, store_id, chat_id, operation_type, source_type, parsed_payload_json, cleanup_summary_json, preview_rows_json, status, created_at, updated_at)',\n    \"  VALUES ('\" + esc(sessionId) + \"', \" + resolvedStoreIdSql + \", '\" + esc(d.chat_id) + \"', 'promo_draft', '\" + esc(d.source_type || 'text') + \"', \" + jsonLiteral(d.draft_payload || {}) + \", \" + jsonLiteral({ stage }) + \", \" + jsonLiteral(d.choice_rows || []) + \", '\" + esc(stage) + \"', NOW(), NOW())\",\n    '  ON CONFLICT (session_id) DO UPDATE SET',\n    \"    parsed_payload_json = EXCLUDED.parsed_payload_json, cleanup_summary_json = EXCLUDED.cleanup_summary_json, preview_rows_json = EXCLUDED.preview_rows_json, status = EXCLUDED.status, updated_at = NOW()\",\n    '  RETURNING session_id, status, cleanup_summary_json AS summary, preview_rows_json AS preview_rows',\n    ')',\n    \"SELECT status AS result, session_id, summary, preview_rows, NULL::json AS promo, '[]'::json AS matches FROM upserted;\",\n  ].join('\\n');\n  return [{ json: { ...d, sql } }];\n}\n\nif (d.action === 'preview_promo') {\n  const previewRow = (d.preview_rows || [])[0] || {};\n  const sessionId = d.session_id || ('promo_' + Date.now() + '_' + Math.random().toString(36).slice(2, 8));\n  const summary = { existing_active_code: previewRow.existing_active_code || '' };\n  const sql = [\n    tableSql,\n    \"UPDATE public.owner_operation_sessions SET status = 'cancelled', updated_at = NOW() WHERE \" + activeSessionWhere + \" AND session_id <> '\" + esc(sessionId) + \"';\",\n    'WITH upserted AS (',\n    '  INSERT INTO public.owner_operation_sessions (session_id, store_id, chat_id, operation_type, source_type, parsed_payload_json, cleanup_summary_json, preview_rows_json, status, created_at, updated_at)',\n    \"  VALUES ('\" + esc(sessionId) + \"', \" + resolvedStoreIdSql + \", '\" + esc(d.chat_id) + \"', 'promo_preview', '\" + esc(d.source_type || 'text') + \"', \" + jsonLiteral(previewRow) + \", \" + jsonLiteral(summary) + \", \" + jsonLiteral(d.preview_rows || []) + \", 'pending_preview', NOW(), NOW())\",\n    '  ON CONFLICT (session_id) DO UPDATE SET',\n    \"    parsed_payload_json = EXCLUDED.parsed_payload_json, cleanup_summary_json = EXCLUDED.cleanup_summary_json, preview_rows_json = EXCLUDED.preview_rows_json, status = EXCLUDED.status, updated_at = NOW()\",\n    '  RETURNING session_id, cleanup_summary_json AS summary, preview_rows_json AS preview_rows',\n    ')',\n    \"SELECT 'preview_created' AS result, session_id, summary, preview_rows, NULL::json AS promo, '[]'::json AS matches FROM upserted;\",\n  ].join('\\n');\n  return [{ json: { ...d, sql } }];\n}\n\nif (d.action === 'cancel_session') {\n  const sql = [\n    tableSql,\n    \"WITH updated AS (UPDATE public.owner_operation_sessions SET status = 'cancelled', updated_at = NOW() WHERE \" + activeSessionWhere + \" RETURNING session_id)\",\n    \"SELECT CASE WHEN EXISTS (SELECT 1 FROM updated) THEN 'cancelled' ELSE 'session_missing' END AS result, '{}'::jsonb AS summary, '[]'::jsonb AS preview_rows, NULL::json AS promo, '[]'::json AS matches;\",\n  ].join('\\n');\n  return [{ json: { ...d, sql } }];\n}\n\nif (d.action === 'confirm_session') {\n  if (!hasDiscountType || !hasDiscountValue) {\n    return [{ json: { ...d, sql: \"SELECT 'schema_missing_core' AS result, '{}'::jsonb AS summary, '[]'::jsonb AS preview_rows, NULL::json AS promo, '[]'::json AS matches;\" } }];\n  }\n  if (!hasTargetSku && String(d.promo_scope || '') === 'product') {\n    return [{ json: { ...d, sql: \"SELECT 'schema_missing_target_sku' AS result, '{}'::jsonb AS summary, '[]'::jsonb AS preview_rows, NULL::json AS promo, '[]'::json AS matches;\" } }];\n  }\n  const insertColumns = ['promo_code', 'discount_type', 'discount_value'];\n  const selectCols = ['r.promo_code', 'r.discount_type', 'r.discount_value'];\n  const updateParts = ['discount_type = EXCLUDED.discount_type', 'discount_value = EXCLUDED.discount_value'];\n  if (hasPromoScope) { insertColumns.push('promo_scope'); selectCols.push('r.promo_scope'); updateParts.push('promo_scope = EXCLUDED.promo_scope'); }\n  if (hasMinCartValue) { insertColumns.push('min_cart_value'); selectCols.push('COALESCE(r.min_cart_value, 0)'); updateParts.push('min_cart_value = EXCLUDED.min_cart_value'); }\n  if (hasDescription) { insertColumns.push('description'); selectCols.push('r.description'); updateParts.push('description = EXCLUDED.description'); }\n  if (hasStoreId) { insertColumns.push('store_id'); selectCols.push(resolvedStoreIdSql); updateParts.push('store_id = EXCLUDED.store_id'); }\n  if (hasTargetSku) { insertColumns.push('target_sku'); selectCols.push(\"NULLIF(r.target_sku, '')\"); updateParts.push('target_sku = EXCLUDED.target_sku'); }\n  if (hasTargetCategory) { insertColumns.push('target_category'); selectCols.push(\"NULLIF(r.target_category, '')\"); updateParts.push('target_category = EXCLUDED.target_category'); }\n  if (hasPriority) { insertColumns.push('priority'); selectCols.push('COALESCE(r.priority_value, 20)'); updateParts.push('priority = EXCLUDED.priority'); }\n  if (hasValidUntil) { insertColumns.push('valid_until'); selectCols.push(\"CASE WHEN NULLIF(r.valid_until, '') IS NULL THEN NULL ELSE NULLIF(r.valid_until, '')::timestamptz END\"); updateParts.push('valid_until = EXCLUDED.valid_until'); }\n  if (hasIsActive) { insertColumns.push('is_active'); selectCols.push('true'); updateParts.push('is_active = true'); }\n  if (hasCreatedAt) { insertColumns.push('created_at'); selectCols.push('NOW()'); }\n  if (hasUpdatedAt) { insertColumns.push('updated_at'); selectCols.push('NOW()'); updateParts.push('updated_at = NOW()'); }\n  const sql = [\n    tableSql,\n    'WITH session_row AS (',\n    \"  SELECT * FROM public.owner_operation_sessions WHERE session_id = '\" + esc(d.session_id) + \"' AND chat_id = '\" + esc(d.chat_id) + \"' LIMIT 1\",\n    '), session_status AS (SELECT COALESCE((SELECT status FROM session_row), \\'missing\\') AS status), safe_rows AS (',\n    \"  SELECT * FROM jsonb_to_recordset(COALESCE((SELECT preview_rows_json FROM session_row), '[]'::jsonb)) AS r(promo_code text, promo_scope text, discount_type text, discount_value numeric, min_cart_value numeric, target_sku text, target_label text, target_category text, description text, valid_until text, priority_value numeric, priority_label text)\",\n    '), upserted AS (',\n    '  INSERT INTO public.promotions (' + insertColumns.join(', ') + ')',\n    '  SELECT ' + selectCols.join(', '),\n    '  FROM safe_rows r, session_status st',\n    \"  WHERE st.status = 'pending_preview'\",\n    '  ON CONFLICT (promo_code) DO UPDATE SET ' + updateParts.join(', '),\n    '  RETURNING promo_code',\n    '), session_done AS (',\n    \"  UPDATE public.owner_operation_sessions SET status = CASE WHEN (SELECT status FROM session_status) = 'pending_preview' THEN 'applied' ELSE status END, updated_at = NOW() WHERE session_id = '\" + esc(d.session_id) + \"' RETURNING status\",\n    ')',\n    \"SELECT CASE WHEN (SELECT status FROM session_status) = 'pending_preview' THEN 'applied' WHEN (SELECT status FROM session_status) = 'applied' THEN 'already_applied' WHEN (SELECT status FROM session_status) = 'cancelled' THEN 'cancelled' ELSE 'session_missing' END AS result, json_build_object('promo_count', (SELECT COUNT(*) FROM upserted)) AS summary, (SELECT row_to_json(u) FROM upserted u LIMIT 1) AS promo, '[]'::jsonb AS preview_rows, '[]'::json AS matches;\",\n  ].join('\\n');\n  return [{ json: { ...d, sql } }];\n}\n\nif (d.action === 'deactivate') {\n  const setParts = [];\n  if (hasIsActive) setParts.push('is_active = false');\n  if (hasUpdatedAt) setParts.push('updated_at = NOW()');\n  const sql = setParts.length\n    ? \"WITH updated AS (UPDATE public.promotions SET \" + setParts.join(', ') + \" WHERE promo_code = '\" + esc(d.promo_code) + \"'\" + (hasStoreId ? \" AND store_id = \" + resolvedStoreIdSql : \"\") + \" RETURNING promo_code) SELECT CASE WHEN EXISTS (SELECT 1 FROM updated) THEN 'deactivated' ELSE 'not_found' END AS result, '{}'::jsonb AS summary, '[]'::jsonb AS preview_rows, (SELECT row_to_json(u) FROM updated u LIMIT 1) AS promo, '[]'::json AS matches;\"\n    : \"SELECT 'schema_missing_core' AS result, '{}'::jsonb AS summary, '[]'::jsonb AS preview_rows, NULL::json AS promo, '[]'::json AS matches;\";\n  return [{ json: { ...d, sql } }];\n}\n\nreturn [{ json: { ...d, sql: \"SELECT 'session_missing' AS result, '{}'::jsonb AS summary, '[]'::jsonb AS preview_rows, NULL::json AS promo, '[]'::json AS matches;\" } }];"},"id":"promo-build-mutation","name":"Build Mutation SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,512]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"id":"promo-run-mutation","name":"Run Mutation SQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3280,512],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $('Parse Promo Request').first().json;\nconst row = $input.first().json || {};\nconst parseMaybeJson = (value, fallback) => {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (Array.isArray(value) || typeof value === 'object') return value;\n  try { return JSON.parse(value); } catch { return fallback; }\n};\nconst summary = parseMaybeJson(row.summary, {});\nconst previewRows = parseMaybeJson(row.preview_rows, d.preview_rows || []);\nconst promo = parseMaybeJson(row.promo, null);\nconst makeText = (body) => ({ chat_id: d.chat_id, message_type: 'text', body_text: body, test_mode: d.test_mode === true });\nconst makeButtons = (body, buttons) => ({ chat_id: d.chat_id, message_type: 'button', body_text: body, buttons, test_mode: d.test_mode === true });\n\nif (row.result === 'schema_missing_core') return [{ json: makeText('Promotion storage is missing required columns.') }];\nif (row.result === 'schema_missing_target_sku') return [{ json: makeText('This database is missing target_sku, so item-specific promos cannot be created safely yet.') }];\n\nif (row.result === 'awaiting_target') {\n  const sessionId = String(row.session_id || '');\n  const options = previewRows.slice(0, 3);\n  const lines = options.map((item) => '- ' + item.target_label).join('\\n');\n  return [{ json: makeButtons(\n    'I found multiple catalog items for this discount.\\n' + lines + '\\n\\nChoose the exact item before I continue.',\n    options.map((item) => ({ id: 'owner_promo_target__' + sessionId + '__' + item.target_sku, title: item.target_label.slice(0, 20) })),\n  ) }];\n}\n\nif (row.result === 'awaiting_expiry') {\n  const sessionId = String(row.session_id || '');\n  return [{ json: makeButtons(\n    'Choose an expiry for this discount.',\n    [\n      { id: 'owner_promo_expiry__' + sessionId + '__today', title: 'Today' },\n      { id: 'owner_promo_expiry__' + sessionId + '__d7', title: '7 days' },\n      { id: 'owner_promo_expiry__' + sessionId + '__d30', title: '30 days' },\n    ],\n  ) }];\n}\n\nif (row.result === 'awaiting_priority') {\n  const sessionId = String(row.session_id || '');\n  return [{ json: makeButtons(\n    'Choose a priority for this discount.',\n    [\n      { id: 'owner_promo_priority__' + sessionId + '__high', title: 'High' },\n      { id: 'owner_promo_priority__' + sessionId + '__medium', title: 'Medium' },\n      { id: 'owner_promo_priority__' + sessionId + '__low', title: 'Low' },\n    ],\n  ) }];\n}\n\nif (row.result === 'preview_created') {\n  const sessionId = String(row.session_id || '');\n  const preview = previewRows[0] || {};\n  const discountLabel = preview.discount_type === 'percentage'\n    ? Number(preview.discount_value || 0) + '% off'\n    : 'Rs.' + Number(preview.discount_value || 0) + ' off';\n  const scopeLabel = preview.promo_scope === 'product'\n    ? 'on ' + preview.target_label\n    : Number(preview.min_cart_value || 0) > 0\n      ? 'on orders above Rs.' + Number(preview.min_cart_value || 0)\n      : 'on the order';\n  const extra = summary.existing_active_code ? '\\nExisting active promo: ' + summary.existing_active_code : '';\n  const expiry = preview.valid_until ? new Date(preview.valid_until).toLocaleDateString('en-IN') : 'not set';\n  const priority = preview.priority_label || 'Medium';\n  return [{ json: makeButtons(\n    'Discount preview:\\n\\nCode: ' + preview.promo_code + '\\nOffer: ' + discountLabel + ' ' + scopeLabel + '\\nExpiry: ' + expiry + '\\nPriority: ' + priority + extra + '\\n\\nConfirm to publish this discount.',\n    [\n      { id: 'owner_promo_confirm__' + sessionId, title: 'Confirm discount' },\n      { id: 'owner_promo_cancel__' + sessionId, title: 'Cancel' },\n    ],\n  ) }];\n}\n\nif (row.result === 'prompt_ready') {\n  return [{ json: makeButtons(\n    'Create discounts with messages like:\\n- 50% off Eggs 10\\n- Onions 50% off\\n- flat 20 off\\n- 5% off above 300\\n\\nI will stay in discount mode until you finish or cancel.',\n    [\n      { id: 'owner_catalog_import', title: 'Upload stock sheet' },\n      { id: 'owner_catalog_update', title: 'Update stock/price' },\n      { id: 'owner_catalog_home', title: 'Menu' },\n    ],\n  ) }];\n}\n\nif (row.result === 'applied') {\n  return [{ json: makeButtons(\n    'Discount saved. Promo ' + ((promo && promo.promo_code) || 'code') + ' is now active.',\n    [\n      { id: 'owner_promo_create_another', title: 'Create another' },\n      { id: 'owner_promo_show_active', title: 'Show active' },\n      { id: 'owner_promo_back_catalog', title: 'Back to catalog' },\n    ],\n  ) }];\n}\n\nif (row.result === 'already_applied') {\n  return [{ json: makeButtons(\n    'That discount preview was already applied earlier.',\n    [\n      { id: 'owner_promo_create_another', title: 'Create another' },\n      { id: 'owner_promo_show_active', title: 'Show active' },\n      { id: 'owner_promo_back_catalog', title: 'Back to catalog' },\n    ],\n  ) }];\n}\nif (row.result === 'cancelled') {\n  return [{ json: makeButtons(\n    'Cancelled. No promotion changes were applied.',\n    [\n      { id: 'owner_promo_create_another', title: 'Create another' },\n      { id: 'owner_promo_show_active', title: 'Show active' },\n      { id: 'owner_promo_back_catalog', title: 'Back to catalog' },\n    ],\n  ) }];\n}\nif (row.result === 'deactivated') return [{ json: makeText('Promo ' + ((promo && promo.promo_code) || d.promo_code) + ' deactivated.') }];\nif (row.result === 'not_found' || row.result === 'session_missing') {\n  return [{ json: makeButtons(\n    'I could not find that pending discount action. Please start the discount again.',\n    [\n      { id: 'owner_promo_create_another', title: 'Create another' },\n      { id: 'owner_promo_show_active', title: 'Show active' },\n      { id: 'owner_promo_back_catalog', title: 'Back to catalog' },\n    ],\n  ) }];\n}\nreturn [{ json: makeText('I could not save that discount safely. Please try again with a clearer message.') }];"},"id":"promo-format-mutation","name":"Format Mutation Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3504,512]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.chat_id }}","message_type":"={{ $json.message_type || 'text' }}","body_text":"={{ $json.body_text || \"\" }}","buttons":"={{ $json.buttons || [] }}","list_sections":"={{ $json.list_sections || [] }}"},"matchingColumns":[],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"message_type","displayName":"message_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"body_text","displayName":"body_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"buttons","displayName":"buttons","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"list_sections","displayName":"list_sections","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"waitForSubWorkflow":true}},"id":"promo-send","name":"Send Promo Response","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3728,320]},{"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Inspect Inventory Schema').first().json || {}; const store = $('Resolve Store Context').first().json || {}; const b = (value) => value === true || value === 'true' || value === 't' || value === 1 || value === '1'; const hasStoreId = b(s.has_store_id); const hasSku = b(s.has_sku); const hasCategory = b(s.has_category); const hasIsActive = b(s.has_is_active); const cols = [\"item_name\", hasSku ? \"COALESCE(sku, '') AS sku\" : \"'' AS sku\", hasCategory ? \"COALESCE(category, '') AS category\" : \"'' AS category\", hasIsActive ? \"COALESCE(is_active, true) AS is_active\" : \"true AS is_active\"]; const where = hasStoreId ? (Number(store.store_id || 0) > 0 ? \"store_id = \" + Number(store.store_id || 0) : '1=0') : '1=1'; return \"SELECT \" + cols.join(', ') + \" FROM public.inventory WHERE \" + where + \" ORDER BY item_name ASC LIMIT 500;\"; })() }}","options":{}},"id":"promo-load-items","name":"Load Inventory Snapshot","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1120,280],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Inspect Promo Schema').first().json || {}; const store = $('Resolve Store Context').first().json || {}; const b = (value) => value === true || value === 'true' || value === 't' || value === 1 || value === '1'; const hasStoreId = b(s.has_store_id); const hasIsActive = b(s.has_is_active); const hasPromoScope = b(s.has_promo_scope); const hasDiscountType = b(s.has_discount_type); const hasDiscountValue = b(s.has_discount_value); const hasMinCartValue = b(s.has_min_cart_value); const hasTargetSku = b(s.has_target_sku); const hasTargetCategory = b(s.has_target_category); const hasDescription = b(s.has_description); const hasPromoGroupCode = b(s.has_promo_group_code); const cols = [\"promo_code\", hasPromoGroupCode ? \"COALESCE(promo_group_code, '') AS promo_group_code\" : \"'' AS promo_group_code\", hasPromoScope ? \"COALESCE(promo_scope, '') AS promo_scope\" : \"'' AS promo_scope\", hasDiscountType ? \"COALESCE(discount_type, '') AS discount_type\" : \"'' AS discount_type\", hasDiscountValue ? \"COALESCE(discount_value, 0) AS discount_value\" : \"0 AS discount_value\", hasMinCartValue ? \"COALESCE(min_cart_value, 0) AS min_cart_value\" : \"0 AS min_cart_value\", hasTargetSku ? \"COALESCE(target_sku, '') AS target_sku\" : \"'' AS target_sku\", hasTargetCategory ? \"COALESCE(target_category, '') AS target_category\" : \"'' AS target_category\", hasDescription ? \"COALESCE(description, '') AS description\" : \"'' AS description\", hasIsActive ? \"COALESCE(is_active, true) AS is_active\" : \"true AS is_active\"]; const where = hasStoreId ? (Number(store.store_id || 0) > 0 ? \"store_id = \" + Number(store.store_id || 0) : '1=0') : '1=1'; return \"SELECT \" + cols.join(', ') + \" FROM public.promotions WHERE \" + where + \" ORDER BY promo_code ASC LIMIT 500;\"; })() }}","options":{}},"id":"promo-load-promos","name":"Load Promo Snapshot","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1340,280],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT session_id, operation_type, status, parsed_payload_json, preview_rows_json, cleanup_summary_json\nFROM public.owner_operation_sessions\nWHERE chat_id = '{{ $('Normalize Input').first().json.chat_id }}'\n  AND operation_type IN ('promo_draft', 'promo_preview')\nORDER BY updated_at DESC\nLIMIT 10;","options":{}},"id":"promo-load-session","name":"Load Promo Session State","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1560,280],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const raw = $('Normalize Input').first().json;\nconst message = String(raw.message || '').trim();\nconst prompt = [\n  'Return only raw JSON. No markdown. No explanation.',\n  'You are extracting a kirana store owner promotion instruction.',\n  'Allowed intents: create_promo, list_promos, deactivate_promo, help.',\n  'Allowed promo_type: product_percentage, order_percentage_threshold, order_percentage, order_flat, unknown.',\n  'Return keys: intent, promo_type, target_text, discount_value, min_cart_value, expiry_text, priority_text, promo_code, confidence.',\n  'Use empty string for unknown text fields and null for unknown numeric fields.',\n  'Examples:',\n  '{\"intent\":\"create_promo\",\"promo_type\":\"product_percentage\",\"target_text\":\"Eggs 10\",\"discount_value\":50,\"min_cart_value\":null,\"expiry_text\":\"\",\"priority_text\":\"\",\"promo_code\":\"\",\"confidence\":0.95}',\n  '{\"intent\":\"create_promo\",\"promo_type\":\"order_flat\",\"target_text\":\"\",\"discount_value\":20,\"min_cart_value\":null,\"expiry_text\":\"\",\"priority_text\":\"\",\"promo_code\":\"\",\"confidence\":0.94}',\n  '{\"intent\":\"create_promo\",\"promo_type\":\"order_percentage_threshold\",\"target_text\":\"\",\"discount_value\":5,\"min_cart_value\":300,\"expiry_text\":\"\",\"priority_text\":\"\",\"promo_code\":\"\",\"confidence\":0.96}',\n  '{\"intent\":\"list_promos\",\"promo_type\":\"unknown\",\"target_text\":\"\",\"discount_value\":null,\"min_cart_value\":null,\"expiry_text\":\"\",\"priority_text\":\"\",\"promo_code\":\"\",\"confidence\":0.99}',\n  'Owner message:',\n  message || '(empty)',\n].join('\\n');\nreturn [{ json: { prompt } }];"},"id":"promo-build-intent","name":"Build Promo Intent Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,280]},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}"},"id":"promo-claude-chain","name":"Claude Promo Extractor","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[2000,280]},{"parameters":{"model":{"__rl":true,"value":"claude-3-haiku-20240307","mode":"list","cachedResultName":"Claude Haiku 3"},"options":{"temperature":0.1}},"id":"promo-claude-model","name":"Claude Promo Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[2000,520],"credentials":{"anthropicApi":{"id":"yiUg577mPI3s1EDq","name":"claude_api"}}}],"connections":{"Start":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Resolve Store Context","type":"main","index":0}]]},"Resolve Store Context":{"main":[[{"node":"Inspect Promo Schema","type":"main","index":0}]]},"Inspect Promo Schema":{"main":[[{"node":"Inspect Inventory Schema","type":"main","index":0}]]},"Inspect Inventory Schema":{"main":[[{"node":"Load Inventory Snapshot","type":"main","index":0}]]},"Parse Promo Request":{"main":[[{"node":"Promo Action","type":"main","index":0}]]},"Promo Action":{"main":[[{"node":"Format Direct Response","type":"main","index":0}],[{"node":"Build List SQL","type":"main","index":0}],[{"node":"Build Mutation SQL","type":"main","index":0}]]},"Format Direct Response":{"main":[[{"node":"Send Promo Response","type":"main","index":0}]]},"Build List SQL":{"main":[[{"node":"Run List Query","type":"main","index":0}]]},"Run List Query":{"main":[[{"node":"Format List Response","type":"main","index":0}]]},"Format List Response":{"main":[[{"node":"Send Promo Response","type":"main","index":0}]]},"Build Mutation SQL":{"main":[[{"node":"Run Mutation SQL","type":"main","index":0}]]},"Run Mutation SQL":{"main":[[{"node":"Format Mutation Response","type":"main","index":0}]]},"Format Mutation Response":{"main":[[{"node":"Send Promo Response","type":"main","index":0}]]},"Load Inventory Snapshot":{"main":[[{"node":"Load Promo Snapshot","type":"main","index":0}]]},"Load Promo Snapshot":{"main":[[{"node":"Load Promo Session State","type":"main","index":0}]]},"Load Promo Session State":{"main":[[{"node":"Build Promo Intent Prompt","type":"main","index":0}]]},"Build Promo Intent Prompt":{"main":[[{"node":"Claude Promo Extractor","type":"main","index":0}]]},"Claude Promo Extractor":{"main":[[{"node":"Parse Promo Request","type":"main","index":0}]]},"Claude Promo Model":{"ai_languageModel":[[{"node":"Claude Promo Extractor","type":"ai_languageModel","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-15T04:28:52.354Z","id":2274,"workflowId":"oiggfS3oMsdKNRRn","versionId":"3839752c-6851-4a5e-a53d-94cb919a2825","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-15T04:28:52.436Z","id":2275,"workflowId":"oiggfS3oMsdKNRRn","versionId":"3839752c-6851-4a5e-a53d-94cb919a2825","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}