workflows/latest/OrQimOPRa64ArwXr__Tool_Modify_Cart.json
{"updatedAt":"2026-03-06T06:24:15.060Z","createdAt":"2026-03-03T10:26:30.286Z","id":"OrQimOPRa64ArwXr","name":"[Tool] Modify Cart","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"d40bf3e8-bdb9-4050-9dc5-85d58cad1239","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2624,1104]},{"parameters":{"operation":"getAll","tableId":"inventory","returnAll":true,"filters":{"conditions":[{"keyName":"is_active","condition":"eq","keyValue":"true"}]}},"id":"50c70856-db4c-4412-bd1d-3e613b9c2511","name":"Get All Active Products","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2384,1104],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"jsCode":"const products = $input.all().map(i => i.json);\nconst input = $('Start').first().json.tool_input;\nconst searchTerm = (input.product_name || '').toLowerCase().trim();\nif (!searchTerm) return [{ json: { sku: null, item_name: null, price: null, stock: null, unit: null } }];\nconst scored = products.map(p => {\n  const name = (p.item_name || '').toLowerCase();\n  let score = 0;\n  if (name === searchTerm) score = 100;\n  else if (name.startsWith(searchTerm)) score = 80;\n  else if (name.includes(searchTerm)) score = 60;\n  else if (searchTerm.includes(name) && name.length > 2) score = 40;\n  searchTerm.split(' ').forEach(w => { if (w.length > 2 && name.includes(w)) score += 15; });\n  return { ...p, _score: score };\n}).filter(p => p._score > 0).sort((a, b) => b._score - a._score);\nif (scored.length === 0) return [{ json: { sku: null, item_name: null, price: null, stock: null, unit: null } }];\nconst best = scored[0];\nreturn [{ json: { sku: best.sku, item_name: best.item_name, price: best.price, stock: best.stock, unit: best.unit } }];"},"id":"83adbca3-4684-420d-b224-bbd0279d8020","name":"Find Best Match","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2112,1104]},{"parameters":{"conditions":{"options":{"typeValidation":"loose","version":2},"conditions":[{"id":"sku-check","leftValue":"={{ $json.sku }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"55b6517f-1b43-436c-8025-4e8907792033","name":"Product Found?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1872,1104]},{"parameters":{"jsCode":"function esc(t){return String(t||'').replace(/[_*[\\]()~`>#+\\-=|{}.!]/g,'\\\\$&');}\nconst input=$('Start').first().json.tool_input;\nreturn[{json:{confirmation_message:esc(`❌ Couldn't find \"${input.product_name}\" in our store. Try a different name!`),chat_id:input.chat_id}}];"},"id":"61d3eb20-061e-4bee-909e-bb3574e95733","name":"Format Not Found","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1616,896]},{"parameters":{"conditions":{"options":{"typeValidation":"loose","version":2},"conditions":[{"id":"qty-zero","leftValue":"={{ Number($('Start').first().json.tool_input.quantity) }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f510bf7d-3b16-43b5-8d25-e7df77c32782","name":"Is Remove?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1616,1200]},{"parameters":{"operation":"getAll","tableId":"carts","limit":1,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('Start').first().json.tool_input.chat_id }}"},{"keyName":"status","condition":"eq","keyValue":"active"}]}},"id":"f5c61d24-6683-4b85-8f43-30cc285389ed","name":"Get Cart For Remove","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1360,1040],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"operation":"delete","tableId":"cart_items","filters":{"conditions":[{"keyName":"cart_id","condition":"eq","keyValue":"={{ $json.cart_id }}"},{"keyName":"sku","condition":"eq","keyValue":"={{ $('Find Best Match').first().json.sku }}"}]}},"id":"f9bce902-15b0-4492-8e33-583ad3a1d189","name":"Remove Cart Item","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1104,1040],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"jsCode":"function esc(t){return String(t||'').replace(/[_*[\\]()~`>#+\\-=|{}.!]/g,'\\\\$&');}\nconst input=$('Start').first().json.tool_input;\nconst product=$('Find Best Match').first().json;\nreturn[{json:{confirmation_message:esc(`🗑️ Removed ${product.item_name} from your cart.`),chat_id:input.chat_id}}];"},"id":"c21afb65-3c6b-464a-b7b1-d794db3010a0","name":"Format Remove Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[-832,1040]},{"parameters":{"conditions":{"options":{"typeValidation":"loose","version":2},"conditions":[{"id":"stock-check","leftValue":"={{ Number($('Start').first().json.tool_input.quantity) }}","rightValue":"={{ Number($('Find Best Match').first().json.stock) }}","operator":{"type":"number","operation":"lte"}}],"combinator":"and"},"options":{}},"id":"840c23ee-b3dc-41c2-a43e-f7154a1ab007","name":"Enough Stock?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1360,1360]},{"parameters":{"jsCode":"function esc(t){return String(t||'').replace(/[_*[\\]()~`>#+\\-=|{}.!]/g,'\\\\$&');}\nconst input=$('Start').first().json.tool_input;\nconst product=$('Find Best Match').first().json;\nreturn[{json:{confirmation_message:esc(`⚠️ Only ${product.stock} ${product.unit||'units'} of ${product.item_name} available. You requested ${input.quantity}.`),chat_id:input.chat_id}}];"},"id":"d200dad0-80fe-4c93-ba3e-0f1f985eb8a8","name":"Format Out Of Stock","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,1520]},{"parameters":{"operation":"getAll","tableId":"carts","limit":1,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('Start').first().json.tool_input.chat_id }}"},{"keyName":"status","condition":"eq","keyValue":"active"}]}},"id":"774dde9a-bb9e-49ed-89ef-ee22403cb9e5","name":"Get Active Cart","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1104,1264],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"conditions":{"options":{"typeValidation":"loose","version":2},"conditions":[{"id":"cart-check","leftValue":"={{ $json.cart_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"aff6393c-9286-415d-8ff6-b9f839e9ee78","name":"Cart Exists?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-832,1264]},{"parameters":{"operation":"getAll","tableId":"cart_items","limit":1,"filters":{"conditions":[{"keyName":"cart_id","condition":"eq","keyValue":"={{ $('Get Active Cart').first().json.cart_id }}"},{"keyName":"sku","condition":"eq","keyValue":"={{ $('Find Best Match').first().json.sku }}"}]}},"id":"f1c170e2-4b84-4c42-814a-90b42b450ebc","name":"Get Existing Cart Item","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-576,1168],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"conditions":{"options":{"typeValidation":"loose","version":2},"conditions":[{"id":"item-check","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1e921481-c677-4fd9-8af9-aa4273987372","name":"Cart Item Exists?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,1168]},{"parameters":{"operation":"update","tableId":"cart_items","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"quantity","fieldValue":"={{ $('Start').first().json.tool_input.quantity }}"},{"fieldId":"price_at_addition","fieldValue":"={{ $('Find Best Match').first().json.price }}"}]}},"id":"09c852c4-3781-439b-b49b-a86aee353401","name":"Update Cart Item","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-64,1040],"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"tableId":"cart_items","fieldsUi":{"fieldValues":[{"fieldId":"cart_id","fieldValue":"={{ $('Get Active Cart').first().json.cart_id }}"},{"fieldId":"sku","fieldValue":"={{ $('Find Best Match').first().json.sku }}"},{"fieldId":"quantity","fieldValue":"={{ $('Start').first().json.tool_input.quantity }}"},{"fieldId":"price_at_addition","fieldValue":"={{ $('Find Best Match').first().json.price }}"}]}},"id":"ee422168-fa84-4110-b2e1-c844ec38ec9e","name":"Create Cart Item (existing cart)","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-64,1280],"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"jsCode":"function esc(t){return String(t||'').replace(/[_*[\\]()~`>#+\\-=|{}.!]/g,'\\\\$&');}\nconst input=$('Start').first().json.tool_input;\nconst product=$('Find Best Match').first().json;\nconst qty=parseFloat(input.quantity);\nconst price=parseFloat(product.price);\nconst total=(qty*price).toFixed(2);\nconst unit=product.unit?` ${product.unit}`:'';\nreturn[{json:{confirmation_message:esc(`✅ Added: ${product.item_name} × ${qty}${unit} @ ₹${price} = ₹${total}`),chat_id:input.chat_id}}];"},"id":"a5aeebb7-437c-4d8b-8f82-be7de1c3b73b","name":"Format Add Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,1168]},{"parameters":{"tableId":"carts","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"={{ $('Start').first().json.tool_input.chat_id }}"},{"fieldId":"store_id","fieldValue":"1"},{"fieldId":"status","fieldValue":"active"}]}},"id":"065d3240-396d-42e1-a783-6159877983f9","name":"Create Cart","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-576,1440],"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"tableId":"cart_items","fieldsUi":{"fieldValues":[{"fieldId":"cart_id","fieldValue":"={{ $json.cart_id }}"},{"fieldId":"sku","fieldValue":"={{ $('Find Best Match').first().json.sku }}"},{"fieldId":"quantity","fieldValue":"={{ $('Start').first().json.tool_input.quantity }}"},{"fieldId":"price_at_addition","fieldValue":"={{ $('Find Best Match').first().json.price }}"}]}},"id":"dd4f440d-6e88-4ac3-9b01-7d04f70c594a","name":"Create Cart Item (new cart)","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-320,1440],"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"jsCode":"function esc(t){return String(t||'').replace(/[_*[\\]()~`>#+\\-=|{}.!]/g,'\\\\$&');}\nconst input=$('Start').first().json.tool_input;\nconst product=$('Find Best Match').first().json;\nconst qty=parseFloat(input.quantity);\nconst price=parseFloat(product.price);\nconst total=(qty*price).toFixed(2);\nconst unit=product.unit?` ${product.unit}`:'';\nreturn[{json:{confirmation_message:esc(`✅ Added: ${product.item_name} × ${qty}${unit} @ ₹${price} = ₹${total}`),chat_id:input.chat_id}}];"},"id":"4f10037a-9c58-4657-bd5c-4bfcfa8330e1","name":"Format Add Success (new cart)","type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,1440]}],"connections":{"Enough Stock?1":{"main":[[{"node":"Format Add Success1","type":"main","index":0},{"node":"Upsert Item (existing cart)","type":"main","index":0},{"node":"Cart Exists?","type":"main","index":0},{"node":"Get Active Cart","type":"main","index":0}],[{"node":"Format Out of Stock1","type":"main","index":0}]]},"Start":{"main":[[{"node":"Get All Active Products","type":"main","index":0}]]},"Get All Active Products":{"main":[[{"node":"Find Best Match","type":"main","index":0}]]},"Find Best Match":{"main":[[{"node":"Product Found?","type":"main","index":0}]]},"Product Found?":{"main":[[{"node":"Is Remove?","type":"main","index":0}],[{"node":"Format Not Found","type":"main","index":0}]]},"Is Remove?":{"main":[[{"node":"Get Cart For Remove","type":"main","index":0}],[{"node":"Enough Stock?","type":"main","index":0}]]},"Get Cart For Remove":{"main":[[{"node":"Remove Cart Item","type":"main","index":0}]]},"Remove Cart Item":{"main":[[{"node":"Format Remove Success","type":"main","index":0}]]},"Enough Stock?":{"main":[[{"node":"Get Active Cart","type":"main","index":0}],[{"node":"Format Out Of Stock","type":"main","index":0}]]},"Get Active Cart":{"main":[[{"node":"Cart Exists?","type":"main","index":0}]]},"Cart Exists?":{"main":[[{"node":"Get Existing Cart Item","type":"main","index":0}],[{"node":"Create Cart","type":"main","index":0}]]},"Get Existing Cart Item":{"main":[[{"node":"Cart Item Exists?","type":"main","index":0}]]},"Cart Item Exists?":{"main":[[{"node":"Update Cart Item","type":"main","index":0}],[{"node":"Create Cart Item (existing cart)","type":"main","index":0}]]},"Update Cart Item":{"main":[[{"node":"Format Add Success","type":"main","index":0}]]},"Create Cart Item (existing cart)":{"main":[[{"node":"Format Add Success","type":"main","index":0}]]},"Create Cart":{"main":[[{"node":"Create Cart Item (new cart)","type":"main","index":0}]]},"Create Cart Item (new cart)":{"main":[[{"node":"Format Add Success (new cart)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"63bf11d5-4e78-4d38-b18f-f19762e83305","activeVersionId":null,"versionCounter":221,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T10:26:30.286Z","createdAt":"2026-03-03T10:26:30.286Z","role":"workflow:owner","workflowId":"OrQimOPRa64ArwXr","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":null}