workflows/latest/OY8zswARgKBX7XjP__Tool_Cancel_Order.json
{"updatedAt":"2026-03-13T14:46:41.030Z","createdAt":"2026-03-04T01:56:50.612Z","id":"OY8zswARgKBX7XjP","name":"[Tool] Cancel Order","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"456ecbd1-9897-4ed7-a5b2-1d0bc2615393","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"operation":"executeQuery","query":"=SELECT order_id, status, final_order_total\nFROM public.pending_orders\nWHERE chat_id = {{ $('Normalize Cancel Input').first().json.chat_id }}\n  AND status IN ('awaiting_confirmation', 'processing')\nORDER BY COALESCE(updated_at, created_at) DESC\nLIMIT 1;","options":{}},"id":"17fdbbe1-1128-4f4b-aeb4-b72dfb4b4f66","name":"Get Pending Order","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,0],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"has-order","leftValue":"={{ $json.order_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"fa36b901-446b-41e0-96b4-5726cf59bae0","name":"Has Pending Order?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[688,0]},{"parameters":{"operation":"executeQuery","query":"=DELETE FROM public.pending_orders\nWHERE chat_id = {{ $('Normalize Cancel Input').first().json.chat_id }}\n  AND status IN ('awaiting_confirmation', 'processing');\n\nUPDATE public.carts SET status = 'expired'\nWHERE user_id = {{ $('Normalize Cancel Input').first().json.chat_id }} AND status = 'active';\n\nSELECT 'cancelled' AS result;","options":{}},"id":"dc17c3fd-ff82-4016-b4f9-e6eb48310733","name":"Cancel & Expire Cart","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[928,-80],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const chatId = $('Normalize Cancel Input').first().json.chat_id;\nconst msg = 'Your pending order was cancelled and the cart was cleared.\\n\\nYou can start a fresh order whenever you are ready.';\nreturn [{ json: {\n  confirmation_message: msg,\n  chat_id: chatId,\n  customer_ui_state: 'BROWSE_HOME',\n  message_type: 'button',\n  buttons: [\n    { id: 'start_shopping', title: 'Shop Items' },\n    { id: 'get_promos', title: 'Offers' },\n  ],\n} }];"},"id":"7b1de63c-1e94-4061-a2ea-675cc9cea5ce","name":"Format Cancel Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,-80]},{"parameters":{"jsCode":"const chatId = $('Normalize Cancel Input').first().json.chat_id;\nconst msg = 'There is nothing to cancel right now.\\n\\nYou can start a new order any time.';\nreturn [{ json: {\n  confirmation_message: msg,\n  chat_id: chatId,\n  customer_ui_state: 'BROWSE_HOME',\n  message_type: 'button',\n  buttons: [\n    { id: 'start_shopping', title: 'Shop Items' },\n    { id: 'view_cart', title: 'View Cart' },\n  ],\n} }];"},"id":"5a1eae5a-be07-434b-851e-676fc918f3ac","name":"Format No Order","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,160]},{"parameters":{"operation":"executeQuery","query":"=WITH expired_cart AS (\n  UPDATE public.carts SET status = 'expired', updated_at = NOW()\n  WHERE user_id = {{ $('Normalize Cancel Input').first().json.chat_id }}\n  AND status = 'active'\n  RETURNING cart_id\n)\nDELETE FROM public.cart_items\nWHERE cart_id IN (SELECT cart_id FROM expired_cart);\nSELECT 'cleared' AS result;","options":{}},"id":"349eae6e-2873-40eb-8f8d-88243a5739f4","name":"Expire Cart Only","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,160],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $json;\nlet ti = d.tool_input || {};\nif (typeof ti === 'string') {\n  try { ti = JSON.parse(ti); } catch(e) { ti = {}; }\n}\nconst chatId = String(d.chat_id || ti.chat_id || '');\nreturn [{ json: { chat_id: chatId } }];"},"id":"normalize-cancel-001","name":"Normalize Cancel Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0]}],"connections":{"Start":{"main":[[{"node":"Normalize Cancel Input","type":"main","index":0}]]},"Get Pending Order":{"main":[[{"node":"Has Pending Order?","type":"main","index":0}]]},"Has Pending Order?":{"main":[[{"node":"Cancel & Expire Cart","type":"main","index":0}],[{"node":"Expire Cart Only","type":"main","index":0}]]},"Cancel & Expire Cart":{"main":[[{"node":"Format Cancel Success","type":"main","index":0}]]},"Expire Cart Only":{"main":[[{"node":"Format No Order","type":"main","index":0}]]},"Normalize Cancel Input":{"main":[[{"node":"Get Pending Order","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start":[{"json":{"tool_input":{"chat_id":"919988776655"}}}]},"versionId":"5a290b70-6274-4744-b02c-b8c362e067f5","activeVersionId":"c343c66f-a86b-4217-a5b2-0d27c27efe2a","versionCounter":79,"triggerCount":0,"shared":[{"updatedAt":"2026-03-04T01:56:50.612Z","createdAt":"2026-03-04T01:56:50.612Z","role":"workflow:owner","workflowId":"OY8zswARgKBX7XjP","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-13T14:32:45.827Z","createdAt":"2026-03-13T14:32:45.827Z","versionId":"c343c66f-a86b-4217-a5b2-0d27c27efe2a","workflowId":"OY8zswARgKBX7XjP","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"456ecbd1-9897-4ed7-a5b2-1d0bc2615393","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0]},{"id":"17fdbbe1-1128-4f4b-aeb4-b72dfb4b4f66","name":"Get Pending Order","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[440,0],"parameters":{"operation":"executeQuery","query":"=SELECT order_id, status, final_order_total\nFROM public.pending_orders\nWHERE chat_id = {{ $('Normalize Cancel Input').first().json.chat_id }}\n  AND status IN ('awaiting_confirmation', 'processing')\nORDER BY COALESCE(updated_at, created_at) DESC\nLIMIT 1;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true},{"id":"fa36b901-446b-41e0-96b4-5726cf59bae0","name":"Has Pending Order?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,0],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"has-order","leftValue":"={{ $json.order_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}}},{"id":"dc17c3fd-ff82-4016-b4f9-e6eb48310733","name":"Cancel & Expire Cart","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[920,-80],"parameters":{"operation":"executeQuery","query":"=DELETE FROM public.pending_orders\nWHERE chat_id = {{ $('Normalize Cancel Input').first().json.chat_id }}\n  AND status IN ('awaiting_confirmation', 'processing');\n\nUPDATE public.carts SET status = 'expired'\nWHERE user_id = {{ $('Normalize Cancel Input').first().json.chat_id }} AND status = 'active';\n\nSELECT 'cancelled' AS result;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true},{"id":"7b1de63c-1e94-4061-a2ea-675cc9cea5ce","name":"Format Cancel Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,-80],"parameters":{"jsCode":"const chatId = $('Normalize Cancel Input').first().json.chat_id;\nconst msg = 'Your pending order was cancelled and the cart was cleared.\\n\\nYou can start a fresh order whenever you are ready.';\nreturn [{ json: {\n  confirmation_message: msg,\n  chat_id: chatId,\n  customer_ui_state: 'BROWSE_HOME',\n  message_type: 'button',\n  buttons: [\n    { id: 'start_shopping', title: 'Shop Items' },\n    { id: 'get_promos', title: 'Offers' },\n  ],\n} }];"}},{"id":"5a1eae5a-be07-434b-851e-676fc918f3ac","name":"Format No Order","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,160],"parameters":{"jsCode":"const chatId = $('Normalize Cancel Input').first().json.chat_id;\nconst msg = 'There is nothing to cancel right now.\\n\\nYou can start a new order any time.';\nreturn [{ json: {\n  confirmation_message: msg,\n  chat_id: chatId,\n  customer_ui_state: 'BROWSE_HOME',\n  message_type: 'button',\n  buttons: [\n    { id: 'start_shopping', title: 'Shop Items' },\n    { id: 'view_cart', title: 'View Cart' },\n  ],\n} }];"}},{"parameters":{"operation":"executeQuery","query":"=WITH expired_cart AS (\n  UPDATE public.carts SET status = 'expired', updated_at = NOW()\n  WHERE user_id = {{ $('Normalize Cancel Input').first().json.chat_id }}\n  AND status = 'active'\n  RETURNING cart_id\n)\nDELETE FROM public.cart_items\nWHERE cart_id IN (SELECT cart_id FROM expired_cart);\nSELECT 'cleared' AS result;","options":{}},"id":"349eae6e-2873-40eb-8f8d-88243a5739f4","name":"Expire Cart Only","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,160],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"normalize-cancel-001","name":"Normalize Cancel Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[200,0],"parameters":{"jsCode":"const d = $json;\nlet ti = d.tool_input || {};\nif (typeof ti === 'string') {\n  try { ti = JSON.parse(ti); } catch(e) { ti = {}; }\n}\nconst chatId = String(d.chat_id || ti.chat_id || '');\nreturn [{ json: { chat_id: chatId } }];"}}],"connections":{"Start":{"main":[[{"node":"Normalize Cancel Input","type":"main","index":0}]]},"Get Pending Order":{"main":[[{"node":"Has Pending Order?","type":"main","index":0}]]},"Has Pending Order?":{"main":[[{"node":"Cancel & Expire Cart","type":"main","index":0}],[{"node":"Expire Cart Only","type":"main","index":0}]]},"Cancel & Expire Cart":{"main":[[{"node":"Format Cancel Success","type":"main","index":0}]]},"Expire Cart Only":{"main":[[{"node":"Format No Order","type":"main","index":0}]]},"Normalize Cancel Input":{"main":[[{"node":"Get Pending Order","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-13T14:32:45.955Z","id":2186,"workflowId":"OY8zswARgKBX7XjP","versionId":"c343c66f-a86b-4217-a5b2-0d27c27efe2a","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-13T14:32:46.028Z","id":2187,"workflowId":"OY8zswARgKBX7XjP","versionId":"c343c66f-a86b-4217-a5b2-0d27c27efe2a","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}