workflows/latest/R9xiuTG16Lb1CwPO__AI_Tool_Personalized_Promotions_Advisor.json
{"updatedAt":"2026-03-06T11:19:33.246Z","createdAt":"2026-03-03T11:26:36.858Z","id":"R9xiuTG16Lb1CwPO","name":"[AI Tool] Personalized Promotions Advisor","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"0b6b9847-519a-4092-9cc0-bd3f08cb72cb","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[2256,448]},{"parameters":{"assignments":{"assignments":[{"id":"assign-chat-id","name":"chat_id","value":"={{ $json.tool_input && $json.tool_input.chat_id ? $json.tool_input.chat_id : $json.chat_id }}","type":"string"},{"id":"assign-user-query","name":"user_query","value":"={{ $json.tool_input && $json.tool_input.user_query ? $json.tool_input.user_query : ($json.tool_input && $json.tool_input.message ? $json.tool_input.message : ($json.user_query || '')) }}","type":"string"}]},"options":{}},"id":"b303ab89-f61a-4dd3-9725-5df4c43aab9b","name":"Extract Inputs","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2496,448]},{"parameters":{"operation":"getAll","tableId":"promotions","returnAll":true,"filters":{"conditions":[{"keyName":"is_active","condition":"eq","keyValue":"true"}]}},"id":"3e2a6cec-6be8-4bb8-8c65-7beb3dfc6348","name":"Get Active Promotions","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2736,448],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"operation":"getAll","tableId":"order_summary","limit":5,"filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('Extract Inputs').first().json.chat_id }}"}]}},"id":"28394e2d-cf1a-4f62-9f1b-c647d62f4036","name":"Get User Order History","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2976,448],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"operation":"getAll","tableId":"orders","limit":20,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('Extract Inputs').first().json.chat_id }}"}]}},"id":"6cc12b23-f8ad-4349-b572-284c01fd61d5","name":"Get User Past Items","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3216,448],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"jsCode":"// Always read chat_id and user_query from Extract Inputs node\nconst chatId = String($('Extract Inputs').first().json.chat_id || '');\nconst userQuery = $('Extract Inputs').first().json.user_query || '';\n\nconst now = new Date();\nconst isPromoActive = (promo) => {\n  const fromOk = !promo.valid_from || new Date(promo.valid_from) <= now;\n  const untilOk = !promo.valid_until || new Date(promo.valid_until) >= now;\n  return fromOk && untilOk;\n};\n\n// Filter promotions by date validity (supports open-ended validity)\nconst promotions = $('Get Active Promotions').all()\n  .map(i => i.json)\n  .filter(p => p && isPromoActive(p));\n\n// Get order history - guard against empty\nconst orderHistory = $('Get User Order History').all()\n  .map(i => i.json)\n  .filter(i => i && i.order_id);\n\n// Get past items and calculate frequency\nconst pastItems = $('Get User Past Items').all()\n  .map(i => i.json)\n  .filter(i => i && i.name);\n\nconst itemFrequency = {};\npastItems.forEach(item => {\n  itemFrequency[item.name] = (itemFrequency[item.name] || 0) + Number(item.quantity || 1);\n});\nconst topItems = Object.entries(itemFrequency)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([name, qty]) => `${name} (ordered ${qty} times)`);\n\n// Format promotions\nconst promoText = promotions.length > 0\n  ? promotions.map(p => {\n      const scopeLabel = p.promo_scope === 'product'\n        ? `on product SKU: ${p.target_sku}`\n        : p.promo_scope === 'category'\n        ? `on all ${p.target_category} items`\n        : 'on the entire order';\n      const discountLabel = p.discount_type === 'percentage'\n        ? `${p.discount_value}% off`\n        : p.discount_type === 'flat'\n        ? `flat ₹${p.discount_value} off`\n        : 'Buy 2 Get 1 Free';\n      return `- ${p.promo_code}: ${p.description} (${discountLabel} ${scopeLabel})`;\n    }).join('\\n')\n  : 'No active promotions at the moment.';\n\nconst historyText = orderHistory.length > 0\n  ? `Customer has placed ${orderHistory.length} previous order(s). Total spend: ₹${orderHistory.reduce((s, o) => s + parseFloat(o.final_order_total || 0), 0).toFixed(2)}`\n  : 'New customer with no previous orders.';\n\nconst topItemsText = topItems.length > 0\n  ? `Frequently orders: ${topItems.join(', ')}`\n  : 'No purchase history yet.';\n\nconst prompt = `You are Dukaan Dost, a friendly Kirana store assistant.\\n\\nCustomer message: \\\"${userQuery}\\\"\\n\\nCustomer profile:\\n- ${historyText}\\n- ${topItemsText}\\n\\nActive promotions:\\n${promoText}\\n\\nYour task:\\n1. Understand what the customer is asking about\\n2. Match relevant promotions to their query and purchase history\\n3. Write a friendly, natural, short response recommending the best offers\\n4. If nothing matches, mention what offers are available generally\\n5. Plain text only, no markdown, no asterisks, under 80 words\\n\\nWrite only the message to send. Nothing else.`;\n\nreturn [{ json: { prompt, chat_id: chatId } }];"},"id":"7a26e172-9179-49fd-9866-456f6bcfa533","name":"Build Claude Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[3488,448]},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}"},"id":"45522881-cd22-4e86-ab4f-cf1c39046fc7","name":"Claude Promotions Advisor","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[3744,448]},{"parameters":{"model":{"__rl":true,"value":"claude-3-haiku-20240307","mode":"list","cachedResultName":"Claude Haiku 3"},"options":{"temperature":0.7}},"id":"aba8d4f7-805b-4743-b569-571a4cf9f650","name":"Claude Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[3744,672],"credentials":{"anthropicApi":{"id":"yiUg577mPI3s1EDq","name":"claude_api"}}},{"parameters":{"jsCode":"const chatId = $('Build Claude Prompt').first().json.chat_id;\nconst aiResponse = $input.first().json.text || '';\nconst payload = {\n  confirmation_message: aiResponse,\n  chat_id: String(chatId),\n};\nreturn [{ json: payload }];"},"id":"ea238d4e-f2f9-4026-add1-63b32ef026a0","name":"Format Final Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[4000,448]}],"connections":{"Start":{"main":[[{"node":"Extract Inputs","type":"main","index":0}]]},"Extract Inputs":{"main":[[{"node":"Get Active Promotions","type":"main","index":0}]]},"Get Active Promotions":{"main":[[{"node":"Get User Order History","type":"main","index":0}]]},"Get User Order History":{"main":[[{"node":"Get User Past Items","type":"main","index":0}]]},"Get User Past Items":{"main":[[{"node":"Build Claude Prompt","type":"main","index":0}]]},"Build Claude Prompt":{"main":[[{"node":"Claude Promotions Advisor","type":"main","index":0}]]},"Claude Promotions Advisor":{"main":[[{"node":"Format Final Output","type":"main","index":0}]]},"Claude Model":{"ai_languageModel":[[{"node":"Claude Promotions Advisor","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"347832b1-65ee-49d0-a886-f3cb5a663800","activeVersionId":"347832b1-65ee-49d0-a886-f3cb5a663800","versionCounter":79,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T11:26:36.858Z","createdAt":"2026-03-03T11:26:36.858Z","role":"workflow:owner","workflowId":"R9xiuTG16Lb1CwPO","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-06T11:19:33.253Z","createdAt":"2026-03-06T11:19:33.253Z","versionId":"347832b1-65ee-49d0-a886-f3cb5a663800","workflowId":"R9xiuTG16Lb1CwPO","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"0b6b9847-519a-4092-9cc0-bd3f08cb72cb","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[2256,448]},{"parameters":{"assignments":{"assignments":[{"id":"assign-chat-id","name":"chat_id","value":"={{ $json.tool_input && $json.tool_input.chat_id ? $json.tool_input.chat_id : $json.chat_id }}","type":"string"},{"id":"assign-user-query","name":"user_query","value":"={{ $json.tool_input && $json.tool_input.user_query ? $json.tool_input.user_query : ($json.tool_input && $json.tool_input.message ? $json.tool_input.message : ($json.user_query || '')) }}","type":"string"}]},"options":{}},"id":"b303ab89-f61a-4dd3-9725-5df4c43aab9b","name":"Extract Inputs","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2496,448]},{"parameters":{"operation":"getAll","tableId":"promotions","returnAll":true,"filters":{"conditions":[{"keyName":"is_active","condition":"eq","keyValue":"true"}]}},"id":"3e2a6cec-6be8-4bb8-8c65-7beb3dfc6348","name":"Get Active Promotions","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2736,448],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"operation":"getAll","tableId":"order_summary","limit":5,"filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('Extract Inputs').first().json.chat_id }}"}]}},"id":"28394e2d-cf1a-4f62-9f1b-c647d62f4036","name":"Get User Order History","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2976,448],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"operation":"getAll","tableId":"orders","limit":20,"filters":{"conditions":[{"keyName":"user_id","condition":"eq","keyValue":"={{ $('Extract Inputs').first().json.chat_id }}"}]}},"id":"6cc12b23-f8ad-4349-b572-284c01fd61d5","name":"Get User Past Items","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3216,448],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"jsCode":"// Always read chat_id and user_query from Extract Inputs node\nconst chatId = String($('Extract Inputs').first().json.chat_id || '');\nconst userQuery = $('Extract Inputs').first().json.user_query || '';\n\nconst now = new Date();\nconst isPromoActive = (promo) => {\n  const fromOk = !promo.valid_from || new Date(promo.valid_from) <= now;\n  const untilOk = !promo.valid_until || new Date(promo.valid_until) >= now;\n  return fromOk && untilOk;\n};\n\n// Filter promotions by date validity (supports open-ended validity)\nconst promotions = $('Get Active Promotions').all()\n  .map(i => i.json)\n  .filter(p => p && isPromoActive(p));\n\n// Get order history - guard against empty\nconst orderHistory = $('Get User Order History').all()\n  .map(i => i.json)\n  .filter(i => i && i.order_id);\n\n// Get past items and calculate frequency\nconst pastItems = $('Get User Past Items').all()\n  .map(i => i.json)\n  .filter(i => i && i.name);\n\nconst itemFrequency = {};\npastItems.forEach(item => {\n  itemFrequency[item.name] = (itemFrequency[item.name] || 0) + Number(item.quantity || 1);\n});\nconst topItems = Object.entries(itemFrequency)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([name, qty]) => `${name} (ordered ${qty} times)`);\n\n// Format promotions\nconst promoText = promotions.length > 0\n  ? promotions.map(p => {\n      const scopeLabel = p.promo_scope === 'product'\n        ? `on product SKU: ${p.target_sku}`\n        : p.promo_scope === 'category'\n        ? `on all ${p.target_category} items`\n        : 'on the entire order';\n      const discountLabel = p.discount_type === 'percentage'\n        ? `${p.discount_value}% off`\n        : p.discount_type === 'flat'\n        ? `flat ₹${p.discount_value} off`\n        : 'Buy 2 Get 1 Free';\n      return `- ${p.promo_code}: ${p.description} (${discountLabel} ${scopeLabel})`;\n    }).join('\\n')\n  : 'No active promotions at the moment.';\n\nconst historyText = orderHistory.length > 0\n  ? `Customer has placed ${orderHistory.length} previous order(s). Total spend: ₹${orderHistory.reduce((s, o) => s + parseFloat(o.final_order_total || 0), 0).toFixed(2)}`\n  : 'New customer with no previous orders.';\n\nconst topItemsText = topItems.length > 0\n  ? `Frequently orders: ${topItems.join(', ')}`\n  : 'No purchase history yet.';\n\nconst prompt = `You are Dukaan Dost, a friendly Kirana store assistant.\\n\\nCustomer message: \\\"${userQuery}\\\"\\n\\nCustomer profile:\\n- ${historyText}\\n- ${topItemsText}\\n\\nActive promotions:\\n${promoText}\\n\\nYour task:\\n1. Understand what the customer is asking about\\n2. Match relevant promotions to their query and purchase history\\n3. Write a friendly, natural, short response recommending the best offers\\n4. If nothing matches, mention what offers are available generally\\n5. Plain text only, no markdown, no asterisks, under 80 words\\n\\nWrite only the message to send. Nothing else.`;\n\nreturn [{ json: { prompt, chat_id: chatId } }];"},"id":"7a26e172-9179-49fd-9866-456f6bcfa533","name":"Build Claude Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[3488,448]},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}"},"id":"45522881-cd22-4e86-ab4f-cf1c39046fc7","name":"Claude Promotions Advisor","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[3744,448]},{"parameters":{"model":{"__rl":true,"value":"claude-3-haiku-20240307","mode":"list","cachedResultName":"Claude Haiku 3"},"options":{"temperature":0.7}},"id":"aba8d4f7-805b-4743-b569-571a4cf9f650","name":"Claude Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[3744,672],"credentials":{"anthropicApi":{"id":"yiUg577mPI3s1EDq","name":"claude_api"}}},{"parameters":{"jsCode":"const chatId = $('Build Claude Prompt').first().json.chat_id;\nconst aiResponse = $input.first().json.text || '';\nconst payload = {\n  confirmation_message: aiResponse,\n  chat_id: String(chatId),\n};\nreturn [{ json: payload }];"},"id":"ea238d4e-f2f9-4026-add1-63b32ef026a0","name":"Format Final Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[4000,448]}],"connections":{"Start":{"main":[[{"node":"Extract Inputs","type":"main","index":0}]]},"Extract Inputs":{"main":[[{"node":"Get Active Promotions","type":"main","index":0}]]},"Get Active Promotions":{"main":[[{"node":"Get User Order History","type":"main","index":0}]]},"Get User Order History":{"main":[[{"node":"Get User Past Items","type":"main","index":0}]]},"Get User Past Items":{"main":[[{"node":"Build Claude Prompt","type":"main","index":0}]]},"Build Claude Prompt":{"main":[[{"node":"Claude Promotions Advisor","type":"main","index":0}]]},"Claude Promotions Advisor":{"main":[[{"node":"Format Final Output","type":"main","index":0}]]},"Claude Model":{"ai_languageModel":[[{"node":"Claude Promotions Advisor","type":"ai_languageModel","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-06T11:19:33.341Z","id":405,"workflowId":"R9xiuTG16Lb1CwPO","versionId":"347832b1-65ee-49d0-a886-f3cb5a663800","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-06T11:19:33.386Z","id":406,"workflowId":"R9xiuTG16Lb1CwPO","versionId":"347832b1-65ee-49d0-a886-f3cb5a663800","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}