workflows/latest/RMAW7qsDBClxmRQy__Tool_Language_Select.json
{"updatedAt":"2026-03-15T04:09:20.540Z","createdAt":"2026-03-14T09:52:07.837Z","id":"RMAW7qsDBClxmRQy","name":"[Tool] Language Select","description":null,"active":true,"isArchived":false,"nodes":[{"id":"ls-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[200,300],"parameters":{"inputSource":"passthrough"}},{"id":"ls-route","name":"Route?","type":"n8n-nodes-base.if","typeVersion":2,"position":[450,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ ($json.lang_code || $json.auto_switch) ? 'yes' : '' }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}}},{"id":"ls-save","name":"Save Language","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[700,200],"parameters":{"operation":"executeQuery","query":"INSERT INTO customer_preferences (chat_id, language, updated_at)\nVALUES ({{ $('Start').first().json.chat_id }}, '{{ $('Start').first().json.lang_code || $('Start').first().json.auto_switch }}', NOW())\nON CONFLICT (chat_id) DO UPDATE SET language = '{{ $('Start').first().json.lang_code || $('Start').first().json.auto_switch }}', updated_at = NOW();"},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"ls-confirm","name":"Build Confirm","type":"n8n-nodes-base.code","typeVersion":2,"position":[950,200],"parameters":{"jsCode":"const startJson = $('Start').first().json;\nconst langCode = startJson.lang_code || startJson.auto_switch || 'en';\nconst autoSwitch = startJson.auto_switch || null;\nconst chatId = String(startJson.chat_id || '');\n\nconst autoSwitchMessages = {\"hi\": \"मैं अब हिंदी में जवाब दूंगा। 👍\\n\\nआप क्या चाहेंगे?\", \"bn\": \"আমি এখন বাংলায় উত্তর দেব। 👍\\n\\nআপনি কী চান?\", \"te\": \"నేను ఇప్పుడు తెలుగులో జవాబు ఇస్తాను. 👍\\n\\nమీకు ఏమి కావాలి?\", \"ta\": \"நான் இப்போது தமிழில் பதில் சொல்கிறேன். 👍\\n\\nநீங்கள் என்ன விரும்புகிறீர்கள்?\", \"gu\": \"હું હવે ગુજરાતીમાં જવાબ આપીશ. 👍\\n\\nઆપ શું ઇચ્છો છો?\", \"kn\": \"ನಾನು ಈಗ ಕನ್ನಡದಲ್ಲಿ ಉತ್ತರಿಸುತ್ತೇನೆ. 👍\\n\\nನಿಮಗೆ ಏನು ಬೇಕು?\", \"ml\": \"ഞാൻ ഇനി മലയാളത്തിൽ മറുപടി നൽകും. 👍\\n\\nനിങ്ങൾക്ക് എന്ത് വേണം?\", \"or\": \"ମୁଁ ଏବେ ଓଡ଼ିଆରେ ଉତ୍ତର ଦେବି। 👍\\n\\nଆପଣ କ'ଣ ଚାହୁଁଛନ୍ତି?\", \"pa\": \"ਮੈਂ ਹੁਣ ਪੰਜਾਬੀ ਵਿੱਚ ਜਵਾਬ ਦੇਵਾਂਗਾ। 👍\\n\\nਤੁਸੀਂ ਕੀ ਚਾਹੁੰਦੇ ਹੋ?\", \"en\": \"I'll reply in English. 👍\\n\\nWhat would you like?\"};\n\nconst confirmMessages = {\n  en: \"Got it! I'll reply in English from now on. 👍\",\n  hi: \"ठीक है! मैं अब हिंदी में जवाब दूंगा। 👍\",\n  bn: \"ঠিক আছে! এখন থেকে বাংলায় উত্তর দেব। 👍\",\n  te: \"సరే! ఇప్పటి నుండి తెలుగులో సమాధానం ఇస్తాను. 👍\",\n  mr: \"ठीक आहे! मी आता मराठीत उत्तर देईन. 👍\",\n  ta: \"சரி! இனிமேல் தமிழில் பதில் சொல்கிறேன். 👍\",\n  gu: \"ઠીક છે! હું હવે ગુજરાતીમાં જવાબ આપીશ. 👍\",\n  kn: \"ಸರಿ! ಇನ್ನು ಮೇಲೆ ಕನ್ನಡದಲ್ಲಿ ಉತ್ತರಿಸುತ್ತೇನೆ. 👍\",\n  ml: \"ശരി! ഇനി മലയാളത്തിൽ മറുപടി തരാം. 👍\",\n  or: \"ঠিক আছে! ଏବେ ଓଡ଼ିଆରେ ଉତ୍ତର ଦେବି। 👍\",\n  pa: \"ਠੀਕ ਹੈ! ਹੁਣ ਪੰਜਾਬੀ ਵਿੱਚ ਜਵਾਬ ਦੇਵਾਂਗਾ। 👍\"\n};\n\nlet bodyText;\nif (autoSwitch) {\n  // Auto-detected language: use shorter contextual message\n  bodyText = autoSwitchMessages[autoSwitch] || autoSwitchMessages.en;\n} else {\n  bodyText = confirmMessages[langCode] || confirmMessages.en;\n}\n\nreturn [{ json: {\n  chat_id: chatId,\n  customer_ui_state: 'LANGUAGE_SET',\n  message_type: 'button',\n  body_text: bodyText,\n  buttons: [\n    { id: 'browse', title: 'Shop Items' },\n    { id: 'view_cart', title: '🛒 Cart' },\n  ],\n} }];"}},{"id":"ls-send-confirm","name":"Send Confirm","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,200],"parameters":{"jsCode":"return [$input.item];"}},{"id":"ls-menu","name":"Build Lang Menu","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,400],"parameters":{"jsCode":"const chatId = String($('Start').first().json.chat_id || '');\nreturn [{ json: {\n  chat_id: chatId,\n  message_type: 'list',\n  body_text: '🌐 Choose your language / अपनी भाषा चुनें',\n  list_sections: JSON.stringify([\n    {\n      title: 'Popular Languages',\n      rows: [\n        { id: 'set_lang__en', title: 'English', description: 'English' },\n        { id: 'set_lang__hi', title: 'हिंदी', description: 'Hindi' },\n        { id: 'set_lang__bn', title: 'বাংলা', description: 'Bengali' },\n        { id: 'set_lang__te', title: 'తెలుగు', description: 'Telugu' },\n        { id: 'set_lang__mr', title: 'मराठी', description: 'Marathi' },\n      ]\n    },\n    {\n      title: 'More Languages',\n      rows: [\n        { id: 'set_lang__ta', title: 'Tamil', description: 'Tamil' },\n        { id: 'set_lang__gu', title: 'Gujarati', description: 'Gujarati' },\n        { id: 'set_lang__kn', title: 'Kannada', description: 'Kannada' },\n        { id: 'set_lang__ml', title: 'Malayalam', description: 'Malayalam' },\n        { id: 'set_lang__pa', title: 'Punjabi', description: 'Punjabi' },\n      ]\n    }\n  ]),\n} }];"}},{"id":"ls-send-menu","name":"Send Lang Menu","type":"n8n-nodes-base.code","typeVersion":2,"position":[950,400],"parameters":{"jsCode":"return [$input.item];"}},{"id":"ls-return","name":"Return","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,300],"parameters":{"jsCode":"const payload = $input.item.json;\nreturn [{ json: {\n  ...payload,\n  bypass_path: true,\n} }];"}}],"connections":{"Start":{"main":[[{"node":"Route?","type":"main","index":0}]]},"Route?":{"main":[[{"node":"Save Language","type":"main","index":0}],[{"node":"Build Lang Menu","type":"main","index":0}]]},"Save Language":{"main":[[{"node":"Build Confirm","type":"main","index":0}]]},"Build Confirm":{"main":[[{"node":"Send Confirm","type":"main","index":0}]]},"Send Confirm":{"main":[[{"node":"Return","type":"main","index":0}]]},"Build Lang Menu":{"main":[[{"node":"Send Lang Menu","type":"main","index":0}]]},"Send Lang Menu":{"main":[[{"node":"Return","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"61885c6e-353e-4fcd-a4e8-50affc1dee72","activeVersionId":"61885c6e-353e-4fcd-a4e8-50affc1dee72","versionCounter":22,"triggerCount":0,"shared":[{"updatedAt":"2026-03-14T09:52:07.837Z","createdAt":"2026-03-14T09:52:07.837Z","role":"workflow:owner","workflowId":"RMAW7qsDBClxmRQy","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T04:09:20.555Z","createdAt":"2026-03-15T04:09:20.555Z","versionId":"61885c6e-353e-4fcd-a4e8-50affc1dee72","workflowId":"RMAW7qsDBClxmRQy","nodes":[{"id":"ls-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[200,300],"parameters":{"inputSource":"passthrough"}},{"id":"ls-route","name":"Route?","type":"n8n-nodes-base.if","typeVersion":2,"position":[450,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ ($json.lang_code || $json.auto_switch) ? 'yes' : '' }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"}}},{"id":"ls-save","name":"Save Language","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[700,200],"parameters":{"operation":"executeQuery","query":"INSERT INTO customer_preferences (chat_id, language, updated_at)\nVALUES ({{ $('Start').first().json.chat_id }}, '{{ $('Start').first().json.lang_code || $('Start').first().json.auto_switch }}', NOW())\nON CONFLICT (chat_id) DO UPDATE SET language = '{{ $('Start').first().json.lang_code || $('Start').first().json.auto_switch }}', updated_at = NOW();"},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"ls-confirm","name":"Build Confirm","type":"n8n-nodes-base.code","typeVersion":2,"position":[950,200],"parameters":{"jsCode":"const startJson = $('Start').first().json;\nconst langCode = startJson.lang_code || startJson.auto_switch || 'en';\nconst autoSwitch = startJson.auto_switch || null;\nconst chatId = String(startJson.chat_id || '');\n\nconst autoSwitchMessages = {\"hi\": \"मैं अब हिंदी में जवाब दूंगा। 👍\\n\\nआप क्या चाहेंगे?\", \"bn\": \"আমি এখন বাংলায় উত্তর দেব। 👍\\n\\nআপনি কী চান?\", \"te\": \"నేను ఇప్పుడు తెలుగులో జవాబు ఇస్తాను. 👍\\n\\nమీకు ఏమి కావాలి?\", \"ta\": \"நான் இப்போது தமிழில் பதில் சொல்கிறேன். 👍\\n\\nநீங்கள் என்ன விரும்புகிறீர்கள்?\", \"gu\": \"હું હવે ગુજરાતીમાં જવાબ આપીશ. 👍\\n\\nઆપ શું ઇચ્છો છો?\", \"kn\": \"ನಾನು ಈಗ ಕನ್ನಡದಲ್ಲಿ ಉತ್ತರಿಸುತ್ತೇನೆ. 👍\\n\\nನಿಮಗೆ ಏನು ಬೇಕು?\", \"ml\": \"ഞാൻ ഇനി മലയാളത്തിൽ മറുപടി നൽകും. 👍\\n\\nനിങ്ങൾക്ക് എന്ത് വേണം?\", \"or\": \"ମୁଁ ଏବେ ଓଡ଼ିଆରେ ଉତ୍ତର ଦେବି। 👍\\n\\nଆପଣ କ'ଣ ଚାହୁଁଛନ୍ତି?\", \"pa\": \"ਮੈਂ ਹੁਣ ਪੰਜਾਬੀ ਵਿੱਚ ਜਵਾਬ ਦੇਵਾਂਗਾ। 👍\\n\\nਤੁਸੀਂ ਕੀ ਚਾਹੁੰਦੇ ਹੋ?\", \"en\": \"I'll reply in English. 👍\\n\\nWhat would you like?\"};\n\nconst confirmMessages = {\n  en: \"Got it! I'll reply in English from now on. 👍\",\n  hi: \"ठीक है! मैं अब हिंदी में जवाब दूंगा। 👍\",\n  bn: \"ঠিক আছে! এখন থেকে বাংলায় উত্তর দেব। 👍\",\n  te: \"సరే! ఇప్పటి నుండి తెలుగులో సమాధానం ఇస్తాను. 👍\",\n  mr: \"ठीक आहे! मी आता मराठीत उत्तर देईन. 👍\",\n  ta: \"சரி! இனிமேல் தமிழில் பதில் சொல்கிறேன். 👍\",\n  gu: \"ઠીક છે! હું હવે ગુજરાતીમાં જવાબ આપીશ. 👍\",\n  kn: \"ಸರಿ! ಇನ್ನು ಮೇಲೆ ಕನ್ನಡದಲ್ಲಿ ಉತ್ತರಿಸುತ್ತೇನೆ. 👍\",\n  ml: \"ശരി! ഇനി മലയാളത്തിൽ മറുപടി തരാം. 👍\",\n  or: \"ঠিক আছে! ଏବେ ଓଡ଼ିଆରେ ଉତ୍ତର ଦେବି। 👍\",\n  pa: \"ਠੀਕ ਹੈ! ਹੁਣ ਪੰਜਾਬੀ ਵਿੱਚ ਜਵਾਬ ਦੇਵਾਂਗਾ। 👍\"\n};\n\nlet bodyText;\nif (autoSwitch) {\n  // Auto-detected language: use shorter contextual message\n  bodyText = autoSwitchMessages[autoSwitch] || autoSwitchMessages.en;\n} else {\n  bodyText = confirmMessages[langCode] || confirmMessages.en;\n}\n\nreturn [{ json: {\n  chat_id: chatId,\n  customer_ui_state: 'LANGUAGE_SET',\n  message_type: 'button',\n  body_text: bodyText,\n  buttons: [\n    { id: 'browse', title: 'Shop Items' },\n    { id: 'view_cart', title: '🛒 Cart' },\n  ],\n} }];"}},{"id":"ls-send-confirm","name":"Send Confirm","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,200],"parameters":{"jsCode":"return [$input.item];"}},{"id":"ls-menu","name":"Build Lang Menu","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,400],"parameters":{"jsCode":"const chatId = String($('Start').first().json.chat_id || '');\nreturn [{ json: {\n  chat_id: chatId,\n  message_type: 'list',\n  body_text: '🌐 Choose your language / अपनी भाषा चुनें',\n  list_sections: JSON.stringify([\n    {\n      title: 'Popular Languages',\n      rows: [\n        { id: 'set_lang__en', title: 'English', description: 'English' },\n        { id: 'set_lang__hi', title: 'हिंदी', description: 'Hindi' },\n        { id: 'set_lang__bn', title: 'বাংলা', description: 'Bengali' },\n        { id: 'set_lang__te', title: 'తెలుగు', description: 'Telugu' },\n        { id: 'set_lang__mr', title: 'मराठी', description: 'Marathi' },\n      ]\n    },\n    {\n      title: 'More Languages',\n      rows: [\n        { id: 'set_lang__ta', title: 'Tamil', description: 'Tamil' },\n        { id: 'set_lang__gu', title: 'Gujarati', description: 'Gujarati' },\n        { id: 'set_lang__kn', title: 'Kannada', description: 'Kannada' },\n        { id: 'set_lang__ml', title: 'Malayalam', description: 'Malayalam' },\n        { id: 'set_lang__pa', title: 'Punjabi', description: 'Punjabi' },\n      ]\n    }\n  ]),\n} }];"}},{"id":"ls-send-menu","name":"Send Lang Menu","type":"n8n-nodes-base.code","typeVersion":2,"position":[950,400],"parameters":{"jsCode":"return [$input.item];"}},{"id":"ls-return","name":"Return","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,300],"parameters":{"jsCode":"const payload = $input.item.json;\nreturn [{ json: {\n  ...payload,\n  bypass_path: true,\n} }];"}}],"connections":{"Start":{"main":[[{"node":"Route?","type":"main","index":0}]]},"Route?":{"main":[[{"node":"Save Language","type":"main","index":0}],[{"node":"Build Lang Menu","type":"main","index":0}]]},"Save Language":{"main":[[{"node":"Build Confirm","type":"main","index":0}]]},"Build Confirm":{"main":[[{"node":"Send Confirm","type":"main","index":0}]]},"Send Confirm":{"main":[[{"node":"Return","type":"main","index":0}]]},"Build Lang Menu":{"main":[[{"node":"Send Lang Menu","type":"main","index":0}]]},"Send Lang Menu":{"main":[[{"node":"Return","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-15T04:09:20.890Z","id":2256,"workflowId":"RMAW7qsDBClxmRQy","versionId":"61885c6e-353e-4fcd-a4e8-50affc1dee72","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-15T04:09:20.969Z","id":2257,"workflowId":"RMAW7qsDBClxmRQy","versionId":"61885c6e-353e-4fcd-a4e8-50affc1dee72","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}