workflows/latest/S0QE8s0YvcDagSnW__Tool_Track_Order.json
{"updatedAt":"2026-03-15T08:35:38.083Z","createdAt":"2026-03-03T11:23:37.525Z","id":"S0QE8s0YvcDagSnW","name":"[Tool] Track Order","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"8ffcf836-c2fa-45c5-8c64-2ac88e86a54a","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-480,160]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"order-id-check","leftValue":"={{ $json.tool_input.order_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"d61a7040-a08d-4e4b-ad26-cae73549039d","name":"Order ID Provided?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,160]},{"parameters":{"operation":"get","tableId":"order_summary","filters":{"conditions":[{"keyName":"order_id","keyValue":"={{ $('Start').first().json.tool_input.order_id }}"},{"keyName":"chat_id","keyValue":"={{ $('Start').first().json.tool_input.chat_id }}"}]}},"id":"7367a090-e0fc-4dac-8dda-01c0891379b2","name":"Get Order By ID","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,0],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"operation":"executeQuery","tableId":"order_summary","limit":1,"filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('Start').first().json.tool_input.chat_id }}"}]},"query":"=SELECT *\nFROM public.order_summary\nWHERE chat_id = {{ $('Start').first().json.tool_input.chat_id }}\nORDER BY order_created_at DESC\nLIMIT 1;","options":{}},"id":"3802b507-447e-4eed-8903-ab34bcbfe166","name":"Get Latest Order By Chat","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,320],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"order-found-check","leftValue":"={{ $json.order_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"6fe1a7cc-c698-46ed-a1cc-4d6b7eb4e225","name":"Order Found?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[512,160]},{"parameters":{"jsCode":"const root = (() => {\n  try {\n    const start = $('Start').first();\n    if (start && start.json) return start.json;\n  } catch {}\n  if ($json && typeof $json === 'object' && Object.keys($json).length > 0) return $json;\n  try {\n    const current = $input.first();\n    return (current && current.json) ? current.json : {};\n  } catch {}\n  return {};\n})();\nconst toolInput = (root.tool_input && typeof root.tool_input === 'object') ? root.tool_input : root;\nconst chatId = String(toolInput.chat_id || '');\nconst orderId = String(toolInput.order_id || '');\nconst message = orderId\n  ? 'No order found with ID #' + orderId + '. Please check and try again.'\n  : 'You have no orders yet. Start shopping and I will build the cart for you.';\nreturn [{ json: {\n  confirmation_message: message,\n  chat_id: String(chatId),\n  message_type: 'button',\n  buttons: [\n    { id: 'browse', title: 'Shop Items' },\n    { id: 'get_promos', title: 'Offers' },\n  ],\n} }];","mode":"runOnceForAllItems"},"id":"5140e5b2-0bbe-4811-aa84-72e972253978","name":"Format No Orders Found","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,0]},{"parameters":{"operation":"getAll","tableId":"orders","returnAll":true,"filters":{"conditions":[{"keyName":"order_id","condition":"eq","keyValue":"={{ $json.order_id }}"}]}},"id":"2c2942a4-34d1-4438-a24f-0ba662477667","name":"Get Order Items","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[752,320],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"jsCode":"const order = $('Order Found?').first().json;\nconst items = $('Get Order Items').all().map((entry) => entry.json);\nconst root = (() => {\n  try {\n    const start = $('Start').first();\n    if (start && start.json) return start.json;\n  } catch {}\n  if ($json && typeof $json === 'object' && Object.keys($json).length > 0) return $json;\n  try {\n    const current = $input.first();\n    return (current && current.json) ? current.json : {};\n  } catch {}\n  return {};\n})();\nconst toolInput = (root.tool_input && typeof root.tool_input === 'object') ? root.tool_input : root;\nconst chatId = String(toolInput.chat_id || '');\n\nlet liveStatus = 'confirmed';\ntry {\n  const liveRow = $('Get Live Status').first().json;\n  if (liveRow && liveRow.status) liveStatus = liveRow.status;\n} catch (error) {}\n\nconst statusLabel = {\n  confirmed: 'Order received',\n  processing: 'Packing your order',\n  packed: 'Packed and getting ready',\n  dispatched: 'On the way',\n  delivered: 'Delivered',\n  rejected: 'Could not be fulfilled',\n  cancelled: 'Cancelled',\n  pending_confirmation: 'Pending confirmation',\n  pending_acceptance: 'Waiting for store acceptance',\n}[liveStatus] || liveStatus;\n\nconst orderDate = new Date(order.order_created_at).toLocaleDateString('en-IN', {\n  day: '2-digit', month: 'short', year: 'numeric',\n});\n\nconst itemLines = items.map((entry) => '• ' + entry.name + ' × ' + entry.quantity).join('\\n');\nconst message =\n  'Order #' + order.order_id + '\\n' +\n  'Status: ' + statusLabel + '\\n' +\n  'Placed: ' + orderDate + '\\n' +\n  'Deliver to: ' + order.shipping_address + '\\n\\n' +\n  'Items:\\n' + itemLines + '\\n\\n' +\n  'Total paid: ₹' + parseFloat(order.final_order_total).toFixed(2);\n\nif (liveStatus === 'delivered') {\n  return [{ json: {\n    confirmation_message: message,\n    chat_id: String(chatId),\n    customer_ui_state: 'TRACKING',\n    message_type: 'list',\n    list_sections: [{\n      title: 'What next?',\n      rows: [\n        { id: 'rate_good__' + order.order_id, title: 'All good', description: 'Close this order positively' },\n        { id: 'rate_bad__' + order.order_id, title: 'Report issue', description: 'Share a problem with this delivery' },\n        { id: 'browse', title: 'Shop again', description: 'Start a fresh order' },\n      ],\n    }],\n  } }];\n}\n\nreturn [{ json: {\n  confirmation_message: message,\n  chat_id: String(chatId),\n  customer_ui_state: 'TRACKING',\n  message_type: 'button',\n  buttons: [\n    { id: 'browse', title: 'Shop Again' },\n    { id: 'view_cart', title: '🛒 View Cart' },\n  ],\n} }];","mode":"runOnceForAllItems"},"id":"8c4e2dae-5e2b-4c44-8e88-f6a6dcb29d9b","name":"Format Tracking Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,320]},{"parameters":{"operation":"executeQuery","query":"=SELECT status, updated_at, order_id\nFROM public.pending_orders\nWHERE order_id = '{{ $json.order_id }}'\nLIMIT 1;","options":{}},"id":"03de5c9b-d6c2-4a05-bba0-1ebbdf6d565d","name":"Get Live Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,160],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}}],"connections":{"Start":{"main":[[{"node":"Order ID Provided?","type":"main","index":0}]]},"Order ID Provided?":{"main":[[{"node":"Get Order By ID","type":"main","index":0}],[{"node":"Get Latest Order By Chat","type":"main","index":0}]]},"Order Found?":{"main":[[{"node":"Get Live Status","type":"main","index":0}],[{"node":"Format No Orders Found","type":"main","index":0}]]},"Get Order Items":{"main":[[{"node":"Format Tracking Message","type":"main","index":0}]]},"Get Order By ID":{"main":[[{"node":"Order Found?","type":"main","index":0}]]},"Get Latest Order By Chat":{"main":[[{"node":"Order Found?","type":"main","index":0}]]},"Get Live Status":{"main":[[{"node":"Get Order Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a57bcf4-d3f7-450b-8bc1-17bda47a345f","activeVersionId":"4a57bcf4-d3f7-450b-8bc1-17bda47a345f","versionCounter":71,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T11:23:37.525Z","createdAt":"2026-03-03T11:23:37.525Z","role":"workflow:owner","workflowId":"S0QE8s0YvcDagSnW","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T08:35:38.088Z","createdAt":"2026-03-15T08:35:38.088Z","versionId":"4a57bcf4-d3f7-450b-8bc1-17bda47a345f","workflowId":"S0QE8s0YvcDagSnW","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"8ffcf836-c2fa-45c5-8c64-2ac88e86a54a","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-480,160]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"order-id-check","leftValue":"={{ $json.tool_input.order_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"d61a7040-a08d-4e4b-ad26-cae73549039d","name":"Order ID Provided?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,160]},{"parameters":{"operation":"get","tableId":"order_summary","filters":{"conditions":[{"keyName":"order_id","keyValue":"={{ $('Start').first().json.tool_input.order_id }}"},{"keyName":"chat_id","keyValue":"={{ $('Start').first().json.tool_input.chat_id }}"}]}},"id":"7367a090-e0fc-4dac-8dda-01c0891379b2","name":"Get Order By ID","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,0],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"operation":"executeQuery","tableId":"order_summary","limit":1,"filters":{"conditions":[{"keyName":"chat_id","condition":"eq","keyValue":"={{ $('Start').first().json.tool_input.chat_id }}"}]},"query":"=SELECT *\nFROM public.order_summary\nWHERE chat_id = {{ $('Start').first().json.tool_input.chat_id }}\nORDER BY order_created_at DESC\nLIMIT 1;","options":{}},"id":"3802b507-447e-4eed-8903-ab34bcbfe166","name":"Get Latest Order By Chat","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,320],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"order-found-check","leftValue":"={{ $json.order_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"6fe1a7cc-c698-46ed-a1cc-4d6b7eb4e225","name":"Order Found?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[512,160]},{"parameters":{"jsCode":"const root = (() => {\n  try {\n    const start = $('Start').first();\n    if (start && start.json) return start.json;\n  } catch {}\n  if ($json && typeof $json === 'object' && Object.keys($json).length > 0) return $json;\n  try {\n    const current = $input.first();\n    return (current && current.json) ? current.json : {};\n  } catch {}\n  return {};\n})();\nconst toolInput = (root.tool_input && typeof root.tool_input === 'object') ? root.tool_input : root;\nconst chatId = String(toolInput.chat_id || '');\nconst orderId = String(toolInput.order_id || '');\nconst message = orderId\n  ? 'No order found with ID #' + orderId + '. Please check and try again.'\n  : 'You have no orders yet. Start shopping and I will build the cart for you.';\nreturn [{ json: {\n  confirmation_message: message,\n  chat_id: String(chatId),\n  message_type: 'button',\n  buttons: [\n    { id: 'browse', title: 'Shop Items' },\n    { id: 'get_promos', title: 'Offers' },\n  ],\n} }];","mode":"runOnceForAllItems"},"id":"5140e5b2-0bbe-4811-aa84-72e972253978","name":"Format No Orders Found","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,0]},{"parameters":{"operation":"getAll","tableId":"orders","returnAll":true,"filters":{"conditions":[{"keyName":"order_id","condition":"eq","keyValue":"={{ $json.order_id }}"}]}},"id":"2c2942a4-34d1-4438-a24f-0ba662477667","name":"Get Order Items","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[752,320],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"tlMgM3MOoJylXsaC","name":"n8n_supabase"}}},{"parameters":{"jsCode":"const order = $('Order Found?').first().json;\nconst items = $('Get Order Items').all().map((entry) => entry.json);\nconst root = (() => {\n  try {\n    const start = $('Start').first();\n    if (start && start.json) return start.json;\n  } catch {}\n  if ($json && typeof $json === 'object' && Object.keys($json).length > 0) return $json;\n  try {\n    const current = $input.first();\n    return (current && current.json) ? current.json : {};\n  } catch {}\n  return {};\n})();\nconst toolInput = (root.tool_input && typeof root.tool_input === 'object') ? root.tool_input : root;\nconst chatId = String(toolInput.chat_id || '');\n\nlet liveStatus = 'confirmed';\ntry {\n  const liveRow = $('Get Live Status').first().json;\n  if (liveRow && liveRow.status) liveStatus = liveRow.status;\n} catch (error) {}\n\nconst statusLabel = {\n  confirmed: 'Order received',\n  processing: 'Packing your order',\n  packed: 'Packed and getting ready',\n  dispatched: 'On the way',\n  delivered: 'Delivered',\n  rejected: 'Could not be fulfilled',\n  cancelled: 'Cancelled',\n  pending_confirmation: 'Pending confirmation',\n  pending_acceptance: 'Waiting for store acceptance',\n}[liveStatus] || liveStatus;\n\nconst orderDate = new Date(order.order_created_at).toLocaleDateString('en-IN', {\n  day: '2-digit', month: 'short', year: 'numeric',\n});\n\nconst itemLines = items.map((entry) => '• ' + entry.name + ' × ' + entry.quantity).join('\\n');\nconst message =\n  'Order #' + order.order_id + '\\n' +\n  'Status: ' + statusLabel + '\\n' +\n  'Placed: ' + orderDate + '\\n' +\n  'Deliver to: ' + order.shipping_address + '\\n\\n' +\n  'Items:\\n' + itemLines + '\\n\\n' +\n  'Total paid: ₹' + parseFloat(order.final_order_total).toFixed(2);\n\nif (liveStatus === 'delivered') {\n  return [{ json: {\n    confirmation_message: message,\n    chat_id: String(chatId),\n    customer_ui_state: 'TRACKING',\n    message_type: 'list',\n    list_sections: [{\n      title: 'What next?',\n      rows: [\n        { id: 'rate_good__' + order.order_id, title: 'All good', description: 'Close this order positively' },\n        { id: 'rate_bad__' + order.order_id, title: 'Report issue', description: 'Share a problem with this delivery' },\n        { id: 'browse', title: 'Shop again', description: 'Start a fresh order' },\n      ],\n    }],\n  } }];\n}\n\nreturn [{ json: {\n  confirmation_message: message,\n  chat_id: String(chatId),\n  customer_ui_state: 'TRACKING',\n  message_type: 'button',\n  buttons: [\n    { id: 'browse', title: 'Shop Again' },\n    { id: 'view_cart', title: '🛒 View Cart' },\n  ],\n} }];","mode":"runOnceForAllItems"},"id":"8c4e2dae-5e2b-4c44-8e88-f6a6dcb29d9b","name":"Format Tracking Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,320]},{"parameters":{"operation":"executeQuery","query":"=SELECT status, updated_at, order_id\nFROM public.pending_orders\nWHERE order_id = '{{ $json.order_id }}'\nLIMIT 1;","options":{}},"id":"03de5c9b-d6c2-4a05-bba0-1ebbdf6d565d","name":"Get Live Status","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,160],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}}],"connections":{"Start":{"main":[[{"node":"Order ID Provided?","type":"main","index":0}]]},"Order ID Provided?":{"main":[[{"node":"Get Order By ID","type":"main","index":0}],[{"node":"Get Latest Order By Chat","type":"main","index":0}]]},"Order Found?":{"main":[[{"node":"Get Live Status","type":"main","index":0}],[{"node":"Format No Orders Found","type":"main","index":0}]]},"Get Order Items":{"main":[[{"node":"Format Tracking Message","type":"main","index":0}]]},"Get Order By ID":{"main":[[{"node":"Order Found?","type":"main","index":0}]]},"Get Latest Order By Chat":{"main":[[{"node":"Order Found?","type":"main","index":0}]]},"Get Live Status":{"main":[[{"node":"Get Order Items","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-15T08:35:38.176Z","id":2331,"workflowId":"S0QE8s0YvcDagSnW","versionId":"4a57bcf4-d3f7-450b-8bc1-17bda47a345f","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-15T08:35:38.213Z","id":2332,"workflowId":"S0QE8s0YvcDagSnW","versionId":"4a57bcf4-d3f7-450b-8bc1-17bda47a345f","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}