workflows/latest/soDRL6b8KjYrP0dt__Test_Customer_Regression_Runner.json
{"updatedAt":"2026-03-11T14:09:36.362Z","createdAt":"2026-03-11T13:37:19.943Z","id":"soDRL6b8KjYrP0dt","name":"[Test] Customer Regression Runner","description":null,"active":false,"isArchived":false,"nodes":[{"id":"trigger","name":"Every Minute","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[240,320],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}}},{"id":"cust-seed","name":"Seed Customer Inputs","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const tag = 'zzc' + String(Date.now()).slice(-6);\nconst customerChat = '91' + String(Date.now() + 11111).slice(-10);\nconst cancelChat = '91' + String(Date.now() + 22222).slice(-10);\nreturn [{\n  json: {\n    tag,\n    owner_chat_id: '919148969183',\n    customer_chat_id: customerChat,\n    cancel_chat_id: cancelChat,\n    empty_chat_id: '91' + String(Date.now() + 33333).slice(-10),\n    product_name: tag + ' user item',\n    product_message: tag + ' user item 45 10',\n    address: '221 Test Street, Bengaluru',\n    test_mode: true,\n  },\n}];"}},{"id":"cust-owner-preview-req","name":"Build Owner Item Preview Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,120],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Customer Inputs').first().json; return [{ json: { chat_id: s.owner_chat_id, message: s.product_message, test_mode: true } }];"}},{"id":"cust-owner-preview","name":"Run Owner Item Preview","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[940,120],"parameters":{"workflowId":{"__rl":true,"value":"yfCi0KEpBibSXI3M","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"cust-owner-confirm-id","name":"Extract Owner Item Confirm","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,120],"parameters":{"mode":"runOnceForAllItems","jsCode":"const r = $('Run Owner Item Preview').first().json || {}; const buttons = Array.isArray(r.buttons) ? r.buttons : []; const confirm = buttons.find((b) => String(b.id || '').startsWith('owner_inv_confirm__')); return [{ json: { ...( $('Seed Customer Inputs').first().json || {} ), owner_confirm_id: confirm ? String(confirm.id) : '' } }];"}},{"id":"cust-owner-confirm-req","name":"Build Owner Item Confirm Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,120],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Extract Owner Item Confirm').first().json || {}; return [{ json: { chat_id: d.owner_chat_id, button_id: d.owner_confirm_id, source_type: 'button', test_mode: true } }];"}},{"id":"cust-owner-confirm","name":"Run Owner Item Confirm","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1660,120],"parameters":{"workflowId":{"__rl":true,"value":"yfCi0KEpBibSXI3M","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"cust-empty-place-req","name":"Build Empty Place Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,280],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Customer Inputs').first().json; return [{ json: { tool_input: { chat_id: s.empty_chat_id, address: s.address } } }];"}},{"id":"cust-empty-place","name":"Run Empty Place Order","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[940,280],"parameters":{"workflowId":{"__rl":true,"value":"UgRHM83Qlh9S6Zor","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"cust-empty-confirm-req","name":"Build Empty Confirm Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,280],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Customer Inputs').first().json; return [{ json: { tool_input: { chat_id: s.empty_chat_id, test_mode: true } } }];"}},{"id":"cust-empty-confirm","name":"Run Empty Confirm Order","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1420,280],"parameters":{"workflowId":{"__rl":true,"value":"62u82sIei3owzaiU","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"cust-add-req","name":"Build Customer Add Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Customer Inputs').first().json; return [{ json: { tool_input: { chat_id: s.customer_chat_id, product_name: s.product_name, quantity: 2 } } }];"}},{"id":"cust-add","name":"Run Customer Add","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[940,440],"parameters":{"workflowId":{"__rl":true,"value":"yKZu2D7Vn3NZUw1L","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"cust-view-req","name":"Build View Cart Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Customer Inputs').first().json; return [{ json: { tool_input: { chat_id: s.customer_chat_id } } }];"}},{"id":"cust-view","name":"Run View Cart","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1420,440],"parameters":{"workflowId":{"__rl":true,"value":"uFTUnWOeBHXiP2AI","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"cust-place-req","name":"Build Customer Place Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Customer Inputs').first().json; return [{ json: { tool_input: { chat_id: s.customer_chat_id, address: s.address } } }];"}},{"id":"cust-place","name":"Run Customer Place","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1900,440],"parameters":{"workflowId":{"__rl":true,"value":"UgRHM83Qlh9S6Zor","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"cust-confirm-button","name":"Extract Customer Confirm Button","type":"n8n-nodes-base.code","typeVersion":2,"position":[2140,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const r = $('Run Customer Place').first().json || {}; const buttons = Array.isArray(r.buttons) ? r.buttons : []; const confirm = buttons.find((b) => String(b.id || '') === 'confirm_order'); return [{ json: { ...( $('Seed Customer Inputs').first().json || {} ), confirm_button_id: confirm ? String(confirm.id) : '' } }];"}},{"id":"cust-confirm-req","name":"Build Customer Confirm Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[2380,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Customer Inputs').first().json; return [{ json: { tool_input: { chat_id: s.customer_chat_id, test_mode: true } } }];"}},{"id":"cust-confirm","name":"Run Customer Confirm","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2620,440],"parameters":{"workflowId":{"__rl":true,"value":"62u82sIei3owzaiU","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"cust-track-req","name":"Build Track Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[2860,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Customer Inputs').first().json; return [{ json: { tool_input: { chat_id: s.customer_chat_id, order_id: '' } } }];"}},{"id":"cust-track","name":"Run Track Order","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3100,440],"parameters":{"workflowId":{"__rl":true,"value":"S0QE8s0YvcDagSnW","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"cust-cancel-add-req","name":"Build Cancel Add Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,620],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Customer Inputs').first().json; return [{ json: { tool_input: { chat_id: s.cancel_chat_id, product_name: s.product_name, quantity: 1 } } }];"}},{"id":"cust-cancel-add","name":"Run Cancel Add","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[940,620],"parameters":{"workflowId":{"__rl":true,"value":"yKZu2D7Vn3NZUw1L","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"cust-cancel-place-req","name":"Build Cancel Place Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,620],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Customer Inputs').first().json; return [{ json: { tool_input: { chat_id: s.cancel_chat_id, address: s.address } } }];"}},{"id":"cust-cancel-place","name":"Run Cancel Place","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1420,620],"parameters":{"workflowId":{"__rl":true,"value":"UgRHM83Qlh9S6Zor","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"cust-cancel-req","name":"Build Cancel Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,620],"parameters":{"mode":"runOnceForAllItems","jsCode":"const s = $('Seed Customer Inputs').first().json; return [{ json: { tool_input: { chat_id: s.cancel_chat_id } } }];"}},{"id":"cust-cancel","name":"Run Cancel Order","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1900,620],"parameters":{"workflowId":{"__rl":true,"value":"OY8zswARgKBX7XjP","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"cust-verify","name":"Verify Customer DB State","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2140,620],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Seed Customer Inputs').first().json || {}; const customer = String(s.customer_chat_id || '').replace(/'/g, \"''\"); const cancel = String(s.cancel_chat_id || '').replace(/'/g, \"''\"); const empty = String(s.empty_chat_id || '').replace(/'/g, \"''\"); const tag = String(s.tag || '').replace(/'/g, \"''\"); return `SELECT 'order_summary' AS kind, COUNT(*)::text AS value FROM public.order_summary WHERE chat_id = ${customer} UNION ALL SELECT 'orders' AS kind, COUNT(*)::text AS value FROM public.orders WHERE user_id = ${customer} UNION ALL SELECT 'cancel_pending' AS kind, COUNT(*)::text AS value FROM public.pending_orders WHERE chat_id = ${cancel} AND status IN ('awaiting_confirmation','processing') UNION ALL SELECT 'active_cart_customer' AS kind, COUNT(*)::text AS value FROM public.carts WHERE user_id = ${customer} AND status = 'active' UNION ALL SELECT 'active_cart_cancel' AS kind, COUNT(*)::text AS value FROM public.carts WHERE user_id = ${cancel} AND status = 'active' UNION ALL SELECT 'inventory_rows' AS kind, COUNT(*)::text AS value FROM public.inventory WHERE item_name ILIKE '%' || '${tag}' || '%' UNION ALL SELECT 'pending_empty' AS kind, COUNT(*)::text AS value FROM public.pending_orders WHERE chat_id = ${empty};`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"cust-cleanup","name":"Cleanup Customer Test Data","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2380,620],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Seed Customer Inputs').first().json || {}; const customer = String(s.customer_chat_id || '').replace(/'/g, \"''\"); const cancel = String(s.cancel_chat_id || '').replace(/'/g, \"''\"); const empty = String(s.empty_chat_id || '').replace(/'/g, \"''\"); const tag = String(s.tag || '').replace(/'/g, \"''\"); return `DELETE FROM public.pending_orders WHERE chat_id IN (${customer}, ${cancel}, ${empty}); DELETE FROM public.order_feedback WHERE chat_id::text IN ('${customer}', '${cancel}', '${empty}'); DELETE FROM public.orders WHERE user_id IN (${customer}, ${cancel}, ${empty}); DELETE FROM public.order_summary WHERE chat_id IN (${customer}, ${cancel}, ${empty}); DELETE FROM public.cart_items WHERE cart_id IN (SELECT cart_id FROM public.carts WHERE user_id IN (${customer}, ${cancel}, ${empty})); DELETE FROM public.carts WHERE user_id IN (${customer}, ${cancel}, ${empty}); DELETE FROM public.inventory WHERE item_name ILIKE '%' || '${tag}' || '%'; SELECT 'cleanup' AS result;`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"cust-format","name":"Format Customer Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[2620,620],"parameters":{"mode":"runOnceForAllItems","jsCode":"const seed = $('Seed Customer Inputs').first().json || {};\nconst ownerPreview = $('Run Owner Item Preview').first().json || {};\nconst ownerApply = $('Run Owner Item Confirm').first().json || {};\nconst emptyPlace = $('Run Empty Place Order').first().json || {};\nconst emptyConfirm = $('Run Empty Confirm Order').first().json || {};\nconst add = $('Run Customer Add').first().json || {};\nconst view = $('Run View Cart').first().json || {};\nconst place = $('Run Customer Place').first().json || {};\nconst confirm = $('Run Customer Confirm').first().json || {};\nconst track = $('Run Track Order').first().json || {};\nconst cancel = $('Run Cancel Order').first().json || {};\nconst dbRows = $('Verify Customer DB State').all().map((item) => item.json || {});\nconst byKind = (kind) => dbRows.find((row) => row.kind === kind) || {};\nconst hasConfirmButton = Array.isArray(place.buttons) && place.buttons.some((button) => String(button.id || '') === 'confirm_order');\nreturn [{\n  json: {\n    customer_chat_id: seed.customer_chat_id,\n    cancel_chat_id: seed.cancel_chat_id,\n    responses: {\n      owner_preview: String(ownerPreview.body_text || ownerPreview.confirmation_message || ''),\n      owner_apply: String(ownerApply.body_text || ownerApply.confirmation_message || ''),\n      empty_place: String(emptyPlace.body_text || emptyPlace.confirmation_message || ''),\n      empty_confirm: String(emptyConfirm.body_text || emptyConfirm.confirmation_message || ''),\n      add: String(add.confirmation_message || add.body_text || ''),\n      view: String(view.confirmation_message || view.body_text || ''),\n      place: String(place.body_text || place.confirmation_message || ''),\n      confirm: String(confirm.confirmation_message || confirm.body_text || ''),\n      track: String(track.confirmation_message || track.body_text || ''),\n      cancel: String(cancel.confirmation_message || cancel.body_text || ''),\n    },\n    checks: {\n      owner_preview_has_confirm: Array.isArray(ownerPreview.buttons) && ownerPreview.buttons.some((button) => String(button.id || '').startsWith('owner_inv_confirm__')),\n      owner_apply_ok: /catalog updated/i.test(String(ownerApply.body_text || ownerApply.confirmation_message || '')),\n      empty_place_ok: /cart is empty/i.test(String(emptyPlace.body_text || emptyPlace.confirmation_message || '')),\n      empty_confirm_ok: /no pending order|no pending bill|there is no pending/i.test(String(emptyConfirm.confirmation_message || emptyConfirm.body_text || '')),\n      add_ok: /added|cart|₹|rs\\.?/i.test(String(add.confirmation_message || add.body_text || '')),\n      view_ok: /cart|total/i.test(String(view.confirmation_message || view.body_text || '')),\n      place_has_confirm: hasConfirmButton,\n      confirm_ok: /order confirmed/i.test(String(confirm.confirmation_message || confirm.body_text || '')),\n      track_ok: /order|status|confirmed|processing/i.test(String(track.confirmation_message || track.body_text || '')),\n      cancel_ok: /cancel/i.test(String(cancel.confirmation_message || cancel.body_text || '')),\n      db_order_summary_present: Number(byKind('order_summary').value || 0) >= 1,\n      db_orders_present: Number(byKind('orders').value || 0) >= 1,\n      cancel_pending_cleared: Number(byKind('cancel_pending').value || 0) === 0,\n      customer_active_cart_cleared: Number(byKind('active_cart_customer').value || 0) === 0,\n      cancel_active_cart_cleared: Number(byKind('active_cart_cancel').value || 0) === 0,\n      inventory_rows_created: Number(byKind('inventory_rows').value || 0) >= 1,\n    },\n    db_rows: dbRows,\n  },\n}];"}}],"connections":{"Every Minute":{"main":[[{"node":"Seed Customer Inputs","type":"main","index":0}]]},"Seed Customer Inputs":{"main":[[{"node":"Build Owner Item Preview Request","type":"main","index":0}]]},"Build Owner Item Preview Request":{"main":[[{"node":"Run Owner Item Preview","type":"main","index":0}]]},"Run Owner Item Preview":{"main":[[{"node":"Extract Owner Item Confirm","type":"main","index":0}]]},"Extract Owner Item Confirm":{"main":[[{"node":"Build Owner Item Confirm Request","type":"main","index":0}]]},"Build Owner Item Confirm Request":{"main":[[{"node":"Run Owner Item Confirm","type":"main","index":0}]]},"Run Owner Item Confirm":{"main":[[{"node":"Build Empty Place Request","type":"main","index":0}]]},"Build Empty Place Request":{"main":[[{"node":"Run Empty Place Order","type":"main","index":0}]]},"Run Empty Place Order":{"main":[[{"node":"Build Empty Confirm Request","type":"main","index":0}]]},"Build Empty Confirm Request":{"main":[[{"node":"Run Empty Confirm Order","type":"main","index":0}]]},"Run Empty Confirm Order":{"main":[[{"node":"Build Customer Add Request","type":"main","index":0}]]},"Build Customer Add Request":{"main":[[{"node":"Run Customer Add","type":"main","index":0}]]},"Run Customer Add":{"main":[[{"node":"Build View Cart Request","type":"main","index":0}]]},"Build View Cart Request":{"main":[[{"node":"Run View Cart","type":"main","index":0}]]},"Run View Cart":{"main":[[{"node":"Build Customer Place Request","type":"main","index":0}]]},"Build Customer Place Request":{"main":[[{"node":"Run Customer Place","type":"main","index":0}]]},"Run Customer Place":{"main":[[{"node":"Extract Customer Confirm Button","type":"main","index":0}]]},"Extract Customer Confirm Button":{"main":[[{"node":"Build Customer Confirm Request","type":"main","index":0}]]},"Build Customer Confirm Request":{"main":[[{"node":"Run Customer Confirm","type":"main","index":0}]]},"Run Customer Confirm":{"main":[[{"node":"Build Track Request","type":"main","index":0}]]},"Build Track Request":{"main":[[{"node":"Run Track Order","type":"main","index":0}]]},"Run Track Order":{"main":[[{"node":"Build Cancel Add Request","type":"main","index":0}]]},"Build Cancel Add Request":{"main":[[{"node":"Run Cancel Add","type":"main","index":0}]]},"Run Cancel Add":{"main":[[{"node":"Build Cancel Place Request","type":"main","index":0}]]},"Build Cancel Place Request":{"main":[[{"node":"Run Cancel Place","type":"main","index":0}]]},"Run Cancel Place":{"main":[[{"node":"Build Cancel Request","type":"main","index":0}]]},"Build Cancel Request":{"main":[[{"node":"Run Cancel Order","type":"main","index":0}]]},"Run Cancel Order":{"main":[[{"node":"Verify Customer DB State","type":"main","index":0}]]},"Verify Customer DB State":{"main":[[{"node":"Cleanup Customer Test Data","type":"main","index":0}]]},"Cleanup Customer Test Data":{"main":[[{"node":"Format Customer Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Every Minute":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"3a7e5548-7bdb-4bb1-a080-7dc5f4575da2","activeVersionId":null,"versionCounter":21,"triggerCount":1,"shared":[{"updatedAt":"2026-03-11T13:37:19.943Z","createdAt":"2026-03-11T13:37:19.943Z","role":"workflow:owner","workflowId":"soDRL6b8KjYrP0dt","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":null}