workflows/latest/syLqocDmkt0MjFkv__Owner_Bulk_Import_Intake.json
{"updatedAt":"2026-03-11T11:37:50.705Z","createdAt":"2026-03-11T03:41:30.067Z","id":"syLqocDmkt0MjFkv","name":"[Owner] Bulk Import Intake","description":null,"active":true,"isArchived":false,"nodes":[{"id":"bulk-intake-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,320],"parameters":{"inputSource":"passthrough"}},{"id":"bulk-intake-normalize","name":"Normalize Intake","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst raw = ($json.tool_input && typeof $json.tool_input === 'object') ? $json.tool_input : $json;\nconst message = String(raw.message || raw.media_caption || '').trim();\nconst buttonId = String(raw.button_id || '').trim();\nconst sourceType = String(raw.source_type || (buttonId ? 'button' : 'text')).trim() || 'text';\nreturn [{\n  json: {\n    ...raw,\n    chat_id: String(raw.chat_id || ''),\n    message,\n    button_id: buttonId,\n    source_type: sourceType,\n    media_id: String(raw.media_id || ''),\n    media_mime_type: String(raw.media_mime_type || ''),\n    media_filename: String(raw.media_filename || ''),\n    media_caption: String(raw.media_caption || ''),\n    store_id: raw.store_id || null,\n    test_file_base64: String(raw.test_file_base64 || ''),\n    test_file_name: String(raw.test_file_name || raw.media_filename || ''),\n    test_file_mime_type: String(raw.test_file_mime_type || raw.media_mime_type || ''),\n    test_sheet_rows: Array.isArray(raw.test_sheet_rows) ? raw.test_sheet_rows : [],\n    test_mode: raw.test_mode === true,\n    bulk_mode: String(raw.bulk_mode || ''),\n    export_url: String(raw.export_url || ''),\n    source_ref: String(raw.source_ref || ''),\n    job_id: String(raw.job_id || ''),\n  },\n  binary: input?.binary || {},\n}];"}},{"id":"bulk-intake-store","name":"Resolve Store Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,320],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"=SELECT store_id, store_name, onboarding_step FROM public.stores WHERE (({{ Number($('Normalize Intake').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Normalize Intake').first().json.store_id || 0) }}) OR owner_whatsapp_number = '{{ $('Normalize Intake').first().json.chat_id }}') ORDER BY CASE WHEN {{ Number($('Normalize Intake').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Normalize Intake').first().json.store_id || 0) }} THEN 0 WHEN owner_whatsapp_number = '{{ $('Normalize Intake').first().json.chat_id }}' THEN 1 ELSE 2 END, COALESCE(onboarding_step, 0) DESC, COALESCE(store_id, 0) DESC, created_at DESC NULLS LAST LIMIT 1;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"bulk-intake-decide","name":"Decide Intake","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Normalize Intake').first().json || {};\nconst message = String(d.message || '').trim();\nconst buttonId = String(d.button_id || '');\nconst sourceType = String(d.source_type || 'text');\nconst sheetMatch = message.match(/https?:\\/\\/docs\\.google\\.com\\/spreadsheets\\/d\\/([a-zA-Z0-9-_]+)/i);\nlet action = 'prompt';\nif (buttonId.startsWith('owner_bulk_apply__')) action = 'apply';\nelse if (buttonId.startsWith('owner_bulk_cancel__')) action = 'cancel';\nelse if (sourceType === 'document' || sourceType === 'image') action = 'start';\nelse if (sheetMatch || (Array.isArray(d.test_sheet_rows) && d.test_sheet_rows.length)) action = 'start';\nconst gidMatch = message.match(/[?#&]gid=([0-9]+)/i);\nconst spreadsheetId = sheetMatch ? sheetMatch[1] : '';\nconst gid = gidMatch ? gidMatch[1] : '0';\nconst jobId = d.job_id || ('bulk_' + Date.now() + '_' + Math.random().toString(36).slice(2, 8));\nconst reportToken = Math.random().toString(36).slice(2, 12);\nreturn [{\n  json: {\n    ...d,\n    action,\n    job_id: action === 'start' ? jobId : String(buttonId.replace(/^owner_bulk_(?:apply|cancel)__/, '') || d.job_id || ''),\n    report_token: reportToken,\n    export_url: d.export_url || (spreadsheetId ? ('https://docs.google.com/spreadsheets/d/' + spreadsheetId + '/export?format=csv&gid=' + gid) : ''),\n    source_ref: d.source_ref || (sheetMatch ? message : d.source_ref || ''),\n    import_kind: sheetMatch || d.test_sheet_rows.length ? 'google_sheet' : (sourceType === 'document' || sourceType === 'image' ? 'file_upload' : d.bulk_mode || 'unknown'),\n  },\n  binary: $binary,\n}];"}},{"id":"bulk-intake-switch","name":"Intake Action","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1120,320],"parameters":{"mode":"expression","numberOutputs":3,"output":"={{ $json.action === 'start' ? 1 : ['apply','cancel'].includes($json.action) ? 2 : 0 }}"}},{"id":"bulk-intake-prompt","name":"Format Prompt Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,120],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Decide Intake').first().json || {};\nreturn [{\n  json: {\n    chat_id: d.chat_id || '',\n    message_type: 'text',\n    body_text: 'Bulk inventory onboarding accepts XLS, XLSX, or CSV files, plus public Google Sheets links. I will stage the rows, clean duplicates, and send a review summary before anything is saved. JPG, PNG, and PDF are accepted for medium imports only.',\n    test_mode: d.test_mode === true,\n  },\n}];"}},{"id":"bulk-intake-prepare-worker","name":"Prepare Worker Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Decide Intake').first().json || {}; const store = $('Resolve Store Context').first().json || {}; return [{ json: { ...d, store_id: d.store_id || store.store_id || null }, binary: $binary }];"}},{"id":"bulk-intake-run-worker","name":"Run Bulk Worker","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1560,320],"parameters":{"workflowId":{"__rl":true,"value":"yDfWqigCvgCGz75e","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"bulk-intake-prepare-apply","name":"Prepare Apply Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Decide Intake').first().json || {}; return [{ json: { ...d, action: d.action === 'apply' ? 'apply' : 'cancel' } }];"}},{"id":"bulk-intake-run-apply","name":"Run Bulk Apply","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1560,520],"parameters":{"workflowId":{"__rl":true,"value":"6GHQItXV8mOIOmwC","mode":"id"},"options":{"waitForSubWorkflow":true}}}],"connections":{"Start":{"main":[[{"node":"Normalize Intake","type":"main","index":0}]]},"Normalize Intake":{"main":[[{"node":"Resolve Store Context","type":"main","index":0}]]},"Resolve Store Context":{"main":[[{"node":"Decide Intake","type":"main","index":0}]]},"Decide Intake":{"main":[[{"node":"Intake Action","type":"main","index":0}]]},"Intake Action":{"main":[[{"node":"Format Prompt Response","type":"main","index":0}],[{"node":"Prepare Worker Input","type":"main","index":0}],[{"node":"Prepare Apply Input","type":"main","index":0}]]},"Prepare Worker Input":{"main":[[{"node":"Run Bulk Worker","type":"main","index":0}]]},"Prepare Apply Input":{"main":[[{"node":"Run Bulk Apply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d2e1f59a-b9e7-47e7-834c-2464a3ca0a63","activeVersionId":"d2e1f59a-b9e7-47e7-834c-2464a3ca0a63","versionCounter":65,"triggerCount":0,"shared":[{"updatedAt":"2026-03-11T03:41:30.067Z","createdAt":"2026-03-11T03:41:30.067Z","role":"workflow:owner","workflowId":"syLqocDmkt0MjFkv","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-11T11:35:48.914Z","createdAt":"2026-03-11T11:35:48.914Z","versionId":"d2e1f59a-b9e7-47e7-834c-2464a3ca0a63","workflowId":"syLqocDmkt0MjFkv","nodes":[{"id":"bulk-intake-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,320],"parameters":{"inputSource":"passthrough"}},{"id":"bulk-intake-normalize","name":"Normalize Intake","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst raw = ($json.tool_input && typeof $json.tool_input === 'object') ? $json.tool_input : $json;\nconst message = String(raw.message || raw.media_caption || '').trim();\nconst buttonId = String(raw.button_id || '').trim();\nconst sourceType = String(raw.source_type || (buttonId ? 'button' : 'text')).trim() || 'text';\nreturn [{\n  json: {\n    ...raw,\n    chat_id: String(raw.chat_id || ''),\n    message,\n    button_id: buttonId,\n    source_type: sourceType,\n    media_id: String(raw.media_id || ''),\n    media_mime_type: String(raw.media_mime_type || ''),\n    media_filename: String(raw.media_filename || ''),\n    media_caption: String(raw.media_caption || ''),\n    store_id: raw.store_id || null,\n    test_file_base64: String(raw.test_file_base64 || ''),\n    test_file_name: String(raw.test_file_name || raw.media_filename || ''),\n    test_file_mime_type: String(raw.test_file_mime_type || raw.media_mime_type || ''),\n    test_sheet_rows: Array.isArray(raw.test_sheet_rows) ? raw.test_sheet_rows : [],\n    test_mode: raw.test_mode === true,\n    bulk_mode: String(raw.bulk_mode || ''),\n    export_url: String(raw.export_url || ''),\n    source_ref: String(raw.source_ref || ''),\n    job_id: String(raw.job_id || ''),\n  },\n  binary: input?.binary || {},\n}];"}},{"id":"bulk-intake-store","name":"Resolve Store Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,320],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"=SELECT store_id, store_name, onboarding_step FROM public.stores WHERE (({{ Number($('Normalize Intake').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Normalize Intake').first().json.store_id || 0) }}) OR owner_whatsapp_number = '{{ $('Normalize Intake').first().json.chat_id }}') ORDER BY CASE WHEN {{ Number($('Normalize Intake').first().json.store_id || 0) }} > 0 AND store_id = {{ Number($('Normalize Intake').first().json.store_id || 0) }} THEN 0 WHEN owner_whatsapp_number = '{{ $('Normalize Intake').first().json.chat_id }}' THEN 1 ELSE 2 END, COALESCE(onboarding_step, 0) DESC, COALESCE(store_id, 0) DESC, created_at DESC NULLS LAST LIMIT 1;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"bulk-intake-decide","name":"Decide Intake","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Normalize Intake').first().json || {};\nconst message = String(d.message || '').trim();\nconst buttonId = String(d.button_id || '');\nconst sourceType = String(d.source_type || 'text');\nconst sheetMatch = message.match(/https?:\\/\\/docs\\.google\\.com\\/spreadsheets\\/d\\/([a-zA-Z0-9-_]+)/i);\nlet action = 'prompt';\nif (buttonId.startsWith('owner_bulk_apply__')) action = 'apply';\nelse if (buttonId.startsWith('owner_bulk_cancel__')) action = 'cancel';\nelse if (sourceType === 'document' || sourceType === 'image') action = 'start';\nelse if (sheetMatch || (Array.isArray(d.test_sheet_rows) && d.test_sheet_rows.length)) action = 'start';\nconst gidMatch = message.match(/[?#&]gid=([0-9]+)/i);\nconst spreadsheetId = sheetMatch ? sheetMatch[1] : '';\nconst gid = gidMatch ? gidMatch[1] : '0';\nconst jobId = d.job_id || ('bulk_' + Date.now() + '_' + Math.random().toString(36).slice(2, 8));\nconst reportToken = Math.random().toString(36).slice(2, 12);\nreturn [{\n  json: {\n    ...d,\n    action,\n    job_id: action === 'start' ? jobId : String(buttonId.replace(/^owner_bulk_(?:apply|cancel)__/, '') || d.job_id || ''),\n    report_token: reportToken,\n    export_url: d.export_url || (spreadsheetId ? ('https://docs.google.com/spreadsheets/d/' + spreadsheetId + '/export?format=csv&gid=' + gid) : ''),\n    source_ref: d.source_ref || (sheetMatch ? message : d.source_ref || ''),\n    import_kind: sheetMatch || d.test_sheet_rows.length ? 'google_sheet' : (sourceType === 'document' || sourceType === 'image' ? 'file_upload' : d.bulk_mode || 'unknown'),\n  },\n  binary: $binary,\n}];"}},{"id":"bulk-intake-switch","name":"Intake Action","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1120,320],"parameters":{"mode":"expression","numberOutputs":3,"output":"={{ $json.action === 'start' ? 1 : ['apply','cancel'].includes($json.action) ? 2 : 0 }}"}},{"id":"bulk-intake-prompt","name":"Format Prompt Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,120],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Decide Intake').first().json || {};\nreturn [{\n  json: {\n    chat_id: d.chat_id || '',\n    message_type: 'text',\n    body_text: 'Bulk inventory onboarding accepts XLS, XLSX, or CSV files, plus public Google Sheets links. I will stage the rows, clean duplicates, and send a review summary before anything is saved. JPG, PNG, and PDF are accepted for medium imports only.',\n    test_mode: d.test_mode === true,\n  },\n}];"}},{"id":"bulk-intake-prepare-worker","name":"Prepare Worker Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Decide Intake').first().json || {}; const store = $('Resolve Store Context').first().json || {}; return [{ json: { ...d, store_id: d.store_id || store.store_id || null }, binary: $binary }];"}},{"id":"bulk-intake-run-worker","name":"Run Bulk Worker","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1560,320],"parameters":{"workflowId":{"__rl":true,"value":"yDfWqigCvgCGz75e","mode":"id"},"options":{"waitForSubWorkflow":true}}},{"id":"bulk-intake-prepare-apply","name":"Prepare Apply Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,520],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Decide Intake').first().json || {}; return [{ json: { ...d, action: d.action === 'apply' ? 'apply' : 'cancel' } }];"}},{"id":"bulk-intake-run-apply","name":"Run Bulk Apply","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1560,520],"parameters":{"workflowId":{"__rl":true,"value":"6GHQItXV8mOIOmwC","mode":"id"},"options":{"waitForSubWorkflow":true}}}],"connections":{"Start":{"main":[[{"node":"Normalize Intake","type":"main","index":0}]]},"Normalize Intake":{"main":[[{"node":"Resolve Store Context","type":"main","index":0}]]},"Resolve Store Context":{"main":[[{"node":"Decide Intake","type":"main","index":0}]]},"Decide Intake":{"main":[[{"node":"Intake Action","type":"main","index":0}]]},"Intake Action":{"main":[[{"node":"Format Prompt Response","type":"main","index":0}],[{"node":"Prepare Worker Input","type":"main","index":0}],[{"node":"Prepare Apply Input","type":"main","index":0}]]},"Prepare Worker Input":{"main":[[{"node":"Run Bulk Worker","type":"main","index":0}]]},"Prepare Apply Input":{"main":[[{"node":"Run Bulk Apply","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-11T11:35:49.045Z","id":1539,"workflowId":"syLqocDmkt0MjFkv","versionId":"d2e1f59a-b9e7-47e7-834c-2464a3ca0a63","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:35:49.117Z","id":1540,"workflowId":"syLqocDmkt0MjFkv","versionId":"d2e1f59a-b9e7-47e7-834c-2464a3ca0a63","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:35:53.406Z","id":1547,"workflowId":"syLqocDmkt0MjFkv","versionId":"d2e1f59a-b9e7-47e7-834c-2464a3ca0a63","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:35:53.472Z","id":1548,"workflowId":"syLqocDmkt0MjFkv","versionId":"d2e1f59a-b9e7-47e7-834c-2464a3ca0a63","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:37:50.807Z","id":1571,"workflowId":"syLqocDmkt0MjFkv","versionId":"d2e1f59a-b9e7-47e7-834c-2464a3ca0a63","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:37:50.867Z","id":1572,"workflowId":"syLqocDmkt0MjFkv","versionId":"d2e1f59a-b9e7-47e7-834c-2464a3ca0a63","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:38:00.917Z","id":1579,"workflowId":"syLqocDmkt0MjFkv","versionId":"d2e1f59a-b9e7-47e7-834c-2464a3ca0a63","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:38:00.989Z","id":1580,"workflowId":"syLqocDmkt0MjFkv","versionId":"d2e1f59a-b9e7-47e7-834c-2464a3ca0a63","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}