workflows/latest/THmSvgrSb12AH0Mt__Owner_Inventory_Import.json
{"updatedAt":"2026-03-11T18:13:41.827Z","createdAt":"2026-03-10T17:22:18.534Z","id":"THmSvgrSb12AH0Mt","name":"[Owner] Inventory Import","description":null,"active":true,"isArchived":false,"nodes":[{"id":"oii-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,360],"parameters":{"inputSource":"passthrough"}},{"id":"oii-normalize","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,360],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst raw = ($json.tool_input && typeof $json.tool_input === 'object') ? $json.tool_input : $json;\nconst message = String(raw.message || raw.media_caption || '').trim();\nconst fileName = String(raw.media_filename || '').trim();\nconst mime = String(raw.media_mime_type || '').trim().toLowerCase();\nconst ext = fileName.includes('.') ? fileName.split('.').pop().toLowerCase() : '';\nconst sourceType = String(raw.source_type || (raw.media_id ? 'document' : 'text')).trim() || 'text';\nreturn [{\n  json: {\n    ...raw,\n    chat_id: String(raw.chat_id || ''),\n    store_id: raw.store_id || null,\n    message,\n    source_type: sourceType,\n    media_id: String(raw.media_id || ''),\n    media_mime_type: mime,\n    media_filename: fileName,\n    media_caption: String(raw.media_caption || ''),\n    media_ext: ext,\n    test_file_base64: String(raw.test_file_base64 || ''),\n    test_file_name: String(raw.test_file_name || fileName || ''),\n    test_file_mime_type: String(raw.test_file_mime_type || mime || ''),\n    test_mode: raw.test_mode === true,\n  },\n  binary: input?.binary || {},\n}];"}},{"id":"oii-inspect-schema","name":"Inspect Inventory Schema","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,240],"parameters":{"operation":"executeQuery","query":"SELECT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'store_id') AS has_store_id, EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'sku') AS has_sku, EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'unit') AS has_unit, EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'category') AS has_category, EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'brand') AS has_brand, EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'is_active') AS has_is_active;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true},{"id":"oii-load-items","name":"Load Inventory Snapshot","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[900,240],"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Inspect Inventory Schema').first().json || {}; const d = $('Normalize Input').first().json || {}; const b = (value) => value === true || value === 'true' || value === 't' || value === 1 || value === '1'; const hasStoreId = b(s.has_store_id); const hasSku = b(s.has_sku); const hasUnit = b(s.has_unit); const hasCategory = b(s.has_category); const hasBrand = b(s.has_brand); const hasIsActive = b(s.has_is_active); const cols = [\"item_name\", \"price\", \"stock\", hasSku ? \"COALESCE(sku, '') AS sku\" : \"'' AS sku\", hasUnit ? \"COALESCE(unit, '') AS unit\" : \"'' AS unit\", hasCategory ? \"COALESCE(category, '') AS category\" : \"'' AS category\", hasBrand ? \"COALESCE(brand, '') AS brand\" : \"'' AS brand\", hasIsActive ? \"COALESCE(is_active, true) AS is_active\" : \"true AS is_active\"]; const where = hasStoreId ? (Number(d.store_id || 0) > 0 ? \"store_id = \" + Number(d.store_id || 0) : '1=0') : '1=1'; return \"SELECT \" + cols.join(', ') + \" FROM public.inventory WHERE \" + where + \" ORDER BY item_name ASC LIMIT 500;\"; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true},{"id":"oii-determine","name":"Determine Import Source","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,360],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst d = $('Normalize Input').first().json;\nconst binary = input?.binary || {};\nconst hasInlineBinary = !!String(d.test_file_base64 || '').trim();\nconst hasBinary = !!binary.data || hasInlineBinary;\nconst mime = String(d.media_mime_type || '').toLowerCase();\nconst ext = String(d.media_ext || '').toLowerCase();\n\nconst isSpreadsheet = /sheet|excel|spreadsheet/.test(mime) || ['xls', 'xlsx'].includes(ext);\nconst isPdf = mime === 'application/pdf' || ext === 'pdf';\nconst isImage = mime.startsWith('image/') || ['png', 'jpg', 'jpeg', 'webp'].includes(ext);\n\nlet route = 'error';\nlet parse_mode = 'unsupported';\nlet error_message = '';\n\nif (!d.chat_id) {\n  error_message = 'Missing owner chat ID for import.';\n} else if (!(hasBinary || d.media_id)) {\n  error_message = 'I could not find a file to import. Please send an XLS, XLSX, PDF, JPG, or PNG stock sheet.';\n} else if (isSpreadsheet) {\n  route = hasBinary ? 'direct_binary' : 'download_binary';\n  parse_mode = 'sheet';\n} else if (isPdf) {\n  route = hasBinary ? 'direct_binary' : 'download_binary';\n  parse_mode = 'document';\n} else if (isImage) {\n  route = hasBinary ? 'direct_binary' : 'download_binary';\n  parse_mode = 'image';\n} else {\n  error_message = 'Unsupported file type. Please send an XLS, XLSX, PDF, JPG, or PNG stock sheet.';\n}\n\nreturn [{\n  json: {\n    ...d,\n    route,\n    parse_mode,\n    error_message,\n  },\n  binary,\n}];"}},{"id":"oii-source-switch","name":"Import Source","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1340,360],"parameters":{"mode":"expression","numberOutputs":3,"output":"={{ $json.route === 'direct_binary' ? 1 : $json.route === 'download_binary' ? 2 : 0 }}"}},{"id":"oii-format-error","name":"Format Error Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,120],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Determine Import Source').first().json || {}; return [{ json: { chat_id: d.chat_id || '', message_type: 'text', body_text: d.error_message || 'I could not prepare that file for import.'} }];"}},{"id":"oii-pass-binary","name":"Pass Existing Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,280],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst d = $('Determine Import Source').first().json || {};\nif (String(d.test_file_base64 || '').trim()) {\n  return [{\n    json: d,\n    binary: {\n      data: {\n        data: String(d.test_file_base64 || ''),\n        mimeType: String(d.test_file_mime_type || d.media_mime_type || 'application/octet-stream'),\n        fileName: String(d.test_file_name || d.media_filename || 'owner_upload'),\n      },\n    },\n  }];\n}\nreturn [{ json: d, binary: input?.binary || {} }];"}},{"id":"oii-get-meta","name":"Get WhatsApp Media Metadata","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1560,440],"parameters":{"method":"GET","url":"={{ 'https://graph.facebook.com/v19.0/' + $('Determine Import Source').first().json.media_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"credentials":{"whatsAppApi":{"id":"GFk530CPSyrOLT7F","name":"WhatsApp account"}}},{"id":"oii-download","name":"Download WhatsApp Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1780,440],"parameters":{"method":"GET","url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"data"}}}},"credentials":{"whatsAppApi":{"id":"GFk530CPSyrOLT7F","name":"WhatsApp account"}}},{"id":"oii-attach-downloaded","name":"Attach Downloaded Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst base = $('Determine Import Source').first().json;\nconst meta = $('Get WhatsApp Media Metadata').first().json || {};\nreturn [{\n  json: {\n    ...base,\n    media_mime_type: String(meta.mime_type || base.media_mime_type || ''),\n    media_filename: String(base.media_filename || meta.file_name || base.media_id || 'owner_upload'),\n    media_size: meta.file_size || null,\n  },\n  binary: input?.binary || {},\n}];"}},{"id":"oii-parse-kind","name":"Parse Kind","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2220,360],"parameters":{"mode":"expression","numberOutputs":4,"output":"={{ $json.parse_mode === 'sheet' ? 0 : $json.parse_mode === 'document' ? 1 : $json.parse_mode === 'image' ? 2 : 3 }}"}},{"id":"oii-spreadsheet","name":"Parse Spreadsheet","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[2440,200],"parameters":{"operation":"fromFile","binaryPropertyName":"data","fileFormat":"autodetect","options":{"headerRow":true,"includeEmptyCells":false}}},{"id":"oii-anthropic-doc","name":"Claude Analyze Document","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[2440,360],"retryOnFail":true,"maxTries":4,"waitBetweenTries":5000,"onError":"continueRegularOutput","parameters":{"resource":"document","operation":"analyze","modelId":{"mode":"list","value":"claude-3-haiku-20240307"},"text":"Extract kirana inventory rows from this stock sheet. Return strict JSON only in this shape: {\"document_confidence\":0.0,\"quality_notes\":[],\"rows\":[{\"item_name\":\"\",\"price\":0,\"stock\":0,\"unit\":\"\",\"category\":\"\",\"brand\":\"\",\"raw_line\":\"\",\"row_confidence\":0.0,\"needs_review\":false,\"review_reason\":\"\"}],\"invalid_rows\":[{\"raw_line\":\"\",\"reason\":\"\",\"row_confidence\":0.0}]}. Use confidence between 0 and 1. If any field is unclear, do not guess and do not output 0 as a placeholder. Put uncertain rows into invalid_rows. Never include markdown.","inputType":"binary","binaryPropertyName":"data","simplify":true,"options":{"maxTokens":1200}},"credentials":{"anthropicApi":{"id":"yiUg577mPI3s1EDq","name":"claude_api"}}},{"id":"oii-anthropic-image","name":"Claude Analyze Image","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[2440,520],"retryOnFail":true,"maxTries":4,"waitBetweenTries":5000,"onError":"continueRegularOutput","parameters":{"resource":"image","operation":"analyze","modelId":{"mode":"list","value":"claude-3-haiku-20240307"},"text":"Read this kirana stock image and return strict JSON only in this shape: {\"document_confidence\":0.0,\"quality_notes\":[],\"rows\":[{\"item_name\":\"\",\"price\":0,\"stock\":0,\"unit\":\"\",\"category\":\"\",\"brand\":\"\",\"raw_line\":\"\",\"row_confidence\":0.0,\"needs_review\":false,\"review_reason\":\"\"}],\"invalid_rows\":[{\"raw_line\":\"\",\"reason\":\"\",\"row_confidence\":0.0}]}. Use confidence between 0 and 1. Use only visible text. If price or stock is unclear, do not guess and do not output 0 as a placeholder; put the row into invalid_rows instead. Never include markdown.","inputType":"binary","binaryPropertyName":"data","simplify":true,"options":{"maxTokens":1200}},"credentials":{"anthropicApi":{"id":"yiUg577mPI3s1EDq","name":"claude_api"}}},{"id":"oii-parse-claude","name":"Parse Claude Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2660,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const raw = $input.first().json || {};\nconst pickText = (value) => {\n  if (typeof value === 'string' && value.trim()) return value.trim();\n  if (Array.isArray(value)) {\n    for (const entry of value) {\n      const nested = pickText(entry);\n      if (nested) return nested;\n    }\n    return '';\n  }\n  if (value && typeof value === 'object') {\n    for (const key of ['output', 'text', 'mergedResponse', 'completion', 'content', 'response', 'result']) {\n      if (typeof value[key] === 'string' && value[key].trim()) return value[key].trim();\n    }\n    if (Array.isArray(value.content)) {\n      for (const part of value.content) {\n        if (typeof part?.text === 'string' && part.text.trim()) return part.text.trim();\n      }\n    }\n  }\n  return '';\n};\n\nconst extractJson = (value) => {\n  const text = pickText(value);\n  if (!text) return null;\n  try { return JSON.parse(text); } catch {}\n  const block = text.match(/\\{[\\s\\S]*\\}/);\n  if (block) {\n    try { return JSON.parse(block[0]); } catch {}\n  }\n  const tick = String.fromCharCode(96).repeat(3);\n  const fenced = text.replace(new RegExp(tick + 'json|' + tick, 'gi'), '').trim();\n  try { return JSON.parse(fenced); } catch {}\n  return null;\n};\n\nconst parsed = extractJson(raw) || {};\nconst documentConfidenceRaw = parsed.document_confidence ?? parsed.confidence ?? parsed.ocr_confidence ?? null;\nconst documentConfidence = documentConfidenceRaw === null || documentConfidenceRaw === undefined || documentConfidenceRaw === ''\n  ? null\n  : (Number(documentConfidenceRaw) > 1 && Number(documentConfidenceRaw) <= 100 ? Number(documentConfidenceRaw) / 100 : Number(documentConfidenceRaw));\nconst rows = Array.isArray(parsed.rows) ? parsed.rows : [];\nconst invalid = Array.isArray(parsed.invalid_rows) ? parsed.invalid_rows : [];\nconst qualityNotes = Array.isArray(parsed.quality_notes) ? parsed.quality_notes : [];\nconst items = [];\nfor (const row of rows) {\n  items.push({\n    json: {\n      item_name: row.item_name || row.name || row.product || '',\n      price: row.price,\n      stock: row.stock,\n      unit: row.unit || '',\n      category: row.category || '',\n      brand: row.brand || '',\n      raw_line: row.raw_line || '',\n      row_confidence: row.row_confidence ?? row.confidence ?? row.ocr_confidence ?? null,\n      review_reason: row.review_reason || row.reason || '',\n      needs_review: row.needs_review === true,\n      document_confidence: Number.isFinite(documentConfidence) ? documentConfidence : null,\n      quality_notes: qualityNotes,\n    },\n  });\n}\nfor (const row of invalid) {\n  items.push({\n    json: {\n      item_name: row.item_name || row.name || '',\n      raw_line: row.raw_line || row.source || '',\n      reason: row.reason || 'invalid row',\n      invalid: true,\n      row_confidence: row.row_confidence ?? row.confidence ?? row.ocr_confidence ?? null,\n      document_confidence: Number.isFinite(documentConfidence) ? documentConfidence : null,\n      quality_notes: qualityNotes,\n    },\n  });\n}\nif (!items.length) {\n  items.push({\n    json: {\n      invalid: true,\n      raw_line: '',\n      reason: 'no rows parsed',\n      document_confidence: Number.isFinite(documentConfidence) ? documentConfidence : null,\n      quality_notes: qualityNotes,\n    },\n  });\n}\nreturn items;"}},{"id":"oii-preview","name":"Prepare Import Preview","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"let meta = {};\ntry {\n  meta = $('Attach Downloaded Binary').first().json || {};\n} catch {}\nif (!meta || Object.keys(meta).length === 0) {\n  try {\n    meta = $('Pass Existing Binary').first().json || {};\n  } catch {}\n}\nif (!meta || Object.keys(meta).length === 0) {\n  try {\n    meta = $('Determine Import Source').first().json || {};\n  } catch {}\n}\nconst inventory = $('Load Inventory Snapshot').all().map((item) => item.json || {}).filter((row) => row && row.item_name);\nconst inputRows = $input.all().map((item) => item.json || {});\nconst parseMode = String(meta.parse_mode || '').toLowerCase();\nconst ocrBacked = parseMode === 'image' || parseMode === 'document';\nconst documentConfidenceThreshold = 0.88;\nconst rowConfidenceThreshold = 0.9;\n\nconst normalizeName = (value) => String(value || '').toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim().replace(/\\s+/g, ' ');\nconst toNum = (value) => value === null || value === undefined || value === '' ? null : Number(value);\nconst words = (value) => normalizeName(value).split(' ').filter(Boolean);\nconst normalizeConfidence = (value) => {\n  if (value === null || value === undefined || value === '') return null;\n  const num = Number(value);\n  if (!Number.isFinite(num)) return null;\n  if (num > 1 && num <= 100) return num / 100;\n  if (num >= 0 && num <= 1) return num;\n  return null;\n};\n\nfunction scoreCandidate(target, candidate) {\n  if (!target || !candidate) return 0;\n  if (target === candidate) return 1;\n  if (candidate.startsWith(target) || target.startsWith(candidate)) return 0.9;\n  if (candidate.includes(target) || target.includes(candidate)) return 0.82;\n  const a = new Set(words(target));\n  const b = new Set(words(candidate));\n  const common = [...a].filter((word) => b.has(word)).length;\n  const union = new Set([...a, ...b]).size || 1;\n  return common / union;\n}\n\nfunction buildSku(name, rows, reserved) {\n  const used = new Set(rows.map((row) => String(row.sku || '').trim()).filter(Boolean).map((sku) => sku.toUpperCase()));\n  for (const value of reserved) used.add(String(value || '').trim().toUpperCase());\n  let baseSku = normalizeName(name).toUpperCase().replace(/[^A-Z0-9]+/g, '_').replace(/^_+|_+$/g, '').slice(0, 18);\n  if (!baseSku) baseSku = 'ITEM';\n  let sku = baseSku;\n  let suffix = 2;\n  while (used.has(sku)) {\n    sku = baseSku.slice(0, 14) + '_' + suffix;\n    suffix += 1;\n  }\n  reserved.add(sku);\n  return sku;\n}\n\nfunction resolveItem(name) {\n  const normalized = normalizeName(name);\n  const exact = inventory.filter((row) => normalizeName(row.item_name) === normalized);\n  const activeExact = exact.filter((row) => row.is_active !== false);\n  if (activeExact.length === 1) return { status: 'exact', row: activeExact[0], matches: [activeExact[0].item_name] };\n  if (exact.length === 1) return { status: 'inactive_exact', row: exact[0], matches: [exact[0].item_name] };\n  const fuzzy = inventory.map((row) => ({ row, score: scoreCandidate(normalized, normalizeName(row.item_name)) }))\n    .filter((row) => row.score >= 0.58)\n    .sort((a, b) => b.score - a.score)\n    .slice(0, 5);\n  if (fuzzy.length === 1 && fuzzy[0].score >= 0.8) return { status: 'possible_match', row: fuzzy[0].row, matches: [fuzzy[0].row.item_name] };\n  if (fuzzy.length > 0) return { status: 'ambiguous', matches: fuzzy.map((row) => row.row.item_name) };\n  return { status: 'new', matches: [] };\n}\n\nconst nameKeys = ['item_name', 'item', 'product_name', 'product', 'name', 'title'];\nconst priceKeys = ['price', 'rate', 'mrp', 'selling_price', 'amount'];\nconst stockKeys = ['stock', 'qty', 'quantity', 'count', 'inventory'];\nconst unitKeys = ['unit', 'size', 'pack'];\nconst categoryKeys = ['category', 'group'];\nconst brandKeys = ['brand', 'company'];\n\nfunction pickField(row, keys) {\n  const lowered = {};\n  for (const [key, value] of Object.entries(row || {})) {\n    lowered[String(key).toLowerCase().replace(/[^a-z0-9]+/g, '_')] = value;\n  }\n  for (const key of keys) {\n    if (row[key] !== undefined && row[key] !== null && row[key] !== '') return row[key];\n    if (lowered[key] !== undefined && lowered[key] !== null && lowered[key] !== '') return lowered[key];\n  }\n  return '';\n}\n\nconst documentConfidence = normalizeConfidence(inputRows[0]?.document_confidence);\nconst reservedSkus = new Set();\nconst seenNames = new Set();\nconst previewRows = [];\nconst invalidRows = [];\nconst summary = {\n  total_rows: inputRows.length,\n  valid_rows: 0,\n  new_items: 0,\n  updates: 0,\n  reactivations: 0,\n  invalid_rows: 0,\n  ambiguous_rows: 0,\n  possible_matches: 0,\n  duplicate_rows: 0,\n  has_blockers: false,\n};\nconst qualityNotes = [];\nif (ocrBacked) {\n  if (documentConfidence === null) {\n    summary.has_blockers = true;\n    qualityNotes.push('Missing document OCR confidence');\n  } else if (documentConfidence < documentConfidenceThreshold) {\n    summary.has_blockers = true;\n    qualityNotes.push('Document OCR confidence below threshold');\n  }\n}\n\nfor (const rawRow of inputRows) {\n  const itemName = String(pickField(rawRow, nameKeys) || '').trim();\n  const price = toNum(pickField(rawRow, priceKeys));\n  const stock = toNum(pickField(rawRow, stockKeys));\n  const unit = String(pickField(rawRow, unitKeys) || '').trim();\n  const category = String(pickField(rawRow, categoryKeys) || '').trim();\n  const brand = String(pickField(rawRow, brandKeys) || '').trim();\n  const invalid = rawRow.invalid === true;\n  const rowConfidence = normalizeConfidence(rawRow.row_confidence ?? rawRow.confidence ?? rawRow.ocr_confidence);\n  const alphaChars = (itemName.match(/[a-z]/gi) || []).length;\n  const digitChars = (itemName.match(/\\d/g) || []).length;\n  const row = {\n    raw_line: String(rawRow.raw_line || itemName || '').trim(),\n    item_name: itemName,\n    normalized_name: normalizeName(itemName),\n    price,\n    stock,\n    unit,\n    category,\n    brand,\n    reason: String(rawRow.reason || '').trim(),\n    row_confidence: rowConfidence,\n    review_reason: String(rawRow.review_reason || '').trim(),\n  };\n\n  const rowBlockers = [];\n  if (!itemName) rowBlockers.push('missing item name');\n  if (price === null || Number.isNaN(price) || price <= 0) rowBlockers.push('missing or invalid price');\n  if (stock === null || Number.isNaN(stock) || stock < 0) rowBlockers.push('missing or invalid stock');\n  if (ocrBacked) {\n    if (rowConfidence === null) rowBlockers.push('missing OCR confidence');\n    else if (rowConfidence < rowConfidenceThreshold) rowBlockers.push('low OCR confidence');\n    if (alphaChars < 3) rowBlockers.push('item name too noisy');\n    if (digitChars > alphaChars) rowBlockers.push('item name looks misread');\n    if (rawRow.needs_review === true) rowBlockers.push('Claude marked row for review');\n  }\n\n  if (invalid || rowBlockers.length > 0) {\n    previewRows.push({\n      ...row,\n      action: 'invalid',\n      reason: row.reason || row.review_reason || rowBlockers.join(', '),\n    });\n    invalidRows.push({ ...row, reason: row.reason || row.review_reason || rowBlockers.join(', ') });\n    summary.invalid_rows += 1;\n    summary.has_blockers = true;\n    continue;\n  }\n\n  if (seenNames.has(row.normalized_name)) {\n    previewRows.push({ ...row, action: 'duplicate_in_batch', reason: 'duplicate row in import' });\n    invalidRows.push({ ...row, reason: 'duplicate row in import' });\n    summary.duplicate_rows += 1;\n    summary.has_blockers = true;\n    continue;\n  }\n  seenNames.add(row.normalized_name);\n\n  const resolution = resolveItem(itemName);\n  if (resolution.status === 'exact') {\n    previewRows.push({\n      ...row,\n      action: 'update_existing',\n      existing_item_name: resolution.row.item_name,\n      existing_sku: String(resolution.row.sku || ''),\n      desired_active: true,\n    });\n    summary.valid_rows += 1;\n    summary.updates += 1;\n    continue;\n  }\n  if (resolution.status === 'inactive_exact') {\n    previewRows.push({\n      ...row,\n      action: 'reactivate_existing',\n      existing_item_name: resolution.row.item_name,\n      existing_sku: String(resolution.row.sku || ''),\n      desired_active: true,\n    });\n    summary.valid_rows += 1;\n    summary.reactivations += 1;\n    continue;\n  }\n  if (resolution.status === 'possible_match') {\n    previewRows.push({ ...row, action: 'possible_match', match_names: resolution.matches });\n    invalidRows.push({ ...row, reason: 'possible match', match_names: resolution.matches });\n    summary.possible_matches += 1;\n    summary.has_blockers = true;\n    continue;\n  }\n  if (resolution.status === 'ambiguous') {\n    previewRows.push({ ...row, action: 'ambiguous', match_names: resolution.matches });\n    invalidRows.push({ ...row, reason: 'ambiguous item match', match_names: resolution.matches });\n    summary.ambiguous_rows += 1;\n    summary.has_blockers = true;\n    continue;\n  }\n  previewRows.push({\n    ...row,\n    action: 'new_item',\n    suggested_sku: buildSku(itemName, inventory, reservedSkus),\n    desired_active: true,\n  });\n  summary.valid_rows += 1;\n  summary.new_items += 1;\n}\n\nreturn [{\n  json: {\n    ...meta,\n    action: 'preview_manual',\n    preview_rows: previewRows,\n    cleanup_summary: summary,\n    invalid_rows: invalidRows,\n    document_confidence: documentConfidence,\n    quality_notes: [\n      ...qualityNotes,\n      ...inputRows.flatMap((row) => Array.isArray(row.quality_notes) ? row.quality_notes : []),\n    ].filter(Boolean),\n  },\n}];"}},{"id":"oii-build-sql","name":"Build Import SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[3100,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Prepare Import Preview').first().json;\nconst esc = (value) => String(value === undefined || value === null ? '' : value).replace(/'/g, \"''\");\nconst storeId = Number(d.store_id || 0);\nconst summary = d.cleanup_summary || {};\nconst sessionId = 'inv_' + Date.now() + '_' + Math.random().toString(36).slice(2, 8);\nconst jobId = 'imp_' + Date.now() + '_' + Math.random().toString(36).slice(2, 8);\nconst status = summary.has_blockers ? 'awaiting_fix' : 'pending_preview';\n\nfunction jsonLiteral(value) {\n  return \"'\" + esc(JSON.stringify(value)) + \"'::jsonb\";\n}\n\nconst sql = [\n  'CREATE TABLE IF NOT EXISTS public.owner_import_jobs (',\n  '  job_id TEXT PRIMARY KEY,',\n  '  store_id BIGINT,',\n  '  chat_id TEXT NOT NULL,',\n  '  source_type TEXT NOT NULL,',\n  '  status TEXT NOT NULL,',\n  '  parsed_rows_json JSONB DEFAULT \\'[]\\'::jsonb,',\n  '  invalid_rows_json JSONB DEFAULT \\'[]\\'::jsonb,',\n  '  file_name TEXT,',\n  '  mime_type TEXT,',\n  '  created_at TIMESTAMPTZ DEFAULT NOW(),',\n  '  updated_at TIMESTAMPTZ DEFAULT NOW()',\n  ');',\n  'CREATE TABLE IF NOT EXISTS public.owner_operation_sessions (',\n  '  session_id TEXT PRIMARY KEY,',\n  '  store_id BIGINT,',\n  '  chat_id TEXT NOT NULL,',\n  '  operation_type TEXT NOT NULL,',\n  '  source_type TEXT NOT NULL,',\n  '  parsed_payload_json JSONB DEFAULT \\'{}\\'::jsonb,',\n  '  cleanup_summary_json JSONB DEFAULT \\'{}\\'::jsonb,',\n  '  preview_rows_json JSONB DEFAULT \\'[]\\'::jsonb,',\n  '  status TEXT NOT NULL,',\n  '  created_at TIMESTAMPTZ DEFAULT NOW(),',\n  '  updated_at TIMESTAMPTZ DEFAULT NOW()',\n  ');',\n  \"INSERT INTO public.owner_import_jobs (job_id, store_id, chat_id, source_type, status, parsed_rows_json, invalid_rows_json, file_name, mime_type, created_at, updated_at)\",\n  \"VALUES ('\" + esc(jobId) + \"', \" + (storeId > 0 ? storeId : 'NULL') + \", '\" + esc(d.chat_id) + \"', '\" + esc(d.source_type || 'document') + \"', '\" + status + \"', \" + jsonLiteral(d.preview_rows || []) + \", \" + jsonLiteral(d.invalid_rows || []) + \", '\" + esc(d.media_filename || '') + \"', '\" + esc(d.media_mime_type || '') + \"', NOW(), NOW());\",\n  \"INSERT INTO public.owner_operation_sessions (session_id, store_id, chat_id, operation_type, source_type, parsed_payload_json, cleanup_summary_json, preview_rows_json, status, created_at, updated_at)\",\n  \"VALUES ('\" + esc(sessionId) + \"', \" + (storeId > 0 ? storeId : 'NULL') + \", '\" + esc(d.chat_id) + \"', 'inventory_import_preview', '\" + esc(d.source_type || 'document') + \"', \" + jsonLiteral({ file_name: d.media_filename || '', mime_type: d.media_mime_type || '', job_id: jobId }) + \", \" + jsonLiteral(summary) + \", \" + jsonLiteral(d.preview_rows || []) + \", '\" + status + \"', NOW(), NOW());\",\n  \"SELECT 'preview_created' AS result, '\" + esc(sessionId) + \"' AS session_id, '\" + esc(jobId) + \"' AS job_id, \" + jsonLiteral(summary) + \" AS summary, \" + jsonLiteral(d.preview_rows || []) + \" AS preview_rows, \" + jsonLiteral(d.invalid_rows || []) + \" AS invalid_rows;\",\n].join('\\n');\n\nreturn [{ json: { ...d, sql } }];"}},{"id":"oii-run-sql","name":"Run Import SQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3320,320],"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true},{"id":"oii-format","name":"Format Import Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3540,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Prepare Import Preview').first().json;\nconst row = $input.first().json || {};\n\nconst parseMaybeJson = (value, fallback) => {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (Array.isArray(value) || typeof value === 'object') return value;\n  try { return JSON.parse(value); } catch { return fallback; }\n};\n\nconst summary = parseMaybeJson(row.summary, d.cleanup_summary || {});\nconst previewRows = parseMaybeJson(row.preview_rows, d.preview_rows || []);\nconst invalidRows = parseMaybeJson(row.invalid_rows, d.invalid_rows || []);\nconst qualityNotes = parseMaybeJson(d.quality_notes, []);\nconst sessionId = String(row.session_id || '');\nconst fileLabel = d.media_filename || 'your file';\nconst makeButtons = (body, buttons) => ({ chat_id: d.chat_id, message_type: 'button', body_text: body, buttons});\nconst makeText = (body) => ({ chat_id: d.chat_id, message_type: 'text', body_text: body});\n\nif (row.result !== 'preview_created') {\n  return [{ json: makeText('I could not prepare the inventory import preview safely. Please try the upload again.') }];\n}\n\nconst lines = [];\nfor (const entry of previewRows.slice(0, 8)) {\n  if (entry.action === 'new_item') {\n    lines.push('- New: ' + entry.item_name + ' (SKU ' + entry.suggested_sku + ', Rs.' + Number(entry.price || 0).toFixed(2) + ', stock ' + Number(entry.stock || 0) + ')');\n  } else if (entry.action === 'update_existing') {\n    lines.push('- Update: ' + entry.existing_item_name + ' -> Rs.' + Number(entry.price || 0).toFixed(2) + ', stock ' + Number(entry.stock || 0));\n  } else if (entry.action === 'reactivate_existing') {\n    lines.push('- Reactivate: ' + entry.existing_item_name + ' -> Rs.' + Number(entry.price || 0).toFixed(2) + ', stock ' + Number(entry.stock || 0));\n  } else if (entry.action === 'possible_match' || entry.action === 'ambiguous') {\n    lines.push('- Review: ' + entry.item_name + ' may match ' + (entry.match_names || []).join(', '));\n  } else if (entry.action === 'duplicate_in_batch') {\n    lines.push('- Duplicate row: ' + entry.item_name);\n  } else {\n    lines.push('- Invalid: ' + (entry.raw_line || entry.item_name || 'row'));\n  }\n}\n\nconst invalidCount = invalidRows.length ? '\\nInvalid rows: ' + invalidRows.length : '';\nconst qualityLine = qualityNotes.length ? '\\nQuality notes: ' + qualityNotes.slice(0, 3).join('; ') : '';\nif (summary.has_blockers) {\n  return [{ json: makeButtons(\n    'I parsed ' + fileLabel + ' and found blockers.\\n\\n' + lines.join('\\n') + invalidCount + qualityLine + '\\n\\nNo catalog changes were applied. Fix the file and upload it again or send a clearer XLS/XLSX/image.',\n    [\n      { id: 'owner_catalog_import', title: 'Upload again' },\n      { id: 'owner_inv_cancel__' + sessionId, title: 'Cancel' },\n    ],\n  ) }];\n}\n\nreturn [{ json: makeButtons(\n  'Import preview for ' + fileLabel + ':\\n\\n' + lines.join('\\n') + invalidCount + '\\n\\nConfirm to apply these catalog changes.',\n  [\n    { id: 'owner_inv_confirm__' + sessionId, title: 'Confirm import' },\n    { id: 'owner_inv_cancel__' + sessionId, title: 'Cancel' },\n  ],\n) }];"}},{"id":"oii-send","name":"Send Response","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3760,320],"parameters":{"source":"database","workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"}}}],"connections":{"Start":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Inspect Inventory Schema","type":"main","index":0}]]},"Inspect Inventory Schema":{"main":[[{"node":"Load Inventory Snapshot","type":"main","index":0}]]},"Load Inventory Snapshot":{"main":[[{"node":"Determine Import Source","type":"main","index":0}]]},"Determine Import Source":{"main":[[{"node":"Import Source","type":"main","index":0}]]},"Import Source":{"main":[[{"node":"Format Error Response","type":"main","index":0}],[{"node":"Pass Existing Binary","type":"main","index":0}],[{"node":"Get WhatsApp Media Metadata","type":"main","index":0}]]},"Format Error Response":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Pass Existing Binary":{"main":[[{"node":"Parse Kind","type":"main","index":0}]]},"Get WhatsApp Media Metadata":{"main":[[{"node":"Download WhatsApp Media","type":"main","index":0}]]},"Download WhatsApp Media":{"main":[[{"node":"Attach Downloaded Binary","type":"main","index":0}]]},"Attach Downloaded Binary":{"main":[[{"node":"Parse Kind","type":"main","index":0}]]},"Parse Kind":{"main":[[{"node":"Parse Spreadsheet","type":"main","index":0}],[{"node":"Claude Analyze Document","type":"main","index":0}],[{"node":"Claude Analyze Image","type":"main","index":0}],[{"node":"Format Error Response","type":"main","index":0}]]},"Parse Spreadsheet":{"main":[[{"node":"Prepare Import Preview","type":"main","index":0}]]},"Claude Analyze Document":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Claude Analyze Image":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Prepare Import Preview","type":"main","index":0}]]},"Prepare Import Preview":{"main":[[{"node":"Build Import SQL","type":"main","index":0}]]},"Build Import SQL":{"main":[[{"node":"Run Import SQL","type":"main","index":0}]]},"Run Import SQL":{"main":[[{"node":"Format Import Response","type":"main","index":0}]]},"Format Import Response":{"main":[[{"node":"Send Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"f196ee2a-f0f1-4d0e-b90e-50aff748a200","activeVersionId":"f196ee2a-f0f1-4d0e-b90e-50aff748a200","versionCounter":86,"triggerCount":0,"shared":[{"updatedAt":"2026-03-10T17:22:18.534Z","createdAt":"2026-03-10T17:22:18.534Z","role":"workflow:owner","workflowId":"THmSvgrSb12AH0Mt","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-11T18:13:09.362Z","createdAt":"2026-03-11T18:13:09.362Z","versionId":"f196ee2a-f0f1-4d0e-b90e-50aff748a200","workflowId":"THmSvgrSb12AH0Mt","nodes":[{"id":"oii-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,360],"parameters":{"inputSource":"passthrough"}},{"id":"oii-normalize","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,360],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst raw = ($json.tool_input && typeof $json.tool_input === 'object') ? $json.tool_input : $json;\nconst message = String(raw.message || raw.media_caption || '').trim();\nconst fileName = String(raw.media_filename || '').trim();\nconst mime = String(raw.media_mime_type || '').trim().toLowerCase();\nconst ext = fileName.includes('.') ? fileName.split('.').pop().toLowerCase() : '';\nconst sourceType = String(raw.source_type || (raw.media_id ? 'document' : 'text')).trim() || 'text';\nreturn [{\n  json: {\n    ...raw,\n    chat_id: String(raw.chat_id || ''),\n    store_id: raw.store_id || null,\n    message,\n    source_type: sourceType,\n    media_id: String(raw.media_id || ''),\n    media_mime_type: mime,\n    media_filename: fileName,\n    media_caption: String(raw.media_caption || ''),\n    media_ext: ext,\n    test_file_base64: String(raw.test_file_base64 || ''),\n    test_file_name: String(raw.test_file_name || fileName || ''),\n    test_file_mime_type: String(raw.test_file_mime_type || mime || ''),\n    test_mode: raw.test_mode === true,\n  },\n  binary: input?.binary || {},\n}];"}},{"id":"oii-inspect-schema","name":"Inspect Inventory Schema","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,240],"parameters":{"operation":"executeQuery","query":"SELECT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'store_id') AS has_store_id, EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'sku') AS has_sku, EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'unit') AS has_unit, EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'category') AS has_category, EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'brand') AS has_brand, EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'is_active') AS has_is_active;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true},{"id":"oii-load-items","name":"Load Inventory Snapshot","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[900,240],"parameters":{"operation":"executeQuery","query":"={{ (() => { const s = $('Inspect Inventory Schema').first().json || {}; const d = $('Normalize Input').first().json || {}; const b = (value) => value === true || value === 'true' || value === 't' || value === 1 || value === '1'; const hasStoreId = b(s.has_store_id); const hasSku = b(s.has_sku); const hasUnit = b(s.has_unit); const hasCategory = b(s.has_category); const hasBrand = b(s.has_brand); const hasIsActive = b(s.has_is_active); const cols = [\"item_name\", \"price\", \"stock\", hasSku ? \"COALESCE(sku, '') AS sku\" : \"'' AS sku\", hasUnit ? \"COALESCE(unit, '') AS unit\" : \"'' AS unit\", hasCategory ? \"COALESCE(category, '') AS category\" : \"'' AS category\", hasBrand ? \"COALESCE(brand, '') AS brand\" : \"'' AS brand\", hasIsActive ? \"COALESCE(is_active, true) AS is_active\" : \"true AS is_active\"]; const where = hasStoreId ? (Number(d.store_id || 0) > 0 ? \"store_id = \" + Number(d.store_id || 0) : '1=0') : '1=1'; return \"SELECT \" + cols.join(', ') + \" FROM public.inventory WHERE \" + where + \" ORDER BY item_name ASC LIMIT 500;\"; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true},{"id":"oii-determine","name":"Determine Import Source","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,360],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst d = $('Normalize Input').first().json;\nconst binary = input?.binary || {};\nconst hasInlineBinary = !!String(d.test_file_base64 || '').trim();\nconst hasBinary = !!binary.data || hasInlineBinary;\nconst mime = String(d.media_mime_type || '').toLowerCase();\nconst ext = String(d.media_ext || '').toLowerCase();\n\nconst isSpreadsheet = /sheet|excel|spreadsheet/.test(mime) || ['xls', 'xlsx'].includes(ext);\nconst isPdf = mime === 'application/pdf' || ext === 'pdf';\nconst isImage = mime.startsWith('image/') || ['png', 'jpg', 'jpeg', 'webp'].includes(ext);\n\nlet route = 'error';\nlet parse_mode = 'unsupported';\nlet error_message = '';\n\nif (!d.chat_id) {\n  error_message = 'Missing owner chat ID for import.';\n} else if (!(hasBinary || d.media_id)) {\n  error_message = 'I could not find a file to import. Please send an XLS, XLSX, PDF, JPG, or PNG stock sheet.';\n} else if (isSpreadsheet) {\n  route = hasBinary ? 'direct_binary' : 'download_binary';\n  parse_mode = 'sheet';\n} else if (isPdf) {\n  route = hasBinary ? 'direct_binary' : 'download_binary';\n  parse_mode = 'document';\n} else if (isImage) {\n  route = hasBinary ? 'direct_binary' : 'download_binary';\n  parse_mode = 'image';\n} else {\n  error_message = 'Unsupported file type. Please send an XLS, XLSX, PDF, JPG, or PNG stock sheet.';\n}\n\nreturn [{\n  json: {\n    ...d,\n    route,\n    parse_mode,\n    error_message,\n  },\n  binary,\n}];"}},{"id":"oii-source-switch","name":"Import Source","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1340,360],"parameters":{"mode":"expression","numberOutputs":3,"output":"={{ $json.route === 'direct_binary' ? 1 : $json.route === 'download_binary' ? 2 : 0 }}"}},{"id":"oii-format-error","name":"Format Error Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,120],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Determine Import Source').first().json || {}; return [{ json: { chat_id: d.chat_id || '', message_type: 'text', body_text: d.error_message || 'I could not prepare that file for import.'} }];"}},{"id":"oii-pass-binary","name":"Pass Existing Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,280],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst d = $('Determine Import Source').first().json || {};\nif (String(d.test_file_base64 || '').trim()) {\n  return [{\n    json: d,\n    binary: {\n      data: {\n        data: String(d.test_file_base64 || ''),\n        mimeType: String(d.test_file_mime_type || d.media_mime_type || 'application/octet-stream'),\n        fileName: String(d.test_file_name || d.media_filename || 'owner_upload'),\n      },\n    },\n  }];\n}\nreturn [{ json: d, binary: input?.binary || {} }];"}},{"id":"oii-get-meta","name":"Get WhatsApp Media Metadata","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1560,440],"parameters":{"method":"GET","url":"={{ 'https://graph.facebook.com/v19.0/' + $('Determine Import Source').first().json.media_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"credentials":{"whatsAppApi":{"id":"GFk530CPSyrOLT7F","name":"WhatsApp account"}}},{"id":"oii-download","name":"Download WhatsApp Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1780,440],"parameters":{"method":"GET","url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"data"}}}},"credentials":{"whatsAppApi":{"id":"GFk530CPSyrOLT7F","name":"WhatsApp account"}}},{"id":"oii-attach-downloaded","name":"Attach Downloaded Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst base = $('Determine Import Source').first().json;\nconst meta = $('Get WhatsApp Media Metadata').first().json || {};\nreturn [{\n  json: {\n    ...base,\n    media_mime_type: String(meta.mime_type || base.media_mime_type || ''),\n    media_filename: String(base.media_filename || meta.file_name || base.media_id || 'owner_upload'),\n    media_size: meta.file_size || null,\n  },\n  binary: input?.binary || {},\n}];"}},{"id":"oii-parse-kind","name":"Parse Kind","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2220,360],"parameters":{"mode":"expression","numberOutputs":4,"output":"={{ $json.parse_mode === 'sheet' ? 0 : $json.parse_mode === 'document' ? 1 : $json.parse_mode === 'image' ? 2 : 3 }}"}},{"id":"oii-spreadsheet","name":"Parse Spreadsheet","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[2440,200],"parameters":{"operation":"fromFile","binaryPropertyName":"data","fileFormat":"autodetect","options":{"headerRow":true,"includeEmptyCells":false}}},{"id":"oii-anthropic-doc","name":"Claude Analyze Document","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[2440,360],"retryOnFail":true,"maxTries":4,"waitBetweenTries":5000,"onError":"continueRegularOutput","parameters":{"resource":"document","operation":"analyze","modelId":{"mode":"list","value":"claude-3-haiku-20240307"},"text":"Extract kirana inventory rows from this stock sheet. Return strict JSON only in this shape: {\"document_confidence\":0.0,\"quality_notes\":[],\"rows\":[{\"item_name\":\"\",\"price\":0,\"stock\":0,\"unit\":\"\",\"category\":\"\",\"brand\":\"\",\"raw_line\":\"\",\"row_confidence\":0.0,\"needs_review\":false,\"review_reason\":\"\"}],\"invalid_rows\":[{\"raw_line\":\"\",\"reason\":\"\",\"row_confidence\":0.0}]}. Use confidence between 0 and 1. If any field is unclear, do not guess and do not output 0 as a placeholder. Put uncertain rows into invalid_rows. Never include markdown.","inputType":"binary","binaryPropertyName":"data","simplify":true,"options":{"maxTokens":1200}},"credentials":{"anthropicApi":{"id":"yiUg577mPI3s1EDq","name":"claude_api"}}},{"id":"oii-anthropic-image","name":"Claude Analyze Image","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[2440,520],"retryOnFail":true,"maxTries":4,"waitBetweenTries":5000,"onError":"continueRegularOutput","parameters":{"resource":"image","operation":"analyze","modelId":{"mode":"list","value":"claude-3-haiku-20240307"},"text":"Read this kirana stock image and return strict JSON only in this shape: {\"document_confidence\":0.0,\"quality_notes\":[],\"rows\":[{\"item_name\":\"\",\"price\":0,\"stock\":0,\"unit\":\"\",\"category\":\"\",\"brand\":\"\",\"raw_line\":\"\",\"row_confidence\":0.0,\"needs_review\":false,\"review_reason\":\"\"}],\"invalid_rows\":[{\"raw_line\":\"\",\"reason\":\"\",\"row_confidence\":0.0}]}. Use confidence between 0 and 1. Use only visible text. If price or stock is unclear, do not guess and do not output 0 as a placeholder; put the row into invalid_rows instead. Never include markdown.","inputType":"binary","binaryPropertyName":"data","simplify":true,"options":{"maxTokens":1200}},"credentials":{"anthropicApi":{"id":"yiUg577mPI3s1EDq","name":"claude_api"}}},{"id":"oii-parse-claude","name":"Parse Claude Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2660,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const raw = $input.first().json || {};\nconst pickText = (value) => {\n  if (typeof value === 'string' && value.trim()) return value.trim();\n  if (Array.isArray(value)) {\n    for (const entry of value) {\n      const nested = pickText(entry);\n      if (nested) return nested;\n    }\n    return '';\n  }\n  if (value && typeof value === 'object') {\n    for (const key of ['output', 'text', 'mergedResponse', 'completion', 'content', 'response', 'result']) {\n      if (typeof value[key] === 'string' && value[key].trim()) return value[key].trim();\n    }\n    if (Array.isArray(value.content)) {\n      for (const part of value.content) {\n        if (typeof part?.text === 'string' && part.text.trim()) return part.text.trim();\n      }\n    }\n  }\n  return '';\n};\n\nconst extractJson = (value) => {\n  const text = pickText(value);\n  if (!text) return null;\n  try { return JSON.parse(text); } catch {}\n  const block = text.match(/\\{[\\s\\S]*\\}/);\n  if (block) {\n    try { return JSON.parse(block[0]); } catch {}\n  }\n  const tick = String.fromCharCode(96).repeat(3);\n  const fenced = text.replace(new RegExp(tick + 'json|' + tick, 'gi'), '').trim();\n  try { return JSON.parse(fenced); } catch {}\n  return null;\n};\n\nconst parsed = extractJson(raw) || {};\nconst documentConfidenceRaw = parsed.document_confidence ?? parsed.confidence ?? parsed.ocr_confidence ?? null;\nconst documentConfidence = documentConfidenceRaw === null || documentConfidenceRaw === undefined || documentConfidenceRaw === ''\n  ? null\n  : (Number(documentConfidenceRaw) > 1 && Number(documentConfidenceRaw) <= 100 ? Number(documentConfidenceRaw) / 100 : Number(documentConfidenceRaw));\nconst rows = Array.isArray(parsed.rows) ? parsed.rows : [];\nconst invalid = Array.isArray(parsed.invalid_rows) ? parsed.invalid_rows : [];\nconst qualityNotes = Array.isArray(parsed.quality_notes) ? parsed.quality_notes : [];\nconst items = [];\nfor (const row of rows) {\n  items.push({\n    json: {\n      item_name: row.item_name || row.name || row.product || '',\n      price: row.price,\n      stock: row.stock,\n      unit: row.unit || '',\n      category: row.category || '',\n      brand: row.brand || '',\n      raw_line: row.raw_line || '',\n      row_confidence: row.row_confidence ?? row.confidence ?? row.ocr_confidence ?? null,\n      review_reason: row.review_reason || row.reason || '',\n      needs_review: row.needs_review === true,\n      document_confidence: Number.isFinite(documentConfidence) ? documentConfidence : null,\n      quality_notes: qualityNotes,\n    },\n  });\n}\nfor (const row of invalid) {\n  items.push({\n    json: {\n      item_name: row.item_name || row.name || '',\n      raw_line: row.raw_line || row.source || '',\n      reason: row.reason || 'invalid row',\n      invalid: true,\n      row_confidence: row.row_confidence ?? row.confidence ?? row.ocr_confidence ?? null,\n      document_confidence: Number.isFinite(documentConfidence) ? documentConfidence : null,\n      quality_notes: qualityNotes,\n    },\n  });\n}\nif (!items.length) {\n  items.push({\n    json: {\n      invalid: true,\n      raw_line: '',\n      reason: 'no rows parsed',\n      document_confidence: Number.isFinite(documentConfidence) ? documentConfidence : null,\n      quality_notes: qualityNotes,\n    },\n  });\n}\nreturn items;"}},{"id":"oii-preview","name":"Prepare Import Preview","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"let meta = {};\ntry {\n  meta = $('Attach Downloaded Binary').first().json || {};\n} catch {}\nif (!meta || Object.keys(meta).length === 0) {\n  try {\n    meta = $('Pass Existing Binary').first().json || {};\n  } catch {}\n}\nif (!meta || Object.keys(meta).length === 0) {\n  try {\n    meta = $('Determine Import Source').first().json || {};\n  } catch {}\n}\nconst inventory = $('Load Inventory Snapshot').all().map((item) => item.json || {}).filter((row) => row && row.item_name);\nconst inputRows = $input.all().map((item) => item.json || {});\nconst parseMode = String(meta.parse_mode || '').toLowerCase();\nconst ocrBacked = parseMode === 'image' || parseMode === 'document';\nconst documentConfidenceThreshold = 0.88;\nconst rowConfidenceThreshold = 0.9;\n\nconst normalizeName = (value) => String(value || '').toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim().replace(/\\s+/g, ' ');\nconst toNum = (value) => value === null || value === undefined || value === '' ? null : Number(value);\nconst words = (value) => normalizeName(value).split(' ').filter(Boolean);\nconst normalizeConfidence = (value) => {\n  if (value === null || value === undefined || value === '') return null;\n  const num = Number(value);\n  if (!Number.isFinite(num)) return null;\n  if (num > 1 && num <= 100) return num / 100;\n  if (num >= 0 && num <= 1) return num;\n  return null;\n};\n\nfunction scoreCandidate(target, candidate) {\n  if (!target || !candidate) return 0;\n  if (target === candidate) return 1;\n  if (candidate.startsWith(target) || target.startsWith(candidate)) return 0.9;\n  if (candidate.includes(target) || target.includes(candidate)) return 0.82;\n  const a = new Set(words(target));\n  const b = new Set(words(candidate));\n  const common = [...a].filter((word) => b.has(word)).length;\n  const union = new Set([...a, ...b]).size || 1;\n  return common / union;\n}\n\nfunction buildSku(name, rows, reserved) {\n  const used = new Set(rows.map((row) => String(row.sku || '').trim()).filter(Boolean).map((sku) => sku.toUpperCase()));\n  for (const value of reserved) used.add(String(value || '').trim().toUpperCase());\n  let baseSku = normalizeName(name).toUpperCase().replace(/[^A-Z0-9]+/g, '_').replace(/^_+|_+$/g, '').slice(0, 18);\n  if (!baseSku) baseSku = 'ITEM';\n  let sku = baseSku;\n  let suffix = 2;\n  while (used.has(sku)) {\n    sku = baseSku.slice(0, 14) + '_' + suffix;\n    suffix += 1;\n  }\n  reserved.add(sku);\n  return sku;\n}\n\nfunction resolveItem(name) {\n  const normalized = normalizeName(name);\n  const exact = inventory.filter((row) => normalizeName(row.item_name) === normalized);\n  const activeExact = exact.filter((row) => row.is_active !== false);\n  if (activeExact.length === 1) return { status: 'exact', row: activeExact[0], matches: [activeExact[0].item_name] };\n  if (exact.length === 1) return { status: 'inactive_exact', row: exact[0], matches: [exact[0].item_name] };\n  const fuzzy = inventory.map((row) => ({ row, score: scoreCandidate(normalized, normalizeName(row.item_name)) }))\n    .filter((row) => row.score >= 0.58)\n    .sort((a, b) => b.score - a.score)\n    .slice(0, 5);\n  if (fuzzy.length === 1 && fuzzy[0].score >= 0.8) return { status: 'possible_match', row: fuzzy[0].row, matches: [fuzzy[0].row.item_name] };\n  if (fuzzy.length > 0) return { status: 'ambiguous', matches: fuzzy.map((row) => row.row.item_name) };\n  return { status: 'new', matches: [] };\n}\n\nconst nameKeys = ['item_name', 'item', 'product_name', 'product', 'name', 'title'];\nconst priceKeys = ['price', 'rate', 'mrp', 'selling_price', 'amount'];\nconst stockKeys = ['stock', 'qty', 'quantity', 'count', 'inventory'];\nconst unitKeys = ['unit', 'size', 'pack'];\nconst categoryKeys = ['category', 'group'];\nconst brandKeys = ['brand', 'company'];\n\nfunction pickField(row, keys) {\n  const lowered = {};\n  for (const [key, value] of Object.entries(row || {})) {\n    lowered[String(key).toLowerCase().replace(/[^a-z0-9]+/g, '_')] = value;\n  }\n  for (const key of keys) {\n    if (row[key] !== undefined && row[key] !== null && row[key] !== '') return row[key];\n    if (lowered[key] !== undefined && lowered[key] !== null && lowered[key] !== '') return lowered[key];\n  }\n  return '';\n}\n\nconst documentConfidence = normalizeConfidence(inputRows[0]?.document_confidence);\nconst reservedSkus = new Set();\nconst seenNames = new Set();\nconst previewRows = [];\nconst invalidRows = [];\nconst summary = {\n  total_rows: inputRows.length,\n  valid_rows: 0,\n  new_items: 0,\n  updates: 0,\n  reactivations: 0,\n  invalid_rows: 0,\n  ambiguous_rows: 0,\n  possible_matches: 0,\n  duplicate_rows: 0,\n  has_blockers: false,\n};\nconst qualityNotes = [];\nif (ocrBacked) {\n  if (documentConfidence === null) {\n    summary.has_blockers = true;\n    qualityNotes.push('Missing document OCR confidence');\n  } else if (documentConfidence < documentConfidenceThreshold) {\n    summary.has_blockers = true;\n    qualityNotes.push('Document OCR confidence below threshold');\n  }\n}\n\nfor (const rawRow of inputRows) {\n  const itemName = String(pickField(rawRow, nameKeys) || '').trim();\n  const price = toNum(pickField(rawRow, priceKeys));\n  const stock = toNum(pickField(rawRow, stockKeys));\n  const unit = String(pickField(rawRow, unitKeys) || '').trim();\n  const category = String(pickField(rawRow, categoryKeys) || '').trim();\n  const brand = String(pickField(rawRow, brandKeys) || '').trim();\n  const invalid = rawRow.invalid === true;\n  const rowConfidence = normalizeConfidence(rawRow.row_confidence ?? rawRow.confidence ?? rawRow.ocr_confidence);\n  const alphaChars = (itemName.match(/[a-z]/gi) || []).length;\n  const digitChars = (itemName.match(/\\d/g) || []).length;\n  const row = {\n    raw_line: String(rawRow.raw_line || itemName || '').trim(),\n    item_name: itemName,\n    normalized_name: normalizeName(itemName),\n    price,\n    stock,\n    unit,\n    category,\n    brand,\n    reason: String(rawRow.reason || '').trim(),\n    row_confidence: rowConfidence,\n    review_reason: String(rawRow.review_reason || '').trim(),\n  };\n\n  const rowBlockers = [];\n  if (!itemName) rowBlockers.push('missing item name');\n  if (price === null || Number.isNaN(price) || price <= 0) rowBlockers.push('missing or invalid price');\n  if (stock === null || Number.isNaN(stock) || stock < 0) rowBlockers.push('missing or invalid stock');\n  if (ocrBacked) {\n    if (rowConfidence === null) rowBlockers.push('missing OCR confidence');\n    else if (rowConfidence < rowConfidenceThreshold) rowBlockers.push('low OCR confidence');\n    if (alphaChars < 3) rowBlockers.push('item name too noisy');\n    if (digitChars > alphaChars) rowBlockers.push('item name looks misread');\n    if (rawRow.needs_review === true) rowBlockers.push('Claude marked row for review');\n  }\n\n  if (invalid || rowBlockers.length > 0) {\n    previewRows.push({\n      ...row,\n      action: 'invalid',\n      reason: row.reason || row.review_reason || rowBlockers.join(', '),\n    });\n    invalidRows.push({ ...row, reason: row.reason || row.review_reason || rowBlockers.join(', ') });\n    summary.invalid_rows += 1;\n    summary.has_blockers = true;\n    continue;\n  }\n\n  if (seenNames.has(row.normalized_name)) {\n    previewRows.push({ ...row, action: 'duplicate_in_batch', reason: 'duplicate row in import' });\n    invalidRows.push({ ...row, reason: 'duplicate row in import' });\n    summary.duplicate_rows += 1;\n    summary.has_blockers = true;\n    continue;\n  }\n  seenNames.add(row.normalized_name);\n\n  const resolution = resolveItem(itemName);\n  if (resolution.status === 'exact') {\n    previewRows.push({\n      ...row,\n      action: 'update_existing',\n      existing_item_name: resolution.row.item_name,\n      existing_sku: String(resolution.row.sku || ''),\n      desired_active: true,\n    });\n    summary.valid_rows += 1;\n    summary.updates += 1;\n    continue;\n  }\n  if (resolution.status === 'inactive_exact') {\n    previewRows.push({\n      ...row,\n      action: 'reactivate_existing',\n      existing_item_name: resolution.row.item_name,\n      existing_sku: String(resolution.row.sku || ''),\n      desired_active: true,\n    });\n    summary.valid_rows += 1;\n    summary.reactivations += 1;\n    continue;\n  }\n  if (resolution.status === 'possible_match') {\n    previewRows.push({ ...row, action: 'possible_match', match_names: resolution.matches });\n    invalidRows.push({ ...row, reason: 'possible match', match_names: resolution.matches });\n    summary.possible_matches += 1;\n    summary.has_blockers = true;\n    continue;\n  }\n  if (resolution.status === 'ambiguous') {\n    previewRows.push({ ...row, action: 'ambiguous', match_names: resolution.matches });\n    invalidRows.push({ ...row, reason: 'ambiguous item match', match_names: resolution.matches });\n    summary.ambiguous_rows += 1;\n    summary.has_blockers = true;\n    continue;\n  }\n  previewRows.push({\n    ...row,\n    action: 'new_item',\n    suggested_sku: buildSku(itemName, inventory, reservedSkus),\n    desired_active: true,\n  });\n  summary.valid_rows += 1;\n  summary.new_items += 1;\n}\n\nreturn [{\n  json: {\n    ...meta,\n    action: 'preview_manual',\n    preview_rows: previewRows,\n    cleanup_summary: summary,\n    invalid_rows: invalidRows,\n    document_confidence: documentConfidence,\n    quality_notes: [\n      ...qualityNotes,\n      ...inputRows.flatMap((row) => Array.isArray(row.quality_notes) ? row.quality_notes : []),\n    ].filter(Boolean),\n  },\n}];"}},{"id":"oii-build-sql","name":"Build Import SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[3100,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Prepare Import Preview').first().json;\nconst esc = (value) => String(value === undefined || value === null ? '' : value).replace(/'/g, \"''\");\nconst storeId = Number(d.store_id || 0);\nconst summary = d.cleanup_summary || {};\nconst sessionId = 'inv_' + Date.now() + '_' + Math.random().toString(36).slice(2, 8);\nconst jobId = 'imp_' + Date.now() + '_' + Math.random().toString(36).slice(2, 8);\nconst status = summary.has_blockers ? 'awaiting_fix' : 'pending_preview';\n\nfunction jsonLiteral(value) {\n  return \"'\" + esc(JSON.stringify(value)) + \"'::jsonb\";\n}\n\nconst sql = [\n  'CREATE TABLE IF NOT EXISTS public.owner_import_jobs (',\n  '  job_id TEXT PRIMARY KEY,',\n  '  store_id BIGINT,',\n  '  chat_id TEXT NOT NULL,',\n  '  source_type TEXT NOT NULL,',\n  '  status TEXT NOT NULL,',\n  '  parsed_rows_json JSONB DEFAULT \\'[]\\'::jsonb,',\n  '  invalid_rows_json JSONB DEFAULT \\'[]\\'::jsonb,',\n  '  file_name TEXT,',\n  '  mime_type TEXT,',\n  '  created_at TIMESTAMPTZ DEFAULT NOW(),',\n  '  updated_at TIMESTAMPTZ DEFAULT NOW()',\n  ');',\n  'CREATE TABLE IF NOT EXISTS public.owner_operation_sessions (',\n  '  session_id TEXT PRIMARY KEY,',\n  '  store_id BIGINT,',\n  '  chat_id TEXT NOT NULL,',\n  '  operation_type TEXT NOT NULL,',\n  '  source_type TEXT NOT NULL,',\n  '  parsed_payload_json JSONB DEFAULT \\'{}\\'::jsonb,',\n  '  cleanup_summary_json JSONB DEFAULT \\'{}\\'::jsonb,',\n  '  preview_rows_json JSONB DEFAULT \\'[]\\'::jsonb,',\n  '  status TEXT NOT NULL,',\n  '  created_at TIMESTAMPTZ DEFAULT NOW(),',\n  '  updated_at TIMESTAMPTZ DEFAULT NOW()',\n  ');',\n  \"INSERT INTO public.owner_import_jobs (job_id, store_id, chat_id, source_type, status, parsed_rows_json, invalid_rows_json, file_name, mime_type, created_at, updated_at)\",\n  \"VALUES ('\" + esc(jobId) + \"', \" + (storeId > 0 ? storeId : 'NULL') + \", '\" + esc(d.chat_id) + \"', '\" + esc(d.source_type || 'document') + \"', '\" + status + \"', \" + jsonLiteral(d.preview_rows || []) + \", \" + jsonLiteral(d.invalid_rows || []) + \", '\" + esc(d.media_filename || '') + \"', '\" + esc(d.media_mime_type || '') + \"', NOW(), NOW());\",\n  \"INSERT INTO public.owner_operation_sessions (session_id, store_id, chat_id, operation_type, source_type, parsed_payload_json, cleanup_summary_json, preview_rows_json, status, created_at, updated_at)\",\n  \"VALUES ('\" + esc(sessionId) + \"', \" + (storeId > 0 ? storeId : 'NULL') + \", '\" + esc(d.chat_id) + \"', 'inventory_import_preview', '\" + esc(d.source_type || 'document') + \"', \" + jsonLiteral({ file_name: d.media_filename || '', mime_type: d.media_mime_type || '', job_id: jobId }) + \", \" + jsonLiteral(summary) + \", \" + jsonLiteral(d.preview_rows || []) + \", '\" + status + \"', NOW(), NOW());\",\n  \"SELECT 'preview_created' AS result, '\" + esc(sessionId) + \"' AS session_id, '\" + esc(jobId) + \"' AS job_id, \" + jsonLiteral(summary) + \" AS summary, \" + jsonLiteral(d.preview_rows || []) + \" AS preview_rows, \" + jsonLiteral(d.invalid_rows || []) + \" AS invalid_rows;\",\n].join('\\n');\n\nreturn [{ json: { ...d, sql } }];"}},{"id":"oii-run-sql","name":"Run Import SQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3320,320],"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true},{"id":"oii-format","name":"Format Import Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3540,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Prepare Import Preview').first().json;\nconst row = $input.first().json || {};\n\nconst parseMaybeJson = (value, fallback) => {\n  if (value === undefined || value === null || value === '') return fallback;\n  if (Array.isArray(value) || typeof value === 'object') return value;\n  try { return JSON.parse(value); } catch { return fallback; }\n};\n\nconst summary = parseMaybeJson(row.summary, d.cleanup_summary || {});\nconst previewRows = parseMaybeJson(row.preview_rows, d.preview_rows || []);\nconst invalidRows = parseMaybeJson(row.invalid_rows, d.invalid_rows || []);\nconst qualityNotes = parseMaybeJson(d.quality_notes, []);\nconst sessionId = String(row.session_id || '');\nconst fileLabel = d.media_filename || 'your file';\nconst makeButtons = (body, buttons) => ({ chat_id: d.chat_id, message_type: 'button', body_text: body, buttons});\nconst makeText = (body) => ({ chat_id: d.chat_id, message_type: 'text', body_text: body});\n\nif (row.result !== 'preview_created') {\n  return [{ json: makeText('I could not prepare the inventory import preview safely. Please try the upload again.') }];\n}\n\nconst lines = [];\nfor (const entry of previewRows.slice(0, 8)) {\n  if (entry.action === 'new_item') {\n    lines.push('- New: ' + entry.item_name + ' (SKU ' + entry.suggested_sku + ', Rs.' + Number(entry.price || 0).toFixed(2) + ', stock ' + Number(entry.stock || 0) + ')');\n  } else if (entry.action === 'update_existing') {\n    lines.push('- Update: ' + entry.existing_item_name + ' -> Rs.' + Number(entry.price || 0).toFixed(2) + ', stock ' + Number(entry.stock || 0));\n  } else if (entry.action === 'reactivate_existing') {\n    lines.push('- Reactivate: ' + entry.existing_item_name + ' -> Rs.' + Number(entry.price || 0).toFixed(2) + ', stock ' + Number(entry.stock || 0));\n  } else if (entry.action === 'possible_match' || entry.action === 'ambiguous') {\n    lines.push('- Review: ' + entry.item_name + ' may match ' + (entry.match_names || []).join(', '));\n  } else if (entry.action === 'duplicate_in_batch') {\n    lines.push('- Duplicate row: ' + entry.item_name);\n  } else {\n    lines.push('- Invalid: ' + (entry.raw_line || entry.item_name || 'row'));\n  }\n}\n\nconst invalidCount = invalidRows.length ? '\\nInvalid rows: ' + invalidRows.length : '';\nconst qualityLine = qualityNotes.length ? '\\nQuality notes: ' + qualityNotes.slice(0, 3).join('; ') : '';\nif (summary.has_blockers) {\n  return [{ json: makeButtons(\n    'I parsed ' + fileLabel + ' and found blockers.\\n\\n' + lines.join('\\n') + invalidCount + qualityLine + '\\n\\nNo catalog changes were applied. Fix the file and upload it again or send a clearer XLS/XLSX/image.',\n    [\n      { id: 'owner_catalog_import', title: 'Upload again' },\n      { id: 'owner_inv_cancel__' + sessionId, title: 'Cancel' },\n    ],\n  ) }];\n}\n\nreturn [{ json: makeButtons(\n  'Import preview for ' + fileLabel + ':\\n\\n' + lines.join('\\n') + invalidCount + '\\n\\nConfirm to apply these catalog changes.',\n  [\n    { id: 'owner_inv_confirm__' + sessionId, title: 'Confirm import' },\n    { id: 'owner_inv_cancel__' + sessionId, title: 'Cancel' },\n  ],\n) }];"}},{"id":"oii-send","name":"Send Response","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[3760,320],"parameters":{"source":"database","workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"}}}],"connections":{"Start":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Inspect Inventory Schema","type":"main","index":0}]]},"Inspect Inventory Schema":{"main":[[{"node":"Load Inventory Snapshot","type":"main","index":0}]]},"Load Inventory Snapshot":{"main":[[{"node":"Determine Import Source","type":"main","index":0}]]},"Determine Import Source":{"main":[[{"node":"Import Source","type":"main","index":0}]]},"Import Source":{"main":[[{"node":"Format Error Response","type":"main","index":0}],[{"node":"Pass Existing Binary","type":"main","index":0}],[{"node":"Get WhatsApp Media Metadata","type":"main","index":0}]]},"Format Error Response":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Pass Existing Binary":{"main":[[{"node":"Parse Kind","type":"main","index":0}]]},"Get WhatsApp Media Metadata":{"main":[[{"node":"Download WhatsApp Media","type":"main","index":0}]]},"Download WhatsApp Media":{"main":[[{"node":"Attach Downloaded Binary","type":"main","index":0}]]},"Attach Downloaded Binary":{"main":[[{"node":"Parse Kind","type":"main","index":0}]]},"Parse Kind":{"main":[[{"node":"Parse Spreadsheet","type":"main","index":0}],[{"node":"Claude Analyze Document","type":"main","index":0}],[{"node":"Claude Analyze Image","type":"main","index":0}],[{"node":"Format Error Response","type":"main","index":0}]]},"Parse Spreadsheet":{"main":[[{"node":"Prepare Import Preview","type":"main","index":0}]]},"Claude Analyze Document":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Claude Analyze Image":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Prepare Import Preview","type":"main","index":0}]]},"Prepare Import Preview":{"main":[[{"node":"Build Import SQL","type":"main","index":0}]]},"Build Import SQL":{"main":[[{"node":"Run Import SQL","type":"main","index":0}]]},"Run Import SQL":{"main":[[{"node":"Format Import Response","type":"main","index":0}]]},"Format Import Response":{"main":[[{"node":"Send Response","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-11T18:13:09.473Z","id":1646,"workflowId":"THmSvgrSb12AH0Mt","versionId":"f196ee2a-f0f1-4d0e-b90e-50aff748a200","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T18:13:09.519Z","id":1647,"workflowId":"THmSvgrSb12AH0Mt","versionId":"f196ee2a-f0f1-4d0e-b90e-50aff748a200","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T18:13:13.030Z","id":1654,"workflowId":"THmSvgrSb12AH0Mt","versionId":"f196ee2a-f0f1-4d0e-b90e-50aff748a200","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T18:13:13.401Z","id":1655,"workflowId":"THmSvgrSb12AH0Mt","versionId":"f196ee2a-f0f1-4d0e-b90e-50aff748a200","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T18:13:41.927Z","id":1662,"workflowId":"THmSvgrSb12AH0Mt","versionId":"f196ee2a-f0f1-4d0e-b90e-50aff748a200","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T18:13:41.986Z","id":1663,"workflowId":"THmSvgrSb12AH0Mt","versionId":"f196ee2a-f0f1-4d0e-b90e-50aff748a200","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T18:13:45.309Z","id":1670,"workflowId":"THmSvgrSb12AH0Mt","versionId":"f196ee2a-f0f1-4d0e-b90e-50aff748a200","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T18:13:45.640Z","id":1671,"workflowId":"THmSvgrSb12AH0Mt","versionId":"f196ee2a-f0f1-4d0e-b90e-50aff748a200","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}