workflows/latest/uFTUnWOeBHXiP2AI__Tool_View_Cart.json
{"updatedAt":"2026-03-15T11:18:56.061Z","createdAt":"2026-03-05T20:06:15.829Z","id":"uFTUnWOeBHXiP2AI","name":"[Tool] View Cart","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"cd1c158f-9fe1-4c3e-84c7-02e35a243708","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-720,160]},{"parameters":{"operation":"executeQuery","query":"=SELECT\n    ci.sku,\n    i.item_name,\n    ci.quantity,\n    i.unit,\n    ci.price_at_addition AS unit_price,\n    (ci.quantity * ci.price_at_addition) AS line_total\nFROM public.cart_items ci\nJOIN public.inventory i ON ci.sku = i.sku\nJOIN public.carts c ON ci.cart_id = c.cart_id\nWHERE c.user_id = {{ ($('Start').first().json.tool_input && $('Start').first().json.tool_input.chat_id) ? $('Start').first().json.tool_input.chat_id : $('Start').first().json.chat_id }}\nAND c.status = 'active'\nORDER BY i.item_name ASC;","options":{}},"id":"89a8484b-fba1-4257-bcac-dc2ea8103e72","name":"Get Cart Items","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-480,160],"alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"empty-check","leftValue":"={{ $input.first() && $input.first().json && $input.first().json.sku ? $input.first().json.sku : '' }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"id":"45a0c516-d0dc-4957-91d6-af653c6fd7d1","name":"Is Cart Empty?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-240,160],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const _start = $('Start').first().json;\nconst chatId = (_start.tool_input && _start.tool_input.chat_id) ? _start.tool_input.chat_id : _start.chat_id;\nconst payload = {\n  confirmation_message: 'Your cart is empty. Send me what you need and I will add it for you!',\n  chat_id: chatId,\n};\nreturn [{ json: payload }];"},"id":"47b6d640-ee9a-4340-bda6-4defe936d514","name":"Format Empty Cart","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"const root = (() => {\n  try {\n    const start = $('Start').first();\n    if (start && start.json) return start.json;\n  } catch {}\n  if ($json && typeof $json === 'object' && Object.keys($json).length > 0) return $json;\n  try {\n    const current = $input.first();\n    return (current && current.json) ? current.json : {};\n  } catch {}\n  return {};\n})();\nconst toolInput = (root.tool_input && typeof root.tool_input === 'object') ? root.tool_input : root;\nconst chatId = String(toolInput.chat_id || '');\n\nconst normalizeUnit = (value) => {\n  const map = {\n    kg: 'kg', kilo: 'kg', kilos: 'kg', kilogram: 'kg', kilograms: 'kg',\n    g: 'g', gm: 'g', gram: 'g', grams: 'g',\n    l: 'l', lt: 'l', ltr: 'l', litre: 'l', litres: 'l', liter: 'l', liters: 'l',\n    ml: 'ml', millilitre: 'ml', millilitres: 'ml', milliliter: 'ml', milliliters: 'ml',\n  };\n  return map[String(value || '').toLowerCase().trim()] || String(value || '').toLowerCase().trim() || 'pcs';\n};\nconst formatQty = (value) => Number.isInteger(Number(value)) ? String(Number(value)) : String(Number(Number(value).toFixed(3)));\nconst quantityLabel = (itemName, unit, quantity) => {\n  const lower = String(itemName || '').toLowerCase();\n  const packMatch = lower.match(/(\\d+(?:\\.\\d+)?)\\s*(kg|kilo|kilos|kilogram|kilograms|g|gm|gram|grams|ml|l|lt|ltr|litre|litres|liter|liters|millilitre|millilitres|milliliter|milliliters)\\b/i);\n  if (/\\bloose\\b/.test(lower) && packMatch) return normalizeUnit(packMatch[2]);\n  if (packMatch) return Number(quantity) === 1 ? 'pack' : 'packs';\n  return normalizeUnit(unit) || 'pcs';\n};\n\nconst items = $input.all().map((row) => row && row.json ? row.json : null).filter((row) => row && row.sku);\nif (!items.length) {\n  return [{ json: {\n    chat_id: chatId,\n    customer_ui_state: 'BROWSE_HOME',\n    message_type: 'button',\n    body_text: 'Your cart is empty right now.\\n\\nStart shopping from the menu or send items like \"2 milk and 1 bread\".',\n    buttons: [\n      { id: 'start_shopping', title: 'Shop Items' },\n      { id: 'get_promos', title: 'Offers' },\n    ],\n  } }];\n}\n\nconst enablePricing = (() => {\n  try { return $('Get Pricing Flag').first().json.enable_pricing !== false; } catch { return true; }\n})();\n\nlet total = 0;\nconst lines = [];\nfor (const item of items) {\n  const lineTotal = Number(item.line_total || 0);\n  total += lineTotal;\n  const priceStr = enablePricing ? ' — ₹' + lineTotal.toFixed(0) : '';\n  lines.push('• ' + item.item_name + ' × ' + formatQty(item.quantity) + ' ' + quantityLabel(item.item_name, item.unit, item.quantity) + priceStr);\n}\n\n// Fix 5: item count = distinct rows, not sum of quantities\nconst itemCount = items.length;\nconst totalStr = enablePricing ? ' · Total: ₹' + total.toFixed(0) : '';\n\nreturn [{ json: {\n  chat_id: chatId,\n  customer_ui_state: 'CART_ACTIVE',\n  message_type: 'list',\n  body_text: '🛒 Your cart\\n\\n' + lines.join('\\n') + '\\n\\n' + itemCount + ' item' + (itemCount !== 1 ? 's' : '') + totalStr,\n  list_sections: [{\n    title: 'Cart actions',\n    rows: [\n      { id: 'checkout', title: 'Checkout', description: 'Review address and place order' },\n      { id: 'add_more', title: 'Add more items', description: 'Keep shopping from the store' },\n      { id: 'cancel_order', title: 'Clear cart', description: 'Remove pending cart items' },\n    ],\n  }],\n} }];"},"id":"7b02ab36-0a55-4da7-ae74-24bc34588c3a","name":"Format Cart","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,320]},{"id":"7cba0dc1-24b2-4325-856d-6bcc0fdd3cd4","name":"Get Pricing Flag","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-520,160],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"parameters":{"operation":"executeQuery","query":"SELECT enable_pricing FROM public.stores LIMIT 1;","options":{}}}],"connections":{"Start":{"main":[[{"node":"Get Pricing Flag","type":"main","index":0}]]},"Get Cart Items":{"main":[[{"node":"Is Cart Empty?","type":"main","index":0}]]},"Is Cart Empty?":{"main":[[{"node":"Format Empty Cart","type":"main","index":0}],[{"node":"Format Cart","type":"main","index":0}]]},"Get Pricing Flag":{"main":[[{"node":"Get Cart Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"tool_input":{"chat_id":"919988776655"}}}]},"versionId":"45fe9712-1e56-42e9-9d92-d358a97f9638","activeVersionId":"45fe9712-1e56-42e9-9d92-d358a97f9638","versionCounter":75,"triggerCount":0,"shared":[{"updatedAt":"2026-03-05T20:06:15.829Z","createdAt":"2026-03-05T20:06:15.829Z","role":"workflow:owner","workflowId":"uFTUnWOeBHXiP2AI","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T11:18:56.066Z","createdAt":"2026-03-15T11:18:56.066Z","versionId":"45fe9712-1e56-42e9-9d92-d358a97f9638","workflowId":"uFTUnWOeBHXiP2AI","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"cd1c158f-9fe1-4c3e-84c7-02e35a243708","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-720,160]},{"parameters":{"operation":"executeQuery","query":"=SELECT\n    ci.sku,\n    i.item_name,\n    ci.quantity,\n    i.unit,\n    ci.price_at_addition AS unit_price,\n    (ci.quantity * ci.price_at_addition) AS line_total\nFROM public.cart_items ci\nJOIN public.inventory i ON ci.sku = i.sku\nJOIN public.carts c ON ci.cart_id = c.cart_id\nWHERE c.user_id = {{ ($('Start').first().json.tool_input && $('Start').first().json.tool_input.chat_id) ? $('Start').first().json.tool_input.chat_id : $('Start').first().json.chat_id }}\nAND c.status = 'active'\nORDER BY i.item_name ASC;","options":{}},"id":"89a8484b-fba1-4257-bcac-dc2ea8103e72","name":"Get Cart Items","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-480,160],"alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"empty-check","leftValue":"={{ $input.first() && $input.first().json && $input.first().json.sku ? $input.first().json.sku : '' }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"id":"45a0c516-d0dc-4957-91d6-af653c6fd7d1","name":"Is Cart Empty?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-240,160],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const _start = $('Start').first().json;\nconst chatId = (_start.tool_input && _start.tool_input.chat_id) ? _start.tool_input.chat_id : _start.chat_id;\nconst payload = {\n  confirmation_message: 'Your cart is empty. Send me what you need and I will add it for you!',\n  chat_id: chatId,\n};\nreturn [{ json: payload }];"},"id":"47b6d640-ee9a-4340-bda6-4defe936d514","name":"Format Empty Cart","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"const root = (() => {\n  try {\n    const start = $('Start').first();\n    if (start && start.json) return start.json;\n  } catch {}\n  if ($json && typeof $json === 'object' && Object.keys($json).length > 0) return $json;\n  try {\n    const current = $input.first();\n    return (current && current.json) ? current.json : {};\n  } catch {}\n  return {};\n})();\nconst toolInput = (root.tool_input && typeof root.tool_input === 'object') ? root.tool_input : root;\nconst chatId = String(toolInput.chat_id || '');\n\nconst normalizeUnit = (value) => {\n  const map = {\n    kg: 'kg', kilo: 'kg', kilos: 'kg', kilogram: 'kg', kilograms: 'kg',\n    g: 'g', gm: 'g', gram: 'g', grams: 'g',\n    l: 'l', lt: 'l', ltr: 'l', litre: 'l', litres: 'l', liter: 'l', liters: 'l',\n    ml: 'ml', millilitre: 'ml', millilitres: 'ml', milliliter: 'ml', milliliters: 'ml',\n  };\n  return map[String(value || '').toLowerCase().trim()] || String(value || '').toLowerCase().trim() || 'pcs';\n};\nconst formatQty = (value) => Number.isInteger(Number(value)) ? String(Number(value)) : String(Number(Number(value).toFixed(3)));\nconst quantityLabel = (itemName, unit, quantity) => {\n  const lower = String(itemName || '').toLowerCase();\n  const packMatch = lower.match(/(\\d+(?:\\.\\d+)?)\\s*(kg|kilo|kilos|kilogram|kilograms|g|gm|gram|grams|ml|l|lt|ltr|litre|litres|liter|liters|millilitre|millilitres|milliliter|milliliters)\\b/i);\n  if (/\\bloose\\b/.test(lower) && packMatch) return normalizeUnit(packMatch[2]);\n  if (packMatch) return Number(quantity) === 1 ? 'pack' : 'packs';\n  return normalizeUnit(unit) || 'pcs';\n};\n\nconst items = $input.all().map((row) => row && row.json ? row.json : null).filter((row) => row && row.sku);\nif (!items.length) {\n  return [{ json: {\n    chat_id: chatId,\n    customer_ui_state: 'BROWSE_HOME',\n    message_type: 'button',\n    body_text: 'Your cart is empty right now.\\n\\nStart shopping from the menu or send items like \"2 milk and 1 bread\".',\n    buttons: [\n      { id: 'start_shopping', title: 'Shop Items' },\n      { id: 'get_promos', title: 'Offers' },\n    ],\n  } }];\n}\n\nconst enablePricing = (() => {\n  try { return $('Get Pricing Flag').first().json.enable_pricing !== false; } catch { return true; }\n})();\n\nlet total = 0;\nconst lines = [];\nfor (const item of items) {\n  const lineTotal = Number(item.line_total || 0);\n  total += lineTotal;\n  const priceStr = enablePricing ? ' — ₹' + lineTotal.toFixed(0) : '';\n  lines.push('• ' + item.item_name + ' × ' + formatQty(item.quantity) + ' ' + quantityLabel(item.item_name, item.unit, item.quantity) + priceStr);\n}\n\n// Fix 5: item count = distinct rows, not sum of quantities\nconst itemCount = items.length;\nconst totalStr = enablePricing ? ' · Total: ₹' + total.toFixed(0) : '';\n\nreturn [{ json: {\n  chat_id: chatId,\n  customer_ui_state: 'CART_ACTIVE',\n  message_type: 'list',\n  body_text: '🛒 Your cart\\n\\n' + lines.join('\\n') + '\\n\\n' + itemCount + ' item' + (itemCount !== 1 ? 's' : '') + totalStr,\n  list_sections: [{\n    title: 'Cart actions',\n    rows: [\n      { id: 'checkout', title: 'Checkout', description: 'Review address and place order' },\n      { id: 'add_more', title: 'Add more items', description: 'Keep shopping from the store' },\n      { id: 'cancel_order', title: 'Clear cart', description: 'Remove pending cart items' },\n    ],\n  }],\n} }];"},"id":"7b02ab36-0a55-4da7-ae74-24bc34588c3a","name":"Format Cart","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,320]},{"id":"7cba0dc1-24b2-4325-856d-6bcc0fdd3cd4","name":"Get Pricing Flag","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-520,160],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"parameters":{"operation":"executeQuery","query":"SELECT enable_pricing FROM public.stores LIMIT 1;","options":{}}}],"connections":{"Start":{"main":[[{"node":"Get Pricing Flag","type":"main","index":0}]]},"Get Cart Items":{"main":[[{"node":"Is Cart Empty?","type":"main","index":0}]]},"Is Cart Empty?":{"main":[[{"node":"Format Empty Cart","type":"main","index":0}],[{"node":"Format Cart","type":"main","index":0}]]},"Get Pricing Flag":{"main":[[{"node":"Get Cart Items","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-15T11:18:56.142Z","id":2356,"workflowId":"uFTUnWOeBHXiP2AI","versionId":"45fe9712-1e56-42e9-9d92-d358a97f9638","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-15T11:18:56.184Z","id":2357,"workflowId":"uFTUnWOeBHXiP2AI","versionId":"45fe9712-1e56-42e9-9d92-d358a97f9638","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}