workflows/latest/UgRHM83Qlh9S6Zor__Tool_V2_Place_Order.json
{"updatedAt":"2026-03-15T11:18:02.411Z","createdAt":"2026-03-07T07:53:14.549Z","id":"UgRHM83Qlh9S6Zor","name":"[Tool V2] Place Order","description":null,"active":true,"isArchived":false,"nodes":[{"id":"pov2-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,400],"parameters":{"inputSource":"passthrough"}},{"id":"pov2-getcart","name":"Get Active Cart for Checkout","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,400],"parameters":{"operation":"executeQuery","query":"=SELECT c.cart_id, c.user_id, c.store_id, ci.sku,\n  i.item_name AS original_name, ci.quantity, i.stock, i.unit,\n  ci.price_at_addition AS unit_price\nFROM public.cart_items ci\nJOIN public.inventory i ON ci.sku = i.sku\nJOIN public.carts c ON ci.cart_id = c.cart_id\nWHERE c.user_id = {{ $('Normalize Input').first().json.chat_id }} AND c.status = 'active';","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000},{"id":"pov2-emptycheck","name":"Is Checkout Cart Empty?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[660,400],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"empty-check-1","leftValue":"={{ $input.first() && $input.first().json && $input.first().json.sku ? $input.first().json.sku : '' }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"onError":"continueErrorOutput"},{"id":"pov2-emptyerr","name":"Format Empty Cart Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,220],"parameters":{"mode":"runOnceForAllItems","jsCode":"const normalize = (() => { try { return $('Normalize Input').first().json || {}; } catch { return {}; } })();\nconst root = (() => {\n  try {\n    const start = $('Start').first();\n    if (start && start.json) return start.json;\n  } catch {}\n  if ($json && typeof $json === 'object' && Object.keys($json).length > 0) return $json;\n  try {\n    const current = $input.first();\n    return (current && current.json) ? current.json : {};\n  } catch {}\n  return {};\n})();\nconst formatEmptyCart = new Function('normalize', 'root', \"\\nconst toolInput = (root.tool_input && typeof root.tool_input === 'object') ? root.tool_input : root;\\nconst chatId = String(normalize.chat_id || toolInput.chat_id || '');\\nreturn {\\n  chat_id: chatId,\\n  message_type: 'button',\\n  body_text: 'Your cart is empty right now.\\\\n\\\\nAdd a few items first and then tap checkout for the order summary.',\\n  buttons: [\\n    { id: 'start_shopping', title: 'Shop Items' },\\n    { id: 'get_promos', title: 'Offers' },\\n  ],\\n  error: true,\\n};\\n\");\nreturn [{ json: formatEmptyCart(normalize, root) }];"}},{"id":"pov2-getpromo","name":"Get Best Order Promo","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[880,440],"parameters":{"operation":"executeQuery","query":"SELECT promo_code, discount_type, discount_value, min_cart_value, description\nFROM public.promotions\nWHERE is_active = true AND promo_scope = 'order'\n  AND (valid_from IS NULL OR NOW() >= valid_from)\n  AND (valid_until IS NULL OR NOW() <= valid_until)\nORDER BY priority DESC, discount_value DESC\nLIMIT 1;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000},{"id":"pov2-calcorder","name":"Calculate Final Order","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const startRaw = $('Normalize Input').first().json || {};\nconst rawRows = $('Get Active Cart for Checkout').all().map((entry) => entry.json || {});\nconst promoRows = $input.all().map((entry) => entry.json || {}).filter((row) => row && row.promo_code);\nconst calculateFinalOrder = new Function('startRaw', 'rawRows', 'promoRows', \"\\nconst chatId = String(startRaw.chat_id || '');\\nconst address = startRaw.checkout_address || null;\\n\\nconst normalizeUnit = (value) => {\\n  const map = { kg: 'kg', kilo: 'kg', kilos: 'kg', g: 'g', gm: 'g', gram: 'g', l: 'l', lt: 'l', ltr: 'l', litre: 'l', liters: 'l', ml: 'ml' };\\n  return map[String(value || '').toLowerCase().trim()] || String(value || '').toLowerCase().trim() || 'pcs';\\n};\\nconst formatQty = (value) => Number.isInteger(Number(value)) ? String(Number(value)) : String(Number(Number(value).toFixed(3)));\\nconst quantityLabel = (name, unit, qty) => {\\n  const lower = String(name || '').toLowerCase();\\n  const packMatch = lower.match(/(\\\\d+(?:\\\\.\\\\d+)?)\\\\s*(kg|g|ml|l)\\\\b/i);\\n  if (/\\\\bloose\\\\b/.test(lower) && packMatch) return normalizeUnit(packMatch[2]);\\n  if (packMatch) return Number(qty) === 1 ? 'pack' : 'packs';\\n  return normalizeUnit(unit) || 'pcs';\\n};\\n\\nconst allItems = rawRows.filter((row) => row && row.cart_id);\\nif (allItems.length === 0) {\\n  return { confirmation_message: 'Your cart is empty.', chat_id: chatId, error: true };\\n}\\n\\nif (!address || String(address).trim() === '' || String(address).toLowerCase() === 'undefined' || String(address).toLowerCase() === 'null') {\\n  return { needs_address: true, chat_id: chatId, final_order_total: 0, confirmation_message: 'Please provide your delivery address.' };\\n}\\n\\nconst firstItem = allItems[0];\\nconst cartId = firstItem.cart_id;\\nlet subtotal = 0;\\nconst orderItems = allItems.map((row) => {\\n  const quantity = Number(row.quantity || 0);\\n  const unitPrice = Number(row.unit_price || 0);\\n  const lineTotal = quantity * unitPrice;\\n  subtotal += lineTotal;\\n  return {\\n    sku: row.sku,\\n    original_name: row.original_name,\\n    quantity,\\n    unit: row.unit || '',\\n    unit_price: unitPrice,\\n    line_total: lineTotal,\\n    display_quantity_unit: quantityLabel(row.original_name, row.unit, quantity),\\n  };\\n});\\n\\nlet totalDiscount = 0;\\nconst appliedPromos = [];\\nif (promoRows.length > 0) {\\n  const promo = promoRows[0];\\n  const minCart = Number(promo.min_cart_value || 0);\\n  if (minCart === 0 || subtotal >= minCart) {\\n    let discount = 0;\\n    if (promo.discount_type === 'percentage') discount = Number((subtotal * Number(promo.discount_value || 0) / 100).toFixed(2));\\n    else if (promo.discount_type === 'flat') discount = Number(Math.min(Number(promo.discount_value || 0), subtotal).toFixed(2));\\n    if (discount > 0) {\\n      totalDiscount = discount;\\n      appliedPromos.push({\\n        code: promo.promo_code,\\n        discount,\\n        description: promo.description || (String(promo.discount_value || 0) + '% off'),\\n      });\\n    }\\n  }\\n}\\n\\nconst finalTotal = Number((subtotal - totalDiscount).toFixed(2));\\nconst enablePricing = startRaw._enable_pricing !== false;\\nconst itemLines = orderItems\\n  .map((entry) => {\\n    const base = '- ' + entry.original_name + ' x ' + formatQty(entry.quantity) + ' ' + entry.display_quantity_unit;\\n    return enablePricing ? base + ' = ₹' + entry.line_total.toFixed(2) : base;\\n  })\\n  .join('\\\\n');\\nconst discountLines = (enablePricing && appliedPromos.length > 0)\\n  ? '\\\\nDiscounts:\\\\n' + appliedPromos.map((promo) => '  ' + promo.code + ': -₹' + promo.discount.toFixed(2) + ' (' + promo.description + ')').join('\\\\n')\\n  : '';\\nconst pricingSummary = enablePricing\\n  ? '\\\\nSubtotal: ₹' + subtotal.toFixed(2) + '\\\\nYou save: ₹' + totalDiscount.toFixed(2) + '\\\\nTotal Payable: ₹' + String(finalTotal)\\n  : '';\\nconst billMsg =\\n  'Order Summary\\\\n\\\\n' +\\n  itemLines +\\n  discountLines +\\n  '\\\\n\\\\nDeliver to: ' + String(address) +\\n  pricingSummary;\\n\\nreturn {\\n  order_id: 'ORD-' + String(chatId) + '-' + String(Date.now()),\\n  cart_id: cartId,\\n  chat_id: chatId,\\n  store_id: firstItem.store_id || 1,\\n  address,\\n  subtotal_before_discounts: subtotal,\\n  total_discount_applied: totalDiscount,\\n  final_order_total: finalTotal,\\n  applied_promos: appliedPromos,\\n  items_in_final_order: orderItems,\\n  confirmation_message: billMsg,\\n  error: false,\\n};\\n\");\nconst pricingFlagRow = (() => {\n  try { return $('Get Pricing Flag').first().json || {}; } catch { return {}; }\n})();\nstartRaw._enable_pricing = pricingFlagRow.enable_pricing !== false;\nreturn [{ json: calculateFinalOrder(startRaw, rawRows, promoRows) }];"}},{"id":"pov2-prep","name":"Prep Pending Order","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,440],"parameters":{"mode":"runOnceForEachItem","jsCode":"const d = $json || {};\nif (d.needs_address) return { json: d };\nif (d.error) return { json: d };\nconst orderJson = JSON.stringify({\n  order_id: d.order_id,\n  cart_id: d.cart_id,\n  chat_id: d.chat_id,\n  store_id: d.store_id,\n  address: d.address,\n  subtotal_before_discounts: d.subtotal_before_discounts,\n  total_discount_applied: d.total_discount_applied,\n  final_order_total: d.final_order_total,\n  applied_promos: d.applied_promos,\n  items_in_final_order: d.items_in_final_order,\n}).replace(/'/g, \"''\");\nreturn { json: { ...d, order_details_json_safe: orderJson } };"}},{"id":"pov2-save","name":"Save Pending Order","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1540,440],"parameters":{"operation":"executeQuery","query":"=INSERT INTO public.pending_orders (order_id, chat_id, store_id, status, final_order_total, order_details_json, created_at, expires_at)\nVALUES (\n  '{{ $('Prep Pending Order').first().json.order_id }}',\n  {{ $('Prep Pending Order').first().json.chat_id }},\n  {{ $('Prep Pending Order').first().json.store_id }},\n  'awaiting_confirmation',\n  {{ $('Prep Pending Order').first().json.final_order_total }},\n  '{{ $('Prep Pending Order').first().json.order_details_json_safe }}'::jsonb,\n  NOW(), NOW() + INTERVAL '30 minutes'\n)\nON CONFLICT (order_id) DO UPDATE SET\n  status='awaiting_confirmation',\n  final_order_total=EXCLUDED.final_order_total,\n  order_details_json=EXCLUDED.order_details_json,\n  expires_at=NOW() + INTERVAL '30 minutes',\n  updated_at=NOW();","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000},{"id":"pov2-storeinfo","name":"Get Store Info","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1760,440],"parameters":{"operation":"executeQuery","query":"SELECT store_id, store_name, upi_id, owner_whatsapp_number, enable_pricing FROM public.stores LIMIT 1;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true},{"id":"pov2-returnbill","name":"Return Bill V2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Prep Pending Order').first().json || {};\nconst returnBill = new Function('d', '$', \"\\nif (d.needs_address) {\\n  const hasLastAddr = !!(d.last_address && d.last_address !== 'undefined' && d.last_address !== 'null');\\n  return {\\n    chat_id: d.chat_id,\\n    customer_ui_state: 'CHECKOUT_ADDRESS_REQUIRED',\\n    message_type: 'list',\\n    body_text: 'Delivery address needed\\\\n\\\\nSend the full address in one message. Example: 12 MG Road, Indiranagar, Bengaluru.',\\n    list_sections: [{\\n      title: 'Next steps',\\n      rows: hasLastAddr\\n        ? [\\n            { id: 'use_last_address', title: 'Use last address', description: String(d.last_address || '').slice(0, 60) },\\n            { id: 'add_address', title: 'Type new address', description: 'Send a fresh address in chat' },\\n            { id: 'view_cart', title: 'View cart', description: 'Review items before checkout' },\\n          ]\\n        : [\\n            { id: 'add_address', title: 'Type address', description: 'Send your address in chat' },\\n            { id: 'add_more', title: 'Add more items', description: 'Keep shopping before checkout' },\\n            { id: 'view_cart', title: 'View cart', description: 'Review items before checkout' },\\n          ],\\n    }],\\n  };\\n}\\n\\nif (d.error) {\\n  return {\\n    chat_id: d.chat_id,\\n    customer_ui_state: 'CART_ACTIVE',\\n    message_type: 'button',\\n    body_text: String(d.confirmation_message || 'I could not prepare your order right now.'),\\n    buttons: [\\n      { id: 'view_cart', title: 'View Cart' },\\n      { id: 'start_shopping', title: 'Shop Items' },\\n    ],\\n    error: true,\\n  };\\n}\\n\\nconst readStore = () => {\\n  try { return $('Get Store Info').first().json || {}; } catch { return {}; }\\n};\\nconst store = readStore();\\nconst upiId = store.upi_id || '';\\nconst storeName = store.store_name || 'Kirana Store';\\nconst enablePricing = store.enable_pricing !== false;\\nlet msg = String(d.confirmation_message || '').trim();\\nif (!enablePricing) {\\n  msg = msg.split('\\\\n').filter((line) => {\\n    const l = line.trim();\\n    return !(l.match(/= ₹/) || l.startsWith('Subtotal:') || l.startsWith('You save:') || l.startsWith('Total Payable:') || l === 'Discounts:' || l.match(/^[A-Z0-9]+: -₹/));\\n  }).join('\\\\n').trim();\\n}\\nif (upiId) {\\n  const upiLink = 'upi://pay?pa=' + encodeURIComponent(upiId) + '&pn=' + encodeURIComponent(storeName) + '&am=' + d.final_order_total + '&tn=' + d.order_id + '&cu=INR';\\n  msg += '\\\\n\\\\n💳 UPI payment\\\\n' + upiLink;\\n}\\nmsg += '\\\\n\\\\nConfirm to place this order. You can also change the address or add more items.';\\n\\nreturn {\\n  chat_id: d.chat_id,\\n  customer_ui_state: 'CHECKOUT_REVIEW',\\n  message_type: 'list',\\n  body_text: msg.replace(/^Order Summary/i, 'Review your order'),\\n  list_sections: [{\\n    title: 'Checkout actions',\\n    rows: [\\n      { id: 'confirm_order', title: 'Confirm order', description: 'Place this order now' },\\n      { id: 'add_address', title: 'Change address', description: 'Update where this should be delivered' },\\n      { id: 'add_more', title: 'Add more items', description: 'Go back and keep shopping' },\\n    ],\\n  }],\\n  order_id: d.order_id,\\n  error: false,\\n};\\n\");\nreturn [{ json: returnBill(d, $) }];"}},{"parameters":{"operation":"executeQuery","query":"=UPDATE public.pending_orders SET status = 'expired', updated_at = NOW()\nWHERE chat_id = {{ $('Normalize Input').first().json.chat_id }}\nAND status = 'awaiting_confirmation'\nAND COALESCE(updated_at, created_at) < NOW() - INTERVAL '30 minutes';","options":{}},"id":"41263da0-b07b-48b7-9e2e-437982c2fb77","name":"Expire Old Pending","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[340,400],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"needs-address-if-node","name":"Needs Address?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,440],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"needs-addr-cond","leftValue":"={{ $json.needs_address }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"normalize-input-node","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[290,400],"parameters":{"jsCode":"// After Get Pricing Flag was added, $json = {enable_pricing:...}. \n// Get original trigger input from Start node explicitly.\nlet d = {};\ntry {\n  const startJson = $('Start').first().json;\n  if (startJson && typeof startJson === 'object' && Object.keys(startJson).length > 0) {\n    d = startJson;\n  }\n} catch {}\nif (!d || Object.keys(d).length === 0) {\n  if ($json && typeof $json === 'object' && Object.keys($json).length > 0) d = $json;\n  else {\n    try { d = ($input.first() || {}).json || {}; } catch { d = {}; }\n  }\n}\nconst ti = (d.tool_input && typeof d.tool_input === 'object') ? d.tool_input : {};\nconst chatId = String(d.chat_id || ti.chat_id || '');\nconst address = d.checkout_address || ti.address || null;\nconst lastAddress = d.last_address || null;\nreturn [{ json: { ...d, chat_id: chatId, checkout_address: address, last_address: lastAddress } }];"}},{"id":"set-addr-ctx-node","name":"Set Address Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1700,340],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"parameters":{"operation":"executeQuery","query":"=INSERT INTO customer_preferences (chat_id, browse_context, updated_at)\nVALUES ('{{ $('Normalize Input').first().json.chat_id }}', 'awaiting_address', NOW())\nON CONFLICT (chat_id) DO UPDATE SET browse_context = 'awaiting_address', updated_at = NOW()\nRETURNING chat_id, browse_context;","options":{}}},{"id":"clear-addr-ctx-node","name":"Clear Address Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1700,540],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"parameters":{"operation":"executeQuery","query":"=UPDATE customer_preferences SET browse_context = NULL, updated_at = NOW()\nWHERE chat_id = '{{ $('Normalize Input').first().json.chat_id }}'\nRETURNING chat_id;","options":{}}},{"id":"c5be0fce-a591-4559-8a8a-b5541cbf892b","name":"Get Pricing Flag","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,520],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"parameters":{"operation":"executeQuery","query":"SELECT enable_pricing FROM public.stores LIMIT 1;","options":{}}}],"connections":{"Start":{"main":[[{"node":"Get Pricing Flag","type":"main","index":0}]]},"Get Active Cart for Checkout":{"main":[[{"node":"Is Checkout Cart Empty?","type":"main","index":0}]]},"Is Checkout Cart Empty?":{"main":[[{"node":"Format Empty Cart Error","type":"main","index":0}],[{"node":"Get Best Order Promo","type":"main","index":0}]]},"Get Best Order Promo":{"main":[[{"node":"Calculate Final Order","type":"main","index":0}]]},"Calculate Final Order":{"main":[[{"node":"Prep Pending Order","type":"main","index":0}]]},"Prep Pending Order":{"main":[[{"node":"Needs Address?","type":"main","index":0}]]},"Save Pending Order":{"main":[[{"node":"Clear Address Context","type":"main","index":0}]]},"Get Store Info":{"main":[[{"node":"Return Bill V2","type":"main","index":0}]]},"Expire Old Pending":{"main":[[{"node":"Get Active Cart for Checkout","type":"main","index":0}]]},"Needs Address?":{"main":[[{"node":"Set Address Context","type":"main","index":0}],[{"node":"Save Pending Order","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Expire Old Pending","type":"main","index":0}]]},"Set Address Context":{"main":[[{"node":"Return Bill V2","type":"main","index":0}]]},"Clear Address Context":{"main":[[{"node":"Get Store Info","type":"main","index":0}]]},"Get Pricing Flag":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"e59edd63-61af-4bd7-8e46-05011da6ee46","activeVersionId":"e59edd63-61af-4bd7-8e46-05011da6ee46","versionCounter":75,"triggerCount":0,"shared":[{"updatedAt":"2026-03-07T07:53:14.549Z","createdAt":"2026-03-07T07:53:14.549Z","role":"workflow:owner","workflowId":"UgRHM83Qlh9S6Zor","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T11:18:02.414Z","createdAt":"2026-03-15T11:18:02.414Z","versionId":"e59edd63-61af-4bd7-8e46-05011da6ee46","workflowId":"UgRHM83Qlh9S6Zor","nodes":[{"id":"pov2-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,400],"parameters":{"inputSource":"passthrough"}},{"id":"pov2-getcart","name":"Get Active Cart for Checkout","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,400],"parameters":{"operation":"executeQuery","query":"=SELECT c.cart_id, c.user_id, c.store_id, ci.sku,\n  i.item_name AS original_name, ci.quantity, i.stock, i.unit,\n  ci.price_at_addition AS unit_price\nFROM public.cart_items ci\nJOIN public.inventory i ON ci.sku = i.sku\nJOIN public.carts c ON ci.cart_id = c.cart_id\nWHERE c.user_id = {{ $('Normalize Input').first().json.chat_id }} AND c.status = 'active';","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000},{"id":"pov2-emptycheck","name":"Is Checkout Cart Empty?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[660,400],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"empty-check-1","leftValue":"={{ $input.first() && $input.first().json && $input.first().json.sku ? $input.first().json.sku : '' }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"onError":"continueErrorOutput"},{"id":"pov2-emptyerr","name":"Format Empty Cart Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,220],"parameters":{"mode":"runOnceForAllItems","jsCode":"const normalize = (() => { try { return $('Normalize Input').first().json || {}; } catch { return {}; } })();\nconst root = (() => {\n  try {\n    const start = $('Start').first();\n    if (start && start.json) return start.json;\n  } catch {}\n  if ($json && typeof $json === 'object' && Object.keys($json).length > 0) return $json;\n  try {\n    const current = $input.first();\n    return (current && current.json) ? current.json : {};\n  } catch {}\n  return {};\n})();\nconst formatEmptyCart = new Function('normalize', 'root', \"\\nconst toolInput = (root.tool_input && typeof root.tool_input === 'object') ? root.tool_input : root;\\nconst chatId = String(normalize.chat_id || toolInput.chat_id || '');\\nreturn {\\n  chat_id: chatId,\\n  message_type: 'button',\\n  body_text: 'Your cart is empty right now.\\\\n\\\\nAdd a few items first and then tap checkout for the order summary.',\\n  buttons: [\\n    { id: 'start_shopping', title: 'Shop Items' },\\n    { id: 'get_promos', title: 'Offers' },\\n  ],\\n  error: true,\\n};\\n\");\nreturn [{ json: formatEmptyCart(normalize, root) }];"}},{"id":"pov2-getpromo","name":"Get Best Order Promo","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[880,440],"parameters":{"operation":"executeQuery","query":"SELECT promo_code, discount_type, discount_value, min_cart_value, description\nFROM public.promotions\nWHERE is_active = true AND promo_scope = 'order'\n  AND (valid_from IS NULL OR NOW() >= valid_from)\n  AND (valid_until IS NULL OR NOW() <= valid_until)\nORDER BY priority DESC, discount_value DESC\nLIMIT 1;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000},{"id":"pov2-calcorder","name":"Calculate Final Order","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const startRaw = $('Normalize Input').first().json || {};\nconst rawRows = $('Get Active Cart for Checkout').all().map((entry) => entry.json || {});\nconst promoRows = $input.all().map((entry) => entry.json || {}).filter((row) => row && row.promo_code);\nconst calculateFinalOrder = new Function('startRaw', 'rawRows', 'promoRows', \"\\nconst chatId = String(startRaw.chat_id || '');\\nconst address = startRaw.checkout_address || null;\\n\\nconst normalizeUnit = (value) => {\\n  const map = { kg: 'kg', kilo: 'kg', kilos: 'kg', g: 'g', gm: 'g', gram: 'g', l: 'l', lt: 'l', ltr: 'l', litre: 'l', liters: 'l', ml: 'ml' };\\n  return map[String(value || '').toLowerCase().trim()] || String(value || '').toLowerCase().trim() || 'pcs';\\n};\\nconst formatQty = (value) => Number.isInteger(Number(value)) ? String(Number(value)) : String(Number(Number(value).toFixed(3)));\\nconst quantityLabel = (name, unit, qty) => {\\n  const lower = String(name || '').toLowerCase();\\n  const packMatch = lower.match(/(\\\\d+(?:\\\\.\\\\d+)?)\\\\s*(kg|g|ml|l)\\\\b/i);\\n  if (/\\\\bloose\\\\b/.test(lower) && packMatch) return normalizeUnit(packMatch[2]);\\n  if (packMatch) return Number(qty) === 1 ? 'pack' : 'packs';\\n  return normalizeUnit(unit) || 'pcs';\\n};\\n\\nconst allItems = rawRows.filter((row) => row && row.cart_id);\\nif (allItems.length === 0) {\\n  return { confirmation_message: 'Your cart is empty.', chat_id: chatId, error: true };\\n}\\n\\nif (!address || String(address).trim() === '' || String(address).toLowerCase() === 'undefined' || String(address).toLowerCase() === 'null') {\\n  return { needs_address: true, chat_id: chatId, final_order_total: 0, confirmation_message: 'Please provide your delivery address.' };\\n}\\n\\nconst firstItem = allItems[0];\\nconst cartId = firstItem.cart_id;\\nlet subtotal = 0;\\nconst orderItems = allItems.map((row) => {\\n  const quantity = Number(row.quantity || 0);\\n  const unitPrice = Number(row.unit_price || 0);\\n  const lineTotal = quantity * unitPrice;\\n  subtotal += lineTotal;\\n  return {\\n    sku: row.sku,\\n    original_name: row.original_name,\\n    quantity,\\n    unit: row.unit || '',\\n    unit_price: unitPrice,\\n    line_total: lineTotal,\\n    display_quantity_unit: quantityLabel(row.original_name, row.unit, quantity),\\n  };\\n});\\n\\nlet totalDiscount = 0;\\nconst appliedPromos = [];\\nif (promoRows.length > 0) {\\n  const promo = promoRows[0];\\n  const minCart = Number(promo.min_cart_value || 0);\\n  if (minCart === 0 || subtotal >= minCart) {\\n    let discount = 0;\\n    if (promo.discount_type === 'percentage') discount = Number((subtotal * Number(promo.discount_value || 0) / 100).toFixed(2));\\n    else if (promo.discount_type === 'flat') discount = Number(Math.min(Number(promo.discount_value || 0), subtotal).toFixed(2));\\n    if (discount > 0) {\\n      totalDiscount = discount;\\n      appliedPromos.push({\\n        code: promo.promo_code,\\n        discount,\\n        description: promo.description || (String(promo.discount_value || 0) + '% off'),\\n      });\\n    }\\n  }\\n}\\n\\nconst finalTotal = Number((subtotal - totalDiscount).toFixed(2));\\nconst enablePricing = startRaw._enable_pricing !== false;\\nconst itemLines = orderItems\\n  .map((entry) => {\\n    const base = '- ' + entry.original_name + ' x ' + formatQty(entry.quantity) + ' ' + entry.display_quantity_unit;\\n    return enablePricing ? base + ' = ₹' + entry.line_total.toFixed(2) : base;\\n  })\\n  .join('\\\\n');\\nconst discountLines = (enablePricing && appliedPromos.length > 0)\\n  ? '\\\\nDiscounts:\\\\n' + appliedPromos.map((promo) => '  ' + promo.code + ': -₹' + promo.discount.toFixed(2) + ' (' + promo.description + ')').join('\\\\n')\\n  : '';\\nconst pricingSummary = enablePricing\\n  ? '\\\\nSubtotal: ₹' + subtotal.toFixed(2) + '\\\\nYou save: ₹' + totalDiscount.toFixed(2) + '\\\\nTotal Payable: ₹' + String(finalTotal)\\n  : '';\\nconst billMsg =\\n  'Order Summary\\\\n\\\\n' +\\n  itemLines +\\n  discountLines +\\n  '\\\\n\\\\nDeliver to: ' + String(address) +\\n  pricingSummary;\\n\\nreturn {\\n  order_id: 'ORD-' + String(chatId) + '-' + String(Date.now()),\\n  cart_id: cartId,\\n  chat_id: chatId,\\n  store_id: firstItem.store_id || 1,\\n  address,\\n  subtotal_before_discounts: subtotal,\\n  total_discount_applied: totalDiscount,\\n  final_order_total: finalTotal,\\n  applied_promos: appliedPromos,\\n  items_in_final_order: orderItems,\\n  confirmation_message: billMsg,\\n  error: false,\\n};\\n\");\nconst pricingFlagRow = (() => {\n  try { return $('Get Pricing Flag').first().json || {}; } catch { return {}; }\n})();\nstartRaw._enable_pricing = pricingFlagRow.enable_pricing !== false;\nreturn [{ json: calculateFinalOrder(startRaw, rawRows, promoRows) }];"}},{"id":"pov2-prep","name":"Prep Pending Order","type":"n8n-nodes-base.code","typeVersion":2,"position":[1320,440],"parameters":{"mode":"runOnceForEachItem","jsCode":"const d = $json || {};\nif (d.needs_address) return { json: d };\nif (d.error) return { json: d };\nconst orderJson = JSON.stringify({\n  order_id: d.order_id,\n  cart_id: d.cart_id,\n  chat_id: d.chat_id,\n  store_id: d.store_id,\n  address: d.address,\n  subtotal_before_discounts: d.subtotal_before_discounts,\n  total_discount_applied: d.total_discount_applied,\n  final_order_total: d.final_order_total,\n  applied_promos: d.applied_promos,\n  items_in_final_order: d.items_in_final_order,\n}).replace(/'/g, \"''\");\nreturn { json: { ...d, order_details_json_safe: orderJson } };"}},{"id":"pov2-save","name":"Save Pending Order","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1540,440],"parameters":{"operation":"executeQuery","query":"=INSERT INTO public.pending_orders (order_id, chat_id, store_id, status, final_order_total, order_details_json, created_at, expires_at)\nVALUES (\n  '{{ $('Prep Pending Order').first().json.order_id }}',\n  {{ $('Prep Pending Order').first().json.chat_id }},\n  {{ $('Prep Pending Order').first().json.store_id }},\n  'awaiting_confirmation',\n  {{ $('Prep Pending Order').first().json.final_order_total }},\n  '{{ $('Prep Pending Order').first().json.order_details_json_safe }}'::jsonb,\n  NOW(), NOW() + INTERVAL '30 minutes'\n)\nON CONFLICT (order_id) DO UPDATE SET\n  status='awaiting_confirmation',\n  final_order_total=EXCLUDED.final_order_total,\n  order_details_json=EXCLUDED.order_details_json,\n  expires_at=NOW() + INTERVAL '30 minutes',\n  updated_at=NOW();","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"waitBetweenTries":1000},{"id":"pov2-storeinfo","name":"Get Store Info","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1760,440],"parameters":{"operation":"executeQuery","query":"SELECT store_id, store_name, upi_id, owner_whatsapp_number, enable_pricing FROM public.stores LIMIT 1;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true},{"id":"pov2-returnbill","name":"Return Bill V2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Prep Pending Order').first().json || {};\nconst returnBill = new Function('d', '$', \"\\nif (d.needs_address) {\\n  const hasLastAddr = !!(d.last_address && d.last_address !== 'undefined' && d.last_address !== 'null');\\n  return {\\n    chat_id: d.chat_id,\\n    customer_ui_state: 'CHECKOUT_ADDRESS_REQUIRED',\\n    message_type: 'list',\\n    body_text: 'Delivery address needed\\\\n\\\\nSend the full address in one message. Example: 12 MG Road, Indiranagar, Bengaluru.',\\n    list_sections: [{\\n      title: 'Next steps',\\n      rows: hasLastAddr\\n        ? [\\n            { id: 'use_last_address', title: 'Use last address', description: String(d.last_address || '').slice(0, 60) },\\n            { id: 'add_address', title: 'Type new address', description: 'Send a fresh address in chat' },\\n            { id: 'view_cart', title: 'View cart', description: 'Review items before checkout' },\\n          ]\\n        : [\\n            { id: 'add_address', title: 'Type address', description: 'Send your address in chat' },\\n            { id: 'add_more', title: 'Add more items', description: 'Keep shopping before checkout' },\\n            { id: 'view_cart', title: 'View cart', description: 'Review items before checkout' },\\n          ],\\n    }],\\n  };\\n}\\n\\nif (d.error) {\\n  return {\\n    chat_id: d.chat_id,\\n    customer_ui_state: 'CART_ACTIVE',\\n    message_type: 'button',\\n    body_text: String(d.confirmation_message || 'I could not prepare your order right now.'),\\n    buttons: [\\n      { id: 'view_cart', title: 'View Cart' },\\n      { id: 'start_shopping', title: 'Shop Items' },\\n    ],\\n    error: true,\\n  };\\n}\\n\\nconst readStore = () => {\\n  try { return $('Get Store Info').first().json || {}; } catch { return {}; }\\n};\\nconst store = readStore();\\nconst upiId = store.upi_id || '';\\nconst storeName = store.store_name || 'Kirana Store';\\nconst enablePricing = store.enable_pricing !== false;\\nlet msg = String(d.confirmation_message || '').trim();\\nif (!enablePricing) {\\n  msg = msg.split('\\\\n').filter((line) => {\\n    const l = line.trim();\\n    return !(l.match(/= ₹/) || l.startsWith('Subtotal:') || l.startsWith('You save:') || l.startsWith('Total Payable:') || l === 'Discounts:' || l.match(/^[A-Z0-9]+: -₹/));\\n  }).join('\\\\n').trim();\\n}\\nif (upiId) {\\n  const upiLink = 'upi://pay?pa=' + encodeURIComponent(upiId) + '&pn=' + encodeURIComponent(storeName) + '&am=' + d.final_order_total + '&tn=' + d.order_id + '&cu=INR';\\n  msg += '\\\\n\\\\n💳 UPI payment\\\\n' + upiLink;\\n}\\nmsg += '\\\\n\\\\nConfirm to place this order. You can also change the address or add more items.';\\n\\nreturn {\\n  chat_id: d.chat_id,\\n  customer_ui_state: 'CHECKOUT_REVIEW',\\n  message_type: 'list',\\n  body_text: msg.replace(/^Order Summary/i, 'Review your order'),\\n  list_sections: [{\\n    title: 'Checkout actions',\\n    rows: [\\n      { id: 'confirm_order', title: 'Confirm order', description: 'Place this order now' },\\n      { id: 'add_address', title: 'Change address', description: 'Update where this should be delivered' },\\n      { id: 'add_more', title: 'Add more items', description: 'Go back and keep shopping' },\\n    ],\\n  }],\\n  order_id: d.order_id,\\n  error: false,\\n};\\n\");\nreturn [{ json: returnBill(d, $) }];"}},{"parameters":{"operation":"executeQuery","query":"=UPDATE public.pending_orders SET status = 'expired', updated_at = NOW()\nWHERE chat_id = {{ $('Normalize Input').first().json.chat_id }}\nAND status = 'awaiting_confirmation'\nAND COALESCE(updated_at, created_at) < NOW() - INTERVAL '30 minutes';","options":{}},"id":"41263da0-b07b-48b7-9e2e-437982c2fb77","name":"Expire Old Pending","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[340,400],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"needs-address-if-node","name":"Needs Address?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,440],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"needs-addr-cond","leftValue":"={{ $json.needs_address }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"normalize-input-node","name":"Normalize Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[290,400],"parameters":{"jsCode":"// After Get Pricing Flag was added, $json = {enable_pricing:...}. \n// Get original trigger input from Start node explicitly.\nlet d = {};\ntry {\n  const startJson = $('Start').first().json;\n  if (startJson && typeof startJson === 'object' && Object.keys(startJson).length > 0) {\n    d = startJson;\n  }\n} catch {}\nif (!d || Object.keys(d).length === 0) {\n  if ($json && typeof $json === 'object' && Object.keys($json).length > 0) d = $json;\n  else {\n    try { d = ($input.first() || {}).json || {}; } catch { d = {}; }\n  }\n}\nconst ti = (d.tool_input && typeof d.tool_input === 'object') ? d.tool_input : {};\nconst chatId = String(d.chat_id || ti.chat_id || '');\nconst address = d.checkout_address || ti.address || null;\nconst lastAddress = d.last_address || null;\nreturn [{ json: { ...d, chat_id: chatId, checkout_address: address, last_address: lastAddress } }];"}},{"id":"set-addr-ctx-node","name":"Set Address Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1700,340],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"parameters":{"operation":"executeQuery","query":"=INSERT INTO customer_preferences (chat_id, browse_context, updated_at)\nVALUES ('{{ $('Normalize Input').first().json.chat_id }}', 'awaiting_address', NOW())\nON CONFLICT (chat_id) DO UPDATE SET browse_context = 'awaiting_address', updated_at = NOW()\nRETURNING chat_id, browse_context;","options":{}}},{"id":"clear-addr-ctx-node","name":"Clear Address Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1700,540],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"parameters":{"operation":"executeQuery","query":"=UPDATE customer_preferences SET browse_context = NULL, updated_at = NOW()\nWHERE chat_id = '{{ $('Normalize Input').first().json.chat_id }}'\nRETURNING chat_id;","options":{}}},{"id":"c5be0fce-a591-4559-8a8a-b5541cbf892b","name":"Get Pricing Flag","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,520],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"parameters":{"operation":"executeQuery","query":"SELECT enable_pricing FROM public.stores LIMIT 1;","options":{}}}],"connections":{"Start":{"main":[[{"node":"Get Pricing Flag","type":"main","index":0}]]},"Get Active Cart for Checkout":{"main":[[{"node":"Is Checkout Cart Empty?","type":"main","index":0}]]},"Is Checkout Cart Empty?":{"main":[[{"node":"Format Empty Cart Error","type":"main","index":0}],[{"node":"Get Best Order Promo","type":"main","index":0}]]},"Get Best Order Promo":{"main":[[{"node":"Calculate Final Order","type":"main","index":0}]]},"Calculate Final Order":{"main":[[{"node":"Prep Pending Order","type":"main","index":0}]]},"Prep Pending Order":{"main":[[{"node":"Needs Address?","type":"main","index":0}]]},"Save Pending Order":{"main":[[{"node":"Clear Address Context","type":"main","index":0}]]},"Get Store Info":{"main":[[{"node":"Return Bill V2","type":"main","index":0}]]},"Expire Old Pending":{"main":[[{"node":"Get Active Cart for Checkout","type":"main","index":0}]]},"Needs Address?":{"main":[[{"node":"Set Address Context","type":"main","index":0}],[{"node":"Save Pending Order","type":"main","index":0}]]},"Normalize Input":{"main":[[{"node":"Expire Old Pending","type":"main","index":0}]]},"Set Address Context":{"main":[[{"node":"Return Bill V2","type":"main","index":0}]]},"Clear Address Context":{"main":[[{"node":"Get Store Info","type":"main","index":0}]]},"Get Pricing Flag":{"main":[[{"node":"Normalize Input","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-15T11:18:02.483Z","id":2354,"workflowId":"UgRHM83Qlh9S6Zor","versionId":"e59edd63-61af-4bd7-8e46-05011da6ee46","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-15T11:18:02.541Z","id":2355,"workflowId":"UgRHM83Qlh9S6Zor","versionId":"e59edd63-61af-4bd7-8e46-05011da6ee46","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}