workflows/latest/w5D4XMey0WjTcJtp__Tool_Order_Feedback.json
{"updatedAt":"2026-03-13T15:02:27.039Z","createdAt":"2026-03-10T13:02:38.366Z","id":"w5D4XMey0WjTcJtp","name":"[Tool] Order Feedback","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"of-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,304]},{"parameters":{"jsCode":"const start = $input.first().json || {};\nconst tool = start.tool_input || {};\nreturn [{ json: {\n  action: String(tool.action || start.action || ''),\n  order_id: String(tool.order_id || start.order_id || ''),\n  chat_id: String(tool.chat_id || start.chat_id || ''),\n  issue_type: String(tool.issue_type || start.issue_type || ''),\n  message: String(start.message || tool.message || ''),\n  button_id: String(start.button_id || ''),\n  original: start,\n} }];"},"id":"of-normalize-input","name":"Normalize Feedback Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,192]},{"parameters":{"mode":"expression","output":"={{ $json.action === 'feedback_good' ? 0 : $json.action === 'feedback_issue_start' ? 1 : $json.action === 'feedback_issue_type' ? 2 : 3 }}"},"id":"of-route","name":"Route Feedback Action","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[704,192]},{"parameters":{"operation":"executeQuery","query":"=WITH ord AS (\n  SELECT store_id\n  FROM public.order_summary\n  WHERE order_id = '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}'\n  ORDER BY order_created_at DESC\n  LIMIT 1\n)\nINSERT INTO public.order_feedback (order_id, chat_id, store_id, rating, issue_type, issue_text, status, created_at, updated_at)\nVALUES (\n  '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}',\n  '{{ String($('Normalize Feedback Input').first().json.chat_id || '').replace(/'/g, \"''\") }}',\n  (SELECT store_id FROM ord),\n  'good',\n  NULL,\n  NULL,\n  'positive',\n  NOW(),\n  NOW()\n)\nON CONFLICT (order_id, chat_id) DO UPDATE\nSET store_id = COALESCE(EXCLUDED.store_id, public.order_feedback.store_id),\n    rating = 'good',\n    issue_type = NULL,\n    issue_text = NULL,\n    status = 'positive',\n    updated_at = NOW();\nSELECT 'ok' AS result;","options":{}},"id":"of-good-upsert","name":"Good: Upsert Feedback","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[944,32],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $('Normalize Feedback Input').first().json || {};\nreturn [{\n  json: {\n    chat_id: String(d.chat_id || ''),\n    customer_ui_state: 'TRACKING',\n    message_type: 'button',\n    body_text: 'Thanks for the feedback.\\n\\nGlad your order went well.',\n    buttons: [\n      { id: 'track_order', title: 'Track Order' },\n      { id: 'new_order', title: 'Shop Again' },\n    ],\n  },\n}];"},"id":"of-good-response","name":"Good: Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,32]},{"parameters":{"operation":"executeQuery","query":"=WITH ord AS (\n  SELECT store_id\n  FROM public.order_summary\n  WHERE order_id = '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}'\n  ORDER BY order_created_at DESC\n  LIMIT 1\n)\nINSERT INTO public.order_feedback (order_id, chat_id, store_id, rating, issue_type, issue_text, status, created_at, updated_at)\nVALUES (\n  '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}',\n  '{{ String($('Normalize Feedback Input').first().json.chat_id || '').replace(/'/g, \"''\") }}',\n  (SELECT store_id FROM ord),\n  'issue',\n  NULL,\n  NULL,\n  'awaiting_issue_type',\n  NOW(),\n  NOW()\n)\nON CONFLICT (order_id, chat_id) DO UPDATE\nSET store_id = COALESCE(EXCLUDED.store_id, public.order_feedback.store_id),\n    rating = 'issue',\n    issue_type = NULL,\n    issue_text = NULL,\n    status = 'awaiting_issue_type',\n    updated_at = NOW();\nSELECT 'ok' AS result;","options":{}},"id":"of-issue-start-upsert","name":"Issue Start: Upsert Feedback","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[944,192],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $('Normalize Feedback Input').first().json || {};\nconst orderId = String(d.order_id || '');\nreturn [{\n  json: {\n    chat_id: String(d.chat_id || ''),\n    customer_ui_state: 'FEEDBACK_REASON_PICKER',\n    message_type: 'list',\n    body_text: 'Report an issue\\n\\nWhat went wrong with order #' + orderId + '?',\n    list_sections: [{\n      title: 'Select a reason',\n      rows: [\n        { id: 'issue_wrong_items__' + orderId, title: 'Wrong items', description: 'You received a different item' },\n        { id: 'issue_quality__' + orderId, title: 'Quality issue', description: 'The item was damaged or not fresh' },\n        { id: 'issue_late__' + orderId, title: 'Late delivery', description: 'The order arrived too late' },\n      ],\n    }],\n  },\n}];"},"id":"of-issue-start-response","name":"Issue Start: Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,192]},{"parameters":{"operation":"executeQuery","query":"=WITH ord AS (\n  SELECT store_id\n  FROM public.order_summary\n  WHERE order_id = '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}'\n  ORDER BY order_created_at DESC\n  LIMIT 1\n)\nINSERT INTO public.order_feedback (order_id, chat_id, store_id, rating, issue_type, issue_text, status, created_at, updated_at)\nVALUES (\n  '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}',\n  '{{ String($('Normalize Feedback Input').first().json.chat_id || '').replace(/'/g, \"''\") }}',\n  (SELECT store_id FROM ord),\n  'issue',\n  '{{ String($('Normalize Feedback Input').first().json.issue_type || '').replace(/'/g, \"''\") }}',\n  NULL,\n  'awaiting_issue_details',\n  NOW(),\n  NOW()\n)\nON CONFLICT (order_id, chat_id) DO UPDATE\nSET store_id = COALESCE(EXCLUDED.store_id, public.order_feedback.store_id),\n    rating = 'issue',\n    issue_type = EXCLUDED.issue_type,\n    issue_text = NULL,\n    status = 'awaiting_issue_details',\n    updated_at = NOW();\nSELECT 'ok' AS result;","options":{}},"id":"of-issue-type-upsert","name":"Issue Type: Upsert Feedback","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[944,352],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const d = $('Normalize Feedback Input').first().json || {};\nconst labels = {\n  wrong_items: 'wrong items',\n  quality_issue: 'a quality issue',\n  late_delivery: 'a late delivery',\n};\nconst issueType = labels[d.issue_type] || 'an issue';\nreturn [{\n  json: {\n    chat_id: String(d.chat_id || ''),\n    customer_ui_state: 'FEEDBACK_DETAIL_PENDING',\n    message_type: 'button',\n    body_text: 'Sorry about ' + issueType + '.\\n\\nPlease share one short message so we can help the store review it.',\n    buttons: [\n      { id: 'track_order', title: 'Track Order' },\n      { id: 'new_order', title: 'Shop Again' },\n    ],\n  },\n}];"},"id":"of-issue-type-response","name":"Issue Type: Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,352]},{"parameters":{"operation":"executeQuery","query":"=WITH ord AS (\n  SELECT store_id\n  FROM public.order_summary\n  WHERE order_id = '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}'\n  ORDER BY order_created_at DESC\n  LIMIT 1\n), existing AS (\n  SELECT issue_type, store_id\n  FROM public.order_feedback\n  WHERE order_id = '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}'\n    AND chat_id = '{{ String($('Normalize Feedback Input').first().json.chat_id || '').replace(/'/g, \"''\") }}'\n)\nINSERT INTO public.order_feedback (order_id, chat_id, store_id, rating, issue_type, issue_text, status, created_at, updated_at)\nVALUES (\n  '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}',\n  '{{ String($('Normalize Feedback Input').first().json.chat_id || '').replace(/'/g, \"''\") }}',\n  COALESCE((SELECT store_id FROM existing), (SELECT store_id FROM ord)),\n  'issue',\n  COALESCE((SELECT issue_type FROM existing), NULL),\n  '{{ String($('Normalize Feedback Input').first().json.message || '').replace(/'/g, \"''\") }}',\n  'submitted',\n  NOW(),\n  NOW()\n)\nON CONFLICT (order_id, chat_id) DO UPDATE\nSET store_id = COALESCE(public.order_feedback.store_id, EXCLUDED.store_id),\n    rating = 'issue',\n    issue_type = COALESCE(public.order_feedback.issue_type, EXCLUDED.issue_type),\n    issue_text = EXCLUDED.issue_text,\n    status = 'submitted',\n    updated_at = NOW();\nSELECT 'ok' AS result;","options":{}},"id":"of-issue-text-upsert","name":"Issue Text: Upsert Feedback","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[944,512],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT\n  os.order_id,\n  os.chat_id,\n  os.store_id,\n  os.shipping_address,\n  s.store_name,\n  s.owner_whatsapp_number,\n  ofb.issue_type\nFROM public.order_summary os\nLEFT JOIN public.stores s ON s.store_id = os.store_id\nLEFT JOIN public.order_feedback ofb\n  ON ofb.order_id = os.order_id\n AND ofb.chat_id = '{{ String($('Normalize Feedback Input').first().json.chat_id || '').replace(/'/g, \"''\") }}'\nWHERE os.order_id = '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}'\nORDER BY os.order_created_at DESC\nLIMIT 1;","options":{}},"id":"of-order-context","name":"Issue Text: Get Order Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1184,512],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"has-owner-wa","leftValue":"={{ String($json.owner_whatsapp_number || '').trim() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"of-has-owner-wa","name":"Issue Text: Has Owner WhatsApp?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1424,512]},{"parameters":{"jsCode":"const input = $('Normalize Feedback Input').first().json || {};\nconst ctx = $('Issue Text: Get Order Context').first().json || {};\nconst issueLabels = {\n  wrong_items: 'Wrong items',\n  quality_issue: 'Quality issue',\n  late_delivery: 'Late delivery',\n};\nconst issueKey = String(ctx.issue_type || input.issue_type || '');\nconst issueLabel = issueLabels[issueKey] || 'Customer issue';\nconst issueText = String(input.message || '').trim() || 'No detail provided';\nconst storeName = String(ctx.store_name || 'your store');\nreturn [{\n  json: {\n    chat_id: String(ctx.owner_whatsapp_number || ''),\n    message_type: 'text',\n    body_text:\n      'Customer issue reported\\n\\n' +\n      'Store: ' + storeName + '\\n' +\n      'Order: ' + String(input.order_id || '') + '\\n' +\n      'Customer: ' + String(input.chat_id || '') + '\\n' +\n      'Issue: ' + issueLabel + '\\n' +\n      'Details: ' + issueText,\n  },\n}];"},"id":"of-owner-alert","name":"Issue Text: Build Owner Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,432]},{"parameters":{"workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"},"options":{}},"id":"of-notify-owner","name":"Issue Text: Notify Owner","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1904,432]},{"parameters":{"jsCode":"const d = $('Normalize Feedback Input').first().json || {};\nreturn [{\n  json: {\n    chat_id: String(d.chat_id || ''),\n    customer_ui_state: 'TRACKING',\n    message_type: 'button',\n    body_text: 'Feedback submitted\\n\\nThe store has been notified and will review your issue shortly.',\n    buttons: [\n      { id: 'track_order', title: 'Track Order' },\n      { id: 'new_order', title: 'Shop Again' },\n    ],\n  },\n}];"},"id":"of-issue-text-response","name":"Issue Text: Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2144,512]}],"connections":{"Start":{"main":[[{"node":"Normalize Feedback Input","type":"main","index":0}]]},"Normalize Feedback Input":{"main":[[{"node":"Route Feedback Action","type":"main","index":0}]]},"Route Feedback Action":{"main":[[{"node":"Good: Upsert Feedback","type":"main","index":0}],[{"node":"Issue Start: Upsert Feedback","type":"main","index":0}],[{"node":"Issue Type: Upsert Feedback","type":"main","index":0}],[{"node":"Issue Text: Upsert Feedback","type":"main","index":0}]]},"Good: Upsert Feedback":{"main":[[{"node":"Good: Build Response","type":"main","index":0}]]},"Issue Start: Upsert Feedback":{"main":[[{"node":"Issue Start: Build Response","type":"main","index":0}]]},"Issue Type: Upsert Feedback":{"main":[[{"node":"Issue Type: Build Response","type":"main","index":0}]]},"Issue Text: Upsert Feedback":{"main":[[{"node":"Issue Text: Get Order Context","type":"main","index":0}]]},"Issue Text: Get Order Context":{"main":[[{"node":"Issue Text: Has Owner WhatsApp?","type":"main","index":0}]]},"Issue Text: Has Owner WhatsApp?":{"main":[[{"node":"Issue Text: Build Owner Alert","type":"main","index":0}],[{"node":"Issue Text: Build Response","type":"main","index":0}]]},"Issue Text: Build Owner Alert":{"main":[[{"node":"Issue Text: Notify Owner","type":"main","index":0}]]},"Issue Text: Notify Owner":{"main":[[{"node":"Issue Text: Build Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"tool_name":"order_feedback","tool_input":{"chat_id":"919988776655","order_id":"ORD-917995653349-1773367159640","issue_type":"quality_issue","message":"The milk I received was spoiled and expired. Very bad quality.","action":"feedback_issue_text"}}}]},"versionId":"63fd545d-e366-45da-8ffa-d414dd285777","activeVersionId":"1b681a70-c889-41d2-8013-2d0fe6bb6973","versionCounter":19,"triggerCount":0,"shared":[{"updatedAt":"2026-03-10T13:02:38.366Z","createdAt":"2026-03-10T13:02:38.366Z","role":"workflow:owner","workflowId":"w5D4XMey0WjTcJtp","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-13T13:51:49.024Z","createdAt":"2026-03-13T13:51:49.024Z","versionId":"1b681a70-c889-41d2-8013-2d0fe6bb6973","workflowId":"w5D4XMey0WjTcJtp","nodes":[{"id":"of-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,300],"parameters":{"inputSource":"passthrough"}},{"id":"of-normalize-input","name":"Normalize Feedback Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,180],"parameters":{"mode":"runOnceForAllItems","jsCode":"const start = $input.first().json || {};\nconst tool = start.tool_input || {};\nreturn [{ json: {\n  action: String(tool.action || start.action || ''),\n  order_id: String(tool.order_id || start.order_id || ''),\n  chat_id: String(tool.chat_id || start.chat_id || ''),\n  issue_type: String(tool.issue_type || start.issue_type || ''),\n  message: String(start.message || tool.message || ''),\n  button_id: String(start.button_id || ''),\n  original: start,\n} }];"}},{"id":"of-route","name":"Route Feedback Action","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[700,180],"parameters":{"mode":"expression","numberOutputs":4,"output":"={{ $json.action === 'feedback_good' ? 0 : $json.action === 'feedback_issue_start' ? 1 : $json.action === 'feedback_issue_type' ? 2 : 3 }}"}},{"id":"of-good-upsert","name":"Good: Upsert Feedback","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[940,20],"parameters":{"operation":"executeQuery","query":"=WITH ord AS (\n  SELECT store_id\n  FROM public.order_summary\n  WHERE order_id = '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}'\n  ORDER BY order_created_at DESC\n  LIMIT 1\n)\nINSERT INTO public.order_feedback (order_id, chat_id, store_id, rating, issue_type, issue_text, status, created_at, updated_at)\nVALUES (\n  '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}',\n  '{{ String($('Normalize Feedback Input').first().json.chat_id || '').replace(/'/g, \"''\") }}',\n  (SELECT store_id FROM ord),\n  'good',\n  NULL,\n  NULL,\n  'positive',\n  NOW(),\n  NOW()\n)\nON CONFLICT (order_id, chat_id) DO UPDATE\nSET store_id = COALESCE(EXCLUDED.store_id, public.order_feedback.store_id),\n    rating = 'good',\n    issue_type = NULL,\n    issue_text = NULL,\n    status = 'positive',\n    updated_at = NOW();\nSELECT 'ok' AS result;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true},{"id":"of-good-response","name":"Good: Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,20],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Normalize Feedback Input').first().json || {};\nreturn [{\n  json: {\n    chat_id: String(d.chat_id || ''),\n    customer_ui_state: 'TRACKING',\n    message_type: 'button',\n    body_text: 'Thanks for the feedback.\\n\\nGlad your order went well.',\n    buttons: [\n      { id: 'track_order', title: 'Track Order' },\n      { id: 'new_order', title: 'Shop Again' },\n    ],\n  },\n}];"}},{"id":"of-issue-start-upsert","name":"Issue Start: Upsert Feedback","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[940,180],"parameters":{"operation":"executeQuery","query":"=WITH ord AS (\n  SELECT store_id\n  FROM public.order_summary\n  WHERE order_id = '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}'\n  ORDER BY order_created_at DESC\n  LIMIT 1\n)\nINSERT INTO public.order_feedback (order_id, chat_id, store_id, rating, issue_type, issue_text, status, created_at, updated_at)\nVALUES (\n  '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}',\n  '{{ String($('Normalize Feedback Input').first().json.chat_id || '').replace(/'/g, \"''\") }}',\n  (SELECT store_id FROM ord),\n  'issue',\n  NULL,\n  NULL,\n  'awaiting_issue_type',\n  NOW(),\n  NOW()\n)\nON CONFLICT (order_id, chat_id) DO UPDATE\nSET store_id = COALESCE(EXCLUDED.store_id, public.order_feedback.store_id),\n    rating = 'issue',\n    issue_type = NULL,\n    issue_text = NULL,\n    status = 'awaiting_issue_type',\n    updated_at = NOW();\nSELECT 'ok' AS result;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true},{"id":"of-issue-start-response","name":"Issue Start: Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,180],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Normalize Feedback Input').first().json || {};\nconst orderId = String(d.order_id || '');\nreturn [{\n  json: {\n    chat_id: String(d.chat_id || ''),\n    customer_ui_state: 'FEEDBACK_REASON_PICKER',\n    message_type: 'list',\n    body_text: 'Report an issue\\n\\nWhat went wrong with order #' + orderId + '?',\n    list_sections: [{\n      title: 'Select a reason',\n      rows: [\n        { id: 'issue_wrong_items__' + orderId, title: 'Wrong items', description: 'You received a different item' },\n        { id: 'issue_quality__' + orderId, title: 'Quality issue', description: 'The item was damaged or not fresh' },\n        { id: 'issue_late__' + orderId, title: 'Late delivery', description: 'The order arrived too late' },\n      ],\n    }],\n  },\n}];"}},{"id":"of-issue-type-upsert","name":"Issue Type: Upsert Feedback","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[940,340],"parameters":{"operation":"executeQuery","query":"=WITH ord AS (\n  SELECT store_id\n  FROM public.order_summary\n  WHERE order_id = '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}'\n  ORDER BY order_created_at DESC\n  LIMIT 1\n)\nINSERT INTO public.order_feedback (order_id, chat_id, store_id, rating, issue_type, issue_text, status, created_at, updated_at)\nVALUES (\n  '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}',\n  '{{ String($('Normalize Feedback Input').first().json.chat_id || '').replace(/'/g, \"''\") }}',\n  (SELECT store_id FROM ord),\n  'issue',\n  '{{ String($('Normalize Feedback Input').first().json.issue_type || '').replace(/'/g, \"''\") }}',\n  NULL,\n  'awaiting_issue_details',\n  NOW(),\n  NOW()\n)\nON CONFLICT (order_id, chat_id) DO UPDATE\nSET store_id = COALESCE(EXCLUDED.store_id, public.order_feedback.store_id),\n    rating = 'issue',\n    issue_type = EXCLUDED.issue_type,\n    issue_text = NULL,\n    status = 'awaiting_issue_details',\n    updated_at = NOW();\nSELECT 'ok' AS result;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true},{"id":"of-issue-type-response","name":"Issue Type: Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,340],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Normalize Feedback Input').first().json || {};\nconst labels = {\n  wrong_items: 'wrong items',\n  quality_issue: 'a quality issue',\n  late_delivery: 'a late delivery',\n};\nconst issueType = labels[d.issue_type] || 'an issue';\nreturn [{\n  json: {\n    chat_id: String(d.chat_id || ''),\n    customer_ui_state: 'FEEDBACK_DETAIL_PENDING',\n    message_type: 'button',\n    body_text: 'Sorry about ' + issueType + '.\\n\\nPlease share one short message so we can help the store review it.',\n    buttons: [\n      { id: 'track_order', title: 'Track Order' },\n      { id: 'new_order', title: 'Shop Again' },\n    ],\n  },\n}];"}},{"id":"of-issue-text-upsert","name":"Issue Text: Upsert Feedback","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[940,500],"parameters":{"operation":"executeQuery","query":"=WITH ord AS (\n  SELECT store_id\n  FROM public.order_summary\n  WHERE order_id = '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}'\n  ORDER BY order_created_at DESC\n  LIMIT 1\n), existing AS (\n  SELECT issue_type, store_id\n  FROM public.order_feedback\n  WHERE order_id = '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}'\n    AND chat_id = '{{ String($('Normalize Feedback Input').first().json.chat_id || '').replace(/'/g, \"''\") }}'\n)\nINSERT INTO public.order_feedback (order_id, chat_id, store_id, rating, issue_type, issue_text, status, created_at, updated_at)\nVALUES (\n  '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}',\n  '{{ String($('Normalize Feedback Input').first().json.chat_id || '').replace(/'/g, \"''\") }}',\n  COALESCE((SELECT store_id FROM existing), (SELECT store_id FROM ord)),\n  'issue',\n  COALESCE((SELECT issue_type FROM existing), NULL),\n  '{{ String($('Normalize Feedback Input').first().json.message || '').replace(/'/g, \"''\") }}',\n  'submitted',\n  NOW(),\n  NOW()\n)\nON CONFLICT (order_id, chat_id) DO UPDATE\nSET store_id = COALESCE(public.order_feedback.store_id, EXCLUDED.store_id),\n    rating = 'issue',\n    issue_type = COALESCE(public.order_feedback.issue_type, EXCLUDED.issue_type),\n    issue_text = EXCLUDED.issue_text,\n    status = 'submitted',\n    updated_at = NOW();\nSELECT 'ok' AS result;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true},{"id":"of-order-context","name":"Issue Text: Get Order Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1180,500],"parameters":{"operation":"executeQuery","query":"=SELECT\n  os.order_id,\n  os.chat_id,\n  os.store_id,\n  os.shipping_address,\n  s.store_name,\n  s.owner_whatsapp_number,\n  ofb.issue_type\nFROM public.order_summary os\nLEFT JOIN public.stores s ON s.store_id = os.store_id\nLEFT JOIN public.order_feedback ofb\n  ON ofb.order_id = os.order_id\n AND ofb.chat_id = '{{ String($('Normalize Feedback Input').first().json.chat_id || '').replace(/'/g, \"''\") }}'\nWHERE os.order_id = '{{ String($('Normalize Feedback Input').first().json.order_id || '').replace(/'/g, \"''\") }}'\nORDER BY os.order_created_at DESC\nLIMIT 1;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"alwaysOutputData":true},{"id":"of-has-owner-wa","name":"Issue Text: Has Owner WhatsApp?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1420,500],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"has-owner-wa","leftValue":"={{ String($json.owner_whatsapp_number || '').trim() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}}},{"id":"of-owner-alert","name":"Issue Text: Build Owner Alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[1660,420],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $('Normalize Feedback Input').first().json || {};\nconst ctx = $('Issue Text: Get Order Context').first().json || {};\nconst issueLabels = {\n  wrong_items: 'Wrong items',\n  quality_issue: 'Quality issue',\n  late_delivery: 'Late delivery',\n};\nconst issueKey = String(ctx.issue_type || input.issue_type || '');\nconst issueLabel = issueLabels[issueKey] || 'Customer issue';\nconst issueText = String(input.message || '').trim() || 'No detail provided';\nconst storeName = String(ctx.store_name || 'your store');\nreturn [{\n  json: {\n    chat_id: String(ctx.owner_whatsapp_number || ''),\n    message_type: 'text',\n    body_text:\n      'Customer issue reported\\n\\n' +\n      'Store: ' + storeName + '\\n' +\n      'Order: ' + String(input.order_id || '') + '\\n' +\n      'Customer: ' + String(input.chat_id || '') + '\\n' +\n      'Issue: ' + issueLabel + '\\n' +\n      'Details: ' + issueText,\n  },\n}];"}},{"id":"of-notify-owner","name":"Issue Text: Notify Owner","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1900,420],"parameters":{"source":"database","workflowId":{"__rl":true,"value":"dO77E4A3PI9DvxVw","mode":"id"}}},{"id":"of-issue-text-response","name":"Issue Text: Build Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2140,500],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Normalize Feedback Input').first().json || {};\nreturn [{\n  json: {\n    chat_id: String(d.chat_id || ''),\n    customer_ui_state: 'TRACKING',\n    message_type: 'button',\n    body_text: 'Feedback submitted\\n\\nThe store has been notified and will review your issue shortly.',\n    buttons: [\n      { id: 'track_order', title: 'Track Order' },\n      { id: 'new_order', title: 'Shop Again' },\n    ],\n  },\n}];"}}],"connections":{"Start":{"main":[[{"node":"Normalize Feedback Input","type":"main","index":0}]]},"Normalize Feedback Input":{"main":[[{"node":"Route Feedback Action","type":"main","index":0}]]},"Route Feedback Action":{"main":[[{"node":"Good: Upsert Feedback","type":"main","index":0}],[{"node":"Issue Start: Upsert Feedback","type":"main","index":0}],[{"node":"Issue Type: Upsert Feedback","type":"main","index":0}],[{"node":"Issue Text: Upsert Feedback","type":"main","index":0}]]},"Good: Upsert Feedback":{"main":[[{"node":"Good: Build Response","type":"main","index":0}]]},"Issue Start: Upsert Feedback":{"main":[[{"node":"Issue Start: Build Response","type":"main","index":0}]]},"Issue Type: Upsert Feedback":{"main":[[{"node":"Issue Type: Build Response","type":"main","index":0}]]},"Issue Text: Upsert Feedback":{"main":[[{"node":"Issue Text: Get Order Context","type":"main","index":0}]]},"Issue Text: Get Order Context":{"main":[[{"node":"Issue Text: Has Owner WhatsApp?","type":"main","index":0}]]},"Issue Text: Has Owner WhatsApp?":{"main":[[{"node":"Issue Text: Build Owner Alert","type":"main","index":0}],[{"node":"Issue Text: Build Response","type":"main","index":0}]]},"Issue Text: Build Owner Alert":{"main":[[{"node":"Issue Text: Notify Owner","type":"main","index":0}]]},"Issue Text: Notify Owner":{"main":[[{"node":"Issue Text: Build Response","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-13T13:51:49.165Z","id":2162,"workflowId":"w5D4XMey0WjTcJtp","versionId":"1b681a70-c889-41d2-8013-2d0fe6bb6973","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-13T13:51:49.303Z","id":2163,"workflowId":"w5D4XMey0WjTcJtp","versionId":"1b681a70-c889-41d2-8013-2d0fe6bb6973","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}