workflows/latest/wEF7X04yXeUyQIR6__Kirana_Agent_Conv.json
{"updatedAt":"2026-03-06T06:24:29.348Z","createdAt":"2026-03-03T09:07:55.076Z","id":"wEF7X04yXeUyQIR6","name":"Kirana_Agent_Conv","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"00383217-924b-4576-af0a-76e8c7df084f","name":"Name","value":"={{ $json.message.from.first_name }}","type":"string"},{"id":"1f39a079-6e0e-4ced-8c9c-4d7c751465ad","name":"chat_id","value":"={{ $json.message.chat.id }}","type":"string"},{"id":"e71dd83b-4b50-4bb9-ae68-f1294978ed4f","name":"message","value":"={{ $json.message.text}}","type":"string"},{"id":"45fe3578-05d4-425c-8b2e-708c652ba398","name":"sessionId","value":"={{ $json.message.date }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4352,768],"id":"ccd8d47f-36d5-4e16-a6e7-08b86fb7ef17","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=# Telegram Grocery Store AI Assistant - Complete Final Version\n\nYou are an AI assistant for a neighborhood grocery store operating via Telegram. Your role is to process user messages and return structured JSON responses with the appropriate tool call.\n\n## Core Operating Rules\n\n1. **Memory-First Logic**: Always analyze the full chat history to understand the user's context, such as a previously mentioned address.\n2. **Entity Extraction is Key**: Your primary job is to accurately extract product names, quantities, and units from the user's message.\n3. **JSON Output Only**: Your entire output must be a single, valid JSON object with a `tool_calls` array. Do not include any explanatory text or apologies.\n4. **Single Source of Truth**: Use only the provided chat_id and the contents of the chat history. Never invent data.\n5. **Validation First**: Always verify prerequisites before calling tools (e.g., address for orders, cart contents for checkout).\n\n## Order State Management\n\nDetermine the current state by analyzing chat history:\n- **NEW_CONVERSATION**: No previous tool calls in history\n- **ITEMS_COLLECTING**: Previous `modify_cart` calls exist in current session, no `place_order` called yet\n- **ORDER_PLACED**: `place_order` has been called, awaiting payment confirmation\n- **PAYMENT_INITIATED**: `initiate_payment` has been called\n- **SESSION_RESET**: After payment completion or explicit cart clearing\n\n**Current Session Definition**: \n- Starts: At conversation beginning, after successful payment, or after cart clearing\n- Contains: Items added via `modify_cart` + address provided for current order\n- Ends: When `initiate_payment` completes or user explicitly starts new order\n\n## Tool Selection Priority\n\nFollow this decision tree in order, **checking state and prerequisites**:\n\n1. **State: ORDER_PLACED + Explicit \"Pay\" Command** (\"pay\", \"proceed\", \"yes confirm\") → `initiate_payment`\n2. **View Cart Query** (\"show my cart\", \"what's in my cart?\") → `view_cart`\n3. **Add/Remove/Update Item Intent** → Extract items → `modify_cart` (may require multiple calls)\n4. **Promotions Query** (\"any deals?\", \"what are the offers?\") → `get_promotions`\n5. **Confirm and Finalize Order** (\"confirm order\", \"checkout\", \"that's all\") → Check prerequisites:\n   - Has items in cart (previous `modify_cart` calls in current session)? If NO → `answer_user` asking to add items\n   - Has address provided in CURRENT order session? If NO → `answer_user` asking for fresh address\n   - If YES to both → `place_order`\n6. **Address Provided After Being Asked** → Check if this follows a recent request for address → `place_order`\n7. **Other Queries** → `answer_user`\n8. **Unclear Request** → `answer_user` for clarification\n\n## Available Tools\n\n### modify_cart\n**Primary tool for building an order.** Use this to add, update, or remove items from the user's cart.\n- Extract each item separately and make individual tool calls\n- For unclear quantities, use `answer_user` first\n- To remove: quantity = 0\n\n```json\n{\n  \"tool_name\": \"modify_cart\",\n  \"tool_input\": {\n    \"chat_id\": \"{{ $json.chat_id }}\",\n    \"product_name\": \"exact_product_name_extracted\",\n    \"quantity\": 2\n  }\n}\n```\n\n### view_cart\nUse when the user wants to see their current cart contents.\n\n```json\n{\n  \"tool_name\": \"view_cart\",\n  \"tool_input\": {\n    \"chat_id\": \"{{ $json.chat_id }}\"\n  }\n}\n```\n\n### place_order\n**CRITICAL**: Only call this when:\n1. User wants to checkout AND\n2. Cart has items in CURRENT session (verify from recent chat history) AND  \n3. Address is provided in CURRENT order session (not from old orders)\n\nExtract the EXACT address from current session only. Look for address provided:\n- In current message, OR\n- After the most recent cart activity, OR  \n- After any previous order completion\n\nDo NOT use addresses from completed/old orders.\n\n```json\n{\n  \"tool_name\": \"place_order\",\n  \"tool_input\": {\n    \"chat_id\": \"{{ $json.chat_id }}\",\n    \"address\": \"[EXACT_ADDRESS_FROM_CURRENT_SESSION_ONLY]\"\n  }\n}\n```\n\n### initiate_payment\nUse ONLY when:\n1. `place_order` was previously called AND\n2. User gives explicit payment confirmation\n\n```json\n{\n  \"tool_name\": \"initiate_payment\",\n  \"tool_input\": {\n    \"chat_id\": \"{{ $json.chat_id }}\"\n  }\n}\n```\n\n### get_promotions\n```json\n{\n  \"tool_name\": \"get_promotions\",\n  \"tool_input\": {\n    \"chat_id\": \"{{ $json.chat_id }}\",\n    \"user_query\": \"[USER_ORIGINAL_MESSAGE]\"\n  }\n}\n```\n\n### answer_user\nUse for:\n- Asking for missing information (address, quantities)\n- Clarifying ambiguous requests\n- General responses\n- Error states\n\n```json\n{\n  \"tool_name\": \"answer_user\",\n  \"tool_input\": {\n    \"message\": \"Your clear, helpful response\",\n    \"chat_id\": \"{{ $json.chat_id }}\"\n  }\n}\n```\n\n## Entity Extraction Rules\n\n### Quantities\n- **Clear numbers**: \"2 apples\" → quantity: 2\n- **Units with numbers**: \"2kg onions\" → quantity: 2, product: \"onions\" \n- **Ambiguous**: \"some milk\", \"a few apples\" → Use `answer_user` to ask for specific quantity\n- **Remove intent**: \"remove apples\", \"delete milk\" → quantity: 0\n\n### Products\n- Extract the main product name\n- Include relevant descriptors: \"red apples\" → \"red apples\"\n- Handle plurals consistently\n\n## Critical Error Prevention\n\n### Address Validation - Session-Based\n```\nBEFORE calling place_order:\n1. Check if user provided address in CURRENT order session (after last cart was cleared/order completed)\n2. Address is ONLY valid within current order session\n3. If no address in current session: Use answer_user to request fresh address\n4. Ignore addresses from previous completed orders\n5. NEVER fabricate or guess addresses\n\nOrder Session Boundaries:\n- New session starts: After payment completion, after cart clearing, or at conversation start\n- Address expires: When order is completed or cart is cleared\n```\n\n### Cart Validation\n```\nBEFORE calling place_order:\n1. Scan chat history for modify_cart calls in current session\n2. If none found: Use answer_user to ask user to add items first\n3. Only proceed if cart has items\n```\n\n### State Consistency\n```\nBEFORE calling initiate_payment:\n1. Verify place_order was called previously\n2. Confirm user is giving payment confirmation\n3. Don't initiate payment for new order requests\n```\n\n## Example Scenarios\n\n### Scenario 1: New conversation with items\n**Input**: \"I want some onions and 1L milk\"\n**Analysis**: \"some\" is ambiguous\n**Output**:\n```json\n{\n  \"tool_calls\": [\n    {\n      \"tool_name\": \"answer_user\",\n      \"tool_input\": {\n        \"message\": \"I can add 1L milk to your cart. How many kilograms of onions would you like?\",\n        \"chat_id\": \"{{ $json.chat_id }}\"\n      }\n    }\n  ]\n}\n```\n\n### Scenario 2: Clear quantities\n**Input**: \"Add 2kg onions and 1L milk\"\n**Output**:\n```json\n{\n  \"tool_calls\": [\n    {\n      \"tool_name\": \"modify_cart\",\n      \"tool_input\": {\n        \"chat_id\": \"{{ $json.chat_id }}\",\n        \"product_name\": \"onions\",\n        \"quantity\": 2\n      }\n    },\n    {\n      \"tool_name\": \"modify_cart\", \n      \"tool_input\": {\n        \"chat_id\": \"{{ $json.chat_id }}\",\n        \"product_name\": \"milk\",\n        \"quantity\": 1\n      }\n    }\n  ]\n}\n```\n\n### Scenario 3: Checkout without address\n**Input**: \"checkout\"\n**Chat History**: Has `modify_cart` calls, no address\n**Output**:\n```json\n{\n  \"tool_calls\": [\n    {\n      \"tool_name\": \"answer_user\",\n      \"tool_input\": {\n        \"message\": \"I'm ready to finalize your order. Please provide your delivery address.\",\n        \"chat_id\": \"{{ $json.chat_id }}\"\n      }\n    }\n  ]\n}\n```\n\n### Scenario 4: Address provided after request\n**Input**: \"123 Main St, Bangalore\"  \n**Chat History**: Contains items AND previous address request\n**Output**:\n```json\n{\n  \"tool_calls\": [\n    {\n      \"tool_name\": \"place_order\",\n      \"tool_input\": {\n        \"chat_id\": \"{{ $json.chat_id }}\",\n        \"address\": \"123 Main St, Bangalore\"\n      }\n    }\n  ]\n}\n```\n\n### Scenario 5: Payment confirmation\n**Input**: \"yes, pay now\"\n**Chat History**: Contains `place_order` call\n**Output**:\n```json\n{\n  \"tool_calls\": [\n    {\n      \"tool_name\": \"initiate_payment\",\n      \"tool_input\": {\n        \"chat_id\": \"{{ $json.chat_id }}\"\n      }\n    }\n  ]\n}\n```\n\n### Scenario 6: New order after previous completion\n**Input**: \"Add 1kg rice\"\n**Chat History**: Previous complete order with address \"456 Oak St\", then payment completion\n**Analysis**: This is a NEW session, previous address should not be used\n**Output**:\n```json\n{\n  \"tool_calls\": [\n    {\n      \"tool_name\": \"modify_cart\",\n      \"tool_input\": {\n        \"chat_id\": \"{{ $json.chat_id }}\",\n        \"product_name\": \"rice\",\n        \"quantity\": 1\n      }\n    }\n  ]\n}\n```\n\n### Scenario 7: Checkout with old address in history\n**Input**: \"checkout\"\n**Chat History**: Current session has items, old completed order had address \"456 Oak St\"\n**Analysis**: Old address not valid for current session\n**Output**:\n```json\n{\n  \"tool_calls\": [\n    {\n      \"tool_name\": \"answer_user\",\n      \"tool_input\": {\n        \"message\": \"I'm ready to finalize your order. Please provide your delivery address for this order.\",\n        \"chat_id\": \"{{ $json.chat_id }}\"\n      }\n    }\n  ]\n}\n```\n\n## Output Format\n\nAlways return this exact structure:\n\n```json\n{\n  \"tool_calls\": [\n    {\n      \"tool_name\": \"tool_name_here\",\n      \"tool_input\": {\n        \"required_parameters\": \"values_here\"\n      }\n    }\n  ]\n}\n```\n\n## Final Checklist Before Responding\n\n1. ✅ Analyzed full chat history for context\n2. ✅ Identified current order session correctly  \n3. ✅ Verified prerequisites for chosen tool\n4. ✅ Extracted entities accurately (no guessing)\n5. ✅ Used address from CURRENT session only (not old orders)\n6. ✅ JSON is valid and complete"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-4128,768],"id":"514e3f78-3af2-4af9-8cc7-5b7fb3452244","name":"AI Agent"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-4576,768],"id":"a9d9a71d-91e4-4576-a101-529182022b54","name":"Telegram Trigger","webhookId":"166a9a5d-b85e-468f-863c-3dbece3b3b85","credentials":{"telegramApi":{"id":"TY52vdf0a6Q2KRpP","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tool_name }}","rightValue":"place_order","operator":{"type":"string","operation":"equals"},"id":"54f0ab3c-faba-435c-b1e1-38c31206110b"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b57cd8e8-67ac-494c-b26a-2d3a20890f38","leftValue":"={{ $json.tool_name }}","rightValue":"track_order","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"daee92d2-1450-4361-8fd3-f7e286102b41","leftValue":"={{ $json.tool_name }}","rightValue":"find_product_sku","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"eef3aa55-29bd-4077-9a76-d3bea36f0035","leftValue":"={{ $json.tool_name }}","rightValue":"check_availability","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"938bd33b-4ff9-4e96-8338-df510be25352","leftValue":"={{ $json.tool_name }}","rightValue":"get_promotions","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"91726723-f0dc-4a03-9029-3c44b6ffa14b","leftValue":"={{ $json.tool_name }}","rightValue":"answer_user","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"37a3d5a6-f261-45a6-a80c-3ccbff8de31d","leftValue":"={{ $json.tool_name }}","rightValue":"initiate_payment","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b4ee4407-793c-4a2b-8832-0821d8b96819","leftValue":"={{ $json.tool_name }}","rightValue":"modify_cart","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3328,672],"id":"1b481b3e-6033-45fb-8985-148b805a251f","name":"Switch","retryOnFail":false,"executeOnce":false,"notesInFlow":false},{"parameters":{"chatId":"={{ $json.chat_id_to_use }}","text":"={{ $json.text_to_send }}","additionalFields":{"appendAttribution":false,"parse_mode":"MarkdownV2"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2208,768],"id":"0b0268bb-7182-4cda-832f-1a52e9c9e791","name":"Telegram","webhookId":"16a1a829-c616-4f3c-b417-6c2885ed00cf","credentials":{"telegramApi":{"id":"TY52vdf0a6Q2KRpP","name":"Telegram account"}}},{"parameters":{"jsCode":"// --- Telegram MarkdownV2 Escaping Function ---\nfunction escapeMarkdownV2(text) {\n  const str = String(text || '');\n  // Escape ALL MarkdownV2 reserved characters\n  return str\n    .replace(/\\\\/g, '\\\\\\\\')           // Backslash must be first\n    .replace(/_/g, '\\\\_')             // Underscore\n    .replace(/\\*/g, '\\\\*')            // Asterisk\n    .replace(/\\[/g, '\\\\[')            // Opening square bracket\n    .replace(/\\]/g, '\\\\]')            // Closing square bracket\n    .replace(/\\(/g, '\\\\(')            // Opening parenthesis\n    .replace(/\\)/g, '\\\\)')            // Closing parenthesis\n    .replace(/~/g, '\\\\~')             // Tilde\n    .replace(/`/g, '\\\\`')             // Backtick\n    .replace(/>/g, '\\\\>')             // Greater than\n    .replace(/#/g, '\\\\#')             // Hash\n    .replace(/\\+/g, '\\\\+')            // Plus\n    .replace(/-/g, '\\\\-')             // Hyphen/minus\n    .replace(/=/g, '\\\\=')             // Equals\n    .replace(/\\|/g, '\\\\|')            // Pipe\n    .replace(/\\{/g, '\\\\{')            // Opening curly brace\n    .replace(/\\}/g, '\\\\}')            // Closing curly brace\n    .replace(/\\./g, '\\\\.')            // Period/dot\n    .replace(/!/g, '\\\\!');            // Exclamation mark\n}\n\n// --- Resilient JSON Parse Function ---\nfunction resilientJsonParse(jsonString) {\n  if (!jsonString || typeof jsonString !== 'string') return null;\n  \n  try {\n    // Remove trailing commas before } or ]\n    const correctedJson = jsonString.replace(/,\\s*([}\\]])/g, '$1');\n    return JSON.parse(correctedJson);\n  } catch (e) {}\n  \n  try {\n    // Try to extract the first {...} block\n    const match = jsonString.match(/\\{[\\s\\S]*\\}/);\n    if (match && match[0]) return JSON.parse(match[0]);\n  } catch (e) {}\n  \n  return null;\n}\n\n// --- Main Execution Logic ---\nconst item = items[0];\nconst llmOutput = item?.json?.output;\n\nif (!llmOutput) {\n  // Fallback for no output\n  return [{\n    json: {\n      tool_calls: [{\n        tool_name: 'answer_user',\n        tool_input: {\n          message: escapeMarkdownV2(\"I'm sorry, I seem to be having a little trouble. Please try again.\")\n        }\n      }]\n    }\n  }];\n}\n\n// Remove code block markers (triple backticks, with or without language)\nconst cleanedStr = llmOutput.trim()\n  .replace(/```[\\w]*\\n?/g, '')    // Remove opening code block with optional language\n  .replace(/```/g, '');           // Remove closing code block\n\nconst parsedJson = resilientJsonParse(cleanedStr);\n\nif (parsedJson && parsedJson.tool_calls && Array.isArray(parsedJson.tool_calls)) {\n  // SUCCESS: Escape all message content in tool_calls before returning\n  const escapedJson = {\n    ...parsedJson,\n    tool_calls: parsedJson.tool_calls.map(toolCall => {\n      if (toolCall.tool_name === 'answer_user' && toolCall.tool_input && toolCall.tool_input.message) {\n        return {\n          ...toolCall,\n          tool_input: {\n            ...toolCall.tool_input,\n            message: escapeMarkdownV2(toolCall.tool_input.message)\n          }\n        };\n      }\n      // For other tool types, escape any message fields we find\n      if (toolCall.tool_input) {\n        const escapedInput = { ...toolCall.tool_input };\n        Object.keys(escapedInput).forEach(key => {\n          if (typeof escapedInput[key] === 'string' && (key.includes('message') || key.includes('text') || key.includes('content'))) {\n            escapedInput[key] = escapeMarkdownV2(escapedInput[key]);\n          }\n        });\n        return {\n          ...toolCall,\n          tool_input: escapedInput\n        };\n      }\n      return toolCall;\n    })\n  };\n  \n  return [{ json: escapedJson }];\n} else {\n  // FALLBACK: If parsing fails or the structure is wrong, send an error message.\n  console.error(\"Failed to parse LLM output or find tool_calls array. Raw output:\", llmOutput);\n  return [{\n    json: {\n      tool_calls: [{\n        tool_name: 'answer_user',\n        tool_input: {\n          message: escapeMarkdownV2(\"My apologies, I couldn't structure your request. Could you rephrase it?\")\n        }\n      }]\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3776,768],"id":"4091ae8f-e684-486d-b670-34976a37f4e4","name":"Code"},{"parameters":{"numberInputs":8},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2656,672],"id":"9e7fe9b6-23f3-44ca-83d2-bdf7279f75fb","name":"Final_summary"},{"parameters":{"workflowId":{"__rl":true,"value":"WidWaX2DLCdLimGv","mode":"list","cachedResultUrl":"/workflow/WidWaX2DLCdLimGv"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2880,0],"id":"f31f7171-9f00-4ce7-8f35-aab5172defa8","name":"place_order"},{"parameters":{"workflowId":{"__rl":true,"value":"KwoojqoUBhTMx0Wo","mode":"list","cachedResultName":"[Tool] Track Order"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2880,384],"id":"db0c15b0-ef78-41d1-a2e2-d0bee7627996","name":"track_order"},{"parameters":{"workflowId":{"__rl":true,"value":"o8QMrVvfL8f6a0uA","mode":"list","cachedResultName":"[Tool]_check_inv"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2880,672],"id":"5d39e16c-e0d5-4659-82ec-5ea1bd817875","name":"Check_inv"},{"parameters":{"workflowId":{"__rl":true,"value":"E4oqpMd0Zh8KfpoO","mode":"list","cachedResultName":"[AI Tool] Personalized Promotions Advisor"},"workflowInputs":{"mappingMode":"defineBelow","value":{"chat_id":"={{ $json.tool_input.chat_id }}","user_query":"={{ $json.tool_input.message }}"},"matchingColumns":[],"schema":[{"id":"chat_id","displayName":"chat_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_query","displayName":"user_query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"current_cart_items","displayName":"current_cart_items","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2880,1056],"id":"e8e80a58-b425-48c4-b9d6-51346b7afcc8","name":"get_promotions"},{"parameters":{"content":"The Final, Updated Development To-Do List\nHere is the master list, now including these critical enhancements in the correct priority.\nPhase 1: STABILIZE & HARDEN THE CORE ENGINE (Highest Priority)\n(Unchanged: These fixes are still the absolute top priority.)\n1.1. Implement Resilient AI Response Parsing.\n1.2. Harden All Database Queries (Parameterized Queries).\n1.3. Secure All Logic Branches (Handle Unhappy Paths).\n1.4. Optimize Core Performance (Fix N+1 Query Problem).\n1.5. Externalize Product Aliases to Database.\n1.6. Enable Multi-Intent Handling (NEW & CRITICAL):\nTask: Upgrade the agent from single-action to multi-action.\nAction 1: Update the main AI Agent prompt to output a tool_calls array.\nAction 2: Insert a Split Out node after the JSON parsing to process each tool call sequentially.\nAction 3: Ensure each sub-workflow sends its own confirmation message.\nPhase 2: FUNCTIONALIZE THE BUSINESS (Critical Business Logic)\n(Unchanged: These are the core business functions.)\n2.1. Implement the End-to-End Payment & Order Finalization Flow.\n2.2. Build the Kirana Owner Communication Bridge.\n2.3. Establish the Basic Customer Support Loop.\nPhase 3: ENHANCE & PREPARE FOR GROWTH (Post-MVP Features)\n(This phase is now richer and provides a better user experience.)\n3.1. Implement the \"Magic\" Ordering Experience (Photo/Voice).\n3.2. Refine Conversational Experience (The \"Augmented Template\" Approach).\n3.3. Implement Advanced Product Browsing (NEW):\nTask: Allow users to browse categories and brands.\nAction 1: Add a category column to your inventory table.\nAction 2: Add the new browse_category tool to the AI Agent's prompt.\nAction 3: Build the [Tool] Browse Category sub-workflow with a paginated SQL query.\n3.4. Streamline the Store Onboarding Process.\nBy addressing these points, you are moving your project from a linear command-executor to a truly intelligent, multi-faceted conversational assistant that can handle the complexity of real human interaction. This is a massive step up in value.","height":620,"width":1100},"type":"n8n-nodes-base.stickyNote","position":[-1904,1680],"typeVersion":1,"id":"9acfe2f2-6ef4-499a-835a-e454ad642100","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dea960a7-cc7b-4da8-8527-898b0f0fea4d","leftValue":"={{ $json.tool_name }}","rightValue":"place_order","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3104,96],"id":"eebd760d-d2a9-493c-af76-41bcdb1a6e51","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"3e250233-ae5e-4481-bfbc-ca8cac3ba12e","name":"confirmation_message","value":"I'm sorry, I encountered an unexpected issue and can't complete that request. Could you please try rephrasing?","type":"string"},{"id":"862c48d8-6d62-420f-9549-22a5b32fb97c","name":"chat_id","value":"={{ $('Edit Fields').item.json.chat_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2880,192],"id":"c7fc6595-9bf5-4a00-a9bc-e929de971c6b","name":"Set Fallback Message"},{"parameters":{"assignments":{"assignments":[{"id":"c4faef3f-49eb-416b-8283-5f08c0d5ed5f","name":"text_to_send","value":"={{ $json.text_to_send || $json.confirmation_message ||$json.tool_input.message || $json.tool_calls[0].tool_input.message }}","type":"string"},{"id":"410de6d8-d92e-48ef-aef7-54d7e41103fd","name":"chat_id_to_use","value":"={{ $json.chat_id_to_use ||$json.chat_id ||$json.tool_input.chat_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2432,768],"id":"77e0bba2-8080-44d1-a9d0-d89b16560baa","name":"Normalize for Telegram"},{"parameters":{"fieldToSplitOut":"tool_calls","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-3552,768],"id":"12021967-8e26-430e-aabe-e4de028161f4","name":"Split Out"},{"parameters":{"jsCode":"// The main agent's output from the *previous* turn (the 'place_order' call)\n// is stored in the agent's memory. We need to retrieve it.\n// The exact path depends on how your agent memory is structured,\n// but typically it's in the input data to this node.\n\n// Let's assume the previous turn's data is available. \n// In n8n, you might need a \"Get Chat Memory\" node here first.\n// For simplicity, let's assume the data is passed along.\n\n// A more robust way is to query the database for the active order.\n// Let's build the robust version.\n\n// This node's output will be the input for the payment link generator.\n// It needs to be fleshed out based on how you store the \"pending\" order.\n\n// For now, let's assume the simplest case: the data is passed through.\n// The output from the previous turn's `place_order` tool call is what we need.\nconst last_tool_output = $json.memory.history.filter(h => h.type === 'tool').pop().data.output;\n\nconst orderDetails = JSON.parse(last_tool_output);\n\nreturn [{\n  json: {\n    order_id: orderDetails.order_id,\n    final_order_total: orderDetails.final_order_total,\n    chat_id: orderDetails.chat_id\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3104,864],"id":"9ea5883f-7013-4d0c-9489-cd9ceddd303f","name":"Retrieve Order Details from Memory"},{"parameters":{"workflowId":{"__rl":true,"value":"KBfcEYwDL7A81jTV","mode":"list","cachedResultName":"[Tool] Find Product SKU"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-3104,528],"id":"82ac371c-e3e0-4c82-ab17-cb0468148137","name":"find_product_sku"},{"parameters":{"workflowId":{"__rl":true,"value":"8IMTGFBYYOZY1F5C","mode":"list","cachedResultName":"[Tool] Modify Cart"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2880,1344],"id":"49592689-3147-4428-8d54-d1605c93b924","name":"modify_cart"},{"parameters":{"workflowId":{"__rl":true,"value":"FPA7gRKg8eM00huZ","mode":"list","cachedResultName":"[Tool]Generate Payment Request"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-2880,864],"id":"49ebe3b9-3c25-451d-a926-65968fd7d4be","name":"Generate Payment Request"},{"parameters":{"model":{"__rl":true,"value":"claude-3-haiku-20240307","mode":"list","cachedResultName":"Claude Haiku 3"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-4224,1008],"id":"f53e2d85-2062-4efd-9c3c-0db217cf405b","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"yiUg577mPI3s1EDq","name":"Anthropic account"}}}],"connections":{"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Switch":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"track_order","type":"main","index":0}],[{"node":"find_product_sku","type":"main","index":0}],[{"node":"Check_inv","type":"main","index":0}],[{"node":"get_promotions","type":"main","index":0}],[{"node":"Final_summary","type":"main","index":5}],[{"node":"Retrieve Order Details from Memory","type":"main","index":0}],[{"node":"modify_cart","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Final_summary":{"main":[[{"node":"Normalize for Telegram","type":"main","index":0}]]},"place_order":{"main":[[{"node":"Final_summary","type":"main","index":0}]]},"track_order":{"main":[[{"node":"Final_summary","type":"main","index":1}]]},"Check_inv":{"main":[[{"node":"Final_summary","type":"main","index":2}]]},"get_promotions":{"main":[[{"node":"Final_summary","type":"main","index":4}]]},"If":{"main":[[{"node":"place_order","type":"main","index":0}],[{"node":"Set Fallback Message","type":"main","index":0}]]},"Set Fallback Message":{"main":[[{"node":"Final_summary","type":"main","index":3}]]},"Normalize for Telegram":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Retrieve Order Details from Memory":{"main":[[{"node":"Generate Payment Request","type":"main","index":0}]]},"modify_cart":{"main":[[{"node":"Final_summary","type":"main","index":7}]]},"Generate Payment Request":{"main":[[{"node":"Final_summary","type":"main","index":6}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f2569990-91c9-4128-bc43-deaaf1e9043f","activeVersionId":null,"versionCounter":60,"triggerCount":0,"shared":[{"updatedAt":"2026-03-03T09:07:55.076Z","createdAt":"2026-03-03T09:07:55.076Z","role":"workflow:owner","workflowId":"wEF7X04yXeUyQIR6","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":null}