workflows/latest/xsNXuVt1Fmv8QPQdxe1-q__Daily_Per-User_Job_Scraping.json
{"updatedAt":"2026-03-06T06:23:06.691Z","createdAt":"2026-02-08T18:07:12.567Z","id":"xsNXuVt1Fmv8QPQdxe1-q","name":"Daily Per-User Job Scraping","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"id":"f71d43ef-fb80-4065-a56b-906e4a801989","name":"Daily Trigger (2 AM IST)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1088,208]},{"parameters":{"httpMethod":"POST","path":"scrape/daily-trigger","options":{}},"id":"a68c322e-59dd-4e99-a5fe-a532fb46ac06","name":"Manual Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1088,416],"webhookId":"daily-scrape-webhook"},{"parameters":{"useCustomSchema":true,"schema":"app","operation":"getAll","tableId":"profiles","returnAll":true},"id":"1b8f01f0-6d74-4627-80de-d7e095a01c79","name":"Get Active Users from DB","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-640,208],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"U3tEYNj5VtvT7DCy","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"filter-has-skills","leftValue":"={{ $json.skills }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"2acfbdd3-404b-4acb-9e18-52e725ba1d75","name":"Filter Users With Skills","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-416,208]},{"parameters":{"options":{}},"id":"5ab5de91-0dba-4a77-8d77-00f3704ab14b","name":"Loop Over Each User","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-192,336]},{"parameters":{},"id":"79681829-de8f-4536-8da9-d2aeba4b7bb8","name":"Merge All Scraped Results","type":"n8n-nodes-base.merge","typeVersion":3,"position":[640,336]},{"parameters":{"jsCode":"/**\n * FIXED: Unified Job Normalizer for ALL Sources\n *\n * Handles:\n *  - Google Jobs (SerpApi)\n *  - APIFY LinkedIn\n *  - APIFY Indeed\n *  - APIFY Naukri\n *  - Greenhouse ATS\n *  - Lever ATS\n *  - Generic fallback\n *\n * Version: 2.0 (Fixed)\n * Last Updated: 2026-01-28\n */\n\n// ========== UTILITY FUNCTIONS ==========\n\nfunction toStringSafe(v) {\n  if (v === null || v === undefined) return ''\n  if (typeof v === 'string') return v\n  try {\n    return String(v)\n  } catch {\n    return ''\n  }\n}\n\nfunction decodeHtmlEntities(s) {\n  const str = toStringSafe(s)\n  if (!str) return ''\n  const named = {\n    '&amp;': '&',\n    '&lt;': '<',\n    '&gt;': '>',\n    '&quot;': '\"',\n    '&#39;': \"'\",\n    '&apos;': \"'\",\n    '&#x2013;': '–',\n    '&#x2014;': '—',\n    '&#xA0;': ' ',\n    '&nbsp;': ' ',\n  }\n  return str.replace(/&[a-zA-Z]+;|&#\\d+;|&#x[0-9A-Fa-f]+;/g, (m) => {\n    if (named[m] !== undefined) return named[m]\n    if (m.startsWith('&#x')) {\n      const cp = parseInt(m.slice(3, -1), 16)\n      return isNaN(cp) ? m : String.fromCodePoint(cp)\n    }\n    if (m.startsWith('&#')) {\n      const cp = parseInt(m.slice(2, -1), 10)\n      return isNaN(cp) ? m : String.fromCodePoint(cp)\n    }\n    return m\n  })\n}\n\nfunction stripHtml(s) {\n  return toStringSafe(s).replace(/<\\/?[^>]+(>|$)/g, ' ')\n}\n\nfunction cleanText(s) {\n  const decoded = decodeHtmlEntities(s)\n  const noTags = stripHtml(decoded)\n  return noTags.replace(/\\s+/g, ' ').trim()\n}\n\nfunction firstNonEmpty(...vals) {\n  for (const v of vals) {\n    const s = cleanText(v)\n    if (s) return s\n  }\n  return ''\n}\n\nfunction getDateISOOrNow(input) {\n  const s = toStringSafe(input).trim()\n  if (!s) return new Date().toISOString()\n  const d = new Date(s)\n  return isNaN(d.getTime()) ? new Date().toISOString() : d.toISOString()\n}\n\nfunction parseRelativeTime(rel) {\n  const s = toStringSafe(rel).toLowerCase().trim()\n  if (!s) return null\n  const now = new Date()\n\n  // Match patterns like \"3 days ago\", \"2 hours ago\", \"just now\", \"today\"\n  if (s.includes('just now') || s.includes('today')) {\n    return now.toISOString()\n  }\n\n  const m = s.match(/(\\d+)\\s*(minute|hour|day|week|month|year)s?\\s*ago/)\n  if (!m) return null\n\n  const amount = parseInt(m[1], 10)\n  const unit = m[2]\n  const d = new Date(now)\n\n  switch (unit) {\n    case 'minute':\n      d.setMinutes(d.getMinutes() - amount)\n      break\n    case 'hour':\n      d.setHours(d.getHours() - amount)\n      break\n    case 'day':\n      d.setDate(d.getDate() - amount)\n      break\n    case 'week':\n      d.setDate(d.getDate() - amount * 7)\n      break\n    case 'month':\n      d.setMonth(d.getMonth() - amount)\n      break\n    case 'year':\n      d.setFullYear(d.getFullYear() - amount)\n      break\n    default:\n      return null\n  }\n  return d.toISOString()\n}\n\nfunction ensureUrlLike(s) {\n  const v = toStringSafe(s).trim()\n  if (!v) return ''\n  if (/^(https?:\\/\\/|mailto:)/i.test(v)) return v\n  if (/^[\\w.-]+\\.[a-z]{2,}($|\\/)/i.test(v)) return 'https://' + v\n  return ''\n}\n\nfunction simpleHash(str) {\n  let hash = 0\n  const s = toStringSafe(str)\n  for (let i = 0; i < s.length; i++) {\n    hash = (hash << 5) - hash + s.charCodeAt(i)\n    hash |= 0\n  }\n  return Math.abs(hash).toString(36)\n}\n\nfunction buildExternalId(provider, raw, urlCandidate) {\n  // Try to extract unique ID from various fields\n  const ids = [\n    raw.job_id,\n    raw.jobId,\n    raw.id,\n    raw.external_id,\n    raw.guid,\n    raw.job_link_id,\n  ]\n    .map(toStringSafe)\n    .filter(Boolean)\n\n  if (ids.length > 0) return `${provider}_${ids[0]}`\n\n  // Fallback: hash combination of key fields\n  const seed = [\n    provider,\n    toStringSafe(raw.title || raw.positionName || raw.jobTitle),\n    toStringSafe(\n      raw.company_name || raw.company || raw.companyName || raw.employerName\n    ),\n    ensureUrlLike(\n      urlCandidate || raw.apply_url || raw.apply_link || raw.url || raw.jobUrl\n    ),\n  ].join('||')\n\n  return `${provider}_${simpleHash(seed || JSON.stringify(raw))}`\n}\n\n// ========== SOURCE DETECTION ==========\n\nfunction detectJobSource(job) {\n  if (!job || typeof job !== 'object') return 'unknown'\n\n  // APIFY LinkedIn: Has companyName, applyUrl/jobUrl, often publishedAt\n  if (\n    job.companyName &&\n    (job.applyUrl || job.jobUrl) &&\n    (job.publishedAt || job.postedTime)\n  ) {\n    return 'apify_linkedin'\n  }\n\n  // APIFY Indeed: Has positionName, externalApplyLink\n  if (job.positionName || job.externalApplyLink) {\n    return 'apify_indeed'\n  }\n\n  // APIFY Naukri: Has jobTitle, specific structure\n  if (job.jobTitle && job.companyName && !job.publishedAt) {\n    return 'apify_naukri'\n  }\n\n  // Google Jobs (SerpApi): Has company_name, job_id, apply_options\n  if (job.company_name || job.job_id || job.apply_options) {\n    return 'google_jobs'\n  }\n\n  // Greenhouse: Has specific ATS structure\n  if (job.departments || job.offices || job.gh_jid) {\n    return 'greenhouse'\n  }\n\n  // Lever: Has specific ATS structure\n  if (job.categories || job.lever_id) {\n    return 'lever'\n  }\n\n  return 'generic'\n}\n\n// ========== NORMALIZERS (SOURCE-SPECIFIC) ==========\n\nfunction normalizeFromGoogleJobs(job) {\n  const title = cleanText(job.title)\n  const company = firstNonEmpty(job.company_name, job.company)\n  const location = firstNonEmpty(job.location, job.address, 'India')\n\n  // Fallback chain for description\n  let description = cleanText(job.description || job.snippet || job.highlights)\n  if (!description && job.via) {\n    description = `Job available ${job.via}. Click apply to view full details on the source site.`\n  }\n\n  // Apply URL priority\n  const applyUrl = ensureUrlLike(\n    (job.apply_options && job.apply_options[0] && job.apply_options[0].link) ||\n      job.apply_link ||\n      job.share_link ||\n      job.apply_url ||\n      job.url\n  )\n\n  // Better ID extraction for Google Jobs (try to find htidocid in URL)\n  let extractedId = job.job_id || job.jobId\n  if (!extractedId && applyUrl) {\n    const match = applyUrl.match(/htidocid=([^&]+)/)\n    if (match) extractedId = match[1]\n  }\n\n  // Parse posted date\n  let postedDate = new Date().toISOString()\n  if (job.detected_extensions && job.detected_extensions.posted_at) {\n    const parsed = parseRelativeTime(job.detected_extensions.posted_at)\n    postedDate = parsed || getDateISOOrNow(job.detected_extensions.posted_at)\n  } else if (job.posted_at || job.date) {\n    postedDate = getDateISOOrNow(job.posted_at || job.date)\n  }\n\n  return {\n    title,\n    company,\n    location,\n    description,\n    apply_url: applyUrl,\n    source: 'google_jobs',\n    external_id: buildExternalId(\n      'google_jobs',\n      { ...job, job_id: extractedId },\n      applyUrl\n    ),\n    posted_date: postedDate,\n    salary:\n      (job.detected_extensions && job.detected_extensions.salary) ||\n      job.salary ||\n      null,\n    via: job.via || 'google_jobs',\n  }\n}\n\nfunction normalizeFromApifyLinkedIn(job) {\n  const title = cleanText(job.title)\n  const company = firstNonEmpty(job.companyName, job.company)\n  const location = firstNonEmpty(job.location, 'India')\n  const description = firstNonEmpty(job.description, job.descriptionHtml)\n  const applyUrl = ensureUrlLike(job.applyUrl || job.jobUrl || job.url)\n\n  // Parse posted date\n  let postedDate = new Date().toISOString()\n  if (job.publishedAt) {\n    postedDate = getDateISOOrNow(job.publishedAt)\n  } else if (job.postedTime) {\n    const parsed = parseRelativeTime(job.postedTime)\n    postedDate = parsed || new Date().toISOString()\n  }\n\n  const out = {\n    title,\n    company,\n    location,\n    description: cleanText(description),\n    apply_url: applyUrl,\n    source: 'apify_linkedin', // FIXED: Was 'linkedin'\n    external_id: buildExternalId('apify_linkedin', job, applyUrl),\n    posted_date: postedDate,\n    salary: cleanText(job.salary) || null,\n    via: 'apify_linkedin',\n  }\n\n  // Add LinkedIn-specific metadata\n  if (job.contractType) out.contract_type = cleanText(job.contractType)\n  if (job.experienceLevel) out.experience_level = cleanText(job.experienceLevel)\n  if (job.workType) out.work_type = cleanText(job.workType)\n  if (job.sector) out.sector = cleanText(job.sector)\n\n  return out\n}\n\nfunction normalizeFromApifyIndeed(job) {\n  // APIFY Indeed specific fields\n  const title = firstNonEmpty(job.positionName, job.position, job.title)\n  const company = firstNonEmpty(job.company, job.employerName)\n  const location = firstNonEmpty(job.location, job.city, 'India')\n  const description = firstNonEmpty(job.description, job.summary)\n\n  // APIFY Indeed uses 'url' or 'externalApplyLink'\n  const applyUrl = ensureUrlLike(\n    job.externalApplyLink || job.url || job.apply_url || job.link\n  )\n\n  // Parse posted date\n  let postedDate = new Date().toISOString()\n  if (job.postedAt || job.datePosted) {\n    const parsed = parseRelativeTime(job.postedAt || job.datePosted)\n    postedDate = parsed || getDateISOOrNow(job.postedAt || job.datePosted)\n  }\n\n  return {\n    title: cleanText(title),\n    company: cleanText(company),\n    location: cleanText(location),\n    description: cleanText(description),\n    apply_url: applyUrl,\n    source: 'apify_indeed',\n    external_id: buildExternalId('apify_indeed', job, applyUrl),\n    posted_date: postedDate,\n    salary: cleanText(job.salary || job.pay) || null,\n    via: 'apify_indeed',\n  }\n}\n\nfunction normalizeFromApifyNaukri(job) {\n  // APIFY Naukri specific fields\n  const title = firstNonEmpty(job.jobTitle, job.title)\n  const company = firstNonEmpty(job.companyName, job.company)\n  const location = firstNonEmpty(job.jobLocation, job.location, 'India')\n  const description = firstNonEmpty(job.jobDescription, job.description)\n\n  // APIFY Naukri uses 'applyUrl'\n  const applyUrl = ensureUrlLike(\n    job.applyUrl || job.url || job.jobUrl || job.apply_url\n  )\n\n  // Parse posted date\n  let postedDate = new Date().toISOString()\n  if (job.postedDate || job.datePosted) {\n    const parsed = parseRelativeTime(job.postedDate || job.datePosted)\n    postedDate = parsed || getDateISOOrNow(job.postedDate || job.datePosted)\n  }\n\n  return {\n    title: cleanText(title),\n    company: cleanText(company),\n    location: cleanText(location),\n    description: cleanText(description),\n    apply_url: applyUrl,\n    source: 'apify_naukri',\n    external_id: buildExternalId('apify_naukri', job, applyUrl),\n    posted_date: postedDate,\n    salary: cleanText(job.salary || job.pay) || null,\n    via: 'apify_naukri',\n  }\n}\n\nfunction normalizeGenericJob(job, providerHint = 'generic') {\n  const title = firstNonEmpty(\n    job.title,\n    job.position,\n    job.jobTitle,\n    job.positionName\n  )\n  const company = firstNonEmpty(\n    job.company,\n    job.company_name,\n    job.companyName,\n    job.employerName,\n    job.organisation\n  )\n  const location = firstNonEmpty(job.location, job.city, job.region, 'India')\n  const description = firstNonEmpty(\n    job.description,\n    job.summary,\n    job.details,\n    job.desc,\n    job.descriptionHtml\n  )\n\n  // Comprehensive apply URL extraction\n  const applyUrl = ensureUrlLike(\n    job.apply_url ||\n      job.apply_link ||\n      job.apply ||\n      job.url ||\n      job.jobUrl ||\n      job.link ||\n      job.share_link ||\n      job.externalApplyLink ||\n      job.applyUrl ||\n      (job.apply_options && job.apply_options[0] && job.apply_options[0].link)\n  )\n\n  // Parse posted date\n  let postedDate = new Date().toISOString()\n  const dateField =\n    job.posted_date ||\n    job.posted_at ||\n    job.datePosted ||\n    job.date ||\n    job.published_at ||\n    job.publishedAt ||\n    job.postedAt ||\n    job.postedTime\n  if (dateField) {\n    const parsed = parseRelativeTime(dateField)\n    postedDate = parsed || getDateISOOrNow(dateField)\n  }\n\n  return {\n    title: cleanText(title),\n    company: cleanText(company),\n    location: cleanText(location),\n    description: cleanText(description),\n    apply_url: applyUrl,\n    source: providerHint,\n    external_id: buildExternalId(providerHint, job, applyUrl),\n    posted_date: postedDate,\n    salary: cleanText(job.salary || job.pay || job.compensation) || null,\n    via: job.via || job.source || providerHint,\n  }\n}\n\n// ========== ROUTING LOGIC ==========\n\nfunction normalizeJob(job, errors) {\n  try {\n    if (!job || typeof job !== 'object') return null\n\n    // Detect source\n    const source = detectJobSource(job)\n\n    // Route to appropriate normalizer\n    switch (source) {\n      case 'google_jobs':\n        return normalizeFromGoogleJobs(job)\n      case 'apify_linkedin':\n        return normalizeFromApifyLinkedIn(job)\n      case 'apify_indeed':\n        return normalizeFromApifyIndeed(job)\n      case 'apify_naukri':\n        return normalizeFromApifyNaukri(job)\n      case 'greenhouse':\n      case 'lever':\n      case 'generic':\n      default:\n        return normalizeGenericJob(job, source)\n    }\n  } catch (e) {\n    errors.push({\n      type: 'normalize_error',\n      message: e.message,\n      sample: JSON.stringify(job).slice(0, 500),\n    })\n    return null\n  }\n}\n\n// ========== DATA EXTRACTION ==========\n\nfunction extractJobsFromData(data, errors) {\n  const jobs = []\n\n  try {\n    if (!data || typeof data !== 'object') return jobs\n\n    // 1) Check for jobs_results array (SerpApi)\n    if (data.jobs_results && Array.isArray(data.jobs_results)) {\n      for (const job of data.jobs_results) {\n        const normalized = normalizeJob(job, errors)\n        if (normalized) jobs.push(normalized)\n      }\n      return jobs\n    }\n\n    // 2) Check for common container arrays\n    const containers = ['jobs', 'results', 'data', 'items']\n    for (const key of containers) {\n      if (Array.isArray(data[key])) {\n        for (const job of data[key]) {\n          const normalized = normalizeJob(job, errors)\n          if (normalized) jobs.push(normalized)\n        }\n        return jobs\n      }\n    }\n\n    // 3) Check if data itself is an array\n    if (Array.isArray(data)) {\n      for (const job of data) {\n        const normalized = normalizeJob(job, errors)\n        if (normalized) jobs.push(normalized)\n      }\n      return jobs\n    }\n\n    // 4) Single job object\n    const normalized = normalizeJob(data, errors)\n    if (normalized) jobs.push(normalized)\n  } catch (e) {\n    errors.push({\n      type: 'extraction_error',\n      message: e.message,\n      sample: JSON.stringify(data).slice(0, 500),\n    })\n  }\n\n  return jobs\n}\n\n// ========== MAIN EXECUTION ==========\n\nconst allJobs = []\nconst errors = []\n\n// Process all input items\nfor (const item of $input.all()) {\n  const data = item.json\n  const extracted = extractJobsFromData(data, errors)\n  allJobs.push(...extracted)\n}\n\n// Validation: Require title, company, apply_url\nconst isValid = (j) => {\n  return (\n    j &&\n    j.title &&\n    j.title.length > 0 &&\n    j.company &&\n    j.company.length > 0 &&\n    j.apply_url &&\n    j.apply_url.length > 10\n  ) // URLs should be at least 10 chars\n}\n\nconst validJobs = allJobs.filter(isValid)\n\n// De-duplication by (external_id)\nconst seen = new Set()\nconst uniqueJobs = []\n\nfor (const job of validJobs) {\n  const key = job.external_id\n  if (!seen.has(key)) {\n    seen.add(key)\n    uniqueJobs.push(job)\n  }\n}\n\n// Log results\nconsole.log(\n  `Processed ${allJobs.length} jobs, ${validJobs.length} valid, ${uniqueJobs.length} unique`\n)\nif (errors.length > 0) {\n  console.log(`Errors encountered: ${errors.length}`)\n}\n\nreturn [\n  {\n    json: {\n      jobs: uniqueJobs,\n      totalRaw: allJobs.length,\n      totalValid: validJobs.length,\n      totalUnique: uniqueJobs.length,\n      duplicatesRemoved: validJobs.length - uniqueJobs.length,\n      errors: errors.slice(0, 10), // Limit error array to prevent overflow\n    },\n  },\n]\n"},"id":"54c71fc2-2e11-4626-a9ae-9d0fc3b19f6c","name":"Normalize Job Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[864,336]},{"parameters":{"jsCode":"// Deduplicate jobs using title + company similarity\nconst data = $input.first().json;\nconst jobs = data.jobs || [];\nconst uniqueJobs = [];\nconst seenExternalIds = new Set();\nconst seenTitleCompany = new Set();\n\nfor (const job of jobs) {\n  // Skip if external_id already seen\n  if (seenExternalIds.has(job.external_id)) continue;\n  \n  // Create a normalized key for deduplication\n  const normalizedTitle = (job.title || '').toLowerCase().trim()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .replace(/\\s+/g, ' ');\n  const normalizedCompany = (job.company || '').toLowerCase().trim()\n    .replace(/[^a-z0-9\\s]/g, '')\n    .replace(/\\s+/g, ' ');\n  \n  const key = `${normalizedTitle}_${normalizedCompany}`;\n  \n  if (!seenTitleCompany.has(key) && normalizedTitle.length > 0 && normalizedCompany.length > 0) {\n    seenExternalIds.add(job.external_id);\n    seenTitleCompany.add(key);\n    uniqueJobs.push(job);\n  }\n}\n\nreturn [{ \n  json: { \n    jobs: uniqueJobs, \n    totalBefore: jobs.length,\n    totalAfter: uniqueJobs.length,\n    duplicatesRemoved: jobs.length - uniqueJobs.length\n  } \n}];"},"id":"1cfb9e75-8f06-41c9-862c-02df4f59c015","name":"Deduplicate Jobs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,336]},{"parameters":{"method":"POST","url":"https://job-matcher-ai-zeta.vercel.app/api/jobs/import","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-secret","value":"26e7d28e0b7869dd57021555ab40845f11c6cf358ccce535e3cfa7ee31b805cf"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  userId: $node['Loop Over Each User'].json.user_id,\n  jobs: $json.jobs,\n  source: 'n8n_daily_pipeline'\n}) }}","options":{"timeout":300000}},"id":"cf08ef65-977e-426b-994b-e56922d8cfb6","name":"Import to Database (with userId)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1312,336]},{"parameters":{},"id":"034fb532-b053-44ff-927f-888b77965be4","name":"Wait 5 Seconds (Rate Limit)","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1536,336],"webhookId":"f3a75a98-1183-4c2a-a1ff-27160773b314"},{"parameters":{"jsCode":"// Log completion stats for this user\n\n// Helper to safely get data from previous nodes (handles Arrays)\nconst getData = (nodeName) => {\n  const nodeData = $node[nodeName];\n  // Check if it's an array and has items\n  if (Array.isArray(nodeData) && nodeData.length > 0) {\n    return nodeData[0].json;\n  }\n  return {}; // Return empty object if node didn't run or has no data\n};\n\n// Access user data (handling array access safely)\nconst userNode = $node['Loop Over Each User'];\nconst userData = (Array.isArray(userNode) ? userNode[0] : userNode).json;\n\nconst userId = userData.user_id;\nconst userName = userData.name;\n\n// Use array index [0] instead of .first()\nconst normalizeResult = getData('Normalize Job Format');\nconst dedupeResult = getData('Deduplicate Jobs');\nconst importResult = getData('Import to Database (with userId)');\n\nconst log = {\n  timestamp: new Date().toISOString(),\n  userId: userId,\n  userName: userName,\n  rawJobs: normalizeResult.totalRaw || 0,\n  validJobs: normalizeResult.totalValid || 0,\n  afterDedup: dedupeResult.totalAfter || 0,\n  duplicatesRemoved: dedupeResult.duplicatesRemoved || 0,\n  stored: importResult?.stats?.stored || 0,\n  matchesCreated: importResult?.stats?.matchesCreated || 0,\n  aiQueued: importResult?.stats?.aiQueued || 0,\n  success: importResult?.success || false\n};\n\nconsole.log('User processing complete:', JSON.stringify(log, null, 2));\n\nreturn [{ json: log }];"},"id":"e4add7c9-0879-437b-a8c6-b181d6cbcd49","name":"Log User Processing Complete","type":"n8n-nodes-base.code","typeVersion":2,"position":[1664,608]},{"parameters":{"jsCode":"// Final summary of entire daily run\nconst allLogs = $input.all();\n\nconst summary = {\n  timestamp: new Date().toISOString(),\n  pipeline: 'daily-per-user-scraping',\n  totalUsers: allLogs.length,\n  totalJobsStored: allLogs.reduce((sum, item) => sum + (item.json.stored || 0), 0),\n  totalMatchesCreated: allLogs.reduce((sum, item) => sum + (item.json.matchesCreated || 0), 0),\n  totalAIQueued: allLogs.reduce((sum, item) => sum + (item.json.aiQueued || 0), 0),\n  usersProcessed: allLogs.filter(item => item.json.success).length,\n  usersFailed: allLogs.filter(item => !item.json.success).length,\n  status: 'completed'\n};\n\nconsole.log('\\n=== DAILY SCRAPING COMPLETE ===');\nconsole.log(JSON.stringify(summary, null, 2));\nconsole.log('================================\\n');\n\nreturn [{ json: summary }];"},"id":"dc77b61c-51ae-435f-8d9e-7cfc4b72f550","name":"Final Summary (All Users)","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"url":"https://serpapi.com/search.json","authentication":"predefinedCredentialType","nodeCredentialType":"serpApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"engine","value":"google_jobs"},{"name":"q","value":"={{ $json.search_query }}"},{"name":"location","value":"={{ ($node['Loop Over Each User'].json.location || 'India').split('(')[0].trim() }}"},{"name":"hl","value":"en"}]},"options":{"timeout":30000}},"id":"dc1fb3a7-822f-49f9-a412-0f6eb88d41ce","name":"SerpApi Google Jobs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,512],"credentials":{"serpApi":{"id":"PnjhrN17CYFiIosL","name":"SerpAPI account"}}},{"parameters":{"method":"POST","url":"https://job-matcher-ai-zeta.vercel.app/api/search-queries","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  name: $json.name,\n  preferences: {\n    target_roles: $json.preferences?.target_roles || []\n  },\n  location: $json.location || 'India'\n}) }}","options":{"timeout":30000}},"id":"978c68be-d2df-498c-a967-c6def16cc817","name":"Generate Search Queries","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[32,336],"credentials":{"httpHeaderAuth":{"id":"OujyOJ7tQjEVIxUl","name":"Header Auth account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cbd4652f-97f4-43e0-ada8-2ede5280f754","leftValue":"={{ $json['Readable date'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-864,336],"id":"e15767c3-a8db-46a4-a05e-8f3ff8177560","name":"If"},{"parameters":{"useCustomSchema":true,"schema":"app","operation":"get","tableId":"profiles","filters":{"conditions":[{"keyName":"user_id","keyValue":"={{ $json.body.userId }}"}]}},"id":"d8d12780-876c-4857-bb8d-ca396ddd2f26","name":"Get Active Users from DB2","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-640,416],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"U3tEYNj5VtvT7DCy","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"filter-has-skills","leftValue":"={{ $json.skills }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"31be9213-d7ab-43aa-aec2-d8b8922e58b6","name":"Filter Users With Skills1","type":"n8n-nodes-base.filter","typeVersion":2,"position":[-416,416]}],"connections":{"Daily Trigger (2 AM IST)":{"main":[[{"node":"If","type":"main","index":0}]]},"Manual Webhook Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Get Active Users from DB":{"main":[[{"node":"Filter Users With Skills","type":"main","index":0}]]},"Filter Users With Skills":{"main":[[{"node":"Loop Over Each User","type":"main","index":0}]]},"Loop Over Each User":{"main":[[{"node":"Final Summary (All Users)","type":"main","index":0}],[{"node":"Generate Search Queries","type":"main","index":0}]]},"Merge All Scraped Results":{"main":[[{"node":"Normalize Job Format","type":"main","index":0}]]},"Normalize Job Format":{"main":[[{"node":"Deduplicate Jobs","type":"main","index":0}]]},"Deduplicate Jobs":{"main":[[{"node":"Import to Database (with userId)","type":"main","index":0}]]},"Import to Database (with userId)":{"main":[[{"node":"Wait 5 Seconds (Rate Limit)","type":"main","index":0}]]},"Wait 5 Seconds (Rate Limit)":{"main":[[{"node":"Log User Processing Complete","type":"main","index":0}]]},"Log User Processing Complete":{"main":[[{"node":"Loop Over Each User","type":"main","index":0}]]},"SerpApi Google Jobs":{"main":[[{"node":"Merge All Scraped Results","type":"main","index":1}]]},"Generate Search Queries":{"main":[[{"node":"SerpApi Google Jobs","type":"main","index":0}]]},"If":{"main":[[{"node":"Get Active Users from DB","type":"main","index":0}],[{"node":"Get Active Users from DB2","type":"main","index":0}]]},"Get Active Users from DB2":{"main":[[{"node":"Filter Users With Skills1","type":"main","index":0}]]},"Filter Users With Skills1":{"main":[[{"node":"Loop Over Each User","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Daily Trigger (2 AM IST)":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c417910-15c5-49d0-a12c-b91f8f236597","activeVersionId":null,"versionCounter":10,"triggerCount":2,"shared":[{"updatedAt":"2026-02-08T18:07:12.567Z","createdAt":"2026-02-08T18:07:12.567Z","role":"workflow:owner","workflowId":"xsNXuVt1Fmv8QPQdxe1-q","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":null}