workflows/latest/Xu9ngaO9mBg1sEIC__Tool_Browse_Catalog.json
{"updatedAt":"2026-03-14T14:41:45.118Z","createdAt":"2026-03-13T01:13:18.411Z","id":"Xu9ngaO9mBg1sEIC","name":"[Tool] Browse Catalog","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"browse-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,368]},{"parameters":{"operation":"executeQuery","query":"=WITH preferred_store AS (\n  SELECT COALESCE(\n    (\n      SELECT c.store_id\n      FROM public.carts c\n      WHERE c.user_id = {{ (($('Start').first().json.tool_input || {}).chat_id || $('Start').first().json.chat_id) }}::bigint\n        AND c.status = 'active'\n      ORDER BY c.updated_at DESC NULLS LAST, c.created_at DESC NULLS LAST\n      LIMIT 1\n    ),\n    (\n      SELECT s.store_id\n      FROM public.stores s\n      ORDER BY COALESCE(s.onboarding_step, 0) DESC, s.created_at DESC NULLS LAST, s.store_id DESC\n      LIMIT 1\n    )\n  ) AS store_id\n),\nactive_cart AS (\n  SELECT c.cart_id, c.updated_at AS cart_updated_at\n  FROM public.carts c\n  CROSS JOIN preferred_store ps\n  WHERE c.user_id = {{ (($('Start').first().json.tool_input || {}).chat_id || $('Start').first().json.chat_id) }}::bigint\n    AND c.status = 'active'\n    AND (ps.store_id IS NULL OR c.store_id = ps.store_id)\n  ORDER BY c.updated_at DESC NULLS LAST, c.created_at DESC NULLS LAST\n  LIMIT 1\n),\nrecent_skus AS (\n  SELECT DISTINCT ci.sku, MAX(ci.added_at) AS last_added\n  FROM public.cart_items ci\n  WHERE ci.cart_id = (SELECT cart_id FROM active_cart LIMIT 1)\n  GROUP BY ci.sku\n  ORDER BY last_added DESC NULLS LAST\n  LIMIT 3\n)\nSELECT\n  {{ (($('Start').first().json.tool_input || {}).chat_id || $('Start').first().json.chat_id) }}::bigint AS chat_id,\n  ps.store_id,\n  COALESCE(s.store_name, 'your kirana store') AS store_name,\n  COALESCE((\n    SELECT SUM(ci.quantity)\n    FROM public.cart_items ci\n    WHERE ci.cart_id = (SELECT cart_id FROM active_cart LIMIT 1)\n  ), 0)::int AS cart_item_count,\n  COALESCE((\n    SELECT SUM(ci.quantity * ci.price_at_addition)\n    FROM public.cart_items ci\n    WHERE ci.cart_id = (SELECT cart_id FROM active_cart LIMIT 1)\n  ), 0)::numeric AS cart_total,\n  (SELECT cart_updated_at FROM active_cart LIMIT 1) AS cart_updated_at,\n  COALESCE((\n    SELECT json_agg(sku ORDER BY last_added DESC)\n    FROM recent_skus\n  ), '[]'::json)::text AS recent_skus_json\nFROM preferred_store ps\nLEFT JOIN public.stores s ON s.store_id = ps.store_id;","options":{}},"id":"browse-context","name":"Resolve Browse Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,368],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT\n  i.sku,\n  i.item_name,\n  i.price,\n  COALESCE(i.stock, 0) AS stock,\n  COALESCE(i.unit, 'pcs') AS unit,\n  COALESCE(i.category_tag, 'general') AS category_tag\nFROM public.inventory i\nWHERE i.is_active = true\n  AND COALESCE(i.stock, 0) > 0\n  AND i.store_id = {{ Number($('Resolve Browse Context').first().json.store_id || 1) }}\n  {{ (() => {\n    const ti = $('Start').first().json.tool_input || {};\n    const ep = String(ti.entry_point || 'browse_home').trim();\n    const sku = String(ti.sku || '').trim().replace(/'/g, \"''\");\n    const catKey = String(ti.category_key || '').trim().replace(/'/g, \"''\");\n    const q = String(ti.user_query || '').trim().replace(/'/g, \"''\");\n    if (sku) return `AND i.sku = '${sku}'`;\n    if (ep === 'browse_search' && q) return `AND (i.item_name ILIKE '%${q}%' OR similarity(i.item_name, '${q}') > 0.1)`;\n    if (ep === 'browse_category' && catKey) return `AND COALESCE(i.category_tag, 'general') = '${catKey}'`;\n    return '';\n  })() }}\nORDER BY\n  {{ (() => {\n    const ti = $('Start').first().json.tool_input || {};\n    const ep = String(ti.entry_point || '').trim();\n    const q = String(ti.user_query || '').trim().replace(/'/g, \"''\");\n    if (ep === 'browse_search' && q) return `similarity(i.item_name, '${q}') DESC NULLS LAST,`;\n    return '';\n  })() }}\n  i.item_name ASC\nLIMIT 11\nOFFSET {{ (() => {\n  const ti = $('Start').first().json.tool_input || {};\n  const ep = String(ti.entry_point || '').trim();\n  const page = parseInt(ti.page || 0) || 0;\n  return ['browse_category', 'browse_search'].includes(ep) ? page * 10 : 0;\n})() }}","options":{}},"id":"browse-items","name":"Load Browse Items","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,368],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const startRaw = (() => {\n  try { return $('Start').first().json || {}; } catch { return {}; }\n})();\n\nlet toolInput;\nconst rawTi = startRaw.tool_input;\nif (rawTi && typeof rawTi === 'object') {\n  toolInput = rawTi;\n} else if (rawTi && typeof rawTi === 'string' && rawTi.startsWith('{')) {\n  try { toolInput = JSON.parse(rawTi); } catch { toolInput = startRaw; }\n} else {\n  toolInput = startRaw;\n}\n\nconst context = (() => {\n  try { return $('Resolve Browse Context').first().json || {}; } catch { return {}; }\n})();\nconst allRows = $input.all().map((entry) => entry && entry.json ? entry.json : null).filter(Boolean);\n// 11 items = there are more; show 10 + \"Show more\"\nconst hasMore = allRows.length === 11;\nconst rows = hasMore ? allRows.slice(0, 10) : allRows;\n\nconst chatId = String(context.chat_id || toolInput.chat_id || '');\nconst storeName = String(context.store_name || 'your kirana store');\nconst cartItemCount = Number(context.cart_item_count || 0);\nconst cartTotal = Number(context.cart_total || 0);\nconst entryPoint = String(toolInput.entry_point || toolInput.user_query || 'browse').trim();\nconst categoryKey = String(toolInput.category_key || '').trim();\nconst focusSku = String(toolInput.sku || toolInput.focus_sku || '').trim();\nconst userQuery = String(toolInput.user_query || '').trim();\nconst page = parseInt(toolInput.page || 0) || 0;\n\nlet recentSkus = [];\ntry {\n  const parsed = JSON.parse(context.recent_skus_json || '[]');\n  recentSkus = Array.isArray(parsed) ? parsed.map(String) : [];\n} catch {}\n\nconst shortTitle = (value) => {\n  const text = String(value || '').trim().replace(/\\s+/g, ' ');\n  return text.length > 24 ? text.slice(0, 21) + '...' : text;\n};\n\nconst categoryMeta = {\n  daily_essentials: { title: 'Daily Essentials', description: 'Milk, bread, eggs & staples' },\n  vegetables_fruits: { title: 'Vegetables & Fruits', description: 'Fresh produce' },\n  staples: { title: 'Grains & Oils', description: 'Rice, atta, dal, oil' },\n  snacks_drinks: { title: 'Snacks & Drinks', description: 'Biscuits, chips, beverages' },\n  general: { title: 'More Items', description: 'Other items in the store' },\n};\n\nconst cartRows = [];\nif (cartItemCount > 0) {\n  cartRows.push({ id: 'checkout', title: '✓ Checkout', description: 'Cart total ₹' + cartTotal.toFixed(0) });\n}\ncartRows.push({ id: 'view_cart', title: '🛒 View Cart', description: cartItemCount > 0 ? cartItemCount + ' items in cart' : 'See your current cart' });\n\n// Search prompt: user tapped 🔍 Search — send prompt and set browse_context\nif (entryPoint === 'browse_search_prompt') {\n  return [{ json: {\n    chat_id: chatId, customer_ui_state: 'BROWSE_SEARCH_PROMPT', message_type: 'button',\n    body_text: '🔍 Search items\\n\\nType the name of what you\\'re looking for and send it.\\nExample: milk, rice, onion',\n    buttons: [\n      { id: 'browse', title: '← Browse Categories' },\n      { id: 'view_cart', title: '🛒 Cart' },\n    ],\n    browse_context_to_set: 'awaiting_search',\n  } }];\n}\n\nif (!rows.length && entryPoint === 'browse_search') {\n  return [{ json: {\n    chat_id: chatId, customer_ui_state: 'BROWSE_HOME', message_type: 'button',\n    body_text: 'No results found for \"' + userQuery + '\"\\n\\nTry a different search term or browse by category.',\n    buttons: [{ id: 'browse', title: '← Browse Categories' }, { id: 'view_cart', title: '🛒 Cart' }],\n    browse_context_to_set: null,\n  } }];\n}\n\nif (!rows.length) {\n  return [{ json: {\n    chat_id: chatId, customer_ui_state: 'BROWSE_HOME', message_type: 'button',\n    body_text: 'Shop items\\n\\nWe are still setting up items for ' + storeName + '.',\n    buttons: [{ id: 'view_cart', title: '🛒 Cart' }, { id: 'get_promos', title: 'Offers' }],\n    browse_context_to_set: null,\n  } }];\n}\n\n// Search results\nif (entryPoint === 'browse_search') {\n  const searchRows = rows.map((row) => ({\n    id: 'browse_item__' + String(row.sku || ''),\n    title: shortTitle(row.item_name),\n    description: '₹' + Number(row.price || 0).toFixed(0) + ' per ' + (row.unit || 'pcs'),\n  }));\n  if (hasMore) {\n    searchRows.push({ id: 'browse_search_more__' + (page + 1), title: '→ Show more results', description: 'Load next page' });\n  }\n  return [{ json: {\n    chat_id: chatId, customer_ui_state: 'BROWSE_SEARCH', message_type: 'list',\n    body_text: 'Search results for \"' + userQuery + '\"' + (page > 0 ? ' (page ' + (page + 1) + ')' : '') + '\\n\\nTap an item to choose quantity.',\n    list_sections: [\n      { title: 'Results', rows: searchRows },\n      { title: 'Actions', rows: [{ id: 'browse', title: '← Browse Categories', description: 'Back to categories' }, ...cartRows] },\n    ],\n    browse_context_to_set: null,\n  } }];\n}\n\n// Custom qty prompt\nif (entryPoint === 'browse_qty_custom' && focusSku) {\n  const row = rows.find((r) => String(r.sku || '') === focusSku) || rows[0];\n  if (row) {\n    return [{ json: {\n      chat_id: chatId, customer_ui_state: 'ITEM_QUANTITY_PICKER', message_type: 'button',\n      body_text: 'Custom quantity\\n\\nSend a message like \"6 ' + row.item_name + '\" to add it to your cart.\\n\\n' + row.item_name + ' • ₹' + Number(row.price || 0).toFixed(0) + ' per ' + (row.unit || 'pcs'),\n      buttons: [{ id: 'browse', title: '← Browse' }, { id: 'view_cart', title: '🛒 Cart' }],\n      browse_context_to_set: 'awaiting_qty__' + focusSku,\n    } }];\n  }\n}\n\n// Item quantity picker\nif (focusSku) {\n  const row = rows.find((r) => String(r.sku || '') === focusSku) || rows[0];\n  if (row) {\n    const catKey = String(row.category_tag || 'general');\n    return [{ json: {\n      chat_id: chatId, customer_ui_state: 'ITEM_QUANTITY_PICKER', message_type: 'list',\n      body_text: 'Choose quantity\\n\\n' + row.item_name + '\\nPrice: ₹' + Number(row.price || 0).toFixed(0) + ' per ' + (row.unit || 'pcs') + '\\nIn stock: ' + Number(row.stock || 0),\n      list_sections: [\n        {\n          title: 'Pick quantity',\n          rows: [1, 2, 3, 4, 5].map((qty) => ({\n            id: 'set_qty__' + row.sku + '__' + qty,\n            title: 'Add ' + qty + ' ' + (row.unit || 'pcs'),\n            description: '₹' + (Number(row.price || 0) * qty).toFixed(0) + ' total',\n          })).concat([{ id: 'set_qty_custom__' + row.sku, title: '✏️ Custom quantity', description: 'Type a custom amount' }]),\n        },\n        {\n          title: 'More',\n          rows: [\n            { id: 'browse_category__' + catKey, title: '← Back to category', description: (categoryMeta[catKey] || categoryMeta.general).title },\n            ...cartRows,\n          ],\n        },\n      ],\n      browse_context_to_set: null,\n    } }];\n  }\n}\n\n// Category list (paginated)\nif (entryPoint === 'browse_category' && categoryKey) {\n  const meta = categoryMeta[categoryKey] || { title: 'Items', description: 'Pick an item' };\n  const itemRows = rows.map((row) => ({\n    id: 'browse_item__' + row.sku,\n    title: shortTitle(row.item_name),\n    description: '₹' + Number(row.price || 0).toFixed(0) + ' per ' + (row.unit || 'pcs'),\n  }));\n  if (hasMore) {\n    itemRows.push({ id: 'browse_more__' + categoryKey + '__' + (page + 1), title: '→ Show more', description: 'Next 10 items' });\n  }\n  return [{ json: {\n    chat_id: chatId, customer_ui_state: 'BROWSE_CATEGORY', message_type: 'list',\n    body_text: meta.title + (page > 0 ? ' (page ' + (page + 1) + ')' : '') + '\\n\\nTap an item to choose quantity.',\n    list_sections: [\n      { title: meta.title, rows: itemRows },\n      { title: 'More', rows: [{ id: 'browse', title: '← All Categories', description: 'Back to home' }, ...cartRows] },\n    ],\n    browse_context_to_set: null,\n  } }];\n}\n\n// Browse home - group by category_tag from DB\nconst rowsByCategory = new Map();\nfor (const row of rows) {\n  if (!row || !row.sku) continue;\n  const key = String(row.category_tag || 'general');\n  if (!rowsByCategory.has(key)) rowsByCategory.set(key, []);\n  rowsByCategory.get(key).push(row);\n}\n\nconst homeRows = [];\nfor (const [key, catRows] of rowsByCategory) {\n  const meta = categoryMeta[key] || { title: key, description: catRows.length + ' items' };\n  homeRows.push({\n    id: 'browse_category__' + key,\n    title: meta.title,\n    description: meta.description + ' • ' + catRows.length + ' items',\n  });\n}\nhomeRows.push({ id: 'browse_search', title: '🔍 Search items', description: 'Find any item by name' });\n\nconst listSections = [];\nif (recentSkus.length > 0) {\n  const recentRows = recentSkus\n    .map((sku) => rows.find((r) => String(r.sku || '') === sku))\n    .filter(Boolean)\n    .map((row) => ({ id: 'browse_item__' + row.sku, title: shortTitle(row.item_name), description: '₹' + Number(row.price || 0).toFixed(0) + ' • Added recently' }));\n  if (recentRows.length > 0) listSections.push({ title: 'Recently added', rows: recentRows });\n}\nlistSections.push({ title: 'Browse categories', rows: homeRows });\nlistSections.push({ title: 'Cart', rows: cartRows });\n\nreturn [{ json: {\n  chat_id: chatId, customer_ui_state: 'BROWSE_HOME', message_type: 'list',\n  body_text: 'Shop at ' + storeName + '\\n\\nWhat would you like today?' + (cartItemCount > 0 ? '\\nCart: ' + cartItemCount + ' items • ₹' + cartTotal.toFixed(0) : ''),\n  list_sections: listSections,\n  browse_context_to_set: null,\n} }];"},"id":"browse-format","name":"Format Browse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,368]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO customer_preferences (chat_id, browse_context, updated_at)\nVALUES ({{ $json.chat_id }}::bigint, {{ $json.browse_context_to_set ? `'${String($json.browse_context_to_set).replace(/'/g, \"''\")}'` : 'NULL' }}, NOW())\nON CONFLICT (chat_id) DO UPDATE SET browse_context = EXCLUDED.browse_context, updated_at = NOW();\nSELECT 1 AS done","options":{}},"id":"browse-set-context","name":"Set Browse Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,368],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const payload = $('Format Browse Response').first().json;\nconst { browse_context_to_set, ...clean } = payload;\nreturn [{ json: clean }];"},"id":"browse-return","name":"Return","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,368]}],"connections":{"Start":{"main":[[{"node":"Resolve Browse Context","type":"main","index":0}]]},"Resolve Browse Context":{"main":[[{"node":"Load Browse Items","type":"main","index":0}]]},"Load Browse Items":{"main":[[{"node":"Format Browse Response","type":"main","index":0}]]},"Format Browse Response":{"main":[[{"node":"Set Browse Context","type":"main","index":0}]]},"Set Browse Context":{"main":[[{"node":"Return","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Start":[{"json":{"tool_name":"browse_catalog","tool_input":{"chat_id":"919988776655","entry_point":"browse_home"}}}]},"versionId":"0462be0b-9e80-44df-be89-7ce2f7cf5cbd","activeVersionId":"0462be0b-9e80-44df-be89-7ce2f7cf5cbd","versionCounter":20,"triggerCount":0,"shared":[{"updatedAt":"2026-03-13T01:13:18.411Z","createdAt":"2026-03-13T01:13:18.411Z","role":"workflow:owner","workflowId":"Xu9ngaO9mBg1sEIC","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-14T14:41:45.131Z","createdAt":"2026-03-14T14:41:45.131Z","versionId":"0462be0b-9e80-44df-be89-7ce2f7cf5cbd","workflowId":"Xu9ngaO9mBg1sEIC","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"browse-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,368]},{"parameters":{"operation":"executeQuery","query":"=WITH preferred_store AS (\n  SELECT COALESCE(\n    (\n      SELECT c.store_id\n      FROM public.carts c\n      WHERE c.user_id = {{ (($('Start').first().json.tool_input || {}).chat_id || $('Start').first().json.chat_id) }}::bigint\n        AND c.status = 'active'\n      ORDER BY c.updated_at DESC NULLS LAST, c.created_at DESC NULLS LAST\n      LIMIT 1\n    ),\n    (\n      SELECT s.store_id\n      FROM public.stores s\n      ORDER BY COALESCE(s.onboarding_step, 0) DESC, s.created_at DESC NULLS LAST, s.store_id DESC\n      LIMIT 1\n    )\n  ) AS store_id\n),\nactive_cart AS (\n  SELECT c.cart_id, c.updated_at AS cart_updated_at\n  FROM public.carts c\n  CROSS JOIN preferred_store ps\n  WHERE c.user_id = {{ (($('Start').first().json.tool_input || {}).chat_id || $('Start').first().json.chat_id) }}::bigint\n    AND c.status = 'active'\n    AND (ps.store_id IS NULL OR c.store_id = ps.store_id)\n  ORDER BY c.updated_at DESC NULLS LAST, c.created_at DESC NULLS LAST\n  LIMIT 1\n),\nrecent_skus AS (\n  SELECT DISTINCT ci.sku, MAX(ci.added_at) AS last_added\n  FROM public.cart_items ci\n  WHERE ci.cart_id = (SELECT cart_id FROM active_cart LIMIT 1)\n  GROUP BY ci.sku\n  ORDER BY last_added DESC NULLS LAST\n  LIMIT 3\n)\nSELECT\n  {{ (($('Start').first().json.tool_input || {}).chat_id || $('Start').first().json.chat_id) }}::bigint AS chat_id,\n  ps.store_id,\n  COALESCE(s.store_name, 'your kirana store') AS store_name,\n  COALESCE((\n    SELECT SUM(ci.quantity)\n    FROM public.cart_items ci\n    WHERE ci.cart_id = (SELECT cart_id FROM active_cart LIMIT 1)\n  ), 0)::int AS cart_item_count,\n  COALESCE((\n    SELECT SUM(ci.quantity * ci.price_at_addition)\n    FROM public.cart_items ci\n    WHERE ci.cart_id = (SELECT cart_id FROM active_cart LIMIT 1)\n  ), 0)::numeric AS cart_total,\n  (SELECT cart_updated_at FROM active_cart LIMIT 1) AS cart_updated_at,\n  COALESCE((\n    SELECT json_agg(sku ORDER BY last_added DESC)\n    FROM recent_skus\n  ), '[]'::json)::text AS recent_skus_json\nFROM preferred_store ps\nLEFT JOIN public.stores s ON s.store_id = ps.store_id;","options":{}},"id":"browse-context","name":"Resolve Browse Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,368],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"operation":"executeQuery","query":"=SELECT\n  i.sku,\n  i.item_name,\n  i.price,\n  COALESCE(i.stock, 0) AS stock,\n  COALESCE(i.unit, 'pcs') AS unit,\n  COALESCE(i.category_tag, 'general') AS category_tag\nFROM public.inventory i\nWHERE i.is_active = true\n  AND COALESCE(i.stock, 0) > 0\n  AND i.store_id = {{ Number($('Resolve Browse Context').first().json.store_id || 1) }}\n  {{ (() => {\n    const ti = $('Start').first().json.tool_input || {};\n    const ep = String(ti.entry_point || 'browse_home').trim();\n    const sku = String(ti.sku || '').trim().replace(/'/g, \"''\");\n    const catKey = String(ti.category_key || '').trim().replace(/'/g, \"''\");\n    const q = String(ti.user_query || '').trim().replace(/'/g, \"''\");\n    if (sku) return `AND i.sku = '${sku}'`;\n    if (ep === 'browse_search' && q) return `AND (i.item_name ILIKE '%${q}%' OR similarity(i.item_name, '${q}') > 0.1)`;\n    if (ep === 'browse_category' && catKey) return `AND COALESCE(i.category_tag, 'general') = '${catKey}'`;\n    return '';\n  })() }}\nORDER BY\n  {{ (() => {\n    const ti = $('Start').first().json.tool_input || {};\n    const ep = String(ti.entry_point || '').trim();\n    const q = String(ti.user_query || '').trim().replace(/'/g, \"''\");\n    if (ep === 'browse_search' && q) return `similarity(i.item_name, '${q}') DESC NULLS LAST,`;\n    return '';\n  })() }}\n  i.item_name ASC\nLIMIT 11\nOFFSET {{ (() => {\n  const ti = $('Start').first().json.tool_input || {};\n  const ep = String(ti.entry_point || '').trim();\n  const page = parseInt(ti.page || 0) || 0;\n  return ['browse_category', 'browse_search'].includes(ep) ? page * 10 : 0;\n})() }}","options":{}},"id":"browse-items","name":"Load Browse Items","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,368],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const startRaw = (() => {\n  try { return $('Start').first().json || {}; } catch { return {}; }\n})();\n\nlet toolInput;\nconst rawTi = startRaw.tool_input;\nif (rawTi && typeof rawTi === 'object') {\n  toolInput = rawTi;\n} else if (rawTi && typeof rawTi === 'string' && rawTi.startsWith('{')) {\n  try { toolInput = JSON.parse(rawTi); } catch { toolInput = startRaw; }\n} else {\n  toolInput = startRaw;\n}\n\nconst context = (() => {\n  try { return $('Resolve Browse Context').first().json || {}; } catch { return {}; }\n})();\nconst allRows = $input.all().map((entry) => entry && entry.json ? entry.json : null).filter(Boolean);\n// 11 items = there are more; show 10 + \"Show more\"\nconst hasMore = allRows.length === 11;\nconst rows = hasMore ? allRows.slice(0, 10) : allRows;\n\nconst chatId = String(context.chat_id || toolInput.chat_id || '');\nconst storeName = String(context.store_name || 'your kirana store');\nconst cartItemCount = Number(context.cart_item_count || 0);\nconst cartTotal = Number(context.cart_total || 0);\nconst entryPoint = String(toolInput.entry_point || toolInput.user_query || 'browse').trim();\nconst categoryKey = String(toolInput.category_key || '').trim();\nconst focusSku = String(toolInput.sku || toolInput.focus_sku || '').trim();\nconst userQuery = String(toolInput.user_query || '').trim();\nconst page = parseInt(toolInput.page || 0) || 0;\n\nlet recentSkus = [];\ntry {\n  const parsed = JSON.parse(context.recent_skus_json || '[]');\n  recentSkus = Array.isArray(parsed) ? parsed.map(String) : [];\n} catch {}\n\nconst shortTitle = (value) => {\n  const text = String(value || '').trim().replace(/\\s+/g, ' ');\n  return text.length > 24 ? text.slice(0, 21) + '...' : text;\n};\n\nconst categoryMeta = {\n  daily_essentials: { title: 'Daily Essentials', description: 'Milk, bread, eggs & staples' },\n  vegetables_fruits: { title: 'Vegetables & Fruits', description: 'Fresh produce' },\n  staples: { title: 'Grains & Oils', description: 'Rice, atta, dal, oil' },\n  snacks_drinks: { title: 'Snacks & Drinks', description: 'Biscuits, chips, beverages' },\n  general: { title: 'More Items', description: 'Other items in the store' },\n};\n\nconst cartRows = [];\nif (cartItemCount > 0) {\n  cartRows.push({ id: 'checkout', title: '✓ Checkout', description: 'Cart total ₹' + cartTotal.toFixed(0) });\n}\ncartRows.push({ id: 'view_cart', title: '🛒 View Cart', description: cartItemCount > 0 ? cartItemCount + ' items in cart' : 'See your current cart' });\n\n// Search prompt: user tapped 🔍 Search — send prompt and set browse_context\nif (entryPoint === 'browse_search_prompt') {\n  return [{ json: {\n    chat_id: chatId, customer_ui_state: 'BROWSE_SEARCH_PROMPT', message_type: 'button',\n    body_text: '🔍 Search items\\n\\nType the name of what you\\'re looking for and send it.\\nExample: milk, rice, onion',\n    buttons: [\n      { id: 'browse', title: '← Browse Categories' },\n      { id: 'view_cart', title: '🛒 Cart' },\n    ],\n    browse_context_to_set: 'awaiting_search',\n  } }];\n}\n\nif (!rows.length && entryPoint === 'browse_search') {\n  return [{ json: {\n    chat_id: chatId, customer_ui_state: 'BROWSE_HOME', message_type: 'button',\n    body_text: 'No results found for \"' + userQuery + '\"\\n\\nTry a different search term or browse by category.',\n    buttons: [{ id: 'browse', title: '← Browse Categories' }, { id: 'view_cart', title: '🛒 Cart' }],\n    browse_context_to_set: null,\n  } }];\n}\n\nif (!rows.length) {\n  return [{ json: {\n    chat_id: chatId, customer_ui_state: 'BROWSE_HOME', message_type: 'button',\n    body_text: 'Shop items\\n\\nWe are still setting up items for ' + storeName + '.',\n    buttons: [{ id: 'view_cart', title: '🛒 Cart' }, { id: 'get_promos', title: 'Offers' }],\n    browse_context_to_set: null,\n  } }];\n}\n\n// Search results\nif (entryPoint === 'browse_search') {\n  const searchRows = rows.map((row) => ({\n    id: 'browse_item__' + String(row.sku || ''),\n    title: shortTitle(row.item_name),\n    description: '₹' + Number(row.price || 0).toFixed(0) + ' per ' + (row.unit || 'pcs'),\n  }));\n  if (hasMore) {\n    searchRows.push({ id: 'browse_search_more__' + (page + 1), title: '→ Show more results', description: 'Load next page' });\n  }\n  return [{ json: {\n    chat_id: chatId, customer_ui_state: 'BROWSE_SEARCH', message_type: 'list',\n    body_text: 'Search results for \"' + userQuery + '\"' + (page > 0 ? ' (page ' + (page + 1) + ')' : '') + '\\n\\nTap an item to choose quantity.',\n    list_sections: [\n      { title: 'Results', rows: searchRows },\n      { title: 'Actions', rows: [{ id: 'browse', title: '← Browse Categories', description: 'Back to categories' }, ...cartRows] },\n    ],\n    browse_context_to_set: null,\n  } }];\n}\n\n// Custom qty prompt\nif (entryPoint === 'browse_qty_custom' && focusSku) {\n  const row = rows.find((r) => String(r.sku || '') === focusSku) || rows[0];\n  if (row) {\n    return [{ json: {\n      chat_id: chatId, customer_ui_state: 'ITEM_QUANTITY_PICKER', message_type: 'button',\n      body_text: 'Custom quantity\\n\\nSend a message like \"6 ' + row.item_name + '\" to add it to your cart.\\n\\n' + row.item_name + ' • ₹' + Number(row.price || 0).toFixed(0) + ' per ' + (row.unit || 'pcs'),\n      buttons: [{ id: 'browse', title: '← Browse' }, { id: 'view_cart', title: '🛒 Cart' }],\n      browse_context_to_set: 'awaiting_qty__' + focusSku,\n    } }];\n  }\n}\n\n// Item quantity picker\nif (focusSku) {\n  const row = rows.find((r) => String(r.sku || '') === focusSku) || rows[0];\n  if (row) {\n    const catKey = String(row.category_tag || 'general');\n    return [{ json: {\n      chat_id: chatId, customer_ui_state: 'ITEM_QUANTITY_PICKER', message_type: 'list',\n      body_text: 'Choose quantity\\n\\n' + row.item_name + '\\nPrice: ₹' + Number(row.price || 0).toFixed(0) + ' per ' + (row.unit || 'pcs') + '\\nIn stock: ' + Number(row.stock || 0),\n      list_sections: [\n        {\n          title: 'Pick quantity',\n          rows: [1, 2, 3, 4, 5].map((qty) => ({\n            id: 'set_qty__' + row.sku + '__' + qty,\n            title: 'Add ' + qty + ' ' + (row.unit || 'pcs'),\n            description: '₹' + (Number(row.price || 0) * qty).toFixed(0) + ' total',\n          })).concat([{ id: 'set_qty_custom__' + row.sku, title: '✏️ Custom quantity', description: 'Type a custom amount' }]),\n        },\n        {\n          title: 'More',\n          rows: [\n            { id: 'browse_category__' + catKey, title: '← Back to category', description: (categoryMeta[catKey] || categoryMeta.general).title },\n            ...cartRows,\n          ],\n        },\n      ],\n      browse_context_to_set: null,\n    } }];\n  }\n}\n\n// Category list (paginated)\nif (entryPoint === 'browse_category' && categoryKey) {\n  const meta = categoryMeta[categoryKey] || { title: 'Items', description: 'Pick an item' };\n  const itemRows = rows.map((row) => ({\n    id: 'browse_item__' + row.sku,\n    title: shortTitle(row.item_name),\n    description: '₹' + Number(row.price || 0).toFixed(0) + ' per ' + (row.unit || 'pcs'),\n  }));\n  if (hasMore) {\n    itemRows.push({ id: 'browse_more__' + categoryKey + '__' + (page + 1), title: '→ Show more', description: 'Next 10 items' });\n  }\n  return [{ json: {\n    chat_id: chatId, customer_ui_state: 'BROWSE_CATEGORY', message_type: 'list',\n    body_text: meta.title + (page > 0 ? ' (page ' + (page + 1) + ')' : '') + '\\n\\nTap an item to choose quantity.',\n    list_sections: [\n      { title: meta.title, rows: itemRows },\n      { title: 'More', rows: [{ id: 'browse', title: '← All Categories', description: 'Back to home' }, ...cartRows] },\n    ],\n    browse_context_to_set: null,\n  } }];\n}\n\n// Browse home - group by category_tag from DB\nconst rowsByCategory = new Map();\nfor (const row of rows) {\n  if (!row || !row.sku) continue;\n  const key = String(row.category_tag || 'general');\n  if (!rowsByCategory.has(key)) rowsByCategory.set(key, []);\n  rowsByCategory.get(key).push(row);\n}\n\nconst homeRows = [];\nfor (const [key, catRows] of rowsByCategory) {\n  const meta = categoryMeta[key] || { title: key, description: catRows.length + ' items' };\n  homeRows.push({\n    id: 'browse_category__' + key,\n    title: meta.title,\n    description: meta.description + ' • ' + catRows.length + ' items',\n  });\n}\nhomeRows.push({ id: 'browse_search', title: '🔍 Search items', description: 'Find any item by name' });\n\nconst listSections = [];\nif (recentSkus.length > 0) {\n  const recentRows = recentSkus\n    .map((sku) => rows.find((r) => String(r.sku || '') === sku))\n    .filter(Boolean)\n    .map((row) => ({ id: 'browse_item__' + row.sku, title: shortTitle(row.item_name), description: '₹' + Number(row.price || 0).toFixed(0) + ' • Added recently' }));\n  if (recentRows.length > 0) listSections.push({ title: 'Recently added', rows: recentRows });\n}\nlistSections.push({ title: 'Browse categories', rows: homeRows });\nlistSections.push({ title: 'Cart', rows: cartRows });\n\nreturn [{ json: {\n  chat_id: chatId, customer_ui_state: 'BROWSE_HOME', message_type: 'list',\n  body_text: 'Shop at ' + storeName + '\\n\\nWhat would you like today?' + (cartItemCount > 0 ? '\\nCart: ' + cartItemCount + ' items • ₹' + cartTotal.toFixed(0) : ''),\n  list_sections: listSections,\n  browse_context_to_set: null,\n} }];"},"id":"browse-format","name":"Format Browse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,368]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO customer_preferences (chat_id, browse_context, updated_at)\nVALUES ({{ $json.chat_id }}::bigint, {{ $json.browse_context_to_set ? `'${String($json.browse_context_to_set).replace(/'/g, \"''\")}'` : 'NULL' }}, NOW())\nON CONFLICT (chat_id) DO UPDATE SET browse_context = EXCLUDED.browse_context, updated_at = NOW();\nSELECT 1 AS done","options":{}},"id":"browse-set-context","name":"Set Browse Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1200,368],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"const payload = $('Format Browse Response').first().json;\nconst { browse_context_to_set, ...clean } = payload;\nreturn [{ json: clean }];"},"id":"browse-return","name":"Return","type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,368]}],"connections":{"Start":{"main":[[{"node":"Resolve Browse Context","type":"main","index":0}]]},"Resolve Browse Context":{"main":[[{"node":"Load Browse Items","type":"main","index":0}]]},"Load Browse Items":{"main":[[{"node":"Format Browse Response","type":"main","index":0}]]},"Format Browse Response":{"main":[[{"node":"Set Browse Context","type":"main","index":0}]]},"Set Browse Context":{"main":[[{"node":"Return","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-14T14:41:45.379Z","id":2236,"workflowId":"Xu9ngaO9mBg1sEIC","versionId":"0462be0b-9e80-44df-be89-7ce2f7cf5cbd","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-14T14:41:45.466Z","id":2237,"workflowId":"Xu9ngaO9mBg1sEIC","versionId":"0462be0b-9e80-44df-be89-7ce2f7cf5cbd","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}