workflows/latest/y58Wx8NbvBONLuZ2__Owner_Bulk_Import_Reports.json
{"updatedAt":"2026-03-11T11:37:53.325Z","createdAt":"2026-03-11T03:41:30.410Z","id":"y58Wx8NbvBONLuZ2","name":"[Owner] Bulk Import Reports","description":null,"active":true,"isArchived":false,"nodes":[{"id":"bulk-report-webhook","name":"Report Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,320],"webhookId":"owner-import-report-bulk-v1","parameters":{"httpMethod":"GET","path":"owner-import-report-bulk-v1","responseMode":"responseNode"}},{"id":"bulk-report-normalize","name":"Normalize Report Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $json || {};\nconst query = input.query || input;\nreturn [{\n  json: {\n    job_id: String(query.job || '').trim(),\n    token: String(query.token || '').trim(),\n    kind: String(query.kind || 'summary').trim().toLowerCase(),\n  },\n}];"}},{"id":"bulk-report-build-sql","name":"Build Report SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Normalize Report Request').first().json || {};\nconst esc = (value) => String(value === undefined || value === null ? '' : value).replace(/'/g, \"''\");\nconst kinds = new Set(['summary', 'valid', 'ambiguous', 'invalid', 'applied']);\nconst kind = kinds.has(d.kind) ? d.kind : 'summary';\nlet sql = '';\nif (!d.job_id || !d.token) {\n  sql = \"SELECT 'error' AS section, 'missing report token or job id' AS message;\";\n} else if (kind === 'summary') {\n  sql = \"SELECT 'summary' AS section, job_id, status, total_rows, valid_rows, invalid_rows, ambiguous_rows, matched_rows, new_rows, applied_rows, failed_rows, file_name, source_type, source_ref FROM public.owner_import_jobs WHERE job_id = '\" + esc(d.job_id) + \"' AND report_token = '\" + esc(d.token) + \"' LIMIT 1;\";\n} else {\n  sql = \"WITH job AS (SELECT job_id FROM public.owner_import_jobs WHERE job_id = '\" + esc(d.job_id) + \"' AND report_token = '\" + esc(d.token) + \"' LIMIT 1) SELECT '\" + kind + \"' AS section, r.row_no, r.chunk_no, r.match_status, r.apply_status, COALESCE(r.target_sku, '') AS target_sku, COALESCE(r.target_item_name, '') AS target_item_name, COALESCE(r.error_reason, '') AS error_reason, COALESCE(r.review_reason, '') AS review_reason, COALESCE(r.normalized_payload_json->>'item_name', '') AS item_name, COALESCE(r.normalized_payload_json->>'price', '') AS price, COALESCE(r.normalized_payload_json->>'stock', '') AS stock FROM public.owner_import_job_rows r WHERE r.job_id = (SELECT job_id FROM job) AND \" + (kind === 'valid' ? \"r.match_status IN ('new','matched')\" : kind === 'ambiguous' ? \"r.match_status = 'ambiguous'\" : kind === 'invalid' ? \"r.match_status = 'invalid'\" : \"r.apply_status = 'applied'\") + \" ORDER BY r.row_no ASC;\";\n}\nreturn [{ json: { ...d, sql } }];"}},{"id":"bulk-report-run-sql","name":"Run Report SQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[900,320],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"bulk-report-binary","name":"Build Report Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Normalize Report Request').first().json || {};\nconst rows = $input.all().map((item) => item.json || {});\nconst kind = String(d.kind || 'summary');\nlet csv = '';\nlet fileName = 'owner-import-' + kind + '.csv';\nlet mimeType = 'text/csv';\nif (!rows.length) {\n  csv = 'message\\nreport not found\\n';\n} else if (rows[0].section === 'error') {\n  csv = 'message\\n' + String(rows[0].message || 'report not found').replace(/\\n/g, ' ') + '\\n';\n  fileName = 'owner-import-error.txt';\n  mimeType = 'text/plain';\n} else if (kind === 'summary') {\n  const row = rows[0];\n  csv = [\n    'job_id,status,file_name,source_type,source_ref,total_rows,valid_rows,invalid_rows,ambiguous_rows,matched_rows,new_rows,applied_rows,failed_rows',\n    [row.job_id, row.status, row.file_name, row.source_type, row.source_ref, row.total_rows, row.valid_rows, row.invalid_rows, row.ambiguous_rows, row.matched_rows, row.new_rows, row.applied_rows, row.failed_rows]\n      .map((value) => '\"' + String(value === undefined || value === null ? '' : value).replace(/\"/g, '\"\"') + '\"')\n      .join(','),\n  ].join('\\n') + '\\n';\n  fileName = 'owner-import-summary-' + String(d.job_id || 'job') + '.csv';\n} else {\n  const headers = ['row_no', 'chunk_no', 'match_status', 'apply_status', 'item_name', 'price', 'stock', 'target_sku', 'target_item_name', 'review_reason', 'error_reason'];\n  csv = [headers.join(',')];\n  for (const row of rows) {\n    csv.push(headers.map((header) => '\"' + String(row[header] === undefined || row[header] === null ? '' : row[header]).replace(/\"/g, '\"\"') + '\"').join(','));\n  }\n  csv = csv.join('\\n') + '\\n';\n  fileName = 'owner-import-' + kind + '-' + String(d.job_id || 'job') + '.csv';\n}\nreturn [{\n  json: {\n    ok: true,\n    response_body: csv,\n    file_name: fileName,\n    content_type: mimeType + '; charset=utf-8',\n  },\n}];"}},{"id":"bulk-report-respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1340,320],"parameters":{"respondWith":"text","responseBody":"={{ $json.response_body }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"={{ $json.content_type || \"text/csv; charset=utf-8\" }}"},{"name":"Content-Disposition","value":"={{ 'attachment; filename=\"' + ($json.file_name || \"owner-import-report.csv\") + '\"' }}"}]}}}}],"connections":{"Report Webhook":{"main":[[{"node":"Normalize Report Request","type":"main","index":0}]]},"Normalize Report Request":{"main":[[{"node":"Build Report SQL","type":"main","index":0}]]},"Build Report SQL":{"main":[[{"node":"Run Report SQL","type":"main","index":0}]]},"Run Report SQL":{"main":[[{"node":"Build Report Binary","type":"main","index":0}]]},"Build Report Binary":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","activeVersionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","versionCounter":50,"triggerCount":1,"shared":[{"updatedAt":"2026-03-11T03:41:30.410Z","createdAt":"2026-03-11T03:41:30.410Z","role":"workflow:owner","workflowId":"y58Wx8NbvBONLuZ2","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-11T04:02:33.179Z","createdAt":"2026-03-11T04:02:33.179Z","versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","workflowId":"y58Wx8NbvBONLuZ2","nodes":[{"id":"bulk-report-webhook","name":"Report Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,320],"webhookId":"owner-import-report-bulk-v1","parameters":{"httpMethod":"GET","path":"owner-import-report-bulk-v1","responseMode":"responseNode"}},{"id":"bulk-report-normalize","name":"Normalize Report Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $json || {};\nconst query = input.query || input;\nreturn [{\n  json: {\n    job_id: String(query.job || '').trim(),\n    token: String(query.token || '').trim(),\n    kind: String(query.kind || 'summary').trim().toLowerCase(),\n  },\n}];"}},{"id":"bulk-report-build-sql","name":"Build Report SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Normalize Report Request').first().json || {};\nconst esc = (value) => String(value === undefined || value === null ? '' : value).replace(/'/g, \"''\");\nconst kinds = new Set(['summary', 'valid', 'ambiguous', 'invalid', 'applied']);\nconst kind = kinds.has(d.kind) ? d.kind : 'summary';\nlet sql = '';\nif (!d.job_id || !d.token) {\n  sql = \"SELECT 'error' AS section, 'missing report token or job id' AS message;\";\n} else if (kind === 'summary') {\n  sql = \"SELECT 'summary' AS section, job_id, status, total_rows, valid_rows, invalid_rows, ambiguous_rows, matched_rows, new_rows, applied_rows, failed_rows, file_name, source_type, source_ref FROM public.owner_import_jobs WHERE job_id = '\" + esc(d.job_id) + \"' AND report_token = '\" + esc(d.token) + \"' LIMIT 1;\";\n} else {\n  sql = \"WITH job AS (SELECT job_id FROM public.owner_import_jobs WHERE job_id = '\" + esc(d.job_id) + \"' AND report_token = '\" + esc(d.token) + \"' LIMIT 1) SELECT '\" + kind + \"' AS section, r.row_no, r.chunk_no, r.match_status, r.apply_status, COALESCE(r.target_sku, '') AS target_sku, COALESCE(r.target_item_name, '') AS target_item_name, COALESCE(r.error_reason, '') AS error_reason, COALESCE(r.review_reason, '') AS review_reason, COALESCE(r.normalized_payload_json->>'item_name', '') AS item_name, COALESCE(r.normalized_payload_json->>'price', '') AS price, COALESCE(r.normalized_payload_json->>'stock', '') AS stock FROM public.owner_import_job_rows r WHERE r.job_id = (SELECT job_id FROM job) AND \" + (kind === 'valid' ? \"r.match_status IN ('new','matched')\" : kind === 'ambiguous' ? \"r.match_status = 'ambiguous'\" : kind === 'invalid' ? \"r.match_status = 'invalid'\" : \"r.apply_status = 'applied'\") + \" ORDER BY r.row_no ASC;\";\n}\nreturn [{ json: { ...d, sql } }];"}},{"id":"bulk-report-run-sql","name":"Run Report SQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[900,320],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"bulk-report-binary","name":"Build Report Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Normalize Report Request').first().json || {};\nconst rows = $input.all().map((item) => item.json || {});\nconst kind = String(d.kind || 'summary');\nlet csv = '';\nlet fileName = 'owner-import-' + kind + '.csv';\nlet mimeType = 'text/csv';\nif (!rows.length) {\n  csv = 'message\\nreport not found\\n';\n} else if (rows[0].section === 'error') {\n  csv = 'message\\n' + String(rows[0].message || 'report not found').replace(/\\n/g, ' ') + '\\n';\n  fileName = 'owner-import-error.txt';\n  mimeType = 'text/plain';\n} else if (kind === 'summary') {\n  const row = rows[0];\n  csv = [\n    'job_id,status,file_name,source_type,source_ref,total_rows,valid_rows,invalid_rows,ambiguous_rows,matched_rows,new_rows,applied_rows,failed_rows',\n    [row.job_id, row.status, row.file_name, row.source_type, row.source_ref, row.total_rows, row.valid_rows, row.invalid_rows, row.ambiguous_rows, row.matched_rows, row.new_rows, row.applied_rows, row.failed_rows]\n      .map((value) => '\"' + String(value === undefined || value === null ? '' : value).replace(/\"/g, '\"\"') + '\"')\n      .join(','),\n  ].join('\\n') + '\\n';\n  fileName = 'owner-import-summary-' + String(d.job_id || 'job') + '.csv';\n} else {\n  const headers = ['row_no', 'chunk_no', 'match_status', 'apply_status', 'item_name', 'price', 'stock', 'target_sku', 'target_item_name', 'review_reason', 'error_reason'];\n  csv = [headers.join(',')];\n  for (const row of rows) {\n    csv.push(headers.map((header) => '\"' + String(row[header] === undefined || row[header] === null ? '' : row[header]).replace(/\"/g, '\"\"') + '\"').join(','));\n  }\n  csv = csv.join('\\n') + '\\n';\n  fileName = 'owner-import-' + kind + '-' + String(d.job_id || 'job') + '.csv';\n}\nreturn [{\n  json: {\n    ok: true,\n    response_body: csv,\n    file_name: fileName,\n    content_type: mimeType + '; charset=utf-8',\n  },\n}];"}},{"id":"bulk-report-respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1340,320],"parameters":{"respondWith":"text","responseBody":"={{ $json.response_body }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"={{ $json.content_type || \"text/csv; charset=utf-8\" }}"},{"name":"Content-Disposition","value":"={{ 'attachment; filename=\"' + ($json.file_name || \"owner-import-report.csv\") + '\"' }}"}]}}}}],"connections":{"Report Webhook":{"main":[[{"node":"Normalize Report Request","type":"main","index":0}]]},"Normalize Report Request":{"main":[[{"node":"Build Report SQL","type":"main","index":0}]]},"Build Report SQL":{"main":[[{"node":"Run Report SQL","type":"main","index":0}]]},"Run Report SQL":{"main":[[{"node":"Build Report Binary","type":"main","index":0}]]},"Build Report Binary":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-11T04:02:33.287Z","id":1207,"workflowId":"y58Wx8NbvBONLuZ2","versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T04:02:33.347Z","id":1208,"workflowId":"y58Wx8NbvBONLuZ2","versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T07:34:48.702Z","id":1385,"workflowId":"y58Wx8NbvBONLuZ2","versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T07:34:48.791Z","id":1386,"workflowId":"y58Wx8NbvBONLuZ2","versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T07:34:51.111Z","id":1393,"workflowId":"y58Wx8NbvBONLuZ2","versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T07:34:51.176Z","id":1394,"workflowId":"y58Wx8NbvBONLuZ2","versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:38:01.559Z","id":1581,"workflowId":"y58Wx8NbvBONLuZ2","versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:38:01.632Z","id":1582,"workflowId":"y58Wx8NbvBONLuZ2","versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:35:51.589Z","id":1541,"workflowId":"y58Wx8NbvBONLuZ2","versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:35:51.652Z","id":1542,"workflowId":"y58Wx8NbvBONLuZ2","versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:35:54.034Z","id":1549,"workflowId":"y58Wx8NbvBONLuZ2","versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:35:54.133Z","id":1550,"workflowId":"y58Wx8NbvBONLuZ2","versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:37:53.447Z","id":1573,"workflowId":"y58Wx8NbvBONLuZ2","versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:37:53.527Z","id":1574,"workflowId":"y58Wx8NbvBONLuZ2","versionId":"d651079b-b230-40a7-81ca-45cb8ab1c5c6","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}