workflows/latest/yDfWqigCvgCGz75e__Owner_Bulk_Import_Worker.json
{"updatedAt":"2026-03-11T11:37:47.837Z","createdAt":"2026-03-11T03:41:29.217Z","id":"yDfWqigCvgCGz75e","name":"[Owner] Bulk Import Worker","description":null,"active":true,"isArchived":false,"nodes":[{"id":"bulk-worker-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,360],"parameters":{"inputSource":"passthrough"}},{"id":"bulk-worker-normalize","name":"Normalize Worker Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,360],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst raw = ($json.tool_input && typeof $json.tool_input === 'object') ? $json.tool_input : $json;\nconst message = String(raw.message || raw.media_caption || '').trim();\nconst buttonId = String(raw.button_id || '').trim();\nconst sourceType = String(raw.source_type || (buttonId ? 'button' : 'text')).trim() || 'text';\nreturn [{\n  json: {\n    ...raw,\n    chat_id: String(raw.chat_id || ''),\n    message,\n    button_id: buttonId,\n    source_type: sourceType,\n    media_id: String(raw.media_id || ''),\n    media_mime_type: String(raw.media_mime_type || ''),\n    media_filename: String(raw.media_filename || ''),\n    media_caption: String(raw.media_caption || ''),\n    store_id: raw.store_id || null,\n    test_file_base64: String(raw.test_file_base64 || ''),\n    test_file_name: String(raw.test_file_name || raw.media_filename || ''),\n    test_file_mime_type: String(raw.test_file_mime_type || raw.media_mime_type || ''),\n    test_sheet_rows: Array.isArray(raw.test_sheet_rows) ? raw.test_sheet_rows : [],\n    test_mode: raw.test_mode === true,\n    bulk_mode: String(raw.bulk_mode || ''),\n    export_url: String(raw.export_url || ''),\n    source_ref: String(raw.source_ref || ''),\n    job_id: String(raw.job_id || ''),\n  },\n  binary: input?.binary || {},\n}];"}},{"id":"bulk-worker-schema","name":"Inspect Inventory Schema","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,240],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"SELECT\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'store_id') AS has_store_id,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'sku') AS has_sku,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'unit') AS has_unit,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'category') AS has_category,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'brand') AS has_brand,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'is_active') AS has_is_active,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'created_at') AS has_created_at,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'updated_at') AS has_updated_at;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"bulk-worker-load-items","name":"Load Inventory Snapshot","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,440],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const storeId = Number($('Normalize Worker Input').first().json.store_id || 0); return `SELECT item_name, price, stock, COALESCE(sku, '') AS sku, COALESCE(unit, '') AS unit, COALESCE(category, '') AS category, COALESCE(brand, '') AS brand, COALESCE(is_active, true) AS is_active FROM public.inventory ${storeId > 0 ? `WHERE store_id = ${storeId}` : ''} ORDER BY item_name ASC LIMIT 10000;`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"bulk-worker-source","name":"Determine Worker Source","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,360],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst d = $('Normalize Worker Input').first().json;\nconst binary = input?.binary || {};\nconst fileName = String(d.media_filename || d.test_file_name || '').trim();\nconst mime = String(d.media_mime_type || d.test_file_mime_type || '').trim().toLowerCase();\nconst ext = fileName.includes('.') ? fileName.split('.').pop().toLowerCase() : '';\nconst hasInlineBinary = !!String(d.test_file_base64 || '').trim();\nconst hasBinary = !!binary.data || hasInlineBinary;\nconst hasSheetRows = Array.isArray(d.test_sheet_rows) && d.test_sheet_rows.length > 0;\n\nconst isSpreadsheet = /sheet|excel|spreadsheet|csv/.test(mime) || ['xls', 'xlsx', 'csv'].includes(ext);\nconst isPdf = mime === 'application/pdf' || ext === 'pdf';\nconst isImage = mime.startsWith('image/') || ['png', 'jpg', 'jpeg', 'webp'].includes(ext);\n\nlet route = 'error';\nlet parse_mode = 'unsupported';\nlet error_message = '';\n\nif (!d.chat_id) {\n  error_message = 'Missing owner chat ID for bulk import.';\n} else if (hasSheetRows || d.import_kind === 'google_sheet' || /docs\\.google\\.com\\/spreadsheets/i.test(String(d.source_ref || ''))) {\n  route = hasSheetRows ? 'test_sheet_rows' : 'download_sheet';\n  parse_mode = 'sheet';\n} else if (!hasBinary && !d.media_id) {\n  error_message = 'I could not find a file or sheet link for bulk import.';\n} else if (isSpreadsheet) {\n  route = hasBinary ? 'direct_binary' : 'download_binary';\n  parse_mode = 'sheet';\n} else if (isPdf) {\n  route = hasBinary ? 'direct_binary' : 'download_binary';\n  parse_mode = 'document';\n} else if (isImage) {\n  route = hasBinary ? 'direct_binary' : 'download_binary';\n  parse_mode = 'image';\n} else {\n  error_message = 'Unsupported bulk import type. Please use XLS, XLSX, CSV, a public Google Sheets link, or a medium JPG/PNG/PDF.';\n}\n\nreturn [{\n  json: {\n    ...d,\n    route,\n    parse_mode,\n    media_filename: fileName || d.media_filename || d.source_ref || 'bulk-import',\n    media_mime_type: mime || d.media_mime_type || '',\n    error_message,\n  },\n  binary,\n}];"}},{"id":"bulk-worker-route","name":"Worker Route","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1120,360],"parameters":{"mode":"expression","numberOutputs":5,"output":"={{ $json.route === 'test_sheet_rows' ? 1 : $json.route === 'direct_binary' ? 2 : $json.route === 'download_binary' ? 3 : $json.route === 'download_sheet' ? 4 : 0 }}"}},{"id":"bulk-worker-error","name":"Format Worker Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,120],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Determine Worker Source').first().json || {}; return [{ json: { chat_id: d.chat_id || '', message_type: 'text', body_text: d.error_message || 'I could not prepare that bulk import.', test_mode: d.test_mode === true } }];"}},{"id":"bulk-worker-test-rows","name":"Emit Test Sheet Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,240],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Determine Worker Source').first().json || {}; return (Array.isArray(d.test_sheet_rows) ? d.test_sheet_rows : []).map((row) => ({ json: row }));"}},{"id":"bulk-worker-pass-binary","name":"Pass Existing Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,360],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first(); const d = $('Determine Worker Source').first().json || {}; if (String(d.test_file_base64 || '').trim()) { return [{ json: d, binary: { data: { data: String(d.test_file_base64 || ''), mimeType: String(d.test_file_mime_type || d.media_mime_type || 'application/octet-stream'), fileName: String(d.test_file_name || d.media_filename || 'owner_upload') } } }]; } return [{ json: d, binary: input?.binary || {} }];"}},{"id":"bulk-worker-meta","name":"Get WhatsApp Media Metadata","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1340,480],"parameters":{"method":"GET","url":"={{ 'https://graph.facebook.com/v19.0/' + $('Determine Worker Source').first().json.media_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"credentials":{"whatsAppApi":{"id":"GFk530CPSyrOLT7F","name":"WhatsApp account"}}},{"id":"bulk-worker-download","name":"Download WhatsApp Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1560,480],"parameters":{"method":"GET","url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"data"}}}},"credentials":{"whatsAppApi":{"id":"GFk530CPSyrOLT7F","name":"WhatsApp account"}}},{"id":"bulk-worker-attach-download","name":"Attach Downloaded Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,480],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst base = $('Determine Worker Source').first().json || {};\nconst meta = $('Get WhatsApp Media Metadata').first().json || {};\nreturn [{\n  json: {\n    ...base,\n    media_mime_type: String(meta.mime_type || base.media_mime_type || ''),\n    media_filename: String(base.media_filename || meta.file_name || base.media_id || 'owner_upload'),\n    media_size: meta.file_size || null,\n  },\n  binary: input?.binary || {},\n}];"}},{"id":"bulk-worker-sheet-download","name":"Download Google Sheet","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1560,640],"parameters":{"method":"GET","url":"={{ $('Determine Worker Source').first().json.export_url }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"data"}}}}},{"id":"bulk-worker-parse-kind","name":"Parse Kind","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2000,360],"parameters":{"mode":"expression","numberOutputs":4,"output":"={{ $json.parse_mode === 'sheet' ? 0 : $json.parse_mode === 'document' ? 1 : $json.parse_mode === 'image' ? 2 : 3 }}"}},{"id":"bulk-worker-sheet-parse","name":"Parse Spreadsheet","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[2220,200],"parameters":{"operation":"fromFile","binaryPropertyName":"data","fileFormat":"autodetect","options":{"headerRow":true,"includeEmptyCells":false}}},{"id":"bulk-worker-doc-ocr","name":"Claude Analyze Document","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[2220,360],"retryOnFail":true,"maxTries":4,"waitBetweenTries":5000,"onError":"continueRegularOutput","parameters":{"resource":"document","operation":"analyze","modelId":{"mode":"list","value":"claude-3-haiku-20240307"},"text":"Extract kirana inventory rows from this stock sheet. Return strict JSON only in this shape: {\"document_confidence\":0.0,\"quality_notes\":[],\"rows\":[{\"item_name\":\"\",\"sku\":\"\",\"price\":0,\"stock\":0,\"unit\":\"\",\"category\":\"\",\"brand\":\"\",\"raw_line\":\"\",\"row_confidence\":0.0,\"needs_review\":false,\"review_reason\":\"\"}],\"invalid_rows\":[{\"raw_line\":\"\",\"reason\":\"\",\"row_confidence\":0.0}]}. Use confidence between 0 and 1. If any field is unclear, do not guess and do not output 0 as a placeholder. Put uncertain rows into invalid_rows. Never include markdown.","inputType":"binary","binaryPropertyName":"data","simplify":true,"options":{"maxTokens":1400}},"credentials":{"anthropicApi":{"id":"yiUg577mPI3s1EDq","name":"claude_api"}}},{"id":"bulk-worker-image-ocr","name":"Claude Analyze Image","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[2220,520],"retryOnFail":true,"maxTries":4,"waitBetweenTries":5000,"onError":"continueRegularOutput","parameters":{"resource":"image","operation":"analyze","modelId":{"mode":"list","value":"claude-3-haiku-20240307"},"text":"Read this kirana stock image and return strict JSON only in this shape: {\"document_confidence\":0.0,\"quality_notes\":[],\"rows\":[{\"item_name\":\"\",\"sku\":\"\",\"price\":0,\"stock\":0,\"unit\":\"\",\"category\":\"\",\"brand\":\"\",\"raw_line\":\"\",\"row_confidence\":0.0,\"needs_review\":false,\"review_reason\":\"\"}],\"invalid_rows\":[{\"raw_line\":\"\",\"reason\":\"\",\"row_confidence\":0.0}]}. Use confidence between 0 and 1. Use only visible text. If price or stock is unclear, do not guess and do not output 0 as a placeholder; put the row into invalid_rows instead. Never include markdown.","inputType":"binary","binaryPropertyName":"data","simplify":true,"options":{"maxTokens":1400}},"credentials":{"anthropicApi":{"id":"yiUg577mPI3s1EDq","name":"claude_api"}}},{"id":"bulk-worker-parse-claude","name":"Parse Claude Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const raw = $input.first().json || {};\nconst pickText = (value) => {\n  if (typeof value === 'string' && value.trim()) return value.trim();\n  if (Array.isArray(value)) {\n    for (const entry of value) {\n      const nested = pickText(entry);\n      if (nested) return nested;\n    }\n  }\n  if (value && typeof value === 'object') {\n    for (const key of ['output', 'text', 'mergedResponse', 'completion', 'content', 'response', 'result']) {\n      if (typeof value[key] === 'string' && value[key].trim()) return value[key].trim();\n    }\n    if (Array.isArray(value.content)) {\n      for (const part of value.content) {\n        if (typeof part?.text === 'string' && part.text.trim()) return part.text.trim();\n      }\n    }\n  }\n  return '';\n};\n\nconst extractJson = (value) => {\n  const text = pickText(value);\n  if (!text) return null;\n  try { return JSON.parse(text); } catch {}\n  const block = text.match(/\\{[\\s\\S]*\\}/);\n  if (block) {\n    try { return JSON.parse(block[0]); } catch {}\n  }\n  return null;\n};\n\nconst parsed = extractJson(raw) || {};\nconst documentConfidenceRaw = parsed.document_confidence ?? parsed.confidence ?? parsed.ocr_confidence ?? null;\nconst documentConfidence = documentConfidenceRaw === null || documentConfidenceRaw === undefined || documentConfidenceRaw === ''\n  ? null\n  : (Number(documentConfidenceRaw) > 1 && Number(documentConfidenceRaw) <= 100 ? Number(documentConfidenceRaw) / 100 : Number(documentConfidenceRaw));\nconst rows = Array.isArray(parsed.rows) ? parsed.rows : [];\nconst invalid = Array.isArray(parsed.invalid_rows) ? parsed.invalid_rows : [];\nconst qualityNotes = Array.isArray(parsed.quality_notes) ? parsed.quality_notes : [];\nconst items = [];\nfor (const row of rows) {\n  items.push({\n    json: {\n      item_name: row.item_name || row.name || row.product || '',\n      sku: row.sku || row.code || '',\n      price: row.price,\n      stock: row.stock,\n      unit: row.unit || '',\n      category: row.category || '',\n      brand: row.brand || '',\n      raw_line: row.raw_line || '',\n      row_confidence: row.row_confidence ?? row.confidence ?? row.ocr_confidence ?? null,\n      review_reason: row.review_reason || row.reason || '',\n      needs_review: row.needs_review === true,\n      document_confidence: Number.isFinite(documentConfidence) ? documentConfidence : null,\n      quality_notes: qualityNotes,\n    },\n  });\n}\nfor (const row of invalid) {\n  items.push({\n    json: {\n      item_name: row.item_name || row.name || '',\n      raw_line: row.raw_line || row.source || '',\n      reason: row.reason || 'invalid row',\n      invalid: true,\n      row_confidence: row.row_confidence ?? row.confidence ?? row.ocr_confidence ?? null,\n      document_confidence: Number.isFinite(documentConfidence) ? documentConfidence : null,\n      quality_notes: qualityNotes,\n    },\n  });\n}\nif (!items.length) {\n  items.push({ json: { invalid: true, raw_line: '', reason: 'no rows parsed', document_confidence: Number.isFinite(documentConfidence) ? documentConfidence : null, quality_notes: qualityNotes } });\n}\nreturn items;"}},{"id":"bulk-worker-stage","name":"Prepare Bulk Stage","type":"n8n-nodes-base.code","typeVersion":2,"position":[2660,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const meta = $('Determine Worker Source').first().json || {};\nconst schema = $('Inspect Inventory Schema').first().json || {};\nconst inventory = $('Load Inventory Snapshot').all().map((item) => item.json || {}).filter((row) => row && row.item_name);\nconst inputRows = $input.all().map((item) => item.json || {});\n\nconst normalizeName = (value) => String(value || '').toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim().replace(/\\s+/g, ' ');\nconst normalizeConfidence = (value) => {\n  if (value === null || value === undefined || value === '') return null;\n  const num = Number(value);\n  if (!Number.isFinite(num)) return null;\n  if (num > 1 && num <= 100) return num / 100;\n  if (num >= 0 && num <= 1) return num;\n  return null;\n};\nconst scoreCandidate = (target, candidate) => {\n  const a = normalizeName(target);\n  const b = normalizeName(candidate);\n  if (!a || !b) return 0;\n  if (a === b) return 1;\n  if (b.startsWith(a) || a.startsWith(b)) return 0.9;\n  if (b.includes(a) || a.includes(b)) return 0.82;\n  const left = new Set(a.split(' ').filter(Boolean));\n  const right = new Set(b.split(' ').filter(Boolean));\n  const common = [...left].filter((word) => right.has(word)).length;\n  const union = new Set([...left, ...right]).size || 1;\n  return common / union;\n};\nconst buildSku = (name, rows = [], reserved = new Set()) => {\n  const used = new Set(rows.map((row) => String(row?.sku || '').trim()).filter(Boolean).map((sku) => sku.toUpperCase()));\n  for (const value of reserved) used.add(String(value || '').trim().toUpperCase());\n  let baseSku = normalizeName(name).toUpperCase().replace(/[^A-Z0-9]+/g, '_').replace(/^_+|_+$/g, '').slice(0, 18);\n  if (!baseSku) baseSku = 'ITEM';\n  let sku = baseSku;\n  let suffix = 2;\n  while (used.has(sku)) {\n    sku = baseSku.slice(0, 14) + '_' + suffix;\n    suffix += 1;\n  }\n  reserved.add(sku);\n  return sku;\n};\nconst mapSheetRecord = (record) => {\n  const row = record && typeof record === 'object' ? record : {};\n  const aliases = {};\n  for (const [key, value] of Object.entries(row)) aliases[normalizeName(key)] = value;\n  const get = (...keys) => {\n    for (const key of keys) {\n      const normalized = normalizeName(key);\n      if (Object.prototype.hasOwnProperty.call(aliases, normalized)) return aliases[normalized];\n    }\n    return '';\n  };\n  const toNumber = (value) => {\n    if (value === null || value === undefined || value === '') return null;\n    const num = Number(String(value).replace(/,/g, '').trim());\n    return Number.isFinite(num) ? num : null;\n  };\n  return {\n    item_name: String(get('item_name', 'item name', 'name', 'product', 'product_name', 'product name') || '').trim(),\n    sku: String(get('sku', 'code', 'item_code', 'item code') || '').trim(),\n    price: toNumber(get('price', 'mrp', 'rate', 'selling_price', 'selling price')),\n    stock: toNumber(get('stock', 'qty', 'quantity', 'inventory')),\n    unit: String(get('unit', 'uom') || '').trim(),\n    category: String(get('category', 'group') || '').trim(),\n    brand: String(get('brand', 'company') || '').trim(),\n    raw_line: JSON.stringify(row),\n    row_confidence: null,\n    document_confidence: null,\n  };\n};\nconst assessRow = (row, parseMode, rowThreshold) => {\n  const itemName = String(row.item_name || '').trim();\n  const price = row.price === null || row.price === undefined || row.price === '' ? null : Number(row.price);\n  const stock = row.stock === null || row.stock === undefined || row.stock === '' ? null : Number(row.stock);\n  const confidence = normalizeConfidence(row.row_confidence ?? row.confidence ?? row.ocr_confidence);\n  const alphaChars = (itemName.match(/[a-z]/gi) || []).length;\n  const digitChars = (itemName.match(/\\d/g) || []).length;\n  const reasons = [];\n  if (!itemName) reasons.push('missing item name');\n  if (price === null || Number.isNaN(price) || price <= 0) reasons.push('missing or invalid price');\n  if (stock === null || Number.isNaN(stock) || stock < 0) reasons.push('missing or invalid stock');\n  if (parseMode !== 'sheet') {\n    if (confidence === null) reasons.push('missing OCR confidence');\n    else if (confidence < rowThreshold) reasons.push('low OCR confidence');\n    if (alphaChars < 3) reasons.push('item name too noisy');\n    if (digitChars > alphaChars) reasons.push('item name looks misread');\n  }\n  return { blocked: reasons.length > 0, reasons, confidence };\n};\nconst buildReportManifest = (jobId, token) => {\n  const root = \"https://primary-production-87e8.up.railway.app\".replace(/\\/+$/, '');\n  const base = root + '/webhook/owner-import-report-bulk-v1?job=' + encodeURIComponent(jobId) + '&token=' + encodeURIComponent(token);\n  return {\n    summary_url: base + '&kind=summary',\n    valid_url: base + '&kind=valid',\n    ambiguous_url: base + '&kind=ambiguous',\n    invalid_url: base + '&kind=invalid',\n    applied_url: base + '&kind=applied',\n  };\n};\n\nconst parseMode = String(meta.parse_mode || 'sheet');\nconst jobId = String(meta.job_id || '');\nconst reportToken = String(meta.report_token || '');\nconst documentConfidence = normalizeConfidence(inputRows.find((row) => row.document_confidence !== undefined)?.document_confidence ?? null);\nconst documentThreshold = 0.88;\nconst rowThreshold = 0.9;\nconst maxRows = parseMode === 'sheet' ? 10000 : 200;\nconst rawRows = parseMode === 'sheet' ? inputRows.map(mapSheetRecord) : inputRows;\nconst summary = {\n  total_rows: rawRows.length,\n  valid_rows: 0,\n  invalid_rows: 0,\n  ambiguous_rows: 0,\n  matched_rows: 0,\n  new_rows: 0,\n  duplicate_rows: 0,\n  skipped_duplicates: 0,\n  has_blockers: false,\n  document_reasons: [],\n};\nif (parseMode !== 'sheet') {\n  if (documentConfidence === null) summary.document_reasons.push('missing document OCR confidence');\n  else if (documentConfidence < documentThreshold) summary.document_reasons.push('low document OCR confidence');\n}\nif (rawRows.length > maxRows) {\n  return [{ json: { ...meta, worker_result: 'too_many_rows', body_text: parseMode === 'sheet' ? 'This bulk job has ' + rawRows.length + ' rows, which is above the current 10,000-row limit. Split the file and upload again.' : 'This OCR import is too large for safe onboarding. Please use XLS, XLSX, CSV, or a public Google Sheets link for large catalogs.' } }];\n}\nif (!rawRows.length) {\n  return [{ json: { ...meta, worker_result: 'empty_import', body_text: 'I could not extract any inventory rows from that bulk import. Please correct the file and try again.' } }];\n}\n\nconst grouped = new Map();\nrawRows.forEach((row, index) => {\n  const key = String(row.sku || '').trim().toUpperCase() || normalizeName(row.item_name || '');\n  const list = grouped.get(key) || [];\n  list.push({ row, index });\n  grouped.set(key, list);\n});\n\nconst duplicateInfo = new Map();\nfor (const entries of grouped.values()) {\n  if (entries.length < 2) continue;\n  const comparable = entries.map(({ row }) => JSON.stringify({\n    item_name: normalizeName(row.item_name || ''),\n    sku: String(row.sku || '').trim().toUpperCase(),\n    price: row.price ?? null,\n    stock: row.stock ?? null,\n    unit: normalizeName(row.unit || ''),\n    category: normalizeName(row.category || ''),\n    brand: normalizeName(row.brand || ''),\n  }));\n  if (new Set(comparable).size === 1) {\n    entries.slice(1).forEach(({ index }) => duplicateInfo.set(index, { kind: 'skip', reason: 'duplicate row collapsed' }));\n    summary.skipped_duplicates += entries.length - 1;\n  } else {\n    entries.forEach(({ index }) => duplicateInfo.set(index, { kind: 'block', reason: 'conflicting duplicate rows in import batch' }));\n    summary.duplicate_rows += entries.length;\n    summary.has_blockers = true;\n  }\n}\n\nconst inventoryRows = inventory.map((row) => ({\n  ...row,\n  normalized_name: normalizeName(row.item_name || ''),\n  normalized_sku: String(row.sku || '').trim().toUpperCase(),\n  is_active: row.is_active !== false,\n}));\nconst reservedSkus = new Set();\nconst stagedRows = [];\n\nfor (let index = 0; index < rawRows.length; index += 1) {\n  const row = rawRows[index];\n  const duplicate = duplicateInfo.get(index);\n  if (duplicate?.kind === 'skip') continue;\n  const assessment = assessRow(row, parseMode, rowThreshold);\n  const base = {\n    row_no: index + 1,\n    chunk_no: Math.floor(index / 250) + 1,\n    raw_payload: row,\n    normalized_payload: row,\n    match_status: 'invalid',\n    target_inventory_id: null,\n    target_sku: '',\n    target_item_name: '',\n    error_reason: '',\n    review_reason: '',\n    row_hash: [normalizeName(row.item_name), String(row.sku || '').trim().toUpperCase(), row.price ?? '', row.stock ?? '', normalizeName(row.unit || ''), normalizeName(row.category || ''), normalizeName(row.brand || '')].join('|'),\n    apply_status: 'blocked',\n    suggested_sku: '',\n  };\n  if (duplicate?.kind === 'block') {\n    stagedRows.push({ ...base, match_status: 'ambiguous', review_reason: duplicate.reason });\n    summary.ambiguous_rows += 1;\n    continue;\n  }\n  if (summary.document_reasons.length || assessment.blocked) {\n    stagedRows.push({ ...base, match_status: 'invalid', error_reason: [...summary.document_reasons, ...assessment.reasons].filter(Boolean).join('; ') });\n    summary.invalid_rows += 1;\n    summary.has_blockers = true;\n    continue;\n  }\n  const normalizedSku = String(row.sku || '').trim().toUpperCase();\n  const normalizedName = normalizeName(row.item_name || '');\n  let matches = [];\n  if (normalizedSku) matches = inventoryRows.filter((item) => item.normalized_sku === normalizedSku);\n  if (!matches.length) matches = inventoryRows.filter((item) => item.normalized_name === normalizedName);\n  if (matches.length === 1) {\n    stagedRows.push({ ...base, match_status: 'matched', target_sku: String(matches[0].sku || ''), target_item_name: String(matches[0].item_name || ''), review_reason: matches[0].is_active ? '' : 'reactivate matched inactive item', apply_status: 'pending' });\n    summary.valid_rows += 1;\n    summary.matched_rows += 1;\n    continue;\n  }\n  if (!matches.length) {\n    const fuzzy = inventoryRows\n      .map((item) => ({ item, score: scoreCandidate(normalizedName, item.normalized_name) }))\n      .filter((entry) => entry.score >= 0.58)\n      .sort((left, right) => right.score - left.score)\n      .slice(0, 5);\n    if (fuzzy.length === 1 && fuzzy[0].score >= 0.8) {\n      stagedRows.push({ ...base, match_status: 'matched', target_sku: String(fuzzy[0].item.sku || ''), target_item_name: String(fuzzy[0].item.item_name || ''), review_reason: 'matched similar existing item', apply_status: 'pending' });\n      summary.valid_rows += 1;\n      summary.matched_rows += 1;\n      continue;\n    }\n    if (fuzzy.length > 1) {\n      stagedRows.push({ ...base, match_status: 'ambiguous', review_reason: fuzzy.map((entry) => entry.item.item_name).join(', ') });\n      summary.ambiguous_rows += 1;\n      summary.has_blockers = true;\n      continue;\n    }\n  } else if (matches.length > 1) {\n    stagedRows.push({ ...base, match_status: 'ambiguous', review_reason: matches.map((entry) => entry.item_name).join(', ') });\n    summary.ambiguous_rows += 1;\n    summary.has_blockers = true;\n    continue;\n  }\n  const suggestedSku = row.sku ? String(row.sku).trim().toUpperCase() : buildSku(row.item_name, inventoryRows, reservedSkus);\n  stagedRows.push({ ...base, match_status: 'new', suggested_sku: suggestedSku, apply_status: 'pending' });\n  summary.valid_rows += 1;\n  summary.new_rows += 1;\n}\n\nconst manifest = buildReportManifest(jobId, reportToken);\nconst previewLines = stagedRows.slice(0, 6).map((row) => {\n  const itemName = row.normalized_payload?.item_name || row.raw_payload?.item_name || row.raw_payload?.raw_line || 'row';\n  if (row.match_status === 'matched') return '- Match: ' + itemName + ' -> ' + (row.target_item_name || row.target_sku || 'existing item');\n  if (row.match_status === 'new') return '- New: ' + itemName + ' (SKU ' + row.suggested_sku + ')';\n  if (row.match_status === 'ambiguous') return '- Review: ' + itemName + ' -> ' + row.review_reason;\n  return '- Invalid: ' + itemName + (row.error_reason ? ' -> ' + row.error_reason : '');\n});\n\nreturn [{\n  json: {\n    ...meta,\n    has_store_id: schema.has_store_id === true || schema.has_store_id === 'true' || schema.has_store_id === 't' || schema.has_store_id === 1,\n    worker_result: 'staged',\n    summary,\n    staged_rows: stagedRows,\n    document_confidence: documentConfidence,\n    report_manifest: manifest,\n    preview_lines: previewLines,\n  },\n}];"}},{"id":"bulk-worker-build-sql","name":"Build Stage SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $input.first().json || {};\nconst esc = (value) => String(value === undefined || value === null ? '' : value).replace(/'/g, \"''\");\nconst jsonLiteral = (value) => \"'\" + esc(JSON.stringify(value)) + \"'::jsonb\";\nconst resultSelect = (result, message) => \"SELECT '\" + esc(result) + \"' AS result, \" + jsonLiteral({}) + \" AS summary_json, \" + jsonLiteral({}) + \" AS report_manifest_json, '\" + esc(message || '') + \"' AS message, '' AS job_id;\";\n\nconst ensureSql = [\n  'CREATE TABLE IF NOT EXISTS public.owner_import_jobs (',\n  '  job_id TEXT PRIMARY KEY,',\n  '  store_id BIGINT,',\n  '  chat_id TEXT NOT NULL,',\n  '  source_type TEXT,',\n  '  status TEXT NOT NULL,',\n  '  parsed_rows_json JSONB DEFAULT \\'[]\\'::jsonb,',\n  '  invalid_rows_json JSONB DEFAULT \\'[]\\'::jsonb,',\n  '  file_name TEXT,',\n  '  mime_type TEXT,',\n  '  created_at TIMESTAMPTZ DEFAULT NOW(),',\n  '  updated_at TIMESTAMPTZ DEFAULT NOW()',\n  ');',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS source_ref TEXT;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS mode TEXT;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS total_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS valid_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS invalid_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS ambiguous_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS matched_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS new_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS applied_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS failed_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS report_manifest_json JSONB DEFAULT \\'{}\\'::jsonb;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS report_token TEXT;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS started_at TIMESTAMPTZ;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS finished_at TIMESTAMPTZ;',\n  'CREATE TABLE IF NOT EXISTS public.owner_import_job_rows (',\n  '  job_id TEXT NOT NULL,',\n  '  row_no INTEGER NOT NULL,',\n  '  chunk_no INTEGER NOT NULL,',\n  '  raw_payload_json JSONB DEFAULT \\'{}\\'::jsonb,',\n  '  normalized_payload_json JSONB DEFAULT \\'{}\\'::jsonb,',\n  '  match_status TEXT NOT NULL,',\n  '  target_inventory_id BIGINT,',\n  '  target_sku TEXT,',\n  '  target_item_name TEXT,',\n  '  error_reason TEXT,',\n  '  review_reason TEXT,',\n  '  row_hash TEXT,',\n  '  apply_status TEXT DEFAULT \\'pending\\',',\n  '  created_at TIMESTAMPTZ DEFAULT NOW(),',\n  '  updated_at TIMESTAMPTZ DEFAULT NOW(),',\n  '  PRIMARY KEY (job_id, row_no)',\n  ');',\n  'CREATE INDEX IF NOT EXISTS owner_import_job_rows_job_status_idx ON public.owner_import_job_rows (job_id, match_status, apply_status);',\n  'CREATE TABLE IF NOT EXISTS public.owner_operation_sessions (',\n  '  session_id TEXT PRIMARY KEY,',\n  '  store_id BIGINT,',\n  '  chat_id TEXT NOT NULL,',\n  '  operation_type TEXT NOT NULL,',\n  '  source_type TEXT NOT NULL,',\n  \"  parsed_payload_json JSONB DEFAULT '{}'::jsonb,\",\n  \"  cleanup_summary_json JSONB DEFAULT '{}'::jsonb,\",\n  \"  preview_rows_json JSONB DEFAULT '[]'::jsonb,\",\n  '  status TEXT NOT NULL,',\n  '  created_at TIMESTAMPTZ DEFAULT NOW(),',\n  '  updated_at TIMESTAMPTZ DEFAULT NOW()',\n  ');',\n].join('\\n');\n\nif (d.worker_result !== 'staged') {\n  return [{ json: { ...d, sql: ensureSql + '\\n' + resultSelect(d.worker_result || 'failed', d.body_text || 'I could not stage that bulk import safely.') } }];\n}\n\nconst stagedRows = Array.isArray(d.staged_rows) ? d.staged_rows : [];\nconst summary = d.summary || {};\nconst reportManifest = d.report_manifest || {};\nconst invalidRows = stagedRows.filter((row) => row.match_status === 'invalid' || row.match_status === 'ambiguous');\nconst status = Number(summary.valid_rows || 0) > 0 ? 'awaiting_review' : 'failed';\nconst sessionId = 'bulk_' + esc(d.job_id || '');\n\nconst sql = [\n  ensureSql,\n  \"DELETE FROM public.owner_import_job_rows WHERE job_id = '\" + esc(d.job_id) + \"';\",\n  'WITH rows AS (',\n  \"  SELECT * FROM jsonb_to_recordset(\" + jsonLiteral(stagedRows) + \") AS r(row_no integer, chunk_no integer, raw_payload jsonb, normalized_payload jsonb, match_status text, target_inventory_id bigint, target_sku text, target_item_name text, error_reason text, review_reason text, row_hash text, apply_status text, suggested_sku text)\",\n  '), ins AS (',\n  '  INSERT INTO public.owner_import_job_rows (job_id, row_no, chunk_no, raw_payload_json, normalized_payload_json, match_status, target_inventory_id, target_sku, target_item_name, error_reason, review_reason, row_hash, apply_status, created_at, updated_at)',\n  \"  SELECT '\" + esc(d.job_id) + \"', row_no, chunk_no, COALESCE(raw_payload, '{}'::jsonb), COALESCE(normalized_payload, '{}'::jsonb), COALESCE(match_status, 'invalid'), target_inventory_id, COALESCE(target_sku, ''), COALESCE(target_item_name, ''), COALESCE(error_reason, ''), COALESCE(review_reason, ''), COALESCE(row_hash, ''), COALESCE(apply_status, 'pending'), NOW(), NOW() FROM rows\",\n  '  ON CONFLICT (job_id, row_no) DO UPDATE SET',\n  '    chunk_no = EXCLUDED.chunk_no,',\n  '    raw_payload_json = EXCLUDED.raw_payload_json,',\n  '    normalized_payload_json = EXCLUDED.normalized_payload_json,',\n  '    match_status = EXCLUDED.match_status,',\n  '    target_inventory_id = EXCLUDED.target_inventory_id,',\n  '    target_sku = EXCLUDED.target_sku,',\n  '    target_item_name = EXCLUDED.target_item_name,',\n  '    error_reason = EXCLUDED.error_reason,',\n  '    review_reason = EXCLUDED.review_reason,',\n  '    row_hash = EXCLUDED.row_hash,',\n  '    apply_status = EXCLUDED.apply_status,',\n  '    updated_at = NOW()',\n  '  RETURNING row_no',\n  '), job_upsert AS (',\n  '  INSERT INTO public.owner_import_jobs (job_id, store_id, chat_id, source_type, source_ref, mode, status, total_rows, valid_rows, invalid_rows, ambiguous_rows, matched_rows, new_rows, applied_rows, failed_rows, report_manifest_json, report_token, started_at, finished_at, parsed_rows_json, invalid_rows_json, file_name, mime_type, created_at, updated_at)',\n  \"  VALUES ('\" + esc(d.job_id) + \"', \" + Number(d.store_id || 0) + \", '\" + esc(d.chat_id) + \"', '\" + esc(d.source_type || d.import_kind || '') + \"', '\" + esc(d.source_ref || d.media_filename || '') + \"', 'bulk_onboarding', '\" + esc(status) + \"', \" + Number(summary.total_rows || 0) + \", \" + Number(summary.valid_rows || 0) + \", \" + Number(summary.invalid_rows || 0) + \", \" + Number(summary.ambiguous_rows || 0) + \", \" + Number(summary.matched_rows || 0) + \", \" + Number(summary.new_rows || 0) + \", 0, 0, \" + jsonLiteral(reportManifest) + \", '\" + esc(d.report_token || '') + \"', NOW(), NOW(), \" + jsonLiteral(stagedRows) + \", \" + jsonLiteral(invalidRows) + \", '\" + esc(d.media_filename || '') + \"', '\" + esc(d.media_mime_type || '') + \"', NOW(), NOW())\",\n  '  ON CONFLICT (job_id) DO UPDATE SET',\n  \"    store_id = EXCLUDED.store_id, chat_id = EXCLUDED.chat_id, source_type = EXCLUDED.source_type, source_ref = EXCLUDED.source_ref, mode = EXCLUDED.mode, status = EXCLUDED.status, total_rows = EXCLUDED.total_rows, valid_rows = EXCLUDED.valid_rows, invalid_rows = EXCLUDED.invalid_rows, ambiguous_rows = EXCLUDED.ambiguous_rows, matched_rows = EXCLUDED.matched_rows, new_rows = EXCLUDED.new_rows, applied_rows = EXCLUDED.applied_rows, failed_rows = EXCLUDED.failed_rows, report_manifest_json = EXCLUDED.report_manifest_json, report_token = EXCLUDED.report_token, started_at = EXCLUDED.started_at, finished_at = EXCLUDED.finished_at, parsed_rows_json = EXCLUDED.parsed_rows_json, invalid_rows_json = EXCLUDED.invalid_rows_json, file_name = EXCLUDED.file_name, mime_type = EXCLUDED.mime_type, updated_at = NOW()\",\n  '  RETURNING job_id',\n  '), session_upsert AS (',\n  '  INSERT INTO public.owner_operation_sessions (session_id, store_id, chat_id, operation_type, source_type, parsed_payload_json, cleanup_summary_json, preview_rows_json, status, created_at, updated_at)',\n  \"  VALUES ('\" + sessionId + \"', \" + Number(d.store_id || 0) + \", '\" + esc(d.chat_id) + \"', 'bulk_import_review', '\" + esc(d.source_type || d.import_kind || '') + \"', \" + jsonLiteral({ source_ref: d.source_ref || '', file_name: d.media_filename || '', parse_mode: d.parse_mode || '' }) + \", \" + jsonLiteral(summary) + \", '[]'::jsonb, '\" + esc(status) + \"', NOW(), NOW())\",\n  '  ON CONFLICT (session_id) DO UPDATE SET',\n  \"    store_id = EXCLUDED.store_id, chat_id = EXCLUDED.chat_id, operation_type = EXCLUDED.operation_type, source_type = EXCLUDED.source_type, parsed_payload_json = EXCLUDED.parsed_payload_json, cleanup_summary_json = EXCLUDED.cleanup_summary_json, preview_rows_json = EXCLUDED.preview_rows_json, status = EXCLUDED.status, updated_at = NOW()\",\n  '  RETURNING session_id',\n  ')',\n  \"SELECT '\" + esc(status) + \"' AS result, \" + jsonLiteral(summary) + \" AS summary_json, \" + jsonLiteral(reportManifest) + \" AS report_manifest_json, '' AS message, '\" + esc(d.job_id) + \"' AS job_id;\",\n].join('\\n');\n\nreturn [{ json: { ...d, sql } }];"}},{"id":"bulk-worker-run-sql","name":"Run Stage SQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3100,320],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"bulk-worker-format","name":"Format Worker Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3320,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const row = $input.first().json || {};\nconst meta = $('Prepare Bulk Stage').first().json || $('Determine Worker Source').first().json || {};\nconst summary = (() => {\n  const raw = row.summary_json;\n  if (!raw) return meta.summary || {};\n  if (typeof raw === 'object') return raw;\n  try { return JSON.parse(raw); } catch { return meta.summary || {}; }\n})();\nconst reportManifest = (() => {\n  const raw = row.report_manifest_json;\n  if (!raw) return meta.report_manifest || {};\n  if (typeof raw === 'object') return raw;\n  try { return JSON.parse(raw); } catch { return meta.report_manifest || {}; }\n})();\nconst testMode = meta.test_mode === true;\nconst makeText = (body) => ({ chat_id: meta.chat_id || '', message_type: 'text', body_text: body, test_mode: testMode });\nconst makeButtons = (body, buttons) => ({ chat_id: meta.chat_id || '', message_type: 'button', body_text: body, buttons, test_mode: testMode });\nconst result = String(row.result || meta.worker_result || 'failed');\nconst fileLabel = meta.media_filename || meta.source_ref || 'this import';\n\nif (result === 'too_many_rows' || result === 'empty_import' || result === 'failed') {\n  return [{ json: makeText(String(row.message || meta.body_text || 'I could not stage that bulk import safely.')) }];\n}\n\nif (result === 'awaiting_review') {\n  const summaryLines = [\n    'Bulk import review for ' + fileLabel,\n    '',\n    'Total rows: ' + Number(summary.total_rows || 0),\n    'Valid rows: ' + Number(summary.valid_rows || 0) + ' (new ' + Number(summary.new_rows || 0) + ', matched ' + Number(summary.matched_rows || 0) + ')',\n    'Ambiguous rows: ' + Number(summary.ambiguous_rows || 0),\n    'Invalid rows: ' + Number(summary.invalid_rows || 0),\n  ];\n  if (reportManifest.summary_url) summaryLines.push('', 'Summary report: ' + reportManifest.summary_url);\n  if (reportManifest.ambiguous_url && Number(summary.ambiguous_rows || 0) > 0) summaryLines.push('Ambiguous rows: ' + reportManifest.ambiguous_url);\n  if (reportManifest.invalid_url && Number(summary.invalid_rows || 0) > 0) summaryLines.push('Invalid rows: ' + reportManifest.invalid_url);\n  if (Number(summary.valid_rows || 0) > 0) {\n    return [{ json: makeButtons(summaryLines.join('\\n'), [\n      { id: 'owner_bulk_apply__' + String(row.job_id || meta.job_id || ''), title: 'Apply Valid Rows' },\n      { id: 'owner_bulk_cancel__' + String(row.job_id || meta.job_id || ''), title: 'Cancel Import' },\n      { id: 'owner_catalog_import', title: 'Upload Corrected File' },\n    ]) }];\n  }\n  return [{ json: makeButtons(summaryLines.join('\\n') + '\\n\\nNo valid rows are ready to apply yet.', [\n    { id: 'owner_catalog_import', title: 'Upload Corrected File' },\n    { id: 'owner_bulk_cancel__' + String(row.job_id || meta.job_id || ''), title: 'Cancel Import' },\n  ]) }];\n}\n\nreturn [{ json: makeText('Bulk import is ready for review.') }];"}}],"connections":{"Start":{"main":[[{"node":"Normalize Worker Input","type":"main","index":0}]]},"Normalize Worker Input":{"main":[[{"node":"Inspect Inventory Schema","type":"main","index":0}]]},"Inspect Inventory Schema":{"main":[[{"node":"Load Inventory Snapshot","type":"main","index":0}]]},"Load Inventory Snapshot":{"main":[[{"node":"Determine Worker Source","type":"main","index":0}]]},"Determine Worker Source":{"main":[[{"node":"Worker Route","type":"main","index":0}]]},"Worker Route":{"main":[[{"node":"Format Worker Error","type":"main","index":0}],[{"node":"Emit Test Sheet Rows","type":"main","index":0}],[{"node":"Pass Existing Binary","type":"main","index":0}],[{"node":"Get WhatsApp Media Metadata","type":"main","index":0}],[{"node":"Download Google Sheet","type":"main","index":0}]]},"Emit Test Sheet Rows":{"main":[[{"node":"Prepare Bulk Stage","type":"main","index":0}]]},"Pass Existing Binary":{"main":[[{"node":"Parse Kind","type":"main","index":0}]]},"Get WhatsApp Media Metadata":{"main":[[{"node":"Download WhatsApp Media","type":"main","index":0}]]},"Download WhatsApp Media":{"main":[[{"node":"Attach Downloaded Binary","type":"main","index":0}]]},"Attach Downloaded Binary":{"main":[[{"node":"Parse Kind","type":"main","index":0}]]},"Download Google Sheet":{"main":[[{"node":"Parse Kind","type":"main","index":0}]]},"Parse Kind":{"main":[[{"node":"Parse Spreadsheet","type":"main","index":0}],[{"node":"Claude Analyze Document","type":"main","index":0}],[{"node":"Claude Analyze Image","type":"main","index":0}],[{"node":"Format Worker Error","type":"main","index":0}]]},"Parse Spreadsheet":{"main":[[{"node":"Prepare Bulk Stage","type":"main","index":0}]]},"Claude Analyze Document":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Claude Analyze Image":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Prepare Bulk Stage","type":"main","index":0}]]},"Prepare Bulk Stage":{"main":[[{"node":"Build Stage SQL","type":"main","index":0}]]},"Build Stage SQL":{"main":[[{"node":"Run Stage SQL","type":"main","index":0}]]},"Run Stage SQL":{"main":[[{"node":"Format Worker Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"5c116752-775e-484a-80b2-c1c9154baffb","activeVersionId":"5c116752-775e-484a-80b2-c1c9154baffb","versionCounter":52,"triggerCount":0,"shared":[{"updatedAt":"2026-03-11T03:41:29.217Z","createdAt":"2026-03-11T03:41:29.217Z","role":"workflow:owner","workflowId":"yDfWqigCvgCGz75e","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-11T11:35:45.521Z","createdAt":"2026-03-11T11:35:45.521Z","versionId":"5c116752-775e-484a-80b2-c1c9154baffb","workflowId":"yDfWqigCvgCGz75e","nodes":[{"id":"bulk-worker-start","name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,360],"parameters":{"inputSource":"passthrough"}},{"id":"bulk-worker-normalize","name":"Normalize Worker Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,360],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst raw = ($json.tool_input && typeof $json.tool_input === 'object') ? $json.tool_input : $json;\nconst message = String(raw.message || raw.media_caption || '').trim();\nconst buttonId = String(raw.button_id || '').trim();\nconst sourceType = String(raw.source_type || (buttonId ? 'button' : 'text')).trim() || 'text';\nreturn [{\n  json: {\n    ...raw,\n    chat_id: String(raw.chat_id || ''),\n    message,\n    button_id: buttonId,\n    source_type: sourceType,\n    media_id: String(raw.media_id || ''),\n    media_mime_type: String(raw.media_mime_type || ''),\n    media_filename: String(raw.media_filename || ''),\n    media_caption: String(raw.media_caption || ''),\n    store_id: raw.store_id || null,\n    test_file_base64: String(raw.test_file_base64 || ''),\n    test_file_name: String(raw.test_file_name || raw.media_filename || ''),\n    test_file_mime_type: String(raw.test_file_mime_type || raw.media_mime_type || ''),\n    test_sheet_rows: Array.isArray(raw.test_sheet_rows) ? raw.test_sheet_rows : [],\n    test_mode: raw.test_mode === true,\n    bulk_mode: String(raw.bulk_mode || ''),\n    export_url: String(raw.export_url || ''),\n    source_ref: String(raw.source_ref || ''),\n    job_id: String(raw.job_id || ''),\n  },\n  binary: input?.binary || {},\n}];"}},{"id":"bulk-worker-schema","name":"Inspect Inventory Schema","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,240],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"SELECT\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'store_id') AS has_store_id,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'sku') AS has_sku,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'unit') AS has_unit,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'category') AS has_category,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'brand') AS has_brand,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'is_active') AS has_is_active,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'created_at') AS has_created_at,\n  EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema = 'public' AND table_name = 'inventory' AND column_name = 'updated_at') AS has_updated_at;","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"bulk-worker-load-items","name":"Load Inventory Snapshot","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[680,440],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ (() => { const storeId = Number($('Normalize Worker Input').first().json.store_id || 0); return `SELECT item_name, price, stock, COALESCE(sku, '') AS sku, COALESCE(unit, '') AS unit, COALESCE(category, '') AS category, COALESCE(brand, '') AS brand, COALESCE(is_active, true) AS is_active FROM public.inventory ${storeId > 0 ? `WHERE store_id = ${storeId}` : ''} ORDER BY item_name ASC LIMIT 10000;`; })() }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"bulk-worker-source","name":"Determine Worker Source","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,360],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst d = $('Normalize Worker Input').first().json;\nconst binary = input?.binary || {};\nconst fileName = String(d.media_filename || d.test_file_name || '').trim();\nconst mime = String(d.media_mime_type || d.test_file_mime_type || '').trim().toLowerCase();\nconst ext = fileName.includes('.') ? fileName.split('.').pop().toLowerCase() : '';\nconst hasInlineBinary = !!String(d.test_file_base64 || '').trim();\nconst hasBinary = !!binary.data || hasInlineBinary;\nconst hasSheetRows = Array.isArray(d.test_sheet_rows) && d.test_sheet_rows.length > 0;\n\nconst isSpreadsheet = /sheet|excel|spreadsheet|csv/.test(mime) || ['xls', 'xlsx', 'csv'].includes(ext);\nconst isPdf = mime === 'application/pdf' || ext === 'pdf';\nconst isImage = mime.startsWith('image/') || ['png', 'jpg', 'jpeg', 'webp'].includes(ext);\n\nlet route = 'error';\nlet parse_mode = 'unsupported';\nlet error_message = '';\n\nif (!d.chat_id) {\n  error_message = 'Missing owner chat ID for bulk import.';\n} else if (hasSheetRows || d.import_kind === 'google_sheet' || /docs\\.google\\.com\\/spreadsheets/i.test(String(d.source_ref || ''))) {\n  route = hasSheetRows ? 'test_sheet_rows' : 'download_sheet';\n  parse_mode = 'sheet';\n} else if (!hasBinary && !d.media_id) {\n  error_message = 'I could not find a file or sheet link for bulk import.';\n} else if (isSpreadsheet) {\n  route = hasBinary ? 'direct_binary' : 'download_binary';\n  parse_mode = 'sheet';\n} else if (isPdf) {\n  route = hasBinary ? 'direct_binary' : 'download_binary';\n  parse_mode = 'document';\n} else if (isImage) {\n  route = hasBinary ? 'direct_binary' : 'download_binary';\n  parse_mode = 'image';\n} else {\n  error_message = 'Unsupported bulk import type. Please use XLS, XLSX, CSV, a public Google Sheets link, or a medium JPG/PNG/PDF.';\n}\n\nreturn [{\n  json: {\n    ...d,\n    route,\n    parse_mode,\n    media_filename: fileName || d.media_filename || d.source_ref || 'bulk-import',\n    media_mime_type: mime || d.media_mime_type || '',\n    error_message,\n  },\n  binary,\n}];"}},{"id":"bulk-worker-route","name":"Worker Route","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1120,360],"parameters":{"mode":"expression","numberOutputs":5,"output":"={{ $json.route === 'test_sheet_rows' ? 1 : $json.route === 'direct_binary' ? 2 : $json.route === 'download_binary' ? 3 : $json.route === 'download_sheet' ? 4 : 0 }}"}},{"id":"bulk-worker-error","name":"Format Worker Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,120],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Determine Worker Source').first().json || {}; return [{ json: { chat_id: d.chat_id || '', message_type: 'text', body_text: d.error_message || 'I could not prepare that bulk import.', test_mode: d.test_mode === true } }];"}},{"id":"bulk-worker-test-rows","name":"Emit Test Sheet Rows","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,240],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $('Determine Worker Source').first().json || {}; return (Array.isArray(d.test_sheet_rows) ? d.test_sheet_rows : []).map((row) => ({ json: row }));"}},{"id":"bulk-worker-pass-binary","name":"Pass Existing Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,360],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first(); const d = $('Determine Worker Source').first().json || {}; if (String(d.test_file_base64 || '').trim()) { return [{ json: d, binary: { data: { data: String(d.test_file_base64 || ''), mimeType: String(d.test_file_mime_type || d.media_mime_type || 'application/octet-stream'), fileName: String(d.test_file_name || d.media_filename || 'owner_upload') } } }]; } return [{ json: d, binary: input?.binary || {} }];"}},{"id":"bulk-worker-meta","name":"Get WhatsApp Media Metadata","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1340,480],"parameters":{"method":"GET","url":"={{ 'https://graph.facebook.com/v19.0/' + $('Determine Worker Source').first().json.media_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{}},"credentials":{"whatsAppApi":{"id":"GFk530CPSyrOLT7F","name":"WhatsApp account"}}},{"id":"bulk-worker-download","name":"Download WhatsApp Media","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1560,480],"parameters":{"method":"GET","url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"whatsAppApi","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"data"}}}},"credentials":{"whatsAppApi":{"id":"GFk530CPSyrOLT7F","name":"WhatsApp account"}}},{"id":"bulk-worker-attach-download","name":"Attach Downloaded Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,480],"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first();\nconst base = $('Determine Worker Source').first().json || {};\nconst meta = $('Get WhatsApp Media Metadata').first().json || {};\nreturn [{\n  json: {\n    ...base,\n    media_mime_type: String(meta.mime_type || base.media_mime_type || ''),\n    media_filename: String(base.media_filename || meta.file_name || base.media_id || 'owner_upload'),\n    media_size: meta.file_size || null,\n  },\n  binary: input?.binary || {},\n}];"}},{"id":"bulk-worker-sheet-download","name":"Download Google Sheet","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1560,640],"parameters":{"method":"GET","url":"={{ $('Determine Worker Source').first().json.export_url }}","options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"data"}}}}},{"id":"bulk-worker-parse-kind","name":"Parse Kind","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2000,360],"parameters":{"mode":"expression","numberOutputs":4,"output":"={{ $json.parse_mode === 'sheet' ? 0 : $json.parse_mode === 'document' ? 1 : $json.parse_mode === 'image' ? 2 : 3 }}"}},{"id":"bulk-worker-sheet-parse","name":"Parse Spreadsheet","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[2220,200],"parameters":{"operation":"fromFile","binaryPropertyName":"data","fileFormat":"autodetect","options":{"headerRow":true,"includeEmptyCells":false}}},{"id":"bulk-worker-doc-ocr","name":"Claude Analyze Document","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[2220,360],"retryOnFail":true,"maxTries":4,"waitBetweenTries":5000,"onError":"continueRegularOutput","parameters":{"resource":"document","operation":"analyze","modelId":{"mode":"list","value":"claude-3-haiku-20240307"},"text":"Extract kirana inventory rows from this stock sheet. Return strict JSON only in this shape: {\"document_confidence\":0.0,\"quality_notes\":[],\"rows\":[{\"item_name\":\"\",\"sku\":\"\",\"price\":0,\"stock\":0,\"unit\":\"\",\"category\":\"\",\"brand\":\"\",\"raw_line\":\"\",\"row_confidence\":0.0,\"needs_review\":false,\"review_reason\":\"\"}],\"invalid_rows\":[{\"raw_line\":\"\",\"reason\":\"\",\"row_confidence\":0.0}]}. Use confidence between 0 and 1. If any field is unclear, do not guess and do not output 0 as a placeholder. Put uncertain rows into invalid_rows. Never include markdown.","inputType":"binary","binaryPropertyName":"data","simplify":true,"options":{"maxTokens":1400}},"credentials":{"anthropicApi":{"id":"yiUg577mPI3s1EDq","name":"claude_api"}}},{"id":"bulk-worker-image-ocr","name":"Claude Analyze Image","type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[2220,520],"retryOnFail":true,"maxTries":4,"waitBetweenTries":5000,"onError":"continueRegularOutput","parameters":{"resource":"image","operation":"analyze","modelId":{"mode":"list","value":"claude-3-haiku-20240307"},"text":"Read this kirana stock image and return strict JSON only in this shape: {\"document_confidence\":0.0,\"quality_notes\":[],\"rows\":[{\"item_name\":\"\",\"sku\":\"\",\"price\":0,\"stock\":0,\"unit\":\"\",\"category\":\"\",\"brand\":\"\",\"raw_line\":\"\",\"row_confidence\":0.0,\"needs_review\":false,\"review_reason\":\"\"}],\"invalid_rows\":[{\"raw_line\":\"\",\"reason\":\"\",\"row_confidence\":0.0}]}. Use confidence between 0 and 1. Use only visible text. If price or stock is unclear, do not guess and do not output 0 as a placeholder; put the row into invalid_rows instead. Never include markdown.","inputType":"binary","binaryPropertyName":"data","simplify":true,"options":{"maxTokens":1400}},"credentials":{"anthropicApi":{"id":"yiUg577mPI3s1EDq","name":"claude_api"}}},{"id":"bulk-worker-parse-claude","name":"Parse Claude Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,440],"parameters":{"mode":"runOnceForAllItems","jsCode":"const raw = $input.first().json || {};\nconst pickText = (value) => {\n  if (typeof value === 'string' && value.trim()) return value.trim();\n  if (Array.isArray(value)) {\n    for (const entry of value) {\n      const nested = pickText(entry);\n      if (nested) return nested;\n    }\n  }\n  if (value && typeof value === 'object') {\n    for (const key of ['output', 'text', 'mergedResponse', 'completion', 'content', 'response', 'result']) {\n      if (typeof value[key] === 'string' && value[key].trim()) return value[key].trim();\n    }\n    if (Array.isArray(value.content)) {\n      for (const part of value.content) {\n        if (typeof part?.text === 'string' && part.text.trim()) return part.text.trim();\n      }\n    }\n  }\n  return '';\n};\n\nconst extractJson = (value) => {\n  const text = pickText(value);\n  if (!text) return null;\n  try { return JSON.parse(text); } catch {}\n  const block = text.match(/\\{[\\s\\S]*\\}/);\n  if (block) {\n    try { return JSON.parse(block[0]); } catch {}\n  }\n  return null;\n};\n\nconst parsed = extractJson(raw) || {};\nconst documentConfidenceRaw = parsed.document_confidence ?? parsed.confidence ?? parsed.ocr_confidence ?? null;\nconst documentConfidence = documentConfidenceRaw === null || documentConfidenceRaw === undefined || documentConfidenceRaw === ''\n  ? null\n  : (Number(documentConfidenceRaw) > 1 && Number(documentConfidenceRaw) <= 100 ? Number(documentConfidenceRaw) / 100 : Number(documentConfidenceRaw));\nconst rows = Array.isArray(parsed.rows) ? parsed.rows : [];\nconst invalid = Array.isArray(parsed.invalid_rows) ? parsed.invalid_rows : [];\nconst qualityNotes = Array.isArray(parsed.quality_notes) ? parsed.quality_notes : [];\nconst items = [];\nfor (const row of rows) {\n  items.push({\n    json: {\n      item_name: row.item_name || row.name || row.product || '',\n      sku: row.sku || row.code || '',\n      price: row.price,\n      stock: row.stock,\n      unit: row.unit || '',\n      category: row.category || '',\n      brand: row.brand || '',\n      raw_line: row.raw_line || '',\n      row_confidence: row.row_confidence ?? row.confidence ?? row.ocr_confidence ?? null,\n      review_reason: row.review_reason || row.reason || '',\n      needs_review: row.needs_review === true,\n      document_confidence: Number.isFinite(documentConfidence) ? documentConfidence : null,\n      quality_notes: qualityNotes,\n    },\n  });\n}\nfor (const row of invalid) {\n  items.push({\n    json: {\n      item_name: row.item_name || row.name || '',\n      raw_line: row.raw_line || row.source || '',\n      reason: row.reason || 'invalid row',\n      invalid: true,\n      row_confidence: row.row_confidence ?? row.confidence ?? row.ocr_confidence ?? null,\n      document_confidence: Number.isFinite(documentConfidence) ? documentConfidence : null,\n      quality_notes: qualityNotes,\n    },\n  });\n}\nif (!items.length) {\n  items.push({ json: { invalid: true, raw_line: '', reason: 'no rows parsed', document_confidence: Number.isFinite(documentConfidence) ? documentConfidence : null, quality_notes: qualityNotes } });\n}\nreturn items;"}},{"id":"bulk-worker-stage","name":"Prepare Bulk Stage","type":"n8n-nodes-base.code","typeVersion":2,"position":[2660,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const meta = $('Determine Worker Source').first().json || {};\nconst schema = $('Inspect Inventory Schema').first().json || {};\nconst inventory = $('Load Inventory Snapshot').all().map((item) => item.json || {}).filter((row) => row && row.item_name);\nconst inputRows = $input.all().map((item) => item.json || {});\n\nconst normalizeName = (value) => String(value || '').toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim().replace(/\\s+/g, ' ');\nconst normalizeConfidence = (value) => {\n  if (value === null || value === undefined || value === '') return null;\n  const num = Number(value);\n  if (!Number.isFinite(num)) return null;\n  if (num > 1 && num <= 100) return num / 100;\n  if (num >= 0 && num <= 1) return num;\n  return null;\n};\nconst scoreCandidate = (target, candidate) => {\n  const a = normalizeName(target);\n  const b = normalizeName(candidate);\n  if (!a || !b) return 0;\n  if (a === b) return 1;\n  if (b.startsWith(a) || a.startsWith(b)) return 0.9;\n  if (b.includes(a) || a.includes(b)) return 0.82;\n  const left = new Set(a.split(' ').filter(Boolean));\n  const right = new Set(b.split(' ').filter(Boolean));\n  const common = [...left].filter((word) => right.has(word)).length;\n  const union = new Set([...left, ...right]).size || 1;\n  return common / union;\n};\nconst buildSku = (name, rows = [], reserved = new Set()) => {\n  const used = new Set(rows.map((row) => String(row?.sku || '').trim()).filter(Boolean).map((sku) => sku.toUpperCase()));\n  for (const value of reserved) used.add(String(value || '').trim().toUpperCase());\n  let baseSku = normalizeName(name).toUpperCase().replace(/[^A-Z0-9]+/g, '_').replace(/^_+|_+$/g, '').slice(0, 18);\n  if (!baseSku) baseSku = 'ITEM';\n  let sku = baseSku;\n  let suffix = 2;\n  while (used.has(sku)) {\n    sku = baseSku.slice(0, 14) + '_' + suffix;\n    suffix += 1;\n  }\n  reserved.add(sku);\n  return sku;\n};\nconst mapSheetRecord = (record) => {\n  const row = record && typeof record === 'object' ? record : {};\n  const aliases = {};\n  for (const [key, value] of Object.entries(row)) aliases[normalizeName(key)] = value;\n  const get = (...keys) => {\n    for (const key of keys) {\n      const normalized = normalizeName(key);\n      if (Object.prototype.hasOwnProperty.call(aliases, normalized)) return aliases[normalized];\n    }\n    return '';\n  };\n  const toNumber = (value) => {\n    if (value === null || value === undefined || value === '') return null;\n    const num = Number(String(value).replace(/,/g, '').trim());\n    return Number.isFinite(num) ? num : null;\n  };\n  return {\n    item_name: String(get('item_name', 'item name', 'name', 'product', 'product_name', 'product name') || '').trim(),\n    sku: String(get('sku', 'code', 'item_code', 'item code') || '').trim(),\n    price: toNumber(get('price', 'mrp', 'rate', 'selling_price', 'selling price')),\n    stock: toNumber(get('stock', 'qty', 'quantity', 'inventory')),\n    unit: String(get('unit', 'uom') || '').trim(),\n    category: String(get('category', 'group') || '').trim(),\n    brand: String(get('brand', 'company') || '').trim(),\n    raw_line: JSON.stringify(row),\n    row_confidence: null,\n    document_confidence: null,\n  };\n};\nconst assessRow = (row, parseMode, rowThreshold) => {\n  const itemName = String(row.item_name || '').trim();\n  const price = row.price === null || row.price === undefined || row.price === '' ? null : Number(row.price);\n  const stock = row.stock === null || row.stock === undefined || row.stock === '' ? null : Number(row.stock);\n  const confidence = normalizeConfidence(row.row_confidence ?? row.confidence ?? row.ocr_confidence);\n  const alphaChars = (itemName.match(/[a-z]/gi) || []).length;\n  const digitChars = (itemName.match(/\\d/g) || []).length;\n  const reasons = [];\n  if (!itemName) reasons.push('missing item name');\n  if (price === null || Number.isNaN(price) || price <= 0) reasons.push('missing or invalid price');\n  if (stock === null || Number.isNaN(stock) || stock < 0) reasons.push('missing or invalid stock');\n  if (parseMode !== 'sheet') {\n    if (confidence === null) reasons.push('missing OCR confidence');\n    else if (confidence < rowThreshold) reasons.push('low OCR confidence');\n    if (alphaChars < 3) reasons.push('item name too noisy');\n    if (digitChars > alphaChars) reasons.push('item name looks misread');\n  }\n  return { blocked: reasons.length > 0, reasons, confidence };\n};\nconst buildReportManifest = (jobId, token) => {\n  const root = \"https://primary-production-87e8.up.railway.app\".replace(/\\/+$/, '');\n  const base = root + '/webhook/owner-import-report-bulk-v1?job=' + encodeURIComponent(jobId) + '&token=' + encodeURIComponent(token);\n  return {\n    summary_url: base + '&kind=summary',\n    valid_url: base + '&kind=valid',\n    ambiguous_url: base + '&kind=ambiguous',\n    invalid_url: base + '&kind=invalid',\n    applied_url: base + '&kind=applied',\n  };\n};\n\nconst parseMode = String(meta.parse_mode || 'sheet');\nconst jobId = String(meta.job_id || '');\nconst reportToken = String(meta.report_token || '');\nconst documentConfidence = normalizeConfidence(inputRows.find((row) => row.document_confidence !== undefined)?.document_confidence ?? null);\nconst documentThreshold = 0.88;\nconst rowThreshold = 0.9;\nconst maxRows = parseMode === 'sheet' ? 10000 : 200;\nconst rawRows = parseMode === 'sheet' ? inputRows.map(mapSheetRecord) : inputRows;\nconst summary = {\n  total_rows: rawRows.length,\n  valid_rows: 0,\n  invalid_rows: 0,\n  ambiguous_rows: 0,\n  matched_rows: 0,\n  new_rows: 0,\n  duplicate_rows: 0,\n  skipped_duplicates: 0,\n  has_blockers: false,\n  document_reasons: [],\n};\nif (parseMode !== 'sheet') {\n  if (documentConfidence === null) summary.document_reasons.push('missing document OCR confidence');\n  else if (documentConfidence < documentThreshold) summary.document_reasons.push('low document OCR confidence');\n}\nif (rawRows.length > maxRows) {\n  return [{ json: { ...meta, worker_result: 'too_many_rows', body_text: parseMode === 'sheet' ? 'This bulk job has ' + rawRows.length + ' rows, which is above the current 10,000-row limit. Split the file and upload again.' : 'This OCR import is too large for safe onboarding. Please use XLS, XLSX, CSV, or a public Google Sheets link for large catalogs.' } }];\n}\nif (!rawRows.length) {\n  return [{ json: { ...meta, worker_result: 'empty_import', body_text: 'I could not extract any inventory rows from that bulk import. Please correct the file and try again.' } }];\n}\n\nconst grouped = new Map();\nrawRows.forEach((row, index) => {\n  const key = String(row.sku || '').trim().toUpperCase() || normalizeName(row.item_name || '');\n  const list = grouped.get(key) || [];\n  list.push({ row, index });\n  grouped.set(key, list);\n});\n\nconst duplicateInfo = new Map();\nfor (const entries of grouped.values()) {\n  if (entries.length < 2) continue;\n  const comparable = entries.map(({ row }) => JSON.stringify({\n    item_name: normalizeName(row.item_name || ''),\n    sku: String(row.sku || '').trim().toUpperCase(),\n    price: row.price ?? null,\n    stock: row.stock ?? null,\n    unit: normalizeName(row.unit || ''),\n    category: normalizeName(row.category || ''),\n    brand: normalizeName(row.brand || ''),\n  }));\n  if (new Set(comparable).size === 1) {\n    entries.slice(1).forEach(({ index }) => duplicateInfo.set(index, { kind: 'skip', reason: 'duplicate row collapsed' }));\n    summary.skipped_duplicates += entries.length - 1;\n  } else {\n    entries.forEach(({ index }) => duplicateInfo.set(index, { kind: 'block', reason: 'conflicting duplicate rows in import batch' }));\n    summary.duplicate_rows += entries.length;\n    summary.has_blockers = true;\n  }\n}\n\nconst inventoryRows = inventory.map((row) => ({\n  ...row,\n  normalized_name: normalizeName(row.item_name || ''),\n  normalized_sku: String(row.sku || '').trim().toUpperCase(),\n  is_active: row.is_active !== false,\n}));\nconst reservedSkus = new Set();\nconst stagedRows = [];\n\nfor (let index = 0; index < rawRows.length; index += 1) {\n  const row = rawRows[index];\n  const duplicate = duplicateInfo.get(index);\n  if (duplicate?.kind === 'skip') continue;\n  const assessment = assessRow(row, parseMode, rowThreshold);\n  const base = {\n    row_no: index + 1,\n    chunk_no: Math.floor(index / 250) + 1,\n    raw_payload: row,\n    normalized_payload: row,\n    match_status: 'invalid',\n    target_inventory_id: null,\n    target_sku: '',\n    target_item_name: '',\n    error_reason: '',\n    review_reason: '',\n    row_hash: [normalizeName(row.item_name), String(row.sku || '').trim().toUpperCase(), row.price ?? '', row.stock ?? '', normalizeName(row.unit || ''), normalizeName(row.category || ''), normalizeName(row.brand || '')].join('|'),\n    apply_status: 'blocked',\n    suggested_sku: '',\n  };\n  if (duplicate?.kind === 'block') {\n    stagedRows.push({ ...base, match_status: 'ambiguous', review_reason: duplicate.reason });\n    summary.ambiguous_rows += 1;\n    continue;\n  }\n  if (summary.document_reasons.length || assessment.blocked) {\n    stagedRows.push({ ...base, match_status: 'invalid', error_reason: [...summary.document_reasons, ...assessment.reasons].filter(Boolean).join('; ') });\n    summary.invalid_rows += 1;\n    summary.has_blockers = true;\n    continue;\n  }\n  const normalizedSku = String(row.sku || '').trim().toUpperCase();\n  const normalizedName = normalizeName(row.item_name || '');\n  let matches = [];\n  if (normalizedSku) matches = inventoryRows.filter((item) => item.normalized_sku === normalizedSku);\n  if (!matches.length) matches = inventoryRows.filter((item) => item.normalized_name === normalizedName);\n  if (matches.length === 1) {\n    stagedRows.push({ ...base, match_status: 'matched', target_sku: String(matches[0].sku || ''), target_item_name: String(matches[0].item_name || ''), review_reason: matches[0].is_active ? '' : 'reactivate matched inactive item', apply_status: 'pending' });\n    summary.valid_rows += 1;\n    summary.matched_rows += 1;\n    continue;\n  }\n  if (!matches.length) {\n    const fuzzy = inventoryRows\n      .map((item) => ({ item, score: scoreCandidate(normalizedName, item.normalized_name) }))\n      .filter((entry) => entry.score >= 0.58)\n      .sort((left, right) => right.score - left.score)\n      .slice(0, 5);\n    if (fuzzy.length === 1 && fuzzy[0].score >= 0.8) {\n      stagedRows.push({ ...base, match_status: 'matched', target_sku: String(fuzzy[0].item.sku || ''), target_item_name: String(fuzzy[0].item.item_name || ''), review_reason: 'matched similar existing item', apply_status: 'pending' });\n      summary.valid_rows += 1;\n      summary.matched_rows += 1;\n      continue;\n    }\n    if (fuzzy.length > 1) {\n      stagedRows.push({ ...base, match_status: 'ambiguous', review_reason: fuzzy.map((entry) => entry.item.item_name).join(', ') });\n      summary.ambiguous_rows += 1;\n      summary.has_blockers = true;\n      continue;\n    }\n  } else if (matches.length > 1) {\n    stagedRows.push({ ...base, match_status: 'ambiguous', review_reason: matches.map((entry) => entry.item_name).join(', ') });\n    summary.ambiguous_rows += 1;\n    summary.has_blockers = true;\n    continue;\n  }\n  const suggestedSku = row.sku ? String(row.sku).trim().toUpperCase() : buildSku(row.item_name, inventoryRows, reservedSkus);\n  stagedRows.push({ ...base, match_status: 'new', suggested_sku: suggestedSku, apply_status: 'pending' });\n  summary.valid_rows += 1;\n  summary.new_rows += 1;\n}\n\nconst manifest = buildReportManifest(jobId, reportToken);\nconst previewLines = stagedRows.slice(0, 6).map((row) => {\n  const itemName = row.normalized_payload?.item_name || row.raw_payload?.item_name || row.raw_payload?.raw_line || 'row';\n  if (row.match_status === 'matched') return '- Match: ' + itemName + ' -> ' + (row.target_item_name || row.target_sku || 'existing item');\n  if (row.match_status === 'new') return '- New: ' + itemName + ' (SKU ' + row.suggested_sku + ')';\n  if (row.match_status === 'ambiguous') return '- Review: ' + itemName + ' -> ' + row.review_reason;\n  return '- Invalid: ' + itemName + (row.error_reason ? ' -> ' + row.error_reason : '');\n});\n\nreturn [{\n  json: {\n    ...meta,\n    has_store_id: schema.has_store_id === true || schema.has_store_id === 'true' || schema.has_store_id === 't' || schema.has_store_id === 1,\n    worker_result: 'staged',\n    summary,\n    staged_rows: stagedRows,\n    document_confidence: documentConfidence,\n    report_manifest: manifest,\n    preview_lines: previewLines,\n  },\n}];"}},{"id":"bulk-worker-build-sql","name":"Build Stage SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[2880,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const d = $input.first().json || {};\nconst esc = (value) => String(value === undefined || value === null ? '' : value).replace(/'/g, \"''\");\nconst jsonLiteral = (value) => \"'\" + esc(JSON.stringify(value)) + \"'::jsonb\";\nconst resultSelect = (result, message) => \"SELECT '\" + esc(result) + \"' AS result, \" + jsonLiteral({}) + \" AS summary_json, \" + jsonLiteral({}) + \" AS report_manifest_json, '\" + esc(message || '') + \"' AS message, '' AS job_id;\";\n\nconst ensureSql = [\n  'CREATE TABLE IF NOT EXISTS public.owner_import_jobs (',\n  '  job_id TEXT PRIMARY KEY,',\n  '  store_id BIGINT,',\n  '  chat_id TEXT NOT NULL,',\n  '  source_type TEXT,',\n  '  status TEXT NOT NULL,',\n  '  parsed_rows_json JSONB DEFAULT \\'[]\\'::jsonb,',\n  '  invalid_rows_json JSONB DEFAULT \\'[]\\'::jsonb,',\n  '  file_name TEXT,',\n  '  mime_type TEXT,',\n  '  created_at TIMESTAMPTZ DEFAULT NOW(),',\n  '  updated_at TIMESTAMPTZ DEFAULT NOW()',\n  ');',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS source_ref TEXT;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS mode TEXT;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS total_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS valid_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS invalid_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS ambiguous_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS matched_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS new_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS applied_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS failed_rows INTEGER DEFAULT 0;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS report_manifest_json JSONB DEFAULT \\'{}\\'::jsonb;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS report_token TEXT;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS started_at TIMESTAMPTZ;',\n  'ALTER TABLE public.owner_import_jobs ADD COLUMN IF NOT EXISTS finished_at TIMESTAMPTZ;',\n  'CREATE TABLE IF NOT EXISTS public.owner_import_job_rows (',\n  '  job_id TEXT NOT NULL,',\n  '  row_no INTEGER NOT NULL,',\n  '  chunk_no INTEGER NOT NULL,',\n  '  raw_payload_json JSONB DEFAULT \\'{}\\'::jsonb,',\n  '  normalized_payload_json JSONB DEFAULT \\'{}\\'::jsonb,',\n  '  match_status TEXT NOT NULL,',\n  '  target_inventory_id BIGINT,',\n  '  target_sku TEXT,',\n  '  target_item_name TEXT,',\n  '  error_reason TEXT,',\n  '  review_reason TEXT,',\n  '  row_hash TEXT,',\n  '  apply_status TEXT DEFAULT \\'pending\\',',\n  '  created_at TIMESTAMPTZ DEFAULT NOW(),',\n  '  updated_at TIMESTAMPTZ DEFAULT NOW(),',\n  '  PRIMARY KEY (job_id, row_no)',\n  ');',\n  'CREATE INDEX IF NOT EXISTS owner_import_job_rows_job_status_idx ON public.owner_import_job_rows (job_id, match_status, apply_status);',\n  'CREATE TABLE IF NOT EXISTS public.owner_operation_sessions (',\n  '  session_id TEXT PRIMARY KEY,',\n  '  store_id BIGINT,',\n  '  chat_id TEXT NOT NULL,',\n  '  operation_type TEXT NOT NULL,',\n  '  source_type TEXT NOT NULL,',\n  \"  parsed_payload_json JSONB DEFAULT '{}'::jsonb,\",\n  \"  cleanup_summary_json JSONB DEFAULT '{}'::jsonb,\",\n  \"  preview_rows_json JSONB DEFAULT '[]'::jsonb,\",\n  '  status TEXT NOT NULL,',\n  '  created_at TIMESTAMPTZ DEFAULT NOW(),',\n  '  updated_at TIMESTAMPTZ DEFAULT NOW()',\n  ');',\n].join('\\n');\n\nif (d.worker_result !== 'staged') {\n  return [{ json: { ...d, sql: ensureSql + '\\n' + resultSelect(d.worker_result || 'failed', d.body_text || 'I could not stage that bulk import safely.') } }];\n}\n\nconst stagedRows = Array.isArray(d.staged_rows) ? d.staged_rows : [];\nconst summary = d.summary || {};\nconst reportManifest = d.report_manifest || {};\nconst invalidRows = stagedRows.filter((row) => row.match_status === 'invalid' || row.match_status === 'ambiguous');\nconst status = Number(summary.valid_rows || 0) > 0 ? 'awaiting_review' : 'failed';\nconst sessionId = 'bulk_' + esc(d.job_id || '');\n\nconst sql = [\n  ensureSql,\n  \"DELETE FROM public.owner_import_job_rows WHERE job_id = '\" + esc(d.job_id) + \"';\",\n  'WITH rows AS (',\n  \"  SELECT * FROM jsonb_to_recordset(\" + jsonLiteral(stagedRows) + \") AS r(row_no integer, chunk_no integer, raw_payload jsonb, normalized_payload jsonb, match_status text, target_inventory_id bigint, target_sku text, target_item_name text, error_reason text, review_reason text, row_hash text, apply_status text, suggested_sku text)\",\n  '), ins AS (',\n  '  INSERT INTO public.owner_import_job_rows (job_id, row_no, chunk_no, raw_payload_json, normalized_payload_json, match_status, target_inventory_id, target_sku, target_item_name, error_reason, review_reason, row_hash, apply_status, created_at, updated_at)',\n  \"  SELECT '\" + esc(d.job_id) + \"', row_no, chunk_no, COALESCE(raw_payload, '{}'::jsonb), COALESCE(normalized_payload, '{}'::jsonb), COALESCE(match_status, 'invalid'), target_inventory_id, COALESCE(target_sku, ''), COALESCE(target_item_name, ''), COALESCE(error_reason, ''), COALESCE(review_reason, ''), COALESCE(row_hash, ''), COALESCE(apply_status, 'pending'), NOW(), NOW() FROM rows\",\n  '  ON CONFLICT (job_id, row_no) DO UPDATE SET',\n  '    chunk_no = EXCLUDED.chunk_no,',\n  '    raw_payload_json = EXCLUDED.raw_payload_json,',\n  '    normalized_payload_json = EXCLUDED.normalized_payload_json,',\n  '    match_status = EXCLUDED.match_status,',\n  '    target_inventory_id = EXCLUDED.target_inventory_id,',\n  '    target_sku = EXCLUDED.target_sku,',\n  '    target_item_name = EXCLUDED.target_item_name,',\n  '    error_reason = EXCLUDED.error_reason,',\n  '    review_reason = EXCLUDED.review_reason,',\n  '    row_hash = EXCLUDED.row_hash,',\n  '    apply_status = EXCLUDED.apply_status,',\n  '    updated_at = NOW()',\n  '  RETURNING row_no',\n  '), job_upsert AS (',\n  '  INSERT INTO public.owner_import_jobs (job_id, store_id, chat_id, source_type, source_ref, mode, status, total_rows, valid_rows, invalid_rows, ambiguous_rows, matched_rows, new_rows, applied_rows, failed_rows, report_manifest_json, report_token, started_at, finished_at, parsed_rows_json, invalid_rows_json, file_name, mime_type, created_at, updated_at)',\n  \"  VALUES ('\" + esc(d.job_id) + \"', \" + Number(d.store_id || 0) + \", '\" + esc(d.chat_id) + \"', '\" + esc(d.source_type || d.import_kind || '') + \"', '\" + esc(d.source_ref || d.media_filename || '') + \"', 'bulk_onboarding', '\" + esc(status) + \"', \" + Number(summary.total_rows || 0) + \", \" + Number(summary.valid_rows || 0) + \", \" + Number(summary.invalid_rows || 0) + \", \" + Number(summary.ambiguous_rows || 0) + \", \" + Number(summary.matched_rows || 0) + \", \" + Number(summary.new_rows || 0) + \", 0, 0, \" + jsonLiteral(reportManifest) + \", '\" + esc(d.report_token || '') + \"', NOW(), NOW(), \" + jsonLiteral(stagedRows) + \", \" + jsonLiteral(invalidRows) + \", '\" + esc(d.media_filename || '') + \"', '\" + esc(d.media_mime_type || '') + \"', NOW(), NOW())\",\n  '  ON CONFLICT (job_id) DO UPDATE SET',\n  \"    store_id = EXCLUDED.store_id, chat_id = EXCLUDED.chat_id, source_type = EXCLUDED.source_type, source_ref = EXCLUDED.source_ref, mode = EXCLUDED.mode, status = EXCLUDED.status, total_rows = EXCLUDED.total_rows, valid_rows = EXCLUDED.valid_rows, invalid_rows = EXCLUDED.invalid_rows, ambiguous_rows = EXCLUDED.ambiguous_rows, matched_rows = EXCLUDED.matched_rows, new_rows = EXCLUDED.new_rows, applied_rows = EXCLUDED.applied_rows, failed_rows = EXCLUDED.failed_rows, report_manifest_json = EXCLUDED.report_manifest_json, report_token = EXCLUDED.report_token, started_at = EXCLUDED.started_at, finished_at = EXCLUDED.finished_at, parsed_rows_json = EXCLUDED.parsed_rows_json, invalid_rows_json = EXCLUDED.invalid_rows_json, file_name = EXCLUDED.file_name, mime_type = EXCLUDED.mime_type, updated_at = NOW()\",\n  '  RETURNING job_id',\n  '), session_upsert AS (',\n  '  INSERT INTO public.owner_operation_sessions (session_id, store_id, chat_id, operation_type, source_type, parsed_payload_json, cleanup_summary_json, preview_rows_json, status, created_at, updated_at)',\n  \"  VALUES ('\" + sessionId + \"', \" + Number(d.store_id || 0) + \", '\" + esc(d.chat_id) + \"', 'bulk_import_review', '\" + esc(d.source_type || d.import_kind || '') + \"', \" + jsonLiteral({ source_ref: d.source_ref || '', file_name: d.media_filename || '', parse_mode: d.parse_mode || '' }) + \", \" + jsonLiteral(summary) + \", '[]'::jsonb, '\" + esc(status) + \"', NOW(), NOW())\",\n  '  ON CONFLICT (session_id) DO UPDATE SET',\n  \"    store_id = EXCLUDED.store_id, chat_id = EXCLUDED.chat_id, operation_type = EXCLUDED.operation_type, source_type = EXCLUDED.source_type, parsed_payload_json = EXCLUDED.parsed_payload_json, cleanup_summary_json = EXCLUDED.cleanup_summary_json, preview_rows_json = EXCLUDED.preview_rows_json, status = EXCLUDED.status, updated_at = NOW()\",\n  '  RETURNING session_id',\n  ')',\n  \"SELECT '\" + esc(status) + \"' AS result, \" + jsonLiteral(summary) + \" AS summary_json, \" + jsonLiteral(reportManifest) + \" AS report_manifest_json, '' AS message, '\" + esc(d.job_id) + \"' AS job_id;\",\n].join('\\n');\n\nreturn [{ json: { ...d, sql } }];"}},{"id":"bulk-worker-run-sql","name":"Run Stage SQL","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[3100,320],"alwaysOutputData":true,"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"id":"bulk-worker-format","name":"Format Worker Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[3320,320],"parameters":{"mode":"runOnceForAllItems","jsCode":"const row = $input.first().json || {};\nconst meta = $('Prepare Bulk Stage').first().json || $('Determine Worker Source').first().json || {};\nconst summary = (() => {\n  const raw = row.summary_json;\n  if (!raw) return meta.summary || {};\n  if (typeof raw === 'object') return raw;\n  try { return JSON.parse(raw); } catch { return meta.summary || {}; }\n})();\nconst reportManifest = (() => {\n  const raw = row.report_manifest_json;\n  if (!raw) return meta.report_manifest || {};\n  if (typeof raw === 'object') return raw;\n  try { return JSON.parse(raw); } catch { return meta.report_manifest || {}; }\n})();\nconst testMode = meta.test_mode === true;\nconst makeText = (body) => ({ chat_id: meta.chat_id || '', message_type: 'text', body_text: body, test_mode: testMode });\nconst makeButtons = (body, buttons) => ({ chat_id: meta.chat_id || '', message_type: 'button', body_text: body, buttons, test_mode: testMode });\nconst result = String(row.result || meta.worker_result || 'failed');\nconst fileLabel = meta.media_filename || meta.source_ref || 'this import';\n\nif (result === 'too_many_rows' || result === 'empty_import' || result === 'failed') {\n  return [{ json: makeText(String(row.message || meta.body_text || 'I could not stage that bulk import safely.')) }];\n}\n\nif (result === 'awaiting_review') {\n  const summaryLines = [\n    'Bulk import review for ' + fileLabel,\n    '',\n    'Total rows: ' + Number(summary.total_rows || 0),\n    'Valid rows: ' + Number(summary.valid_rows || 0) + ' (new ' + Number(summary.new_rows || 0) + ', matched ' + Number(summary.matched_rows || 0) + ')',\n    'Ambiguous rows: ' + Number(summary.ambiguous_rows || 0),\n    'Invalid rows: ' + Number(summary.invalid_rows || 0),\n  ];\n  if (reportManifest.summary_url) summaryLines.push('', 'Summary report: ' + reportManifest.summary_url);\n  if (reportManifest.ambiguous_url && Number(summary.ambiguous_rows || 0) > 0) summaryLines.push('Ambiguous rows: ' + reportManifest.ambiguous_url);\n  if (reportManifest.invalid_url && Number(summary.invalid_rows || 0) > 0) summaryLines.push('Invalid rows: ' + reportManifest.invalid_url);\n  if (Number(summary.valid_rows || 0) > 0) {\n    return [{ json: makeButtons(summaryLines.join('\\n'), [\n      { id: 'owner_bulk_apply__' + String(row.job_id || meta.job_id || ''), title: 'Apply Valid Rows' },\n      { id: 'owner_bulk_cancel__' + String(row.job_id || meta.job_id || ''), title: 'Cancel Import' },\n      { id: 'owner_catalog_import', title: 'Upload Corrected File' },\n    ]) }];\n  }\n  return [{ json: makeButtons(summaryLines.join('\\n') + '\\n\\nNo valid rows are ready to apply yet.', [\n    { id: 'owner_catalog_import', title: 'Upload Corrected File' },\n    { id: 'owner_bulk_cancel__' + String(row.job_id || meta.job_id || ''), title: 'Cancel Import' },\n  ]) }];\n}\n\nreturn [{ json: makeText('Bulk import is ready for review.') }];"}}],"connections":{"Start":{"main":[[{"node":"Normalize Worker Input","type":"main","index":0}]]},"Normalize Worker Input":{"main":[[{"node":"Inspect Inventory Schema","type":"main","index":0}]]},"Inspect Inventory Schema":{"main":[[{"node":"Load Inventory Snapshot","type":"main","index":0}]]},"Load Inventory Snapshot":{"main":[[{"node":"Determine Worker Source","type":"main","index":0}]]},"Determine Worker Source":{"main":[[{"node":"Worker Route","type":"main","index":0}]]},"Worker Route":{"main":[[{"node":"Format Worker Error","type":"main","index":0}],[{"node":"Emit Test Sheet Rows","type":"main","index":0}],[{"node":"Pass Existing Binary","type":"main","index":0}],[{"node":"Get WhatsApp Media Metadata","type":"main","index":0}],[{"node":"Download Google Sheet","type":"main","index":0}]]},"Emit Test Sheet Rows":{"main":[[{"node":"Prepare Bulk Stage","type":"main","index":0}]]},"Pass Existing Binary":{"main":[[{"node":"Parse Kind","type":"main","index":0}]]},"Get WhatsApp Media Metadata":{"main":[[{"node":"Download WhatsApp Media","type":"main","index":0}]]},"Download WhatsApp Media":{"main":[[{"node":"Attach Downloaded Binary","type":"main","index":0}]]},"Attach Downloaded Binary":{"main":[[{"node":"Parse Kind","type":"main","index":0}]]},"Download Google Sheet":{"main":[[{"node":"Parse Kind","type":"main","index":0}]]},"Parse Kind":{"main":[[{"node":"Parse Spreadsheet","type":"main","index":0}],[{"node":"Claude Analyze Document","type":"main","index":0}],[{"node":"Claude Analyze Image","type":"main","index":0}],[{"node":"Format Worker Error","type":"main","index":0}]]},"Parse Spreadsheet":{"main":[[{"node":"Prepare Bulk Stage","type":"main","index":0}]]},"Claude Analyze Document":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Claude Analyze Image":{"main":[[{"node":"Parse Claude Response","type":"main","index":0}]]},"Parse Claude Response":{"main":[[{"node":"Prepare Bulk Stage","type":"main","index":0}]]},"Prepare Bulk Stage":{"main":[[{"node":"Build Stage SQL","type":"main","index":0}]]},"Build Stage SQL":{"main":[[{"node":"Run Stage SQL","type":"main","index":0}]]},"Run Stage SQL":{"main":[[{"node":"Format Worker Response","type":"main","index":0}]]}},"authors":"Vishnu Pratap","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-11T11:35:45.644Z","id":1537,"workflowId":"yDfWqigCvgCGz75e","versionId":"5c116752-775e-484a-80b2-c1c9154baffb","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:35:45.724Z","id":1538,"workflowId":"yDfWqigCvgCGz75e","versionId":"5c116752-775e-484a-80b2-c1c9154baffb","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:37:47.958Z","id":1569,"workflowId":"yDfWqigCvgCGz75e","versionId":"5c116752-775e-484a-80b2-c1c9154baffb","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:37:48.015Z","id":1570,"workflowId":"yDfWqigCvgCGz75e","versionId":"5c116752-775e-484a-80b2-c1c9154baffb","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:35:52.704Z","id":1545,"workflowId":"yDfWqigCvgCGz75e","versionId":"5c116752-775e-484a-80b2-c1c9154baffb","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:35:52.757Z","id":1546,"workflowId":"yDfWqigCvgCGz75e","versionId":"5c116752-775e-484a-80b2-c1c9154baffb","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:38:00.004Z","id":1577,"workflowId":"yDfWqigCvgCGz75e","versionId":"5c116752-775e-484a-80b2-c1c9154baffb","event":"deactivated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"},{"createdAt":"2026-03-11T11:38:00.127Z","id":1578,"workflowId":"yDfWqigCvgCGz75e","versionId":"5c116752-775e-484a-80b2-c1c9154baffb","event":"activated","userId":"26516b95-0143-4657-99c5-c7cf19c81981"}]}}