workflows/latest/ySWq1g5W1dHYMigl__Kirana_Agent_Conv_copy_backup_v1.json
{"updatedAt":"2026-03-08T10:34:41.363Z","createdAt":"2026-03-07T17:47:27.202Z","id":"ySWq1g5W1dHYMigl","name":"Kirana_Agent_Conv copy_backup_v1","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"name","value":"={{$json.contacts[0].profile.name}}","type":"string"},{"id":"a2","name":"chat_id","value":"= {{ $json.messages[0].from }}","type":"number"},{"id":"a3","name":"message","value":"={{ $json.messages[0].text.body }}","type":"string"},{"id":"a4","name":"message_id","value":"={{ $json.messages[0].id }}","type":"string"}]},"options":{}},"id":"a5a177b4-a7af-4872-82a1-d1b2c97894eb","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4496,512]},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=CRITICAL: Output ONLY raw JSON. No text before. No text after. No code fences. Raw JSON starting with { and ending with }.\n\nYou are Kirana, a smart WhatsApp grocery assistant.\nCustomer: {{ $json.name }} | chat_id: {{ $json.chat_id }}\n\n═══════════════════════════════════════\nSTEP 1 — READ CONVERSATION STATE\n═══════════════════════════════════════\nScan the full chat history and identify ONE state:\n\nSTATE_A (FRESH): No items added this session. Cart is empty.\nSTATE_B (COLLECTING): Items have been added. No bill shown yet.\nSTATE_C (BILL_SHOWN): A bill/order summary was shown. Waiting for CONFIRM or CANCEL.\nSTATE_D (ORDERED): An order was confirmed this session.\n\nSession resets to STATE_A after: confirm_order called, cancel_order called, or conversation start.\nAfter cancel_order, the previous address is also expired — do not reuse it.\n\n═══════════════════════════════════════\nSTEP 2 — EXTRACT FROM CURRENT MESSAGE\n═══════════════════════════════════════\n\nITEMS: Extract all product + quantity pairs.\n- Clear number given: \"2 onions\", \"lays 3\", \"1L milk\", \"ek kilo pyaaz\" → extract as-is\n- No quantity but singular natural product: \"add butter\", \"1 bread\" → quantity = 1\n- Vague quantity: \"some milk\", \"thoda dahi\", \"a few eggs\" → UNCLEAR, must ask\n- Removal: \"remove lays\", \"no butter\", \"cancel the milk\" → quantity = 0\n- Update: \"make it 5 lays\", \"change onions to 3kg\" → quantity = new value, same as adding\n- Decimal ok: \"0.5kg butter\", \"half kg onions\" → quantity = 0.5\n\nADDRESS: Look for any delivery location.\n- Street, road, sector, area, flat, city name → address found, use it\n- \"same address\", \"usual\", \"same as last time\" → look in history for most recent used address\n- \"home\", \"office\", \"my place\" with no history → NOT a valid address, ask for it\n- Partial like \"Koramangala\" → valid, use it as-is\n\nINTENT: Pick exactly one:\n- ITEMS_ONLY: Items mentioned, no address, no checkout signal\n- ITEMS_WITH_CHECKOUT: Items AND (address in message OR checkout word with address findable)\n- CHECKOUT_ONLY: No new items, just wants to checkout (checkout/done/finish/place order/bill dikhao)\n- CONFIRM: Affirming the bill. Words: yes/confirm/ok/sure/haan/bilkul/do it/go ahead/yep/place it/sounds good/kar do/theek hai → ONLY valid in STATE_C\n- CANCEL: Rejecting the bill or order. Words: cancel/no/stop/nahi/mat/go back/don't → ONLY valid in STATE_C\n- NEW_ADDRESS: User provides or changes address while STATE_C is active\n- VIEW_CART: show cart/what's in my cart/cart dikhao/my items\n- PROMOTIONS: deals/offers/discounts/kya offer hai/sale\n- TRACK: track order/where is order/order status/kahan hai mera order\n- QUESTION: asking about price, stock, store hours, or anything informational\n- OTHER: greetings, thanks, unclear, anything not above\n\n═══════════════════════════════════════\nSTEP 3 — DECISION TABLE\n═══════════════════════════════════════\n\nITEMS_ONLY (any state):\n→ add_items for each item with CLEAR quantity\n→ For UNCLEAR items: add clear ones first, then answer_user asking about unclear ones\n→ Do NOT call process_order\n\nITEMS_WITH_CHECKOUT:\n→ If any item has UNCLEAR quantity: add clear items, ask about unclear, do NOT checkout yet\n→ If all quantities clear AND address in message: add_items (all items) THEN process_order(address) in same array\n→ If all quantities clear AND no address in message but history has one: add_items THEN answer_user(\"Deliver to [address] as usual? Reply YES or share a new address.\")\n→ If all quantities clear AND no address anywhere: add_items THEN answer_user asking for address\n\nCHECKOUT_ONLY + STATE_A:\n→ answer_user: \"Your cart is empty. Please add some items first!\"\n\nCHECKOUT_ONLY + STATE_B:\n→ Address in message → process_order(address)\n→ Address in history → answer_user: \"Deliver to [that address] as usual? Reply YES or share a new address.\"\n→ No address anywhere → answer_user asking for delivery address\n\nCHECKOUT_ONLY + STATE_C:\n→ answer_user: \"A bill is already waiting for your confirmation. Reply CONFIRM to place the order or CANCEL to go back.\"\n\nCONFIRM + STATE_C + no items added after bill was shown:\n→ confirm_order\n\nCONFIRM + STATE_C + items WERE added after bill was shown:\n→ answer_user: \"You added items after the bill was shown. Let me recalculate — please confirm your delivery address.\"\n\nCONFIRM + NOT STATE_C:\n→ STATE_D: answer_user: \"Your order has already been placed!\"\n→ Other: answer_user: \"There is no pending bill to confirm. Would you like to add items or checkout?\"\n\nCANCEL + STATE_C:\n→ cancel_order\n\nCANCEL + NOT STATE_C:\n→ STATE_D: answer_user: \"Your order is already confirmed. Please contact the store to cancel.\"\n→ Other: answer_user: \"There is nothing to cancel right now.\"\n\nNEW_ADDRESS + STATE_C:\n→ process_order(new address) — recalculate bill with new address\n\n\"yes\" / affirmative — ALWAYS check what the bot last asked:\n→ Bot asked about address confirmation → use that address → process_order\n→ Bot asked about quantity → add item with that quantity\n→ Bot asked a choice question → answer_user to clarify\n→ Bill is shown (STATE_C) → confirm_order\n\nVIEW_CART → view_cart\nPROMOTIONS → get_promotions(user_query as-is)\nTRACK → track_order\nQUESTION → answer_user with helpful response\nOTHER → answer_user\n\nSTATE_D + ITEMS_ONLY or ITEMS_WITH_CHECKOUT:\n→ Treat as STATE_A fresh session. Add items normally.\n\nIMAGE or non-text message:\n→ answer_user: \"I can only read text messages. Please type your order and I will take care of it!\"\n\n═══════════════════════════════════════\nHARD RULES — OVERRIDE EVERYTHING\n═══════════════════════════════════════\nR1. confirm_order: ONLY in STATE_C AND no items added after bill was shown\nR2. cancel_order: ONLY in STATE_C\nR3. process_order: ONLY when cart has items (just added in this message, or in STATE_B)\nR4. Never add items the user did not mention in the CURRENT message\nR5. Never repeat a question already asked in this conversation\nR6. Never invent quantities, prices, addresses, or product names\nR7. add_items must always appear BEFORE process_order in the tool_calls array\nR8. Never output backslash characters in message fields. Plain text only.\nR9. Always use chat_id as: {{ $json.chat_id }}\nR10. If address is \"home\", \"office\", \"my place\" with no history → ask for actual address\nR11. process_order needs an address. Never call it without one.\nR12. After cancel_order, previous address is expired. Ask for fresh address next checkout.\nR13. If user gets a bill expiry message, treat next message as CHECKOUT_ONLY using last known address.\nR14. Use the [DB_STATE] hint to skip unnecessary tool calls. STATE_A means no active cart (skip view_cart). STATE_C means a pending order exists (likely confirm/cancel intent). Conversation history always takes precedence over DB hint.\nR15. After add_items completes successfully, always include the running cart total in your reply. If the cart now has 2 or more distinct products, also suggest checkout.\nR16. If the user has sent 3 or more messages adding items without initiating checkout, proactively add: \"Your cart is ready! Reply checkout with your delivery address to place your order.\"\n\n═══════════════════════════════════════\nLANGUAGE SUPPORT\n═══════════════════════════════════════\nDetect the language from the user's message. Always reply in the SAME language.\nSupported: English, Hindi, Bengali, Telugu, Marathi, Tamil, Gujarati, Kannada, Malayalam, Punjabi, Odia.\n- Hindi/Hinglish mix: reply in kind. Example: \"1kg pyaaz add ho gaya! Cart total: Rs.30.\"\n- Product names are in English in our catalog. Translate them naturally when replying.\n- Never switch language unless the user switches first.\nHindi: pyaaz=onion, aloo=potato, tamatar=tomato, doodh=milk, chawal=rice, atta=wheat flour, tel=oil, namak=salt, cheeni=sugar, adrak=ginger, lahsun=garlic, mirch=chili, dhaniya=coriander, haldi=turmeric, jeera=cumin.\nBengali: peyaj=onion, alu=potato, dudh=milk, chaal=rice.\nTelugu: ullipaya=onion, bangaladumpa=potato, palu=milk, biyyam=rice.\nTamil: vengayam=onion, urulaikizhangu=potato, paal=milk, arisi=rice.\nMarathi: kandaa=onion, batata=potato, dudh=milk, tandul=rice.\nTypo tolerance: tamato/tamoto=tomato, potatoe=potato, onoin=onion.\n\n═══════════════════════════════════════\nTOOLS\n═══════════════════════════════════════\nadd_items:      {\"tool_name\":\"add_items\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"product_name\":\"name\",\"quantity\":2}}\nview_cart:      {\"tool_name\":\"view_cart\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }}}}\nprocess_order:  {\"tool_name\":\"process_order\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"address\":\"address here\"}}\nconfirm_order:  {\"tool_name\":\"confirm_order\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }}}}\ncancel_order:   {\"tool_name\":\"cancel_order\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }}}}\ntrack_order:    {\"tool_name\":\"track_order\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"order_id\":\"\"}}\nget_promotions: {\"tool_name\":\"get_promotions\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"user_query\":\"user message here\"}}\nanswer_user:    {\"tool_name\":\"answer_user\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"message\":\"response here\"}}\n\n═══════════════════════════════════════\nWORKED EXAMPLES\n═══════════════════════════════════════\n\n[STATE_A] \"Please place order for tomatoes 3kg and potato 3kg to 45677 Road4 Bengaluru\"\n{\"tool_calls\":[{\"tool_name\":\"add_items\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"product_name\":\"tomatoes\",\"quantity\":3}},{\"tool_name\":\"add_items\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"product_name\":\"potato\",\"quantity\":3}},{\"tool_name\":\"process_order\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"address\":\"45677 Road4 Bengaluru\"}}]}\n\n[STATE_B] \"add 1 more lays and deliver to 45 MG Road\"\n{\"tool_calls\":[{\"tool_name\":\"add_items\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"product_name\":\"lays classic\",\"quantity\":1}},{\"tool_name\":\"process_order\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"address\":\"45 MG Road\"}}]}\n\n[STATE_C] \"confirm\" — no items added after bill\n{\"tool_calls\":[{\"tool_name\":\"confirm_order\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }}}}]}\n\n[STATE_C] \"confirm\" — items added after bill was shown\n{\"tool_calls\":[{\"tool_name\":\"answer_user\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"message\":\"You added items after the bill was shown. Let me recalculate — please confirm your delivery address.\"}}]}\n\n[STATE_C] \"actually deliver to 15 Park Street\"\n{\"tool_calls\":[{\"tool_name\":\"process_order\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"address\":\"15 Park Street\"}}]}\n\n[STATE_D] \"cancel that\"\n{\"tool_calls\":[{\"tool_name\":\"answer_user\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"message\":\"Your order has already been placed. Please contact the store directly to cancel.\"}}]}\n\n[STATE_A] \"checkout to 45 MG Road\"\n{\"tool_calls\":[{\"tool_name\":\"answer_user\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"message\":\"Your cart is empty. Please add some items first!\"}}]}\n\n[STATE_B] \"yes\" — bot last asked \"Deliver to 45 MG Road as usual?\"\n{\"tool_calls\":[{\"tool_name\":\"process_order\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"address\":\"45 MG Road\"}}]}\n\n[STATE_A after CANCEL] \"add 2 milk and checkout\"\n{\"tool_calls\":[{\"tool_name\":\"add_items\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"product_name\":\"milk\",\"quantity\":2}},{\"tool_name\":\"answer_user\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"message\":\"Added 2 milk! Please share your delivery address for this order.\"}}]}\n\n\"ek kilo pyaaz aur 2 doodh\"\n{\"tool_calls\":[{\"tool_name\":\"add_items\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"product_name\":\"onions\",\"quantity\":1}},{\"tool_name\":\"add_items\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"product_name\":\"milk\",\"quantity\":2}}]}\n\n\"haan kar do\" — bill shown\n{\"tool_calls\":[{\"tool_name\":\"confirm_order\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }}}}]}\n\n\"add butter\"\n{\"tool_calls\":[{\"tool_name\":\"add_items\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"product_name\":\"butter\",\"quantity\":1}}]}\n\n\"add 2 milk and some onions\"\n{\"tool_calls\":[{\"tool_name\":\"add_items\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"product_name\":\"milk\",\"quantity\":2}},{\"tool_name\":\"answer_user\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"message\":\"Added 2 milk! How many kg of onions would you like?\"}}]}\n\n\"deliver to my home\"\n{\"tool_calls\":[{\"tool_name\":\"answer_user\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"message\":\"Could you share your full delivery address? For example: flat number, road, area and city.\"}}]}\n\n\"add 2 milk, some onions, 1 bread, deliver to 45 MG Road\"\n{\"tool_calls\":[{\"tool_name\":\"add_items\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"product_name\":\"milk\",\"quantity\":2}},{\"tool_name\":\"add_items\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"product_name\":\"bread\",\"quantity\":1}},{\"tool_name\":\"answer_user\",\"tool_input\":{\"chat_id\":{{ $json.chat_id }},\"message\":\"Added milk and bread! How many kg of onions would you like? Once you tell me I will prepare the bill for 45 MG Road.\"}}]}\n\n═══════════════════════════════════════\nREASONING (internal only — never output to user)\n═══════════════════════════════════════\nBefore deciding tool_calls, silently work through:\n1. Intent: what does the user actually want? (add / view / checkout / confirm / cancel / track / other)\n2. State: what is the current session state? ([DB_STATE] hint + conversation history — history wins)\n3. Tools: which tools are needed, in which order?\n4. Missing info: is any quantity unclear or address missing? Ask first, act after.\nDo NOT include this reasoning in the output JSON. Output only the tool_calls array.\n\nOutput format: {\"tool_calls\":[...]}"}},"id":"be4cc002-806d-4131-9c67-164a28512b41","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-3152,512]},{"parameters":{"model":{"__rl":true,"value":"claude-haiku-4-5-20251001","mode":"list","cachedResultName":"Claude Haiku 4.5"},"options":{}},"id":"0a045e2f-217e-41dc-9348-75dd6f802da9","name":"Claude Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-3152,736],"credentials":{"anthropicApi":{"id":"yiUg577mPI3s1EDq","name":"claude_api"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chat_id }}","contextWindowLength":20},"id":"0077e8da-4303-4b92-9e19-720f7969d706","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-3024,736],"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}}},{"parameters":{"jsCode":"function unescapeText(text) {\n  return String(text || '').replace(/\\\\([_*[\\]()~`>#+\\-=|{}.!\\\\])/g, '$1');\n}\n\nfunction resilientJsonParse(str) {\n  if (!str || typeof str !== 'string') return null;\n  try {\n    const m = str.match(/\\{[\\s\\S]*\\}/);\n    if (m) return JSON.parse(m[0]);\n  } catch(e) {}\n  try {\n    const corrected = str.replace(/,\\s*([}\\]])/g, '$1');\n    return JSON.parse(corrected);\n  } catch(e) {}\n  return null;\n}\n\nconst item = items[0];\nconst llmOutput = item?.json?.output;\n\nif (!llmOutput) {\n  return [{\n    json: {\n      tool_calls: [{\n        tool_name: 'answer_user',\n        tool_input: {\n          message: 'I am having trouble processing that. Please try again.',\n          chat_id: item?.json?.chat_id || ''\n        }\n      }]\n    }\n  }];\n}\n\nconst cleanedStr = llmOutput.trim()\n  .replace(/```[\\w]*\\n?/g, '')\n  .replace(/```/g, '');\n\nconst parsedJson = resilientJsonParse(cleanedStr);\n\nif (parsedJson && parsedJson.tool_calls && Array.isArray(parsedJson.tool_calls)) {\n  const processedCalls = parsedJson.tool_calls.map(toolCall => {\n    if (toolCall.tool_input?.message) {\n      toolCall.tool_input.message = unescapeText(toolCall.tool_input.message);\n    }\n    return toolCall;\n  });\n  return [{ json: { tool_calls: processedCalls } }];\n} else {\n  return [{\n    json: {\n      tool_calls: [{\n        tool_name: 'answer_user',\n        tool_input: {\n          message: 'My apologies, I could not understand that. Could you rephrase?',\n          chat_id: ''\n        }\n      }]\n    }\n  }];\n}"},"id":"c31248fb-07f4-46bc-b4d1-16167bee4a0b","name":"Parse Tool Calls","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2800,512]},{"parameters":{"options":{}},"id":"736f26bd-2b00-429e-b36e-1fdd1b162a02","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2352,512]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"r1","leftValue":"={{ $json.tool_name }}","rightValue":"add_items","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"r3","leftValue":"={{ $json.tool_name }}","rightValue":"process_order","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6e29ce47-9b52-4975-a543-16d77f2d6b8f","leftValue":"={{ $json.tool_name }}","rightValue":"confirm_order","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08714cfe-75f8-44f0-b5a9-6dc3f839f7bd","leftValue":"={{ $json.tool_name }}","rightValue":"cancel_order","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"r5","leftValue":"={{ $json.tool_name }}","rightValue":"get_promotions","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"r6","leftValue":"={{ $json.tool_name }}","rightValue":"answer_user","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74df605f-8049-49d2-8e35-be5030207d6d","leftValue":"={{ $json.tool_name }}","rightValue":"view_cart","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"id":"27e0b4df-3a03-49c1-9b47-44adc64d3cf6","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2128,96]},{"parameters":{"jsCode":"const raw = $json.confirmation_message \n  || $json.tool_input?.message \n  || $json.text_to_send;\n\nconst chatId = $json.chat_id \n  || $json.tool_input?.chat_id \n  || $('Edit Fields').first().json.chat_id;\n\nreturn [{\n  json: {\n    text_to_send: raw,\n    chat_id_to_use: chatId\n  }\n}];"},"id":"519576b1-760a-4f72-8e86-7cc9dc244480","name":"Normalize","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1232,144]},{"parameters":{"fieldToSplitOut":"tool_calls","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2576,512],"id":"216097af-cc5d-4484-93f2-eda7d2887883","name":"Split Out"},{"parameters":{"workflowId":{"__rl":true,"value":"A5dNcV6x2giM7j8U","mode":"list","cachedResultUrl":"/workflow/A5dNcV6x2giM7j8U","cachedResultName":"[Tool] Process Order"},"workflowInputs":{"mappingMode":"passthrough","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"f99c0e9a-24ca-4b26-8877-6e32b681cfeb","name":"exec_process_order","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1456,-160]},{"parameters":{"workflowId":{"__rl":true,"value":"62u82sIei3owzaiU","mode":"list","cachedResultUrl":"/workflow/62u82sIei3owzaiU","cachedResultName":"[Tool] Confirm Order"},"workflowInputs":{"mappingMode":"passthrough","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"a254d1e0-5883-4f17-bc1b-b46335394779","name":"exec_confirm_order","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1456,32]},{"parameters":{"workflowId":{"__rl":true,"value":"OY8zswARgKBX7XjP","mode":"list","cachedResultUrl":"/workflow/OY8zswARgKBX7XjP","cachedResultName":"[Tool] Cancel Order"},"workflowInputs":{"mappingMode":"passthrough","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"df229bac-5fbe-48a1-99b8-021e0969643e","name":"exec_cancel_order","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1456,512]},{"parameters":{"workflowId":{"__rl":true,"value":"R9xiuTG16Lb1CwPO","mode":"list","cachedResultUrl":"/workflow/R9xiuTG16Lb1CwPO","cachedResultName":"[AI Tool] Personalized Promotions Advisor"},"workflowInputs":{"mappingMode":"passthrough","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"656b317f-b4df-4e27-9bce-459124963301","name":"exec_get_promotions","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1456,704]},{"parameters":{"workflowId":{"__rl":true,"value":"f659jKqfRLnkrCjg","mode":"list","cachedResultUrl":"/workflow/f659jKqfRLnkrCjg","cachedResultName":"[Tool] Add Items"},"workflowInputs":{"mappingMode":"passthrough","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"98bd3d69-8fc6-44e0-839b-8b332fa8a44e","name":"exec_add_items","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1456,-352]},{"parameters":{"workflowId":{"__rl":true,"value":"uFTUnWOeBHXiP2AI","mode":"list","cachedResultUrl":"/workflow/uFTUnWOeBHXiP2AI","cachedResultName":"[Tool] View Cart"},"workflowInputs":{"mappingMode":"passthrough","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"bc75011d-6801-4ff8-bc3a-e810f15a7cbd","name":"exec_view-cart","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1456,320]},{"parameters":{"updates":["messages"],"options":{"messageStatusUpdates":["all"]}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-4944,512],"id":"187f4f12-5751-4a14-9760-1fdf41084de3","name":"WhatsApp Trigger","webhookId":"d2ecc1f6-cac6-498e-9fcf-88d6a266f84e","credentials":{"whatsAppTriggerApi":{"id":"3JnPg1on5mPprXWh","name":"WhatsApp OAuth account"}}},{"parameters":{"operation":"send","phoneNumberId":"1012592638608632","recipientPhoneNumber":"={{ '+' + String($json.chat_id_to_use) }}","textBody":"={{ $json.text_to_send}}","additionalFields":{}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-1008,512],"id":"08cae409-a201-48c0-9070-5237ef475c7d","name":"Send message","webhookId":"1848bbe0-177d-4d4d-a6db-869721508e57","credentials":{"whatsAppApi":{"id":"GFk530CPSyrOLT7F","name":"WhatsApp account"}}},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"1085c389-0d30-45b6-8f72-89eff75e31e5","leftValue":"={{ $json.messages?.[0]?.text?.body }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4720,512],"id":"faef9490-79e9-43f4-929c-5d0f444fa69e","name":"If"},{"parameters":{"operation":"send","phoneNumberId":"1012592638608632","recipientPhoneNumber":"={{ '+' + String($json.tool_input.chat_id) }}","textBody":"Placing your order, please wait a moment...","additionalFields":{}},"id":"ae44a52b-9244-4948-a68d-b07bc206ab37","name":"Send Confirm Loading","type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[-1904,32],"webhookId":"7d546e09-6836-476e-ae04-96746cb27d42","credentials":{"whatsAppApi":{"id":"GFk530CPSyrOLT7F","name":"WhatsApp account"}}},{"parameters":{"jsCode":"const original = $('Split In Batches').item.json;\nreturn [{ json: original }];"},"id":"576d3f03-758e-4ae9-b0b9-374ed72c91b1","name":"Restore Confirm Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,32]},{"parameters":{"operation":"executeQuery","query":"=SELECT message_id AS prev_msg_id FROM public.processed_messages\nWHERE message_id = '{{ $json.message_id }}'\nLIMIT 1;","options":{}},"id":"96162c2c-4773-4c93-be67-f13db1f5ab9a","name":"Check Idempotency","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-4272,512],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"conditions":[{"id":"prev-msg","leftValue":"={{ $json.prev_msg_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"20d87270-f9e9-48be-8709-c48aa494b6dd","name":"Already Processed?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4048,512]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO public.processed_messages (message_id, chat_id, created_at)\nVALUES ('{{ $('Edit Fields').first().json.message_id }}', {{ $('Edit Fields').first().json.chat_id }}, NOW())\nON CONFLICT (message_id) DO NOTHING;\nSELECT 'marked' AS status;","options":{}},"id":"d91d641a-f2f3-4295-9be8-8539a5d8dcbf","name":"Mark Processed","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3824,512],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"=WITH pending AS (\n  SELECT order_id FROM public.pending_orders\n  WHERE chat_id = {{ $('Edit Fields').first().json.chat_id }}\n    AND status IN ('awaiting_confirmation', 'processing')\n  ORDER BY COALESCE(updated_at, created_at) DESC LIMIT 1\n),\ncart_rows AS (\n  SELECT COALESCE(SUM(ci.quantity), 0) AS total_qty,\n         COALESCE(SUM(ci.quantity * ci.price_at_addition), 0) AS cart_total\n  FROM public.carts c\n  LEFT JOIN public.cart_items ci ON ci.cart_id = c.cart_id\n  WHERE c.user_id = {{ $('Edit Fields').first().json.chat_id }} AND c.status = 'active'\n)\nSELECT\n  CASE\n    WHEN (SELECT 1 FROM pending) IS NOT NULL THEN 'STATE_C'\n    WHEN (SELECT total_qty FROM cart_rows) > 0 THEN 'STATE_B'\n    ELSE 'STATE_A'\n  END AS current_state,\n  COALESCE((SELECT total_qty FROM cart_rows), 0) AS cart_item_count,\n  COALESCE((SELECT cart_total FROM cart_rows)::numeric, 0) AS cart_total;","options":{}},"id":"6c916f1e-011e-4b49-9c07-9acd1cbc53a0","name":"Get Conv State","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-3600,512],"alwaysOutputData":true,"credentials":{"postgres":{"id":"VFteRNyNpgXTNb2s","name":"supabase_post"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const dbRow = $input.first().json;\nconst editData = $('Edit Fields').first().json;\nconst state = dbRow.current_state || 'STATE_A';\nconst cartCount = Number(dbRow.cart_item_count || 0);\nconst cartTotal = parseFloat(dbRow.cart_total || 0).toFixed(2);\nconst dbStateHint = '[DB_STATE: ' + state + ', cart_items: ' + cartCount + ', cart_total: ' + cartTotal + ']';\nreturn [{ json: { ...editData, db_state: dbStateHint } }];"},"id":"ca5c3b1d-1fef-431c-9041-73fad4573b81","name":"Inject DB State","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3376,512]}],"connections":{"Claude Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Parse Tool Calls","type":"main","index":0}]]},"Parse Tool Calls":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split In Batches":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"exec_add_items","type":"main","index":0}],[{"node":"exec_process_order","type":"main","index":0}],[{"node":"Send Confirm Loading","type":"main","index":0}],[{"node":"exec_cancel_order","type":"main","index":0}],[{"node":"exec_get_promotions","type":"main","index":0}],[{"node":"Normalize","type":"main","index":0}],[{"node":"exec_view-cart","type":"main","index":0}]]},"Normalize":{"main":[[{"node":"Send message","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"exec_add_items":{"main":[[{"node":"Normalize","type":"main","index":0}]]},"exec_cancel_order":{"main":[[{"node":"Normalize","type":"main","index":0}]]},"exec_confirm_order":{"main":[[{"node":"Normalize","type":"main","index":0}]]},"exec_process_order":{"main":[[{"node":"Normalize","type":"main","index":0}]]},"exec_get_promotions":{"main":[[{"node":"Normalize","type":"main","index":0}]]},"exec_view-cart":{"main":[[{"node":"Normalize","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Send message":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Send Confirm Loading":{"main":[[{"node":"Restore Confirm Input","type":"main","index":0}]]},"Restore Confirm Input":{"main":[[{"node":"exec_confirm_order","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Check Idempotency","type":"main","index":0}]]},"Check Idempotency":{"main":[[{"node":"Already Processed?","type":"main","index":0}]]},"Already Processed?":{"main":[[],[{"node":"Mark Processed","type":"main","index":0}]]},"Mark Processed":{"main":[[{"node":"Get Conv State","type":"main","index":0}]]},"Get Conv State":{"main":[[{"node":"Inject DB State","type":"main","index":0}]]},"Inject DB State":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"efbd13b2-bbd2-423a-b3bc-66db12875c17","activeVersionId":null,"versionCounter":11,"triggerCount":1,"shared":[{"updatedAt":"2026-03-07T17:47:27.202Z","createdAt":"2026-03-07T17:47:27.202Z","role":"workflow:owner","workflowId":"ySWq1g5W1dHYMigl","projectId":"IDlW7VSwSQis1BZL","project":{"updatedAt":"2026-02-08T17:38:30.859Z","createdAt":"2026-02-08T17:36:33.972Z","id":"IDlW7VSwSQis1BZL","name":"Vishnu Pratap <vishnupratapkumar@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"26516b95-0143-4657-99c5-c7cf19c81981"}}],"tags":[],"activeVersion":null}